Repository Automattic/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/letero, @Automattic/shilling, @Automattic/reader, @Automattic/type-review, @Automattic/cylon, @Automattic/ajax, @nosolosw, @Automattic/dotcom-view-design, @noahtallen, @Automattic/experimentation-platform, @Automattic/team-calypso-frameworks, @Automattic/jetpack-search, @Automattic/team-calypso-platform, @Automattic/i18n, @WunderBart, @Automattic/kitkat, @worldomonation, @Automattic/ground-control, @Automattic/nomado

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/data/query-gsuite-users @Automattic/letero
/client/components/domains/contact-details-form-fields/index.jsx @Automattic/letero
/client/components/gsuite @Automattic/letero
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/letero
/client/lib/domains/email-forwarding @Automattic/letero
/client/lib/gsuite @Automattic/letero
/client/lib/titan @Automattic/letero
/client/me/purchases/remove-purchase/index.jsx @Automattic/letero
/client/my-sites/checkout/checkout-thank-you/google-apps-details.jsx @Automattic/letero
/client/my-sites/checkout/checkout-thank-you/index.jsx @Automattic/letero
/client/my-sites/checkout/checkout/domain-details-form.jsx @Automattic/letero
/client/my-sites/checkout/checkout/index.jsx @Automattic/letero
/client/my-sites/checkout/controller.jsx @Automattic/letero
/client/my-sites/domains/components/domain-warnings @Automattic/letero
/client/my-sites/domains/controller.jsx @Automattic/letero
/client/my-sites/email @Automattic/letero
/client/state/data-layer/wpcom/gsuite-users @Automattic/letero
/client/state/gsuite-users @Automattic/letero

# Payments
/client/components/credit-card-form-fields/ @Automattic/shilling
/client/components/payment-logo/ @Automattic/shilling
/client/lib/cart-values/ @Automattic/shilling
/client/lib/checkout/ @Automattic/shilling
/client/lib/siftscience/ @Automattic/shilling
/client/lib/store-transactions/ @Automattic/shilling
/client/me/memberships/ @Automattic/shilling
/client/me/purchases/ @Automattic/shilling
/client/my-sites/checkout/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/client/state/billing-transactions/ @Automattic/shilling
/client/state/memberships/ @Automattic/shilling
/client/state/order-transactions/ @Automattic/shilling
/client/state/plans/ @Automattic/shilling
/client/state/receipts/ @Automattic/shilling
/client/state/sites/plans/ @Automattic/shilling
/client/state/stored-cards/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/reader
/client/blocks/reader-* @Automattic/reader
/client/state/reader @Automattic/reader

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Editing Toolkit Modules
/apps/editing-toolkit/editing-toolkit-plugin/site-editor @Automattic/cylon
/apps/editing-toolkit/editing-toolkit-plugin/dotcom-fse @Automattic/cylon
/apps/editing-toolkit/editing-toolkit-plugin/posts-list-block @Automattic/ajax
/apps/editing-toolkit/editing-toolkit-plugin/global-styles @Automattic/cylon @nosolosw
/apps/editing-toolkit/editing-toolkit-plugin/block-patterns @Automattic/dotcom-view-design

# Editing Toolkit Workflow Files
/.github/workflows/editing-toolkit-plugin.yml @noahtallen
/.github/workflows/send-calypso-app-build-trigger.sh @noahtallen

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# Framework
/client/boot @Automattic/team-calypso-frameworks
/client/controller @Automattic/team-calypso-frameworks
/client/layout @Automattic/team-calypso-frameworks
/client/server @Automattic/team-calypso-frameworks
/packages/js-utils @Automattic/team-calypso-frameworks

# Jetpack Search
/client/my-sites/jetpack-search @Automattic/jetpack-search

# TeamCity configuration
/.teamcity @Automattic/team-calypso-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# E2E specs
/test/e2e @WunderBart @Automattic/kitkat @worldomonation
/packages/calypso-e2e @Automattic/kitkat @worldomonation

# Node updates
/.nvmrc @Automattic/ground-control

# Domains
/client/components/data/domain-management @Automattic/nomado
/client/components/data/query-countries/domains.jsx @Automattic/nomado
/client/components/domains @Automattic/nomado
/client/data/domains @Automattic/nomado
/client/document/domains-landing.jsx @Automattic/nomado
/client/landing/domains @Automattic/nomado
/client/lib/domains @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domain-mapping-details.jsx @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domain-registration-details.jsx @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/my-sites/current-site/domain-warnings.jsx @Automattic/nomado
/client/my-sites/domains @Automattic/nomado
/client/signup/steps/domains @Automattic/nomado
/client/signup/steps/site-or-domain/domain-image.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/domain-picker @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado
/packages/wpcom.js/src/lib/domain.email.js @Automattic/nomado
/packages/wpcom.js/src/lib/domain.js @Automattic/nomado
/packages/wpcom.js/src/lib/domains.js @Automattic/nomado

Don't add trailing slash if not provided
  client/lib/i18n-utils/localize-path.js
  client/lib/i18n-utils/test/localize-path.js
Owners: @Automattic/i18n

Add plugins to localization mapping
  client/lib/i18n-utils/localize-path.js
  packages/i18n-utils/src/localize-url.tsx
Owners: @Automattic/i18n

Plugins Management: Disable actions per single item when bulk actions are active (#67200)
  client/my-sites/plugins/plugin-management-v2/plugin-row-formatter/index.tsx
Owners: none

update: adjust types
  client/components/forms/multi-checkbox/index.tsx
Owners: none

Address feedbacks
  client/assets/stylesheets/shared/functions/_z-index.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/design-setup/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/design-setup/unified-design-picker.tsx
  packages/design-preview/package.json
  packages/design-preview/src/components/index.tsx
  packages/design-preview/src/components/sidebar.tsx
  packages/design-preview/src/components/style.scss
  yarn.lock
Owners: none

Update client/components/swipeable/index.js
  client/components/swipeable/index.js
Owners: none

update: add design suggestions
  client/my-sites/plans/jetpack-plans/product-lightbox/index.tsx
  client/my-sites/plans/jetpack-plans/product-lightbox/style.scss
Owners: none

Remove padding when viewing pricing page in wide view.
  client/my-sites/plans/jetpack-plans/style.scss
Owners: none

Set icon and logo
  packages/data-stores/src/queries/use-site-logo-mutation.ts
Owners: none

List dependency for useEffect hook
  client/blocks/app-banner/index.jsx
Owners: none

Avoid possible memory leak by destroying animation
  client/blocks/app-banner/index.jsx
Owners: none

My Home: fix adjusting height of Banners on receiving them in different order (#67162)
  client/components/swipeable/index.js
  client/my-sites/customer-home/locations/primary/index.jsx
Owners: none

Tailored flows: set icon and logo with user upload (#67250)
  packages/data-stores/src/queries/use-site-logo-mutation.ts
Owners: none

Fixing unit test broken due new regex
  client/lib/domains/get-fixed-domain-search.js
Owners: @Automattic/nomado

SMP: Use `<PageViewTracker>` to record page views (#67186)
  client/sites-dashboard/controller.tsx
Owners: none

Remove `launch-wpcom-ssh` feature flag (#67235)
  client/my-sites/hosting/sftp-card/index.js
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: none

Reciept display tweaks
  client/me/purchases/manage-purchase/purchase-meta.jsx
Owners: @Automattic/shilling

Unit test fixes
  client/lib/purchases/types.ts
Owners: none

Review fixes
  client/lib/purchases/assembler.ts
  client/lib/purchases/types.ts
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
Owners: @Automattic/shilling

Review fixes
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
Owners: @Automattic/shilling

Fixed issues related to untiered price legacy viewing, and non extra page views
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
Owners: @Automattic/shilling

Fix price formatting
  client/me/purchases/manage-purchase/purchase-meta.jsx
Owners: @Automattic/shilling

Added custom text and price breakdown
  client/lib/signup/step-actions/index.js
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
Owners: @Automattic/shilling

Price tier changes
  client/lib/purchases/assembler.ts
  client/lib/purchases/types.ts
  client/me/purchases/manage-purchase/purchase-meta.jsx
Owners: @Automattic/shilling

SMP: Test the logic that generates a site's initial used in the fallback site icon (#67246)
  client/sites-dashboard/components/sites-site-item-thumbnail.tsx
  client/sites-dashboard/components/test/sites-site-item-thumbnail.tsx
Owners: none

SiteIconPicker: address design feedback
  client/components/site-icon-with-picker/index.tsx
  client/components/site-icon-with-picker/style.scss
Owners: none

Fix step navigation using assign over replace
  client/landing/stepper/declarative-flow/link-in-bio.ts
  client/landing/stepper/declarative-flow/newsletter.ts
  client/landing/stepper/declarative-flow/plugin-bundle-flow.ts
  client/landing/stepper/declarative-flow/site-setup-flow.ts
Owners: none

Update client/blocks/qr-code-login/index.jsx
  client/blocks/qr-code-login/index.jsx
Owners: none

Newsletter accent color input text to be gray until first change
  client/landing/stepper/declarative-flow/internals/steps-repository/newsletter-setup/index.tsx
Owners: none

Adds a confirmation dialog with a notice that data will be lost when closing the promote post widget (#67218)
  client/components/blazepress-widget/index.tsx
Owners: none

Increases the "promote posts" sidebar so that it stretches to fill the screen vertically (#67226)
  client/components/blazepress-widget/index.tsx
  client/components/blazepress-widget/style.scss
Owners: none

Issue 592: make wide layout for promoted posts page (#67206)
  client/my-sites/promote-post/main.tsx
Owners: none

Login: accept redirect_to from QR login (#67135)
  client/blocks/qr-code-login/index.jsx
Owners: none

review fixes
  client/lib/purchases/types.ts
  client/lib/signup/step-actions/index.js
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
  client/state/purchases/selectors/get-difm-purchase-tier-details.ts
Owners: @Automattic/shilling

NewsletterSetup: remove bottom margin pushing jetpack powered
  client/landing/stepper/declarative-flow/internals/steps-repository/newsletter-setup/style.scss
Owners: none

NewsletterSetup: ensure svg icons are centered, improve spacing
  client/components/site-icon-with-picker/style.scss
Owners: none

Improve the statement of showing Invite button
  client/my-sites/people/people-list-section-header/index.jsx
Owners: none

Bug fixes
  client/me/purchases/manage-purchase/purchase-meta.jsx
  client/state/purchases/selectors/get-difm-purchase-tier-details.ts
Owners: @Automattic/shilling

Fix issue when handling the onClose function in BlazePress
  client/components/blazepress-widget/index.tsx
Owners: none

Fix replace text img styling
  client/components/site-icon-with-picker/style.scss
Owners: none
