Repository Automattic/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/letero, @Automattic/shilling, @Automattic/reader, @Automattic/type-review, @Automattic/cylon, @Automattic/ajax, @nosolosw, @Automattic/dotcom-view-design, @noahtallen, @Automattic/experimentation-platform, @Automattic/team-calypso-frameworks, @Automattic/jetpack-search, @Automattic/team-calypso-platform, @Automattic/i18n, @WunderBart, @Automattic/kitkat, @worldomonation, @Automattic/ground-control, @Automattic/nomado

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/data/query-gsuite-users @Automattic/letero
/client/components/domains/contact-details-form-fields/index.jsx @Automattic/letero
/client/components/gsuite @Automattic/letero
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/letero
/client/lib/domains/email-forwarding @Automattic/letero
/client/lib/gsuite @Automattic/letero
/client/lib/titan @Automattic/letero
/client/me/purchases/remove-purchase/index.jsx @Automattic/letero
/client/my-sites/checkout/checkout-thank-you/google-apps-details.jsx @Automattic/letero
/client/my-sites/checkout/checkout-thank-you/index.jsx @Automattic/letero
/client/my-sites/checkout/checkout/domain-details-form.jsx @Automattic/letero
/client/my-sites/checkout/checkout/index.jsx @Automattic/letero
/client/my-sites/checkout/controller.jsx @Automattic/letero
/client/my-sites/domains/components/domain-warnings @Automattic/letero
/client/my-sites/domains/controller.jsx @Automattic/letero
/client/my-sites/email @Automattic/letero
/client/state/data-layer/wpcom/gsuite-users @Automattic/letero
/client/state/gsuite-users @Automattic/letero

# Payments
/client/components/credit-card-form-fields/ @Automattic/shilling
/client/components/payment-logo/ @Automattic/shilling
/client/lib/cart-values/ @Automattic/shilling
/client/lib/checkout/ @Automattic/shilling
/client/lib/siftscience/ @Automattic/shilling
/client/lib/store-transactions/ @Automattic/shilling
/client/me/memberships/ @Automattic/shilling
/client/me/purchases/ @Automattic/shilling
/client/my-sites/checkout/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/client/state/billing-transactions/ @Automattic/shilling
/client/state/memberships/ @Automattic/shilling
/client/state/order-transactions/ @Automattic/shilling
/client/state/plans/ @Automattic/shilling
/client/state/receipts/ @Automattic/shilling
/client/state/sites/plans/ @Automattic/shilling
/client/state/stored-cards/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/reader
/client/blocks/reader-* @Automattic/reader
/client/state/reader @Automattic/reader

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Editing Toolkit Modules
/apps/editing-toolkit/editing-toolkit-plugin/site-editor @Automattic/cylon
/apps/editing-toolkit/editing-toolkit-plugin/dotcom-fse @Automattic/cylon
/apps/editing-toolkit/editing-toolkit-plugin/posts-list-block @Automattic/ajax
/apps/editing-toolkit/editing-toolkit-plugin/global-styles @Automattic/cylon @nosolosw
/apps/editing-toolkit/editing-toolkit-plugin/block-patterns @Automattic/dotcom-view-design

# Editing Toolkit Workflow Files
/.github/workflows/editing-toolkit-plugin.yml @noahtallen
/.github/workflows/send-calypso-app-build-trigger.sh @noahtallen

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# Framework
/client/boot @Automattic/team-calypso-frameworks
/client/controller @Automattic/team-calypso-frameworks
/client/layout @Automattic/team-calypso-frameworks
/client/server @Automattic/team-calypso-frameworks
/packages/js-utils @Automattic/team-calypso-frameworks

# Jetpack Search
/client/my-sites/jetpack-search @Automattic/jetpack-search

# TeamCity configuration
/.teamcity @Automattic/team-calypso-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# E2E specs
/test/e2e @WunderBart @Automattic/kitkat @worldomonation
/packages/calypso-e2e @Automattic/kitkat @worldomonation

# Node updates
/.nvmrc @Automattic/ground-control

# Domains
/client/components/data/domain-management @Automattic/nomado
/client/components/data/query-countries/domains.jsx @Automattic/nomado
/client/components/domains @Automattic/nomado
/client/data/domains @Automattic/nomado
/client/document/domains-landing.jsx @Automattic/nomado
/client/landing/domains @Automattic/nomado
/client/lib/domains @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domain-mapping-details.jsx @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domain-registration-details.jsx @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/my-sites/current-site/domain-warnings.jsx @Automattic/nomado
/client/my-sites/domains @Automattic/nomado
/client/signup/steps/domains @Automattic/nomado
/client/signup/steps/site-or-domain/domain-image.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/domain-picker @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado
/packages/wpcom.js/src/lib/domain.email.js @Automattic/nomado
/packages/wpcom.js/src/lib/domain.js @Automattic/nomado
/packages/wpcom.js/src/lib/domains.js @Automattic/nomado

Fix typos
  docs/i18n.md
Owners: none

Restore previous yarn install behavior
  .circleci/config.yml
Owners: none

Improve i18n developer documentation (#66756)
  docs/i18n.md
Owners: none

Circleci: fix windows build (#67238)
  .circleci/config.yml
Owners: none

Add logic to disable task based on dependencies
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/checklist-item.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/task-helper.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/types.ts
Owners: none

Remove safe navigation op, not needed
  apps/wpcom-block-editor/src/calypso/features/iframe-bridge-server.js
Owners: none

Update ToS on sign up
  client/blocks/login/social.jsx
  client/blocks/signup-form/index.jsx
  client/blocks/signup-form/social-signup-tos.jsx
Owners: none

Update ToS link colors
  client/blocks/login/style.scss
  client/blocks/signup-form/style.scss
  client/layout/masterbar/oauth-client.scss
  client/login/wp-login/style.scss
  client/signup/steps/user/style.scss
  client/signup/style.scss
Owners: @Automattic/team-calypso-frameworks

Update Woo ToS on log in
  client/blocks/login/login-form.jsx
  client/blocks/login/style.scss
Owners: none

Update ToS on log-in
  client/blocks/login/login-form.jsx
  client/blocks/login/social.jsx
Owners: none

Fix ToS on external OAuth client ids
  client/layout/masterbar/oauth-client.scss
Owners: @Automattic/team-calypso-frameworks

Avoid diffing *.js.map files in plugin builds (#63724)
  .teamcity/_self/lib/wpcom/WPComPluginBuild.kt
Owners: @Automattic/team-calypso-platform

Refine styles
  client/my-sites/email/email-providers-comparison/price/style.scss
Owners: @Automattic/letero

[sentry][fix] Handle undefined nodes in `popoverSlotObserver` (#67230)
  apps/wpcom-block-editor/src/calypso/features/iframe-bridge-server.js
Owners: none

Remove ToS from SocialLoginForm
  client/blocks/login/login-form.jsx
  client/blocks/login/social.jsx
Owners: none

Update optional SiteDetailsOptions type
  packages/data-stores/src/site/types.ts
Owners: none

Remove excessive margin between input and ToS copy on P2 log-in flow
  client/blocks/login/style.scss
Owners: none

Add link in bio `edit links` completion logic (#67224)
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/checklist-item.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/task-helper.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/types.ts
  client/state/sites/constants.js
  packages/data-stores/src/site/types.ts
Owners: none

Add site launch functionality to link in bio launchpad
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/checklist-item.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/task-helper.ts
Owners: none

Add loading screen before launching site
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/checklist.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/sidebar.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/task-helper.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/types.ts
  client/landing/stepper/declarative-flow/link-in-bio.ts
Owners: none

Fallback site icon shows no initial when site has no name
  client/sites-dashboard/components/sites-site-item-thumbnail.tsx
Owners: none

Fallback to returning first codepoint when Intl.Segmenter is unavailable
  client/sites-dashboard/components/sites-site-item-thumbnail.tsx
Owners: none

Added UI changes for bundled themes
  client/landing/stepper/declarative-flow/internals/steps-repository/design-setup/theme-info-popup.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/design-setup/upgrade-modal.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/design-setup/upgrade-modal.tsx
  client/landing/stepper/hooks/use-theme-details.ts
Owners: none

Update yarnrc.yml
  .yarnrc.yml
Owners: none

Adjust the gap between the columns of the import layout
  client/blocks/import/style/base.scss
Owners: none

Import: adjust the gap between the columns of the import layout (#67146)
  client/blocks/import/style/base.scss
Owners: none

Small tidy-up when importing type
  client/sites-dashboard/components/sites-site-item-thumbnail.tsx
Owners: none

Tests for fallback site icon behaviour
  client/sites-dashboard/components/test/sites-site-item-thumbnail.tsx
Owners: none

Make sure Tracks event is still logged; fix punctuation.
  client/components/banner/index.jsx
  client/me/purchases/concierge-banner/index.jsx
  client/state/concierge/available-sessions/reducer.js
Owners: @Automattic/shilling

Import @wordpress/edit-site packages
  packages/design-picker/src/types.ts
  packages/design-preview/package.json
  packages/design-preview/src/components/index.tsx
  packages/design-preview/src/components/sidebar.tsx
  packages/design-preview/src/components/style-variation.tsx
  packages/design-preview/src/components/style-variation/index.ts
  packages/design-preview/src/components/style-variation/preview-iframe.tsx
  packages/design-preview/src/components/style-variation/preview.tsx
  packages/design-preview/src/components/style-variation/previews.tsx
  packages/design-preview/src/components/style-variation/style.scss
  packages/design-preview/src/components/style-variation/utils.ts
  packages/design-preview/src/components/style.scss
  packages/design-preview/src/wp-edit-site-types.d.ts
Owners: none

Import @wordpress/edit-site packages
  yarn.lock
Owners: none

Fix typo
  client/my-sites/plans/jetpack-plans/product-store/bundles-list.tsx
  client/my-sites/plans/jetpack-plans/product-store/hooks/use-store-item-info.ts
  client/my-sites/plans/jetpack-plans/product-store/products-list.tsx
Owners: none

Lint: use @wordpress/stylelint-config preset (#66909)
  .stylelintrc
  .yarnrc.yml
  package.json
  yarn.lock
Owners: none

Pricing page rework: Update cards to display existing subscriptions (#67204)
  client/my-sites/plans/jetpack-plans/product-card/product-button-label.ts
  client/my-sites/plans/jetpack-plans/product-store/bundles-list.tsx
  client/my-sites/plans/jetpack-plans/product-store/featured-item-card/index.tsx
  client/my-sites/plans/jetpack-plans/product-store/featured-item-card/style.scss
  client/my-sites/plans/jetpack-plans/product-store/hooks/use-store-item-info.ts
  client/my-sites/plans/jetpack-plans/product-store/item-price.tsx
  client/my-sites/plans/jetpack-plans/product-store/products-list.tsx
  client/my-sites/plans/jetpack-plans/product-store/simple-product-card/index.tsx
  client/my-sites/plans/jetpack-plans/product-store/style.scss
  client/my-sites/plans/jetpack-plans/product-store/types.ts
Owners: none

Remove Professional Email experiment code (#67122)
  client/lib/plans/features-list.js
  client/my-sites/plan-features/index.jsx
  client/my-sites/plans-features-main/index.jsx
  client/my-sites/plans/main.jsx
  packages/calypso-products/src/constants/features.ts
  packages/calypso-products/src/plans-list.tsx
Owners: none

Design Picker: Enable standard-theme-v13n flag (#67077)
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

Throttle PageViewTracker using the delay prop
  client/sites-dashboard/controller.tsx
Owners: none

Plugin Management: Enable bulk actions in all possible cases in Jetpack Cloud (#67169)
  client/my-sites/plugins/plugin-activate-toggle/style.scss
  client/my-sites/plugins/plugin-list-header/index.jsx
  client/my-sites/plugins/plugin-management-v2/plugin-row-formatter/index.tsx
  client/state/plugins/installed/actions.js
  client/state/plugins/installed/test/actions.js
Owners: none

DIFM: Update copy on onboarding landing page
  client/landing/stepper/declarative-flow/internals/steps-repository/difm-starting-point/index.tsx
  client/my-sites/marketing/do-it-for-me/difm-landing.tsx
Owners: none

Display accent color input text in same color as other inputs on the page (#67217)
  client/landing/stepper/declarative-flow/internals/steps-repository/newsletter-setup/style.scss
Owners: none
