Repository Automattic/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/letero, @Automattic/shilling, @Automattic/reader, @Automattic/type-review, @Automattic/cylon, @Automattic/ajax, @nosolosw, @Automattic/dotcom-view-design, @noahtallen, @Automattic/experimentation-platform, @Automattic/team-calypso-frameworks, @Automattic/jetpack-search, @Automattic/team-calypso-platform, @Automattic/i18n, @WunderBart, @Automattic/kitkat, @worldomonation, @Automattic/ground-control, @Automattic/nomado

Set and use fixed-navigation-header__header class to find breadcrumbs
  client/components/fixed-navigation-header/index.tsx
  client/my-sites/plugins/plugin-details.jsx
  client/my-sites/plugins/plugins-navigation-header/index.jsx
  packages/calypso-e2e/src/lib/pages/plugins-page.ts
Owners: @Automattic/kitkat, @worldomonation

Add: New auto-renewal settings page
  client/me/purchases/controller.jsx
  client/me/purchases/index.js
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/renewal-settings/index.tsx
  client/me/purchases/manage-purchase/renewal-settings/style.scss
  client/me/purchases/paths.js
  client/me/purchases/titles.js
  client/my-sites/purchases/controller.js
  client/my-sites/purchases/index.js
  client/my-sites/purchases/main.tsx
  client/my-sites/purchases/paths.ts
Owners: @Automattic/shilling

Signup: custom features in plans comparison for newsletter and link in bio flows
  client/my-sites/plan-features-comparison/index.jsx
  client/my-sites/plan-features-comparison/util.ts
  packages/calypso-products/src/plans-list.tsx
  packages/calypso-products/src/types.ts
Owners: none

Signup: custom features in plans comparison for mobile view (Newsletter and Link in Bio)
  client/my-sites/plan-features-comparison/index.jsx
  client/my-sites/plan-features-comparison/util.ts
  client/my-sites/plan-features/index.jsx
  client/my-sites/plan-features/style.scss
  packages/calypso-products/src/plans-list.tsx
  packages/calypso-products/src/types.ts
Owners: none

Features: Add signup flow related features for Newsletter and Link in Bio
  client/lib/plans/features-list.js
  packages/calypso-products/src/constants/features.ts
Owners: none

Plans: fix feature slugs
  client/lib/plans/features-list.js
Owners: none

PlansList: update link in bio description for premium
  packages/calypso-products/src/plans-list.tsx
Owners: none

PlansList: add custom subheader for newsletter and link in bio
  client/signup/steps/plans/index.jsx
Owners: none

PlansList: avoid string concatenation for descriptions
  packages/calypso-products/src/plans-list.tsx
Owners: none

update: add close Icon
  client/my-sites/plans/jetpack-plans/product-lightbox/icons/icons.tsx
  client/my-sites/plans/jetpack-plans/product-lightbox/index.tsx
  client/my-sites/plans/jetpack-plans/product-lightbox/style.scss
Owners: none

Update the plugin-details-layout flag to true on horizon
  config/horizon.json
Owners: none

Update the plugin-details-layout flag to true on production
  config/production.json
Owners: none

Update the plugin-details-layout flag to true on stage and test
  config/stage.json
  config/test.json
Owners: none

Add e2e to test breadcrumbs on plugin details page (#67127)
  client/components/fixed-navigation-header/index.tsx
  client/my-sites/plugins/plugins-navigation-header/index.jsx
  packages/calypso-e2e/src/lib/pages/plugins-page.ts
  test/e2e/specs/plugins/plugins__search.ts
Owners: @Automattic/kitkat, @worldomonation, @WunderBart

[Jetpack App Migration] Update App Banner Branding (#67013)
  client/blocks/app-banner/index.jsx
  client/blocks/app-banner/style.scss
  client/blocks/app-banner/utils.js
  package.json
  static/animations/app-promo/jp-notifications-rtl.json
  static/animations/app-promo/jp-notifications.json
  static/animations/app-promo/jp-reader-rtl.json
  static/animations/app-promo/jp-reader.json
  static/animations/app-promo/jp-stats-rtl.json
  static/animations/app-promo/jp-stats.json
  static/animations/app-promo/wp-to-jp-rtl.json
  static/animations/app-promo/wp-to-jp.json
  test/client/jest.config.js
  yarn.lock
Owners: none

stepper: processing step: log errors to console
  client/landing/stepper/declarative-flow/internals/steps-repository/processing-step/index.tsx
Owners: none

Update the plugin-details-layout flag to true (#67175)
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
Owners: none

Revert "Design Picker: Enable standard-theme-v13n flag (#67077)"
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

Fill input with state data
  client/components/site-icon-with-picker/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/newsletter-setup/index.tsx
  client/landing/stepper/hooks/use-setup-onboarding-site.ts
Owners: none

Update launchpad dependency validation logic (#67268)
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/task-helper.ts
Owners: none

plugin-bundle-flow: Add GetCurrentThemeSoftwareSets step
  client/landing/stepper/declarative-flow/internals/steps-repository/get-current-theme-software-sets/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/index.ts
  client/landing/stepper/declarative-flow/plugin-bundle-flow.ts
  client/landing/stepper/declarative-flow/site-setup-flow.ts
Owners: none

Remove comments
  client/landing/stepper/declarative-flow/site-setup-flow.ts
Owners: none

Features: Add signup flow related features for Newsletter and Link in Bio (#67053)
  client/lib/plans/features-list.js
  client/my-sites/plan-features-comparison/index.jsx
  client/my-sites/plan-features-comparison/util.ts
  client/my-sites/plan-features/index.jsx
  client/my-sites/plan-features/style.scss
  client/signup/steps/plans/index.jsx
  packages/calypso-products/src/constants/features.ts
  packages/calypso-products/src/plans-list.tsx
  packages/calypso-products/src/types.ts
Owners: none

Revert "Design Picker: Enable standard-theme-v13n flag (#67077)" (#67274)
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

Jetpack New pricing page - fix the header text in WPcom (#67267)
  client/my-sites/plans/jetpack-plans/plans-header.tsx
Owners: none

Checkout: Convert UpsellNudge to TypeScript (#67179)
  client/my-sites/checkout/controller.jsx
  client/my-sites/checkout/upsell-nudge/index.tsx
  client/my-sites/domains/domain-management/settings/settings-header.tsx
  client/state/sites/plans/selectors/get-plan-discounted-raw-price.js
  client/state/sites/plans/selectors/get-site-plan-raw-price.js
  packages/components/src/index.ts
Owners: @Automattic/shilling, @Automattic/nomado

stepper: processing step: log errors to console (#67273)
  client/landing/stepper/declarative-flow/internals/steps-repository/processing-step/index.tsx
Owners: none

Update progress bar consistency with updated tasks
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/checklist.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/sidebar.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/task-helper.ts
Owners: none

Load setup step state for LiB
  client/landing/stepper/declarative-flow/internals/steps-repository/link-in-bio-setup/index.tsx
Owners: none

Fix margin for group title
  client/my-sites/plans/jetpack-plans/product-store/featured-item-card/style.scss
  client/my-sites/plans/jetpack-plans/product-store/style.scss
Owners: none

Jetpack New Pricing page - update featured text for Jetpack Daily
  packages/calypso-products/src/translations.tsx
Owners: none

Fix gap on smaller screens
  client/my-sites/plans/jetpack-plans/product-store/style.scss
Owners: none

Pricing page rework: Add features list for Security and Complete bundles (#67265)
  .stylelintrc
  client/assets/images/jetpack/jetpack-green-checkmark.svg
  client/assets/images/jetpack/jetpack-icon-growth.svg
  client/assets/images/jetpack/jetpack-icon-lock.svg
  client/assets/images/jetpack/jetpack-icon-performance.svg
  client/assets/images/jetpack/jetpack-red-cross.svg
  client/my-sites/plans/jetpack-plans/product-store/bundles-list.tsx
  client/my-sites/plans/jetpack-plans/product-store/featured-item-card/style.scss
  client/my-sites/plans/jetpack-plans/product-store/features-list.tsx
  client/my-sites/plans/jetpack-plans/product-store/features.tsx
  client/my-sites/plans/jetpack-plans/product-store/hero-image/style.scss
  client/my-sites/plans/jetpack-plans/product-store/simple-product-card/style.scss
  client/my-sites/plans/jetpack-plans/product-store/style.scss
  client/my-sites/plans/jetpack-plans/product-store/types.ts
Owners: none

Move step content into its own file
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/step-content.tsx
Owners: none

Move Onboarding actions into task helpers
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/checklist.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/task-helper.ts
Owners: none

remove feature flags for launchpad
  client/landing/stepper/declarative-flow/link-in-bio.ts
  client/landing/stepper/declarative-flow/newsletter.ts
  client/landing/stepper/declarative-flow/podcasts.ts
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
Owners: none

Launchpad: Add site launch functionality to link in bio flow (#67190)
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/checklist-item.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/checklist.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/sidebar.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/step-content.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/task-helper.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/types.ts
  client/landing/stepper/declarative-flow/link-in-bio.ts
Owners: none

remove check from customer-home
  client/my-sites/customer-home/controller.jsx
Owners: none

record track event for site item clicks in the site selector
  client/components/site-selector/index.jsx
Owners: none

Fix sidebar merge conflicts
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/sidebar.tsx
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/data/query-gsuite-users @Automattic/letero
/client/components/domains/contact-details-form-fields/index.jsx @Automattic/letero
/client/components/gsuite @Automattic/letero
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/letero
/client/lib/domains/email-forwarding @Automattic/letero
/client/lib/gsuite @Automattic/letero
/client/lib/titan @Automattic/letero
/client/me/purchases/remove-purchase/index.jsx @Automattic/letero
/client/my-sites/checkout/checkout-thank-you/google-apps-details.jsx @Automattic/letero
/client/my-sites/checkout/checkout-thank-you/index.jsx @Automattic/letero
/client/my-sites/checkout/checkout/domain-details-form.jsx @Automattic/letero
/client/my-sites/checkout/checkout/index.jsx @Automattic/letero
/client/my-sites/checkout/controller.jsx @Automattic/letero
/client/my-sites/domains/components/domain-warnings @Automattic/letero
/client/my-sites/domains/controller.jsx @Automattic/letero
/client/my-sites/email @Automattic/letero
/client/state/data-layer/wpcom/gsuite-users @Automattic/letero
/client/state/gsuite-users @Automattic/letero

# Payments
/client/components/credit-card-form-fields/ @Automattic/shilling
/client/components/payment-logo/ @Automattic/shilling
/client/lib/cart-values/ @Automattic/shilling
/client/lib/checkout/ @Automattic/shilling
/client/lib/siftscience/ @Automattic/shilling
/client/lib/store-transactions/ @Automattic/shilling
/client/me/memberships/ @Automattic/shilling
/client/me/purchases/ @Automattic/shilling
/client/my-sites/checkout/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/client/state/billing-transactions/ @Automattic/shilling
/client/state/memberships/ @Automattic/shilling
/client/state/order-transactions/ @Automattic/shilling
/client/state/plans/ @Automattic/shilling
/client/state/receipts/ @Automattic/shilling
/client/state/sites/plans/ @Automattic/shilling
/client/state/stored-cards/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/reader
/client/blocks/reader-* @Automattic/reader
/client/state/reader @Automattic/reader

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Editing Toolkit Modules
/apps/editing-toolkit/editing-toolkit-plugin/site-editor @Automattic/cylon
/apps/editing-toolkit/editing-toolkit-plugin/dotcom-fse @Automattic/cylon
/apps/editing-toolkit/editing-toolkit-plugin/posts-list-block @Automattic/ajax
/apps/editing-toolkit/editing-toolkit-plugin/global-styles @Automattic/cylon @nosolosw
/apps/editing-toolkit/editing-toolkit-plugin/block-patterns @Automattic/dotcom-view-design

# Editing Toolkit Workflow Files
/.github/workflows/editing-toolkit-plugin.yml @noahtallen
/.github/workflows/send-calypso-app-build-trigger.sh @noahtallen

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# Framework
/client/boot @Automattic/team-calypso-frameworks
/client/controller @Automattic/team-calypso-frameworks
/client/layout @Automattic/team-calypso-frameworks
/client/server @Automattic/team-calypso-frameworks
/packages/js-utils @Automattic/team-calypso-frameworks

# Jetpack Search
/client/my-sites/jetpack-search @Automattic/jetpack-search

# TeamCity configuration
/.teamcity @Automattic/team-calypso-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# E2E specs
/test/e2e @WunderBart @Automattic/kitkat @worldomonation
/packages/calypso-e2e @Automattic/kitkat @worldomonation

# Node updates
/.nvmrc @Automattic/ground-control

# Domains
/client/components/data/domain-management @Automattic/nomado
/client/components/data/query-countries/domains.jsx @Automattic/nomado
/client/components/domains @Automattic/nomado
/client/data/domains @Automattic/nomado
/client/document/domains-landing.jsx @Automattic/nomado
/client/landing/domains @Automattic/nomado
/client/lib/domains @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domain-mapping-details.jsx @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domain-registration-details.jsx @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/my-sites/current-site/domain-warnings.jsx @Automattic/nomado
/client/my-sites/domains @Automattic/nomado
/client/signup/steps/domains @Automattic/nomado
/client/signup/steps/site-or-domain/domain-image.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/domain-picker @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado
/packages/wpcom.js/src/lib/domain.email.js @Automattic/nomado
/packages/wpcom.js/src/lib/domain.js @Automattic/nomado
/packages/wpcom.js/src/lib/domains.js @Automattic/nomado
