Repository Automattic/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/team-calypso, @Automattic/onboarding-dev, @Automattic/luna, @Automattic/reader, @Automattic/gutenpack

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Root level files and configuration
/*.* @Automattic/team-calypso

# Scripts
/bin @Automattic/team-calypso

# Client initialization
/client/boot @Automattic/team-calypso

# Client blocks
/client/blocks/inline-help @Automattic/onboarding-dev

# Client state
/client/state/jetpack-connect @Automattic/luna
/client/state/signup @Automattic/onboarding-dev

# Client components
/client/components/site-verticals-suggestion-search @Automattic/onboarding-dev

# Client framework parts
/client/config @Automattic/team-calypso
/client/controller @Automattic/team-calypso
/client/document @Automattic/team-calypso
/client/layout @Automattic/team-calypso

# Client sites
/client/my-sites/checklist @Automattic/onboarding-dev

# Developer guides
/docs/coding-guidelines @Automattic/team-calypso
/docs/guide @Automattic/team-calypso
/docs/testing @Automattic/team-calypso

# Jetpack Connect
/client/jetpack-connect @Automattic/luna

# Reader
/client/reader @Automattic/reader
/client/blocks/reader-* @Automattic/reader
/client/state/reader @Automattic/reader

# Server infrastructure
/server @Automattic/team-calypso

# Signup
/client/signup @Automattic/onboarding-dev

# Test infrastructure
/test @Automattic/team-calypso

# Jetpack Gutenberg integrations
packages/jetpack-blocks @Automattic/gutenpack

# Calypso build packages
packages/calypso-build @Automattic/gutenpack
packages/calypso-color-schemes @Automattic/gutenpack

Slideshow block: Fix two Javascript Errors (#31720)
  packages/jetpack-blocks/src/blocks/slideshow/swiper-callbacks.js
Owners: @Automattic/gutenpack

Import in Signup: Split step dependencies so tracks event records
  client/signup/config/flows-pure.js
  client/signup/config/steps-pure.js
  client/signup/steps/domains/index.jsx
  client/state/importer-nux/actions.js
Owners: @Automattic/onboarding-dev

Missed a string.
  client/signup/config/steps-pure.js
Owners: @Automattic/onboarding-dev

Signup: Update site-title singular step (#31641)
  client/signup/config/steps-pure.js
  client/signup/steps/site-information/index.jsx
  client/signup/steps/site-information/style.scss
  client/signup/steps/site-information/test/__snapshots__/index.js.snap
  client/signup/steps/site-information/test/index.js
Owners: @Automattic/onboarding-dev

Enables engine6 imports in wpcalypso environment (#31730)
  config/wpcalypso.json
Owners: none

Improve the copy of the NUX header, in alignment with the wpcom one.
  client/jetpack-connect/site-type.js
Owners: @Automattic/luna

bad reference
  test/e2e/lib/xmpp-client.js
Owners: @Automattic/team-calypso

Updating the card to be more inline with the rest of signup, and removing some (I think, unused) translates that caused a horiz scrollbar. (#31652)
  client/signup/steps/about/style.scss
  client/signup/style.scss
Owners: @Automattic/onboarding-dev

Lint fix: twitter-preview: Follow CSS namespace guidelines (#31666)
  client/components/seo/style.scss
  client/components/seo/twitter-preview/index.jsx
Owners: none

useTranslate hook for SearchPreview component
  client/components/seo/search-preview/index.jsx
Owners: none

Improve the copy of the NUX header, in alignment with the wpcom one. (#31706)
  client/jetpack-connect/site-type.js
Owners: @Automattic/luna

Break SEO stylesheet into individual component stylesheets
  assets/stylesheets/_components.scss
  client/components/seo/facebook-preview/index.jsx
  client/components/seo/facebook-preview/style.scss
  client/components/seo/meta-title-editor/index.jsx
  client/components/seo/meta-title-editor/style.scss
  client/components/seo/search-preview/index.jsx
  client/components/seo/search-preview/style.scss
  client/components/seo/style.scss
  client/components/seo/twitter-preview/index.jsx
  client/components/seo/twitter-preview/style.scss
Owners: none

fix gsuite TOS link
  client/lib/google-apps/index.js
Owners: none

Record that a preview was fetched vs include a blob resource ID in event
  client/lib/signup/actions.js
Owners: none

Forcing 0 margins to avoid a spacing bug in Safari
  client/components/site-verticals-suggestion-search/style.scss
Owners: @Automattic/onboarding-dev

Add "Hide ad on mobile views" toggle
  packages/jetpack-blocks/src/blocks/wordads/constants.js
  packages/jetpack-blocks/src/blocks/wordads/edit.js
  packages/jetpack-blocks/src/blocks/wordads/editor.scss
  packages/jetpack-blocks/src/blocks/wordads/index.js
Owners: @Automattic/gutenpack

Domains: Search not showing map/transfer option
  client/components/domains/domain-search-results/index.jsx
Owners: none

Add "Hide ad on mobile views" toggle (#31608)
  packages/jetpack-blocks/src/blocks/wordads/constants.js
  packages/jetpack-blocks/src/blocks/wordads/edit.js
  packages/jetpack-blocks/src/blocks/wordads/editor.scss
  packages/jetpack-blocks/src/blocks/wordads/index.js
Owners: @Automattic/gutenpack

Removing header/footer copy per @thomasguillot
  packages/jetpack-blocks/src/blocks/wordads/edit.js
  packages/jetpack-blocks/src/blocks/wordads/editor.scss
Owners: @Automattic/gutenpack

Import in Signup: Split step dependencies so tracks event records (#31731)
  client/lib/signup/actions.js
  client/signup/config/flows-pure.js
  client/signup/config/steps-pure.js
  client/signup/steps/domains/index.jsx
  client/state/importer-nux/actions.js
Owners: @Automattic/onboarding-dev

Import: remove site title from descriptive header
  client/my-sites/site-settings/settings-import/descriptive-header.jsx
Owners: none

Remove unused strong element
  client/my-sites/site-settings/settings-import/descriptive-header.jsx
Owners: none

Remove missed domains email path
  client/blocks/gsuite-stats-nudge/index.js
Owners: none

Disable recommendations for non-Jetpack sites
  client/my-sites/plugins/plugins-browser/index.jsx
Owners: none

CurrencyCode cannot be required
  client/my-sites/email/email-management/index.jsx
Owners: none

add selectedDomain filtering to GSuiteUsersCard
  client/my-sites/email/email-management/gsuite-users-card/index.jsx
Owners: none

Simplify changes to domains path handling
  client/my-sites/domains/index.js
Owners: none

Use abtests from Calypso
  test/e2e/config/default.json
  test/e2e/lib/async-base-container.js
Owners: @Automattic/team-calypso

Recommended plugins: add data layer (#31135)
  client/components/data/query-site-recommended-plugins/index.jsx
  client/my-sites/plugins/plugins-browser-list/index.jsx
  client/my-sites/plugins/plugins-browser/index.jsx
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/plugins/recommended/index.js
  client/state/plugins/recommended/actions.js
  client/state/plugins/recommended/reducer.js
  client/state/plugins/recommended/test/reducer.js
  client/state/plugins/reducer.js
  client/state/selectors/get-recommended-plugins.js
  config/development.json
  config/wpcalypso.json
Owners: none

Use correct function for rendering email forwarding
  client/my-sites/email/index.js
Owners: none

Removing header/footer copy per @thomasguillot (#31739)
  packages/jetpack-blocks/src/blocks/wordads/edit.js
  packages/jetpack-blocks/src/blocks/wordads/editor.scss
Owners: @Automattic/gutenpack

Changes theme to Modern Business for sites created while importing in signup
  client/state/importer-nux/actions.js
Owners: none

Import: Use Modern Business theme for sites created while importing in signup (#31734)
  client/state/importer-nux/actions.js
Owners: none

Import: remove site title from descriptive header (#31740)
  client/my-sites/site-settings/settings-import/descriptive-header.jsx
Owners: none

Allow Jetpack (and Atomic) sites to pass `calypsoifyGutenbergEnabled` checks.
  client/state/selectors/is-calypsoify-gutenberg-enabled.js
  client/state/selectors/is-gutenberg-enabled.js
Owners: none

Get nonces for previews from the new `frame_nonce_preview` site option.
  client/blocks/site-preview/index.jsx
  client/my-sites/preview/main.jsx
  client/state/posts/utils.js
  client/state/sites/constants.js
Owners: none

boilerplate... not working?
  client/gutenberg/extensions/likes-and-sharing/editor.js
  client/gutenberg/extensions/likes-and-sharing/index.js
  client/gutenberg/extensions/likes-and-sharing/panel.js
  packages/jetpack-blocks/src/preset/index.json
Owners: @Automattic/gutenpack

checkpoint: checkboxes that don't work
  client/gutenberg/extensions/likes-and-sharing/panel.js
  client/lib/post-metadata/index.js
Owners: none

got checkboxes working
  client/gutenberg/extensions/likes-and-sharing/index.js
  client/gutenberg/extensions/likes-and-sharing/panel.js
  client/lib/post-metadata/index.js
Owners: none

cleanup and semantics
  client/gutenberg/extensions/likes-and-sharing/panel.js
Owners: none
