Repository Automattic/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/team-calypso, @Automattic/onboarding-dev, @Automattic/luna, @Automattic/reader, @Automattic/gutenpack

update package-lock.json
  test/e2e/package-lock.json
Owners: @Automattic/team-calypso

Jetpack blocks: Remove Jetpack blocks artifact fetching (#31760)
  bin/get-jetpack-blocks-artifacts.js
  bin/integration/get-jetpack-blocks-artifact-url.js
Owners: @Automattic/team-calypso

Jetpack blocks: Remove CircleCI build (#31757)
  .circleci/config.yml
Owners: @Automattic/team-calypso

SDK: Failed builds should exit with error status (#30019)
  bin/sdk-cli.js
Owners: @Automattic/team-calypso

Disable the upgrade buttons on the blogger plan when the user already has a non .blog domain
  client/my-sites/plan-features/index.jsx
  client/my-sites/plans-features-main/index.jsx
Owners: none

Removing the compact prop to make the segment control bigger.
  client/my-sites/plans-features-main/index.jsx
Owners: none

Removing a bunch of CSS that was overriding the segments style. Adjust the segment's colors in signup.
  client/my-sites/plan-features/style.scss
Owners: none

More fixes here and there
  test/e2e/lib/components/secure-payment-component.js
  test/e2e/lib/components/sidebar-component.js
  test/e2e/lib/pages/jetpack/jetpack-connect-add-credentials-page.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-connect-spec.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-onboarding-spec.js
Owners: @Automattic/team-calypso

[e2e] Upgrade config (#31764)
  test/e2e/lib/reporter/package.json
  test/e2e/package-lock.json
Owners: @Automattic/team-calypso

Domains: Search not showing map/transfer option
  client/components/domains/domain-search-results/index.jsx
Owners: none

simplify logic
  client/my-sites/email/email-management/gsuite-users-card/index.jsx
Owners: none

Make improvements to site-mockup-component
  client/components/site-mockup/index.jsx
Owners: none

ImportSignupFlow: Add confirm-import step
  client/signup/config/flows-pure.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/steps/confirm-import/index.jsx
  client/signup/steps/confirm-import/styles.scss
  client/signup/steps/import-url/index.jsx
  client/state/action-types.js
  client/state/importer-nux/actions.js
  client/state/importer-nux/reducer.js
  client/state/importer-nux/temp-selectors.js
Owners: @Automattic/onboarding-dev

ImportSignupFlow: start import imediately after a url is given and confirmed in signup
  client/lib/importer/actions.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/importer/site-importer/site-importer-input-pane.jsx
  client/my-sites/site-settings/controller.js
  client/my-sites/site-settings/section-import.jsx
  client/signup/config/flows-pure.js
  client/signup/config/steps-pure.js
  client/signup/steps/confirm-import/index.jsx
Owners: @Automattic/onboarding-dev

WIP
  client/lib/importer/actions.js
  client/lib/importer/store.js
  client/my-sites/site-settings/section-import.jsx
Owners: none

Create basic wp_block ellipsis menu
  client/blocks/post-item/index.jsx
  client/my-sites/post-type-list/post-actions-ellipsis-menu/wp-block-actions-ellipsis-menu.jsx
Owners: none

Dismiss a stats popup for invite test
  test/e2e/lib/components/nav-bar-component.js
  test/e2e/specs/wp-invite-users-spec.js
Owners: @Automattic/team-calypso

Adding some tweaks for the mobile display.
  client/my-sites/plan-features/style.scss
Owners: none

Backups: Fix download progress bar
  client/state/data-layer/wpcom/activity-log/rewind/downloads/index.js
Owners: none

Continue integrating new CSS.
  client/layout/sidebar/style.scss
  client/my-sites/sidebar/sidebar.jsx
Owners: @Automattic/team-calypso

Add section header with 'add' button to PostTypeList.
  client/my-sites/post-type-list/index.jsx
Owners: none

Continue integrating new CSS.
  client/layout/sidebar/style.scss
Owners: @Automattic/team-calypso

Fix a lint error
  client/my-sites/site-settings/form-writing.jsx
Owners: none

Add section header with 'add' button to page list.
  client/my-sites/pages/page-list.jsx
Owners: none

Hide sidebar add buttons.
  client/layout/sidebar/style.scss
Owners: @Automattic/team-calypso

Add Gravatar Styling
  client/layout/masterbar/oauth-client.scss
Owners: @Automattic/team-calypso

WP admin link and styles.
  client/layout/sidebar/style.scss
  client/my-sites/sidebar/sidebar.jsx
Owners: @Automattic/team-calypso

Style tidy.
  client/layout/sidebar/style.scss
Owners: @Automattic/team-calypso

Block Editor: Handle routes missing the `post` segment.
  client/gutenberg/editor/index.js
Owners: none

Try sorting out formatting
  client/layout/masterbar/oauth-client.scss
Owners: @Automattic/team-calypso

Fix Gsuite TOS Link (#31738)
  client/lib/google-apps/index.js
Owners: none

Last bit of formatting 🤞
  client/layout/masterbar/oauth-client.scss
Owners: @Automattic/team-calypso

Temporarily add some gridicons. Will switch to Material once styles are final.
  client/layout/sidebar/expandable-heading.jsx
  client/layout/sidebar/expandable.jsx
  client/layout/sidebar/style.scss
  client/my-sites/sidebar/sidebar.jsx
Owners: @Automattic/team-calypso

Switch Email and Domain Management Email Paths (#31703)
  client/blocks/gsuite-stats-nudge/index.js
  client/components/site-selector/index.jsx
  client/my-sites/checklist/wpcom-checklist/component.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/my-sites/controller.js
  client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx
  client/my-sites/domains/domain-management/README.md
  client/my-sites/domains/domain-management/controller.jsx
  client/my-sites/domains/domain-management/dns/delete-email-forwards-dialog.jsx
  client/my-sites/domains/domain-management/edit/mapped-domain.jsx
  client/my-sites/domains/domain-management/edit/registered-domain.jsx
  client/my-sites/domains/domain-management/edit/test/mapped-domain.js
  client/my-sites/domains/index.js
  client/my-sites/email/controller.js
  client/my-sites/email/email-forwarding/email-forwarding-gsuite-details.jsx
  client/my-sites/email/email-forwarding/index.jsx
  client/my-sites/email/email-management/gsuite-users-card/index.jsx
  client/my-sites/email/email-management/index.jsx
  client/my-sites/email/gsuite-add-users/add-users.jsx
  client/my-sites/email/gsuite-add-users/index.jsx
  client/my-sites/email/gsuite-purchase-cta/index.jsx
  client/my-sites/email/index.js
  client/my-sites/plans/navigation.jsx
Owners: @Automattic/onboarding-dev

Add handling for two or more unidentified segments.
  client/gutenberg/editor/index.js
Owners: none

Enable plugin recommendations A/B test
  client/lib/abtest/active-tests.js
  client/my-sites/plugins/plugins-browser/index.jsx
  test/e2e/config/default.json
Owners: @Automattic/team-calypso

Inline Popover: Fix/close onboarding welcome prompt (#31745)
  client/state/inline-help/reducer.js
  client/state/inline-help/test/reducer.js
Owners: none

Add: the data layer handlers & actions for interacting with `/verticals` endpoint (#31714)
  client/state/action-types.js
  client/state/data-layer/wpcom/signup/verticals/index.js
  client/state/data-layer/wpcom/signup/verticals/test/index.js
  client/state/signup/verticals/actions.js
  client/state/signup/verticals/test/actions.js
Owners: @Automattic/onboarding-dev

Add the new `verticals` reducer
  client/state/signup/reducer.js
  client/state/signup/verticals/reducer.js
Owners: @Automattic/onboarding-dev

Add a test suite for `signup/verticals/selectors`
  client/state/signup/verticals/test/selectors.js
Owners: @Automattic/onboarding-dev

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Root level files and configuration
/*.* @Automattic/team-calypso

# Scripts
/bin @Automattic/team-calypso

# Client initialization
/client/boot @Automattic/team-calypso

# Client blocks
/client/blocks/inline-help @Automattic/onboarding-dev

# Client state
/client/state/jetpack-connect @Automattic/luna
/client/state/signup @Automattic/onboarding-dev

# Client components
/client/components/site-verticals-suggestion-search @Automattic/onboarding-dev

# Client framework parts
/client/config @Automattic/team-calypso
/client/controller @Automattic/team-calypso
/client/document @Automattic/team-calypso
/client/layout @Automattic/team-calypso

# Client sites
/client/my-sites/checklist @Automattic/onboarding-dev

# Developer guides
/docs/coding-guidelines @Automattic/team-calypso
/docs/guide @Automattic/team-calypso
/docs/testing @Automattic/team-calypso

# Jetpack Connect
/client/jetpack-connect @Automattic/luna

# Reader
/client/reader @Automattic/reader
/client/blocks/reader-* @Automattic/reader
/client/state/reader @Automattic/reader

# Server infrastructure
/server @Automattic/team-calypso

# Signup
/client/signup @Automattic/onboarding-dev

# Test infrastructure
/test @Automattic/team-calypso

# Jetpack Gutenberg integrations
packages/jetpack-blocks @Automattic/gutenpack

# Calypso build packages
packages/calypso-build @Automattic/gutenpack
packages/calypso-color-schemes @Automattic/gutenpack
