Repository Automattic/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/team-calypso, @Automattic/onboarding-dev, @Automattic/luna, @Automattic/reader, @Automattic/gutenpack

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Root level files and configuration
/*.* @Automattic/team-calypso

# Scripts
/bin @Automattic/team-calypso

# Client initialization
/client/boot @Automattic/team-calypso

# Client blocks
/client/blocks/inline-help @Automattic/onboarding-dev

# Client state
/client/state/jetpack-connect @Automattic/luna
/client/state/signup @Automattic/onboarding-dev

# Client components
/client/components/site-verticals-suggestion-search @Automattic/onboarding-dev

# Client framework parts
/client/config @Automattic/team-calypso
/client/controller @Automattic/team-calypso
/client/document @Automattic/team-calypso
/client/layout @Automattic/team-calypso

# Client sites
/client/my-sites/checklist @Automattic/onboarding-dev

# Developer guides
/docs/coding-guidelines @Automattic/team-calypso
/docs/guide @Automattic/team-calypso
/docs/testing @Automattic/team-calypso

# Jetpack Connect
/client/jetpack-connect @Automattic/luna

# Reader
/client/reader @Automattic/reader
/client/blocks/reader-* @Automattic/reader
/client/state/reader @Automattic/reader

# Server infrastructure
/server @Automattic/team-calypso

# Signup
/client/signup @Automattic/onboarding-dev

# Test infrastructure
/test @Automattic/team-calypso

# Jetpack Gutenberg integrations
packages/jetpack-blocks @Automattic/gutenpack

# Calypso build packages
packages/calypso-build @Automattic/gutenpack
packages/calypso-color-schemes @Automattic/gutenpack

Move color overrides to the top, add more
  client/jetpack-connect/style.scss
Owners: @Automattic/luna

Update color variables name
  client/jetpack-connect/style.scss
Owners: @Automattic/luna

Delete unused styles
  client/jetpack-connect/style.scss
Owners: @Automattic/luna

Blocks: Migrate EditGravatar CSS to Webpack
  assets/stylesheets/_components.scss
  client/blocks/edit-gravatar/index.jsx
Owners: none

Remove prettier pragma
  client/blocks/edit-gravatar/index.jsx
Owners: none

Components: Migrate HrWithText CSS to Webpack (#31794)
  assets/stylesheets/_components.scss
  client/components/hr-with-text/index.jsx
Owners: none

Domains: remove privacy-protection-card styles
  client/my-sites/domains/domain-management/style.scss
Owners: none

This is a WIP commit of fixing an infinite loop in the reload of the checklist action page
  client/blocks/inline-help/index.jsx
  client/my-sites/checklist/wpcom-checklist/checklist-prompt/task.jsx
  client/my-sites/checklist/wpcom-checklist/component.jsx
  client/state/inline-help/reducer.js
  client/state/selectors/get-editor-url.js
Owners: @Automattic/onboarding-dev

Add overrides for checkout page header
  client/jetpack-connect/style.scss
Owners: @Automattic/luna

Layout: Exclude atomic sites from JP logic
  client/layout/index.jsx
Owners: @Automattic/team-calypso

fix(deps): update dependency d3-scale to v2.2.2
  npm-shrinkwrap.json
  package.json
Owners: @Automattic/team-calypso
