Repository Automattic/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/team-calypso, @Automattic/zelda, @Automattic/luna, @Automattic/lannister, @Automattic/reader, @Automattic/type-review, @Automattic/amber

Sharing Settings: Add Information for Likes & Comment Likes (#32467)
  client/my-sites/marketing/buttons/appearance.jsx
  client/my-sites/marketing/buttons/options.jsx
Owners: none

Rewrite afterLayoutFlush as a generic TS function.
  client/lib/after-layout-flush/index.ts
Owners: @Automattic/type-review

Remove redundant (and incorrect) JSDoc types
  client/lib/after-layout-flush/index.ts
Owners: @Automattic/type-review

Remove redundant return type from function.
  client/lib/after-layout-flush/index.ts
Owners: @Automattic/type-review

Use global type for timer handle.
  client/lib/after-layout-flush/index.ts
  client/types.ts
Owners: @Automattic/type-review

Set timeout handle type more explicitly
  client/lib/after-layout-flush/index.ts
Owners: @Automattic/type-review

Remove ESLint disabling.
  client/lib/after-layout-flush/index.ts
Owners: @Automattic/type-review

Replace curly quotes with straight quotes.
  test/e2e/lib/components/theme-dialog-component.js
Owners: @Automattic/team-calypso

Update popular verticals for blog and professional segments
  client/components/site-verticals-suggestion-search/popular-topics.jsx
Owners: @Automattic/zelda

Update readme
  apps/full-site-editing/full-site-editing-plugin/readme.txt
Owners: none

Removes G Suite post checkout AB Test
  client/components/purchase-detail/index.jsx
  client/components/purchase-detail/style.scss
  client/lib/abtest/active-tests.js
  client/my-sites/checkout/checkout-thank-you/business-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/domain-registration-details.jsx
  client/my-sites/checkout/checkout-thank-you/ecommerce-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/my-sites/checkout/checkout-thank-you/personal-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/premium-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/style.scss
Owners: none

Themes: Fix e2e Customizer test (#33380)
  test/e2e/lib/components/theme-dialog-component.js
  test/e2e/specs/wp-theme-switch-spec.js
Owners: @Automattic/team-calypso

Remove abtest from test mocks
  client/components/purchase-detail/test/index.jsx
Owners: none

FSE: Get plugin ready for directory submission (#33378)
  apps/full-site-editing/full-site-editing-plugin/readme.txt
Owners: none

Add G Suite New User List Component (#33329)
  client/components/gsuite/docs/example.tsx
  client/components/gsuite/docs/new-user-list.tsx
  client/components/gsuite/gsuite-new-user-list/domains-select.tsx
  client/components/gsuite/gsuite-new-user-list/index.tsx
  client/components/gsuite/gsuite-new-user-list/new-user.tsx
  client/components/gsuite/gsuite-new-user-list/style.scss
  client/devdocs/design/index.jsx
  client/lib/gsuite/new-users.ts
Owners: @Automattic/type-review, @Automattic/amber

Domains: Update .ca registrant agreement
  client/components/domains/registrant-extra-info/ca-form.jsx
Owners: none

Put Hire a Builder behind a flag
  client/my-sites/hire-a-pro/index.js
  client/my-sites/sidebar/sidebar.jsx
  config/development.json
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Root level files and configuration
/*.* @Automattic/team-calypso

# Scripts
/bin @Automattic/team-calypso

# Client initialization
/client/boot @Automattic/team-calypso

# Client blocks
/client/blocks/inline-help @Automattic/zelda

# Client state
/client/state/jetpack-connect @Automattic/luna
/client/state/signup @Automattic/zelda

# Client components
/client/components/site-verticals-suggestion-search @Automattic/zelda

# Client framework parts
/client/config @Automattic/team-calypso
/client/controller @Automattic/team-calypso
/client/document @Automattic/team-calypso
/client/layout @Automattic/team-calypso

# Client sites
/client/my-sites/checklist @Automattic/zelda

# Comments management
/client/my-sites/comment* @Automattic/lannister

# Developer guides
/docs/coding-guidelines @Automattic/team-calypso
/docs/guide @Automattic/team-calypso
/docs/testing @Automattic/team-calypso

# Gutenberg editor (Gutenframe)
/client/gutenberg @Automattic/lannister

# Jetpack Connect
/client/jetpack-connect @Automattic/luna

# Reader
/client/reader @Automattic/reader
/client/blocks/reader-* @Automattic/reader
/client/state/reader @Automattic/reader

# Server infrastructure
/server @Automattic/team-calypso

# Signup
/client/signup @Automattic/zelda

# Test infrastructure
/test @Automattic/team-calypso

# Types, TypeScript, and type annotations
*.ts @Automattic/type-review
*.tsx @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# G Suite
/client/blocks/gsuite-stats-nudge @Automattic/amber
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/amber
/client/components/upgrades/gsuite @Automattic/amber
/client/lib/domains/email-forwarding @Automattic/amber
/client/lib/domains/google-apps-users @Automattic/amber
/client/lib/gsuite @Automattic/amber
/client/my-sites/domains/components/domain-warnings @Automattic/amber
/client/my-sites/email @Automattic/amber
