Repository Automattic/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/team-calypso, @Automattic/onboarding-dev, @Automattic/luna, @Automattic/reader, @Automattic/gutenpack

State: Fix memoization of getPluginKeys selector
  client/state/plugins/premium/selectors.js
Owners: none

Add class to plan header if is free plan
  client/my-sites/plans/current-plan/header.jsx
Owners: none

Add conditional styles for free plan
  client/my-sites/plans/current-plan/style.scss
Owners: none

Reorder feature cards
  client/blocks/product-purchase-features-list/index.jsx
Owners: none

State: Fix data handling of getPluginKeys selector
  client/state/plugins/premium/selectors.js
Owners: none

Move Repeat visitor block from beta to production
  packages/jetpack-blocks/src/preset/index.json
Owners: @Automattic/gutenpack

State: Clean up premium plugin selector tests
  client/state/plugins/premium/test/selectors.js
Owners: none

State: Add tests for getPluginKeys selector
  client/state/plugins/premium/test/selectors.js
Owners: none

Move Repeat visitor block from beta to production
  packages/jetpack-blocks/src/preset/index.json
Owners: @Automattic/gutenpack

Bump to v15
  packages/jetpack-blocks/package.json
Owners: @Automattic/gutenpack

State: Add tests for product install reducer
  client/state/jetpack-product-install/test/reducer.js
Owners: none

Memoize the last active discount.
  client/state/selectors/get-active-discount.js
Owners: none

Changes to getActiveDiscount memoization after review.
  client/state/selectors/get-active-discount.js
Owners: none

State: Add tests for getJetpackProductInstallStatus selector
  client/state/selectors/test/get-jetpack-product-install-status.js
Owners: none

State: Add tests for getJetpackProductInstallProgress selector
  client/state/selectors/test/get-jetpack-product-install-progress.js
Owners: none

Fix possible race conditions with localized-moment.
  client/components/localized-moment/context.js
Owners: none

Break SEO stylesheet into individual component stylesheets, useTranslate hook for SearchPreview component (#31733)
  assets/stylesheets/_components.scss
  client/components/seo/facebook-preview/index.jsx
  client/components/seo/facebook-preview/style.scss
  client/components/seo/meta-title-editor/index.jsx
  client/components/seo/meta-title-editor/style.scss
  client/components/seo/search-preview/index.jsx
  client/components/seo/search-preview/style.scss
  client/components/seo/style.scss
  client/components/seo/twitter-preview/index.jsx
  client/components/seo/twitter-preview/style.scss
Owners: none

Memoize the last active discount. (#31678)
  client/state/selectors/get-active-discount.js
Owners: none

Fix plan icon vertical spacing in paid plans
  client/my-sites/plans/current-plan/style.scss
Owners: none

testimonial block skeleton
  packages/jetpack-blocks/src/blocks/testimonial/edit.js
  packages/jetpack-blocks/src/blocks/testimonial/editor.js
  packages/jetpack-blocks/src/blocks/testimonial/index.js
  packages/jetpack-blocks/src/preset/index.json
Owners: @Automattic/gutenpack

Add exit codes based on build results
  bin/sdk-cli.js
Owners: @Automattic/team-calypso

Fix broken Twitter preview styling
  client/components/seo/twitter-preview/style.scss
Owners: none

Fix intentional demonstration error
  client/gutenberg/extensions/presets/o2/editor.js
Owners: none

Revert circle job change
  .circleci/config.yml
Owners: @Automattic/team-calypso

Update class name for component
  client/components/seo/twitter-preview/style.scss
Owners: none

Fix broken Twitter preview styling (#31753)
  client/components/seo/twitter-preview/style.scss
Owners: none

UpgradeNudgeExpanded: remove Media/VideoPress styling
  client/my-sites/media-library/style.scss
Owners: none

Remove CircleCI job that builds jetpack-blocks
  .circleci/config.yml
Owners: @Automattic/team-calypso

UpgradeNudgeExpanded: migrate CSS to webpack
  assets/stylesheets/_components.scss
  client/blocks/upgrade-nudge-expanded/index.jsx
Owners: none

cleanup a bit
  test/e2e/lib/async-base-container.js
Owners: @Automattic/team-calypso

Forcing 0 margins to avoid a spacing bug in Safari (#31735)
  client/components/site-verticals-suggestion-search/style.scss
Owners: @Automattic/onboarding-dev

Bump the minimum required screen size to show the button on the right
  client/my-sites/plans/current-plan/style.scss
Owners: none

fix depencency and missing file
  packages/jetpack-blocks/src/blocks/testimonial/editor.js
  packages/jetpack-blocks/src/blocks/testimonial/editor.scss
Owners: @Automattic/gutenpack

Remove Jetpack blocks artifact fetching
  bin/get-jetpack-blocks-artifacts.js
  bin/integration/get-jetpack-blocks-artifact-url.js
Owners: @Automattic/team-calypso

Add image width and height to the update payload
  client/gutenberg/editor/calypsoify-iframe.jsx
Owners: none

Post List: stop querying post list with context=edit
  client/my-sites/pages/page-list.jsx
  client/my-sites/posts/main.jsx
Owners: none

using map instead
  test/e2e/lib/async-base-container.js
Owners: @Automattic/team-calypso

Add NODE_CONFIG_ENV instead NODE_ENV (#31632)
  .circleci/config.yml
  test/e2e/docs/config.md
  test/e2e/docs/miscellaneous.md
  test/e2e/lib/before.js
  test/e2e/package-lock.json
  test/e2e/package.json
  test/e2e/run.sh
  test/e2e/scripts/circleci-branch-update.sh
  test/e2e/scripts/run-wrapper.sh
Owners: @Automattic/team-calypso

Change the way we handle positioning when a guided tour will overlap the right side of the screen
  client/blocks/signup-form/index.jsx
  client/layout/guided-tours/positioning.js
  client/layout/guided-tours/tours/checklist-site-tagline-tour.js
  client/layout/guided-tours/tours/checklist-site-title-tour.js
Owners: @Automattic/team-calypso

Upgrade config
  test/e2e/lib/reporter/package.json
Owners: @Automattic/team-calypso

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Root level files and configuration
/*.* @Automattic/team-calypso

# Scripts
/bin @Automattic/team-calypso

# Client initialization
/client/boot @Automattic/team-calypso

# Client blocks
/client/blocks/inline-help @Automattic/onboarding-dev

# Client state
/client/state/jetpack-connect @Automattic/luna
/client/state/signup @Automattic/onboarding-dev

# Client components
/client/components/site-verticals-suggestion-search @Automattic/onboarding-dev

# Client framework parts
/client/config @Automattic/team-calypso
/client/controller @Automattic/team-calypso
/client/document @Automattic/team-calypso
/client/layout @Automattic/team-calypso

# Client sites
/client/my-sites/checklist @Automattic/onboarding-dev

# Developer guides
/docs/coding-guidelines @Automattic/team-calypso
/docs/guide @Automattic/team-calypso
/docs/testing @Automattic/team-calypso

# Jetpack Connect
/client/jetpack-connect @Automattic/luna

# Reader
/client/reader @Automattic/reader
/client/blocks/reader-* @Automattic/reader
/client/state/reader @Automattic/reader

# Server infrastructure
/server @Automattic/team-calypso

# Signup
/client/signup @Automattic/onboarding-dev

# Test infrastructure
/test @Automattic/team-calypso

# Jetpack Gutenberg integrations
packages/jetpack-blocks @Automattic/gutenpack

# Calypso build packages
packages/calypso-build @Automattic/gutenpack
packages/calypso-color-schemes @Automattic/gutenpack
