Repository Automattic/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/letero, @Automattic/shilling, @Automattic/reader, @Automattic/type-review, @Automattic/cylon, @Automattic/ajax, @nosolosw, @Automattic/dotcom-view-design, @noahtallen, @Automattic/experimentation-platform, @Automattic/team-calypso-frameworks, @Automattic/jetpack-search, @Automattic/team-calypso-platform, @Automattic/i18n, @WunderBart, @Automattic/kitkat, @worldomonation, @Automattic/ground-control, @Automattic/nomado

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/data/query-gsuite-users @Automattic/letero
/client/components/domains/contact-details-form-fields/index.jsx @Automattic/letero
/client/components/gsuite @Automattic/letero
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/letero
/client/lib/domains/email-forwarding @Automattic/letero
/client/lib/gsuite @Automattic/letero
/client/lib/titan @Automattic/letero
/client/me/purchases/remove-purchase/index.jsx @Automattic/letero
/client/my-sites/checkout/checkout-thank-you/google-apps-details.jsx @Automattic/letero
/client/my-sites/checkout/checkout-thank-you/index.jsx @Automattic/letero
/client/my-sites/checkout/checkout/domain-details-form.jsx @Automattic/letero
/client/my-sites/checkout/checkout/index.jsx @Automattic/letero
/client/my-sites/checkout/controller.jsx @Automattic/letero
/client/my-sites/domains/components/domain-warnings @Automattic/letero
/client/my-sites/domains/controller.jsx @Automattic/letero
/client/my-sites/email @Automattic/letero
/client/state/data-layer/wpcom/gsuite-users @Automattic/letero
/client/state/gsuite-users @Automattic/letero

# Payments
/client/components/credit-card-form-fields/ @Automattic/shilling
/client/components/payment-logo/ @Automattic/shilling
/client/lib/cart-values/ @Automattic/shilling
/client/lib/checkout/ @Automattic/shilling
/client/lib/siftscience/ @Automattic/shilling
/client/lib/store-transactions/ @Automattic/shilling
/client/me/memberships/ @Automattic/shilling
/client/me/purchases/ @Automattic/shilling
/client/my-sites/checkout/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/client/state/billing-transactions/ @Automattic/shilling
/client/state/memberships/ @Automattic/shilling
/client/state/order-transactions/ @Automattic/shilling
/client/state/plans/ @Automattic/shilling
/client/state/receipts/ @Automattic/shilling
/client/state/sites/plans/ @Automattic/shilling
/client/state/stored-cards/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/reader
/client/blocks/reader-* @Automattic/reader
/client/state/reader @Automattic/reader

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Editing Toolkit Modules
/apps/editing-toolkit/editing-toolkit-plugin/site-editor @Automattic/cylon
/apps/editing-toolkit/editing-toolkit-plugin/dotcom-fse @Automattic/cylon
/apps/editing-toolkit/editing-toolkit-plugin/posts-list-block @Automattic/ajax
/apps/editing-toolkit/editing-toolkit-plugin/global-styles @Automattic/cylon @nosolosw
/apps/editing-toolkit/editing-toolkit-plugin/block-patterns @Automattic/dotcom-view-design

# Editing Toolkit Workflow Files
/.github/workflows/editing-toolkit-plugin.yml @noahtallen
/.github/workflows/send-calypso-app-build-trigger.sh @noahtallen

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# Framework
/client/boot @Automattic/team-calypso-frameworks
/client/controller @Automattic/team-calypso-frameworks
/client/layout @Automattic/team-calypso-frameworks
/client/server @Automattic/team-calypso-frameworks
/packages/js-utils @Automattic/team-calypso-frameworks

# Jetpack Search
/client/my-sites/jetpack-search @Automattic/jetpack-search

# TeamCity configuration
/.teamcity @Automattic/team-calypso-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# E2E specs
/test/e2e @WunderBart @Automattic/kitkat @worldomonation
/packages/calypso-e2e @Automattic/kitkat @worldomonation

# Node updates
/.nvmrc @Automattic/ground-control

# Domains
/client/components/data/domain-management @Automattic/nomado
/client/components/data/query-countries/domains.jsx @Automattic/nomado
/client/components/domains @Automattic/nomado
/client/data/domains @Automattic/nomado
/client/document/domains-landing.jsx @Automattic/nomado
/client/landing/domains @Automattic/nomado
/client/lib/domains @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domain-mapping-details.jsx @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domain-registration-details.jsx @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/my-sites/current-site/domain-warnings.jsx @Automattic/nomado
/client/my-sites/domains @Automattic/nomado
/client/signup/steps/domains @Automattic/nomado
/client/signup/steps/site-or-domain/domain-image.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/domain-picker @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado
/packages/wpcom.js/src/lib/domain.email.js @Automattic/nomado
/packages/wpcom.js/src/lib/domain.js @Automattic/nomado
/packages/wpcom.js/src/lib/domains.js @Automattic/nomado

Fix issue when handling the onClose function in BlazePress (#67259)
  client/components/blazepress-widget/index.tsx
Owners: none

Use 'compose' to group component wrappers
  client/blocks/app-banner/index.jsx
Owners: none

Jetpack New pricign page - Revert back logic to render all items
  client/my-sites/plans/jetpack-plans/product-store/utils/isolate-popular-items.ts
Owners: none

Jetpack New pricing page - add featuredText for other standalone products
  packages/calypso-products/src/translations.tsx
Owners: none

Jetpack New pricing page - update the logic to render all the products in the product section
  client/my-sites/plans/jetpack-plans/product-store/utils/isolate-popular-items.ts
Owners: none

Update text width/styling for smaller screens
  client/blocks/app-banner/style.scss
Owners: none

Review fixes
  client/lib/purchases/types.ts
  client/me/purchases/manage-purchase/purchase-meta.jsx
Owners: @Automattic/shilling

Use wpcom/v2/starter-designs/get to retrieve theme details
  client/landing/stepper/declarative-flow/internals/steps-repository/design-setup/unified-design-picker.tsx
  packages/data-stores/src/index.ts
  packages/design-preview/src/components/index.tsx
Owners: none

Use wpcom/v2/starter-designs/get to retrieve theme details
  packages/data-stores/src/starter-designs-queries/use-starter-designs-get.ts
Owners: none

Replace 'canvas' with 'jest-canvas-mock'
  package.json
  test/client/jest.config.js
  yarn.lock
Owners: none

Checkout: Update the Marketplace agreement border color to the error color (red) instead of blue (#66888)
  client/my-sites/checkout/composite-checkout/components/third-party-plugins-developer-account.tsx
Owners: @Automattic/shilling

Lint
  client/landing/stepper/declarative-flow/internals/steps-repository/design-setup/unified-design-picker.tsx
Owners: none

Swap conditions
  client/my-sites/email/email-providers-comparison/price/google-workspace.tsx
Owners: @Automattic/letero

Remove overflow - auto
  packages/help-center/src/styles.scss
Owners: none

Add clarity to DIFM price tier selector
  client/state/purchases/selectors/get-difm-purchase-tier-details.ts
Owners: none

SiteIconPicker: ensure image border is visible, fix hover state for icon with image
  client/components/site-icon-with-picker/style.scss
Owners: none

Add assets
  client/assets/images/jetpack/jetpack-green-checkmark.svg
  client/assets/images/jetpack/jetpack-icon-growth.svg
  client/assets/images/jetpack/jetpack-icon-lock.svg
  client/assets/images/jetpack/jetpack-icon-performance.svg
  client/assets/images/jetpack/jetpack-red-cross.svg
Owners: none

Create features data
  client/my-sites/plans/jetpack-plans/product-store/features.tsx
Owners: none

Create FeaturesList component
  client/my-sites/plans/jetpack-plans/product-store/features-list.tsx
  client/my-sites/plans/jetpack-plans/product-store/types.ts
Owners: none

Render FeaturesList inside bundles list
  client/my-sites/plans/jetpack-plans/product-store/bundles-list.tsx
Owners: none

Style it all up
  client/my-sites/plans/jetpack-plans/product-store/style.scss
Owners: none

Fix lints and breakpoints
  client/my-sites/plans/jetpack-plans/product-store/featured-item-card/style.scss
  client/my-sites/plans/jetpack-plans/product-store/hero-image/style.scss
  client/my-sites/plans/jetpack-plans/product-store/simple-product-card/style.scss
Owners: none

Fix stylelint rule conflict
  .stylelintrc
Owners: none

Add VideoPress flow to "tailored signup" flow to skip plugins upsell (#67176)
  client/my-sites/checkout/get-thank-you-page-url/index.ts
  client/my-sites/checkout/get-thank-you-page-url/test/get-thank-you-page-url.ts
  packages/onboarding/src/utils.ts
Owners: @Automattic/shilling

add modal to stats
  client/my-sites/stats/stats-list/action-promote.jsx
  client/my-sites/stats/stats-list/stats-list-item.jsx
Owners: none

add modal to stats (#67266)
  client/my-sites/stats/stats-list/action-promote.jsx
  client/my-sites/stats/stats-list/stats-list-item.jsx
Owners: none

update: fix tags styling
  client/my-sites/plans/jetpack-plans/product-lightbox/index.tsx
  client/my-sites/plans/jetpack-plans/product-lightbox/style.scss
Owners: none

Jetpack New pricing page - fix the header text in WPcom
  client/my-sites/plans/jetpack-plans/plans-header.tsx
Owners: none

Minor js code fixes
  client/components/videos-ui/style.scss
  client/components/videos-ui/video-modal.jsx
Owners: none

SiteIconPicker: add dropzone (#66907)
  client/components/site-icon-with-picker/index.tsx
  client/components/site-icon-with-picker/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/newsletter-setup/style.scss
Owners: none

Update launchpad dependency validation logic
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/task-helper.ts
Owners: none

Add e2e test breadcrumbs on plugin details
  client/my-sites/plugins/plugin-details.jsx
  packages/calypso-e2e/src/lib/pages/plugins-page.ts
  test/e2e/specs/plugins/plugins__search.ts
Owners: @Automattic/kitkat, @worldomonation, @WunderBart

Remove unrelated unused variable assignment to make linter happy
  client/my-sites/plugins/plugin-details.jsx
Owners: none

Add test for Search Results breadcrumb
  packages/calypso-e2e/src/lib/pages/plugins-page.ts
  test/e2e/specs/plugins/plugins__search.ts
Owners: @Automattic/kitkat, @worldomonation, @WunderBart

Fix typo
  test/e2e/specs/plugins/plugins__search.ts
Owners: @WunderBart, @Automattic/kitkat, @worldomonation

Add mobile test support
  test/e2e/specs/plugins/plugins__search.ts
Owners: @WunderBart, @Automattic/kitkat, @worldomonation

Search for plugin not on discovery page
  test/e2e/specs/plugins/plugins__search.ts
Owners: @WunderBart, @Automattic/kitkat, @worldomonation

Update test name from ecommerce to shipping
  test/e2e/specs/plugins/plugins__search.ts
Owners: @WunderBart, @Automattic/kitkat, @worldomonation

Fix step name style and move setViewportSize to beforeAll hook
  test/e2e/specs/plugins/plugins__search.ts
Owners: @WunderBart, @Automattic/kitkat, @worldomonation

Add localizePath back
  client/my-sites/plugins/plugin-details.jsx
Owners: none
