Repository Automattic/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/letero, @Automattic/shilling, @Automattic/reader, @Automattic/type-review, @Automattic/cylon, @Automattic/ajax, @nosolosw, @Automattic/dotcom-view-design, @noahtallen, @Automattic/experimentation-platform, @Automattic/team-calypso-frameworks, @Automattic/jetpack-search, @Automattic/team-calypso-platform, @Automattic/i18n, @WunderBart, @Automattic/kitkat, @worldomonation, @Automattic/ground-control, @Automattic/nomado

Refactor the start flow for tailored flows (#66950)
  client/landing/stepper/declarative-flow/internals/steps-repository/index.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/pre-launchpad/index.tsx
  client/landing/stepper/declarative-flow/link-in-bio.ts
  client/landing/stepper/declarative-flow/newsletter.ts
  client/signup/config/flows-pure.js
  client/signup/controller.js
  client/signup/main.jsx
  client/signup/signup-header/index.tsx
  client/signup/steps/domains/index.jsx
  client/signup/steps/emails/index.jsx
  client/signup/steps/plans/index.jsx
  client/signup/utils.js
  packages/onboarding/src/flow-progress/use-flow-progress.ts
Owners: @Automattic/nomado

update: add icon back
  client/my-sites/plans/jetpack-plans/product-lightbox/icons/check.svg
Owners: none

Add link in bio edit links completion logic
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/checklist-item.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/task-helper.ts
  client/state/sites/constants.js
  packages/data-stores/src/site/types.ts
Owners: none

update: fix general style
  client/my-sites/plans/jetpack-plans/product-lightbox/style.scss
Owners: none

fix: console error
  client/my-sites/plans/jetpack-plans/product-lightbox/icons/product-icons.tsx
Owners: none

fix: styling
  client/my-sites/plans/jetpack-plans/product-lightbox/style.scss
Owners: none

ETK Tutorials: Keep phpcs enabled throughout
  apps/editing-toolkit/editing-toolkit-plugin/tutorials/tutorials.php
Owners: none

Signup: When creating a new user, also attribute variationName of query params
  client/lib/signup/step-actions/index.js
Owners: none

Increases the "promote posts" sidebar so that it stretches to fill the screen vertically
  client/components/blazepress-widget/index.tsx
  client/components/blazepress-widget/style.scss
Owners: none

Add component property allowing empty form submission
  client/landing/stepper/declarative-flow/internals/steps-repository/subscribers/index.tsx
  packages/subscriber/src/components/add-form/index.tsx
Owners: none

Update to `caniuse-1.0.30001387` (#67210)
  yarn.lock
Owners: none

remove unused component
  client/me/purchases/remove-plan-dialog/index.tsx
Owners: @Automattic/shilling

Switch to reactive translation. Use generic messaging as pricing information
  client/my-sites/email/email-providers-comparison/price/price-information.tsx
Owners: @Automattic/letero

Fix domain fetch if param length is less than 2
  client/components/domains/register-domain-step/index.jsx
  client/lib/domains/get-fixed-domain-search.js
  client/signup/steps/domains/index.jsx
Owners: @Automattic/nomado

Retract dynamic interpretation of free trial months
  client/my-sites/email/email-providers-comparison/price/google-workspace.tsx
Owners: @Automattic/letero

Guard against undefined plugin variation
  client/lib/plugins/utils.js
Owners: none

Add product variations to WPORG plugins when using ES to populate the marketplace
  client/data/marketplace/types.ts
  client/data/marketplace/use-es-query.ts
  client/lib/plugins/utils.js
Owners: none

Remove unnecessary ts-ignore
  client/data/marketplace/use-es-query.ts
  client/lib/plugins/utils.js
Owners: none

Marketplace: Fix preinstalled premium plugins prices missing with Elasticsearch (#66770)
  client/data/marketplace/types.ts
  client/data/marketplace/use-es-query.ts
  client/lib/plugins/utils.js
Owners: none

Launchpad - fix infinite redirect / use site option selector in customer-home. (#67219)
  client/my-sites/customer-home/controller.jsx
Owners: none

Handle undefined nodes in `popoverSlotObserver`
  apps/wpcom-block-editor/src/calypso/features/iframe-bridge-server.js
Owners: none

Share ToS message between login methods
  client/blocks/login/login-form.jsx
  client/blocks/login/social.jsx
Owners: none

Jetpack De-Fusion: Slideshow shortcode
  client/components/embed-container/index.jsx
  client/components/gallery-shortcode/index.tsx
Owners: none

Update NodeJS to v16.17.0 (#67184)
  .circleci/config.yml
  .github/ISSUE_TEMPLATE/tooling_request.yml
  .github/workflows/editing-toolkit-plugin.yml
  .github/workflows/gardening.yml
  .github/workflows/icfy-stats.yml
  .nvmrc
  Dockerfile
  Dockerfile.base
  package.json
  packages/wp-babel-makepot/Dockerfile
  test/e2e/README.md
Owners: @noahtallen, @Automattic/ground-control, @WunderBart, @Automattic/kitkat, @worldomonation

Switch circleci/node to cimg/node
  .circleci/config.yml
Owners: none

Switch circleci/node to cimg/node (#67232)
  .circleci/config.yml
Owners: none

Refactor Featured image to resize thumbnails full width of post
  client/blocks/reader-featured-image/index.jsx
  client/blocks/reader-post-card/featured-asset.jsx
  client/blocks/reader-post-card/index.jsx
  client/blocks/reader-post-card/standard.jsx
  client/blocks/reader-post-card/style.scss
Owners: @Automattic/reader

Remove nvm steps
  .circleci/config.yml
Owners: none

Fix linting error
  docs/i18n.md
Owners: none

Remove another instance of install-node
  .circleci/config.yml
Owners: none

Update the border color to the error color (red) instead of blue
  client/my-sites/checkout/composite-checkout/components/third-party-plugins-developer-account.tsx
Owners: @Automattic/shilling

Remove `launch-wpcom-ssh` feature flag
  client/my-sites/hosting/sftp-card/index.js
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: none

center icon in scroll to top button
  client/sites-dashboard/components/sites-dashboard.tsx
Owners: none

Manually add branch to trigger workflow
  .circleci/config.yml
Owners: none

remove unnecessary z-index
  client/sites-dashboard/components/sites-dashboard.tsx
  packages/components/src/site-thumbnail/style.scss
Owners: none

Update the logic to be inside the styled component props
  client/my-sites/checkout/composite-checkout/components/third-party-plugins-developer-account.tsx
Owners: @Automattic/shilling

Update various dependencies of the windows build in CircleCI
  .circleci/config.yml
Owners: none

Fix circleci branch trigger syntax
  .circleci/config.yml
Owners: none

ETK Tutorials: Keep phpcs enabled throughout (#67227)
  apps/editing-toolkit/editing-toolkit-plugin/tutorials/tutorials.php
Owners: none

update choco syntax
  .circleci/config.yml
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/data/query-gsuite-users @Automattic/letero
/client/components/domains/contact-details-form-fields/index.jsx @Automattic/letero
/client/components/gsuite @Automattic/letero
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/letero
/client/lib/domains/email-forwarding @Automattic/letero
/client/lib/gsuite @Automattic/letero
/client/lib/titan @Automattic/letero
/client/me/purchases/remove-purchase/index.jsx @Automattic/letero
/client/my-sites/checkout/checkout-thank-you/google-apps-details.jsx @Automattic/letero
/client/my-sites/checkout/checkout-thank-you/index.jsx @Automattic/letero
/client/my-sites/checkout/checkout/domain-details-form.jsx @Automattic/letero
/client/my-sites/checkout/checkout/index.jsx @Automattic/letero
/client/my-sites/checkout/controller.jsx @Automattic/letero
/client/my-sites/domains/components/domain-warnings @Automattic/letero
/client/my-sites/domains/controller.jsx @Automattic/letero
/client/my-sites/email @Automattic/letero
/client/state/data-layer/wpcom/gsuite-users @Automattic/letero
/client/state/gsuite-users @Automattic/letero

# Payments
/client/components/credit-card-form-fields/ @Automattic/shilling
/client/components/payment-logo/ @Automattic/shilling
/client/lib/cart-values/ @Automattic/shilling
/client/lib/checkout/ @Automattic/shilling
/client/lib/siftscience/ @Automattic/shilling
/client/lib/store-transactions/ @Automattic/shilling
/client/me/memberships/ @Automattic/shilling
/client/me/purchases/ @Automattic/shilling
/client/my-sites/checkout/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/client/state/billing-transactions/ @Automattic/shilling
/client/state/memberships/ @Automattic/shilling
/client/state/order-transactions/ @Automattic/shilling
/client/state/plans/ @Automattic/shilling
/client/state/receipts/ @Automattic/shilling
/client/state/sites/plans/ @Automattic/shilling
/client/state/stored-cards/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/reader
/client/blocks/reader-* @Automattic/reader
/client/state/reader @Automattic/reader

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Editing Toolkit Modules
/apps/editing-toolkit/editing-toolkit-plugin/site-editor @Automattic/cylon
/apps/editing-toolkit/editing-toolkit-plugin/dotcom-fse @Automattic/cylon
/apps/editing-toolkit/editing-toolkit-plugin/posts-list-block @Automattic/ajax
/apps/editing-toolkit/editing-toolkit-plugin/global-styles @Automattic/cylon @nosolosw
/apps/editing-toolkit/editing-toolkit-plugin/block-patterns @Automattic/dotcom-view-design

# Editing Toolkit Workflow Files
/.github/workflows/editing-toolkit-plugin.yml @noahtallen
/.github/workflows/send-calypso-app-build-trigger.sh @noahtallen

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# Framework
/client/boot @Automattic/team-calypso-frameworks
/client/controller @Automattic/team-calypso-frameworks
/client/layout @Automattic/team-calypso-frameworks
/client/server @Automattic/team-calypso-frameworks
/packages/js-utils @Automattic/team-calypso-frameworks

# Jetpack Search
/client/my-sites/jetpack-search @Automattic/jetpack-search

# TeamCity configuration
/.teamcity @Automattic/team-calypso-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# E2E specs
/test/e2e @WunderBart @Automattic/kitkat @worldomonation
/packages/calypso-e2e @Automattic/kitkat @worldomonation

# Node updates
/.nvmrc @Automattic/ground-control

# Domains
/client/components/data/domain-management @Automattic/nomado
/client/components/data/query-countries/domains.jsx @Automattic/nomado
/client/components/domains @Automattic/nomado
/client/data/domains @Automattic/nomado
/client/document/domains-landing.jsx @Automattic/nomado
/client/landing/domains @Automattic/nomado
/client/lib/domains @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domain-mapping-details.jsx @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domain-registration-details.jsx @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/my-sites/current-site/domain-warnings.jsx @Automattic/nomado
/client/my-sites/domains @Automattic/nomado
/client/signup/steps/domains @Automattic/nomado
/client/signup/steps/site-or-domain/domain-image.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/domain-picker @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado
/packages/wpcom.js/src/lib/domain.email.js @Automattic/nomado
/packages/wpcom.js/src/lib/domain.js @Automattic/nomado
/packages/wpcom.js/src/lib/domains.js @Automattic/nomado
