Repository Automattic/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/team-calypso, @Automattic/onboarding-dev, @Automattic/luna, @Automattic/reader, @Automattic/gutenpack

Add `getVerticals` selector.
  client/state/signup/verticals/selectors.js
Owners: @Automattic/onboarding-dev

Add a test suite for the signup/verticals/reducer
  client/state/signup/verticals/test/reducer.js
Owners: @Automattic/onboarding-dev

Add: verticals substate tree (#31716)
  client/state/signup/reducer.js
  client/state/signup/verticals/reducer.js
  client/state/signup/verticals/selectors.js
  client/state/signup/verticals/test/reducer.js
  client/state/signup/verticals/test/selectors.js
Owners: @Automattic/onboarding-dev

Implement <QueryVerticals/> component
  client/components/data/query-signup-verticals/index.jsx
Owners: none

query-signup-verticals => query-verticals
  client/components/data/query-verticals/index.jsx
Owners: none

Make use of `componentDidUpdate()` life cycle method to make sure `QueryVerticals` component is fetching per updates.
  client/components/data/query-verticals/index.jsx
Owners: none

Give searchTerm an empty string as the default
  client/components/data/query-verticals/index.jsx
Owners: none

Add a test suite for QueryVerticals component
  client/components/data/query-verticals/index.jsx
  client/components/data/query-verticals/test/index.js
Owners: none

Add: <QueryVerticals/> component (#31718)
  client/components/data/query-verticals/index.jsx
  client/components/data/query-verticals/test/index.js
Owners: none

Plumb the underlying `signup.verticals` state tree onto `SiteVerticalsSuggestionSearch` component
  client/components/site-verticals-suggestion-search/index.jsx
  client/signup/steps/site-topic/form.jsx
Owners: @Automattic/onboarding-dev

Add a `isNavigating` parameter to the `onChange()` callback of the component `SuggestionSearch`
  client/components/suggestion-search/README.md
  client/components/suggestion-search/index.jsx
Owners: none

Draft: making the site vertical data a derived data from selector, rather than a vanilla state tree.
  client/state/signup/steps/site-vertical/reducer.js
  client/state/signup/steps/site-vertical/selectors.js
Owners: @Automattic/onboarding-dev

Derive `isVerticalSearchPending` from `verticals` props.
  client/components/site-verticals-suggestion-search/index.jsx
  client/components/suggestion-search/index.jsx
  client/signup/steps/site-topic/form.jsx
Owners: @Automattic/onboarding-dev

Store the candidate vertical list in a state so that a user can navigate through it without updating the list, since the props `verticals` is changing depending on the `searchValue` props.
  client/components/site-verticals-suggestion-search/index.jsx
Owners: @Automattic/onboarding-dev

Tweak the definition of isVerticalSearchPending.
  client/components/site-verticals-suggestion-search/index.jsx
Owners: @Automattic/onboarding-dev

Move some selectors down and add a TODO comment to note down the future polishing plan.
  client/state/signup/steps/site-vertical/selectors.js
Owners: @Automattic/onboarding-dev

Update the test suite of site-vertical/selectors
  client/state/signup/steps/site-vertical/reducer.js
  client/state/signup/steps/site-vertical/selectors.js
  client/state/signup/steps/site-vertical/test/selectors.js
Owners: @Automattic/onboarding-dev

Update the `about` step to accommodate the related changes of <SiteVerticalsSuggestionSearch/>
  client/components/site-verticals-suggestion-search/index.jsx
  client/signup/steps/about/index.jsx
Owners: @Automattic/onboarding-dev

Fix the <SiteVerticalsSuggestionSearch /> component tests and remove unused props.
  client/components/site-verticals-suggestion-search/index.jsx
  client/components/site-verticals-suggestion-search/test/__snapshots__/index.js.snap
  client/components/site-verticals-suggestion-search/test/index.js
Owners: @Automattic/onboarding-dev

Add the missing constants.js
  client/components/site-verticals-suggestion-search/index.jsx
  client/state/signup/verticals/constants.js
Owners: @Automattic/onboarding-dev

More TODOs
  client/components/site-verticals-suggestion-search/index.jsx
Owners: @Automattic/onboarding-dev

Remove the unused `lastUpdated`
  client/components/site-verticals-suggestion-search/index.jsx
Owners: @Automattic/onboarding-dev

Use `getSiteVerticalName()` for getting the site vertical name.
  client/state/signup/steps/site-vertical/selectors.js
Owners: @Automattic/onboarding-dev

Fix a type
  client/components/suggestion-search/README.md
Owners: none

Overriding default layout styles to ensure the sidebar matches the signup default background color.
  client/signup/style.scss
Owners: @Automattic/onboarding-dev

Wiring the new `verticals` state tree to the related components (#31746)
  client/components/site-verticals-suggestion-search/index.jsx
  client/components/site-verticals-suggestion-search/test/__snapshots__/index.js.snap
  client/components/site-verticals-suggestion-search/test/index.js
  client/components/suggestion-search/README.md
  client/components/suggestion-search/index.jsx
  client/signup/steps/about/index.jsx
  client/signup/steps/site-topic/form.jsx
  client/state/signup/steps/site-vertical/reducer.js
  client/state/signup/steps/site-vertical/selectors.js
  client/state/signup/steps/site-vertical/test/selectors.js
  client/state/signup/verticals/constants.js
Owners: @Automattic/onboarding-dev

If the site type & site vertical data exists without a preview, let <SiteInformation/> component fetch one for itself.
  client/signup/steps/site-information/index.jsx
Owners: @Automattic/onboarding-dev

No need to use Yoda condition here.
  client/signup/steps/site-information/index.jsx
Owners: @Automattic/onboarding-dev

The checklist prompt is made visible when the help icon is closed and opened again, by persisting the taskId
  client/blocks/inline-help/index.jsx
  client/my-sites/checklist/wpcom-checklist/component.jsx
  client/state/inline-help/reducer.js
  client/state/selectors/get-task-urls.js
Owners: @Automattic/onboarding-dev

UpgradeNudgeExpanded: migrate CSS to webpack (#31758)
  assets/stylesheets/_components.scss
  client/blocks/upgrade-nudge-expanded/index.jsx
  client/my-sites/media-library/style.scss
Owners: none

E2E tests: Fix Jetpack connect (and others) tests (#31668)
  .gitignore
  test/e2e/.gitignore
  test/e2e/lib/components/nav-bar-component.js
  test/e2e/lib/components/secure-payment-component.js
  test/e2e/lib/components/sidebar-component.js
  test/e2e/lib/flows/login-flow.js
  test/e2e/lib/pages/jetpack/jetpack-connect-add-credentials-page.js
  test/e2e/lib/pages/jetpack/jetpack-connect-page.js
  test/e2e/lib/pages/jetpack/jetpack-connect-site-topic-page.js
  test/e2e/lib/pages/jetpack/jetpack-connect-site-type-page.js
  test/e2e/lib/pages/jetpack/jetpack-connect-user-type-page.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-connect-spec.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-onboarding-spec.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-plugins-spec.js
  test/e2e/specs/wp-invite-users-spec.js
  test/e2e/specs/wp-media-editor-spec.js
  test/e2e/specs/wp-theme-switch-spec.js
Owners: @Automattic/team-calypso

Make SDK Gutenberg generic (#31723)
  bin/sdk/gutenberg.js
Owners: @Automattic/team-calypso

Make link colors a bit lighter
  client/jetpack-connect/style.scss
Owners: @Automattic/luna

Components: Migrate HrWithText CSS to Webpack
  assets/stylesheets/_components.scss
  client/components/hr-with-text/index.jsx
Owners: none

Remove prettier pragma
  client/components/hr-with-text/index.jsx
Owners: none

Hide plan icon on small screens
  client/my-sites/plans/current-plan/style.scss
Owners: none

My Plan: reorder plan feature cards to highlight focus on security and performance (#31749)
  client/blocks/product-purchase-features-list/index.jsx
  client/my-sites/plans/current-plan/header.jsx
  client/my-sites/plans/current-plan/style.scss
Owners: none

Replace JP color for var
  client/jetpack-connect/style.scss
Owners: @Automattic/luna

Onboarding: add overriding color var for Jetpack flow
  client/jetpack-connect/style.scss
Owners: @Automattic/luna

Remove unnecessary overriding rules
  client/jetpack-connect/style.scss
Owners: @Automattic/luna

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Root level files and configuration
/*.* @Automattic/team-calypso

# Scripts
/bin @Automattic/team-calypso

# Client initialization
/client/boot @Automattic/team-calypso

# Client blocks
/client/blocks/inline-help @Automattic/onboarding-dev

# Client state
/client/state/jetpack-connect @Automattic/luna
/client/state/signup @Automattic/onboarding-dev

# Client components
/client/components/site-verticals-suggestion-search @Automattic/onboarding-dev

# Client framework parts
/client/config @Automattic/team-calypso
/client/controller @Automattic/team-calypso
/client/document @Automattic/team-calypso
/client/layout @Automattic/team-calypso

# Client sites
/client/my-sites/checklist @Automattic/onboarding-dev

# Developer guides
/docs/coding-guidelines @Automattic/team-calypso
/docs/guide @Automattic/team-calypso
/docs/testing @Automattic/team-calypso

# Jetpack Connect
/client/jetpack-connect @Automattic/luna

# Reader
/client/reader @Automattic/reader
/client/blocks/reader-* @Automattic/reader
/client/state/reader @Automattic/reader

# Server infrastructure
/server @Automattic/team-calypso

# Signup
/client/signup @Automattic/onboarding-dev

# Test infrastructure
/test @Automattic/team-calypso

# Jetpack Gutenberg integrations
packages/jetpack-blocks @Automattic/gutenpack

# Calypso build packages
packages/calypso-build @Automattic/gutenpack
packages/calypso-color-schemes @Automattic/gutenpack
