Repository Automattic/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/team-calypso, @Automattic/onboarding-dev, @Automattic/luna, @Automattic/reader, @Automattic/gutenpack

Revert "simplifications from review"
  client/gutenberg/extensions/likes-and-sharing/panel.js
Owners: none

simplifications from review
  client/gutenberg/extensions/likes-and-sharing/panel.js
Owners: none

explicitly pass meta arg
  client/gutenberg/extensions/likes-and-sharing/panel.js
Owners: none

simplify sharing code with register_rest_field on the backend
  client/gutenberg/extensions/likes-and-sharing/panel.js
Owners: none

renamed some variables to try to reduce confusion
  client/gutenberg/extensions/likes-and-sharing/panel.js
Owners: none

simplify likes setting with upstream changes to API
  client/gutenberg/extensions/likes-and-sharing/panel.js
Owners: none

fix up index.json after rebase
  packages/jetpack-blocks/src/preset/index.json
Owners: @Automattic/gutenpack

Moves the likes-and-sharing gutenberg extension to the `jetpack-blocks` package
  packages/jetpack-blocks/src/blocks/likes-and-sharing/editor.js
  packages/jetpack-blocks/src/blocks/likes-and-sharing/index.js
  packages/jetpack-blocks/src/blocks/likes-and-sharing/panel.js
Owners: @Automattic/gutenpack

Likes and sharing: update import paths
  packages/jetpack-blocks/src/blocks/likes-and-sharing/editor.js
  packages/jetpack-blocks/src/blocks/likes-and-sharing/index.js
  packages/jetpack-blocks/src/blocks/likes-and-sharing/panel.js
Owners: @Automattic/gutenpack

Gutenframe: Display success message after trashing a post - Take 2 (#31704)
  client/gutenberg/editor/calypsoify-iframe.jsx
Owners: none

Update redirect url to go to checklist Remove double negation as per eslint's persuasive nudges
  client/signup/processing-screen/index.jsx
Owners: @Automattic/onboarding-dev

Update method name so that it does what it says it does. We're not showing the preview anymore, but the checklist.
  client/signup/processing-screen/index.jsx
Owners: @Automattic/onboarding-dev

Signup: Update redirect url to go to checklist after site creation (#31744)
  client/signup/processing-screen/index.jsx
Owners: @Automattic/onboarding-dev

Ensuring the welcome prompt goes away whenever the popover is given the instruction to hide.
  client/state/inline-help/reducer.js
Owners: none

Redirect to launch flow from Settings and Checklist (#31709)
  client/my-sites/checklist/wpcom-checklist/component.jsx
  client/my-sites/site-settings/form-general.jsx
Owners: @Automattic/onboarding-dev

added reducer tests
  client/state/inline-help/test/reducer.js
Owners: none

Plans: Increase number of max retries
  client/my-sites/plans/current-plan/jetpack-product-install/index.js
Owners: none

Plans: Rename JetpackProductInstall install method
  client/my-sites/plans/current-plan/jetpack-product-install/index.js
Owners: none

DROPME: Demonstrate broken build
  .circleci/config.yml
  client/gutenberg/extensions/presets/o2/editor.js
Owners: @Automattic/team-calypso

Domains: remove unused .icann-verification styles
  assets/stylesheets/_components.scss
  client/my-sites/domains/domain-management/components/icann-verification/style.scss
Owners: none

Domains: migrate .email-verification CSS styles to webpack
  assets/stylesheets/_components.scss
  client/my-sites/domains/domain-management/components/email-verification/index.jsx
  client/my-sites/domains/domain-management/components/email-verification/style.scss
Owners: none

Domains: shorten the import path of IcannVerificationCard component
  client/my-sites/domains/domain-management/components/icann-verification/index.jsx
  client/my-sites/domains/domain-management/edit/registered-domain.jsx
  client/my-sites/domains/domain-management/name-servers/index.jsx
Owners: none

Plans: Polish Jetpack product installer retry mechanism
  client/my-sites/plans/current-plan/jetpack-product-install/index.js
Owners: none

Bump jetpack-blocks package version
  packages/jetpack-blocks/package.json
Owners: @Automattic/gutenpack

Move e2e-related ingores to e2e folder
  .gitignore
  test/e2e/.gitignore
Owners: @Automattic/team-calypso

Some code clean-up
  test/e2e/lib/components/sidebar-component.js
  test/e2e/lib/flows/login-flow.js
  test/e2e/specs/wp-media-editor-spec.js
  test/e2e/specs/wp-theme-switch-spec.js
Owners: @Automattic/team-calypso

Update jetpack connect tests to reflect recent onboarding changes
  test/e2e/lib/pages/jetpack/jetpack-connect-page.js
  test/e2e/lib/pages/jetpack/jetpack-connect-site-topic-page.js
  test/e2e/lib/pages/jetpack/jetpack-connect-site-type-page.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-connect-spec.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-plugins-spec.js
Owners: @Automattic/team-calypso

Add UserType JPO step
  test/e2e/lib/pages/jetpack/jetpack-connect-site-topic-page.js
  test/e2e/lib/pages/jetpack/jetpack-connect-user-type-page.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-connect-spec.js
Owners: @Automattic/team-calypso

Plans: Implement error handling for JetpackProductInstall
  client/my-sites/plans/current-plan/jetpack-product-install/index.js
Owners: none

Jetpack blocks: Major version bump (#31748)
  packages/jetpack-blocks/package.json
Owners: @Automattic/gutenpack

Tighted up current plan header
  client/my-sites/plans/current-plan/style.scss
Owners: none

Pin sibling packages and add package-lock
  packages/jetpack-blocks/package-lock.json
  packages/jetpack-blocks/package.json
Owners: @Automattic/gutenpack

Plans: Document JetpackProductInstall with inline code
  client/my-sites/plans/current-plan/jetpack-product-install/index.js
Owners: none

Add a new EditorMediaModal for Classic Blocks
  client/gutenberg/editor/calypsoify-iframe.jsx
Owners: none

Only use one Media Modal
  client/gutenberg/editor/calypsoify-iframe.jsx
  client/post-editor/editor-media-modal/index.jsx
Owners: none

Add inline comments for the new isGutenberg prop
  client/post-editor/editor-media-modal/index.jsx
Owners: none

Wire up the Media Modal with the contextual edit image in Classic blocks
  client/gutenberg/editor/calypsoify-iframe.jsx
Owners: none

Plans: More JetpackProductInstall inline docs
  client/my-sites/plans/current-plan/jetpack-product-install/index.js
Owners: none

State: Fix inline docs for product install data layer
  client/state/data-layer/wpcom/jetpack-blogs/product-install/index.js
Owners: none

Block Editor: use Calypso Media Modal in Classic Blocks (#31596)
  client/gutenberg/editor/calypsoify-iframe.jsx
  client/post-editor/editor-media-modal/index.jsx
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Root level files and configuration
/*.* @Automattic/team-calypso

# Scripts
/bin @Automattic/team-calypso

# Client initialization
/client/boot @Automattic/team-calypso

# Client blocks
/client/blocks/inline-help @Automattic/onboarding-dev

# Client state
/client/state/jetpack-connect @Automattic/luna
/client/state/signup @Automattic/onboarding-dev

# Client components
/client/components/site-verticals-suggestion-search @Automattic/onboarding-dev

# Client framework parts
/client/config @Automattic/team-calypso
/client/controller @Automattic/team-calypso
/client/document @Automattic/team-calypso
/client/layout @Automattic/team-calypso

# Client sites
/client/my-sites/checklist @Automattic/onboarding-dev

# Developer guides
/docs/coding-guidelines @Automattic/team-calypso
/docs/guide @Automattic/team-calypso
/docs/testing @Automattic/team-calypso

# Jetpack Connect
/client/jetpack-connect @Automattic/luna

# Reader
/client/reader @Automattic/reader
/client/blocks/reader-* @Automattic/reader
/client/state/reader @Automattic/reader

# Server infrastructure
/server @Automattic/team-calypso

# Signup
/client/signup @Automattic/onboarding-dev

# Test infrastructure
/test @Automattic/team-calypso

# Jetpack Gutenberg integrations
packages/jetpack-blocks @Automattic/gutenpack

# Calypso build packages
packages/calypso-build @Automattic/gutenpack
packages/calypso-color-schemes @Automattic/gutenpack
