Repository Automattic/wp-calypso, pull requests merged in 2018-06, with the labels that each got.

#25113 Comments: add paste-to-link functionality to comments textarea
  client/blocks/comments/form-textarea.jsx
  client/lib/paste-to-link/README.md
  client/lib/paste-to-link/index.jsx
  config/development.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Comments, Reader, [Status] Ready to Merge

#25181 Jetpack Connect: Use short boolean prop shorthand in example components
  client/jetpack-connect/example-components/jetpack-activate.jsx
  client/jetpack-connect/example-components/jetpack-connect.jsx
  client/jetpack-connect/example-components/jetpack-install.jsx
Labels: Jetpack, NUX, [Status] Ready to Merge, [Type] Janitorial

#25154 Stats: Fix StatsMostPopular notice isCompact prop
  client/my-sites/stats/most-popular/index.jsx
Labels: Stats, [Status] Ready to Merge, [Type] Janitorial

#25022 State: Remove unused Jetpack Jumpstart state, components and utilities 🗑
  client/components/data/query-jetpack-jumpstart/README.md
  client/components/data/query-jetpack-jumpstart/index.jsx
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/state/action-types.js
  client/state/jetpack/jumpstart/actions.js
  client/state/jetpack/jumpstart/reducer.js
  client/state/jetpack/jumpstart/test/actions.js
  client/state/jetpack/jumpstart/test/fixture/index.js
  client/state/jetpack/jumpstart/test/reducer.js
  client/state/jetpack/reducer.js
  client/state/selectors/get-jetpack-jumpstart-status.js
  client/state/selectors/is-activating-jetpack-jumpstart.js
  client/state/selectors/is-deactivating-jetpack-jumpstart.js
  client/state/selectors/is-requesting-jetpack-jumpstart-status.js
  client/state/selectors/test/fixtures/jetpack-jumpstart.js
  client/state/selectors/test/get-jetpack-jumpstart-status.js
  client/state/selectors/test/is-activating-jetpack-jumpstart.js
  client/state/selectors/test/is-deactivating-jetpack-jumpstart.js
  client/state/selectors/test/is-requesting-jetpack-jumpstart-status.js
Labels: Components, Jetpack, State, [Status] Ready to Merge, [Type] Janitorial

#24982 Purchases: Display credits purchase type in meta
  client/me/purchases/manage-purchase/purchase-meta.jsx
Labels: Billing, Purchases, [Status] Ready to Merge, [Type] Enhancement

#25210 Language switcher: Adding a tracks record event
  client/me/account/main.jsx
Labels: Analytics, i18n

#25221 Update the timestamp on multiyearSubscriptions test
  client/lib/abtest/active-tests.js
Labels: [Status] Needs Review

#24894 Me: Update connected applications to use Redux
  client/lib/two-step-authorization/index.js
  client/me/connected-application-item/index.jsx
  client/me/connected-applications/index.jsx
  client/me/security/controller.js
Labels: Me, [Status] Needs Review, [Type] Janitorial

#25041 Jetpack Connect: Use DocumentHead instead of setTitle() in plans
  client/jetpack-connect/controller.js
  client/jetpack-connect/plans-landing.jsx
  client/jetpack-connect/plans.jsx
  client/jetpack-connect/test/__snapshots__/plans.js.snap
Labels: Jetpack, NUX, [Status] Ready to Merge, [Type] Janitorial

#24979 Signup: Update DesignTypeStep and DesignTypeWithStoreStep to use TileGrid
  client/signup/steps/design-type-with-atomic-store/index.jsx
  client/signup/steps/design-type-with-store/index.jsx
  client/signup/steps/design-type-with-store/style.scss
  client/signup/steps/design-type-with-store/type-images.jsx
  client/signup/steps/design-type/index.jsx
  client/signup/steps/design-type/style.scss
Labels: Signup, [Status] Ready to Merge, [Type] Janitorial

#25211 Lint fixes: client/state/reader
  client/state/reader/follows/actions.js
  client/state/reader/posts/test/actions.js
  client/state/reader/related-posts/test/reducer.js
  client/state/reader/sites/schema.js
Labels: Framework, Reader, [Status] Needs Review, [Type] Janitorial

#25236 Framework: Undo accidental revert of #25125
  client/state/data-layer/wpcom/theme-filters/index.js
Labels: Framework, [Status] Needs Review

#25173 Signup: Save steps data to persist signup progress
  client/signup/steps/plans/index.jsx
  client/signup/steps/user/index.jsx
Labels: Plans, Signup, [Status] Needs e2e Testing, [Status] Ready to Merge, [Type] Bug

#25085 Signup: Improve transitions and fix incorrect props
  client/signup/main.jsx
  client/signup/steps/about/index.jsx
  client/signup/steps/domains/index.jsx
  client/signup/steps/domains/style.scss
Labels: Domains, Signup, [Status] Needs Review, [Type] Enhancement

#25051 Domains: Enable the GDPR consent management page in production
  config/desktop.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: Domains, [Status] Ready to Merge

#25194 Domains: Revert prevention of prefilling WHOIS info for Tucows.
  client/my-sites/domains/domain-management/edit-contact-info/index.jsx
Labels: Domains, [Status] Ready to Merge

#25239 Revert #25091 after temporary changes for GDPR.
  client/my-sites/domains/domain-management/components/email-verification/index.jsx
Labels: Domains, [Status] Needs Review

#25123 Framework: `dispatchRequest` update (user auth options)
  client/state/data-layer/wpcom/users/auth-options/index.js
Labels: Framework, [Status] Needs Review

#25127 Framework: `dispatchRequest` update (plugins new)
  client/state/data-layer/wpcom/sites/plugins/new/index.js
  client/state/data-layer/wpcom/sites/plugins/new/test/index.js
Labels: Framework, [Status] Ready to Merge

#25129 Framework: `dispatchRequest` update (blog stickers add)
  client/state/data-layer/wpcom/sites/blog-stickers/add/index.js
  client/state/data-layer/wpcom/sites/blog-stickers/add/test/index.js
Labels: Framework, [Status] Needs Review

#25131 Framework: `dispatchRequest` update (blog stickers remove)
  client/state/data-layer/wpcom/sites/blog-stickers/remove/index.js
  client/state/data-layer/wpcom/sites/blog-stickers/remove/test/index.js
Labels: Framework, [Status] Needs Review

#25148 User mentions: fix multi-line text selection with keyboard
  client/blocks/user-mentions/add.jsx
Labels: Comments, Reader, [Status] Ready to Merge

#25128 Framework: `dispatchRequest` update (rewind downloads)
  client/state/data-layer/wpcom/sites/rewind/downloads/index.js
Labels: Framework, [Status] Needs Review

#25134 Framework: `dispatchRequest` update (rewind creds delete)
  client/state/data-layer/wpcom/activity-log/delete-credentials/index.js
Labels: Framework, [Status] Needs Review

#25132 Framework: `dispatchRequest` update (activity log activate)
  client/state/data-layer/wpcom/activity-log/activate/index.js
  client/state/data-layer/wpcom/activity-log/activate/test/index.js
Labels: Framework, [Status] Needs Review

#25133 Framework: `dispatchRequest` update (activity log deactivate)
  client/state/data-layer/wpcom/activity-log/deactivate/index.js
  client/state/data-layer/wpcom/activity-log/deactivate/test/index.js
Labels: Framework, [Status] Needs Review

#25137 Framework: `dispatchRequest` update (al rewind downloads)
  client/state/data-layer/wpcom/activity-log/rewind/downloads/index.js
Labels: Framework, [Status] Needs Review

#25138 Framework: `dispatchRequest` update (rewind restore status)
  client/state/data-layer/wpcom/activity-log/rewind/restore-status/index.js
  client/state/data-layer/wpcom/activity-log/rewind/restore-status/test/index.js
Labels: Framework, [Status] Needs Review

#25141 Framework: `dispatchRequest` update (rewind creds update)
  client/state/data-layer/wpcom/activity-log/update-credentials/index.js
Labels: Framework, [Status] Needs Review

#25122 Framework: `dispatchRequest` update (video poster select)
  client/state/data-layer/wpcom/videos/poster/index.js
Labels: Framework, [Status] Needs Review

#25228 Remove dependency cycle in post-normalizer
  client/blocks/reader-post-card/gallery.jsx
  client/lib/post-normalizer/rule-content-detect-media.js
  client/state/reader/posts/normalization-rules.js
  client/state/reader/posts/sizes.js
Labels: Reader, [Status] Needs Review, [Status] Needs e2e Testing

#25203 Upgrade webpack dev and hot middleware
  npm-shrinkwrap.json
  package.json
Labels: Build, Framework, [Status] Needs Review

#25251 Ad Tracking: add a debug statement for `isAdTrackingAllowed`
  client/lib/analytics/ad-tracking.js
Labels: Ads

#25042 Guided Tours: Fix Simple Payments tour minor visual issues
  client/layout/guided-tours/config-elements/step.js
  client/layout/guided-tours/style.scss
  client/layout/guided-tours/tours/simple-payments-email-tour.js
Labels: Guided Tours, Simple Payments, [Status] Ready to Merge

#25233 Podcasts: set initial values for title and subtitle when enabling podcast
  client/my-sites/site-settings/podcasting-details/index.jsx
Labels: Site Settings, [Status] Needs Review

#25247 Ad Tracking: Nanigans - ignore all products that have are free
  client/lib/analytics/ad-tracking.js
Labels: Ads, [Status] Ready to Merge

#25126 Framework: `dispatchRequest` update (sites media)
  client/state/data-layer/wpcom/sites/media/index.js
  client/state/data-layer/wpcom/sites/media/test/index.js
Labels: Framework, [Status] Needs Review

#25235 Settings: Better handling of Podcasting settings on private sites
  client/components/section-header/index.jsx
  client/my-sites/site-settings/form-general.jsx
  client/my-sites/site-settings/podcasting-details/index.jsx
  client/my-sites/site-settings/podcasting-details/link.jsx
  client/my-sites/site-settings/podcasting-details/private-site.jsx
  client/my-sites/site-settings/podcasting-details/style.scss
  client/state/selectors/get-podcasting-category-id.js
Labels: Site Settings, [Status] Needs Review

#25255 Google My Business: Update SEO url on Select Business Type page
  client/my-sites/google-my-business/select-business-type/index.js
Labels: Google My Business, [Status] Needs Review

#25209 Account closure: add email address reuse warning
  client/me/account-close/main.jsx
Labels: Privacy/GDPR, [Status] Ready to Merge

#25197 Don't show problematic links when in the domain connect authorize flow.
  client/layout/masterbar/logged-out.jsx
  client/lib/domains/utils.js
  client/login/wp-login/login-links.jsx
Labels: Domains, [Status] Ready to Merge

#25248 Settings: fix change button obfuscated by prompt
  client/my-sites/site-settings/site-icon-setting/index.jsx
Labels: NUX, OSS Citizen, Site Settings, [Status] Needs Review

#25086 Post Editor: refactor loading history revision
  client/post-editor/post-editor.jsx
Labels: Editor, [Status] Ready to Merge

#25087 Post Editor: cleanup restoring trashed post
  client/post-editor/post-editor.jsx
  client/post-editor/restore-post-dialog.jsx
Labels: Editor, [Status] Ready to Merge

#25088 Post Editor: promisify the save and autosave actions
  client/lib/posts/actions.js
  client/lib/posts/test/actions.js
  client/lib/posts/test/mocks/lib/wp.js
  client/post-editor/post-editor.jsx
Labels: Editor, [Status] Needs e2e Testing, [Status] Ready to Merge

#25249 Make it possible to remove coupons from the cart
  client/my-sites/checkout/cart/cart-coupon.jsx
  client/my-sites/checkout/cart/style.scss
  client/my-sites/checkout/cart/test/cart-coupon.js
  client/my-sites/checkout/checkout/style.scss
Labels: [Status] Needs Review, [Tests] Includes Tests

#25098 Google My Business: Add location search block
  assets/stylesheets/_components.scss
  client/blocks/location-search/README.md
  client/blocks/location-search/docs/example.jsx
  client/blocks/location-search/index.jsx
  client/blocks/location-search/prediction.jsx
  client/blocks/location-search/style.scss
  client/components/search/README.md
  client/devdocs/design/blocks.jsx
  config/_shared.json
Labels: Google My Business, [Status] Needs Review

#25272 Revert "[Coupons] Make it possible to remove coupons from the cart (#25249)"
  client/my-sites/checkout/cart/cart-coupon.jsx
  client/my-sites/checkout/cart/style.scss
  client/my-sites/checkout/cart/test/cart-coupon.js
  client/my-sites/checkout/checkout/style.scss
Labels: [Status] Needs Review

#25267 Cleanup: Remove unused destinationType
  client/jetpack-connect/controller.js
  client/me/purchases/controller.jsx
  client/me/purchases/manage-purchase/index.jsx
  client/my-sites/plans/controller.jsx
Labels: [Status] Ready to Merge, [Type] Janitorial

#25226 Jetpack Connect: Use Fragment in PlansLanding
  client/jetpack-connect/plans-landing.jsx
Labels: Jetpack, NUX, [Status] Ready to Merge, [Type] Janitorial

#25225 Framework: Cleanup unused legacy connected applications store and methods
  client/lib/connected-applications-data/README.md
  client/lib/connected-applications-data/index.js
  client/lib/wpcom-undocumented/lib/me.js
Labels: Framework, Me, [Status] Ready to Merge, [Type] Janitorial

#25238 Podcasting: display a copyable feed URL that updates on category change
  client/my-sites/site-settings/podcasting-details/index.jsx
Labels: Site Settings, [Status] Needs Review

#25257 Store: Fix error when saving product with categories containing escaped characters
  client/extensions/woocommerce/app/products/products-list-row.js
  client/extensions/woocommerce/state/data-layer/product-categories/index.js
  client/extensions/woocommerce/state/data-layer/product-categories/test/index.js
  client/extensions/woocommerce/state/data-layer/utils.js
Labels: Store, [Status] Ready to Merge

#25118 Post Editor: reduxify the recordSaveEvent action
  client/lib/posts/actions.js
  client/lib/posts/post-edit-store.js
  client/lib/posts/stats.js
  client/lib/posts/test/actions.js
  client/post-editor/post-editor.jsx
Labels: Editor, [Status] Ready to Merge

#25259 Activity Log: show error when theme update fails, allow to restart
  client/my-sites/stats/activity-log-tasklist/index.jsx
Labels: Activity Log, [Pri] BLOCKER, [Status] Needs Review, [Type] Bug

#25279 Config: Add Jetpack plan ownership change feature flag
  config/development.json
Labels: Framework, [Status] Needs Review

#25274 Make it possible to remove coupons from the cart
  client/my-sites/checkout/cart/cart-coupon.jsx
  client/my-sites/checkout/cart/style.scss
  client/my-sites/checkout/cart/test/cart-coupon.js
  client/my-sites/checkout/checkout/style.scss
Labels: Checkout, [Status] Needs Review

#24893 Vaultpress: Fix vaultpress legacy plans billing items
  client/me/billing-history/transactions-table.jsx
Labels: Billing, Jetpack, Plans, [Status] Needs Review

#24905 Fix for #4099 (geotagging not working, location doesn't display on front-end)
  client/lib/geocoding/README.md
  client/lib/geocoding/index.js
  client/lib/geocoding/test/index.js
  client/lib/post-metadata/index.js
  client/lib/post-metadata/test/index.js
  client/post-editor/controller.js
  client/post-editor/editor-location/index.jsx
  client/post-editor/editor-location/search.jsx
  client/post-editor/editor-location/style.scss
Labels: Editor, [Status] Needs Review

#25167 Activity Log: Apply design of clone site button
  client/my-sites/stats/activity-log-item/index.jsx
Labels: Activity Log, [Pri] Normal, [Size] S, [Status] Ready to Merge, [Type] Bug

#25206 Ad Tracking: Fire Jetpack FB pixel ID when appropriate
  client/lib/analytics/ad-tracking.js
Labels: Analytics, [Status] Needs Review

#25313 Related Posts: update wording
  client/my-sites/site-settings/related-posts/index.jsx
Labels: Site Settings, [Status] Needs Review

#25301 Fix nits in README.md
  README.md
Labels: OSS Citizen

#25229 Break dependency cycle in get-site-options
  client/blocks/plan-thank-you-card/index.jsx
  client/state/data-layer/wpcom/sites/comments-tree/index.js
  client/state/data-layer/wpcom/sites/comments/index.js
  client/state/selectors/get-menu-item-types.js
  client/state/selectors/get-raw-site.js
  client/state/selectors/get-site-default-post-format.js
  client/state/selectors/get-site-icon-id.js
  client/state/selectors/get-site-icon-url.js
  client/state/selectors/get-site-options.js
  client/state/selectors/get-site-url.js
  client/state/selectors/is-domain-only-site.js
  client/state/selectors/is-mapped-domain-site.js
  client/state/selectors/is-private-site.js
  client/state/selectors/is-site-upgradeable.js
  client/state/selectors/is-vip-site.js
  client/state/selectors/test/get-raw-site.js
  client/state/sites/selectors.js
  client/state/sites/test/selectors.js
  client/state/sites/utils.js
Labels: Sites, [Status] Ready to Merge

#25323 Automatically add labels to renovate prs
  renovate.json
Labels: Framework, [Status] Needs Review

#25227 Remove dependency cycle in sites/selectors
  client/state/sites/selectors.js
  client/state/sites/test/selectors.js
  client/state/sites/test/utils.js
  client/state/sites/utils.js
Labels: Sites, [Status] Needs Review, [Status] Needs e2e Testing

#25009 Purchases: Prevent Ebanx fields rendering on add/update card
  client/components/credit-card-form-fields/index.jsx
  client/components/credit-card-form-fields/test/index.js
  client/my-sites/checkout/checkout/new-card-form.jsx
Labels: Payment Methods, Purchases, [Status] Needs Review

#25278 Me: Simplify ConnectedApplications by removing request tracking
  client/me/connected-applications/index.jsx
  client/state/connected-applications/actions.js
  client/state/connected-applications/reducer.js
  client/state/connected-applications/test/actions.js
  client/state/connected-applications/test/reducer.js
  client/state/selectors/get-connected-applications.js
  client/state/selectors/test/get-connected-applications.js
Labels: Me, State, [Status] Ready to Merge, [Tests] Includes Tests, [Type] Janitorial

#25036 Post Editor: show correct status label for new draft
  client/post-editor/editor-status-label/index.jsx
  client/post-editor/post-editor.jsx
Labels: Editor, [Status] Needs e2e Testing, [Type] Bug

#25353 Typo Fix: "jetpack" not capitalized in error message
  client/my-sites/plugins/jetpack-plugins-setup/index.jsx
Labels: Jetpack, OSS Citizen, [Status] Ready to Merge

#25305 Update/fix coupons ui on mobile
  client/layout/style.scss
  client/lib/scroll-into-viewport/index.js
  client/lib/scroll-into-viewport/test/index.js
  client/my-sites/checkout/cart/cart-coupon.jsx
  client/my-sites/checkout/cart/test/cart-coupon.js
  client/my-sites/checkout/checkout/credit-card-payment-box.jsx
  client/my-sites/checkout/checkout/credits-payment-box.jsx
  client/my-sites/checkout/checkout/free-cart-payment-box.jsx
  client/my-sites/checkout/checkout/paypal-payment-box.jsx
  client/my-sites/checkout/checkout/redirect-payment-box.jsx
Labels: Checkout, [Status] Needs Review

#25292 Framework: `dispatchRequest` update (concierge available times)
  client/state/data-layer/wpcom/concierge/schedules/available-times/index.js
  client/state/data-layer/wpcom/concierge/schedules/available-times/test/index.js
Labels: Framework, [Status] Needs Review

#25318 Specify a Google Maps API key for StatsGeochart
  client/blocks/location-search/index.jsx
  client/my-sites/stats/geochart/index.jsx
  config/_shared.json
Labels: Stats, [Status] Ready to Merge

#25368 Disable adding review labels to renovate PRs for now
  renovate.json
Labels: Framework, [Status] Needs Review

#25369 Remove greenkeeper scripts from circle runs
  .circleci/config.yml
  npm-shrinkwrap.json
  package.json
Labels: Build, [Status] Needs Review

#25304 Form: Further reduxify countries
  client/components/data/query-countries/README.md
  client/components/data/query-countries/domains.jsx
  client/components/data/query-countries/index.jsx
  client/components/data/query-countries/payments.jsx
  client/components/data/query-countries/sms.jsx
  client/components/forms/form-country-select/index.jsx
  client/components/forms/form-country-select/test/index.jsx
  client/components/forms/form-country-select/test/mocks/mock-countries-list.js
  client/my-sites/domains/components/form/country-select.jsx
  client/state/countries/actions.js
  client/state/countries/reducer.js
  client/state/selectors/are-countries-fetching.js
  client/state/selectors/get-countries.js
Labels: State, [Status] Ready to Merge

#25314 Jetpack: Action and data-layer for changing connection owner
  client/state/action-types.js
  client/state/data-layer/wpcom/index.js
  client/state/data-layer/wpcom/jetpack/connection/owner/index.js
  client/state/jetpack/connection/actions.js
Labels: Jetpack, [Status] Needs Review

#25290 Store Product Categories: Remove the fixed width on the terms container
  client/extensions/woocommerce/app/product-categories/form.js
Labels: Store, [Status] Ready to Merge

#25364 Analytics: adds conversion value to Yahoo Gemini pixel
  client/lib/analytics/ad-tracking.js
Labels: Analytics, [Status] In Progress

#25384 Activity Log: fix grammar issue in update status notices
  client/my-sites/stats/activity-log-tasklist/index.jsx
Labels: Activity Log, [Status] Needs Review, [Type] Bug

#25302 Fix/purchases a11y anchor
  client/components/card/index.jsx
  client/me/purchases/remove-purchase/index.jsx
  client/me/purchases/remove-purchase/style.scss
Labels: Accessibility, Purchases, [Status] Ready to Merge, [Type] Janitorial, [Type] Task

#25271 Purchases: Remove redundant PurchaseNotice props
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/notices.jsx
Labels: Purchases, [Status] Ready to Merge, [Type] Janitorial, [Type] Task

#25254 Purchases: Allow no selectedSite for cancel purchase form
  client/components/marketing-survey/cancel-purchase-form/index.jsx
Labels: FixTheFlows, Purchases, [Status] Ready to Merge, [Type] Task

#25220 Purchases: Use explicit placeholders for routes
  client/me/purchases/index.js
  client/me/purchases/paths.js
Labels: Purchases, [Status] Ready to Merge, [Type] Task

#25312 Add option for Blogger Importer
  client/my-sites/importer/importer-blogger.jsx
  client/my-sites/importer/importer-header.jsx
  client/my-sites/importer/style.scss
  client/my-sites/site-settings/section-import.jsx
  client/state/imports/constants.js
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Status] Ready to Merge

#25362 i18n: Add getLanguageSlugs() helper
  client/lib/abtest/index.js
  client/lib/i18n-utils/browser.js
  client/lib/i18n-utils/node.js
  client/lib/i18n-utils/utils.js
  client/login/controller.js
Labels: [Status] Needs Review, i18n

#25381 Add temporary GDPR notice to tranasfer out screen.
  client/my-sites/domains/domain-management/transfer/transfer-out/locked.jsx
  client/my-sites/domains/domain-management/transfer/transfer-out/shared.js
  client/my-sites/domains/domain-management/transfer/transfer-out/style.scss
  client/my-sites/domains/domain-management/transfer/transfer-out/unlocked.jsx
Labels: Domains, [Status] Needs Review

#25331 Rewind: Validate title and url fields in clone site flow
  client/signup/steps/clone-destination/index.jsx
Labels: Activity/Rewind, [Size] M, [Status] Ready to Merge, [Type] Enhancement

#25382 Activity Log: make theme updates available to all users
  client/my-sites/stats/activity-log-tasklist/to-update.jsx
  config/development.json
  config/stage.json
  config/wpcalypso.json
Labels: Activity Log, [Status] Needs Review, [Type] Enhancement

#25392 GDPR: tweak banner design and sizing
  client/blocks/gdpr-banner/style.scss
Labels: Privacy/GDPR, [Status] Needs Design Review, [Status] Needs Review

#25224 Media: Fix dropdown filter not working on some screen widths
  client/my-sites/media-library/filter-bar.jsx
  client/my-sites/media-library/filter-item.jsx
Labels: Media, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Bug

#25294 Reader: only show likes popover when post has likes
  client/reader/like-button/index.jsx
  config/development.json
Labels: Reader, [Status] Needs Review

#25288 Activity Log: Reflect appropriate restore context in dialogs
  client/my-sites/stats/activity-log-banner/progress-banner.jsx
  client/my-sites/stats/activity-log-banner/success-banner.jsx
  client/my-sites/stats/activity-log/index.jsx
  client/state/activity-log/restore/reducer.js
  client/state/data-layer/wpcom/activity-log/rewind/restore-status/index.js
  client/state/data-layer/wpcom/activity-log/rewind/restore-status/test/index.js
Labels: Activity Log, Activity/Rewind, [Size] L, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#25394 Fix eslint errors in client/components/clipboard-button
  client/components/forms/clipboard-button/index.jsx
Labels: Components, [Status] Ready to Merge

#25386 CancelPurchase: update "will be removed" text to highlight CTA
  client/me/purchases/cancel-purchase/index.jsx
Labels: Purchases, [Status] Needs Review, [Type] Enhancement

#25245 Allow mapping configuration using domain connect.
  client/lib/domains/assembler.js
  client/lib/domains/test/assembler.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/domains/domain-management/controller.jsx
  client/my-sites/domains/domain-management/domain-connect-mapping/index.jsx
  client/my-sites/domains/domain-management/domain-management.jsx
  client/my-sites/domains/domain-management/edit/mapped-domain.jsx
  client/my-sites/domains/index.js
  client/my-sites/domains/paths.js
  client/state/sites/domains/assembler.js
  client/state/sites/domains/schema.js
  client/state/sites/domains/test/fixture/index.js
Labels: Domains, [Status] Needs Review

#25401 Check for malformed success query string.
  client/my-sites/domains/domain-management/domain-connect-mapping/index.jsx
Labels: Domains, [Status] Needs Review

#25370 i18n: Use canonical getLanguage() implementation
  client/lib/user/shared-utils.js
  client/lib/user/user.js
Labels: [Status] Needs Review, i18n

#25367 i18n: Remove redundant argument from getLanguage()
  client/lib/i18n-utils/switch-locale.js
  client/lib/i18n-utils/test/utils.js
  client/lib/i18n-utils/utils.js
  client/state/ui/language/actions.js
Labels: [Status] Needs Review, i18n

#25408 Set autocomplete=off on two-factor auth input
  client/me/reauth-required/index.jsx
Labels: Login, Security, [Status] Ready to Merge, [Type] Janitorial

#25396 Remove unused file
  client/lib/purchases/reducer.js
Labels: Purchases, State, [Status] Needs Review, [Type] Janitorial

#25359 Jetpack: redirect to the correct url when the site is a subdirectory
  client/jetpack-connect/main.jsx
Labels: Jetpack, NUX, [Type] Bug

#25343 Update URL for `wpcom.js` to use HTTPS version
  README.md
Labels: OSS Citizen

#25376 Update README badge from greenkeeper to renovate
  README.md
Labels: OSS Citizen

#25223 Form: Reduxify FormCountrySelect component
  client/blocks/credit-card-form/index.jsx
  client/blocks/credit-card-form/test/index.js
  client/components/credit-card-form-fields/index.jsx
  client/components/credit-card-form-fields/test/index.js
  client/components/credit-card-form-fields/test/mocks/mock-countries-list.js
  client/components/domains/contact-details-form-fields/custom-form-fieldsets/g-apps-fieldset.jsx
  client/components/domains/contact-details-form-fields/custom-form-fieldsets/test/eu-address-fieldset.js
  client/components/domains/contact-details-form-fields/custom-form-fieldsets/test/g-apps-fieldset.js
  client/components/domains/contact-details-form-fields/custom-form-fieldsets/test/region-address-fieldsets.js
  client/components/domains/contact-details-form-fields/custom-form-fieldsets/test/uk-address-fieldset.js
  client/components/domains/contact-details-form-fields/custom-form-fieldsets/test/us-address-fieldset.js
  client/components/domains/contact-details-form-fields/index.jsx
  client/components/domains/contact-details-form-fields/test/__snapshots__/index.js.snap
  client/components/domains/contact-details-form-fields/test/index.js
  client/components/forms/docs/example.jsx
  client/components/forms/form-country-select/index.jsx
  client/components/forms/form-country-select/test/index.jsx
  client/components/forms/form-country-select/test/mocks/mock-countries-list.js
  client/components/forms/form-phone-input/index.jsx
  client/components/forms/form-phone-input/test/index.jsx
  client/components/forms/form-phone-input/test/mocks/mock-countries-list-empty.js
  client/components/forms/form-phone-input/test/mocks/mock-countries-list.js
  client/components/payment-country-select/index.jsx
  client/components/payment-country-select/test/index.jsx
  client/components/phone-input/index.jsx
  client/components/phone-input/style.scss
  client/extensions/woocommerce/app/order/order-customer/dialog.js
  client/lib/countries-list/README.md
  client/lib/countries-list/index.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/me/security-2fa-sms-settings/index.jsx
  client/me/security-account-recovery/edit-phone.jsx
  client/my-sites/checkout/checkout/credit-card-payment-box.jsx
  client/my-sites/checkout/checkout/ebanx-payment-fields.jsx
  client/my-sites/checkout/checkout/new-card-form.jsx
  client/my-sites/checkout/checkout/redirect-payment-box.jsx
  client/my-sites/checkout/checkout/secure-payment-form.jsx
  client/my-sites/checkout/checkout/test/__snapshots__/ebanx-payment-fields.js.snap
  client/my-sites/checkout/checkout/test/checkout.js
  client/my-sites/checkout/checkout/test/credit-card-payment-box.js
  client/my-sites/checkout/checkout/test/credits-payment-box.js
  client/my-sites/checkout/checkout/test/domain-details-form.js
  client/my-sites/checkout/checkout/test/ebanx-payment-fields.js
  client/my-sites/checkout/checkout/test/emergent-paywall-box.js
  client/my-sites/checkout/checkout/test/payment-box.js
  client/my-sites/checkout/checkout/test/paypal-payment-box.js
  client/my-sites/checkout/checkout/test/redirect-payment-box.js
  client/my-sites/domains/components/form/country-select.jsx
  client/my-sites/domains/components/form/test/hidden-input.js
  client/my-sites/domains/components/form/test/select.js
Labels: State, [Status] Ready to Merge

#25374 Update to Node 10 (10.4.0) and npm 6.1.0
  .circleci/config.yml
  .eslintrc.js
  .npmrc
  .nvmrc
  Dockerfile
  assets/stylesheets/shared/_color-schemes.scss
  bin/trim-shrinkwrap.js
  client/components/animate/style.scss
  client/components/email-verification/email-verification-dialog/style.scss
  client/components/popover/style.scss
  npm-shrinkwrap.json
  package.json
Labels: Framework, [Status] Needs Review, [Status] Needs e2e Testing

#25393 Store Services: Move shipping label activity log buttons into a menu
  client/extensions/woocommerce/app/order/order-activity-log/event.js
  client/extensions/woocommerce/state/sites/orders/activity-log/selectors.js
  client/extensions/woocommerce/state/sites/orders/activity-log/test/selectors.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-item.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/style.scss
Labels: Store, Store Services, [Status] Ready to Merge

#25428 Editor: fix ability to edit feedbacks
  client/post-editor/editor-author/index.jsx
Labels: Editor, [Status] Needs Review

#25415 Fix Google My Business tab not displayed when switching site
  client/components/data/query-site-keyrings/index.js
Labels: Google My Business, [Status] Needs Review

#25411 Add `site_type` property to pageview Tracks events
  client/lib/analytics/page-view-tracker/index.jsx
  client/login/magic-login/emailed-login-link-expired.jsx
  client/login/magic-login/emailed-login-link-successfully.jsx
  client/login/magic-login/index.jsx
  client/login/wp-login/index.jsx
  client/state/analytics/actions.js
  client/state/test/utils.js
  client/state/utils.js
Labels: Google My Business, [Status] Ready to Merge

#25407 Fix event fired when we click on the `Start Now` button in the GMB nudge
  client/blocks/google-my-business-stats-nudge/index.js
  client/my-sites/stats/site.jsx
Labels: Google My Business, [Status] Ready to Merge

#25435 Revert "Fix event fired when we click on the `Start Now` button in the GMB nudge"
  client/blocks/google-my-business-stats-nudge/index.js
  client/my-sites/stats/site.jsx
Labels: Google My Business

#25160 Post Editor reduxify
  client/components/tinymce/plugins/contact-form/dialog/index.jsx
  client/components/tinymce/plugins/embed-reversal/plugin.js
  client/components/tinymce/plugins/media/plugin.jsx
  client/components/tinymce/plugins/simple-payments/dialog/product-image-picker.jsx
  client/lib/media/actions.js
  client/lib/media/test/actions.js
  client/lib/posts/README.md
  client/lib/posts/actions.js
  client/lib/posts/post-edit-store.js
  client/lib/posts/test/actions.js
  client/lib/posts/test/mocks/lib/wp.js
  client/lib/posts/test/post-edit-store.js
  client/lib/posts/test/utils.js
  client/lib/posts/utils.js
  client/post-editor/controller.js
  client/post-editor/editor-featured-image/index.jsx
  client/post-editor/editor-featured-image/preview-container.jsx
  client/post-editor/editor-visibility/index.jsx
  client/post-editor/editor-word-count/index.jsx
  client/post-editor/editor-word-count/test/index.jsx
  client/post-editor/post-editor.jsx
  client/post-editor/test/post-editor.jsx
  client/state/action-types.js
  client/state/posts/reducer.js
  client/state/posts/selectors.js
  client/state/posts/test/reducer.js
  client/state/posts/test/selectors.js
  client/state/posts/test/utils.js
  client/state/posts/utils.js
  client/state/selectors/edited-post-has-content.js
  client/state/selectors/test/edited-post-has-content.js
  client/state/ui/editor/actions.js
  client/state/ui/editor/raw-content/reducer.js
  client/state/ui/editor/reducer.js
  client/state/ui/editor/save-blockers/actions.js
  client/state/ui/editor/save-blockers/reducer.js
  client/state/ui/editor/selectors.js
  client/state/ui/editor/test/actions.js
  client/state/ui/editor/test/reducer.js
Labels: Editor, [Status] In Progress, [Status] Needs e2e Testing

#25291 Framework: `dispatchRequest` update (comments)
  client/state/data-layer/wpcom/comments/index.js
  client/state/data-layer/wpcom/comments/test/index.js
Labels: Framework, [Status] Needs Review

#22613 Revert "Jetpack connect: Disable already_authorized from query string"
  client/jetpack-connect/utils.js
Labels: Jetpack, [Status] Needs Review, [Type] Task

#25431 Framework: Remove the CircleCI cache around node_modules
  .circleci/config.yml
Labels: Framework, [Status] Needs Review

#25373 Rewind: Paginate the activity log in the clone point step in site clone flow
  client/signup/steps/clone-point/index.jsx
Labels: Activity Log, Activity/Rewind, [Size] M, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#25375 Rewind: Change some labels in clone-credentials step of site cloning flow
  client/components/rewind-credentials-form/index.jsx
  client/signup/steps/clone-credentials/index.jsx
Labels: Activity Log, Activity/Rewind, [Size] M, [Status] Needs Copy Review, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#25389 Add affiliate campaign ID tracking to Calypso.
  client/signup/main.jsx
  client/state/data-layer/third-party/refer/index.js
  client/state/refer/actions.js
Labels: Analytics, [Status] Needs Review

#25441 Build: Use npm ci for install-if-* scripts
  bin/install-if-deps-outdated.js
  bin/install-if-no-packages.js
Labels: Build, [Status] Ready to Merge, [Type] Question

#25436 Fix event fired when we click on the `Start Now` button in the GMB nudge v2
  client/blocks/google-my-business-stats-nudge/index.js
  client/my-sites/stats/site.jsx
Labels: Google My Business, [Status] Ready to Merge

#25427 Atomic: Update Atomic plugin blacklist
  client/my-sites/plugins/plugin-meta/index.jsx
Labels: Atomic, [Status] Needs Review

#25432 Podcasting settings: Change "iTunes" to "Apple Podcasts"
  client/my-sites/site-settings/podcasting-details/index.jsx
Labels: Site Settings, [Status] Ready to Merge

#25425 Component: adjusting margin on External Link component
  client/components/external-link/style.scss
Labels: Components, Design, [Status] Ready to Merge, [Type] Janitorial

#25383 Signup: Cleanup main component
  client/signup/main.jsx
Labels: Signup, [Status] Needs Review, [Type] Janitorial

#25147 Domain contact details: ensure phone country flag updates
  client/components/domains/contact-details-form-fields/index.jsx
Labels: Domains, [Status] Ready to Merge, [Type] Janitorial

#25296 i18n: handle lang slug in subdomains
  config/_shared.json
  server/pages/index.js
Labels: [Status] Needs Review, i18n

#25443 Refactor ellipsis-menu component style so it can be imported in WooCommerce Services
  client/components/ellipsis-menu/style.scss
Labels: Store Services, [Status] Needs Review

#25453 My Sites Stats: Make week label translatable
  client/state/stats/lists/utils.js
Labels: Stats, i18n

#25472 Make sure user keyring connections are loaded on stats
  client/my-sites/stats/site.jsx
Labels: Google My Business, [Status] Ready to Merge

#25421 Podcasting: Add error message for insufficient permissions.
  client/my-sites/site-settings/podcasting-details/index.jsx
  client/my-sites/site-settings/podcasting-details/no-permissions.jsx
  client/my-sites/site-settings/podcasting-details/style.scss
Labels: Site Settings, [Status] Needs Review

#25050 Store Services: Allow unverifiable addresses to be bypassed
  client/extensions/woocommerce/woocommerce-services/state/action-types.js
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/actions.js
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/reducer.js
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/selectors.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/address-step/fields.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/address-step/style.scss
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/address-step/suggestion.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/address-step/summary.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/address-step/unverified.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/rates-step/index.js
Labels: Store, Store Services

#25476 Post Editor: maybeRedirect should do a real redirect, not a replace
  client/post-editor/controller.js
  client/state/ui/editor/actions.js
Labels: Editor, [Status] Needs e2e Testing, [Type] Bug

#25469 Update node to 10.4.1
  .circleci/config.yml
  .nvmrc
  Dockerfile
  npm-shrinkwrap.json
  package.json
Labels: Framework, [Status] Needs Review, [Status] Needs e2e Testing

#24912 Signup: restore original flow when site goals change
  client/lib/signup/actions.js
  client/lib/signup/progress-store.js
  client/lib/signup/test/progress-store.js
  client/signup/main.jsx
  client/signup/steps/about/index.jsx
Labels: Signup, [Status] Needs Review

#25316 InlineHelp: Add close button for video results
  client/blocks/inline-help/index.jsx
Labels: Help, [Status] Ready to Merge

#25467 Smooth Loading Charts on GMB Stats Page
  client/components/legend-item/placeholder.js
  client/components/legend-item/style.scss
  client/components/pie-chart/legend-placeholder.js
  client/components/pie-chart/placeholder.js
  client/components/pie-chart/style.scss
  client/my-sites/google-my-business/stats/chart.js
  client/my-sites/google-my-business/stats/style.scss
Labels: Google My Business, [Status] Ready to Merge

#25489 Build/Test: Add step names to CircleCI
  .circleci/config.yml
Labels: Build, Testing, [Status] Needs Review, [Type] Enhancement, [Type] Question

#25110 Make it possible to connect to a GMB location in 2 steps
  client/blocks/keyring-connect-button/index.js
  client/lib/popup-monitor/index.js
  client/lib/sharing/index.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/google-my-business/index.js
  client/my-sites/google-my-business/new-account/index.js
  client/my-sites/google-my-business/select-business-type/index.js
  client/my-sites/google-my-business/select-location/index.js
  client/my-sites/sharing/connections/service.jsx
  client/my-sites/sharing/connections/services/google-my-business.js
  client/state/action-types.js
  client/state/google-my-business/actions.js
  client/state/selectors/get-google-my-business-locations.js
  client/state/selectors/is-google-my-business-stats-nudge-visible.js
  client/state/site-keyrings/actions.js
  client/state/site-keyrings/reducer.js
  client/state/site-keyrings/schema.js
  client/state/site-keyrings/selectors.js
Labels: Google My Business, [Status] Ready to Merge

#25495 Fix Disconnect Google My Business from Sharing
  client/state/site-keyrings/reducer.js
Labels: Google My Business, [Status] Ready to Merge

#25496 SSR: Fix cacheKey generating function argument
  server/pages/index.js
Labels: Server Side Rendering, [Status] Needs Review

#25498 Guided Tour: Redirect to Login page if logged out
  client/boot/common.js
  client/wordpress-com.js
Labels: Guided Tours, Stats

#25487 Build/Test: Cache the npm cache on CircleCI
  .circleci/config.yml
Labels: Build, Testing, [Status] Needs Review, [Type] Enhancement, [Type] Question

#25494 Build: Only lint files that have changed
  .circleci/config.yml
Labels: Build, [Status] Ready to Merge

#25477 Podcasting: Update settings layout and style
  client/my-sites/site-settings/podcast-cover-image-setting/index.jsx
  client/my-sites/site-settings/podcast-cover-image-setting/style.scss
  client/my-sites/site-settings/podcasting-details/index.jsx
  client/my-sites/site-settings/podcasting-details/style.scss
Labels: Site Settings, [Status] Needs Review

#25463 CloneCredentials - fixed spacing issue
  client/signup/steps/clone-credentials/style.scss
Labels: [Status] Ready to Merge, [Type] Bug

#25317 Rewind: Hide site cloning link in site tools for atomic sites
  client/my-sites/site-settings/site-tools/index.jsx
Labels: Activity/Rewind, Site Settings, [Pri] Normal, [Size] S, [Status] Ready to Merge, [Type] Enhancement

#25456 Build: Let thread-loader use as many cores as it wants
  webpack.config.js
  webpack.config.node.js
Labels: Build, [Status] Needs Review

#25502 Update socket.io and socket.io-client to 2.1.1
  npm-shrinkwrap.json
  package.json
Labels: Framework, [Status] Needs Review

#25515 Add labels to renovate PRs
  renovate.json
Labels: Framework
