Repository Automattic/wp-calypso, pull requests merged in 2018-09, with the labels that each got.

#26985 Masterbar Publish Button: remove dependency on lib/user
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/publish.jsx
  client/lib/paths/index.js
  client/my-sites/controller.js
  client/state/selectors/get-primary-site-slug.js
Labels: [Status] Needs Review, [Type] Janitorial

#26969 Reader: add search placeholder test
  client/lib/abtest/active-tests.js
  client/reader/following/main.jsx
  client/reader/search-stream/index.jsx
  client/reader/search/utils.js
Labels: Reader, [Status] Needs Review

#26921 Inline Help: Hide for Jetpack Connect
  client/layout/index.jsx
Labels: Help, Jetpack, NUX, [Status] Ready to Merge, [Type] Enhancement

#26956 Remove the manage/media feature flag
  client/my-sites/media/index.js
  client/my-sites/sidebar/manage-menu.jsx
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Status] Needs Review, [Type] Janitorial

#26941 Activity Log: move from "Stats > Activity" to it's own section
  assets/stylesheets/_components.scss
  client/blocks/disconnect-jetpack/index.jsx
  client/blocks/product-purchase-features-list/jetpack-backup-security.jsx
  client/blocks/stats-navigation/constants.js
  client/blocks/stats-navigation/index.js
  client/layout/guided-tours/tours/activity-log-jetpack-intro-tour.js
  client/layout/guided-tours/tours/activity-log-tour.js
  client/layout/guided-tours/tours/activity-log-wpcom-intro-tour.js
  client/my-sites/activity/activity-log-banner/error-banner.jsx
  client/my-sites/activity/activity-log-banner/index.jsx
  client/my-sites/activity/activity-log-banner/progress-banner.jsx
  client/my-sites/activity/activity-log-banner/style.scss
  client/my-sites/activity/activity-log-banner/success-banner.jsx
  client/my-sites/activity/activity-log-banner/upgrade-banner.jsx
  client/my-sites/activity/activity-log-confirm-dialog/index.jsx
  client/my-sites/activity/activity-log-confirm-dialog/style.scss
  client/my-sites/activity/activity-log-example/index.jsx
  client/my-sites/activity/activity-log-example/style.scss
  client/my-sites/activity/activity-log-item/activity-actor.jsx
  client/my-sites/activity/activity-log-item/activity-icon.jsx
  client/my-sites/activity/activity-log-item/activity-media.jsx
  client/my-sites/activity/activity-log-item/index.jsx
  client/my-sites/activity/activity-log-item/style.scss
  client/my-sites/activity/activity-log-switch/index.jsx
  client/my-sites/activity/activity-log-switch/style.scss
  client/my-sites/activity/activity-log-tasklist/index.jsx
  client/my-sites/activity/activity-log-tasklist/style.scss
  client/my-sites/activity/activity-log-tasklist/to-update.jsx
  client/my-sites/activity/activity-log-tasklist/update.jsx
  client/my-sites/activity/activity-log/activity-log-rewind-toggle.jsx
  client/my-sites/activity/activity-log/index.jsx
  client/my-sites/activity/activity-log/rewind-alerts.jsx
  client/my-sites/activity/activity-log/rewind-unavailability-notice.jsx
  client/my-sites/activity/activity-log/style.scss
  client/my-sites/activity/activity-log/threat-alert.jsx
  client/my-sites/activity/activity-log/utils.js
  client/my-sites/activity/controller.jsx
  client/my-sites/activity/index.js
  client/my-sites/plans/current-plan/jetpack-checklist/index.js
  client/my-sites/sidebar/sidebar.jsx
  client/my-sites/site-indicator/site-indicator.jsx
  client/my-sites/site-settings/jetpack-credentials/index.jsx
  client/my-sites/sites/index.jsx
  client/my-sites/stats/controller.jsx
  client/my-sites/stats/index.js
  client/signup/config/flows-pure.js
  client/signup/steps/clone-cloning/index.jsx
  client/signup/steps/clone-point/index.jsx
  client/signup/steps/creds-confirm/index.jsx
  client/signup/steps/rewind-add-creds/index.jsx
  client/signup/steps/rewind-migrate/index.jsx
  client/signup/steps/rewind-were-backing/index.jsx
  client/state/navigation/middleware.js
  client/wordpress-com.js
Labels: Activity Log, [Status] Needs Design Review, [Status] Needs e2e Testing, [Type] Enhancement

#26974 Add convertKeysTo, convertToSnakeCase
  client/state/data-layer/test/utils.js
  client/state/data-layer/utils.js
Labels: Framework, [Status] Needs Review, [Type] Enhancement

#27015 WeChat Payments: removing files and actions types for unused data layer implementation
  client/state/action-types.js
  client/state/data-layer/wpcom/me/transactions/index.js
  client/state/data-layer/wpcom/me/transactions/test/index.js
  client/state/transactions/actions.js
  client/state/transactions/reducer.js
  client/state/transactions/test/actions.js
  client/state/transactions/test/reducer.js
Labels: [Type] Janitorial

#26500 Add WeChat Pay as a payment method
  client/components/payment-logo/index.jsx
  client/components/payment-logo/style.scss
  client/lib/cart-values/index.js
  client/my-sites/checkout/checkout/payment-box.jsx
  client/my-sites/checkout/checkout/secure-payment-form.jsx
  client/my-sites/checkout/checkout/style.scss
  client/my-sites/checkout/checkout/test/wechat-payment-box.js
  client/my-sites/checkout/checkout/test/wechat-payment-qrcode.js
  client/my-sites/checkout/checkout/wechat-payment-box.jsx
  client/my-sites/checkout/checkout/wechat-payment-qrcode.jsx
  client/my-sites/plans-features-main/test/index.jsx
  client/state/selectors/get-current-user-payment-methods.js
  client/state/selectors/test/get-current-user-payment-methods.js
  public/images/upgrades/wechat.svg
Labels: Payment Methods, [Status] Needs Design Review

#26655 Server Error: make sure to pass on valid context
  config/_shared.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
  server/pages/index.js
  server/render/index.js
Labels: Framework, [Status] Ready to Merge

#27003 Framework: Remove obsolete lib/md5
  client/lib/md5/index.jsx
Labels: Framework, [Status] Ready to Merge, [Type] Janitorial

#26996 Build: remove un-used argv in Webpack config
  webpack.config.js
Labels: Build, [Status] Needs e2e Testing, [Type] Janitorial

#26997 SDK: add basic documentation
  bin/sdk-cli.js
  docs/sdk.md
  package.json
Labels: DevDocs, Documentation, [Project] SDK

#27018 Add blogger-plan feature flag
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Plans, [Status] Needs Review

#26998 Janitorial update - ambigous prop name "available" renamed to "availableForPurchase"
  client/my-sites/plan-features/actions.jsx
  client/my-sites/plan-features/index.jsx
Labels: Plans, [Status] Ready to Merge, [Type] Janitorial

#27010 Activity Log: Make the activity in the site selector translatable
  client/my-sites/sites/index.jsx
Labels: Activity Log, [Status] Needs Review, [Type] Bug

#26861 Gutenberg Integration: Make Authenticated Requests to the v2 REST API
  client/gutenberg/editor/main.jsx
  client/gutenberg/editor/utils.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#27007 Checkout: Add a cart icon to the Order Summary area
  client/my-sites/checkout/cart/cart-summary-bar.jsx
Labels: Checkout, [Status] Ready to Merge

#26979 Store: Add a proper error message and UI when the server returns no label rates
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/selectors.js
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/test/selectors.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/rates-step/index.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/rates-step/list.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/rates-step/style.scss
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/rates-step/test/list.js
Labels: Store, Store Services, [Status] Ready to Merge

#27035 RegisterDomainStep: Refactor search vendor assignment
  client/components/domains/register-domain-step/index.jsx
  client/lib/abtest/active-tests.js
  client/my-sites/domains/domain-search/domain-search.jsx
  client/signup/steps/domains/index.jsx
Labels: Domains, [Status] Ready to Merge, [Type] Bug

#27008 Activity Log: Prevent secondary sites from looking at plugin updates
  client/my-sites/activity/activity-log-tasklist/to-update.jsx
Labels: Activity Log, [Status] Needs Review, [Type] Bug

#27032 Add constants and helpers for blogger plan
  client/lib/plans/constants.js
  client/lib/plans/index.js
  client/lib/plans/test/plan-lookups.js
Labels: Marketing, Plans, [Status] Needs Review, [Tests] Includes Tests

#26795 Plans: Make CurrentPlanHeader safer
  client/my-sites/plans/current-plan/header.jsx
  client/my-sites/plans/current-plan/index.jsx
Labels: Plans, [Status] Ready to Merge, [Type] Bug

#26986 Support: Make Quick Language Switcher load async
  client/layout/masterbar/logged-in.jsx
Labels: Support, [Status] Needs Review, [Type] Janitorial, i18n

#26898 Checkout: Enhance CreditCard summary and responsiveness
  client/components/credit-card/stored-card.jsx
  client/components/credit-card/stored-card.scss
Labels: [Status] Needs Design Review, [Status] Needs Review, [Type] Enhancement

#27042 [Blogger plan] Update existing unit tests to include blogger plan
  client/blocks/post-share/test/nudges.jsx
  client/components/seo/preview-upgrade-nudge/test/index.jsx
  client/lib/automated-transfer/test/index.js
  client/lib/plans/test/plan-levels-match.js
  client/me/concierge/test/main.js
  client/me/help/help-courses/test/index.jsx
  client/me/help/test/main.jsx
  client/my-sites/checkout/cart/test/cart-item.js
  client/my-sites/checkout/checkout-thank-you/test/index.js
  client/my-sites/checkout/checkout/test/credit-card-payment-box.js
  client/my-sites/checkout/checkout/test/credits-payment-box.js
  client/my-sites/checkout/checkout/test/paypal-payment-box.js
  client/my-sites/checkout/checkout/test/redirect-payment-box.js
  client/my-sites/checkout/checkout/test/wechat-payment-box.js
  client/my-sites/domains/domain-management/transfer/transfer-to-other-site/test/index.jsx
  client/my-sites/plugins/plugin-meta/test/index.js
  client/my-sites/plugins/plugins-browser/test/index.jsx
  client/my-sites/site-settings/seo-settings/test/form.jsx
  client/my-sites/site-settings/test/form-analytics.jsx
  client/my-sites/site-settings/test/form-general.jsx
  client/my-sites/upgrade-nudge/test/index.js
  client/signup/steps/plans-atomic-store/test/index.jsx
  client/signup/steps/site-picker/test/site-picker-submit.jsx
  client/state/selectors/test/can-upgrade-to-plan.js
  client/state/selectors/test/is-site-google-my-business-eligible.js
Labels: Marketing, Plans, [Status] Needs Review, [Tests] Includes Tests

#27046 Allocate 100% of traffic to discount group for gSuiteDiscountV2 test
  client/lib/abtest/active-tests.js
Labels: Marketing, [Status] Needs Review

#26926 Domains: Standardize domain mapping/transfer pages
  client/components/domains/domain-registration-suggestion/index.jsx
  client/components/domains/domain-search-results/style.scss
  client/components/domains/map-domain-step/index.jsx
  client/components/domains/map-domain-step/style.scss
  client/components/domains/transfer-domain-step/index.jsx
  client/components/domains/transfer-domain-step/style.scss
Labels: Domains, [Status] Needs Design Review, [Status] Ready to Merge

#27013 Checkout: redirect renewal without site to purchases
  client/my-sites/checkout/index.js
Labels: Checkout, [Status] Needs Review

#26665 Domains: Make the "free" flag display consistent
  client/components/domains/domain-product-price/style.scss
Labels: Domains, [Status] Ready to Merge

#26980 Add/single media view
  client/my-sites/media/controller.js
  client/my-sites/media/index.js
  client/my-sites/media/main.jsx
  client/state/selectors/get-media-item.js
  client/state/selectors/test/get-media-item.js
  client/state/selectors/test/is-transient-media.js
Labels: Media, [Status] Needs Review, [Type] Enhancement

#26760 SDK: Use newly-merged notifications panel code in Calypso
  assets/stylesheets/_components.scss
  assets/stylesheets/_vendor.scss
  bin/sdk-cli.js
  bin/sdk/notifications.js
  client/notifications/index.jsx
  client/notifications/src/standalone/index.js
  client/notifications/src/standalone/messaging.js
  npm-shrinkwrap.json
  package.json
  webpack.config.js
Labels: Framework, Notifications, [Project] SDK, [Status] Needs Review

#27017 Framework: Remove unused undocumented reader methods
  client/lib/wpcom-undocumented/lib/undocumented.js
Labels: Framework, Reader, [Status] Needs Review, [Type] Janitorial

#27028 Purchases: Make plugin key prop non-required
  client/me/purchases/manage-purchase/plan-details/index.jsx
Labels: Purchases, [Status] Needs Review, [Type] Janitorial

#27037 NPS: Add context to answer labels
  client/blocks/nps-survey/recommendation-select.jsx
Labels: [Status] Needs Review, [Type] Enhancement, i18n

#27030 Plugins: Fix sidebar manage link on all sites view
  client/my-sites/sidebar/manage-menu.jsx
Labels: Plugins, [Status] Needs Review, [Type] Bug

#27056 Open international labels in "production" and all other non-development environments
  config/desktop-development.json
  config/desktop.json
  config/production.json
  config/wpcalypso.json
Labels: Store, Store Services, [Status] Needs Review

#26978 Add notice about plan credits to /plans page to reduce users confusion about pricing
  client/lib/abtest/active-tests.js
  client/my-sites/plan-features/header.jsx
  client/my-sites/plan-features/index.jsx
  client/my-sites/plan-features/style.scss
  client/my-sites/plan-features/test/header.jsx
  client/my-sites/plan-features/test/index.jsx
Labels: Marketing, Plans, [Status] Needs Design Review, [Status] Needs Review, [Tests] Includes Tests

#27047 [Blogger plan] Prepare /plans and /plans/my-plan for the blogger plan
  client/blocks/product-purchase-features-list/custom-domain.jsx
  client/blocks/product-purchase-features-list/index.jsx
  client/blocks/product-purchase-features-list/test/product-purchase-features-list.jsx
  client/my-sites/checkout/checkout-thank-you/custom-domain-purchase-detail.jsx
  client/my-sites/plan-features/index.jsx
  client/my-sites/plan-features/test/index.jsx
Labels: Marketing, Plans, [Status] Needs Review, [Tests] Includes Tests

#27062 Settings: Use Premium nudge for Jetpack SEO
  client/my-sites/site-settings/seo-settings/form.jsx
  client/my-sites/site-settings/seo-settings/test/form.jsx
Labels: Jetpack, Marketing, Plans, SEO, [Status] Ready to Merge

#27066 Settings: Use Premium nudge for Analytics
  client/my-sites/site-settings/form-analytics.jsx
  client/my-sites/site-settings/test/form-analytics.jsx
Labels: Analytics, Jetpack, Plans, Site Settings, [Status] Ready to Merge, [Type] Bug

#27064 Adjust calculatePlanCredits to use new property name "availableForPurchase" instead of just "available"
  client/my-sites/plan-features/index.jsx
  client/my-sites/plan-features/test/index.jsx
Labels: Marketing, Plans, [Status] Needs Review, [Tests] Includes Tests

#27063 Show credits notice only when upgrade credits were applied
  client/my-sites/plan-features/index.jsx
Labels: Marketing, Plans, [Status] Needs Review

#27067 SDK: small updates to docs
  bin/sdk/gutenberg.js
  docs/sdk.md
Labels: Documentation, [Project] SDK, [Status] Needs Review

#27068 Add hasPlaceholders prop to PlanFeatures connect
  client/my-sites/plan-features/index.jsx
Labels: Marketing, Plans, [Status] Needs Review

#27026 SDK: Add new `packages` top-level directory
  packages/README.md
Labels: [Project] SDK, [Status] Needs Review

#27055 Update the promo nudge and banner for the upcoming September email promo
  client/lib/discounts/active-discounts.js
Labels: [Status] Needs Review, [Status] String Freeze

#27076 CI: No eslint on deleted files
  .circleci/config.yml
Labels: Build, Testing, [Status] Needs Review, [Type] Bug

#27027 Billing History: Improve receipt print views
  client/me/billing-history/style.scss
Labels: Billing, [Type] Enhancement

#27031 Stats: Fix React warning about missing key on all sites overview
  client/my-sites/stats/overview.jsx
Labels: Stats, [Status] Ready to Merge, [Type] Janitorial

#27020 Framework: Reduxify help links
  client/components/data/query-help-links/README.md
  client/components/data/query-help-links/index.jsx
  client/lib/help-search/README.md
  client/lib/help-search/actions.js
  client/lib/help-search/constants.js
  client/lib/help-search/store.js
  client/lib/help-search/test/lib/mock-actions.js
  client/lib/help-search/test/lib/mock-help-links.js
  client/lib/help-search/test/store.js
  client/me/help/help-search/index.jsx
  client/me/help/help-search/test/__snapshots__/index.js.snap
  client/me/help/help-search/test/index.js
  client/state/action-types.js
  client/state/data-layer/wpcom/help/search/index.js
  client/state/data-layer/wpcom/index.js
  client/state/help/actions.js
  client/state/help/reducer.js
  client/state/selectors/get-help-links.js
Labels: Framework, Help, State, [Status] Needs Review, [Type] Janitorial

#27093 Help: Removed unused mock
  client/me/help/help-search/test/index.js
Labels: Help, [Status] Ready to Merge, [Type] Defect

#27012 Gutenberg: refactor new section code
  assets/stylesheets/shared/functions/_z-index.scss
  client/gutenberg/editor/style.scss
  client/wordpress-com.js
Labels: [Goal] Gutenberg

#27096 SDK: rename constant for the root directory
  bin/sdk-cli.js
  bin/sdk/notifications.js
  docs/sdk.md
Labels: [Project] SDK, [Status] Ready to Merge

#27080 Domains: Audit unsafe `selectedSite.ID` usage
  client/my-sites/domains/domain-management/transfer/transfer-to-other-site/index.jsx
Labels: Domains, [Status] Needs Review

#27081 Framework: Remove dependency on `notifications-panel`
  npm-shrinkwrap.json
  package.json
Labels: Framework, Notifications, [Project] SDK, [Status] Needs Review

#27072 Rewind Credentials Form: Remove duplicate static declaration
  client/components/rewind-credentials-form/index.jsx
Labels: Rewind, Site Settings, [Size] S, [Status] Needs Review, [Type] Bug

#27033 Rewind: Replace transformer arrow with normal function
  client/state/data-layer/wpcom/sites/rewind/api-transformer.js
Labels: Build, Rewind, [Status] Ready to Merge, [Type] Bug

#26764 Checklist: Unify WordPress.com checklist and banner
  assets/stylesheets/_components.scss
  client/components/checklist/index.js
  client/my-sites/checklist/checklist-show/index.jsx
  client/my-sites/checklist/main.jsx
  client/my-sites/checklist/onboardingChecklist.js
  client/my-sites/checklist/test/util.js
  client/my-sites/checklist/util.js
  client/my-sites/checklist/wpcom-checklist/checklist-banner/index.js
  client/my-sites/checklist/wpcom-checklist/checklist-banner/style.scss
  client/my-sites/checklist/wpcom-checklist/checklist-banner/task.js
  client/my-sites/checklist/wpcom-checklist/index.js
  client/my-sites/stats/checklist-banner/index.jsx
  client/my-sites/stats/site.jsx
Labels: Checklist, NUX, [Status] Needs Review, [Type] Janitorial

#27009 Gutenberg: refactor API override code
  client/gutenberg/editor/api-middleware/index.js
  client/gutenberg/editor/api-middleware/test/index.js
  client/gutenberg/editor/api-middleware/utils.js
  client/gutenberg/editor/main.jsx
  client/gutenberg/editor/utils.js
Labels: [Goal] Gutenberg, [Tests] Includes Tests

#26973 Rewrite `user-bootstrap` by Promise.
  server/pages/index.js
  server/user-bootstrap/index.js
Labels: Server Side Rendering, [Status] Needs Review

#27101 Gutenberg: Move markdown converter into MarkdownRenderer
  client/gutenberg/extensions/markdown/components/markdown-renderer.jsx
  client/gutenberg/extensions/markdown/utils/markdown-converter.js
Labels: Jetpack, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Janitorial

#27099 Gutenberg: Use Markdown svg from dcurtis/markdown-mark
  client/gutenberg/extensions/markdown/jetpack-markdown-block.jsx
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review, [Type] Enhancement

#26881 My Plan: Add thank you header
  assets/stylesheets/_components.scss
  client/my-sites/checkout/checkout/checkout.jsx
  client/my-sites/plans/current-plan/controller.jsx
  client/my-sites/plans/current-plan/current-plan-thank-you-card/index.js
  client/my-sites/plans/current-plan/current-plan-thank-you-card/style.scss
  client/my-sites/plans/current-plan/index.jsx
  client/state/selectors/get-current-plan-purchase.js
Labels: Design, Plans, Post Checkout, [Status] Ready to Merge, [Type] Feature progress

#27120 Gutenberg: Improve Markdown block description
  client/gutenberg/extensions/markdown/jetpack-markdown-block.jsx
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review, [Type] Enhancement

#27098 Gutenberg: Markdown block - Use Toolbar and fix appearance
  client/gutenberg/extensions/markdown/jetpack-markdown-block-editor.jsx
  client/gutenberg/extensions/markdown/markdown-editor.scss
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review, [Type] Enhancement

#27084 SDK: make `output-dir` param in `notifications` command required
  bin/sdk-cli.js
Labels: [Pri] Low, [Project] SDK, [Status] Ready to Merge, [Type] Bug

#27106 Signup: Update URL for back buttons on Domain Mapping and Transfer pages
  client/signup/steps/domains/index.jsx
Labels: Domains, Signup, [Status] Ready to Merge

#27132 A/B: Disable dot in signup and domain management
  client/lib/abtest/active-tests.js
Labels: Domains, [Status] Needs Review

#27133 Activity log: Track change page via tracks
  client/my-sites/activity/activity-log/index.jsx
Labels: Activity Log, [Status] Ready to Merge

#27112 Atomic: add 8 plugins to Atomic incompatible plugin list
  client/my-sites/plugins/plugin-meta/index.jsx
Labels: Atomic, [Status] Needs Review

#27036 RegisterDomainStep: Modularize stateful analytics functions
  client/components/domains/register-domain-step/analytics.js
  client/components/domains/register-domain-step/index.jsx
Labels: Domains, [Status] Ready to Merge

#27134 Fetch keyring services from Google My Business components
  client/my-sites/google-my-business/index.js
  client/my-sites/google-my-business/select-business-type/index.js
  client/my-sites/google-my-business/select-location/index.js
  client/my-sites/google-my-business/stats/index.js
Labels: [Project] Google My Business, [Status] Ready to Merge, [Type] Bug

#27078 Media: Back Button on single media item works as expected.
  client/my-sites/media/main.jsx
  client/post-editor/media-modal/detail/index.jsx
Labels: Activity Log, Media, [Status] Needs Design Review, [Status] Ready to Merge

#27144 Build: Turn off coverage reporting
  .circleci/config.yml
  package.json
Labels: Build, [Status] Needs Review

#23414 Fix multisite theme selection modal height
  client/my-sites/themes/style.scss
Labels: Design, Themes, [Status] Ready to Merge

#26328 Remove auth-code-request-store and replace it with local state
  client/auth/auth-code-button.jsx
  client/auth/test/auth-code-button.jsx
  client/lib/auth-code-request-store/README.md
  client/lib/auth-code-request-store/actions.js
  client/lib/auth-code-request-store/constants.js
  client/lib/auth-code-request-store/index.js
  client/lib/auth-code-request-store/test/index.js
Labels: Desktop App, Login, [Status] Needs Review

#27127 Block: Todo eslint fixes
  client/gutenberg/extensions/todo/block.js
  client/gutenberg/extensions/todo/editor.scss
  client/gutenberg/extensions/todo/item.js
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Feature progress, [Type] Janitorial

#27077 UpgradeNudge: Update feature prop values to use plan constants rather than strings
  client/my-sites/plugins/plugins-browser/wpcom-features-as-plugins.js
  client/my-sites/post-type-list/index.jsx
  client/my-sites/sharing/main.jsx
  client/my-sites/stats/stats-module/index.jsx
  client/my-sites/upgrade-nudge/docs/example.jsx
Labels: Plans, [Status] Ready to Merge, [Type] Janitorial

#27156 Fix broken formatting of prices in Jetpack connect NUX (#27152)
  client/my-sites/plan-features/style.scss
Labels: Plans, [Status] Needs Review, [Type] Defect

#27109 Simple Payments: Give contributors a dialog explaining why they cannot add buttons to their post.
  client/components/tinymce/plugins/simple-payments/dialog/index.jsx
Labels: Simple Payments, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#27071 Domains: Fixes a typo with parens/full stop pointed out in #26440
  client/components/domains/map-domain-step/index.jsx
Labels: Domains, [Status] Needs Review

#27137 Post Editor: Make entire Gutenberg opt-in visual clickable.
  client/post-editor/editor-gutenberg-opt-in-sidebar/index.jsx
  client/post-editor/editor-gutenberg-opt-in-sidebar/style.scss
Labels: Editor, [Goal] Gutenberg, [Status] Needs Review, [Type] Task

#27160 Themes: back button should use previousPath if it exists
  client/my-sites/theme/main.jsx
Labels: Activity Log, Themes, [Status] Needs Review

#27131 Add/filterbar scafolding to the activity log
  assets/stylesheets/_components.scss
  client/my-sites/activity/activity-log/index.jsx
  client/my-sites/activity/controller.jsx
  client/my-sites/activity/filterbar/action-type-selector.jsx
  client/my-sites/activity/filterbar/date-range-selector.jsx
  client/my-sites/activity/filterbar/index.jsx
  client/my-sites/activity/filterbar/style.scss
  client/state/data-getters/index.js
  config/development.json
Labels: Activity Log, [Status] Needs Review

#26502 Signup: New flow to kick off an import post site creation (behind dev flag)
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/signup/config/flows-pure.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/steps/import-url/index.jsx
  client/state/action-types.js
  client/state/importer-nux/actions.js
  client/state/importer-nux/reducer.js
  client/state/importer-nux/temp-selectors.js
  client/state/index.js
  config/development.json
Labels: Import, Signup, [Status] Ready to Merge

#27135 Handle Vertical Landing Page referrers
  client/lib/signup/verticals.js
  client/signup/main.jsx
  client/signup/steps/about/index.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#27163 Signup: Enable (in-progress) import flow in wpcalypso
  config/wpcalypso.json
Labels: Import, Signup, [Status] Needs Review

#27108 DomainTip: Correct and simplify rendering logic
  client/my-sites/domain-tip/index.jsx
  client/my-sites/upgrade-nudge/index.jsx
Labels: Domains, [Status] Ready to Merge

#26577 Prevent scrolling the background when a modal is open
  client/components/dialog/style.scss
Labels: Components, [Status] Needs Review

#26006 Store: Stats: Referrers: Stats page layout
  client/extensions/woocommerce/app/store-stats/constants.js
  client/extensions/woocommerce/app/store-stats/index.js
Labels: Stats, Store, [Status] Ready to Merge, [Type] Enhancement

#27167 CI: Remove unnecessary build-server step
  .circleci/config.yml
Labels: Testing, [Status] Ready to Merge, [Type] Janitorial

#27045 AssetWriter: close WritableStream after writing
  server/bundler/assets-writer.js
Labels: Framework, [Status] Needs Review, [Status] Needs e2e Testing

#27126 Gutenberg: Reorganize and cleanup Markdown block
  client/gutenberg/extensions/markdown/components/markdown-renderer.jsx
  client/gutenberg/extensions/markdown/edit.jsx
  client/gutenberg/extensions/markdown/editor.jsx
  client/gutenberg/extensions/markdown/jetpack-markdown-block-save.jsx
  client/gutenberg/extensions/markdown/renderer.jsx
  client/gutenberg/extensions/markdown/save.jsx
  client/gutenberg/extensions/markdown/style.scss
  client/gutenberg/extensions/presets/jetpack/editor.js
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review, [Type] Janitorial

#27181 Blocks: fix eslint errors in `prev-next` and `trial` blocks
  client/gutenberg/extensions/prev-next/block.js
  client/gutenberg/extensions/prev-next/style.scss
  client/gutenberg/extensions/trial/block.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#27153 Theme: avoid href="#" links that trigger double navigation and a race condition
  client/components/theme/index.jsx
  client/components/theme/test/__snapshots__/index.jsx.snap
  client/components/themes-list/index.jsx
  client/sections-middleware.js
Labels: Signup, Themes, [Status] Needs Review, [Status] Needs e2e Testing

#27178 Guided Tours: check for onTargetDisappear on current step on every DOM mutation
  client/layout/guided-tours/config-elements/step.js
  client/layout/guided-tours/tours/simple-payments-email-tour.js
Labels: Guided Tours, [Status] Ready to Merge, [Type] Bug

#27165 A/B: Remove all domain vendor tests
  client/lib/abtest/active-tests.js
  client/my-sites/domains/domain-search/domain-search.jsx
  client/signup/steps/domains/index.jsx
Labels: Domains, [Status] Ready to Merge

#27177 Hide Google Site Verification in Sharing
  client/state/sharing/services/selectors.js
Labels: Sharing, [Status] Ready to Merge

#27192 Themes Component: Guard against missing onScreenshotClick prop
  client/components/theme/index.jsx
Labels: Themes, [Status] Needs Review, [Type] Bug

#27187 Gutenberg: Relax classname namespace rules for extensions
  client/gutenberg/extensions/.eslintrc.js
  client/gutenberg/extensions/markdown/edit.jsx
  client/gutenberg/extensions/publicize/publicize-connection-verify.jsx
  client/gutenberg/extensions/publicize/publicize-connection.jsx
  client/gutenberg/extensions/publicize/publicize-form-unwrapped.jsx
  client/gutenberg/extensions/publicize/publicize-no-connections.jsx
  client/gutenberg/extensions/publicize/publicize-settings-button.jsx
  client/gutenberg/extensions/tiled-gallery/components/tiled-gallery-item.js
  client/gutenberg/extensions/tiled-gallery/components/tiled-gallery-layout-square.js
  client/gutenberg/extensions/tiled-gallery/edit.js
Labels: [Goal] Gutenberg, [Pri] Normal, [Project] SDK, [Status] Needs Review, [Type] Enhancement

#27201 Store: Add the "is_letter" flag in label rates and label purchase requests
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/actions.js
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/reducer.js
  client/extensions/woocommerce/woocommerce-services/views/packages/edit-package.js
Labels: Store, Store Services, [Status] Needs Review

#27169 Theme Component: Remove overlay div
  assets/stylesheets/shared/functions/_z-index.scss
  client/components/theme/index.jsx
  client/components/theme/style.scss
  client/components/theme/test/__snapshots__/index.jsx.snap
Labels: Framework, Themes, [Status] Needs Review

#26387 Add shipping classes support to WooCommerce Services
  client/extensions/woocommerce/components/query-shipping-zones/index.js
  client/extensions/woocommerce/state/action-types.js
  client/extensions/woocommerce/state/data-layer/index.js
  client/extensions/woocommerce/state/data-layer/shipping-classes/index.js
  client/extensions/woocommerce/state/data-layer/shipping-classes/test/index.js
  client/extensions/woocommerce/state/sites/reducer.js
  client/extensions/woocommerce/state/sites/shipping-classes/actions.js
  client/extensions/woocommerce/state/sites/shipping-classes/reducers.js
  client/extensions/woocommerce/state/sites/shipping-classes/selectors.js
  client/extensions/woocommerce/state/sites/shipping-classes/test/actions.js
  client/extensions/woocommerce/state/sites/shipping-classes/test/data/initial-state.js
  client/extensions/woocommerce/state/sites/shipping-classes/test/reducers.js
  client/extensions/woocommerce/state/sites/shipping-classes/test/selectors.js
  client/extensions/woocommerce/state/ui/shipping/zones/methods/selectors.js
  client/extensions/woocommerce/woocommerce-services/components/shipping-classes-field/index.js
  client/extensions/woocommerce/woocommerce-services/views/service-settings/settings-form/index.js
  client/extensions/woocommerce/woocommerce-services/views/service-settings/settings-form/settings-item.js
  client/extensions/woocommerce/woocommerce-services/views/service-settings/shipping-services/index.js
Labels: OSS Citizen, Store, Store Services, [Status] Needs Review

#27145 Post Editor: Add stats for the Gutenberg opt-in dialog.
  client/post-editor/editor-gutenberg-opt-in-dialog/index.jsx
Labels: Editor, [Goal] Gutenberg, [Status] Needs Review, [Type] Task

#27186 Flags SVGs: Add error handling, helper function
  client/components/phone-input/country-flag.jsx
  client/extensions/woocommerce/components/location-flag/index.js
  client/lib/flags/index.js
  client/lib/flags/test/index.js
  client/state/stats/lists/utils.js
Labels: Components, Framework, [Status] Needs Review

#27218 Editor: Fix wpvideo shortcode rendering by setting `allow-same-origin` on iFrame
  client/blocks/shortcode/README.md
  client/blocks/shortcode/frame.js
  client/blocks/shortcode/index.js
  client/components/tinymce/plugins/wpcom-view/views/video/view.jsx
Labels: Editor, Security, [Status] Needs Review

#27172 Activity Log: Add Range Selecting to the Filterbar
  client/components/date-picker/index.jsx
  client/my-sites/activity/activity-log/index.jsx
  client/my-sites/activity/filterbar/date-range-selector.jsx
  client/my-sites/activity/filterbar/index.jsx
  client/my-sites/activity/filterbar/style.scss
  client/state/data-getters/index.js
Labels: Activity Log, [Status] Needs Review

#27203 Editor: Use the upcoming `auto-draft` endpoint for Gutenberg auto-drafts.
  client/state/data-getters/index.js
Labels: Editor, [Goal] Gutenberg, [Status] Needs Review, [Type] Task

#27228 Allow flags=... query params for calypso.live subdomains
  client/config/README.md
  client/config/index.js
Labels: [Status] Needs Review

#27124 Refactor isDomainBeingUsedForPlan to respect Blogger plan
  client/lib/cart-values/cart-items.js
  client/lib/cart-values/schema.json
  client/lib/cart-values/test/cart-items.js
  client/lib/products-values/index.js
  client/my-sites/checkout/cart/cart-plan-discount-ad.jsx
Labels: Domains, Marketing, Plans, [Status] Needs Review, [Tests] Includes Tests

#27157 Update copy explaining upgrade credits
  client/my-sites/plan-features/index.jsx
Labels: Marketing, Plans, [Status] Needs Review

#26866 MiniSitePreview: Move width rule to the implementor rather than compo…
  client/components/mini-site-preview/index.jsx
  client/components/mini-site-preview/style.scss
  client/my-sites/importer/site-importer/site-importer-site-preview.jsx
  client/my-sites/importer/style.scss
Labels: Site Importer, [Status] Needs Rebase

#26809 Gutenberg: Add "Ground Controls" to the Toolbar
  client/gutenberg/editor/edit-post/components/header/header-toolbar/index.js
  client/gutenberg/editor/edit-post/components/header/header-toolbar/style.scss
  client/gutenberg/editor/style.scss
  client/layout/masterbar/drafts.jsx
Labels: [Goal] Gutenberg, [Status] Needs Design Review, [Status] Needs Review

#27193 Blogger plan - add UPGRADE_TO_HIGHER_PLAN_TO_BUY domain pricing rule
  client/components/domains/domain-product-price/index.jsx
  client/lib/cart-values/cart-items.js
  client/lib/cart-values/test/cart-items.js
Labels: Marketing, Plans, [Status] Needs Review, [Tests] Includes Tests, [Type] Feature progress

#27159 Blocks: fix & refactor Tiled Gallery block
  client/gutenberg/extensions/presets/jetpack/editor.js
  client/gutenberg/extensions/presets/jetpack/view.js
  client/gutenberg/extensions/tiled-gallery/components/tiled-gallery-item.js
  client/gutenberg/extensions/tiled-gallery/edit.js
  client/gutenberg/extensions/tiled-gallery/edit.jsx
  client/gutenberg/extensions/tiled-gallery/editor.js
  client/gutenberg/extensions/tiled-gallery/index.js
  client/gutenberg/extensions/tiled-gallery/item.jsx
  client/gutenberg/extensions/tiled-gallery/layout-square.jsx
  client/gutenberg/extensions/tiled-gallery/save.js
  client/gutenberg/extensions/tiled-gallery/save.jsx
  client/gutenberg/extensions/tiled-gallery/style.scss
Labels: Jetpack, [Goal] Gutenberg

#26808 Inline Help: Adds a checklist button with progress bar and notification
  client/blocks/inline-help/index.jsx
  client/blocks/inline-help/popover.jsx
  client/blocks/inline-help/style.scss
Labels: Checklist, [Status] Needs Review

#27256 Revert "Data Layer: Correct `fromApi` typo in draft post requests."
  client/state/data-getters/index.js
Labels: [Status] Needs Review

#27258 Data Layer: Correct `fromApi` typo in draft post requests (take 2).
  client/state/data-getters/index.js
Labels: Editor, [Goal] Gutenberg, [Type] Bug, [Type] Task

#27233 Gutenberg Integration: API middleware handling of POST/PUT requests
  client/gutenberg/editor/api-middleware/index.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#27065 Notifications: rely more on Calypso stylesheets
  client/components/spinner/index.jsx
  client/components/spinner/style.scss
  client/notifications/src/index.ejs
  client/notifications/src/panel/boot/stylesheets/actions.scss
  client/notifications/src/panel/boot/stylesheets/block-user.scss
  client/notifications/src/panel/boot/stylesheets/main.scss
  client/notifications/src/panel/boot/stylesheets/note-common.scss
  client/notifications/src/panel/boot/stylesheets/overlay-bars.scss
  client/notifications/src/panel/boot/stylesheets/shared/animations.scss
  client/notifications/src/panel/boot/stylesheets/shared/colors.scss
  client/notifications/src/panel/boot/stylesheets/shared/extends.scss
  client/notifications/src/panel/boot/stylesheets/shared/forms.scss
  client/notifications/src/panel/boot/stylesheets/shared/sizes.scss
  client/notifications/src/panel/boot/stylesheets/shared/typography.scss
  client/notifications/src/panel/boot/stylesheets/spinner.scss
  client/notifications/src/panel/boot/stylesheets/style.scss
  client/notifications/src/panel/templates/empty-message.jsx
  client/notifications/src/panel/templates/note-list.jsx
Labels: Notifications, [Status] Needs e2e Testing, [Status] Ready to Merge, [Type] Janitorial

#27212 Section CSS loader: promisify the loadCSS and switchCSS functions
  client/controller/shared.js
  client/lib/i18n-utils/switch-locale.js
Labels: Build, [Status] Needs Review, [Status] Needs e2e Testing

#27190 Gutenberg: Create a Jetpack category, move Markdown in it
  client/gutenberg/extensions/markdown/editor.jsx
  client/gutenberg/extensions/presets/jetpack/editor.js
  client/gutenberg/extensions/presets/jetpack/utils/block-category.js
  client/gutenberg/extensions/tiled-gallery/editor.js
Labels: Jetpack, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#27266 Gutenberg: Add keywords to Markdown block
  client/gutenberg/extensions/markdown/editor.jsx
Labels: Jetpack, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Feature progress

#27119 SDK: rename block entry-files
  client/gutenberg/extensions/README.md
  client/gutenberg/extensions/editor-notes/editor.js
  client/gutenberg/extensions/editor-notes/editor.scss
  client/gutenberg/extensions/hello-dolly/editor.js
  client/gutenberg/extensions/markdown/editor.js
  client/gutenberg/extensions/markdown/editor.scss
  client/gutenberg/extensions/presets/jetpack/editor.js
  client/gutenberg/extensions/presets/jetpack/view.js
  client/gutenberg/extensions/presets/o2/editor.js
  client/gutenberg/extensions/presets/o2/view.js
  client/gutenberg/extensions/prev-next/editor.js
  client/gutenberg/extensions/prev-next/editor.scss
  client/gutenberg/extensions/publicize/connection-verify.jsx
  client/gutenberg/extensions/publicize/connection.jsx
  client/gutenberg/extensions/publicize/editor.js
  client/gutenberg/extensions/publicize/form-unwrapped.jsx
  client/gutenberg/extensions/publicize/form.jsx
  client/gutenberg/extensions/publicize/gutenberg-store.jsx
  client/gutenberg/extensions/publicize/no-connections.jsx
  client/gutenberg/extensions/publicize/panel.jsx
  client/gutenberg/extensions/publicize/settings-button.jsx
  client/gutenberg/extensions/tiled-gallery/editor.js
  client/gutenberg/extensions/tiled-gallery/view.js
  client/gutenberg/extensions/tiled-gallery/view.scss
  client/gutenberg/extensions/todo/editor.js
  client/gutenberg/extensions/trial/editor.js
  client/gutenberg/extensions/trial/view.js
  client/gutenberg/extensions/trial/view.scss
  client/gutenberg/extensions/trials/editor.js
  docs/sdk.md
Labels: Documentation, [Project] SDK, [Status] Needs Review

#27257 SDK: Convention over Configuration
  bin/sdk-cli.js
  bin/sdk/gutenberg.js
Labels: [Project] SDK, [Status] Needs Review

#26942 NUX: Move /domains to NUX
  client/components/domains/domain-search-results/index.jsx
  client/components/domains/map-domain-step/index.jsx
  client/components/domains/register-domain-step/index.jsx
  client/lib/signup/step-actions.js
  client/my-sites/domains/index.js
  client/signup/config/flows-pure.js
  client/signup/config/steps-pure.js
  client/signup/index.web.js
  client/signup/step-wrapper/index.jsx
  client/signup/steps/domains/index.jsx
  client/signup/steps/site-or-domain/index.jsx
  client/signup/steps/site-picker/index.jsx
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
  server/pages/index.js
Labels: Domains, NUX, [Status] Ready to Merge

#27267 Activity Log: Filterbar remove the not needed z-index
  client/my-sites/activity/filterbar/style.scss
Labels: Activity Log, [Status] Ready to Merge

#27219 Update/filterbar with activity type selection
  client/my-sites/activity/activity-log/index.jsx
  client/my-sites/activity/filterbar/action-type-selector.jsx
  client/my-sites/activity/filterbar/index.jsx
  client/my-sites/activity/filterbar/style.scss
  client/state/data-getters/index.js
Labels: Activity Log, [Status] Ready to Merge

#27280 Activity Log: Reset page number when changing selected filters.
  client/my-sites/activity/filterbar/index.jsx
Labels: Activity Log, [Status] Needs Review

#27283 Gutenberg: fix middleware to pass through option object without body or data
  client/gutenberg/editor/api-middleware/index.js
Labels: [Goal] Gutenberg, [Status] Needs Review

#27281 Activity Log: improve activity type query
  client/my-sites/activity/filterbar/action-type-selector.jsx
  client/state/data-getters/index.js
Labels: Activity Log, [Status] Needs Review, [Type] Feature progress

#27059 Traffic Settings: add Jetpack Search upgrade message
  client/components/banner/index.jsx
  client/my-sites/site-settings/search.jsx
  client/my-sites/site-settings/settings-traffic/main.jsx
  client/my-sites/site-settings/style.scss
Labels: Marketing, Site Settings, [Type] Enhancement

#27090 Posts List: add "Recent views" to post glance
  client/components/data/query-stats-recent-post-views/README.md
  client/components/data/query-stats-recent-post-views/index.jsx
  client/my-sites/post-type-list/index.jsx
  client/my-sites/post-type-list/post-action-counts/index.jsx
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/index.js
  client/state/data-layer/wpcom/sites/stats/index.js
  client/state/data-layer/wpcom/sites/stats/views/posts/index.js
  client/state/data-layer/wpcom/sites/stats/views/posts/test/index.js
  client/state/stats/recent-post-views/actions.js
  client/state/stats/recent-post-views/reducer.js
  client/state/stats/recent-post-views/schema.js
  client/state/stats/recent-post-views/selectors.js
  client/state/stats/recent-post-views/test/actions.js
  client/state/stats/recent-post-views/test/reducer.js
  client/state/stats/recent-post-views/test/selectors.js
  client/state/stats/reducer.js
Labels: Posts, Stats, [Status] Ready to Merge

#27262 Fix display of plan credits (abtest)
  client/my-sites/plan-features/index.jsx
Labels: [Status] Needs Review

#27304 Checklist: Fix onboarding checklist name in tracks
  client/my-sites/checklist/wpcom-checklist/index.js
Labels: Checklist, [Status] Ready to Merge, [Type] Defect

#27242 [nudge-a-palooza] Remove plansBannerUpsells test, control variation won
  client/lib/abtest/active-tests.js
  client/my-sites/current-site/notice.jsx
Labels: Marketing, Plans, [Status] Needs Review

#27244 [nudge-a-palooza] Disable landing pages test
  client/lib/abtest/active-tests.js
  config/development.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: Marketing, [Status] Needs Review

#27250 [Blogger plan] Disable domain transfer for blogger plan
  client/components/domains/transfer-domain-step/index.jsx
Labels: Marketing, [Status] Needs Review

#27245 [nudge-a-palooza] Enable dark themes upsell nudges for everyone
  client/components/mini-site-preview/index.jsx
  client/lib/abtest/active-tests.js
  client/my-sites/checkout/cart/cart-plan-ad-theme.jsx
  client/my-sites/theme/main.jsx
  client/my-sites/themes/single-site-wpcom.jsx
  client/state/data-layer/wpcom/sites/index.js
Labels: Marketing, Themes, [Status] Needs Review

#27310 Gutenberg: Use currentColor for Markdown block icon stroke
  client/gutenberg/extensions/markdown/editor.js
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review

#27316 Trigger the poll when importing kicks off.
  client/my-sites/importer/importer-header/index.jsx
  client/my-sites/importer/importing-pane.jsx
Labels: Analytics, Import

#27279 Importer: Add HotJar poll
  client/my-sites/importer/importing-pane.jsx
Labels: Analytics, Import, [Status] Needs Review

#27303 Activity Log: apply button
  client/my-sites/activity/filterbar/action-type-selector.jsx
  client/my-sites/activity/filterbar/date-range-selector.jsx
  client/my-sites/activity/filterbar/index.jsx
  client/my-sites/activity/filterbar/style.scss
  client/state/data-getters/index.js
  client/state/data-layer/wpcom/sites/activity-types/from-api.js
  client/state/data-layer/wpcom/sites/activity-types/schema.json
Labels: Activity Log, [Status] In Progress, [Type] Feature progress

#27229 Fix: Replace multiline embeds correctly on paste
  client/components/tinymce/plugins/embed-reversal/plugin.js
Labels: [Status] Needs Review

#26731 Domain Suggestions: Add more context to the tracking
  client/components/domains/domain-search-results/index.jsx
  client/components/domains/featured-domain-suggestions/index.jsx
  client/components/domains/register-domain-step/index.jsx
Labels: Analytics, Domains, [Status] Ready to Merge

#27323 Notifications: Remove unused feature flags.
  config/desktop-development.json
  config/development.json
  config/horizon.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Notifications, [Status] Needs Review, [Type] Task

#27261 Me: add logged-out redirect for me/security/*
  client/me/controller.js
  client/me/security/controller.js
  client/me/security/index.js
  client/wordpress-com.js
Labels: Framework, Me, Security, [Status] Needs Review, [Status] Needs e2e Testing

#27299 Remove reader/conversations feature flag
  client/blocks/conversation-follow-button/helper.js
  client/reader/conversations/index.js
  client/reader/sidebar/index.jsx
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: Desktop App, Reader, [Status] Needs Review, [Type] Janitorial

#27302 Notifications: remove notifications/link-to-reader feature flag
  client/notifications/index.jsx
  config/desktop-development.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: Desktop App, Notifications, Reader, [Status] Needs Review, [Type] Janitorial

#27324 Stats: Load flag SVG in component rather that state util
  client/my-sites/stats/stats-list/stats-list-item.jsx
  client/state/stats/lists/test/utils.js
  client/state/stats/lists/utils.js
Labels: Framework, Stats, [Status] Ready to Merge, [Type] Enhancement
