Repository Automattic/wp-calypso, pull requests merged in 2018-11, with the labels that each got.

#28164 Add: The redux substate for the site topic picking step in the improved onboarding signup flow.
  client/state/action-types.js
  client/state/selectors/get-signup-steps-site-topic.js
  client/state/selectors/test/get-signup-steps-site-topic.js
  client/state/signup/steps/site-topic/actions.js
  client/state/signup/steps/site-topic/reducer.js
  client/state/signup/steps/site-topic/schema.js
  client/state/signup/steps/site-topic/test/actions.js
  client/state/signup/steps/site-topic/test/reducer.js
Labels: Signup, [Status] Needs Review

#28160 NUX: disable onboarding signup variation for the desktop app
  client/signup/config/flows.js
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: NUX, Signup, [Status] Needs e2e Testing, [Type] Feature progress

#28186 Remove the G-Suite upsell discount a/b test
  client/components/upgrades/google-apps/google-apps-dialog/index.jsx
  client/components/upgrades/google-apps/google-apps-dialog/product-details.jsx
  client/components/upgrades/google-apps/google-apps-dialog/style.scss
  client/lib/abtest/active-tests.js
  client/my-sites/checkout/gsuite-nudge/index.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#28183 NUX: Remove email confirmation nudge
  client/signup/processing-screen/index.jsx
  client/signup/processing-screen/style.scss
Labels: NUX, Signup, [Status] Needs e2e Testing, [Status] Ready to Merge, [Type] Feature progress

#28111 Gutenberg: Fix the styling of the checkboxes
  client/gutenberg/editor/style.scss
Labels: [Goal] Gutenberg, [Status] Ready to Merge, [Type] Bug

#28153 Gutenberg: Fix "Block settings" styling issues
  client/gutenberg/editor/edit-post/components/layout/index.js
  client/gutenberg/editor/edit-post/components/sidebar/block-sidebar/index.js
  client/gutenberg/editor/edit-post/components/sidebar/block-sidebar/style.scss
  client/gutenberg/editor/edit-post/components/sidebar/discussion-panel/index.js
  client/gutenberg/editor/edit-post/components/sidebar/document-sidebar/index.js
  client/gutenberg/editor/edit-post/components/sidebar/featured-image/index.js
  client/gutenberg/editor/edit-post/components/sidebar/page-attributes/index.js
  client/gutenberg/editor/edit-post/components/sidebar/post-excerpt/index.js
  client/gutenberg/editor/edit-post/components/sidebar/post-status/index.js
  client/gutenberg/editor/edit-post/components/sidebar/post-status/style.scss
  client/gutenberg/editor/edit-post/components/sidebar/post-taxonomies/taxonomy-panel.js
  client/gutenberg/editor/edit-post/components/sidebar/settings-sidebar/index.js
  client/gutenberg/editor/edit-post/store/actions.js
  client/gutenberg/editor/edit-post/store/defaults.js
  client/gutenberg/editor/edit-post/store/effects.js
  client/gutenberg/editor/edit-post/store/reducer.js
  client/gutenberg/editor/edit-post/store/selectors.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge, [Type] Bug

#27854 Checklist: Add a new item for the WordPress mobile app
  client/my-sites/checklist/wpcom-checklist/index.js
  public/images/stats/tasks/mobile-app.svg
Labels: Checklist, [Status] Needs Review, [Status] String Freeze

#27655 post: Fix close gutenberg editor redirect path after direct navigatio…
  client/gutenberg/editor/edit-post/components/header/header-toolbar/index.js
Labels: Editor, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#28188 Gutenberg: Refactor PublicizePanel to a functional component.
  client/gutenberg/extensions/publicize/panel.jsx
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review, [Type] Janitorial

#28099 Improve plans header performance in signup
  client/my-sites/plan-features/header.jsx
Labels: Plans, [Status] Needs Review

#28131 Import in Signup: Prefetch the preview so it's ready in the import section
  client/my-sites/importer/site-importer/site-importer-input-pane.jsx
  client/my-sites/importer/site-importer/site-preview-actions.js
  client/signup/steps/import-url/index.jsx
Labels: Import, Signup, [Status] Needs e2e Testing, [Status] Ready to Merge

#28177 Add attribution for mobile app links
  client/me/get-apps/mobile-download-card.jsx
Labels: [Status] Ready to Merge, [Type] Enhancement

#28214 Gutenberg: fix title text area styling
  client/gutenberg/editor/style.scss
Labels: [Goal] Gutenberg, [Status] Ready to Merge, [Type] Bug

#28222 Import in Signup: Fix Back & Forward Navigation (take 2)
  client/signup/steps/import-url/index.jsx
  client/state/importer-nux/reducer.js
Labels: Import, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#28132 Site Importer: Show siteUrl in the preview step
  client/my-sites/importer/site-importer/site-importer-site-preview.jsx
  client/my-sites/importer/style.scss
Labels: Import, [Status] Ready to Merge

#28229 Cards: Add support for 'american express' being returned as card type
  client/my-sites/checkout/checkout/stored-card.jsx
  client/my-sites/checkout/checkout/stored-card.scss
Labels: [Status] Needs Review, [Status] Needs e2e Testing, [Type] Enhancement

#27470 Language Picker: hide multiline suggested languages
  client/components/language-picker/modal.jsx
  client/components/language-picker/style.scss
  client/components/language-picker/test/modal.js
Labels: Me, [Status] Ready to Merge, [Type] Janitorial

#28234 Fix css class style issues in cart-total.jsx
  client/my-sites/checkout/cart/cart-total.jsx
  client/my-sites/checkout/cart/style.scss
Labels: [Size] S, [Status] Needs e2e Testing, [Status] Ready to Merge, [Type] Janitorial

#28232 Gutenberg: fix visual editor text font
  client/gutenberg/editor/style.scss
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Bug

#28225 Gutenberg: suppress strict mode console warnings
  client/gutenberg/editor/edit-post/editor.js
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Bug

#28123 Gutenberg Audio/Video Blocks: Prevent auto-closing the Media Modal on media change
  client/gutenberg/editor/hooks/components/media-upload/index.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge, [Type] Bug

#28200 i18n: Extract wp/i18n translatable strings
  package.json
Labels: [Status] Needs Review, i18n

#28057 Move task list logic outside of `WpcomChecklist` render tree
  client/my-sites/checklist/main.jsx
  client/my-sites/checklist/wpcom-checklist/checklist-banner/index.jsx
  client/my-sites/checklist/wpcom-checklist/checklist-banner/task.jsx
  client/my-sites/checklist/wpcom-checklist/checklist-navigation/index.jsx
  client/my-sites/checklist/wpcom-checklist/checklist-notification/index.jsx
  client/my-sites/checklist/wpcom-checklist/index.js
  client/my-sites/checklist/wpcom-checklist/index.jsx
  client/my-sites/checklist/wpcom-checklist/wpcom-task-list.js
Labels: Checklist, [Status] Ready to Merge, [Type] Enhancement

#28199 Publicize: use only one panel
  client/gutenberg/extensions/publicize/editor.js
  client/gutenberg/extensions/publicize/panel.jsx
Labels: [Goal] Gutenberg, [Pri] Low, [Status] Ready to Merge

#28226 Import in Signup: Continue disabling the form on success until the step is saved
  client/signup/steps/import-url/index.jsx
  client/state/importer-nux/reducer.js
Labels: Import, Signup, [Status] Needs Review

#28231 Site Importer: Remove "beta" designation
  client/my-sites/importer/importer-site-importer.jsx
Labels: Import, [Status] Needs Review

#28243 Domains: Update icon for undo action on primary domain change
  client/my-sites/domains/domain-management/list/domain-list-notice.jsx
Labels: Domains, [Status] Ready to Merge, [Type] Enhancement

#28245 Store: Add a "help" link to the Tariff Number field header that points to a documentation page
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/selectors.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/customs-step/item-row-header.js
Labels: Store, Store Services, [Status] Ready to Merge

#28240 Update Renovate Configuration
  renovate.json
Labels: Framework, [Status] Needs Review, [Type] Janitorial

#28235 Gutenberg: add support for Classic block
  client/gutenberg/editor/main.jsx
  client/gutenberg/extensions/classic-block/edit.jsx
  client/gutenberg/extensions/classic-block/editor.js
  client/gutenberg/extensions/classic-block/editor.scss
Labels: Editor, [Goal] Gutenberg, [Pri] BLOCKER, [Status] Needs Review, [Type] Bug, [Type] Enhancement

#28255 Fix broken shrinkwrap.
  npm-shrinkwrap.json
Labels: [Status] Ready to Merge

#28257 Gutenberg: only enable Jetpack preset for wpcalypso and dev
  client/gutenberg/editor/edit-post/editor.js
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: [Goal] Gutenberg, [Status] Needs Review

#28261 Gutenberg: add temporary fix to add be able to view and add categories
  client/gutenberg/editor/api-middleware/index.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#28260 Gutenberg: show correct button when editing a post
  client/gutenberg/editor/edit-post/components/header/index.js
  client/gutenberg/editor/edit-post/components/header/post-publish-button-or-toggle.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#28161 Reader: move reader-infinite-stream into client/reader
  assets/stylesheets/_components.scss
  client/reader/components/reader-infinite-stream/index.jsx
  client/reader/components/reader-infinite-stream/row-renderers.js
  client/reader/components/reader-infinite-stream/style.scss
  client/reader/following-manage/feed-search-results.jsx
  client/reader/following-manage/subscriptions.jsx
  client/reader/search-stream/site-results.jsx
Labels: Reader, [Status] Needs Review, [Type] Janitorial

#25037 CommunityTranslator jumpstart & launcher: reduxify userSettings
  client/layout/community-translator/launcher.jsx
  client/layout/community-translator/style.scss
  client/lib/translator-jumpstart/index.js
Labels: OSS Citizen, Translator, [Status] Needs Review

#28209 NUX Signup: Connect the site topic redux state to the component
  client/signup/steps/site-topic/index.jsx
  client/state/signup/steps/reducer.js
Labels: Signup, [Status] Needs Review

#26944 Boot: Don't render empty Layout
  client/boot/app.js
  client/boot/common.js
  client/boot/project/wordpress-com.js
  client/layout/index.jsx
Labels: Framework, [Status] Needs Review, [Status] Needs e2e Testing

#28218 Domains: Fix missing vendor in domain suggestions traintracks
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/register-domain-step/utility.js
Labels: [Status] Ready to Merge

#28076 Use dispatchRequestEx for requestPostEmailSubscription
  client/state/data-layer/wpcom/read/site/post-email-subscriptions/new/index.js
  client/state/data-layer/wpcom/read/site/post-email-subscriptions/new/test/index.js
Labels: Framework, Reader, [Status] Ready to Merge

#28163 NUX Signup: Add redux files for 'site information' onboarding step
  client/state/action-types.js
  client/state/signup/steps/site-information/actions.js
  client/state/signup/steps/site-information/reducer.js
  client/state/signup/steps/site-information/schema.js
  client/state/signup/steps/site-information/selectors.js
  client/state/signup/steps/site-information/test/reducer.js
  client/state/signup/steps/site-information/test/selectors.js
Labels: NUX, Signup, [Status] Needs Review, [Type] Feature progress

#28117 Enable checklist for Atmoic sites
  client/my-sites/checklist/main.jsx
  client/my-sites/checkout/gsuite-nudge/index.jsx
  client/state/selectors/is-eligible-for-checkout-to-checklist.js
  client/state/selectors/is-eligible-for-dotcom-checklist.js
Labels: Checklist, [Status] Needs Review, [Status] Needs e2e Testing

#28279 Increase ICFY stats building step timeout to 20 mins
  .circleci/config.yml
Labels: Build, [Status] Needs Review

#28270 Gutenberg: add partial revision history support and feature flag
  client/gutenberg/editor/components/post-last-revision/check.js
  client/gutenberg/editor/components/post-last-revision/index.js
  client/gutenberg/editor/components/post-last-revision/style.scss
  client/gutenberg/editor/components/sidebar/last-revision/index.js
  client/gutenberg/editor/components/sidebar/last-revision/style.scss
  client/gutenberg/editor/controller.js
  client/gutenberg/editor/edit-post/components/layout/index.js
  client/gutenberg/editor/edit-post/components/sidebar/settings-sidebar/index.js
  client/gutenberg/editor/style.scss
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Goal] Gutenberg, [Status] Needs Review

#28193 Domains: Update support links
  client/lib/url/support.js
  client/me/purchases/cancel-privacy-protection/index.jsx
  client/my-sites/domains/domain-management/edit-contact-info/form-card.jsx
Labels: Domains

#28210 Domain-only: Remove uppercase styling for consistency and size issues + copy update
  client/signup/steps/site-or-domain/index.jsx
  client/signup/steps/site-or-domain/style.scss
Labels: Domains, [Status] Needs Review

#28253 Writing settings: Remove support info for "Blog posts" and indent label
  client/my-sites/site-settings/custom-content-types/index.jsx
Labels: Site Settings, [Type] Enhancement

#28290 Plans: Add ecommerce feature flag
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/stage.json
  config/wpcalypso.json
Labels: [Status] Ready to Merge

#28258 Concierge: Show a message to users when there are no times available
  client/me/concierge/main.js
  client/me/concierge/shared/no-available-times.js
  client/me/concierge/style.scss
  client/me/concierge/test/main.js
Labels: [Status] In Progress

#28180 Posts List: Request list in edit context
  client/my-sites/pages/page-list.jsx
  client/my-sites/posts/main.jsx
Labels: [Status] Needs Review, [Type] Bug

#28217 Adds eCommerce plan selectors.
  client/lib/plans/constants.js
  client/state/selectors/test/can-upgrade-to-plan.js
  client/state/selectors/test/is-site-on-paid-plan.js
Labels: Plans, [Status] Needs Review, [Tests] Includes Tests

#28294 WordAds: Fix for paid earnings incorrectly listed as 0
  client/my-sites/ads/form-earnings.jsx
Labels: WordAds, [Status] Ready to Merge

#28003 Add hasPendingPayment to lib/cart-values
  client/lib/cart-values/index.js
  client/lib/cart-values/test/index.js
Labels: Store, [Status] Ready to Merge

#28293 Add debugging doc for CURRENT_USER_ID_SET errors
  client/state/current-user/reducer.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#28285 Revert "CI: Increase ICFY stats timeout to 20 mins (#28279)"
  .circleci/config.yml
Labels: Build, [Status] Needs Review

#28092 Use dispatchRequestEx for requestCommentEmailSubscription
  client/state/data-layer/wpcom/read/site/comment-email-subscriptions/new/index.js
  client/state/data-layer/wpcom/read/site/comment-email-subscriptions/new/test/index.js
Labels: Framework, Reader, [Status] Ready to Merge

#28093 Use dispatchRequestEx for requestCommentEmailUnsubscription
  client/state/data-layer/wpcom/read/site/comment-email-subscriptions/delete/index.js
  client/state/data-layer/wpcom/read/site/comment-email-subscriptions/delete/test/index.js
Labels: Framework, Reader, [Status] Ready to Merge

#28077 Use dispatchRequestEx for requestPostEmailUnsubscription
  client/state/data-layer/wpcom/read/site/post-email-subscriptions/delete/index.js
  client/state/data-layer/wpcom/read/site/post-email-subscriptions/delete/test/index.js
Labels: Framework, Reader, [Status] Ready to Merge

#28027 Use dispatchRequestEx for uploadGravatar
  client/state/data-layer/wpcom/gravatar-upload/index.js
  client/state/data-layer/wpcom/gravatar-upload/test/index.js
Labels: [Status] Needs Review

#28081 Use dispatchRequestEx for updateNewPostEmailSubscription
  client/state/data-layer/wpcom/read/site/post-email-subscriptions/update/index.js
  client/state/data-layer/wpcom/read/site/post-email-subscriptions/update/test/index.js
Labels: Framework, [Status] Needs Review

#27979 remove 'bin/analyze-css.js' & deps
  bin/analyze-css.js
  npm-shrinkwrap.json
  package.json
Labels: [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#28276 Subscription length picker: fix display of 'credit applied' label
  client/blocks/subscription-length-picker/option.jsx
Labels: Checkout, [Status] Needs Review

#28238 Remove 'blob' dependency
  client/blocks/reader-export-button/index.jsx
  npm-shrinkwrap.json
  package.json
Labels: Reader, [Status] Needs e2e Testing, [Type] Janitorial

#27921 Use dispatchRequestEx for writePostComment & writeReplyComment
  client/state/data-layer/wpcom/sites/comments/replies/new/index.js
  client/state/data-layer/wpcom/sites/comments/replies/new/test/index.js
  client/state/data-layer/wpcom/sites/posts/replies/new/index.js
  client/state/data-layer/wpcom/sites/posts/replies/new/test/index.js
  client/state/data-layer/wpcom/sites/test/utils.js
  client/state/data-layer/wpcom/sites/utils.js
Labels: Framework, [Status] Needs Review

#28169 Simple Payments: gutenberg block UI
  client/components/tinymce/plugins/simple-payments/dialog/index.jsx
  client/components/tinymce/plugins/simple-payments/dialog/list-item.jsx
  client/gutenberg/editor/edit-post/editor.js
  client/gutenberg/extensions/presets/jetpack/editor.js
  client/gutenberg/extensions/presets/jetpack/index.json
  client/gutenberg/extensions/simple-payments/edit.js
  client/gutenberg/extensions/simple-payments/editor.js
  client/gutenberg/extensions/simple-payments/editor.scss
  client/gutenberg/extensions/simple-payments/paypal-button.png
  client/gutenberg/extensions/simple-payments/paypal-button@2x.png
  client/gutenberg/extensions/simple-payments/product-placeholder.jsx
  client/gutenberg/extensions/simple-payments/product-placeholder.scss
  client/lib/simple-payments/constants.js
  config/development.json
Labels: Simple Payments, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Feature progress

#28267 Gutenberg: remove remaining usages of wordpress/nux package
  client/gutenberg/editor/edit-post/components/header/index.js
  client/gutenberg/editor/edit-post/components/header/more-menu/index.js
  client/gutenberg/editor/edit-post/components/header/tips-toggle/index.js
  package.json
Labels: [Goal] Gutenberg, [Status] Ready to Merge, [Type] Janitorial

#28286 Gutenberg: Calypsoify links to the editor
  client/blocks/post-item/index.jsx
  client/my-sites/pages/helpers.js
  client/my-sites/pages/page-list.jsx
  client/my-sites/pages/page/index.js
  client/my-sites/post-type-list/empty-content.jsx
  client/my-sites/post-type-list/post-actions-ellipsis-menu/duplicate.jsx
  client/my-sites/post-type-list/post-actions-ellipsis-menu/edit.jsx
  client/my-sites/sidebar/manage-menu.jsx
  client/state/selectors/get-editor-url.js
  client/state/selectors/is-calypsoify-gutenberg-enabled.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#28113 Launch sites: Add a launch site button
  client/my-sites/site-settings/form-general.jsx
  client/my-sites/site-settings/style.scss
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/launch/index.js
  client/state/sites/launch/actions.js
  client/state/sites/launch/test/actions.js
  client/state/sites/schema.js
Labels: Site Settings, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Enhancement

#28250 Gutenberg SDK: include a block manifest when building a preset
  bin/sdk/gutenberg.js
  npm-shrinkwrap.json
  package.json
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#28296 Gutenberg: properly load in a history revision
  client/gutenberg/editor/edit-post/components/layout/index.js
Labels: [Goal] Gutenberg, [Status] Needs Review

#28176 Adds eCommerce plan constants.
  client/lib/plans/constants.js
  client/lib/plans/index.js
  client/lib/plans/test/plan-lookups.js
  client/lib/products-values/index.js
  client/lib/products-values/test/index.js
  client/state/selectors/test/can-upgrade-to-plan.js
  client/state/selectors/test/is-site-on-paid-plan.js
Labels: Plans, [Status] Ready to Merge, [Tests] Includes Tests, [Type] Enhancement

#27997 ChartTabs: Optimize performance using the data layer
  client/components/chart/bar-container.jsx
  client/components/chart/index.jsx
  client/components/data/query-site-stats/constants.js
  client/components/data/query-site-stats/index.jsx
  client/my-sites/stats/stats-chart-tabs/index.jsx
  client/my-sites/stats/stats-chart-tabs/utility.js
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/stats/index.js
  client/state/data-layer/wpcom/sites/stats/visits/from-api.js
  client/state/data-layer/wpcom/sites/stats/visits/index.js
  client/state/data-layer/wpcom/sites/stats/visits/schema.js
  client/state/data-layer/wpcom/sites/stats/visits/test/index.js
  client/state/stats/chart-tabs/actions.js
  client/state/stats/chart-tabs/constants.js
  client/state/stats/chart-tabs/reducer.js
  client/state/stats/chart-tabs/schema.js
  client/state/stats/chart-tabs/selectors.js
  client/state/stats/chart-tabs/test/reducer.js
  client/state/stats/chart-tabs/test/selectors.js
  client/state/stats/lists/utils.js
  client/state/stats/reducer.js
Labels: Data, Performance, Stats, [Status] Needs Review, [Type] Enhancement

#26476 i18n: Add reactive moment and formatted date components
  babel.config.js
  client/blocks/image-selector/test/index.jsx
  client/blocks/privacy-policy-banner/index.jsx
  client/components/formatted-date/README.md
  client/components/formatted-date/docs/example.js
  client/components/formatted-date/index.js
  client/components/formatted-date/to-current-locale.js
  client/components/root-child/index.jsx
  client/components/with-localized-moment/context.js
  client/components/with-localized-moment/index.js
  client/components/with-localized-moment/test/index.js
  client/controller/index.web.js
  client/devdocs/design/component-examples.js
  client/devdocs/design/index.jsx
  client/devdocs/design/playground-scope.js
  client/extensions/woocommerce/app/order/order-created/index.js
  client/layout/masterbar/quick-language-switcher.jsx
  client/lib/react-helpers/index.js
  client/me/account/main.jsx
  client/my-sites/activity/activity-log/index.jsx
  client/signup/steps/clone-point/index.jsx
  npm-shrinkwrap.json
  package.json
  webpack.config.js
Labels: Framework, [Status] Needs Review, [Status] Needs e2e Testing, i18n

#28300 Domains: Add availability messages for staging domain
  client/lib/domains/constants.js
  client/lib/domains/registration/availability-messages.js
Labels: [Status] Ready to Merge

#28327 Gutenberg: remove the gutenberg/revisions feature flag
  client/gutenberg/editor/components/sidebar/last-revision/index.js
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Goal] Gutenberg, [Status] Needs Review

#28316 Calypsoify: Bypass the preferred editor check
  client/post-editor/controller.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#27624 Add data e2e selectors - part 2
  client/blocks/post-item/index.jsx
  npm-shrinkwrap.json
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#28350 Fixed: checklist is not working for Atomic sites
  client/my-sites/checklist/main.jsx
Labels: Checklist, [Pri] High, [Status] Ready to Merge, [Type] Bug

#28221 Show error message when user to delete owns site domain.
  client/my-sites/people/people-notices/index.jsx
Labels: Domains, [Status] Ready to Merge

#28354 Domains: Run suggestion test on NUX for all locales
  client/lib/abtest/active-tests.js
  client/signup/steps/domains/index.jsx
Labels: Domains, NUX

#28174 Domains: Treat specific queries from /domains as a search
  client/signup/steps/domains/index.jsx
Labels: Domains, NUX, [Status] Needs Review, [Status] Needs e2e Testing

#28351 Simple payments: prettify & use i18n wrapper
  client/gutenberg/extensions/simple-payments/edit.js
  client/gutenberg/extensions/simple-payments/editor.scss
  client/gutenberg/extensions/simple-payments/product-placeholder.jsx
  client/gutenberg/extensions/simple-payments/product-placeholder.scss
Labels: Simple Payments, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Janitorial

#28254 Record signup events in Bing
  client/lib/analytics/ad-tracking.js
Labels: Analytics, [Status] Ready to Merge

#28368 Gutenberg: initialize format-library
  assets/stylesheets/sections/gutenberg-editor.scss
  client/gutenberg/editor/init.js
  client/gutenberg/editor/style.scss
  npm-shrinkwrap.json
  package.json
Labels: [Goal] Gutenberg, [Pri] BLOCKER, [Status] Needs Review, [Type] Bug

#28334 Gutenberg: redirect to calypsoify or /gutenberg after opt-in
  client/post-editor/editor-gutenberg-opt-in-dialog/index.jsx
  client/state/data-layer/wpcom/sites/gutenberg/index.js
  client/state/selected-editor/actions.js
Labels: [Goal] Gutenberg, [Status] Needs Review

#28283 Render error page when section load fails
  client/layout/error.jsx
Labels: [Status] Needs Review, [Type] Bug, [Type] Janitorial

#28345 State persistence: refactor the combineReducers function
  client/state/utils.js
Labels: Framework, [Status] Needs Review

#28384 Use translation pluralization for user delete message.
  client/my-sites/people/people-notices/index.jsx
Labels: Domains, [Status] Ready to Merge

#28381 Add progress logging when generating bundle stats
  bin/icfy-analyze.js
  webpack.config.js
Labels: Build, [Status] Needs Review

#28389 Domains: Only run the search anew if the user just landed from /domains
  client/signup/steps/domains/index.jsx
Labels: [Status] Ready to Merge

#28353 Update/simple payments block help messages
  client/gutenberg/extensions/simple-payments/edit.js
  client/gutenberg/extensions/simple-payments/editor.scss
  client/gutenberg/extensions/simple-payments/help-message.js
  client/gutenberg/extensions/simple-payments/help-message.scss
Labels: Simple Payments, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Feature progress

#28372 Gutenberg: show opt-in modals on wpcalypso
  assets/stylesheets/shared/functions/_z-index.scss
  client/post-editor/editor-gutenberg-opt-in-notice/style.scss
  config/wpcalypso.json
Labels: [Goal] Gutenberg, [Status] Needs Review, [Status] Needs e2e Testing

#28349 Gutenberg: remove separate TinyMCE lists plugin import
  client/gutenberg/editor/init.js
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Janitorial

#28348 Gutenberg: remove mapping for gutenberg/v1 endpoints
  client/gutenberg/editor/api-middleware/index.js
  client/gutenberg/editor/api-middleware/test/index.js
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Janitorial

#28395 Gutenberg: Replace the close label with an exit icon
  client/gutenberg/editor/edit-post/components/header/header-toolbar/index.js
  client/gutenberg/editor/style.scss
Labels: [Goal] Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#28402 Add terser cache cache to CI
  .circleci/config.yml
  webpack.config.js
Labels: Build, [Status] Ready to Merge, [Type] Enhancement

#28392 When writing webpack progress log, throttle 'building' messages to one-per-second
  webpack.config.js
Labels: Build, [Status] Needs Review

#28371 Site Import: Clear site details after successful import
  client/my-sites/importer/importer-header/done-button.jsx
Labels: Site Importer, [Status] Needs Review

#28380 Currencies: use currency specific symbols instead of "$"
  client/lib/format-currency/currencies.js
  client/lib/format-currency/test/index.js
Labels: Simple Payments, [Pri] Low, [Status] Needs e2e Testing, [Status] Ready to Merge, i18n

#27125 Tabbed navigation for wp.com plans and signup
  client/components/plans/plan-icon/index.jsx
  client/lib/discounts/active-discounts.js
  client/my-sites/checkout/checkout-thank-you/custom-domain-purchase-detail.jsx
  client/my-sites/plan-features/index.jsx
  client/my-sites/plan-features/style.scss
  client/my-sites/plan-features/test/index.jsx
  client/my-sites/plans-features-main/index.jsx
  client/my-sites/plans-features-main/test/index.jsx
  client/my-sites/plans/controller.jsx
  client/my-sites/plans/main.jsx
  client/signup/steps/plans/index.jsx
  public/images/illustrations/custom-domain-blogger.svg
  public/images/plans/plan-blogger-circle.svg
  public/images/plans/plan-blogger.svg
Labels: Plans, [Status] Needs Review, [Tests] Includes Tests

#28299 Reader: fix comment count display regression
  client/blocks/comments/comment-count.jsx
Labels: Reader, [Status] Needs Review, i18n

#28237 NUX Signup: Extract the vertical search as a reusable component.
  client/components/suggestion-search/README.md
  client/components/suggestion-search/docs/example.jsx
  client/components/suggestion-search/index.jsx
  client/devdocs/design/index.jsx
  client/signup/steps/about/index.jsx
  client/signup/steps/site-topic/index.jsx
Labels: Signup, [Status] Ready to Merge

#28343 NUX Signup: Filling `siteTopic` dependency through `vertical` query parameter.
  client/signup/main.jsx
Labels: Signup, [Status] Needs Review

#28412 Checklist: Hide the contact page item when we can't get the exact URL
  client/my-sites/checklist/wpcom-checklist/index.jsx
Labels: Checklist, [Status] Needs Review

#28382 Gutenberg: Remove Refresh link from Publicize extension
  client/gutenberg/extensions/publicize/panel.jsx
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review, [Type] Feature progress

#28378 Build SDK Gutenpack: Use file-loader to include images
  client/assets/README.md
  client/assets/images/related-posts/cat-blog.png
  client/assets/images/related-posts/devices.jpg
  client/assets/images/related-posts/mobile-wedding.jpg
  client/gutenberg/extensions/presets/jetpack/package.json
  client/gutenberg/extensions/related-posts/constants.js
  client/gutenberg/extensions/simple-payments/product-placeholder.jsx
  client/my-sites/site-settings/related-posts/related-content-preview.jsx
  webpack.config.js
Labels: Build, Google Maps, Jetpack, Simple Payments, Site Settings, [Goal] Gutenberg, [Project] SDK, [Status] Ready to Merge, [Type] Enhancement

#28379 NUX Signup: Auto hide the site topic field when there is the site-topic step.
  client/signup/config/flows-pure.js
  client/signup/steps/about/index.jsx
Labels: Signup, [Status] Ready to Merge

#28242 NUX: Auto continue from the processing screen
  client/lib/signup/flow-controller.js
  client/signup/config/flows-pure.js
  client/signup/main.jsx
  client/signup/processing-screen/index.jsx
Labels: NUX, Signup, [Status] Ready to Merge

#28383 Gutenberg: Prevent race condition between Redux subscribe and Page routing
  client/gutenberg/editor/controller.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#28396 Gutenberg: Improve Publicize add connection button
  client/gutenberg/extensions/publicize/editor.scss
  client/gutenberg/extensions/publicize/settings-button.jsx
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review

#28417 Simple payments block: copy updates
  client/gutenberg/extensions/simple-payments/edit.js
Labels: Simple Payments, [Goal] Gutenberg, [Status] Ready to Merge

#28403 Add/icfy failure notification
  .circleci/config.yml
Labels: Build, [Status] Ready to Merge, [Type] Enhancement

#28109 Signup: Own Domain Help Link opens in a new window
  client/components/domains/use-your-domain-step/index.jsx
Labels: Desktop App, Help, Signup, [Type] Enhancement

#28386 Gutenberg: Simplify new connection addition, cleanup
  client/gutenberg/extensions/publicize/editor.scss
  client/gutenberg/extensions/publicize/no-connections.jsx
  client/gutenberg/extensions/publicize/panel.jsx
  client/gutenberg/extensions/publicize/settings-button.jsx
  client/gutenberg/extensions/publicize/store/actions.js
  client/gutenberg/extensions/publicize/store/reducer.js
  client/gutenberg/extensions/publicize/store/resolvers.js
  client/gutenberg/extensions/publicize/store/selectors.js
Labels: Jetpack, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Feature progress

#28393 Domains: Close A/B tests for .blog subdomains and site-or-domain steps
  client/lib/abtest/active-tests.js
  client/signup/steps/domains/index.jsx
  client/signup/steps/site-or-domain/index.jsx
Labels: Domains, [Status] Needs e2e Testing, [Status] Ready to Merge

#28074 NUX: Add/new signup site type step for onboarding
  assets/stylesheets/sections/signup.scss
  client/lib/abtest/active-tests.js
  client/lib/signup/site-type.js
  client/lib/signup/step-actions.js
  client/signup/config/flows-pure.js
  client/signup/config/flows.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/main.jsx
  client/signup/processing-screen/index.jsx
  client/signup/steps/about/index.jsx
  client/signup/steps/about/style.scss
  client/signup/steps/site-type/index.jsx
  client/signup/steps/site-type/style.scss
  client/signup/style.scss
  client/signup/utils.js
  client/state/signup/steps/reducer.js
Labels: NUX, Signup, [Status] Needs Review, [Type] Feature progress

#28406 Gutenberg: Blocks warning dialog
  assets/stylesheets/sections/post-editor.scss
  client/components/dialog/style.scss
  client/post-editor/editor-gutenberg-blocks-warning-dialog/index.jsx
  client/post-editor/editor-gutenberg-blocks-warning-dialog/style.scss
  client/post-editor/post-editor.jsx
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Task

#28367 Update ecommerce in /lib
  client/lib/automated-transfer/index.js
  client/lib/automated-transfer/test/index.js
Labels: Plans, [Status] Ready to Merge, [Type] Feature progress

#28364 Add ecommerce constants in /my-sites
  client/my-sites/domains/domain-management/transfer/transfer-to-other-site/test/index.jsx
  client/my-sites/plan-features/test/header.jsx
  client/my-sites/plans-features-main/index.jsx
  client/my-sites/plans-features-main/test/index.jsx
  client/my-sites/plugins/plugin-meta/index.jsx
  client/my-sites/plugins/plugin-meta/test/index.js
  client/my-sites/plugins/plugins-browser/index.jsx
  client/my-sites/site-settings/search.jsx
Labels: Plans, [Status] Ready to Merge, [Type] Feature progress

#28434 Gutenberg: filter vip sites from site selection for the /gutenberg section
  client/my-sites/sites/index.jsx
Labels: [Goal] Gutenberg, [Status] Needs Review

#28435 Gutenberg: fix block inserted search box width
  client/gutenberg/editor/style.scss
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Bug

#27996 Contact Form Gutenblock
  client/gutenberg/extensions/contact-form/components/jetpack-contact-form.jsx
  client/gutenberg/extensions/contact-form/components/jetpack-field-checkbox.jsx
  client/gutenberg/extensions/contact-form/components/jetpack-field-label.jsx
  client/gutenberg/extensions/contact-form/components/jetpack-field-multiple.jsx
  client/gutenberg/extensions/contact-form/components/jetpack-field-required-toggle.jsx
  client/gutenberg/extensions/contact-form/components/jetpack-field-textarea.jsx
  client/gutenberg/extensions/contact-form/components/jetpack-field.jsx
  client/gutenberg/extensions/contact-form/components/jetpack-option.jsx
  client/gutenberg/extensions/contact-form/editor.js
  client/gutenberg/extensions/contact-form/editor.scss
  client/gutenberg/extensions/presets/jetpack/editor.js
  client/gutenberg/extensions/presets/jetpack/index.json
Labels: [Goal] Gutenberg, [Status] In Progress, [Status] Needs Review

#28055 Plans: Update link for plugin-upload-feature
  client/blocks/product-purchase-features-list/upload-plugins.jsx
  client/my-sites/checkout/checkout-thank-you/business-plan-details.jsx
Labels: [Status] Ready to Merge

#28428 Gutenberg: Use prettier for all of Publicize
  client/gutenberg/extensions/publicize/connection-verify.jsx
  client/gutenberg/extensions/publicize/connection.jsx
  client/gutenberg/extensions/publicize/editor.js
  client/gutenberg/extensions/publicize/editor.scss
  client/gutenberg/extensions/publicize/form-unwrapped.jsx
  client/gutenberg/extensions/publicize/form.jsx
  client/gutenberg/extensions/publicize/panel.jsx
  client/gutenberg/extensions/publicize/settings-button.jsx
  client/gutenberg/extensions/publicize/store/actions.js
  client/gutenberg/extensions/publicize/store/controls.js
  client/gutenberg/extensions/publicize/store/effects.js
  client/gutenberg/extensions/publicize/store/index.js
  client/gutenberg/extensions/publicize/store/middlewares.js
  client/gutenberg/extensions/publicize/store/reducer.js
  client/gutenberg/extensions/publicize/store/resolvers.js
  client/gutenberg/extensions/publicize/store/selectors.js
  client/gutenberg/extensions/publicize/store/utils.js
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review, [Type] Janitorial

#28438 Simple payments block: copy changes
  client/gutenberg/extensions/simple-payments/edit.js
Labels: Simple Payments, [Goal] Gutenberg, [Status] Ready to Merge

#28459 Github: Use JSX syntax highlighting for *.js
  .gitattributes
Labels: [Status] Ready to Merge, [Type] Enhancement, [Type] Janitorial

#28374 Gutenberg: enable Calypsoify flows to 50% of new users
  client/lib/abtest/active-tests.js
  client/post-editor/editor-gutenberg-opt-in-notice/index.jsx
  client/post-editor/editor-gutenberg-opt-in-sidebar/index.jsx
  client/state/selectors/get-editor-url.js
  client/state/selectors/is-calypsoify-gutenberg-enabled.js
  config/production.json
  config/stage.json
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#28464 Gutenberg: revert Calypsoify rollout
  config/production.json
  config/stage.json
Labels: [Goal] Gutenberg, [Status] Needs Review

#28341 NUX Signup: Support the signup sandbox mode for easier testing.
  client/lib/signup/step-actions.js
Labels: Signup, [Status] Needs Review

#28451 migrate comments styles to webpack
  assets/stylesheets/sections/comments.scss
  client/my-sites/comment/main.jsx
  client/my-sites/comments/comment-replies-list/index.jsx
  client/my-sites/comments/comment/index.jsx
  client/my-sites/comments/main.jsx
  client/wordpress-com.js
Labels: Framework, [Status] Needs Review

#28415 Checklist: disabled when site creation date is incorrect
  client/state/selectors/is-eligible-for-dotcom-checklist.js
Labels: Checklist, [Status] Needs Review

#28479 Simple Payments block: Update title, description, and keywords
  client/gutenberg/extensions/simple-payments/editor.js
Labels: Simple Payments, [Goal] Gutenberg, [Pri] Normal, [Status] Ready to Merge

#28463 Gutenberg: Update Publicize to use the new REST API
  client/gutenberg/extensions/publicize/connection-verify.jsx
  client/gutenberg/extensions/publicize/connection.jsx
  client/gutenberg/extensions/publicize/form-unwrapped.jsx
  client/gutenberg/extensions/publicize/form.jsx
  client/gutenberg/extensions/publicize/store/effects.js
  client/gutenberg/extensions/publicize/store/resolvers.js
  client/gutenberg/extensions/publicize/store/utils.js
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review, [Type] Feature progress

#28495 Gutenberg: Update Markdown placeholder opacity
  client/gutenberg/extensions/markdown/editor.scss
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review

#28404 Checklist: Add a launch site task to the checklist
  client/my-sites/checklist/wpcom-checklist/index.jsx
  client/my-sites/checklist/wpcom-checklist/wpcom-task-list.js
  client/state/data-layer/wpcom/sites/launch/index.js
  public/images/stats/tasks/launch.svg
Labels: Checklist, [Status] Needs Review

#28499 Gutenberg: Fix Calypsoify flows for all environments
  client/lib/abtest/active-tests.js
  client/post-editor/editor-gutenberg-blocks-warning-dialog/index.jsx
  client/post-editor/editor-gutenberg-opt-in-notice/index.jsx
  client/post-editor/editor-gutenberg-opt-in-sidebar/index.jsx
  client/state/selectors/get-editor-url.js
  client/state/selectors/is-calypsoify-gutenberg-enabled.js
  client/state/selectors/is-gutenberg-enabled.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#28502 Gutenberg: enable Calypsoify opt in in staging and production
  config/production.json
  config/stage.json
Labels: [Goal] Gutenberg

#28507 Gutenberg: bump Calypsoify to 99% of new users
  client/lib/abtest/active-tests.js
Labels: [Goal] Gutenberg, [Status] Needs Review

#28508 Gutenberg: release Calypsiofy to all Simple site users
  client/lib/abtest/active-tests.js
  client/state/selectors/is-calypsoify-gutenberg-enabled.js
Labels: [Goal] Gutenberg, [Status] Needs Review

#28414 Atomic: Add atomic transfer state
  client/state/action-types.js
  client/state/atomic-transfer/README.md
  client/state/atomic-transfer/actions.js
  client/state/atomic-transfer/constants.js
  client/state/atomic-transfer/reducer.js
  client/state/atomic-transfer/schema.js
  client/state/atomic-transfer/test/actions.js
  client/state/atomic-transfer/test/reducer.js
  client/state/data-layer/wpcom/sites/transfers/latest.js
  client/state/reducer.js
  client/state/selectors/get-atomic-transfer.js
  client/state/selectors/is-fetching-atomic-transfer.js
  client/state/selectors/test/get-atomic-transfer.js
  client/state/selectors/test/is-fetching-atomic-transfer.js
Labels: [Status] Ready to Merge, [Tests] Includes Tests

#28080 Prepare for for monthly business plan - add constants
  client/lib/plans/constants.js
  client/lib/plans/test/plan-lookups.js
  client/lib/products-values/index.js
Labels: [Status] Ready to Merge

#28144 Fix WeChat payment box button render
  client/my-sites/checkout/checkout/test/wechat-payment-box.js
  client/my-sites/checkout/checkout/test/wechat-payment-qrcode.js
  client/my-sites/checkout/checkout/wechat-payment-box.jsx
Labels: [Pri] Low, [Status] Ready to Merge

#28082 Update existing unit tests to include monthly business plan
  client/blocks/post-share/test/nudges.jsx
  client/lib/plans/test/plan-levels-match.js
  client/me/concierge/test/main.js
  client/me/help/help-courses/test/index.jsx
  client/me/help/test/main.jsx
  client/my-sites/checkout/checkout/test/credit-card-payment-box.js
  client/my-sites/checkout/checkout/test/credits-payment-box.js
  client/my-sites/checkout/checkout/test/paypal-payment-box.js
  client/my-sites/checkout/checkout/test/redirect-payment-box.js
  client/my-sites/checkout/checkout/test/wechat-payment-box.js
  client/my-sites/domains/domain-management/transfer/transfer-to-other-site/test/index.jsx
  client/my-sites/plugins/plugin-meta/test/index.js
  client/signup/steps/plans-atomic-store/test/index.jsx
  client/signup/steps/site-picker/test/site-picker-submit.jsx
  client/state/selectors/test/can-upgrade-to-plan.js
  client/state/selectors/test/is-site-google-my-business-eligible.js
Labels: [Status] Needs Review

#28494 Gutenberg: Remove empty Markdown on Backspace press
  client/gutenberg/extensions/markdown/edit.jsx
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review, [Type] Enhancement

#28505 Make 10% of all new sites private by default
  client/lib/abtest/active-tests.js
  client/lib/signup/step-actions.js
Labels: [Status] Needs Review

#28501 Simple Payments block: Update the icon used for the block with Material
  client/gutenberg/extensions/simple-payments/editor.js
Labels: Simple Payments, [Goal] Gutenberg, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#28369 Signup: Implement a 'crowdsignal' signup flow based on 'wpcc'
  client/blocks/signup-form/index.jsx
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/signup/config/flows-pure.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/steps/user/index.jsx
  client/state/ui/oauth2-clients/reducer.js
Labels: Signup, [Status] Ready to Merge

#28514 Safeguard method calls on moment objects
  client/me/purchases/manage-purchase/plan-details/billing-period.jsx
  client/me/purchases/purchase-item/index.jsx
Labels: Store, [Status] Needs Review

#28535 Remove/publicize gutenblock effects middleware
  client/gutenberg/extensions/publicize/store/actions.js
  client/gutenberg/extensions/publicize/store/effects.js
  client/gutenberg/extensions/publicize/store/index.js
  client/gutenberg/extensions/publicize/store/middlewares.js
  client/gutenberg/extensions/publicize/store/resolvers.js
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review

#28440 Add mobile attribution to the Calypso get apps banner
  client/blocks/app-banner/index.jsx
  client/blocks/app-banner/style.scss
  client/blocks/app-banner/test/__snapshots__/app-banner.jsx.snap
Labels: [Status] Needs Review
