Repository Automattic/wp-calypso, pull requests merged in 2018-03, with the labels that each got.

#22854 Dependencies: Bump wpcom.js and slightly improve webpack config
  npm-shrinkwrap.json
  package.json
  webpack.config.js
Labels: Build, [Status] Needs Review, [Status] Needs e2e Testing (BETA), [Type] Enhancement, [Type] Janitorial

#22617 SiteIndicator: Remove WordPress core update functionality
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/site-indicator/site-indicator.jsx
  client/my-sites/site-indicator/style.scss
  client/post-editor/editor-ground-control/index.jsx
  client/state/action-types.js
  client/state/selectors/is-wordpress-update-successful.js
  client/state/selectors/test/is-wordpress-update-successful.js
  client/state/sites/updates/actions.js
  client/state/sites/updates/reducer.js
  client/state/sites/updates/test/actions.js
  client/state/sites/updates/test/reducer.js
  config/development.json
  config/horizon.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Jetpack, [Status] Needs Review, [Type] Janitorial

#22755 Update/sidebar banner
  client/lib/abtest/active-tests.js
  client/my-sites/current-site/sidebar-banner/index.jsx
  client/my-sites/current-site/sidebar-banner/style.scss
  client/my-sites/current-site/style.scss
  client/my-sites/current-site/test/domain-to-paid-plan-notice.jsx
Labels: Navigation, [Status] Ready to Merge

#22900 Add missing z-layer definition
  assets/stylesheets/shared/functions/_z-index.scss
Labels: Google My Business, [Status] Needs Review, [Type] Bug

#22703 Rewind: update notice for VP is running so it takes user to the flow to switch to Rewind
  client/my-sites/stats/activity-log/unavailability-notice.jsx
Labels: FixTheFlows, Jetpack Rewind, [Pri] Normal, [Status] Needs Review, [Type] Bug

#22893 Infinite List: Fix the isMounted warning
  client/components/infinite-list/index.jsx
Labels: Components, Reader, [Status] Needs Review, [Type] Janitorial

#22845 Remove concierge available times limit
  client/me/concierge/shared/available-time-picker.js
Labels: [Status] Ready to Merge

#22904 Framework: Add .prettierignore to exclude README.md files
  .prettierignore
Labels: Framework, [Status] Needs Review

#22775 JP Onboarding: Make saveJetpackOnboardingSettings() generic, use to perform JPC-auth'd requests
  client/components/data/query-jetpack-onboarding-settings/README.md
  client/components/data/query-jetpack-onboarding-settings/index.jsx
  client/jetpack-onboarding/main.jsx
  client/jetpack-onboarding/steps/site-title.jsx
  client/state/data-layer/wpcom/jetpack/settings/index.js
  client/state/data-layer/wpcom/jetpack/settings/test/index.js
  client/state/jetpack-onboarding/actions.js
  client/state/jetpack-onboarding/reducer.js
  client/state/jetpack-onboarding/schema.js
  client/state/jetpack-onboarding/test/actions.js
  client/state/jetpack-onboarding/test/reducer.js
  client/state/selectors/get-jetpack-onboarding-pending-steps.js
  client/state/selectors/get-jetpack-onboarding-settings.js
  client/state/selectors/test/get-jetpack-onboarding-pending-steps.js
  client/state/selectors/test/get-jetpack-onboarding-settings.js
  client/state/selectors/test/is-jetpack-onboarding-step-completed.js
Labels: Jetpack Onboarding, [Status] Needs Review

#22910 JP Onboarding: Fix failing getJetpackOnboardingPendingSteps() unit test
  client/state/selectors/test/get-jetpack-onboarding-pending-steps.js
Labels: Jetpack Onboarding, [Status] Ready to Merge

#22856 Adding data attributes to tiles for e2e testing
  client/components/tile-grid/tile.jsx
  client/jetpack-onboarding/connect-success.jsx
  client/jetpack-onboarding/steps/business-address.jsx
  client/jetpack-onboarding/steps/contact-form.jsx
  client/jetpack-onboarding/steps/homepage.jsx
  client/jetpack-onboarding/steps/site-type.jsx
  client/jetpack-onboarding/steps/stats.jsx
Labels: Testing, [Status] Needs Review

#22896 Jetpack Connect: add WP logo in the Jetpack remote install credentials form.
  client/jetpack-connect/remote-credentials.js
  client/jetpack-connect/style.scss
  public/images/wordpress/logo-jpc.svg
Labels: Jetpack

#22863 Sidebar: Update switcher icon and line things up
  client/layout/sidebar/style.scss
  client/my-sites/current-site/index.jsx
  client/my-sites/current-site/style.scss
Labels: Site Picker, Sites, [Status] Needs Design Review, [Status] Needs Review, [Status] Needs e2e Testing (BETA), [Type] Enhancement

#22874 Update Google My Business designs
  client/my-sites/google-my-business/select-business-type/cta-card.js
  client/my-sites/google-my-business/select-business-type/index.js
  client/my-sites/google-my-business/select-business-type/style.scss
Labels: Google My Business, [Status] Ready to Merge

#22907 Framework: Add *.json to .prettierignore
  .prettierignore
Labels: Framework, [Status] Needs Review

#22892 People: fix 'viewers' tab for invites.
  client/my-sites/people/people-invites/index.jsx
Labels: People Management, [Status] Needs Review

#22891 Invites: display a friendlier error when user cannot view people list
  client/my-sites/people/people-invite-details/index.jsx
  client/my-sites/people/people-invite-details/test/index.jsx
  client/my-sites/people/people-invites/index.jsx
Labels: People Management, [Status] Ready to Merge

#18083 Site picker: Disable the icon and dropdown when only 1 site available
  client/components/sites-dropdown/index.jsx
  client/components/sites-dropdown/style.scss
  client/components/sites-dropdown/test/index.js
Labels: Components, [Status] Ready to Merge

#22930 Domains Checkout: prevent default submission of validation steps
  client/my-sites/checkout/checkout/domain-details-form.jsx
Labels: Checkout, Domains, [Pri] High, [Type] Bug

#22916 Notice: Remove redundant css rule
  client/components/notice/style.scss
Labels: Design, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#22763 Jetpack Onboarding: Delete credentials upon successful connection
  client/state/jetpack-onboarding/reducer.js
  client/state/jetpack-onboarding/test/reducer.js
Labels: Jetpack Onboarding, State, [Status] Ready to Merge, [Type] Enhancement

#22852 Jetpack Onboarding: Change skip link text on success screens
  client/jetpack-onboarding/main.jsx
Labels: Jetpack Onboarding, [Status] Ready to Merge, [Type] Enhancement

#22885 Me: Update ReauthRequired to use Redux analytics
  client/me/reauth-required/index.jsx
Labels: Analytics, Me, [Status] Ready to Merge, [Type] Janitorial

#22180 Jetpack connect: Jetpack branding
  client/jetpack-connect/jetpack-new-site/style.scss
  client/jetpack-connect/main-wrapper.jsx
  client/jetpack-connect/signup.js
  client/jetpack-connect/style.scss
  client/jetpack-connect/test/__snapshots__/signup.js.snap
Labels: Design, Jetpack, [Status] Needs Review, [Type] Task

#22835 JPC: restart the remote install flow for empty site data.
  client/jetpack-connect/remote-credentials.js
Labels: Jetpack, [Status] Needs Review

#22935 NPS Survey: Update README
  client/blocks/nps-survey/README.md
  client/blocks/nps-survey/index.jsx
Labels: [Status] Ready to Merge

#22902 JP Remote Install: Adjust API/state for new error returns
  client/jetpack-connect/remote-credentials.js
  client/state/data-layer/wpcom/jetpack-install/index.js
  client/state/data-layer/wpcom/jetpack-install/test/index.js
  client/state/jetpack-remote-install/actions.js
  client/state/jetpack-remote-install/reducer.js
  client/state/jetpack-remote-install/test/reducer.js
  client/state/selectors/get-jetpack-remote-install-error-code.js
  client/state/selectors/test/get-jetpack-remote-install-error-code.js
Labels: Jetpack, [Status] Needs Review, [Tests] Includes Tests

#22943 Jetpack connect: Enable branding without flag
  client/blocks/login/index.jsx
  client/jetpack-connect/main-wrapper.jsx
  client/jetpack-connect/style.scss
  config/development.json
  config/wpcalypso.json
Labels: Jetpack, [Status] Ready to Merge, [Type] Task

#22849 Jetpack Onboarding: Move JPC intro in a separate component
  client/jetpack-onboarding/connect-intro.jsx
  client/jetpack-onboarding/steps/business-address.jsx
  client/jetpack-onboarding/steps/contact-form.jsx
  client/jetpack-onboarding/steps/stats.jsx
Labels: Jetpack Onboarding, [Status] Needs Review, [Type] Janitorial

#22457 Shuffle site goal values
  client/lib/abtest/active-tests.js
  client/signup/steps/about/index.jsx
  client/state/action-types.js
  client/state/signup/steps/reducer.js
  client/state/signup/steps/site-goals-array/actions.js
  client/state/signup/steps/site-goals-array/reducer.js
  client/state/signup/steps/site-goals-array/schema.js
  client/state/signup/steps/site-goals-array/selectors.js
  client/state/signup/steps/site-goals-array/test/reducer.js
  client/state/signup/steps/site-goals-array/test/selectors.js
Labels: Signup, [Status] Needs Review

#22934 Jetpack Connect: remote install- introduce new JP branding to the creds form step.
  client/jetpack-connect/remote-credentials.js
  client/jetpack-connect/style.scss
Labels: Jetpack, [Status] Needs Review

#22947 JP Onboarding: Don't Commit JPO Credentials to JP Settings State
  client/state/data-layer/wpcom/jetpack/settings/index.js
  client/state/data-layer/wpcom/jetpack/settings/test/index.js
Labels: Jetpack Onboarding, [Status] Needs Review

#22937 NPS Survey: Fix padding of dialog
  client/layout/nps-survey-notice/style.scss
Labels: [Status] Ready to Merge, [Type] Bug

#22921 Reader: Update sidebar tags/lists colors
  client/reader/sidebar/_style.scss
Labels: [Status] Needs Review, [Type] Enhancement

#22779 Store: Remove hard-coded fees from settings page.
  client/extensions/woocommerce/app/settings/payments/payment-method-item.js
  client/extensions/woocommerce/lib/get-payment-method-details/details-mappings.json
Labels: Store

#22938 Fix changing the store country after the store is setup.
  client/extensions/woocommerce/app/dashboard/store-location-setup-view.js
  client/extensions/woocommerce/app/order/order-customer/dialog.js
  client/extensions/woocommerce/components/address-view/index.js
Labels: Store, [Status] Ready to Merge

#22630 Webpack: strictly verify imports and disable nodejs polyfilling
  .eslintrc.js
  client/blocks/reader-featured-video/index.jsx
  client/components/embed-container/index.jsx
  client/components/first-view/index.jsx
  client/components/forms/form-toggle/test/index.jsx
  client/components/forms/multi-checkbox/test/index.jsx
  client/components/phone-input/test/test-phone-number.js
  client/components/tinymce/plugins/wpcom-view/views.js
  client/components/tinymce/plugins/wpcom-view/views/embed/index.js
  client/components/web-preview/content.jsx
  client/extensions/index.js
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/test/reducer.js
  client/layout/guided-tours/config-elements/step.js
  client/layout/guided-tours/positioning.js
  client/lib/cart-values/test/index.js
  client/lib/cart/store/test/cart-synchronizer.js
  client/lib/credit-card-details/test/index.js
  client/lib/form-state/test/index.js
  client/lib/i18n-utils/test/utils.js
  client/lib/mixins/emitter/index.js
  client/lib/mixins/searchable/test/index.js
  client/lib/phone-validation/test/index.jsx
  client/lib/posts/post-list-store.js
  client/lib/posts/test/post-edit-store.js
  client/lib/posts/test/utils.js
  client/lib/resize-image-url/index.js
  client/lib/signup/test/dependency-store.js
  client/lib/signup/test/flow-controller.js
  client/lib/signup/test/progress-store.js
  client/lib/viewport/index.js
  client/lib/wrap-es6-functions/test/index.js
  client/my-sites/domains/components/domain-warnings/test/index.js
  client/my-sites/domains/domain-management/edit/test/mapped-domain.js
  client/my-sites/domains/domain-management/list/test/index.js
  client/my-sites/preview/main.jsx
  client/my-sites/themes/themes-magic-search-card/index.jsx
  client/sections.js
  client/signup/test/flows.js
  client/signup/test/utils.js
  client/state/google-apps-users/test/reducer.js
  client/state/google-apps-users/test/selectors.js
  client/state/happiness-engineers/test/selectors.js
  client/state/initial-state.js
  npm-shrinkwrap.json
  package.json
  webpack.config.js
Labels: Build, [Status] Needs Review, [Type] Enhancement

#22932 Reader: Sidebar cleanup and make lists look consistent
  client/reader/sidebar/_style.scss
Labels: Reader, [Status] Ready to Merge, [Type] Janitorial

#22948 Jetpack Onboarding: Allow connected sites to onboard without credentials
  client/jetpack-onboarding/main.jsx
Labels: Jetpack Onboarding, [Status] Ready to Merge, [Type] Enhancement

#22927 List End: Replace Noticon with Gridicon
  assets/stylesheets/shared/functions/_z-index.scss
  client/components/list-end/index.js
  client/components/list-end/style.scss
  client/reader/_style.scss
Labels: [Status] Needs Review

#22954 JPO: Have JPC redirect back after connecting
  client/jetpack-onboarding/connect-intro.jsx
  client/jetpack-onboarding/steps/business-address.jsx
  client/jetpack-onboarding/steps/contact-form.jsx
  client/jetpack-onboarding/steps/stats.jsx
Labels: Jetpack Onboarding, [Status] Ready to Merge

#22473 Post Likes: Add reducer support for new actions
  client/state/posts/likes/reducer.js
  client/state/posts/likes/schema.js
  client/state/posts/likes/test/reducer.js
  client/state/utils.js
Labels: Framework, Posts, Reader, [Status] Needs Review

#22962 Set a source on Add Invite requests so we can see where they come from.
  client/lib/wpcom-undocumented/lib/undocumented.js
Labels: People Management, [Size] S, [Status] Ready to Merge, [Type] Enhancement

#22898 dotuk: reposition 'UK Limited Company'
  client/components/domains/registrant-extra-info/uk-form.jsx
Labels: Domains, [Status] Ready to Merge, [Type] Task

#22887 GMB: Update nudge styles
  client/blocks/google-my-business-stats-nudge/style.scss
Labels: Google My Business, [Status] Ready to Merge

#22958 Jetpack Connect: Remove NOT_JETPACK notice
  client/jetpack-connect/jetpack-connect-notices.jsx
Labels: Jetpack, [Status] Ready to Merge

#22979 Themes Showcase: Stop themes banner CTA button appearing above sticky search bar
  client/my-sites/themes/themes-banner/style.scss
Labels: [Status] Needs Review

#22987 Comments: Remove unnecessary onClick prop
  client/my-sites/comments/comment-navigation/comment-navigation-tab.jsx
Labels: Accessibility, Comments, [Status] Needs Review, [Type] Janitorial

#22764 fix(head): provide unique key prop for meta & link elements
  client/document/index.jsx
Labels: [Status] Needs Review

#22992 Showcase: Remove 'You might also like' section from theme sheets
  assets/stylesheets/_components.scss
  client/my-sites/theme/main.jsx
  client/my-sites/theme/themes-related-card/index.jsx
  client/my-sites/theme/themes-related-card/style.scss
Labels: Themes, [Status] Ready to Merge

#22981 Themes: Fix Link on Professional Plan Banner
  client/my-sites/themes/single-site-jetpack.jsx
Labels: FixTheFlows, Jetpack, Jetpack Plans, Themes, [Status] Needs Review

#22982 Themes: Use Selectors to determine if Plan has Unlimited Themes
  client/my-sites/themes/single-site-wpcom.jsx
Labels: Themes, [Status] Needs Review

#22985 Themes: Open Customizer Always in Same Tab
  client/my-sites/themes/current-theme/button.jsx
Labels: FixTheFlows, Jetpack, Themes, [Status] Needs Review

#22886 Sidebar: Update notices to look more like notices
  client/my-sites/current-site/index.jsx
  client/my-sites/current-site/notice.jsx
  client/my-sites/current-site/style.scss
Labels: [Status] Ready to Merge

#22964 Reader: Add right margin to Follow Tag button
  client/reader/tag-stream/style.scss
Labels: Reader, [Status] Ready to Merge, [Type] Janitorial

#22963 Reader: Align delete icon in Tags
  client/reader/sidebar/_style.scss
Labels: Reader, [Status] Ready to Merge, [Type] Janitorial

#22805 Domains: Check for privacy support before adding subscription to cart...2nd try.
  client/lib/cart-values/cart-items.js
  client/lib/signup/step-actions.js
Labels: Domains, [Status] Ready to Merge

#22830 Stats: d3base component: reference new props on componentWillReceiveP…
  client/extensions/woocommerce/components/d3/base/index.js
Labels: Stats, [Status] Needs Review

#23005 Reader: Fix Conversations excerpt overflowing in FF
  client/blocks/conversations/style.scss
Labels: Reader, [Status] Ready to Merge, [Type] Bug

#22941 Stats: StatsError: Allow children to be rendered
  client/my-sites/stats/stats-error/index.jsx
Labels: [Status] Ready to Merge

#22949 Enable stats previous/next navigation in small screens
  client/my-sites/stats/stats-period-navigation/style.scss
Labels: FixTheFlows, Jetpack Activity Log, Stats, Store, [Pri] Normal, [Status] Needs Review, [Type] Bug

#22997 Plugins: Fix description height
  client/my-sites/plugins/plugin-sections/index.jsx
Labels: FixTheFlows, Jetpack, Jetpack Plugins, Plugins, [Status] Needs Review

#23006 Add Jetpack-specific illustrations for Calypso Plan features cards
  public/images/illustrations/jetpack-apps.svg
  public/images/illustrations/jetpack-concierge.svg
  public/images/illustrations/jetpack-dashboard.svg
  public/images/illustrations/jetpack-google-analytics.svg
  public/images/illustrations/jetpack-marketing.svg
  public/images/illustrations/jetpack-payments.svg
  public/images/illustrations/jetpack-search.svg
  public/images/illustrations/jetpack-security.svg
  public/images/illustrations/jetpack-spam.svg
  public/images/illustrations/jetpack-support.svg
  public/images/illustrations/jetpack-themes.svg
  public/images/illustrations/jetpack-updates.svg
  public/images/illustrations/jetpack-video-hosting.svg
  public/images/illustrations/jetpack-wordads.svg
Labels: FixTheFlows, Jetpack, Jetpack Plans, [Status] Needs Design Review, [Status] Needs Review

#22996 JITM: Fix incorrect messaging on themes upgrade
  client/my-sites/themes/single-site-jetpack.jsx
Labels: Jetpack, [Pri] Normal, [Status] Needs Review, [Type] Bug

#22826 Reader Recommendations: delete inactive code
  assets/stylesheets/_components.scss
  client/reader/index.js
  client/reader/recommendations/README.md
  client/reader/recommendations/controller.js
  client/reader/recommendations/global-tags/index.jsx
  client/reader/recommendations/index.js
  client/reader/recommendations/navigation/index.jsx
  client/reader/recommendations/posts/README.md
  client/reader/recommendations/posts/empty.jsx
  client/reader/recommendations/posts/index.jsx
  client/reader/recommendations/sites/index.jsx
  client/reader/recommendations/style.scss
  client/reader/stats.js
  client/wordpress-com.js
Labels: Reader, [Status] Ready to Merge, [Type] Janitorial

#23019 Store Transactions: execute the submit step callback asynchronously
  client/lib/upgrades/actions/checkout.js
Labels: [Status] Needs Review, [Type] Bug

#23023 Framework: upgrade moment library to 2.21.0
  npm-shrinkwrap.json
  package.json
Labels: Framework, [Status] Needs Review, [Status] Needs e2e Testing (BETA), [Type] Janitorial

#23024 Add page view event to checklist page
  client/my-sites/checklist/checklist-show/index.jsx
Labels: Checklist, [Status] Ready to Merge

#22986 Fix: Upgrade Pricing A/B test should not be assigned to unauthenticated users.
  client/lib/abtest/active-tests.js
  client/lib/plans/constants.js
  client/my-sites/plan-features/index.jsx
Labels: [Status] Needs Review

#22190 Site Settings: Enable language setting for Jetpack >= 5.9-alpha
  client/my-sites/site-settings/form-general.jsx
Labels: Jetpack, Site Settings, [Status] Needs e2e Testing (BETA)

#23007 Posts: List scheduled posts by soonest first (ASC)
  client/my-sites/posts/main.jsx
Labels: Posts

#22950 Foldable card: fixes flex-grow in smaller screens
  client/components/foldable-card/style.scss
Labels: Components, Design, FixTheFlows, Navigation, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#22998 JetpackModuleToggle: Destructure ownProps
  client/my-sites/site-settings/jetpack-module-toggle.jsx
Labels: Jetpack, Site Settings, [Status] Ready to Merge, [Type] Janitorial

#23030 Settings: Add anchors to SEO and Analytics sections
  client/my-sites/site-settings/form-analytics.jsx
  client/my-sites/site-settings/seo-settings/help.jsx
Labels: FixTheFlows, Site Settings, [Status] Ready to Merge, [Type] Enhancement

#23029 Editor: Fix visual issue in editor sidebar when content is expanded
  client/post-editor/editor-sidebar/style.scss
Labels: Design, Editor, [Type] Bug

#23001 Reader: add missing external link icon to subscriptions
  client/blocks/reader-subscription-list-item/index.jsx
  client/blocks/reader-subscription-list-item/style.scss
Labels: Reader, [Status] Needs Review

#22669 Checkout: Fix cart icon focus state
  client/my-sites/checkout/cart/cart-item.jsx
  client/my-sites/checkout/cart/style.scss
Labels: Accessibility, Checkout, [Type] Bug

#23038 Jetpack Plans: fix scrollLeft value to center the recommended plan
  client/my-sites/plan-features/index.jsx
Labels: FixTheFlows, Jetpack Plans, [Pri] Normal, [Status] Needs Review

#23013 Replace WordPress logo noticon loading state with svg
  assets/stylesheets/_main.scss
  client/document/desktop.jsx
  client/document/index.jsx
  client/jetpack-onboarding/main.jsx
Labels: [Status] Needs Review, [Type] Janitorial

#22940 Reader: Add back missing Comment, Like, Follow, Visit buttons
  assets/stylesheets/sections/reader-full-post.scss
  assets/stylesheets/shared/functions/_z-index.scss
  client/blocks/comment-button/style.scss
  client/blocks/reader-full-post/index.jsx
  client/blocks/reader-full-post/style.scss
Labels: Reader, [Status] Ready to Merge, [Type] Bug

#23048 Remove extra illustrions from JPO
  public/images/illustrations/illustration-businessaddress-jetpack.svg
  public/images/illustrations/illustration-start-jetpack.svg
  public/images/illustrations/illustration-stats-jetpack.svg
Labels: [Pri] Low, [Status] Needs Review, [Type] Janitorial

#23018 Set the address bar to the masterbar color on supported browsers
  client/components/head/index.jsx
  client/components/head/test/__snapshots__/index.jsx.snap
Labels: [Status] Needs Design Review, [Status] Needs Review

#23020 Remove unneeded code from the my-sites/drafts component
  client/my-sites/draft/index.jsx
Labels: [Status] Needs Review, [Type] Janitorial

#22908 Return to wp-admin button tracking
  client/blocks/product-purchase-features/product-purchase-features-list/index.jsx
  client/blocks/product-purchase-features/product-purchase-features-list/jetpack-return-to-dashboard.jsx
Labels: Jetpack, Jetpack Plans, [Status] Needs Review

#23050 Update README.md to include new graphic
  README.md
Labels: [Status] Needs Review

#23053 Me: Remove unused `action-remove` component.
  assets/stylesheets/_components.scss
  client/me/action-remove/README.md
  client/me/action-remove/index.jsx
  client/me/action-remove/style.scss
Labels: [Status] Ready to Merge

#23054 Plugins: Remove unused noticon CSS
  client/my-sites/plugins/plugin-action/style.scss
Labels: [Status] Needs Review

#23052 Domains: Update Privacy Policy upgrade to replace noticons and improve contrast
  client/my-sites/domains/domain-management/privacy-protection/card/content.jsx
  client/my-sites/domains/domain-management/style.scss
Labels: [Status] Ready to Merge

#23051 Replace bug noticon with gridicon
  assets/stylesheets/_main.scss
  client/document/desktop.jsx
  client/document/index.jsx
Labels: [Status] Ready to Merge, [Type] Janitorial

#23021 Reduxification User: get rid of isRtl method
  client/components/auto-direction/index.jsx
  client/components/auto-direction/test/auto-direction.jsx
  client/components/chart/label.jsx
  client/components/tinymce/index.jsx
  client/extensions/woocommerce/components/compact-tinymce/index.js
  client/layout/masterbar/publish.jsx
  client/lib/user/user.js
  client/my-sites/media-library/list.jsx
Labels: Framework, [Status] Needs Review

#23056 Store: Show an "are you sure" prompt when deleting a shipping zone
  client/extensions/woocommerce/app/settings/shipping/shipping-zone/index.js
Labels: Store, Store Services, [Status] Ready to Merge

#23063 Remove the translator invitation
  assets/stylesheets/shared/functions/_z-index.scss
  client/controller/index.web.js
  client/layout/community-translator/README.md
  client/layout/community-translator/invitation-utils.js
  client/layout/community-translator/invitation.jsx
  client/layout/community-translator/style.scss
  client/layout/index.jsx
Labels: [Type] Janitorial, [Type] Task

#23022 Store: Fix Shipping Dimensions Overflow
  client/extensions/woocommerce/app/settings/shipping/style.scss
Labels: Store, [Status] Ready to Merge

#23065 Observe Sites: remove
  client/my-sites/checkout/cart/secondary-cart.jsx
  client/my-sites/checkout/checkout/checkout.jsx
Labels: Data, [Status] Needs Review

#22647 Login: Accept back_to param to define back link behavior
  client/login/controller.js
  client/login/wp-login/index.jsx
  client/login/wp-login/login-links.jsx
Labels: FixTheFlows, Jetpack, Login, [Status] Ready to Merge, [Type] Task

#23044 SidebarBanner: Increase space between text and CTA button on tablet breakpoint - they were too close
  client/my-sites/current-site/sidebar-banner/style.scss
Labels: Design, [Status] Ready to Merge

#23047 JP Remote Install: Fix credentials submission
  client/jetpack-connect/remote-credentials.js
Labels: Jetpack, [Status] Needs Review

#22955 JP Onboarding: Bump required version to 5.9
  client/jetpack-connect/controller.js
Labels: Jetpack Onboarding, [Status] Ready to Merge

#23049 Guided Tour: make external link color more legible
  client/layout/guided-tours/style.scss
Labels: FixTheFlows, Guided Tours, [Status] Ready to Merge

#23043 Jetpack plans: centers plans on larger screens when HappyChat is active
  client/jetpack-connect/style.scss
Labels: FixTheFlows, Jetpack Plans, [Pri] High, [Status] Ready to Merge

#23058 Fix margins of the "Upload Theme" button on mobile
  client/my-sites/themes/style.scss
Labels: Themes

#21917 Translatable: PropType for "translatable strings" instead of only plain strings
  client/components/data/document-head/index.jsx
  client/components/drop-zone/index.jsx
  client/components/forms/form-radio-with-thumbnail/index.jsx
  client/components/search/index.jsx
  client/components/section-nav/tabs.jsx
  client/components/select-dropdown/index.jsx
  client/components/select-dropdown/item.jsx
  client/components/sidebar-navigation/index.jsx
  client/components/translatable/proptype.js
  client/components/translatable/test/proptype.js
  client/layout/masterbar/item.jsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/notifications.jsx
  client/layout/masterbar/publish.jsx
  client/layout/sidebar/item.jsx
  client/lib/translator-jumpstart/index.js
  client/login/wp-login/index.jsx
  client/me/connected-applications/index.jsx
  client/me/get-apps/apps-badge.jsx
  client/me/security-account-recovery/index.jsx
  client/me/security-section-nav/index.jsx
  client/me/security/main.jsx
  client/me/sidebar/index.jsx
  client/me/social-login/index.jsx
  client/me/two-step/index.jsx
  client/my-sites/plans/current-plan/index.jsx
  client/reader/sidebar/expandable-add-form.jsx
  client/reader/sidebar/expandable-heading.jsx
  client/reader/sidebar/expandable.jsx
Labels: Translator, [Status] In Progress, i18n

#23060 Media Lib: remove noticon from source picker
  client/my-sites/media-library/data-source.jsx
  client/my-sites/media-library/list-item.scss
  client/my-sites/media-library/style.scss
Labels: Media, [Status] Needs e2e Testing (BETA), [Status] Ready to Merge, [Type] Janitorial

#22905 CartItem: Fix key required prop warning
  client/my-sites/checkout/cart/cart-item.jsx
Labels: Checkout, [Status] Needs Review, [Type] Janitorial

#23064 Store: Show full/regular price for products when editing promotions.
  client/extensions/woocommerce/app/promotions/fields/promotion-applies-to-field/index.js
  client/extensions/woocommerce/components/product-search/index.js
  client/extensions/woocommerce/components/product-search/row.js
Labels: Store, [Status] Ready to Merge

#23074 Reader: lower photo only card character limit to 85
  client/state/reader/posts/normalization-rules.js
Labels: Reader, [Status] Needs Review

#22989 Editor: Update publish messaging to be consistent with updating.
  client/post-editor/editor-notice/index.jsx
  client/post-editor/editor-notice/test/__snapshots__/index.jsx.snap
  client/post-editor/editor-notice/test/index.jsx
Labels: Editor, [Status] Needs Review

#22516 Components: Remove ProgressIndicator Component
  assets/stylesheets/_components.scss
  client/components/progress-indicator/README.md
  client/components/progress-indicator/index.jsx
  client/components/progress-indicator/style.scss
Labels: Components, [Status] Ready to Merge, [Type] Janitorial

#22859 Store Dashboard: Refactor, Update widgets to use DashboardWidget
  client/extensions/woocommerce/app/dashboard/index.js
  client/extensions/woocommerce/app/dashboard/manage-no-orders-view.js
  client/extensions/woocommerce/app/dashboard/manage-orders-view.js
  client/extensions/woocommerce/app/dashboard/placeholder.js
  client/extensions/woocommerce/app/dashboard/required-pages-setup-view.js
  client/extensions/woocommerce/app/dashboard/required-plugins-install-view.js
  client/extensions/woocommerce/app/dashboard/setup/footer.js
  client/extensions/woocommerce/app/dashboard/setup/header.js
  client/extensions/woocommerce/app/dashboard/setup/index.js
  client/extensions/woocommerce/app/dashboard/setup/notices.js
  client/extensions/woocommerce/app/dashboard/setup/store-location.js
  client/extensions/woocommerce/app/dashboard/setup/style.scss
  client/extensions/woocommerce/app/dashboard/setup/task.js
  client/extensions/woocommerce/app/dashboard/setup/tasks.js
  client/extensions/woocommerce/app/dashboard/style.scss
  client/extensions/woocommerce/components/basic-widget/index.js
  client/extensions/woocommerce/components/basic-widget/style.scss
  client/extensions/woocommerce/components/dashboard-widget-row/style.scss
  client/extensions/woocommerce/components/dashboard-widget/README.md
  client/extensions/woocommerce/components/dashboard-widget/index.js
  client/extensions/woocommerce/components/dashboard-widget/row.js
  client/extensions/woocommerce/components/dashboard-widget/style.scss
  client/extensions/woocommerce/components/process-orders-widget/index.js
  client/extensions/woocommerce/components/process-orders-widget/style.scss
  client/extensions/woocommerce/components/share-widget/index.js
  client/extensions/woocommerce/components/share-widget/style.scss
  client/extensions/woocommerce/components/widget-group/index.js
  client/extensions/woocommerce/components/widget-group/style.scss
  client/extensions/woocommerce/style.scss
Labels: Store, [Status] Ready to Merge

#23057 NUX Welcome: remove
  assets/stylesheets/_components.scss
  client/boot/project/wordpress-com.js
  client/controller/index.web.js
  client/layout/index.jsx
  client/layout/nux-welcome/README.md
  client/layout/nux-welcome/index.js
  client/layout/nux-welcome/style.scss
  client/layout/nux-welcome/welcome-message.jsx
Labels: [Status] Needs Review

#23017 Me: Purchases: Tweak expiring notice for purchases with credits
  client/lib/purchases/index.js
  client/lib/purchases/test/data/index.js
  client/lib/purchases/test/index.js
  client/me/purchases/manage-purchase/notices.jsx
  client/me/purchases/purchase-item/index.jsx
Labels: FixTheFlows, Me, Purchases, [Status] Ready to Merge

#23014 Reader: Remove non-standard breakpoints
  client/blocks/comments/style.scss
  client/blocks/reader-post-card/style.scss
  client/blocks/reader-recommended-sites/style.scss
  client/blocks/reader-related-card/style.scss
  client/reader/search-stream/style.scss
  client/reader/stream/_style.scss
Labels: Reader, [Status] Needs Review, [Type] Janitorial

#23085 People: Add a button text to the invite button
  assets/stylesheets/_components.scss
  client/my-sites/people/people-invites/index.jsx
  client/my-sites/people/people-invites/style.scss
  client/my-sites/people/people-list-section-header/README.md
  client/my-sites/people/people-list-section-header/index.jsx
  client/my-sites/people/people-list-section-header/style.scss
Labels: People Management, [Status] Ready to Merge

#23110 Fix missing code for strong tag in plans grid.
  client/lib/plans/constants.js
Labels: Jetpack, [Type] Bug

#23077 Google My Business: Fix incorrect Track events
  client/my-sites/google-my-business/select-business-type/index.js
Labels: Google My Business, [Status] Ready to Merge, [Type] Bug

#23042 Login: Add support for 2FA codes with white spaces
  client/blocks/login/two-factor-authentication/verification-code-form.jsx
  client/me/security-account-recovery/recovery-phone-validation-notice.jsx
  client/state/account-recovery/settings/actions.js
  client/state/login/actions.js
Labels: Login, [Status] Needs Review, [Type] Enhancement

#23103 Jetpack Plans: remove `Unlimited Storage Space` feature and link generic `All` features to jetpack.com.
  client/lib/plans/constants.js
Labels: FixTheFlows, Jetpack, Plans, [Status] Ready to Merge, [Type] Enhancement

#22990 Reader Combined Card: add ellipsis menu
  client/blocks/reader-combined-card/index.jsx
  client/blocks/reader-combined-card/style.scss
  client/blocks/reader-post-options-menu/index.jsx
  client/reader/stream/post-lifecycle.jsx
Labels: Reader, [Status] Ready to Merge

#20989 Site Tour: Improve translation consistency
  client/layout/guided-tours/tours/checklist-about-page-tour.js
  client/layout/guided-tours/tours/checklist-contact-page-tour.js
  client/layout/guided-tours/tours/checklist-site-icon-tour.js
  client/layout/guided-tours/tours/checklist-site-tagline-tour.js
  client/layout/guided-tours/tours/checklist-site-title-tour.js
  client/layout/guided-tours/tours/editor-basics-tour.js
  client/layout/guided-tours/tours/editor-insert-menu-tour.js
  client/layout/guided-tours/tours/main-tour.js
  client/layout/guided-tours/tours/media-basics-tour.js
  client/layout/guided-tours/tours/site-title-tour.js
  client/layout/guided-tours/tours/theme-sheet-welcome-tour.js
  client/layout/guided-tours/tours/tutorial-site-preview-tour.js
Labels: Checklist, Guided Tours, [Status] Needs Review, [Status] String Freeze

#23082 Analytics: add Yahoo Gemini pixel
  client/lib/analytics/ad-tracking.js
Labels: Analytics, [Status] Needs Review

#23039 Reader: allow blocking of Jetpack sites
  client/blocks/reader-post-options-menu/index.jsx
  client/reader/stream/post-lifecycle.jsx
Labels: Reader, [Status] Ready to Merge

#23046 Reader: consume site block status from /read/sites/:site endpoint
  client/state/reader/site-blocks/reducer.js
  client/state/reader/site-blocks/test/reducer.js
  client/state/reader/sites/fields.js
  client/state/reader/sites/schema.js
Labels: Reader, [Status] Ready to Merge

#23075 Add 2-year plans constants to lib/plans
  client/lib/plans/constants.js
  client/lib/plans/test/can-upgrade-to-plan.js
  client/lib/plans/test/plan-levels-match.js
Labels: Plans, [Status] Ready to Merge

#23118 Prevent UI jumping while loading plans
  client/my-sites/plan-features/style.scss
Labels: Signup, [Status] Ready to Merge

#23088 Ads: Add section title to settings and remove old buttons
  client/my-sites/ads/form-settings.jsx
Labels: Ads, FixTheFlows, Site Settings, [Status] Ready to Merge, [Type] Enhancement

#23078 Jetpack Connect: Fix URL form spinner
  client/jetpack-connect/main.jsx
  client/jetpack-connect/site-url-input.jsx
  client/jetpack-connect/test/main.js
Labels: FixTheFlows, Jetpack, [Status] Ready to Merge

#23121 Guided Tours: fix scrolling using `shouldScrollTo`
  client/layout/guided-tours/config-elements/step.js
Labels: Guided Tours, [Status] Ready to Merge

#22994 Checkout: Disable coupon form if coupon field is empty
  client/my-sites/checkout/cart/cart-coupon.jsx
Labels: Checkout, [Status] Ready to Merge, [Type] Bug

#22259 Change the search field placeholder text
  client/my-sites/themes/themes-magic-search-card/index.jsx
Labels: Themes, [Status] In Progress

#21734 Special case for inserting media when text is selected (#15033)
  client/components/tinymce/plugins/media/plugin.jsx
  client/components/tinymce/plugins/media/test/utils.js
  client/components/tinymce/plugins/media/utils.js
  client/post-editor/editor-media-modal/index.jsx
Labels: Editor, Media, OSS Citizen, [Status] Ready to Merge

#23101 Adjust mobile styles for buttons in the theme switch modal.
  client/my-sites/themes/style.scss
Labels: Themes, [Status] Needs Review, [Type] Bug

#23128 Plugins: Move Redirect Logic to PluginsList
  client/my-sites/plugins/controller.js
  client/my-sites/plugins/index.js
  client/my-sites/plugins/main.jsx
Labels: Jetpack, Plugins, [Status] Ready to Merge

#21229 Store: Shipping Labels: Add checkout information to Rates step
  client/extensions/woocommerce/lib/order-values/index.js
  client/extensions/woocommerce/lib/order-values/test/index.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/rates-step/index.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/rates-step/style.scss
Labels: Store, Store Services, [Status] Ready to Merge

#23124 Guided Tours: add a subtle border around the `Quit` button
  client/layout/guided-tours/config-elements/quit.js
  client/layout/guided-tours/docs/API.md
  client/layout/guided-tours/style.scss
  client/layout/guided-tours/tours/main-tour.js
Labels: Guided Tours, [Status] Ready to Merge, [Type] Enhancement

#23008 Editor: Confirmation: Shorting the heading text and make it easier to read.
  client/post-editor/editor-confirmation-sidebar/header.jsx
  client/post-editor/editor-confirmation-sidebar/style.scss
Labels: [Status] Needs Review

#23135 Store: Put an "Add" button on the promotions menu item
  client/extensions/woocommerce/store-sidebar/index.js
Labels: Store, [Status] Ready to Merge

#23119 Jetpack Connect: Manual instructions copy + illustration updates
  client/jetpack-connect/example-components/jetpack-connect.jsx
  client/jetpack-connect/install-step.jsx
  client/jetpack-connect/main.jsx
  client/jetpack-connect/style.scss
Labels: FixTheFlows, Jetpack, [Status] Needs Review

#23133 Jetpack Connect: Move logo down from the masterbar
  client/jetpack-connect/style.scss
Labels: Jetpack, [Status] Needs Design Review

#23066 Devdocs: Fix page change lag in devdocs (fix #22756)
  client/devdocs/delay-render/index.js
  client/devdocs/design/search-collection.jsx
  npm-shrinkwrap.json
  package.json
Labels: [Status] Needs Review

#23107 Components: Update accessibility of Checklist
  client/components/checklist/checklist-header.jsx
  client/components/checklist/checklist-placeholder.jsx
  client/components/checklist/checklist-task.jsx
  client/components/checklist/docs/example.jsx
  client/components/checklist/index.jsx
  client/components/checklist/style.scss
Labels: Accessibility, Checklist, [Status] Ready to Merge

#23106 Update illustrations on My Plan page
  public/images/illustrations/ads-removed.svg
  public/images/illustrations/google-adwords.svg
Labels: FixTheFlows, Jetpack, Plans, [Status] Needs Review

#23027 Fix calypso_page_view events for checkout routes
  client/my-sites/checkout/controller.jsx
  client/my-sites/checkout/index.js
Labels: Checkout, [Status] Needs Review

#23071 Always fire calypso_purchases_cancel_form_submit on submit
  client/me/purchases/cancel-purchase/button.jsx
  client/me/purchases/remove-purchase/index.jsx
Labels: Plans, [Status] Needs Review

#23141 Guided Tours: only show black `Quit` button if it's not a primary button
  client/layout/guided-tours/style.scss
Labels: Guided Tours, [Status] Needs Review

#23028 Jetpack: Prevent redundant install requests
  client/my-sites/checkout/checkout-thank-you/jetpack-thank-you-card.jsx
  client/state/plugins/premium/selectors.js
Labels: FixTheFlows, Jetpack, Plans, Post Checkout, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#23123 Update A/B test instructions for visdiff tests
  client/lib/abtest/README.md
Labels: Documentation, Testing, [Status] Ready to Merge, [Type] Enhancement

#23140 Plugins: Only redirect once
  client/my-sites/plugins/main.jsx
Labels: FixTheFlows, Framework, Jetpack, Plugins, [Status] Ready to Merge

#23113 Separate minimizeFreePlan into two new tests
  client/lib/abtest/active-tests.js
  client/my-sites/plan-features/index.jsx
Labels: Testing, [Status] Needs Review

#23136 Plugin site list: add specific styles for foldable cards
  assets/stylesheets/_components.scss
  client/my-sites/plugins/plugin-site-list/style.scss
  client/my-sites/plugins/plugin-site-update-indicator/style.scss
Labels: FixTheFlows, Plugins, [Status] Needs Design Review, [Status] Needs Review

#23170 Jetpack: Fix onclick handler on thank you card
  client/my-sites/checkout/checkout-thank-you/jetpack-thank-you-card.jsx
Labels: Analytics, Jetpack, [Status] Ready to Merge, [Type] Bug
