Repository Automattic/wp-calypso, pull requests merged in 2018-12, with the labels that each got.

#28984 Separate creating Redux store from figuring out initial state
  client/boot/app.js
  client/state/index.js
  client/state/initial-state.js
  client/state/test/initial-state.js
Labels: Framework, State, [Status] Needs Review

#28985 Gutenlypso: Keep the edit-post plugin registered
  client/gutenberg/editor/components/header/more-menu/index.js
  client/gutenberg/editor/components/header/tools-more-menu-group/index.js
  client/gutenberg/editor/init.js
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Defect

#28884 Checkout: remove the transactionStepsMixin and update the SecurePaymentForm component
  client/my-sites/checkout/checkout/secure-payment-form.jsx
  client/my-sites/checkout/checkout/transaction-steps-mixin.jsx
Labels: Checkout, [Status] Ready to Merge, [Type] Janitorial

#29013 Gutenberg: hide wp-admin permalink fallback
  client/gutenberg/editor/style.scss
Labels: [Goal] Gutenberg, [Status] Needs Review

#28867 Data Layer: Add helper to GET data from generic URL
  client/state/data-getters/index.js
Labels: Data, [Pri] High, [Status] Needs Review

#28304 Gutenberg: Load Jetpack block translations in Calypso synchronously
  client/gutenberg/editor/controller.js
  client/gutenberg/editor/index.js
Labels: Jetpack, [Goal] Gutenberg, [Pri] High, [Status] Blocked / Hold, [Status] Needs Review, i18n

#29017 Tiled gallery: Fix infinite loop left/right block align
  client/gutenberg/extensions/tiled-gallery/editor.scss
  client/gutenberg/extensions/tiled-gallery/variables.scss
  client/gutenberg/extensions/tiled-gallery/view.scss
Labels: Design, Jetpack, Tiled Galleries, [Goal] Gutenberg, [Status] Needs Review, [Type] Bug

#29016 Tiled gallery: Use requestAnimationFrame for resize handling
  client/gutenberg/extensions/tiled-gallery/constants.js
  client/gutenberg/extensions/tiled-gallery/gallery-grid.jsx
  client/gutenberg/extensions/tiled-gallery/view.js
Labels: Jetpack, Performance, Tiled Galleries, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#29022 NUX: Adding missing redux actions.js tests
  client/state/signup/steps/site-information/test/actions.js
  client/state/signup/steps/site-type/test/actions.js
Labels: NUX, Signup, [Status] Needs Review

#29014 Gutenlypso: Add/map block to calypso gutenberg
  client/gutenberg/extensions/map/locations/style.scss
  client/gutenberg/extensions/map/map-theme-picker/style.scss
  client/gutenberg/extensions/presets/jetpack/editor.js
Labels: Maps, [Goal] Gutenberg, [Pri] BLOCKER, [Status] Ready to Merge

#29002 Domains: Bump suggestions test distribution
  client/lib/abtest/active-tests.js
Labels: Domains, [Status] Ready to Merge

#29020 Update /plans features taglines
  client/lib/plans/constants.js
Labels: Marketing, NUX, Signup

#29025 Checkout: add additional email verification notice
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/my-sites/checkout/checkout-thank-you/style.scss
Labels: [Status] Ready to Merge

#28049 Use dispatchRequestEx for jetpack settings
  client/state/data-layer/wpcom/jetpack/settings/index.js
  client/state/data-layer/wpcom/jetpack/settings/test/index.js
Labels: Framework, [Status] Needs Review

#27627 Packages: Move tree-select to packages
  .circleci/config.yml
  Dockerfile
  bin/build-packages.js
  bin/clean-packages.js
  client/state/comments/selectors.js
  client/state/invites/selectors.js
  client/state/reader/posts/selectors.js
  client/state/selectors/get-reader-stream-transformed-items.js
  client/state/sites/domains/selectors.js
  client/state/stats/lists/selectors.js
  lerna.json
  npm-shrinkwrap.json
  package.json
  packages/muriel-base-components/package.json
  packages/muriel-base-components/src/button/index.js
  packages/muriel-base-components/src/index.js
  packages/tree-select/README.md
  packages/tree-select/package.json
  packages/tree-select/src/index.js
  packages/tree-select/test/index.js
  test/client/jest.config.js
Labels: Build, Framework, [Status] Needs Review, [Status] Needs e2e Testing

#29035 Publish two packages
  packages/babel-plugin-i18n-calypso/package.json
  packages/tree-select/package.json
Labels: [Status] Needs Review

#29038 Test publishing versions of tree-select and babel translation finder
  packages/babel-plugin-i18n-calypso/package.json
  packages/tree-select/package.json
Labels: [Status] Needs Review

#29039 Block: Remove related posts from calypsoberg
  client/gutenberg/extensions/presets/jetpack/editor.js
Labels: Related Posts, [Goal] Gutenberg, [Status] Needs Review

#29043 Fix: Type error in `requestFromUrl`
  client/state/data-getters/index.js
Labels: Data, [Status] Needs Review, [Type] Defect

#29026 Gutenlypso: Load translations
  client/gutenberg/editor/controller.js
  client/gutenberg/editor/index.js
Labels: [Goal] Gutenberg, [Status] Needs Review, i18n

#28937 Do not mark personal plan as Popular on Jetpack plans page
  client/my-sites/plan-features/index.jsx
  client/my-sites/plans-features-main/index.jsx
Labels: Jetpack, Marketing, Plans, [Status] Needs Review, [Type] Defect

#29057 Gutenberg: fix translation loading when localeSlug is empty
  client/gutenberg/editor/controller.js
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Bug

#29011 Gutenberg: enable gutenlypso flows in development
  client/gutenberg/editor/browser-url/index.js
  client/state/navigation/middleware.js
  client/state/ui/actions.js
  config/development.json
Labels: [Goal] Gutenberg, [Status] Needs Review, [Status] Needs e2e Testing

#27669 Update dispatchPostRevisionsDiffsRequest to use dispatchRequestEx
  client/components/data/query-post-revisions/index.jsx
  client/state/action-types.js
  client/state/data-layer/wpcom/posts/revisions/index.js
  client/state/data-layer/wpcom/posts/revisions/test/index.js
  client/state/posts/revisions/actions.js
  client/state/posts/revisions/reducer.js
  client/state/posts/revisions/test/reducer.js
Labels: Framework, [Status] Needs Review

#27668 Update fetchCountriesSms to use dispatchRequestEx
  client/state/data-layer/wpcom/meta/sms-country-codes/index.js
  client/state/data-layer/wpcom/meta/sms-country-codes/test/index.js
Labels: Framework, [Status] Ready to Merge

#29059 Simple payments block: fix 404ing image due @ character
  client/gutenberg/extensions/simple-payments/paypal-button-2x.png
  client/gutenberg/extensions/simple-payments/product-placeholder.jsx
Labels: Simple Payments, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Bug

#29034 Monorepo: test projects
  .circleci/config.yml
  package.json
  packages/tree-select/jest.config.js
  test/client/jest.config.js
  test/packages/base-config.js
  test/packages/jest.config.js
Labels: Build, [Status] Needs Review

#27666 Switch to dispatchRequestEx in email verification
  client/state/data-layer/wpcom/me/send-verification-email/index.js
  client/state/data-layer/wpcom/me/send-verification-email/test/index.js
Labels: Framework, [Status] Ready to Merge

#29077 chore: remove danger
  .circleci/config.yml
  dangerfile.js
Labels: Framework, [Status] Ready to Merge

#29040 Plans:prevent all atomic sites from canceling the plan
  client/me/purchases/remove-purchase/index.jsx
Labels: [Status] Needs Review

#29015 Gutenlypso: Add Switch to Block Editor
  client/blocks/inline-help/contextual-help.js
  client/blocks/inline-help/popover.jsx
  client/blocks/inline-help/style.scss
  client/gutenberg/editor/components/header/opt-out-menu-item/index.jsx
  client/state/data-layer/wpcom/sites/gutenberg/index.js
Labels: [Goal] Gutenberg, [Status] Needs Review, [Status] Needs e2e Testing

#29082 Simple payments block: disable reusable block feature
  client/gutenberg/extensions/simple-payments/editor.js
Labels: Simple Payments, [Goal] Gutenberg, [Status] Needs Review

#29045 Gutenberg: update write links to go to Calypsoify more quickly
  client/layout/masterbar/publish.jsx
  client/my-sites/draft/index.jsx
Labels: [Goal] Gutenberg, [Status] Needs Review, [Status] Needs e2e Testing

#29083 Gutenberg: update /gutenberg to /block-editor
  client/blocks/inline-help/popover.jsx
  client/gutenberg/editor/components/header/opt-out-menu-item/index.jsx
  client/gutenberg/editor/controller.js
  client/gutenberg/editor/edit-post/components/header/header-toolbar/index.js
  client/gutenberg/editor/index.js
  client/gutenberg/editor/main.jsx
  client/gutenberg/extensions/presets/jetpack/editor-shared/test/get-site-fragment.js
  client/my-sites/sites/index.jsx
  client/post-editor/controller.js
  client/post-editor/editor-ground-control/index.jsx
  client/state/selectors/get-gutenberg-editor-url.js
  client/state/selectors/is-gutenlypso-enabled.js
  client/wordpress-com.js
  config/wpcalypso.json
Labels: [Goal] Gutenberg, [Pri] BLOCKER, [Status] Needs Review, [Status] Needs e2e Testing

#29122 Fix: Only show editor switcher in help popup when necessary
  client/blocks/inline-help/popover.jsx
Labels: [Goal] Gutenberg, [Status] Needs Review

#29076 Update shrinkwrap, quiet down webpack
  npm-shrinkwrap.json
  package.json
Labels: Build, [Status] Needs Review, [Status] Needs e2e Testing

#29061 Decode shipping method HTML entities in label purchase rates step
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/rates-step/index.js
Labels: Store Services, [Status] Ready to Merge

#28804 Store Services: Handle failed shipping label downloads gracefully
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/actions.js
Labels: Store Services, [Status] Ready to Merge

#29127 Zoninator Extension: update `feeds` data handlers to dispatchRequestEx
  client/extensions/zoninator/state/data-layer/feeds/index.js
  client/extensions/zoninator/state/data-layer/feeds/test/index.js
Labels: Extensions, State, [Status] Needs Review, [Type] Janitorial

#29051 Signup: Personalize the copy on the site topic step
  client/lib/signup/site-type.js
  client/signup/steps/site-topic/index.jsx
Labels: NUX, Signup, [Status] Needs Review

#29126 Zoninator Extension: update `zones` data handlers to dispatchRequestEx
  client/extensions/zoninator/state/data-layer/zones/index.js
  client/extensions/zoninator/state/data-layer/zones/test/index.js
  client/extensions/zoninator/state/data-layer/zones/utils.js
Labels: Extensions, State, [Status] Needs Review, [Type] Janitorial

#26361 Delay rendering for EditorConfirmationSidebar.
  client/post-editor/editor-confirmation-sidebar/README.md
  client/post-editor/editor-confirmation-sidebar/index.jsx
Labels: Editor, [Status] Needs Review, [Type] Enhancement

#29133 Gutenlypso: Stop persisting editor notices
  client/gutenberg/editor/components/header/header-toolbar/index.js
  client/gutenberg/editor/style.scss
Labels: [Goal] Gutenberg, [Status] Ready to Merge, [Type] Bug

#29141 Packages: Use tree-select version number
  npm-shrinkwrap.json
  package.json
Labels: Packages, [Status] Needs Review, [Status] Needs e2e Testing

#29145 Gutenlypso: provide a fresh post result on mount or on change
  client/gutenberg/editor/main.jsx
  client/state/data-getters/index.js
  client/state/data-layer/http-data.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#29138 woocommerce(orders): use dispatchRequestEx
  client/extensions/woocommerce/state/data-layer/orders/index.js
  client/extensions/woocommerce/state/data-layer/orders/test/index.js
Labels: Framework, [Status] Needs Review

#28119 Use dispatchRequestEx for AT initiate
  client/state/data-layer/wpcom/sites/automated-transfer/initiate/index.js
  client/state/data-layer/wpcom/sites/automated-transfer/initiate/test/index.js
Labels: Framework, [Status] Needs Review

#29148 Gutenlypso: Fix Classic block toolbar covering the content
  client/gutenberg/editor/style.scss
Labels: [Goal] Gutenberg, [Status] Ready to Merge, [Type] Bug

#29121 Enable Gutenlypso flows in production
  config/production.json
  config/stage.json
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#29149 Revert "Enable Gutenlypso flows in production"
  config/production.json
  config/stage.json
Labels: [Goal] Gutenberg, [Status] Needs Review

#29137 Packages: Improve setup
  .circleci/config.yml
  .eslintignore
  .gitignore
  bin/build-packages.js
  bin/clean-packages.js
  bin/rm.js
  package.json
  packages/babel-plugin-i18n-calypso/.eslintrc.js
  packages/tree-select/.eslintrc.js
  packages/tree-select/jest.config.js
  test/packages/jest.config.js
Labels: Build, Packages, [Status] Ready to Merge

#29063 Update WordAds stats tab name & route
  client/blocks/stats-navigation/constants.js
  client/my-sites/stats/controller.jsx
  client/my-sites/stats/index.js
Labels: WordAds

#29159 Gutenlypso: add a cover image from the media library
  client/gutenberg/editor/hooks/components/media-upload/utils.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge, [Type] Bug

#29160 Remove creative mornings signup flow
  client/signup/config/flows-pure.js
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Bug

#29120 Fix permissions on Reader signup flow images
  public/images/reader/reader-conversations.png
  public/images/reader/reader-discover.png
  public/images/reader/reader-mobile.png
  public/images/reader/reader-notifications.png
Labels: Reader, [Status] Needs Review

#28897 Onboarding Checklist: Add email setup task to the onboarding checklist
  client/components/checklist/style.scss
  client/components/checklist/task.js
  client/my-sites/checklist/wpcom-checklist/component.jsx
  client/my-sites/checklist/wpcom-checklist/wpcom-task-list.js
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Status] Needs Review

#29049 Domains: don't search for suggestions when user has entered generic URL prefixes
  client/lib/domains/index.js
  client/lib/domains/test/index.js
Labels: Domains, [Status] Needs Review

#29161 Update JITM data layer handlers to dispatchRequestEx
  client/state/data-layer/wpcom/sites/jitm/index.js
  client/state/data-layer/wpcom/sites/jitm/test/index.js
Labels: Data, [Status] Needs Review, [Type] Janitorial

#29158 Gutenberg: increase autosave interval
  client/gutenberg/editor/main.jsx
Labels: [Goal] Gutenberg, [Status] Needs Review

#29079 Simplify the fetching of countries list data
  client/components/data/query-countries/domains.jsx
  client/components/data/query-countries/index.jsx
  client/components/data/query-countries/payments.jsx
  client/components/data/query-countries/sms.jsx
  client/state/countries/reducer.js
  client/state/data-layer/wpcom/domains/countries-list/index.js
  client/state/selectors/are-countries-fetching.js
  client/state/selectors/get-countries.js
Labels: Data, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#29164 refactor: run prettier on all sass files in /assets
  assets/stylesheets/_main.scss
  assets/stylesheets/_vendor.scss
  assets/stylesheets/directly.scss
  assets/stylesheets/editor.scss
  assets/stylesheets/emergent-paywall.scss
  assets/stylesheets/sections/devdocs.scss
  assets/stylesheets/sections/gutenberg-editor.scss
  assets/stylesheets/sections/reader-full-post.scss
  assets/stylesheets/shared/_animation.scss
  assets/stylesheets/shared/_extends-forms.scss
  assets/stylesheets/shared/_extends.scss
  assets/stylesheets/shared/_forms.scss
  assets/stylesheets/shared/_functions.scss
  assets/stylesheets/shared/_reset.scss
  assets/stylesheets/shared/_typography.scss
  assets/stylesheets/shared/_utils.scss
  assets/stylesheets/shared/_variables.scss
  assets/stylesheets/shared/_welcome.scss
  assets/stylesheets/shared/functions/_functions.scss
  assets/stylesheets/shared/functions/_hex-to-rgb.scss
  assets/stylesheets/shared/functions/_overflow-gradient.scss
  assets/stylesheets/shared/mixins/_banner.scss
  assets/stylesheets/shared/mixins/_breakpoints.scss
  assets/stylesheets/shared/mixins/_calc.scss
  assets/stylesheets/shared/mixins/_clear-fix.scss
  assets/stylesheets/shared/mixins/_clear-text.scss
  assets/stylesheets/shared/mixins/_dropdown-menu.scss
  assets/stylesheets/shared/mixins/_heading.scss
  assets/stylesheets/shared/mixins/_hide-content-accessibly.scss
  assets/stylesheets/shared/mixins/_long-content-fade.scss
  assets/stylesheets/shared/mixins/_mixins.scss
  assets/stylesheets/shared/mixins/_no-select.scss
  assets/stylesheets/shared/mixins/_placeholder.scss
  assets/stylesheets/shared/mixins/_stats-fade-text.scss
  assets/stylesheets/style.scss
Labels: Color Theming, [Status] Needs Review, [Status] Needs e2e Testing

#28955 Gutenberg: Improve Publicize copy
  client/gutenberg/extensions/publicize/panel.jsx
  client/gutenberg/extensions/publicize/settings-button.jsx
Labels: Design, Jetpack, Publicize, [Goal] Gutenberg, [Pri] Low, [Status] Ready to Merge

#29062 Fix/purchase price format
  client/lib/purchases/assembler.js
  client/me/purchases/cancel-purchase/button.jsx
  client/me/purchases/cancel-purchase/index.jsx
  client/me/purchases/cancel-purchase/refund-information.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
  client/state/purchases/test/selectors.js
Labels: Billing, [Status] Needs Review, [Type] Bug

#29132 Remove crowdsignalNameBasedSignup AB test
  client/lib/abtest/active-tests.js
  client/signup/steps/user/index.jsx
Labels: Signup, [Status] Ready to Merge

#29074 Domains: Update how we handle domain suggestion vendors
  client/components/domains/register-domain-step/index.jsx
  client/lib/abtest/active-tests.js
  client/lib/abtest/index.js
  client/lib/domains/suggestions/index.js
  client/my-sites/domain-tip/index.jsx
  client/my-sites/domains/domain-search/domain-search.jsx
  client/my-sites/stats/stats-insights/index.jsx
  client/signup/steps/domains/index.jsx
Labels: Domains

#29130 Inline Help: Show/hide popover with redux actions
  client/blocks/inline-help/index.jsx
  client/state/action-types.js
  client/state/inline-help/actions.js
  client/state/inline-help/reducer.js
  client/state/inline-help/selectors.js
  client/state/inline-help/test/reducer.js
  client/state/inline-help/test/selectors.js
  client/state/reducer.js
Labels: Components, [Status] Ready to Merge

#27912 update reader sync follows to use dispatchRequestEx
  client/state/data-layer/wpcom/read/following/mine/index.js
  client/state/data-layer/wpcom/read/following/mine/test/index.js
Labels: Framework, Reader, [Status] Needs Review, [Type] Janitorial

#29166 Editor: Wrap editor component in new async loader
  client/gutenberg/editor/async-loader.jsx
  client/gutenberg/editor/controller.js
  client/gutenberg/editor/index.js
  client/gutenberg/editor/placeholder.jsx
  client/gutenberg/editor/style.scss
Labels: Editor, [Goal] Gutenberg, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Enhancement

#28097 Use dispatchRequestEx for AT eligibility
  client/state/data-layer/wpcom/sites/automated-transfer/eligibility/index.js
  client/state/data-layer/wpcom/sites/automated-transfer/eligibility/test/index.js
Labels: Framework, [Status] Needs Review

#29181 Gutenberg: enable calypsoify for atomic
  client/state/selectors/get-selected-site-wordpress-version.js
  client/state/selectors/is-calypsoify-gutenberg-enabled.js
  client/state/selectors/test/get-selected-site-wordpress-version.js
Labels: [Goal] Gutenberg

#29154 Monorepo: Enable lerna, add the root to the lerna config
  .circleci/config.yml
  .gitignore
  Dockerfile
  bin/install-if-deps-outdated.js
  bin/install-if-no-packages.js
  lerna.json
  npm-shrinkwrap.json
  package.json
  packages/babel-plugin-i18n-calypso/package-lock.json
  packages/tree-select/package-lock.json
  packages/tree-select/package.json
Labels: Build, Packages, [Status] Needs Review, [Status] Needs e2e Testing

#29198 Domains: Test non-en vendors
  client/lib/abtest/active-tests.js
  client/lib/domains/suggestions/index.js
Labels: Domains, [Status] Ready to Merge

#29200 Gutenberg: refactor Calypsoify code for Atomic sites
  client/state/selectors/get-selected-site-wordpress-version.js
  client/state/selectors/get-wordpress-version.js
  client/state/selectors/is-calypsoify-gutenberg-enabled.js
  client/state/selectors/test/get-wordpress-version.js
Labels: [Goal] Gutenberg, [Status] Needs Review

#29134 Jetpack Gutenberg Blocks: Register depending on block availability
  client/gutenberg/editor/controller.js
  client/gutenberg/editor/main.jsx
  client/gutenberg/extensions/contact-form/editor.js
  client/gutenberg/extensions/map/editor.js
  client/gutenberg/extensions/presets/jetpack/editor.js
  client/gutenberg/extensions/presets/jetpack/utils/get-jetpack-data.js
  client/gutenberg/extensions/presets/jetpack/utils/refresh-registrations.js
  client/state/data-getters/index.js
Labels: Jetpack, [Goal] Gutenberg, [Pri] BLOCKER, [Status] Needs Review

#29080 Gutenlypso: Enable Jetpack Blocks
  client/gutenberg/editor/controller.js
  client/gutenberg/editor/init.js
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review

#29140 woocommerce(products): use 'dispatchRequestEx' for 'productsRequest'
  client/extensions/woocommerce/state/data-layer/products/index.js
  client/extensions/woocommerce/state/data-layer/products/test/index.js
  client/extensions/woocommerce/state/wc-api/test/utils.js
  client/extensions/woocommerce/state/wc-api/utils.js
Labels: Framework, [Status] Needs Review

#29218 Gutenberg: Move Jetpack block category to the bottom
  client/gutenberg/extensions/presets/jetpack/editor-shared/block-category.js
Labels: Jetpack, [Goal] Gutenberg, [Pri] High, [Status] Needs Review, [Type] Enhancement

#29186 Login 2FA push notif polling: update data layer handler to dispatchRequestEx
  client/blocks/login/two-factor-authentication/push-notification-approval-poller.jsx
  client/state/data-layer/wpcom/login-2fa/index.js
  client/state/login/actions.js
Labels: Data, Login, [Status] Needs Review

#29231 Update deprecated license SPDX format
  package.json
Labels: [Pri] Low, [Status] Needs Review, [Type] Janitorial

#29202 Refactor G Suite domains select
  client/my-sites/domains/domain-management/add-google-apps/add-email-addresses-card.jsx
  client/my-sites/domains/domain-management/add-google-apps/domains-select.jsx
  client/my-sites/domains/domain-management/add-google-apps/test/__snapshots__/domain-select.js.snap
  client/my-sites/domains/domain-management/add-google-apps/test/domain-select.js
Labels: Domains, Google Apps, [Status] Needs Review

#29041 Checklist: Add A/B test to simplify the checklist view
  client/components/checklist/style.scss
  client/components/checklist/task.js
  client/lib/abtest/active-tests.js
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: Checklist, [Status] Needs Review

#29232 Gutenberg: Disallow Markdown to be edited as HTML
  client/gutenberg/extensions/markdown/editor.js
Labels: Jetpack, Markdown, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#29233 Gutenberg: Disallow Related Posts to be edited as HTML
  client/gutenberg/extensions/related-posts/editor.js
Labels: Jetpack, Related Posts, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#29234 Gutenberg: Disallow Tiled Gallery to be edited as HTML
  client/gutenberg/extensions/tiled-gallery/editor.js
Labels: Jetpack, Tiled Galleries, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#29235 Gutenberg: Disallow Map to be edited as HTML
  client/gutenberg/extensions/map/editor.js
  client/gutenberg/extensions/map/settings.js
Labels: Jetpack, Maps, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#29239 Gutenberg: Fix typo in VR supports
  client/gutenberg/extensions/vr/editor.js
Labels: Jetpack, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Defect

#29228 Gutenberg: Use ExternalLink for new connection button
  client/gutenberg/extensions/publicize/editor.scss
  client/gutenberg/extensions/publicize/settings-button.jsx
Labels: Jetpack, Publicize, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Feature progress

#29243 Checklist: Check for first incomplete task before using it
  client/components/checklist/task.js
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: Checklist, [Status] Needs Review, [Type] Bug

#29225 Packages: Use 2 spaces for tree-select package.json
  packages/tree-select/package.json
Labels: Packages, [Status] Needs Review, [Type] Janitorial

#29224 Packages: Use a semver ref for babel-plugin-i18n-calypso
  npm-shrinkwrap.json
  package.json
Labels: Build, Packages, [Status] Needs Review

#29222 Editorconfig: package.json and yaml files should use spaces
  .editorconfig
Labels: Framework, [Status] Needs Review

#29251 Refactors add email address card to latest standards
  client/lib/mixins/analytics/index.js
  client/my-sites/domains/domain-management/add-google-apps/add-email-addresses-card.jsx
  client/my-sites/domains/domain-management/add-google-apps/test/__snapshots__/domains-select.js.snap
  client/my-sites/domains/domain-management/add-google-apps/test/domains-select.js
  client/my-sites/domains/domain-management/style.scss
Labels: Domains, Google Apps, [Status] Needs Review

#29260 i18n: Don't translate nested node_modules
  package.json
Labels: Packages, [Status] Ready to Merge, i18n

#29155 Adds name fields to the G Suite user add screen
  client/my-sites/checkout/checkout-thank-you/google-apps-details.jsx
  client/my-sites/domains/domain-management/add-google-apps/add-email-addresses-card.jsx
  client/my-sites/domains/domain-management/style.scss
Labels: Domains, Google Apps, [Status] Ready to Merge

#29178 Onboarding Checklist: Add Tracks Events for the Email Setup Task
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: [Status] Ready to Merge

#29032 Map: Update icon to use Material outlined and fix margins
  client/gutenberg/extensions/map/editor.scss
  client/gutenberg/extensions/map/settings.js
Labels: Maps, [Goal] Gutenberg, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#29199 woocommerce(coupons): use 'dispatchRequestEx'
  client/extensions/woocommerce/state/sites/coupons/handlers.js
  client/extensions/woocommerce/state/sites/coupons/test/handlers.js
Labels: Framework, [Status] Needs Review

#29204 Color schemes: Updating images for scheme switcher
  public/images/color-schemes/color-scheme-thumbnail-dark.svg
  public/images/color-schemes/color-scheme-thumbnail-default.svg
  public/images/color-schemes/color-scheme-thumbnail-light.svg
Labels: Color Theming, [Status] Needs Review

#29247 Store: fix usage limit validation when updating a coupon
  client/extensions/woocommerce/app/promotions/promotion-validations.js
Labels: Store, [Status] Needs Review, [Type] Bug

#29226 woocommerce(settings): use 'dispatchRequestEx'
  client/extensions/woocommerce/state/sites/settings/general/handlers.js
  client/extensions/woocommerce/state/sites/settings/general/test/handlers.js
Labels: Framework, [Status] Needs Review

#29064 Reader: update color names to use css vars
  client/reader/conversations/style.scss
  client/reader/discover/style.scss
  client/reader/following-manage/style.scss
  client/reader/following/style.scss
  client/reader/list-stream/style.scss
  client/reader/post-excerpt-link/style.scss
  client/reader/search-stream/style.scss
  client/reader/sidebar/_style.scss
  client/reader/stream/_style.scss
  client/reader/update-notice/_style.scss
Labels: Color Theming, Reader, [Status] Ready to Merge

#29104 post-editor: update color names to use css vars
  client/post-editor/edit-post-status/style.scss
  client/post-editor/editor-confirmation-sidebar/style.scss
  client/post-editor/editor-ground-control/style.scss
  client/post-editor/editor-gutenberg-opt-in-sidebar/style.scss
  client/post-editor/editor-html-toolbar/style.scss
  client/post-editor/editor-location/style.scss
  client/post-editor/editor-publish-date/style.scss
  client/post-editor/editor-revisions-list/style.scss
  client/post-editor/editor-sidebar/style.scss
  client/post-editor/editor-status-label/style.scss
  client/post-editor/editor-visibility/style.scss
  client/post-editor/media-modal/index.scss
Labels: Color Theming, [Status] Needs Review

#29246 Domains: Test non-en vendors
  client/lib/abtest/active-tests.js
Labels: Domains

#29256 Environment Badge: Move the bug badge thing so it doesn't interfere with the InlineHelp component.
  client/components/environment-badge/style.scss
Labels: [Status] Ready to Merge

#27580 Google My Business: Migrate styles to webpack
  assets/stylesheets/_components.scss
  assets/stylesheets/sections/google-my-business.scss
  client/my-sites/google-my-business/index.js
  client/my-sites/google-my-business/location/index.js
  client/my-sites/google-my-business/new-account/index.js
  client/my-sites/google-my-business/new-account/style.scss
  client/my-sites/google-my-business/select-business-type/index.js
  client/my-sites/google-my-business/select-business-type/style.scss
  client/my-sites/google-my-business/select-location/index.js
  client/my-sites/google-my-business/stats/index.js
  client/wordpress-com.js
Labels: [Project] Google My Business, [Status] Needs Review

#29125 Signup: add site preview in the onboarding flow
  client/signup/main.jsx
  client/signup/site-mockup/index.jsx
  client/signup/site-mockup/mock-data.js
  client/signup/site-mockup/site-mockup.jsx
  client/signup/site-mockup/site-mockup.scss
  client/signup/site-mockup/style.scss
  client/signup/steps/site-information/index.jsx
  client/signup/steps/site-topic/index.jsx
  client/signup/style.scss
Labels: NUX, Signup, [Status] Ready to Merge

#29282 Domains: Change wording on "Use my own domain" screen
  client/components/domains/use-your-domain-step/index.jsx
Labels: Domains, [Status] Needs Review

#29203 Reader: dedupe site names when displaying x-posts
  client/reader/stream/x-post.jsx
Labels: Reader, [Status] Needs Review

#28871 NUX Signup: Exclude site-topic step if it is filled by a query argument.
  client/signup/config/flows.js
  client/signup/main.jsx
  client/signup/test/flows.js
Labels: Signup, [Status] Needs Review

#28979 NUX Signup: consolidate site topic submission code.
  client/signup/main.jsx
  client/signup/steps/site-topic/index.jsx
  client/state/signup/steps/site-topic/actions.js
Labels: NUX, Signup, [Status] Ready to Merge

#29237 woocommerce(review-replies): use 'dispatchRequestEx'
  client/extensions/woocommerce/state/sites/review-replies/handlers.js
  client/extensions/woocommerce/state/sites/review-replies/test/handlers.js
Labels: Framework, [Status] Needs Review

#29230 woocommerce(reviews): use 'dispatchRequestEx'
  client/extensions/woocommerce/state/sites/reviews/handlers.js
  client/extensions/woocommerce/state/sites/reviews/test/handlers.js
Labels: Framework, [Status] Needs Review

#28855 blocks: update basic color names to use css vars
  client/blocks/app-banner/style.scss
  client/blocks/app-promo/style.scss
  client/blocks/author-compact-profile/style.scss
  client/blocks/comment-button/style.scss
  client/blocks/comments/style.scss
  client/blocks/conversation-caterpillar/style.scss
  client/blocks/conversation-follow-button/style.scss
  client/blocks/daily-post-button/style.scss
  client/blocks/eligibility-warnings/style.scss
  client/blocks/follow-button/style.scss
  client/blocks/inline-help/style.scss
  client/blocks/like-button/style.scss
  client/blocks/login/style.scss
  client/blocks/plan-storage/style.scss
  client/blocks/plan-thank-you-card/style.scss
  client/blocks/post-edit-button/style.scss
  client/blocks/post-status/style.scss
  client/blocks/reader-author-link/style.scss
  client/blocks/reader-combined-card/style.scss
  client/blocks/reader-export-button/style.scss
  client/blocks/reader-full-post/style.scss
  client/blocks/reader-import-button/style.scss
  client/blocks/reader-post-card/style.scss
  client/blocks/reader-post-options-menu/style.scss
  client/blocks/reader-recommended-sites/style.scss
  client/blocks/reader-related-card/style.scss
  client/blocks/reader-share/style.scss
  client/blocks/reader-subscription-list-item/style.scss
  client/blocks/reader-visit-link/style.scss
  client/blocks/site-address-changer/style.scss
  client/blocks/site/style.scss
  client/blocks/subscription-length-picker/style.scss
  client/blocks/taxonomy-manager/style.scss
  client/blocks/term-tree-selector/style.scss
  client/blocks/upgrade-nudge-expanded/style.scss
Labels: Color Theming, [Status] Needs Review

#29289 Gutenberg: Fix Publicize broken connection handling
  client/gutenberg/extensions/publicize/connection-verify.jsx
  client/gutenberg/extensions/publicize/editor.scss
Labels: Jetpack, Publicize, [Goal] Gutenberg, [Pri] High, [Status] Ready to Merge, [Type] Defect

#28166 i18n: Pass WordPress.com links through localizeUrl
  client/blocks/credit-card-form/index.jsx
  client/blocks/eligibility-warnings/hold-list.jsx
  client/blocks/inline-help/inline-help-search-results.jsx
  client/blocks/login/login-form.jsx
  client/blocks/signup-form/index.jsx
  client/jetpack-connect/site-url-input.jsx
  client/jetpack-onboarding/disclaimer.jsx
  client/lib/i18n-utils/test/utils.js
  client/lib/i18n-utils/utils.js
  client/lib/url/support.js
  client/me/account/main.jsx
  client/me/help/help-results/item.jsx
  client/me/help/main.jsx
  client/my-sites/checkout/checkout/terms-of-service.jsx
  client/my-sites/domains/components/domain-warnings/test/index.js
  client/signup/steps/clone-destination/index.jsx
Labels: [Status] Ready to Merge, i18n

#29295 Jetpack Preset: Just have one file that has all the preset info
  bin/sdk/gutenberg.js
  client/gutenberg/extensions/presets/jetpack/index-beta.json
  client/gutenberg/extensions/presets/jetpack/index.json
  docs/sdk.md
Labels: [Project] SDK, [Status] Needs Review

#29298 Jetpack Blocks: add index.js for each block
  client/gutenberg/editor/init.js
  client/gutenberg/extensions/contact-form/editor.js
  client/gutenberg/extensions/contact-form/index.js
  client/gutenberg/extensions/map/editor.js
  client/gutenberg/extensions/map/index.js
  client/gutenberg/extensions/markdown/editor.js
  client/gutenberg/extensions/markdown/index.js
  client/gutenberg/extensions/presets/jetpack/editor.js
  client/gutenberg/extensions/presets/jetpack/utils/refresh-registrations.js
  client/gutenberg/extensions/publicize/editor.js
  client/gutenberg/extensions/publicize/index.js
  client/gutenberg/extensions/related-posts/editor.js
  client/gutenberg/extensions/related-posts/index.js
  client/gutenberg/extensions/simple-payments/editor.js
  client/gutenberg/extensions/simple-payments/index.js
  client/gutenberg/extensions/tiled-gallery/editor.js
  client/gutenberg/extensions/tiled-gallery/index.js
  client/gutenberg/extensions/vr/editor.js
  client/gutenberg/extensions/vr/index.js
Labels: [Status] Needs Review

#29308 Gutenberg: Load Jetpack beta blocks under a feature flag
  client/gutenberg/extensions/presets/jetpack/editor.js
  config/development.json
  config/wpcalypso.json
Labels: Jetpack, [Goal] Gutenberg, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#29249 Gutenlypso: Improve the Classic block visuals
  client/gutenberg/editor/style.scss
  client/gutenberg/extensions/classic-block/editor.scss
Labels: [Goal] Gutenberg, [Status] Needs Design Review, [Status] Ready to Merge

#29316 Refactor of AddGoogleApps
  client/my-sites/domains/domain-management/add-google-apps/index.jsx
Labels: Domains, Google Apps, [Status] Needs Review

#29176 Gutenberg: Fix Publicize connection list style for Calypso
  client/gutenberg/extensions/publicize/editor.scss
  client/gutenberg/extensions/publicize/form-unwrapped.jsx
Labels: Jetpack, Publicize, [Goal] Gutenberg, [Status] Ready to Merge

#29266 Checkout: Show recent renewals during checkout (take 2)
  client/my-sites/checkout/checkout/credit-card-payment-box.jsx
  client/my-sites/checkout/checkout/credits-payment-box.jsx
  client/my-sites/checkout/checkout/paypal-payment-box.jsx
  client/my-sites/checkout/checkout/recent-renewals.jsx
  client/my-sites/checkout/checkout/style.scss
  client/my-sites/checkout/checkout/web-payment-box.jsx
  client/my-sites/checkout/checkout/wechat-payment-box.jsx
Labels: Checkout, [Status] In Progress

#29167 Packages: Import i18n-calypso into Calypso, take 3
  lerna.json
  package.json
  packages/i18n-calypso/.gitignore
  packages/i18n-calypso/CHANGELOG.md
  packages/i18n-calypso/LICENSE
  packages/i18n-calypso/README.md
  packages/i18n-calypso/_test/cli/.gitignore
  packages/i18n-calypso/_test/cli/examples/i18n-test-example-second-file.jsx
  packages/i18n-calypso/_test/cli/examples/i18n-test-examples.jsx
  packages/i18n-calypso/_test/cli/index.js
  packages/i18n-calypso/_test/cli/pot.pot
  packages/i18n-calypso/_test/data/index.js
  packages/i18n-calypso/_test/index.js
  packages/i18n-calypso/_test/localize.js
  packages/i18n-calypso/bin/index.js
  packages/i18n-calypso/circle.yml
  packages/i18n-calypso/cli/README.md
  packages/i18n-calypso/cli/extras/date.js
  packages/i18n-calypso/cli/formatters/index.js
  packages/i18n-calypso/cli/formatters/php.js
  packages/i18n-calypso/cli/formatters/pot.js
  packages/i18n-calypso/cli/index.js
  packages/i18n-calypso/cli/preprocess-xgettextjs-match.js
  packages/i18n-calypso/cli/util.js
  packages/i18n-calypso/index.js
  packages/i18n-calypso/lib/index.js
  packages/i18n-calypso/lib/localize/index.js
  packages/i18n-calypso/lib/number-format.js
  packages/i18n-calypso/package-lock.json
  packages/i18n-calypso/package.json
  packages/i18n-calypso/renovate.json
Labels: Packages, [Status] Needs Review, [Status] Needs e2e Testing

#29037 Import: Fixes proptype errors for site-importer and importer author mapping
  client/my-sites/importer/author-mapping-item.jsx
  client/my-sites/importer/site-importer/index.jsx
Labels: Import, [Status] Ready to Merge, [Type] Janitorial

#29168 Gutenlypso: Redirect VIP and Jetpack sites from `/block-editor/post` to `/post`.
  client/gutenberg/editor/controller.js
  client/gutenberg/editor/index.js
Labels: Editor, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Bug

#28993 Update/show taxes on checkout cart take 2
  client/lib/cart-values/index.js
  client/lib/cart/store/cart-analytics.js
  client/lib/cart/store/cart-synchronizer.js
  client/lib/cart/store/index.js
  client/lib/cart/store/test/fixtures/actions.js
  client/lib/cart/store/test/index.js
  client/lib/checkout/test/validation.js
  client/lib/checkout/validation.js
  client/lib/transaction/store.js
  client/lib/upgrades/action-types.js
  client/lib/upgrades/actions/cart.js
  client/my-sites/checkout/cart/cart-total.jsx
  client/my-sites/checkout/cart/style.scss
  client/state/ui/payment/reducer.js
Labels: Checkout, [Status] Needs Review, [Tests] Includes Tests, [Type] Feature progress

#29331 NUX: Reinstate `setSiteTopic` action method
  client/signup/steps/site-topic/index.jsx
Labels: Signup, [Status] Needs Review, [Type] Bug

#29268 Slightly Increase Offline Bar Height
  client/layout/offline-status/style.scss
Labels: Offline, [Status] Ready to Merge, [Type] Enhancement

#28954 Signup: Remove the domains step
  client/lib/signup/step-actions.js
  client/signup/config/flows-pure.js
  client/signup/config/steps-pure.js
  client/signup/steps/site-information/index.jsx
Labels: Signup, [Status] Needs e2e Testing, [Status] Ready to Merge

#29004 Map: Remove paragraphs from placeholder
  client/gutenberg/extensions/map/edit.js
Labels: Maps, [Goal] Gutenberg, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#29319 SDK: add watch option to generic command
  bin/sdk-cli.js
Labels: [Pri] Low, [Project] SDK, [Status] Ready to Merge, [Type] Enhancement

#29068 Inline Help: Pop up inline help when viewing site preview
  client/components/web-preview/content.jsx
  client/my-sites/preview/controller.js
  client/my-sites/preview/main.jsx
Labels: [Status] Needs Review

#28346 Allow upgrade to business/e-commerce for atomic sites on the free plan
  client/state/selectors/can-upgrade-to-plan.js
  client/state/selectors/test/can-upgrade-to-plan.js
Labels: Atomic, Plans, [Status] Needs Review, [Type] Enhancement

#29317 Gutenberg: Update Publicize to use inline icons
  client/gutenberg/extensions/publicize/connection.jsx
  client/gutenberg/extensions/publicize/editor.scss
  client/gutenberg/extensions/publicize/service-icon.jsx
Labels: Jetpack, Publicize, [Goal] Gutenberg, [Status] Ready to Merge

#27415 Async load reducers and persist state in parts
  client/extensions/hello-dolly/index.js
  client/extensions/woocommerce/index.js
  client/extensions/woocommerce/state/reducer.js
  client/extensions/wp-super-cache/index.js
  client/extensions/wp-super-cache/state/reducer.js
  client/extensions/zoninator/index.js
  client/extensions/zoninator/state/reducer.js
  client/sections-middleware.js
  client/state/action-types.js
  client/state/add-reducer.js
  client/state/index.js
  client/state/initial-state.js
  client/state/reducer.js
  client/state/test/initial-state.js
  client/state/test/utils.js
  client/state/utils.js
  server/bundler/extensions-loader.js
  webpack.config.js
Labels: Framework, State, [Status] Needs Review, [Status] Needs e2e Testing

#29340 readd domains step
  client/lib/signup/step-actions.js
  client/signup/config/flows-pure.js
  client/signup/config/steps-pure.js
  client/signup/steps/site-information/index.jsx
Labels: [Status] Needs Review

#29325 Gutenberg: consolidate Calypsoify and Gutenlypso feature flags
  client/state/selectors/is-calypsoify-gutenberg-enabled.js
  client/state/selectors/is-gutenlypso-enabled.js
  config/development.json
  config/horizon.json
  config/test.json
  config/wpcalypso.json
Labels: [Goal] Gutenberg, [Pri] BLOCKER, [Status] Needs Review, [Status] Needs e2e Testing

#29147 Improve theming capabilities for Sidebar and Masterbar
  assets/stylesheets/_main.scss
  assets/stylesheets/shared/_color-schemes.scss
  assets/stylesheets/shared/functions/_overflow-gradient.scss
  assets/stylesheets/shared/mixins/_long-content-fade.scss
  client/blocks/login/style.scss
  client/blocks/post-share/style.scss
  client/blocks/site-icon/style.scss
  client/blocks/site/style.scss
  client/components/accordion/style.scss
  client/components/date-picker/style.scss
  client/components/keyed-suggestions/style.scss
  client/components/search/style.scss
  client/components/section-header/style.scss
  client/components/section-nav/style.scss
  client/components/site-selector/style.scss
  client/components/theme/style.scss
  client/layout/masterbar/style.scss
  client/layout/sidebar/style.scss
  client/layout/style.scss
  client/my-sites/current-site/style.scss
  client/my-sites/media-library/list-item-file-details.scss
  client/my-sites/people/people-profile/style.scss
  client/my-sites/stats/stats-module/style.scss
  client/my-sites/themes/current-theme/style.scss
  client/post-editor/editor-drawer/style.scss
  client/post-editor/media-modal/detail/style.scss
  client/post-editor/media-modal/dialog.scss
  client/post-editor/style.scss
  client/reader/components/reader-main/style.scss
  client/reader/sidebar/_style.scss
  client/state/preferences/schema.js
Labels: Color Theming, [Status] Needs Review, [Status] Needs e2e Testing

#29347 Importers: Add missing action type
  client/state/action-types.js
Labels: Import, [Status] Needs Review

#25856 SelectDropdown component - adds `disabled` state
  client/components/select-dropdown/README.md
  client/components/select-dropdown/docs/example.jsx
  client/components/select-dropdown/index.jsx
  client/components/select-dropdown/style.scss
  client/components/select-dropdown/test/index.js
Labels: [Status] Needs e2e Testing, [Status] Ready to Merge

#29151 Update comment edit request to dispatchRequestEx
  client/state/data-layer/wpcom/sites/comments/index.js
  client/state/data-layer/wpcom/sites/comments/test/index.js
Labels: Data, [Status] Needs Review, [Type] Janitorial

#29197 Update transfers/latest handler to dispatchRequestEx
  client/state/data-layer/wpcom/sites/transfers/latest.js
Labels: Atomic, Data, [Status] Needs Review, [Type] Janitorial

#29351 Gutenlypso: Fix background color regression
  client/gutenberg/editor/style.scss
Labels: Color Theming, [Goal] Gutenberg, [Status] Ready to Merge

#29307 Tree select: Update package info
  packages/tree-select/package.json
Labels: Packages, [Status] Ready to Merge, [Type] Janitorial

#29310 Gutenlypso: Reset part of the Gutenberg stores when navigating to the editor
  client/gutenberg/editor/components/header/header-toolbar/index.js
  client/gutenberg/editor/controller.js
  client/gutenberg/editor/init.js
Labels: [Goal] Gutenberg, [Pri] BLOCKER, [Status] Ready to Merge

#29348 Gutenberg: Use primitives for Publicize icons
  client/gutenberg/extensions/publicize/service-icon.jsx
Labels: Jetpack, Publicize, [Goal] Gutenberg, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#29306 Domains: Better price messaging for domain mappings
  client/components/domains/domain-search-results/index.jsx
  client/components/domains/use-your-domain-step/index.jsx
  client/lib/cart-values/cart-items.js
Labels: Domains, [Status] Needs e2e Testing

#29342 Gutenberg: Add colors to Publicize service icons
  client/gutenberg/extensions/publicize/editor.scss
  client/gutenberg/extensions/publicize/service-icon.jsx
Labels: Jetpack, Publicize, [Goal] Gutenberg, [Pri] Normal, [Status] Ready to Merge, [Type] Feature progress

#29341 Gutenberg: Use alt Twitter icon for Publicize
  client/gutenberg/extensions/publicize/service-icon.jsx
Labels: Jetpack, Publicize, [Goal] Gutenberg, [Pri] Normal, [Status] Ready to Merge, [Type] Feature progress

#29349 Gutenberg: Move Publicize connection error notice to the top
  client/gutenberg/extensions/publicize/editor.scss
  client/gutenberg/extensions/publicize/panel.jsx
Labels: Jetpack, Publicize, [Goal] Gutenberg, [Pri] Normal, [Status] Ready to Merge, [Type] Feature progress
