Repository Automattic/wp-calypso, pull requests merged in 2018-07, with the labels that each got.

#25728 Framework: `dispatchRequest` update (account recovery lookup)
  client/state/data-layer/wpcom/account-recovery/lookup/index.js
  client/state/data-layer/wpcom/account-recovery/lookup/test/index.js
Labels: Framework, [Status] Ready to Merge, [Type] Janitorial

#25731 Framework: `dispatchRequest` update (account recovery validate)
  client/state/data-layer/wpcom/account-recovery/validate/index.js
  client/state/data-layer/wpcom/account-recovery/validate/test/index.js
Labels: Framework, [Status] Ready to Merge, [Type] Janitorial

#25730 Framework: `dispatchRequest` update (account recovery reset)
  client/state/data-layer/wpcom/account-recovery/reset/index.js
  client/state/data-layer/wpcom/account-recovery/reset/test/index.js
Labels: Framework, [Status] Ready to Merge, [Type] Janitorial

#25729 Framework: `dispatchRequest` update (account recovery request reset)
  client/state/data-layer/wpcom/account-recovery/request-reset/index.js
  client/state/data-layer/wpcom/account-recovery/request-reset/test/index.js
Labels: Framework, [Status] Ready to Merge, [Type] Janitorial

#25796 Data layer: know when to trust total count from read/following/mine
  client/state/data-layer/wpcom/read/following/mine/index.js
  client/state/data-layer/wpcom/read/following/mine/test/index.js
Labels: Reader, [Status] Needs Review

#25745 Remote login to mapped domains on login
  client/state/data-layer/wpcom/login-2fa/index.js
  client/state/login/actions.js
Labels: Login, [Status] Ready to Merge

#25743 Purchases: Manage for disconnected sites :: Take 2
  client/lib/purchases/index.js
  client/me/purchases/controller.jsx
  client/me/purchases/index.js
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/plan-details/index.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
  client/me/purchases/purchase-item/index.jsx
  client/me/purchases/purchases-site/index.jsx
  client/me/purchases/purchases-site/reconnect-notice.jsx
  client/me/purchases/remove-purchase/index.jsx
Labels: Purchases, [Status] Blocked / Hold, [Status] Needs Review, [Type] Feature progress, [Type] New feature

#25846 Signup: Tweak featured domain suggestions styling
  client/components/domains/featured-domain-suggestions/styles/base.scss
Labels: Domains, [Status] Ready to Merge

#25820 Podcasting: Save onDisable
  client/my-sites/site-settings/podcasting-details/index.jsx
  client/my-sites/site-settings/wrap-settings-form.jsx
Labels: Site Settings, [Status] Needs Review, [Type] Feature progress

#25792 AboutStep: Improve site topic suggestions
  client/lib/abtest/active-tests.js
  client/signup/steps/about/index.jsx
Labels: Signup, [Status] Needs Review, [Type] Enhancement

#25842 Settings: Enable Jetpack ownership transfer on staging
  config/stage.json
Labels: Site Settings, [Status] Ready to Merge, [Type] Feature progress

#25828 Settings: Update connection/plan transfer copy to add a note
  client/components/dialog/style.scss
  client/my-sites/site-settings/manage-connection/site-ownership.jsx
Labels: Jetpack, Site Settings, [Status] Ready to Merge, [Type] Feature progress

#25841 Settings: Hide plan purchaser section for non-admins
  client/my-sites/site-settings/manage-connection/site-ownership.jsx
Labels: Jetpack, Site Settings, [Status] Ready to Merge, [Type] Feature progress

#25859 Podcasting: enable on wpcalypso for testing.
  config/wpcalypso.json
Labels: [Status] Needs Review

#25854 Activity Log: remove inline button to update plugin
  client/my-sites/stats/activity-log-item/index.jsx
  client/state/data-layer/wpcom/sites/activity/from-api.js
Labels: Activity/Rewind, [Status] Needs Review, [Type] Janitorial

#25874 Revert "Purchases: Manage for disconnected sites :: Take 2 (#25743)"
  client/lib/purchases/index.js
  client/me/purchases/controller.jsx
  client/me/purchases/index.js
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/plan-details/index.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
  client/me/purchases/purchase-item/index.jsx
  client/me/purchases/purchases-site/index.jsx
  client/me/purchases/purchases-site/reconnect-notice.jsx
  client/me/purchases/remove-purchase/index.jsx
Labels: Purchases, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Defect

#25880 Help: add site/blog/both article to most helpful articles in `/help`
  client/me/help/main.jsx
Labels: Help, [Status] Needs Review

#25804 Activity log: show second-precision time when hovering
  client/my-sites/stats/activity-log-item/index.jsx
Labels: [Project] Activity Log, [Status] Ready to Merge, [Type] Enhancement

#25536 Fix LabelItem duplicate keys
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-item.js
Labels: Store Services, [Status] Ready to Merge, [Type] Bug

#25892 Don't show transfer pricing when domain hasn't yet been selected.
  client/components/domains/use-your-domain-step/index.jsx
Labels: Domains, [Status] Needs Review

#25879 Add gravatar-caterpillar component
  assets/stylesheets/_components.scss
  client/components/gravatar-caterpillar/README.md
  client/components/gravatar-caterpillar/docs/example.jsx
  client/components/gravatar-caterpillar/docs/fixtures.js
  client/components/gravatar-caterpillar/index.jsx
  client/components/gravatar-caterpillar/style.scss
  client/devdocs/design/index.jsx
Labels: Components, Reader, [Status] Needs Review

#25872 Checklist (Jetpack): Remove 'Backups and Scanning' task
  client/my-sites/checklist/jetpack-checklist.js
Labels: Activity/Rewind, Checklist, Jetpack, NUX, [Status] Ready to Merge

#25199 Devdocs: Add documentation about using just one Gridicon
  docs/icons.md
Labels: DevDocs, [Status] Ready to Merge

#25899 Domains: Add the search vendor as param in the TLD list API call
  client/components/domains/register-domain-step/index.jsx
Labels: [Status] Ready to Merge

#25889 Podcasting: fix cover image stretching on IE11
  client/my-sites/site-settings/podcast-cover-image-setting/style.scss
Labels: [Status] Ready to Merge

#25888 Podcasting: Simplify `selectedCategory` logic
  client/my-sites/site-settings/podcasting-details/index.jsx
Labels: Site Settings, [Status] Needs Review

#25887 Render RSS Feed consistently between Writing settings screen and Podcasting Details screen
  client/my-sites/site-settings/podcasting-details/feed-url.jsx
  client/my-sites/site-settings/podcasting-details/index.jsx
  client/my-sites/site-settings/podcasting-details/link.jsx
  client/my-sites/site-settings/podcasting-details/style.scss
  client/my-sites/site-settings/podcasting-details/support-link.jsx
Labels: Site Settings, [Status] Needs Review, [Type] Bug

#25608 People: Use analytics action methods
  client/my-sites/people/delete-user/index.jsx
  client/my-sites/people/edit-team-member-form/edit-user-form.jsx
  client/my-sites/people/edit-team-member-form/index.jsx
  client/my-sites/people/invite-people/index.jsx
  client/my-sites/people/people-list-item/index.jsx
  client/my-sites/people/team-list/team.jsx
  client/my-sites/people/viewers-list/viewers.jsx
Labels: Analytics, People Management, [Status] Needs Review, [Type] Janitorial

#25901 Checklist (My Sites): Componentize
  client/my-sites/checklist/checklist-show/index.jsx
  client/my-sites/checklist/checklist-show/style.scss
  client/my-sites/checklist/controller.jsx
  client/my-sites/checklist/main.jsx
  client/my-sites/checklist/share.jsx
  client/my-sites/checklist/style.scss
  client/my-sites/stats/checklist-banner/index.jsx
Labels: Checklist, [Status] Ready to Merge

#25925 Kracken: Add featured domains exceptions for some test groups
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/register-domain-step/utility.js
  client/lib/abtest/active-tests.js
Labels: Domains, [Status] Needs Review

#25908 State: Improve the "Skipping initial state rehydration" message
  client/state/initial-state.js
Labels: Framework, State, [Status] Needs Review

#25775 Domains: Remove A/B test for TLD filter bar placement
  client/components/domains/domain-search-results/index.jsx
  client/components/domains/domain-search-results/style.scss
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/register-domain-step/style.scss
  client/lib/abtest/active-tests.js
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: Domains, [Status] Ready to Merge

#25864 Guided Tours: Add Jetpack Sign-In Tour
  client/layout/guided-tours/config.js
  client/layout/guided-tours/tours/jetpack-sign-in-tour.js
  client/my-sites/checklist/jetpack-checklist.js
Labels: Guided Tours, Jetpack, [Status] Needs Design Review, [Status] Needs Review

#25895 ConversationCaterpillar: use the new GravatarCaterpillar component
  client/blocks/conversation-caterpillar/index.jsx
  client/blocks/conversation-caterpillar/style.scss
  client/components/gravatar-caterpillar/index.jsx
Labels: Reader, [Status] Needs Review

#25823 Reader: combine consecutive x-posts
  client/reader/stream/utils.js
  client/reader/stream/x-post.jsx
  client/reader/xpost-helper.js
  client/state/data-layer/wpcom/read/streams/index.js
  client/state/reader/streams/reducer.js
  client/state/reader/streams/test/reducer.js
  client/state/reader/streams/utils.js
  client/state/selectors/get-reader-stream-transformed-items.js
Labels: Reader, [Status] Needs Review

#25944 Plans: replace premium with personal in promotion criteria
  client/lib/discounts/active-discounts.js
Labels: Plans, [Status] Ready to Merge

#25850 Add e2e data attributes to invites
  client/my-sites/people/people-list-item/index.jsx
  client/my-sites/people/people-profile/index.jsx
Labels: People Management, [Status] Needs Review, [Status] Needs e2e Testing

#25913 Podcasting: Fix non-HTTPS feed url
  client/my-sites/site-settings/podcasting-details/feed-url.jsx
  client/my-sites/site-settings/podcasting-details/index.jsx
  client/my-sites/site-settings/podcasting-details/link.jsx
Labels: Site Settings, [Status] Needs Review

#25934 Fix starting Calypso after removing the node_modules folder
  package.json
Labels: Build, [Status] Ready to Merge

#25931 Domains: Fix duplicated featured domains in the suggestions search results
  client/components/domains/register-domain-step/utility.js
Labels: Domains, [Status] Needs Review

#25870 Plans: Add Checklist to My Plan page (JP)
  client/my-sites/plans/current-plan/index.jsx
Labels: Checklist, Jetpack, Plans, [Status] Needs Review

#25953 Checklist: Some minor Cleanup
  client/blocks/checklist/index.jsx
  client/my-sites/checklist/checklist-show/index.jsx
Labels: Checklist, [Status] Ready to Merge, [Type] Janitorial

#24906 Framework: Update code formatting to rely on prettier options
  .prettierignore
  bin/pre-commit-hook.js
  bin/reformat-files.js
  bin/utils/should-format.js
  package.json
Labels: Framework, [Status] Needs Review

#25955 Checklist: Update Steps
  client/my-sites/checklist/jetpack-checklist.js
  client/my-sites/checklist/onboardingChecklist.js
Labels: Checklist, [Status] Needs Review

#25882 Add default icon for GMB external accounts
  client/my-sites/google-my-business/location/index.js
  client/my-sites/google-my-business/location/style.scss
  client/my-sites/sharing/connections/account-dialog-account.jsx
  client/my-sites/sharing/connections/account-dialog.jsx
  client/my-sites/sharing/connections/connection.jsx
  client/my-sites/sharing/style.scss
Labels: [Project] Google My Business, [Status] Ready to Merge

#25867 2FA code can now contain spaces, update reauth popup to handle this
  client/me/reauth-required/index.jsx
Labels: Maintenance, Security, [Status] Needs e2e Testing, [Status] Ready to Merge, [Type] Bug

#25941 Update SEO help link to the new master link
  client/my-sites/site-settings/seo-settings/help.jsx
Labels: Documentation, [Status] Needs Review

#25940 Podcasting: Fix image upload race conditions
  client/my-sites/site-settings/podcast-cover-image-setting/index.jsx
  client/my-sites/site-settings/podcasting-details/index.jsx
Labels: Site Settings, [Status] Needs Review, [Type] Bug

#25666 Simple Payments: Bump MC stats on create, insert, and delete
  client/components/tinymce/plugins/simple-payments/dialog/index.jsx
Labels: Analytics, Editor, Simple Payments, [Status] Needs Review, [Type] Enhancement

#25946 Editor (HTML): autoFocus on add link/img dialogs
  client/post-editor/editor-html-toolbar/add-image-dialog.jsx
  client/post-editor/editor-html-toolbar/add-link-dialog.jsx
Labels: Accessibility, Editor, [Status] Ready to Merge, [Type] Enhancement

#25949 Remove dependency 'ms'
  client/boot/project/wordpress-com.js
  client/lib/wp/sync-handler/README.md
  client/lib/wp/sync-handler/cache-index.js
  client/lib/wp/sync-handler/constants.js
  client/lib/wp/sync-handler/test/cache-index.js
  npm-shrinkwrap.json
  package.json
Labels: Framework, [Status] Needs Review

#25981 Remove greenkeeper
  greenkeeper.json
Labels: [Status] Ready to Merge, [Type] Janitorial

#25961 Avoid using path.skip() in the Babel transform for action type inlining
  inline-imports.js
Labels: Build, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Bug

#25989 Avoid finally
  client/state/login/actions.js
Labels: Framework, Login, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Defect

#25990 Store: Fixed the selectors/plugins.js logic
  client/extensions/woocommerce/state/selectors/plugins.js
  client/extensions/woocommerce/state/selectors/test/fixtures/plugins.js
  client/extensions/woocommerce/state/selectors/test/plugins.js
Labels: Store, Store Services, [Status] Ready to Merge

#25991 Babel: Polyfill es2018 features
  .babelrc.js
Labels: Framework, [Status] Needs Review

#25980 LoaderStats: fail with more useful error output
  bin/loader-stats.js
Labels: Framework, [Status] Needs Review

#25985 Support running Webpack build with MINIFY_JS=false
  webpack.config.js
Labels: Build, [Status] Ready to Merge, [Type] Feature progress

#25939 Remove the object-path-immutable dependency
  client/extensions/woocommerce/woocommerce-services/state/service-settings/reducer.js
  npm-shrinkwrap.json
  package.json
Labels: Store, Store Services, [Status] Needs Review

#25973 Podcasting: Enable in staging
  config/stage.json
Labels: Site Settings, [Status] Needs Review

#26005 Activity Log: fixes a rehydration issue causing a white-out when `filter` is empty
  client/my-sites/stats/activity-log/index.jsx
Labels: [Project] Activity Log, [Status] Needs Review, [Type] Bug

#26012 Remove 'ignore' dependency
  npm-shrinkwrap.json
  package.json
Labels: Framework, [Status] Needs Review

#25957 Checklist: Cleanup actions
  client/my-sites/checklist/main.jsx
Labels: Checklist, [Status] Ready to Merge, [Type] Janitorial

#26021 Lock eslint-scope version to 3.7.1
  npm-shrinkwrap.json
Labels: [Status] Needs Review

#25902 Activity Log: update URL filters
  client/state/activity-log/utils.js
Labels: [Project] Activity Log, [Status] Needs Review

#25956 Checklist: Untangle server and client list merging
  client/my-sites/checklist/checklist-show/index.jsx
  client/my-sites/checklist/jetpack-checklist.js
  client/my-sites/checklist/onboardingChecklist.js
  client/my-sites/checklist/test/util.js
  client/my-sites/checklist/util.js
  client/my-sites/stats/checklist-banner/index.jsx
Labels: Checklist, [Status] Needs Review, [Type] Feature progress, [Type] Janitorial

#26024 Remove any whitespace around the domain transfer authorization code.
  client/components/domains/transfer-domain-step/transfer-domain-precheck.jsx
Labels: Domains, [Status] Ready to Merge

#25073 Load data layer handlers dynamically
  client/extensions/woocommerce/state/data-layer/index.js
  client/extensions/wp-job-manager/state/data-layer/index.js
  client/extensions/zoninator/state/data-layer/index.js
  client/state/activity-log/actions.js
  client/state/data-layer/extensions-middleware.js
  client/state/data-layer/handler-registry.js
  client/state/data-layer/test/extensions-middleware.js
  client/state/data-layer/test/handler-loading.js
  client/state/data-layer/test/wpcom-api-middleware.js
  client/state/data-layer/wpcom-api-middleware.js
  client/state/data-layer/wpcom/activity-log/rewind/activate/index.js
  client/state/data-layer/wpcom/index.js
  client/state/data-layer/wpcom/plans/index.js
  client/state/data-layer/wpcom/sites/index.js
  client/state/data-layer/wpcom/sites/rewind/downloads/index.js
  client/state/data-layer/wpcom/sites/rewind/index.js
  client/state/index.js
  client/state/plans/actions.js
  client/state/rewind/actions.js
Labels: Framework, [Goal] Plugins, [Status] Needs Review, [Status] Needs e2e Testing

#25911 Activity Log: display WordPress core updates
  client/my-sites/stats/activity-log-tasklist/index.jsx
  client/my-sites/stats/activity-log-tasklist/style.scss
  client/my-sites/stats/activity-log-tasklist/to-update.jsx
  client/my-sites/stats/activity-log-tasklist/update.jsx
  client/state/data-getters/index.js
  config/development.json
  config/stage.json
  config/wpcalypso.json
Labels: Activity/Rewind, [Status] Needs Review, [Type] Enhancement

#26001 Build: Quiet down the default webpack output
  server/bundler/index.js
Labels: Build, [Status] Ready to Merge, [Type] Janitorial

#26029 Install only "production" dependencies on Docker
  Dockerfile
Labels: Build, [Status] Needs Review, [Type] Task

#26009 Gutenberg: add a section for development
  assets/stylesheets/sections/gutenberg-editor.scss
  client/gutenberg/editor/controller.js
  client/gutenberg/editor/index.js
  client/gutenberg/editor/main.jsx
  client/gutenberg/editor/style.scss
  client/wordpress-com.js
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Editor, [Status] Needs Review, [Type] Task

#25777 Reader: Avoid potential undefined property access error
  client/state/reader/streams/reducer.js
  client/state/reader/streams/test/reducer.js
Labels: [Status] Needs Review, [Type] Bug, [Type] Janitorial

#25793 Add Google Maps API key to the editor
  client/lib/geocoding/index.js
  client/lib/geocoding/test/index.js
  client/lib/geocoding/test/mocks/load-script/index.js
  client/post-editor/editor-location/index.jsx
  config/_shared.json
  test/client/jest.config.json
Labels: Editor, Google Maps, [Status] Needs Review

#26000 Add Store button to sidebar for non-business users and link it to an upsell landing page
  assets/stylesheets/sections/feature-upsell.scss
  client/lib/abtest/active-tests.js
  client/my-sites/feature-upsell/controller.js
  client/my-sites/feature-upsell/index.js
  client/my-sites/feature-upsell/main.jsx
  client/my-sites/feature-upsell/store-upsell.jsx
  client/my-sites/feature-upsell/style.scss
  client/my-sites/sidebar/sidebar.jsx
  client/my-sites/sidebar/test/sidebar.js
  client/state/sites/selectors.js
  client/state/sites/test/selectors.js
  client/wordpress-com.js
  config/development.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: [Status] Needs Review

#26032 lib/safe-image-url: return null for external images with query string before hitting Photon
  client/lib/safe-image-url/index.js
  client/lib/safe-image-url/test/index.js
Labels: Reader, [Status] Needs Review, [Type] Bug

#26047 Data-Layer: Rename handler registry test file
  client/state/data-layer/test/handler-registry.js
Labels: Framework, [Status] Needs Review

#25962 Signup: don't use page.js for external URLs on signup completion redirects
  client/signup/main.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#26068 Build: Add work-around for safari 10 let bug
  webpack.config.js
Labels: Build, [Status] Needs Review, [Status] Needs e2e Testing

#25927 Purchases: Manage for disconnected sites :: Take 3
  client/lib/purchases/index.js
  client/me/purchases/controller.jsx
  client/me/purchases/index.js
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/plan-details/index.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
  client/me/purchases/purchase-item/index.jsx
  client/me/purchases/purchases-site/index.jsx
  client/me/purchases/purchases-site/reconnect-notice.jsx
  client/me/purchases/remove-purchase/index.jsx
Labels: Purchases, [Status] Needs Review, [Type] Enhancement

#26043 Guided tour: Jetpack guided checklist links to "My Plan"
  client/layout/guided-tours/tours/checklist-about-page-tour.js
  client/layout/guided-tours/tours/checklist-contact-page-tour.js
  client/layout/guided-tours/tours/checklist-publish-post-tour.js
  client/layout/guided-tours/tours/checklist-site-icon-tour.js
  client/layout/guided-tours/tours/checklist-site-tagline-tour.js
  client/layout/guided-tours/tours/checklist-site-title-tour.js
  client/layout/guided-tours/tours/jetpack-monitoring-tour.js
  client/layout/guided-tours/tours/jetpack-sign-in-tour.js
Labels: Checklist, Guided Tours, Jetpack, [Status] Ready to Merge, [Type] Enhancement, [Type] Feature progress, [Type] Task

#26042 Checklists: Redirect Jetpack checklists to my plan
  client/my-sites/checklist/main.jsx
Labels: Checklist, Jetpack, [Status] Ready to Merge, [Type] Feature progress

#25690 Signup: fixed a bug takes users to the start of the flow again when login
  client/blocks/login/index.jsx
  client/signup/main.jsx
Labels: NUX, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Bug

#26055 PurchaseItem: Add `data-e2e-connected-site` attribute
  client/me/purchases/purchase-item/index.jsx
Labels: Purchases, Testing, [Status] Ready to Merge, [Type] Enhancement, [Type] Feature progress

#26075 Add plugins upsell page
  client/my-sites/feature-upsell/controller.js
  client/my-sites/feature-upsell/index.js
  client/my-sites/feature-upsell/main.jsx
  client/my-sites/feature-upsell/plugins-upsell.jsx
  client/my-sites/feature-upsell/store-upsell.jsx
  client/my-sites/feature-upsell/style.scss
Labels: [Status] Needs Review

#26059 Build: Limit the numbers of cores used by the build
  webpack.config.js
  webpack.config.node.js
Labels: Build, [Status] Ready to Merge

#26087 Podcasting: enabled podcast management in Calypso
  client/my-sites/site-settings/form-writing.jsx
  client/my-sites/site-settings/settings-writing/index.js
  config/development.json
  config/stage.json
  config/wpcalypso.json
Labels: [Status] Needs Review

#25904 Domains: Align text on transfer screen
  client/components/domains/use-your-domain-step/style.scss
Labels: Domains, [Status] Ready to Merge

#25975 Reader: remove search feature flag
  client/reader/search/index.js
  client/reader/sidebar/index.jsx
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/wpcalypso.json
Labels: Reader, [Status] Ready to Merge, [Type] Janitorial

#26097 enable new nudges in wpcalypso
  config/wpcalypso.json
Labels: [Status] Needs Review, [Type] Task

#26086 Move the babel-core bridge package to devDependencies
  npm-shrinkwrap.json
  package.json
  server/bundler/babel/babel-loader-cache-identifier/index.js
Labels: Build, [Status] Needs Review, [Type] Janitorial

#26085 Add A/B test to test possible updates for "theme to plan" upsell nudge on /themes page
  client/components/banner/style.scss
  client/lib/abtest/active-tests.js
  client/my-sites/themes/single-site-wpcom.jsx
  client/my-sites/themes/style.scss
  client/my-sites/themes/theme-showcase.jsx
Labels: Marketing, [Status] Needs Review

#26103 Disable upsell/nudge-a-palooza feature flag on staging - we do not want to see it on wordpress.com just yet
  config/stage.json
Labels: Marketing, [Status] Ready to Merge

#26104 Remove the sync-handler module
  client/boot/project/wordpress-com.js
  client/lib/wp/browser.js
  client/lib/wp/sync-handler/README.md
  client/lib/wp/sync-handler/cache-index.js
  client/lib/wp/sync-handler/constants.js
  client/lib/wp/sync-handler/index.js
  client/lib/wp/sync-handler/test/cache-index.js
  client/lib/wp/sync-handler/test/data/index.js
  client/lib/wp/sync-handler/test/index.js
  client/lib/wp/sync-handler/test/mocks/localforage.js
  client/lib/wp/sync-handler/utils.js
  client/lib/wp/sync-handler/whitelist-handler.js
  client/state/posts/actions.js
  config/client.json
  config/desktop-development.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Framework, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#26106 Add upsell banners to specific theme's page and theme preview
  client/components/web-preview/content.jsx
  client/my-sites/theme/main.jsx
  client/my-sites/theme/style.scss
  client/my-sites/themes/theme-preview.jsx
Labels: Marketing, Themes, [Status] Needs Review

#26108 Add a "theme to plan" upsell nudge to cart when a premium theme is the only product
  client/my-sites/checkout/cart/cart-plan-ad-theme.jsx
  client/my-sites/checkout/cart/secondary-cart.jsx
Labels: Checkout, Marketing, [Status] Needs Review

#26109 [nudge-a-palooza] Add explainatory comments why some strings are not being translated
  client/my-sites/feature-upsell/plugins-upsell.jsx
  client/my-sites/feature-upsell/store-upsell.jsx
  client/my-sites/themes/single-site-wpcom.jsx
Labels: Marketing, [Status] Needs Review, [Type] Janitorial

#25986 Activity log: show demo content when the log is empty
  assets/stylesheets/_components.scss
  client/my-sites/stats/activity-log-banner/upgrade-banner.jsx
  client/my-sites/stats/activity-log-example/index.jsx
  client/my-sites/stats/activity-log-example/style.scss
  client/my-sites/stats/activity-log/index.jsx
Labels: Activity/Rewind, [Project] Activity Log, [Status] In Progress, [Status] Needs Design Review

#26120 Revert "Update dependency striptags to v3 (#26046)"
  npm-shrinkwrap.json
  package.json
Labels: Framework, [Status] Needs Review

#26063 Framework: Fix TermTreeSelector resizing
  client/blocks/term-tree-selector/terms.jsx
Labels: Framework, [Type] Bug

#26094 Framework: Move @babel/polyfill import to webpack config
  client/boot/polyfills.js
  webpack.config.js
Labels: Framework, [Status] Needs Review

#25999 Fix/plans tooltip
  client/lib/plans/constants.js
Labels: Plans, [Status] Ready to Merge, [Type] Enhancement

#26099 Reader: improve rendering of Gutenberg demo post
  client/blocks/reader-full-post/_content.scss
Labels: Reader, [Status] Ready to Merge

#26142 Update the tooltip to support pro-rated discounts
  client/my-sites/plan-features/header.jsx
  client/my-sites/plan-features/test/header.jsx
Labels: Plans, [Status] Needs Review

#26049 Upsell/feature wordads
  client/my-sites/feature-upsell/ads-upsell.jsx
  client/my-sites/feature-upsell/controller.js
  client/my-sites/feature-upsell/index.js
  client/my-sites/feature-upsell/main.jsx
  client/my-sites/feature-upsell/style.scss
  client/my-sites/sidebar/sidebar.jsx
  client/my-sites/sidebar/test/sidebar.js
  client/state/sites/selectors.js
  client/state/sites/test/selectors.js
Labels: [Status] Needs Review

#25898 Components: Fix spacing for large dialog buttons on mobile
  client/components/dialog/style.scss
Labels: Components, [Status] Needs Design Review, [Status] Needs Review, [Type] Enhancement

#25987 Checklist: Translate the onboarding checklist items
  client/my-sites/checklist/jetpack-checklist.js
  client/my-sites/checklist/onboardingChecklist.js
Labels: Checklist, [Status] Ready to Merge, [Status] String Freeze, i18n

#26113 Add hack for IE11 to make our new landing pages look good
  client/my-sites/feature-upsell/style.scss
Labels: Marketing, [Status] Needs Review, [Type] Bug

#26145 [nudge-a-palooza] Restrict access to all upsell pages only to users who can upgrade currentSite
  client/my-sites/feature-upsell/controller.js
  client/my-sites/sidebar/sidebar.jsx
  client/my-sites/sidebar/test/sidebar.js
Labels: Marketing, [Status] Needs Review

#26154 [nudge-a-palooza] Copy updates as suggested by the editorial team
  client/my-sites/feature-upsell/ads-upsell.jsx
  client/my-sites/feature-upsell/store-upsell.jsx
Labels: Marketing, [Status] Needs Review

#26048 WIP: Add simple block build script
  .gitignore
  bin/create-scripts/block.js
  client/gutenberg/extensions/.eslintrc.js
  client/gutenberg/extensions/hello-dolly/hello-block.js
Labels: [Goal] Plugins, [Status] Needs Review

#26065 DevDocs: add a Gutenberg blocks section
  client/devdocs/controller.js
  client/devdocs/design/gutenberg-blocks.jsx
  client/devdocs/gutenberg-blocks/README.md
  client/devdocs/index.js
  client/devdocs/sidebar.jsx
  config/development.json
  config/test.json
Labels: DevDocs, [Goal] Gutenberg, [Status] Needs Review, [Type] Task

#26127 Show a banner on the plans page when free-to-paid-sidebar nudge is clicked
  client/lib/abtest/active-tests.js
  client/lib/discounts/active-discounts.js
  client/my-sites/current-site/notice.jsx
  client/my-sites/plan-features/index.jsx
Labels: [Status] Needs Review

#25893 Signup: Use Redux for handling/persisting signup progress
  client/blocks/login/index.jsx
  client/lib/signup/actions.js
  client/lib/signup/flow-controller.js
  client/lib/signup/progress-store.js
  client/lib/signup/test/dependency-store.js
  client/lib/signup/test/flow-controller.js
  client/lib/signup/test/mocks/signup/config/flows-pure.js
  client/lib/signup/test/mocks/signup/config/flows.js
  client/lib/signup/test/progress-store.js
  client/signup/controller.js
  client/signup/main.jsx
  client/signup/utils.js
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#25767 Plugins: Calypsoify plugins
  client/layout/guided-tours/config.js
  client/layout/guided-tours/tours/plugins-basic-tour.js
  client/layout/sidebar/style.scss
  client/my-sites/controller.js
  client/my-sites/plugins/plugin-information/index.jsx
  client/my-sites/plugins/plugin-meta/index.jsx
  client/my-sites/plugins/plugin.jsx
  client/my-sites/plugins/style.scss
  client/my-sites/sidebar/manage-menu.jsx
  client/my-sites/sidebar/sidebar.jsx
  client/my-sites/sidebar/style.scss
  client/state/ui/guided-tours/selectors/index.js
  config/development.json
  config/horizon.json
  config/test.json
  config/wpcalypso.json
Labels: Plugins, [Status] Needs Review, [Status] Needs e2e Testing

#26115 Move lib/posts files to state/posts and convert editor analytics to Redux
  client/blocks/post-edit-button/index.jsx
  client/blocks/reader-post-actions/index.jsx
  client/blocks/reader-post-options-menu/index.jsx
  client/components/tinymce/plugins/editor-button-analytics/plugin.js
  client/components/tinymce/plugins/wplink/dialog.jsx
  client/lib/posts/actions.js
  client/lib/posts/test/utils.js
  client/lib/posts/utils.js
  client/my-sites/draft/index.jsx
  client/my-sites/pages/page/index.js
  client/post-editor/controller.js
  client/post-editor/edit-post-status/index.jsx
  client/post-editor/editor-action-bar/index.jsx
  client/post-editor/editor-action-bar/view-link.jsx
  client/post-editor/editor-author/index.jsx
  client/post-editor/editor-confirmation-sidebar/header.jsx
  client/post-editor/editor-discussion/index.jsx
  client/post-editor/editor-discussion/test/index.jsx
  client/post-editor/editor-drawer/featured-image.jsx
  client/post-editor/editor-excerpt/index.jsx
  client/post-editor/editor-featured-image/index.jsx
  client/post-editor/editor-ground-control/quick-save-buttons.jsx
  client/post-editor/editor-location/index.jsx
  client/post-editor/editor-location/search.jsx
  client/post-editor/editor-page-order/index.jsx
  client/post-editor/editor-page-slug/index.jsx
  client/post-editor/editor-post-formats/index.jsx
  client/post-editor/editor-publish-button/index.jsx
  client/post-editor/editor-publish-button/test/index.jsx
  client/post-editor/editor-publish-date/index.jsx
  client/post-editor/editor-publish-date/post-scheduler.jsx
  client/post-editor/editor-sharing/accordion.jsx
  client/post-editor/editor-sharing/publicize-connection.jsx
  client/post-editor/editor-sharing/publicize-message.jsx
  client/post-editor/editor-sharing/publicize-options.jsx
  client/post-editor/editor-sharing/sharing-like-options.jsx
  client/post-editor/editor-sharing/test/publicize-connection.jsx
  client/post-editor/editor-slug/index.jsx
  client/post-editor/editor-status-label/index.jsx
  client/post-editor/editor-sticky/index.jsx
  client/post-editor/editor-theme-help/index.jsx
  client/post-editor/editor-title/index.jsx
  client/post-editor/editor-visibility/index.jsx
  client/post-editor/media-modal/index.jsx
  client/post-editor/media-modal/test/index.jsx
  client/post-editor/post-editor.jsx
  client/post-editor/term-token-field/index.jsx
  client/state/data-layer/wpcom/sites/simple-payments/index.js
  client/state/posts/actions.js
  client/state/posts/reducer.js
  client/state/posts/selectors.js
  client/state/posts/stats.js
  client/state/posts/test/utils.js
  client/state/posts/utils.js
  client/state/ui/editor/selectors.js
Labels: Editor, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#25784 Simple Payments: Remove feature flag
  client/components/tinymce/plugins/insert-menu/menu-items.jsx
  client/components/tinymce/plugins/wpcom-view/views.js
  client/lib/plans/constants.js
  client/post-editor/editor-html-toolbar/index.jsx
  client/post-editor/editor-html-toolbar/style.scss
  config/desktop-development.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: Simple Payments, [Status] Needs Review, [Type] Janitorial

#26084 Gutenberg: reset styles in new section
  client/gutenberg/editor/style.scss
  client/layout/masterbar/style.scss
  client/layout/style.scss
Labels: [Goal] Gutenberg, [Status] Needs Review

#26167 Update CSS on landing pages to address latest feedback
  client/my-sites/feature-upsell/ads-upsell.jsx
  client/my-sites/feature-upsell/plugins-upsell.jsx
  client/my-sites/feature-upsell/store-upsell.jsx
  client/my-sites/feature-upsell/style.scss
  client/my-sites/feature-upsell/themes-upsell.jsx
Labels: Design, Marketing, [Status] Needs Review

#26187 Activity: add top pagination
  client/my-sites/stats/activity-log/index.jsx
  client/my-sites/stats/activity-log/style.scss
Labels: Design, [Project] Activity Log, [Status] Ready to Merge, [Type] Enhancement

#26174 SDK: Add "editor notes" block
  client/gutenberg/extensions/editor-notes/index.js
Labels: [Status] Needs Review

#26193 Build: Fix the assets writer when building sourcemaps
  server/bundler/assets-writer.js
Labels: Build, [Status] Needs Review

#26128 Checkout: Remove unnecessary period in Domain Search and Transfer
  client/components/domains/domain-registration-suggestion/utility.js
  client/components/domains/transfer-domain-step/index.jsx
Labels: Checkout, [Status] Ready to Merge

#26195 Activity Log: make core updates available to everyone
  client/my-sites/stats/activity-log-tasklist/to-update.jsx
  config/development.json
  config/stage.json
  config/wpcalypso.json
Labels: Activity/Rewind, [Project] Activity Log, [Status] Needs Review, [Type] Enhancement

#26118 Update App Banner deep links for iOS universal links
  client/blocks/app-banner/index.jsx
  client/blocks/app-banner/test/__snapshots__/app-banner.jsx.snap
  client/blocks/app-banner/test/app-banner.jsx
Labels: [Status] Ready to Merge

#25919 Reader: make getOffsetItem selector aware of x-posts
  client/reader/xpost-helper.js
  client/state/selectors/get-reader-stream-offset-item.js
  client/state/selectors/get-reader-stream-prev-item.js
  client/state/selectors/test/get-reader-stream-offset-item.js
Labels: Reader, [Status] Needs Review, [Type] Bug

#26102 lib/safe-image-url: don't pass .svg images to Photon
  client/lib/safe-image-url/index.js
  client/lib/safe-image-url/test/index.js
Labels: Reader, [Status] Ready to Merge

#26138 Send to plugins upsell page from plugins page banner for nudge upsell a/b test
  client/lib/abtest/active-tests.js
  client/my-sites/plugins/plugin-meta/index.jsx
  client/my-sites/plugins/plugins-browser/index.jsx
Labels: Marketing, Plugins, [Status] Needs e2e Testing, [Status] Ready to Merge

#26148 Fix redirect to `login_url` in desktop-development env
  client/auth/controller.js
Labels: Desktop App, [Status] Needs Review

#26133 Settings: Bump Jetpack connection transfer minimum version
  client/my-sites/site-settings/manage-connection/site-ownership.jsx
Labels: Jetpack, Site Settings, [Status] Ready to Merge, [Type] Feature progress

#26096 Use shared duration translation
  client/extensions/woocommerce/app/dashboard/setup/tasks.js
Labels: Checklist, Store, [Status] Ready to Merge, [Type] Janitorial, i18n

#25474 Guided Tours: Add Jetpack Plugin Autoupdate Tour
  client/layout/guided-tours/config.js
  client/layout/guided-tours/tours/jetpack-plugin-updates-tour.js
  client/my-sites/checklist/jetpack-checklist.js
  client/my-sites/plans/current-plan/index.jsx
  client/my-sites/plugins/plugin-item/plugin-item.jsx
Labels: Checklist, Guided Tours, Jetpack, Plugins, [Status] Ready to Merge, [Type] Feature progress

#25897 Settings: Push Jetpack plan and connection transfer to production
  client/my-sites/site-settings/manage-connection/site-ownership.jsx
  config/development.json
  config/horizon.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Jetpack, Site Settings, [Status] Ready to Merge, [Type] Feature progress

#26192 Framework: Revert "Move @babel/polyfill import to webpack config"
  client/boot/polyfills.js
  webpack.config.js
Labels: Build, Framework, [Status] Needs Review

#26169 Checklist: Navigate via show to maintain back functionality
  client/extensions/woocommerce/app/dashboard/setup/tasks.js
Labels: Checklist, NUX, Navigation, Store, [Status] Ready to Merge, [Type] Enhancement, [Type] Janitorial

#22625 Create a environment badge component
  assets/stylesheets/_components.scss
  assets/stylesheets/_main.scss
  client/components/environment-badge/README.md
  client/components/environment-badge/index.jsx
  client/components/environment-badge/style.scss
  client/document/index.jsx
Labels: Framework, [Status] Needs Review

#26197 Activity Log: Fixes #26184 and improves upgrade banners
  client/lib/plans/constants.js
  client/my-sites/stats/activity-log-banner/upgrade-banner.jsx
  client/my-sites/stats/activity-log/index.jsx
  client/my-sites/stats/activity-log/unavailability-notice.jsx
Labels: [Project] Activity Log, [Status] Needs Copy Review, [Status] Needs Review, [Type] Enhancement

#26191 Activity: update loading state
  client/my-sites/stats/activity-log-item/style.scss
  client/my-sites/stats/activity-log/index.jsx
  client/my-sites/stats/activity-log/style.scss
Labels: Activity/Rewind, Design, [Status] Needs Review, [Type] Enhancement

#25930 Reader Share: clean up props of SiteSelector component
  client/blocks/reader-share/index.jsx
Labels: Reader, [Status] Needs Review, [Type] Janitorial

#26211 Design: Update security SVG
  public/images/illustrations/security.svg
Labels: Design, [Status] Ready to Merge, [Type] Feature progress

#26163 Alias debug to one version
  webpack.config.js
Labels: Build, [Status] Needs Review, [Status] Needs e2e Testing

#26204 Domains: Count featured suggestions in TrainTracks
  client/components/domains/domain-search-results/index.jsx
  client/components/domains/featured-domain-suggestions/index.jsx
Labels: Domains, [Status] Needs Review

#26179 Themes: Fix Current Theme and Banner z-index
  assets/stylesheets/shared/functions/_z-index.scss
  client/my-sites/themes/current-theme/style.scss
  client/my-sites/themes/style.scss
Labels: Themes, [Status] Needs Review, [Type] Bug

#26202 Activity Log: fix issue where rewinds through unexpected errors.
  client/my-sites/stats/activity-log/index.jsx
Labels: [Pri] High, [Status] Needs Review, [Type] Bug

#26206 Reader sidebar: switch from lib/user-settings to Redux
  client/reader/sidebar/index.jsx
  client/reader/sidebar/promo.jsx
  client/reader/sidebar/test/index.jsx
  client/reader/sidebar/test/promo.jsx
Labels: Reader, [Status] Ready to Merge, [Type] Janitorial

#26185 Checkout: simplify pricing format
  client/my-sites/plan-price/index.jsx
Labels: Checkout, Signup, [Status] Needs Review

#26146 Checkout: Add back crossed out prices
  client/my-sites/checkout/cart/cart-item.jsx
Labels: Checkout, [Status] Needs Review

#26222 [nudge-a-palooza] Add feature flag check to updating sidebar nudge URL
  client/my-sites/current-site/notice.jsx
Labels: Marketing, [Status] Needs Review

#26220 [nudge-a-palooza] For clearer distinction, rename tests themesUpsells and pluginUpsells to themesNudgesUpdates and customPluginAndThemeLandingPages
  client/lib/abtest/active-tests.js
  client/my-sites/checkout/cart/cart-plan-ad-theme.jsx
  client/my-sites/plugins/plugin-meta/index.jsx
  client/my-sites/plugins/plugins-browser/index.jsx
  client/my-sites/theme/main.jsx
  client/my-sites/themes/single-site-wpcom.jsx
Labels: Marketing, [Status] Needs Review, [Type] Janitorial

#26020 Upgrade Babel to version 7.0.0 beta 53
  babel.config.js
  npm-shrinkwrap.json
  package.json
  server/bundler/babel/babel-loader-cache-identifier/index.js
  server/bundler/babel/babel-lodash-es/test/index.js
  server/bundler/babel/babel-plugin-transform-wpcalypso-async/test/index.js
Labels: Build, [Status] Needs Review, [Status] Needs e2e Testing, [Status] Ready to Merge
