Repository Automattic/wp-calypso, pull requests merged in 2018-02, with the labels that each got.

#22249 404: drop pug in favor of jsx
  client/document/404.jsx
  server/pages/404.pug
  server/pages/index.js
Labels: Framework, [Status] Needs Review

#22267 Activity Log: Happychat event cleanup
  client/my-sites/site-settings/jetpack-credentials/credentials-setup-flow/setup-footer.jsx
  client/my-sites/stats/activity-log-confirm-dialog/index.jsx
Labels: Happychat, Jetpack Activity Log, Site Settings, [Pri] BLOCKER, [Size] M, [Status] Needs Review

#22261 Browsehappy: drop pug in favor of jsx
  client/document/browsehappy.jsx
  server/pages/browsehappy.pug
  server/pages/index.js
Labels: Framework, [Status] Needs Review

#22255 500: drop pug in favor of jsx
  client/document/500.jsx
  server/pages/500.pug
  server/render/index.js
Labels: Framework, [Status] Needs Review

#22274 Fire a Tracks event for affiliate referrals in signup
  client/signup/main.jsx
Labels: [Status] Needs Review

#22109 Site Settings: Jetpack: Update lazy images description to match marketing
  client/my-sites/site-settings/speed-up-site-settings.jsx
Labels: Jetpack, Site Settings, [Status] Needs Review

#22305 Signup: Update themes in signup to replace seven with new ones
  client/lib/signup/themes-data.js
  client/my-sites/theme/themes-related-card/index.jsx
Labels: Signup, [Status] Needs Review

#22268 Don't show free plan with DWPO and transfer.
  client/signup/main.jsx
  client/signup/steps/domains/index.jsx
Labels: Domains, [Status] Ready to Merge

#22306 Use withSchemaValidation for persistence of Post Type Taxonomies reducer
  client/state/post-types/taxonomies/reducer.js
Labels: State, [Status] Needs Review

#22304 Update wording on screen to start pending transfer.
  client/my-sites/domains/domain-management/edit/transfer.jsx
  client/my-sites/domains/domain-management/style.scss
Labels: Domains, [Status] Ready to Merge

#22307 Link directly to precheck page from checkout thank you page.
  client/my-sites/checkout/checkout-thank-you/header.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
Labels: Domains

#22309 Fix a buggy state update in Post Type Taxonomies reducer
  client/state/post-types/taxonomies/reducer.js
  client/state/post-types/taxonomies/test/reducer.js
Labels: [Status] Needs Review, [Type] Bug

#22277 Invites: Fix issues with data loading order
  client/my-sites/people/controller.js
  client/my-sites/people/people-invite-details/index.jsx
  client/my-sites/people/people-invites/index.jsx
Labels: People Management, [Status] Ready to Merge, [Type] Bug

#22294 Rewind - Credentials Form: add link to go to Activity Log
  client/my-sites/site-settings/jetpack-credentials/credentials-configured/style.scss
  client/my-sites/site-settings/jetpack-credentials/index.jsx
Labels: Jetpack Rewind, [Status] Ready to Merge, [Type] Enhancement

#22297 Rewind - Credentials: update explanation text shown when manually configuring
  client/my-sites/site-settings/jetpack-credentials/credentials-setup-flow/setup-tos.jsx
Labels: Jetpack Rewind, [Status] Needs Review, [Type] Enhancement

#22298 Rewind API: Allow `queued` status for Rewind operation
  client/state/data-layer/wpcom/sites/rewind/schema.js
Labels: Jetpack Rewind, [Status] Needs Review

#22281 Rewind: Handle some API response issues better
  client/state/data-layer/wpcom/sites/rewind/index.js
Labels: Jetpack Rewind, [Status] Needs Review

#21995 isEditedPostDirty: add tests for date and parent changes
  client/state/posts/test/selectors.js
Labels: Posts, [Status] Needs Review

#22301 JP Onboarding: Use `basePath` to construct PageViewTracker's `path`
  client/components/wizard/index.jsx
  client/jetpack-onboarding/steps/business-address.jsx
  client/jetpack-onboarding/steps/contact-form.jsx
  client/jetpack-onboarding/steps/homepage.jsx
  client/jetpack-onboarding/steps/site-title.jsx
  client/jetpack-onboarding/steps/site-type.jsx
  client/jetpack-onboarding/steps/summary.jsx
  client/jetpack-onboarding/steps/woocommerce.jsx
  client/jetpack-onboarding/summary-completed-steps.jsx
Labels: Jetpack Onboarding, [Status] Ready to Merge

#22288 JP Onboarding: Remove Distractions from Masterbar
  client/layout/masterbar/logged-out.jsx
Labels: Jetpack Onboarding, [Status] Ready to Merge

#22322 JPO: display form validation in the Business Address step after the data has been recieved.
  client/jetpack-onboarding/steps/business-address.jsx
Labels: Jetpack Onboarding, [Status] Ready to Merge

#22321 Components: Site Title- display form validation notice only after the data has been fetched.
  client/components/site-title/index.jsx
Labels: Jetpack Onboarding, [Status] Ready to Merge

#22318 Analytics: track 2fa events in tracks as well
  client/lib/two-step-authorization/index.js
Labels: Analytics, [Status] Needs Author Reply

#22302 JP Onboarding: Change Public-facing URL to /jetpack/start
  client/jetpack-connect/controller.js
  client/jetpack-onboarding/index.js
  client/jetpack-onboarding/main.jsx
  client/jetpack-onboarding/steps/business-address.jsx
  client/jetpack-onboarding/steps/contact-form.jsx
  client/jetpack-onboarding/steps/homepage.jsx
  client/jetpack-onboarding/steps/site-title.jsx
  client/jetpack-onboarding/steps/site-type.jsx
  client/jetpack-onboarding/steps/summary.jsx
  client/jetpack-onboarding/steps/woocommerce.jsx
  client/wordpress-com.js
Labels: Jetpack Onboarding, [Status] Ready to Merge

#21787 Signup: Roll out the G Suite upsell to all users.
  client/lib/abtest/active-tests.js
  client/my-sites/checkout/checkout/checkout.jsx
Labels: Signup, [Status] Ready to Merge

#22282 Jetpack Onboading: Make Contact/Business Address verbiage less confusing
  client/jetpack-onboarding/steps/business-address.jsx
  client/jetpack-onboarding/steps/contact-form.jsx
Labels: Jetpack Onboarding, [Status] Ready to Merge, [Type] Enhancement

#22313 Updated copy for /start/domains/transfer step
  client/components/domains/transfer-domain-step/index.jsx
Labels: Domains, [Status] Ready to Merge

#22320 JPO: add tracking to the Summary step.
  client/jetpack-onboarding/steps/summary.jsx
  client/jetpack-onboarding/summary-completed-steps.jsx
  client/jetpack-onboarding/summary-next-steps.jsx
Labels: Analytics, Jetpack Onboarding, [Status] Needs Review

#22336 SiteTitle Component: Validation Copy and Styling Fixes
  client/components/site-title/index.jsx
Labels: Components, Jetpack Onboarding, [Status] Ready to Merge

#20216 Activity Log: hide previous month arrown when there are no more logs
  client/my-sites/stats/activity-log/index.jsx
  client/state/activity-log/actions.js
  client/state/activity-log/log/reducer.js
  client/state/activity-log/log/schema.js
  client/state/activity-log/reducer.js
  client/state/data-layer/wpcom/sites/activity/from-api.js
  client/state/data-layer/wpcom/sites/activity/index.js
  client/state/data-layer/wpcom/sites/activity/schema.json
  client/state/selectors/get-oldest-item-ts.js
Labels: Jetpack Activity Log, [Status] Needs Review, [Type] Enhancement

#22025 Activity Log: Add unavailability banner
  client/my-sites/stats/activity-log-switch/index.jsx
  client/my-sites/stats/activity-log/index.jsx
  client/my-sites/stats/activity-log/unavailability-notice.jsx
  client/state/data-layer/wpcom/sites/rewind/api-transformer.js
Labels: Jetpack Activity Log, [Status] Ready to Merge, [Type] Enhancement

#22063 Store: Set a default price of 0 if no price is entered on product create
  client/extensions/woocommerce/app/products/product-create.js
Labels: Store, [Status] Needs Review

#22354 stale[bot] - fix stalebot message formatting
  .github/stale.yml
Labels: Maintenance, [Type] Bug

#22026 Store: Settings trash pickup
  client/extensions/woocommerce/app/dashboard/setup-tasks.js
  client/extensions/woocommerce/app/settings/email/mailchimp/sync_tab.js
  client/extensions/woocommerce/app/settings/payments/style.scss
  client/extensions/woocommerce/app/settings/shipping/style.scss
  client/extensions/woocommerce/app/settings/taxes/index.js
  client/extensions/woocommerce/app/settings/taxes/taxes-options.js
  client/extensions/woocommerce/app/settings/taxes/taxes-wcs.js
  client/extensions/woocommerce/state/sites/settings/general/selectors.js
  client/extensions/woocommerce/state/sites/settings/general/test/selectors.js
Labels: Store, [Status] Needs Review

#22353 Activity Log: Send Pressable users to the correct place from credentials banner
  client/my-sites/stats/activity-log/index.jsx
Labels: Jetpack Activity Log, Jetpack Rewind, [Pri] High, [Size] S, [Status] Needs Review, [Type] Bug

#22335 SEO: add SEO description field to editor if site has a JP Premium plan
  client/post-editor/editor-drawer/index.jsx
Labels: Jetpack Plans, SEO, [Pri] Normal, [Status] Needs Review, [Type] Bug

#22311 Improve test of Reader streams reducer
  client/state/reader/streams/test/reducer.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#22340 Support user: clean up old SU format from Happychat middleware
  client/state/happychat/middleware-calypso.js
  client/state/happychat/test/middleware-calypso.js
Labels: Support

#21674 Support user: remove password dialog
  assets/stylesheets/_components.scss
  client/lib/keyboard-shortcuts/key-bindings.js
  client/lib/user/support-user-interop.js
  client/lib/wp/support.js
  client/state/action-types.js
  client/state/support/actions.js
  client/state/support/reducer.js
  client/state/support/selectors.js
  client/state/support/test/actions.js
  client/support/README.md
  client/support/support-user/index.jsx
  client/support/support-user/login-dialog.jsx
  client/support/support-user/style.scss
Labels: Support

#22338 Domains: Update Thank You Pages copy for transfers
  client/my-sites/checkout/checkout-thank-you/header.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
Labels: Domains

#22328 Remove unneeded globalActions param from keyedReducers
  client/state/activity-log/log/reducer.js
  client/state/reader/streams/reducer.js
Labels: [Status] Needs Review, [Type] Janitorial

#22325 Fix Following Manage 'no subs found' error when a search hasn't been performed
  client/reader/following-manage/subscriptions.jsx
Labels: Reader, [Status] Needs Review

#22358 Rewind: Fix mistake in reporting failed credentials attempts
  client/state/data-layer/wpcom/activity-log/update-credentials/index.js
Labels: Jetpack Rewind, [Status] Needs Review

#22350 Rewind: Refactor rewind-to data layer handler and error messaging
  client/state/action-types.js
  client/state/activity-log/actions.js
  client/state/activity-log/restore/test/reducer.js
  client/state/data-layer/wpcom/activity-log/rewind/to/index.js
  client/state/data-layer/wpcom/activity-log/rewind/to/test/index.js
Labels: Jetpack Rewind, [Status] Needs Copy Review, [Status] Needs Review

#22355 Reader: fix unliking post to actually send out request
  client/lib/like-store/actions.js
Labels: Reader, [Status] Needs Review, [Type] Bug

#22363 Rewind: Try to fix missing credentials failure events
  client/state/data-layer/wpcom/activity-log/update-credentials/index.js
Labels: Jetpack Rewind, [Status] Needs Review

#22366 Reader: handle 404 responses from /read/site/:site
  client/reader/feed-stream/index.jsx
  client/state/reader/sites/reducer.js
Labels: Reader, [Status] Ready to Merge

#21524 Try Fetching a Validation schema from an endpoint
  client/components/domains/registrant-extra-info/README.md
  client/components/domains/registrant-extra-info/test/uk-schema.json
  client/components/domains/registrant-extra-info/test/with-contact-details-validation.js
  client/components/domains/registrant-extra-info/uk-form.jsx
  client/components/domains/registrant-extra-info/with-contact-details-validation.jsx
Labels: Domains, [Status] In Progress, [Status] Needs Review

#22349 Happychat: unify contact form button labelling
  client/me/help/help-contact/index.jsx
Labels: Happychat, [Status] Needs Review

#22343 Login: Feature gate branded login
  client/blocks/login/docs/example.jsx
  client/blocks/login/index.jsx
Labels: Jetpack, Login, [Status] Ready to Merge

#22290 Login: Use mutually exclusive branches for path construction
  client/lib/paths/login/index.js
Labels: Login, [Status] Ready to Merge, [Type] Janitorial

#22342 Add Jetpack log-in route handling
  client/login/index.web.js
Labels: Jetpack, Login, [Status] Ready to Merge, [Type] Task

#22339 JP Onboarding: Fix Business Address Step Validation
  client/jetpack-onboarding/steps/business-address.jsx
Labels: Jetpack Onboarding, [Status] Ready to Merge

#22347 Add copy to explain pre-filled domain contact information
  client/my-sites/checkout/checkout/domain-details-form.jsx
Labels: Domains, [Status] Needs Review

#22221 Create google my business invite
  assets/stylesheets/_components.scss
  assets/stylesheets/shared/functions/_z-index.scss
  client/components/google-my-business/stats-nudge.js
  client/components/google-my-business/style.scss
  client/my-sites/stats/site.jsx
  client/state/selectors/is-gmb-nudge-visible.js
  config/development.json
  public/images/google-my-business/phone-screenshot.png
Labels: Google My Business, [Status] Ready to Merge

#22362 Site Indicator: update link to disconnect a Jetpack site
  client/my-sites/site-indicator/site-indicator.jsx
Labels: Jetpack, Sites, [Pri] High, [Status] Ready to Merge, [Type] Bug

#22359 Site Rename: Fetch and use a nonce for the API call
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/state/site-rename/actions.js
Labels: API, Sites, [Status] Needs Review

#22101 Reader: send all posts across the redux bridge
  client/blocks/reader-combined-card/index.jsx
  client/blocks/reader-combined-card/post.jsx
  client/blocks/reader-full-post/index.jsx
  client/blocks/reader-post-card/index.jsx
  client/blocks/reader-related-card-v2/index.jsx
  client/components/data/query-reader-post/index.jsx
  client/lib/feed-post-store/actions.js
  client/lib/feed-post-store/constants.js
  client/lib/feed-post-store/index.js
  client/lib/feed-post-store/post-fetcher.js
  client/lib/feed-post-store/test/index.js
  client/lib/feed-post-store/test/post-fetcher.js
  client/lib/feed-stream-store/feed-stream.js
  client/lib/feed-stream-store/index.js
  client/lib/feed-stream-store/paged-stream.js
  client/lib/feed-stream-store/post-key.js
  client/lib/feed-stream-store/test/index.js
  client/lib/reader-post-flux-adapter/index.js
  client/reader/like-button/index.jsx
  client/reader/list-gap/index.jsx
  client/reader/site-stream/featured.jsx
  client/reader/site-stream/index.jsx
  client/reader/stream/index.jsx
  client/reader/stream/post-lifecycle.jsx
  client/reader/stream/post.jsx
  client/reader/stream/recommended-posts.jsx
  client/reader/test/utils.js
  client/reader/utils.js
  client/state/reader/posts/actions.js
  client/state/reader/posts/reducer.js
  client/state/reader/posts/selectors.js
  client/state/reader/posts/test/actions.js
  client/state/reader/posts/test/selectors.js
  client/state/reader/posts/thing
Labels: Reader, [Status] Needs Review

#22391 Rewind: display the flow initiator when inactive due to vp_can_transfer
  client/my-sites/stats/activity-log/index.jsx
Labels: Jetpack Rewind, [Pri] BLOCKER, [Status] Needs Review, [Type] Bug

#22236 Build: Update Node to 8.9.4
  .nvmrc
  Dockerfile
  circle.yml
  npm-shrinkwrap.json
  package.json
Labels: Build, Framework, [Status] Needs Review

#22397 Rewind: Fix bug where credential failures were opening chats
  client/state/data-layer/wpcom/activity-log/update-credentials/index.js
Labels: Jetpack Rewind, [Status] Needs Review, [Type] Bug

#22356 When serializing Redux state, completely skip the parts that don't have persistence defined
  client/extensions/wp-super-cache/state/cache/test/reducer.js
  client/extensions/wp-super-cache/state/plugins/test/reducer.js
  client/extensions/wp-super-cache/state/settings/test/reducer.js
  client/extensions/wp-super-cache/state/stats/test/reducer.js
  client/extensions/wp-super-cache/state/status/test/reducer.js
  client/extensions/zoninator/state/zones/test/reducer.js
  client/state/application/test/reducer.js
  client/state/automated-transfer/test/reducer.js
  client/state/billing-transactions/test/reducer.js
  client/state/country-states/test/reducer.js
  client/state/current-user/gravatar-status/test/reducer.js
  client/state/jetpack/jumpstart/test/reducer.js
  client/state/jetpack/modules/test/reducer.js
  client/state/jetpack/settings/test/reducer.js
  client/state/login/magic-login/test/reducer.js
  client/state/login/test/reducer.js
  client/state/media/test/reducer.js
  client/state/oauth2-clients/test/reducer.js
  client/state/page-templates/test/reducer.js
  client/state/post-formats/test/reducer.js
  client/state/posts/likes/test/reducer.js
  client/state/preferences/test/reducer.js
  client/state/products-list/test/reducer.js
  client/state/reader/streams/test/reducer.js
  client/state/sharing/keyring/test/reducer.js
  client/state/sharing/publicize/test/reducer.js
  client/state/sharing/services/test/reducer.js
  client/state/shortcodes/test/reducer.js
  client/state/site-roles/test/reducer.js
  client/state/site-settings/test/reducer.js
  client/state/sites/connection/test/reducer.js
  client/state/sites/guided-transfer/test/reducer.js
  client/state/sites/monitor/test/reducer.js
  client/state/sites/sharing-buttons/test/reducer.js
  client/state/stats/lists/test/reducer.js
  client/state/test/utils.js
  client/state/ui/oauth2-clients/test/reducer.js
  client/state/users/suggestions/test/reducer.js
  client/state/utils.js
Labels: Framework, State, [Status] Needs Review

#22396 Rewind: when users can auto-config, send them to a new flow
  client/my-sites/stats/activity-log-switch/index.jsx
  client/my-sites/stats/activity-log/index.jsx
  client/signup/config/flows.js
  client/signup/steps/creds-confirm/index.jsx
  client/signup/steps/creds-permission/index.jsx
  client/signup/steps/rewind-add-creds/style.scss
  client/signup/steps/rewind-form-creds/style.scss
  client/signup/steps/rewind-migrate/style.scss
  client/signup/steps/rewind-were-backing/style.scss
Labels: Jetpack Rewind, [Pri] High, [Status] Ready to Merge, [Type] Bug

#22387 Change subheader text in nux step 2 when transfer is selected.
  client/signup/steps/domains/index.jsx
Labels: Domains, [Status] Ready to Merge

#22332 Domains: NUX Transfer Restriction screen
  client/components/domains/transfer-domain-step/index.jsx
Labels: Domains

#22346 On inbound transfer precheck page, change unlock check button text after first click.
  client/components/domains/transfer-domain-step/transfer-domain-precheck.jsx
Labels: Domains, [Status] Ready to Merge

#22429 Fix non standard file paths in marketing survey component folder
  client/components/marketing-survey/cancel-purchase-form/enriched-survey-data.js
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/components/marketing-survey/cancel-purchase-form/initial-survey-state.js
  client/components/marketing-survey/cancel-purchase-form/initialSurveyState.js
  client/components/marketing-survey/cancel-purchase-form/is-survey-filled-in.js
  client/components/marketing-survey/cancel-purchase-form/next-step.js
  client/components/marketing-survey/cancel-purchase-form/nextStep.js
  client/components/marketing-survey/cancel-purchase-form/options-for-product.js
  client/components/marketing-survey/cancel-purchase-form/previous-step.js
  client/components/marketing-survey/cancel-purchase-form/previousStep.js
  client/components/marketing-survey/cancel-purchase-form/radio-option.jsx
  client/components/marketing-survey/cancel-purchase-form/step-components/business-at-step.jsx
  client/components/marketing-survey/cancel-purchase-form/step-components/test/business-at-step.jsx
  client/components/marketing-survey/cancel-purchase-form/step-components/test/upgrade-at-step.jsx
  client/components/marketing-survey/cancel-purchase-form/step-components/upgrade-at-step.jsx
  client/components/marketing-survey/cancel-purchase-form/steps-for-product-and-survey.js
  client/components/marketing-survey/cancel-purchase-form/test/enriched-survey-data.js
  client/components/marketing-survey/cancel-purchase-form/test/initial-survey-state.js
  client/components/marketing-survey/cancel-purchase-form/test/is-survey-filled-in.js
  client/components/marketing-survey/cancel-purchase-form/test/next-step.js
  client/components/marketing-survey/cancel-purchase-form/test/previous-step.js
  client/components/marketing-survey/cancel-purchase-form/test/steps-for-product-and-survey.js
  client/me/purchases/cancel-purchase/button.jsx
  client/me/purchases/remove-purchase/index.jsx
  client/my-sites/site-settings/disconnect-site/confirm.jsx
Labels: Plans, [Status] Needs Review, [Type] Janitorial

#22381 Jetpack connect: Provide real log-in redirect url
  client/jetpack-connect/signup.js
  client/jetpack-connect/test/__snapshots__/signup.js.snap
Labels: Jetpack, Login, [Status] Ready to Merge, [Type] Bug

#22409 Rewrite the postTypes reducer to use withSchemaValidation
  client/state/post-types/reducer.js
  client/state/post-types/test/reducer.js
Labels: State, [Status] Needs Review

#22377 Jetpack Onboarding: Add tracking to wizard nav link clicks
  client/components/wizard/README.md
  client/components/wizard/index.jsx
  client/components/wizard/navigation-link.jsx
  client/jetpack-onboarding/main.jsx
Labels: Jetpack Onboarding, [Status] Needs Review

#22383 Jetpack Onboarding: Track form submissions
  client/jetpack-onboarding/steps/business-address.jsx
  client/jetpack-onboarding/steps/site-title.jsx
Labels: Jetpack Onboarding, [Status] Needs Review

#22389 Jetpack Onboarding: Track WooCommerce step button clicks
  client/jetpack-onboarding/steps/woocommerce.jsx
Labels: Jetpack Onboarding, [Status] Needs Review

#22382 Jetpack Onboading: Track ToS click
  client/jetpack-onboarding/disclaimer.jsx
  client/jetpack-onboarding/steps/site-title.jsx
Labels: Jetpack Onboarding, [Status] Needs Review

#22341 Jetpack Connect: On free plan, redirect to plans page with main tour if enough caps
  client/jetpack-connect/plans.jsx
Labels: Jetpack Onboarding, [Status] Ready to Merge, [Type] Enhancement

#22435 Jetpack Connect: Stop overwriting section name to hide sidebar
  client/jetpack-connect/controller.js
  client/state/happychat/selectors/get-groups.js
  client/state/happychat/selectors/test/get-groups.js
  client/state/happychat/test/utils.js
Labels: Happychat, Jetpack, [Status] Ready to Merge, [Type] Janitorial

#22295 JP Remote Install: Add actions and data-layer handlers
  client/state/action-types.js
  client/state/data-layer/wpcom/index.js
  client/state/data-layer/wpcom/jetpack-install/index.js
  client/state/data-layer/wpcom/jetpack-install/test/__snapshots__/index.js.snap
  client/state/data-layer/wpcom/jetpack-install/test/index.js
  client/state/jetpack-remote-install/actions.js
Labels: Jetpack, [Status] Needs Review, [Tests] Includes Tests

#22407 Sidebar: Increase contrast of icons, labels, and buttons
  assets/stylesheets/shared/_color-schemes.scss
  client/layout/sidebar/style.scss
Labels: [Status] Ready to Merge, [Type] Enhancement

#22398 JP Onboarding: Merge Summary Step Click Handlers
  client/jetpack-onboarding/steps/summary.jsx
  client/jetpack-onboarding/summary-completed-steps.jsx
  client/jetpack-onboarding/summary-next-steps.jsx
Labels: Jetpack Onboarding, [Status] Ready to Merge

#22399 JP Onboarding: Lowercase Summary Next Steps object keys
  client/jetpack-onboarding/summary-next-steps.jsx
Labels: Jetpack Onboarding, [Status] Needs Review

#22172 Chart: don't resize multiple times on initial load
  client/components/chart/index.jsx
Labels: Stats, [Status] Needs Review

#22444 Components: Fix notice action visited color
  client/components/notice/style.scss
Labels: Components, [Status] Ready to Merge

#22436 Bundle all stats components in one chunk
  client/my-sites/stats/controller.jsx
Labels: Performance, Stats, [Status] Needs Review

#22111 Invites: Add ability to clear/revoke invite to the details screen
  client/components/button/docs/example.jsx
  client/components/button/style.scss
  client/lib/wpcom-undocumented/lib/site.js
  client/my-sites/people/people-invite-details/index.jsx
  client/my-sites/people/people-invite-details/style.scss
  client/my-sites/people/people-list-item/index.jsx
  client/state/action-types.js
  client/state/invites/actions.js
  client/state/invites/reducer.js
  client/state/invites/selectors.js
  client/state/invites/test/reducer.js
  client/state/invites/test/selectors.js
  client/state/notices/middleware.js
Labels: People Management, [Status] Needs Review

#22427 Invites: Add message when max number of invites is exceeded
  client/my-sites/people/people-invites/index.jsx
  client/my-sites/people/people-invites/invites-list-end.jsx
  client/my-sites/people/people-invites/style.scss
Labels: People Management, [Status] Needs Review

#22395 People: Clean up feature flags; enable invites section in staging
  client/my-sites/people/index.js
  client/my-sites/people/people-section-nav/index.jsx
  client/my-sites/sidebar/sidebar.jsx
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: People Management, [Status] Needs Review

#22411 Rewind - Signup flow: don't say that backups are ready if user skips the steps
  client/signup/config/steps.js
  client/signup/steps/creds-complete/index.jsx
  client/signup/steps/creds-confirm/index.jsx
  client/signup/steps/creds-permission/index.jsx
  client/signup/steps/rewind-form-creds/index.jsx
  client/signup/steps/rewind-migrate/index.jsx
  client/signup/steps/rewind-were-backing/index.jsx
Labels: Jetpack Rewind, [Pri] High, [Status] Needs Review, [Type] Bug

#22024 Post Likes: Create a data-layer for post likes
  client/blocks/post-likes/index.jsx
  client/components/data/query-post-likes/index.jsx
  client/my-sites/stats/stats-post-likes/index.jsx
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/posts/index.js
  client/state/data-layer/wpcom/sites/posts/likes/index.js
  client/state/data-layer/wpcom/sites/posts/likes/mine/delete/index.js
  client/state/data-layer/wpcom/sites/posts/likes/mine/delete/test/index.js
  client/state/data-layer/wpcom/sites/posts/likes/mine/index.js
  client/state/data-layer/wpcom/sites/posts/likes/new/index.js
  client/state/data-layer/wpcom/sites/posts/likes/new/test/index.js
  client/state/data-layer/wpcom/sites/posts/likes/test/index.js
  client/state/posts/likes/actions.js
  client/state/posts/likes/reducer.js
  client/state/posts/likes/test/actions.js
  client/state/posts/likes/test/reducer.js
  client/state/selectors/get-post-likes.js
  client/state/selectors/is-requesting-post-likes.js
  client/state/selectors/test/is-requesting-post-likes.js
Labels: Reader, [Status] Needs Review

#22460 Invites: enable invite management from wpcalypso
  config/wpcalypso.json
Labels: People Management, [Status] Ready to Merge

#22076 Store Orders: Add "Delete" button to orders
  client/extensions/woocommerce/app/order/header.js
  client/extensions/woocommerce/state/action-types.js
  client/extensions/woocommerce/state/data-layer/orders/index.js
  client/extensions/woocommerce/state/data-layer/orders/test/index.js
  client/extensions/woocommerce/state/sites/orders/actions.js
  client/extensions/woocommerce/state/sites/orders/reducer.js
  client/extensions/woocommerce/state/sites/orders/test/reducer.js
Labels: Store, [Status] Ready to Merge

#22072 Store Orders: Extract ActionHeader on single order views to its own component
  client/extensions/woocommerce/app/order/header.js
  client/extensions/woocommerce/app/order/index.js
  client/extensions/woocommerce/state/action-types.js
  client/extensions/woocommerce/state/data-layer/orders/index.js
  client/extensions/woocommerce/state/data-layer/orders/test/index.js
  client/extensions/woocommerce/state/sites/orders/actions.js
  client/extensions/woocommerce/state/sites/orders/reducer.js
  client/extensions/woocommerce/state/sites/orders/test/reducer.js
Labels: Store, [Status] Ready to Merge

#22352 Store: Disable MailChimp Integration
  client/extensions/woocommerce/app/dashboard/required-plugins-install-view.js
  client/extensions/woocommerce/app/settings/email/mailchimp/index.js
Labels: Store, [Status] Needs Review

#22464 Reverting #22407 because of mobile regressions.
  assets/stylesheets/shared/_color-schemes.scss
  client/layout/sidebar/style.scss
Labels: [Status] Needs Review, [Type] Bug

#22446 Domains: Add tracking for NUX transfers
  client/my-sites/checkout/checkout-thank-you/header.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/state/domains/actions.js
Labels: Domains

#22465 Stop supporting null schema in withSchemaValidation
  client/state/test/utils.js
  client/state/utils.js
Labels: State, [Status] Needs Review

#22453 Activity Log: add a Get help button in failed backup events
  client/my-sites/stats/activity-log-item/index.jsx
Labels: Happychat, Jetpack Activity Log, [Status] Needs Review, [Type] Enhancement

#22271 Layout: Stop elements from the primary section from showing through the sidebar.
  client/layout/style.scss
Labels: Sites, [Status] Ready to Merge

#21753 Me: Accessibility: Allow tabbing through Interface Language options using keyboard
  client/components/language-picker/index.jsx
  client/components/language-picker/modal.jsx
  client/components/language-picker/style.scss
  client/components/language-picker/test/__snapshots__/modal.js.snap
Labels: Accessibility, Me, [Status] Needs Review, i18n

#22481 Editor: Gallery: reordering images on touch screen devices
  client/components/forms/sortable-list/index.jsx
Labels: Editor, [Pri] High, [Status] Needs Review, [Type] Bug

#22408 Domains: Allow NUX Transfers for all users
  client/components/domains/domain-search-results/index.jsx
  client/components/domains/register-domain-step/index.jsx
  client/state/current-user/constants.js
Labels: Domains, NUX

#22480 Add hotjar script to checklist
  client/components/checklist/index.jsx
Labels: Signup

#22472 People: Invites: Avoid rendering recently-deleted invites in the list
  client/my-sites/people/people-list-item/index.jsx
  client/state/invites/selectors.js
Labels: People Management, [Status] Needs Review, [Type] Bug

#22474 People: Invites: Launch in production
  client/my-sites/people/index.js
  client/my-sites/people/people-section-nav/index.jsx
  config/development.json
  config/stage.json
  config/wpcalypso.json
Labels: People Management, [Status] Needs Review

#22478 Layout: Stop elements from the primary section from showing through the sidebar try 2
  client/layout/style.scss
Labels: Sites, [Status] Needs Review

#22494 /comments: blockquote spacing
  client/my-sites/comments/comment/style.scss
Labels: Comments, Design, [Status] Ready to Merge

#22136 Store: Render add credit card form in a modal instead of new tab
  client/extensions/woocommerce/woocommerce-services/state/action-types.js
  client/extensions/woocommerce/woocommerce-services/state/label-settings/actions.js
  client/extensions/woocommerce/woocommerce-services/state/label-settings/reducer.js
  client/extensions/woocommerce/woocommerce-services/state/label-settings/selectors.js
  client/extensions/woocommerce/woocommerce-services/views/label-settings/add-credit-card-modal.js
  client/extensions/woocommerce/woocommerce-services/views/label-settings/label-settings.js
  client/extensions/woocommerce/woocommerce-services/views/label-settings/style.scss
Labels: Store, Store Services, [Status] Ready to Merge

#22412 Framework: Refactor adding sympathy
  client/state/initial-state.js
Labels: Framework, State, [Status] Needs Review

#22330 Ensure esc keyboard shortcut closes revisions modal when revisions nav button is disabled
  client/post-editor/editor-revisions/dialog.jsx
Labels: Revisions, [Status] Ready to Merge, [Type] Bug

#22496 SEO Settings: make support link external
  client/my-sites/site-settings/seo-settings/site-verification.jsx
Labels: SEO, Site Settings, [Status] Ready to Merge, [Type] Enhancement

#22498 Remove lodash duplication from lib/credit-card-details
  client/components/credit-card-form-fields/test/index.js
  client/components/head/test/index.jsx
  client/lib/credit-card-details/ebanx.js
  client/lib/credit-card-details/validation.js
Labels: [Status] Needs Review, [Type] Janitorial

#22463 Add a new test group to the domain search test
  client/components/domains/domain-search-results/index.jsx
  client/components/domains/register-domain-step/index.jsx
  client/lib/abtest/active-tests.js
Labels: Domains, [Status] Ready to Merge

#21986 Store: Only send back modified values back to the payment method API
  client/extensions/woocommerce/state/data-layer/payment-methods/index.js
  client/extensions/woocommerce/state/data-layer/ui/payments/index.js
  client/extensions/woocommerce/state/ui/payments/methods/reducer.js
  client/extensions/woocommerce/state/ui/payments/methods/selectors.js
  client/extensions/woocommerce/state/ui/payments/methods/test/reducer.js
Labels: Store, [Status] Ready to Merge, [Tests] Includes Tests

#22505 Reader QueryReaderPost: fix bad postKey handling
  client/components/data/query-reader-post/index.jsx
  client/lib/feed-stream-store/post-key.js
Labels: Reader, [Pri] High, [Status] Needs Review, [Type] Bug

#22471 Manage persistence of createReducer with withSchemaValidation and withoutPersistence
  client/state/test/utils.js
  client/state/utils.js
Labels: State, [Status] Needs Review

#22508 SU: re-enable functionality in development environments
  server/pages/index.js
Labels: Support, [Status] Ready to Merge

#22220 Build: Remove tests from Docker build context
  .dockerignore
  client/blocks/daily-post-button/docs/example.jsx
Labels: Build, [Status] Ready to Merge, [Type] Enhancement

#22482 Jetpack: Update /log-in/jetpack styling
  client/login/controller.js
  client/login/wp-login/index.jsx
  config/wpcalypso.json
Labels: Design, Login, [Status] Ready to Merge, [Type] Enhancement, [Type] Task

#22490 Jetpack connect: Update login links
  client/jetpack-connect/authorize.js
  client/jetpack-connect/signup.js
  client/lib/paths/login/index.js
  client/lib/paths/login/test/index.js
Labels: Jetpack, [Status] Ready to Merge, [Type] Task

#22484 Jetpack connect: Respect locale in login links
  client/jetpack-connect/signup.js
  client/jetpack-connect/test/__snapshots__/signup.js.snap
Labels: Jetpack, [Status] Ready to Merge, [Type] Bug, i18n

#22489 Jetpack connect: Use Jetpack login from signup form
  client/components/signup-form/index.jsx
Labels: Components, Jetpack, Login, [Status] Ready to Merge, [Type] Task

#22485 Login: Enable login/native-login-links in test config
  client/jetpack-connect/test/__snapshots__/authorize.js.snap
  client/jetpack-connect/test/__snapshots__/signup.js.snap
  config/test.json
Labels: Testing, [Status] Ready to Merge, [Tests] Includes Tests, [Type] Task

#22514 Update a few createReducer usages to not validate schema manually
  client/state/posts/reducer.js
  client/state/reader/feeds/reducer.js
  client/state/reader/sites/reducer.js
  client/state/terms/reducer.js
  client/state/themes/reducer.js
  client/state/themes/schema.js
Labels: State, [Status] Needs Review

#22379 Jetpack Onboarding: Track title and description change
  client/jetpack-onboarding/steps/site-title.jsx
Labels: Jetpack Onboarding, [Status] Needs Review

#22385 Jetpack Onboarding: Track business address field change
  client/jetpack-onboarding/steps/business-address.jsx
Labels: Jetpack Onboarding, [Status] Needs Review

#22443 Jetpack Onboarding: Display an error notice when there is a communication error
  client/state/data-layer/wpcom/jetpack-onboarding/index.js
  client/state/data-layer/wpcom/jetpack-onboarding/test/index.js
Labels: Jetpack Onboarding, [Status] Needs Design Review, [Tests] Includes Tests, [Type] Enhancement

#22522 Help: update the help link for uploading plugins and themes
  client/blocks/inline-help/inline-help-search-results.jsx
  client/me/help/main.jsx
Labels: Help, [Status] Ready to Merge, [Type] Task

#22265 Store: Update/wc api flatten state
  client/extensions/woocommerce/state/wc-api/reducer.js
  client/extensions/woocommerce/state/wc-api/site-data/reducer.js
  client/extensions/woocommerce/state/wc-api/status/reducer.js
  client/extensions/woocommerce/state/wc-api/status/test/reducer.js
  client/extensions/woocommerce/state/wc-api/utils.js
Labels: Store, [Status] Needs Review

#22500 Sidebar: Increase general contrast
  assets/stylesheets/shared/_color-schemes.scss
  client/layout/sidebar/style.scss
Labels: [Status] Needs Design Review, [Status] Needs Review, [Type] Enhancement

#22495 Activity Log: track Get help button in failed backup events
  client/my-sites/stats/activity-log-item/index.jsx
Labels: Jetpack Activity Log, [Status] Needs Review, [Type] Bug

#22401 Enable overriding backend A/B variations in non-production environments
  client/lib/e2e/index.js
  client/lib/user/user.js
Labels: Analytics, [Status] Needs Review, [Type] Bug

#22503 Add Tracks Events to Google My Business Stats Nudge
  client/components/google-my-business/stats-nudge.js
  client/my-sites/stats/site.jsx
Labels: Google My Business, [Status] Ready to Merge

#22296 SupportUser: drop pug in favor of jsx
  client/document/support-user.jsx
  server/pages/index.js
  server/pages/support-user.pug
Labels: Framework, [Status] Needs Review

#22534 JP Remote Install: Add request tracking
  client/state/jetpack-remote-install/actions.js
Labels: Jetpack, [Status] Needs Review

#22456 Editor: Default the editor’s preview to desktop
  client/post-editor/editor-preview/index.jsx
  client/post-editor/post-editor.jsx
Labels: [Status] Needs Review, [Type] Bug

#22546 Rewind: fixes a missing dependency issue
  client/signup/config/steps.js
Labels: [Pri] BLOCKER, [Status] Needs Review, [Type] Bug

#22400 Jetpack remote install: Add reducers
  client/state/index.js
  client/state/jetpack-remote-install/reducer.js
  client/state/jetpack-remote-install/test/reducer.js
Labels: Jetpack, [Status] Ready to Merge, [Tests] Includes Tests

#22285 Replace cryptic notice with tracking events
  client/state/data-layer/wpcom/domains/validation-schemas/index.js
Labels: Domains, [Status] Needs Review, [Type] Task

#22361 Google Apps: Introduce safeguards when domain is not registered
  client/lib/domains/index.js
  client/my-sites/domains/domain-management/email/google-apps-users-card.jsx
Labels: Domains, Google Apps, [Status] Ready to Merge

#22521 Schema validation on deserialize: take a shortcut when equal to initial state
  client/state/utils.js
Labels: Performance, State, [Status] Needs Review

#22483 LogInForm: Add disableAutoFocus props, disable in devdocs
  client/blocks/login/docs/example.jsx
  client/blocks/login/index.jsx
  client/blocks/login/login-form.jsx
Labels: DevDocs, Login, [Status] Ready to Merge

#22439 GMB: Show GMB nudge after site is 2 weeks old in 2 weeks intervals
  client/blocks/dismissible-card/README.md
  client/blocks/dismissible-card/index.jsx
  client/components/google-my-business/stats-nudge.js
  client/state/selectors/is-gmb-nudge-visible.js
Labels: Google My Business, [Status] Ready to Merge

#22195 2FA: TwoStepAuthorization.fetch no longer sends a code via SMS.
  client/lib/two-step-authorization/index.js
  client/me/reauth-required/index.jsx
Labels: Security, [Pri] High, [Status] Ready to Merge, [Type] Bug

#22467 Components: Add a Focusable component for a button-like wrapper element
  assets/stylesheets/_components.scss
  client/components/focusable/README.md
  client/components/focusable/docs/example.jsx
  client/components/focusable/index.jsx
  client/components/focusable/style.scss
  client/devdocs/design/index.jsx
Labels: Accessibility, Components, [Status] Ready to Merge

#22587 Skip SSR when email_address is present
  server/render/index.js
Labels: Server Side Rendering, [Pri] BLOCKER, [Type] Bug

#22590 Config: Update the docs with info about testing flags via query parameters
  config/README.md
Labels: Documentation, [Type] Janitorial

#22561 add missing space to match other use of copy
  client/signup/steps/creds-complete/index.jsx
Labels: Jetpack Rewind, OSS Citizen, [Status] Ready to Merge, [Type] Bug

#22555 JP Remote Install: Add selectors
  client/state/selectors/get-jetpack-remote-install-error.js
  client/state/selectors/is-jetpack-remote-install-complete.js
  client/state/selectors/test/get-jetpack-remote-install-error.js
  client/state/selectors/test/is-jetpack-remote-install-complete.js
Labels: Jetpack, [Status] Needs Review, [Tests] Includes Tests

#22576 Preferences: Save post request unstringify payload
  client/state/preferences/actions.js
Labels: API, [Status] Needs Review

#22557 Activity Log: link plugin and theme names to their page in Calypso
  client/components/notes-formatted-block/index.jsx
  client/lib/notifications/note-block-parser.js
Labels: Jetpack Activity Log, Notifications, [Status] In Progress, [Status] Needs Review, [Type] Enhancement

#22430 NUX: Hide free plan after selected mapped domain
  client/signup/main.jsx
  client/signup/steps/domains/index.jsx
Labels: Domains, NUX, Plans, Signup, [Pri] High, [Status] Ready to Merge, [Type] Bug

#22574 SiteRenamer: Add unit test coverage for reducer
  client/state/site-rename/reducer.js
  client/state/site-rename/test/reducer.js
Labels: Domains, Testing, [Status] Ready to Merge
