Repository Automattic/wp-calypso, pull requests merged in 2018-08, with the labels that each got.

#26400 Add parentheses spacing stylelint rules
  .stylelintrc
Labels: Build, Design, Framework, [Status] Needs Design Review, [Status] Needs Review

#26405 Checkout: Remove trailing zero decimals.
  client/my-sites/checkout/cart/cart-item.jsx
Labels: Checkout, [Status] Needs Review

#26434 Fixed: CartItem test fails because of getCurrencyObject call
  client/my-sites/checkout/cart/test/cart-item.js
Labels: [Status] Needs Review, [Type] Bug

#26391 Notify user that they were automatically logged in if we land on a page with relevant query parameters
  client/state/action-types.js
  client/state/immediate-login/actions.js
  client/state/immediate-login/constants.js
  client/state/immediate-login/reducer.js
  client/state/immediate-login/selectors.js
  client/state/immediate-login/test/reducer.js
  client/state/immediate-login/test/selectors.js
  client/state/immediate-login/test/utils.js
  client/state/immediate-login/utils.js
  client/state/index.js
  client/state/lib/middleware.js
Labels: Login, Marketing, [Status] Needs Review

#26390 SDK: Add view-script to Gutenberg build tool
  bin/sdk-cli.js
  bin/sdk/gutenberg.js
Labels: [Project] SDK, [Status] Needs Review

#26339 Domains: Mapping and Transfer pages standardization, take two
  client/components/domains/map-domain-step/index.jsx
  client/components/domains/map-domain-step/style.scss
  client/components/domains/transfer-domain-step/index.jsx
  client/components/domains/transfer-domain-step/style.scss
Labels: Domains, Signup, [Status] Ready to Merge

#26396 SupportArticles: Improve sizing on smaller devices
  client/blocks/support-article-dialog/style.scss
Labels: Support, [Status] Needs Design Review, [Status] Needs Review

#26229 GuidedTours: Async load the tours
  client/layout/index.jsx
Labels: Guided Tours, [Status] Needs Review

#26393 SDK: Add CSS loading in webpack without committing to it
  client/gutenberg/extensions/editor-notes/index.js
  client/gutenberg/extensions/editor-notes/style.scss
  npm-shrinkwrap.json
  package.json
  webpack.config.js
Labels: Build, Framework, [Project] SDK, [Status] Needs Review

#26239 Defer the initial request on QuerySiteStats.
  client/components/data/query-site-stats/index.jsx
Labels: OSS Citizen, Performance, Stats, [Status] Needs Review, [Type] Enhancement

#26442 Extract the getToursHistory selector to separate module
  client/my-sites/plugins/plugin.jsx
  client/state/ui/guided-tours/selectors/get-tours-history.js
  client/state/ui/guided-tours/selectors/index.js
Labels: Build, Guided Tours, [Status] Needs Review

#26374 Disable the international labels feature if the plugin isn't at least a specified version
  client/extensions/woocommerce/app/order/order-fulfillment/index.js
  client/extensions/woocommerce/state/selectors/plugins.js
  client/extensions/woocommerce/state/selectors/test/plugins.js
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/selectors.js
Labels: Store, Store Services, [Status] Ready to Merge

#26207 Reader: replace componentWillMount
  client/reader/search-stream/suggestion.jsx
  client/reader/stream/post-unavailable.jsx
  client/reader/tag-stream/main.jsx
Labels: Reader, [Status] Needs Review, [Type] Janitorial

#26446 Editor: Simple Payments plugin now queries for Plans
  client/components/tinymce/plugins/wpcom-view/views/simple-payments/index.jsx
Labels: Editor, Simple Payments, [Pri] High, [Status] Needs Review, [Type] Bug

#25268 i18n: Invite users to contribute to WordPress.com translations
  assets/stylesheets/_components.scss
  client/components/translator-invite/README.md
  client/components/translator-invite/index.jsx
  client/components/translator-invite/style.scss
  client/components/translator-invite/test/index.js
  client/components/translator-invite/test/utils.js
  client/components/translator-invite/utils.js
  client/login/wp-login/index.jsx
Labels: Design, Login, [Status] Needs Design Review, [Status] Needs Review, i18n

#26379 Update page titles on Plans and Domains pages
  client/my-sites/domains/domain-management/email/index.jsx
  client/my-sites/domains/domain-management/list/index.jsx
  client/my-sites/plans/current-plan/index.jsx
Labels: Domains, Plans, [Status] Ready to Merge, [Type] Enhancement

#26432 Site Switcher: fix arrow direction in RTL mode (#2)
  client/my-sites/current-site/index.jsx
Labels: Sites, [Status] Needs Review, i18n

#26376 Disable the Ability to Share via Editor to a Facebook Profile
  client/blocks/post-share/index.jsx
  client/my-sites/sharing/connections/service.jsx
  client/post-editor/editor-sharing/accordion.jsx
  client/post-editor/editor-sharing/publicize-connection.jsx
  client/state/selectors/has-invalid-site-user-connection.js
Labels: Sharing, [Status] Needs Review

#26447 Sidebar: Enable Import item in all environments
  config/desktop.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: Import, Navigation, [Status] Ready to Merge

#26417 Update babel config for tests
  babel.config.js
Labels: Build, [Status] Needs Review

#26423 Store: Add "product weight" and "product value" fields to the Customs form
  client/extensions/woocommerce/woocommerce-services/components/price-field/index.js
  client/extensions/woocommerce/woocommerce-services/components/weight-field/index.js
  client/extensions/woocommerce/woocommerce-services/lib/initialize-labels-state/index.js
  client/extensions/woocommerce/woocommerce-services/state/action-types.js
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/actions.js
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/reducer.js
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/selectors.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/customs-step/item-row-header.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/customs-step/item-row.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/customs-step/package-row.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/customs-step/style.scss
Labels: Store, Store Services, [Status] Needs Design Review, [Status] Ready to Merge

#26426 Gutenberg: include @wordpress/api-fetch package
  client/gutenberg/editor/test/index.js
  npm-shrinkwrap.json
  package.json
Labels: [Goal] Gutenberg, [Tests] Includes Tests

#26427 Gutenberg: import @wodpress/block-serialization-spec-parser package
  client/gutenberg/editor/test/index.js
  package.json
Labels: [Goal] Gutenberg, [Tests] Includes Tests

#26424 Domains: Don't allow submitting transfer in support sessions
  client/components/domains/transfer-domain-step/transfer-domain-precheck.jsx
Labels: Domains

#26429 Analytics: Fix build failure if ad-tracking.js is loaded during startup
  client/lib/analytics/ad-tracking.js
Labels: Analytics, Build, [Status] Needs Review

#26448 Analytics: Fix fatal errors if analytics/index.js is loaded during non-jsdom tests
  client/lib/analytics/index.js
Labels: Analytics, [Status] Needs Review

#26077 Help: display localized forum search results
  client/lib/i18n-utils/test/utils.js
  client/lib/i18n-utils/utils.js
  client/me/help/help-search/index.jsx
  client/me/help/help-search/test/__snapshots__/index.js.snap
  client/me/help/help-search/test/index.js
Labels: Help, [Status] Ready to Merge, [Type] Enhancement, i18n

#25281 Update index.jsx
  client/my-sites/plugins/plugin-autoupdate-toggle/index.jsx
Labels: i18n

#26467 Guided Tours: remove memoization of the hasJustSeenTour selector
  client/state/ui/guided-tours/selectors/index.js
Labels: Guided Tours, [Status] Needs Review, [Type] Janitorial

#26342 Signup: launch G Suite upsell discount A/B test.
  client/components/upgrades/google-apps/google-apps-dialog/index.jsx
  client/components/upgrades/google-apps/google-apps-dialog/product-details.jsx
  client/components/upgrades/google-apps/google-apps-dialog/style.scss
  client/lib/abtest/active-tests.js
  client/lib/google-apps/index.js
  client/my-sites/checkout/gsuite-nudge/index.jsx
Labels: Marketing, Signup, [Status] Needs Review

#26470 Build: Have webpack.config.js return a function
  bin/sdk/gutenberg.js
  server/bundler/index.js
  webpack.config.js
Labels: Build, Framework, [Status] Needs Review

#26488 Add default initialQuery to MapDomainStep.
  client/components/domains/map-domain-step/index.jsx
Labels: Domains, [Status] Needs Review

#26480 Add a new displayAsLink property to the Card component to allow button cards to appear like links
  client/components/card/README.md
  client/components/card/docs/example.jsx
  client/components/card/index.jsx
  client/components/card/style.scss
  client/components/card/test/__snapshots__/index.js.snap
  client/components/card/test/index.js
Labels: Components, [Status] Needs Review

#26489 Guided Tours: remove the editorInsertMenu tour
  client/layout/guided-tours/tours/editor-insert-menu-tour.js
Labels: Guided Tours, [Status] Needs Review

#26428 Payments: Improve manage purchase UI so that users are encourage to renew, not just update their payment method
  client/blocks/credit-card-form/README.md
  client/blocks/credit-card-form/index.jsx
  client/lib/cart-values/test/cart-items.js
  client/lib/cart-values/test/index.js
  client/lib/cart/store/test/cart-synchronizer.js
  client/lib/purchases/index.js
  client/lib/purchases/test/assembler.js
  client/lib/purchases/test/index.js
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/payment/add-card-details/index.jsx
  client/me/purchases/payment/edit-card-details/index.jsx
  client/me/purchases/track-purchase-page-view/test/index.js
  client/my-sites/checkout/checkout-thank-you/test/index.js
  client/my-sites/domains/domain-management/edit/test/mapped-domain.js
  client/my-sites/domains/domain-management/transfer/transfer-to-other-site/test/index.jsx
  client/my-sites/plan-features/test/index.jsx
  client/my-sites/plugins/plugin-meta/test/index.js
  client/my-sites/themes/test/logged-out.jsx
  client/state/purchases/test/selectors.js
  client/state/selectors/test/is-business-plan-user.js
  client/state/sites/domains/test/actions.js
  client/state/sites/domains/test/reducer.js
  client/state/sites/domains/test/selectors.js
  client/state/test/index.js
  client/state/test/persistence.js
  client/state/themes/test/actions.js
  client/state/themes/test/selectors.js
Labels: Billing, [Status] Needs Review, [Status] Needs e2e Testing

#26366 Signup: Reduce redundancy in the heading and subhead copy on Domains
  client/signup/steps/domains/index.jsx
Labels: Signup, [Status] Needs Review, [Status] String Freeze

#26230 Build: Anchor eslintignore dirs to project root
  .eslintignore
Labels: Build, DevDocs, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#26314 DevDocs: New "Gutenberg components" section
  assets/stylesheets/sections/devdocs.scss
  client/components/readme-viewer/index.jsx
  client/components/readme-viewer/test/index.js
  client/devdocs/controller.js
  client/devdocs/design/component-playground.jsx
  client/devdocs/design/gutenberg-components.jsx
  client/devdocs/design/search-collection.jsx
  client/devdocs/design/test/component-playground.js
  client/devdocs/design/test/gutenberg-components.js
  client/devdocs/gutenberg-components/README.md
  client/devdocs/index.js
  client/devdocs/sidebar.jsx
  client/devdocs/style.scss
  client/gutenberg-components/README.md
  client/gutenberg-components/button/docs/example.jsx
  client/gutenberg-components/examples.js
  docs/components.md
  npm-shrinkwrap.json
  package.json
Labels: DevDocs, [Goal] Gutenberg, [Status] Needs Review

#26493 Update the Account Closure page to include more detail on linked accounts
  client/me/account-close/main.jsx
Labels: [Status] Needs Review

#26444 SDK: Namespace CSS
  bin/sdk/gutenberg.js
  npm-shrinkwrap.json
  package.json
  webpack.config.js
Labels: Build, [Project] SDK, [Status] Needs Review

#26358 Plans: Fix wrapping issue on wordpress pricing header
  client/my-sites/plan-features/style.scss
Labels: OSS Citizen, Plans, [Status] Needs Review

#26490 Guided Tours: in simplePaymentsEmailTour, reposition the bubble smoothly on sidebar scroll
  client/layout/guided-tours/tours/simple-payments-email-tour.js
Labels: Guided Tours, [Status] Ready to Merge, [Type] Bug

#26486 Guided Tours: improve API of the <Step wait=... /> function
  client/layout/guided-tours/config-elements/step.js
  client/layout/guided-tours/tours/checklist-publish-post-tour.js
Labels: API, Guided Tours, [Status] Ready to Merge

#26483 [nudge-a-palooza] Redirect users to feature upsell pages based on plan features and not eligibility warnings
  client/my-sites/feature-upsell/main.jsx
  client/my-sites/feature-upsell/test/upsell-redirect.jsx
  client/my-sites/feature-upsell/upsell-redirect.jsx
  client/my-sites/plugins/plugin-upload/index.jsx
  client/my-sites/themes/theme-upload/index.jsx
Labels: Marketing, [Status] Ready to Merge, [Tests] Includes Tests, [Type] Bug

#26370 Remove the (deprecated) jsx-a11y/label-has-for rule
  .eslintrc.js
  client/components/bulk-select/index.jsx
  client/post-editor/edit-post-status/index.jsx
Labels: Accessibility, [Status] Needs Review

#26461 Domains: Redirect to `use-your-domain` for VIP sites
  client/my-sites/domains/controller.jsx
  client/my-sites/domains/index.js
Labels: Domains, [Status] Ready to Merge

#26462 Show error notice when auth code check fails and disable button while submitting.
  client/components/domains/transfer-domain-step/index.jsx
  client/components/domains/transfer-domain-step/transfer-domain-precheck.jsx
  client/lib/domains/index.js
Labels: Domains, [Status] Ready to Merge

#26474 Record click events for unlock and auth code checks.
  client/components/domains/transfer-domain-step/index.jsx
  client/components/domains/transfer-domain-step/transfer-domain-precheck.jsx
Labels: Domains, [Status] Needs Review, [Status] Needs e2e Testing

#26499 Use memoization to avoid re-renders in ReaderCombinedCardComponent.
  client/blocks/reader-combined-card/index.jsx
Labels: OSS Citizen, Performance, Reader, [Status] Needs Review, [Type] Enhancement

#26357 Typography: Remove a hack for IE7 from long long ago
  assets/stylesheets/shared/_reset.scss
  assets/stylesheets/shared/_typography.scss
  assets/stylesheets/shared/mixins/_heading.scss
  client/components/readme-viewer/style.scss
  client/extensions/woocommerce/app/dashboard/widgets/stats-widget/style.scss
  client/my-sites/site-settings/jetpack-credentials/credentials-configured/style.scss
  client/my-sites/site-settings/jetpack-credentials/credentials-setup-flow/style.scss
  client/my-sites/stats/activity-log-item/style.scss
  client/signup/steps/creds-complete/style.scss
  client/signup/steps/creds-confirm/style.scss
  client/signup/steps/creds-permission/style.scss
  client/signup/steps/rewind-add-creds/style.scss
  client/signup/steps/rewind-form-creds/style.scss
  client/signup/steps/rewind-migrate/style.scss
  client/signup/steps/rewind-were-backing/style.scss
Labels: [Status] Needs Review

#26519 Fix a logic error introduced in #26499.
  client/blocks/reader-combined-card/index.jsx
Labels: OSS Citizen, Reader

#26403 Update 'Sign out' to 'Log out'
  client/me/reauth-required/index.jsx
  client/me/sidebar/index.jsx
Labels: Login, Me, [Status] Ready to Merge, [Status] String Freeze, [Type] Enhancement, [Type] Janitorial

#26344 Add `work-with-us` link to Calypso ASCII art
  server/render/index.js
Labels: Build, [Status] Ready to Merge, [Type] Enhancement

#26507 [nudge-a-palooza] Move redirection logic from controller to higher-order components
  client/my-sites/checkout/cart/cart-plan-ad-theme.jsx
  client/my-sites/feature-upsell/ads-upsell.jsx
  client/my-sites/feature-upsell/controller.js
  client/my-sites/feature-upsell/main.jsx
  client/my-sites/feature-upsell/plugins-upsell.jsx
  client/my-sites/feature-upsell/redirect-if.jsx
  client/my-sites/feature-upsell/store-upsell.jsx
  client/my-sites/feature-upsell/test/upsell-redirect.jsx
  client/my-sites/feature-upsell/themes-upsell.jsx
  client/my-sites/feature-upsell/utils.js
  client/my-sites/plugins/plugin-upload/index.jsx
  client/my-sites/sidebar/sidebar.jsx
  client/my-sites/theme/main.jsx
  client/my-sites/themes/single-site-wpcom.jsx
  client/my-sites/themes/theme-upload/index.jsx
Labels: Marketing, [Status] Needs e2e Testing, [Status] Ready to Merge, [Type] Bug

#26485 [nudge-a-palooza] Re-launch test
  client/lib/abtest/active-tests.js
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: Marketing, [Status] Ready to Merge

#26509 SDK: Add watch option
  bin/sdk-cli.js
  bin/sdk/gutenberg.js
Labels: [Project] SDK, [Status] Needs Review

#26510 SDK: Add args for output file names
  bin/sdk-cli.js
  bin/sdk/gutenberg.js
Labels: [Project] SDK, [Status] Needs Review

#26472 Revert "Domains: Missed a case when the start date isn't set"
  client/my-sites/domains/components/domain-warnings/index.jsx
  client/my-sites/domains/domain-management/edit/transfer.jsx
Labels: Domains, [Status] Ready to Merge

#25412 Upgrades: Clean up lib/upgrades/constants
  client/lib/cart/store/cart-synchronizer.js
  client/lib/cart/store/index.js
  client/lib/domains/dns/reducer.js
  client/lib/domains/dns/test/reducer.js
  client/lib/domains/email-forwarding/reducer.js
  client/lib/domains/email-forwarding/test/reducer.js
  client/lib/domains/email-forwarding/test/store.js
  client/lib/domains/nameservers/reducer.js
  client/lib/domains/nameservers/test/store.js
  client/lib/domains/site-redirect/reducer.js
  client/lib/domains/wapi-domain-info/reducer.js
  client/lib/domains/whois/reducer.js
  client/lib/domains/whois/test/store.js
  client/lib/transaction/store.js
  client/lib/upgrades/action-types.js
  client/lib/upgrades/actions/cart.js
  client/lib/upgrades/actions/checkout.js
  client/lib/upgrades/actions/domain-management.js
  client/lib/upgrades/constants.js
  client/my-sites/checkout/cart/secondary-cart.jsx
  client/my-sites/domains/navigation.jsx
Labels: Checkout, Domains, [Status] Ready to Merge, [Type] Janitorial

#26528 Lint: Never ignore undef errors.
  .eslines.json
Labels: Build, Framework, [Status] Ready to Merge

#26525 Domains: Update the Thank You page for transfer ins to set proper expectations
  client/my-sites/checkout/checkout-thank-you/header.jsx
Labels: Domains, [Status] Ready to Merge

#26516 Signup: Eslint fixes (componentWillMount, a11y)
  client/signup/processing-screen/index.jsx
Labels: Signup, [Status] Needs e2e Testing, [Status] Ready to Merge, [Type] Janitorial

#26422 Checkout: use a minimal masterbar
  client/layout/index.jsx
  client/layout/masterbar/logged-in.jsx
Labels: Checkout, [Status] Needs e2e Testing, [Status] Ready to Merge, [Type] Enhancement

#26521 Add the August email promo to active-discounts
  client/lib/discounts/active-discounts.js
  client/my-sites/plan-features/test/index.jsx
Labels: Plans, [Status] Needs Review, [Status] String Freeze

#26518 Jetpack Plans: Remove Concierge from features listing
  client/lib/plans/constants.js
Labels: Jetpack, Plans, [Status] Ready to Merge

#26522 Chart: Avoid manually setting styles using DOM ref
  client/components/chart/style.scss
  client/components/chart/x-axis.jsx
Labels: Components, [Status] Needs Design Review, [Status] Ready to Merge

#26469 Simple Payments: Editor Plugin refactor
  client/components/tinymce/plugins/wpcom-view/views/simple-payments/index.jsx
Labels: Editor, Simple Payments, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#26511 Sharing: Hide account profile image if loading fails
  client/my-sites/sharing/connections/account-dialog-account.jsx
Labels: OSS Citizen, Sharing, [Status] Ready to Merge, [Type] Enhancement

#26451 Only show google my business banner when feature is enabled
  client/my-sites/stats/site.jsx
Labels: [Project] Google My Business, [Status] Ready to Merge

#26527 SDK: Set output CSS file name properly
  bin/sdk-cli.js
  bin/sdk/gutenberg.js
Labels: [Project] SDK, [Status] Needs Review

#26532 Signup: Remove no-longer used flows
  client/signup/config/flows-pure.js
  client/signup/config/step-components.js
  client/signup/test/flows.js
Labels: FixTheFlows, Signup, [Status] Needs e2e Testing, [Status] Ready to Merge

#26318 Comments: add option to poll for new comments in the background
  client/blocks/comments/index.jsx
  client/blocks/reader-full-post/index.jsx
  client/state/action-types.js
  client/state/comments/actions.js
  client/state/comments/reducer.js
  client/state/comments/selectors.js
  client/state/comments/test/__snapshots__/selectors.js.snap
  client/state/comments/test/actions.js
  client/state/comments/test/reducer.js
  client/state/comments/test/selectors.js
  client/state/comments/utils.js
  client/state/data-layer/wpcom/comments/index.js
  client/state/data-layer/wpcom/comments/test/index.js
  config/development.json
Labels: Reader, [Status] Needs Review

#26538 Activity Log: improve upgrade banners
  client/my-sites/stats/activity-log-banner/style.scss
  client/my-sites/stats/activity-log-banner/upgrade-banner.jsx
  client/my-sites/stats/activity-log-example/index.jsx
  client/my-sites/stats/activity-log/index.jsx
  client/my-sites/stats/activity-log/rewind-unavailability-notice.jsx
Labels: Activity Log, [Status] Needs Copy Review, [Status] Needs Review

#26547 Guided tours: add an one-step guided tour for the activity log
  client/blocks/stats-navigation/index.js
  client/layout/guided-tours/config.js
  client/layout/guided-tours/tours/activity-log-jetpack-intro-tour.js
  client/layout/guided-tours/tours/activity-log-wpcom-intro-tour.js
  client/state/ui/guided-tours/contexts.js
Labels: Activity Log, Guided Tours, [Status] Needs Copy Review, [Status] Needs Review

#26556 Remove Spaces From SMS/Auth Code Validation Field Examples
  client/account-recovery/reset-password-sms-form/index.jsx
  client/me/constants.js
Labels: Login, [Status] Needs Review, [Type] Enhancement

#26501 Try/jetpack onboarding custom data type
  client/components/wizard/progress-indicator.jsx
  client/jetpack-onboarding/steps/business-address.jsx
  client/jetpack-onboarding/steps/contact-form.jsx
  client/jetpack-onboarding/steps/homepage.jsx
  client/jetpack-onboarding/steps/site-title.jsx
  client/jetpack-onboarding/steps/site-type.jsx
  client/jetpack-onboarding/steps/stats.jsx
  client/jetpack-onboarding/steps/summary.jsx
  client/jetpack-onboarding/steps/woocommerce.jsx
Labels: Jetpack, [Status] Needs Review

#26243 Defer expensive layout calcs for InfiniteScroll and StickyPanel.
  client/components/infinite-scroll/README.md
  client/components/infinite-scroll/index.js
  client/components/sticky-panel/index.jsx
  client/components/themes-list/index.jsx
  client/components/themes-list/test/__snapshots__/index.jsx.snap
  client/lib/after-layout-flush/index.js
  client/my-sites/pages/page-list.jsx
  client/my-sites/plugins/plugins-browser/index.jsx
Labels: OSS Citizen, Performance, [Status] Needs Review

#26431 Add Endpoint Selector for Site Importer
  client/my-sites/importer/site-importer/site-importer-input-pane.jsx
  client/my-sites/importer/style.scss
Labels: Site Importer, [Status] Ready to Merge, [Type] Enhancement

#26562 SDK: remove extra markdown block file
  client/gutenberg/extensions/markdown/jetpack-markdown-block.js
Labels: [Project] SDK

#26561 SDK: add Jetpack blocks preset
  client/gutenberg/extensions/presets/jetpack/editor.js
Labels: [Project] SDK

#26533 SDK: Update Publicize extension to be rendered as a plugin extension
  client/gutenberg/extensions/publicize/publicize-gutenberg-plugin.jsx
Labels: [Project] SDK, [Status] Needs Review

#26557 Activity Log: Convert buttons to link
  client/my-sites/stats/activity-log-tasklist/index.jsx
  client/my-sites/stats/activity-log-tasklist/update.jsx
Labels: Activity Log, [Status] Ready to Merge, [Type] Enhancement

#26513 Gutenberg: Add a8c-blocks
  client/gutenberg/extensions/presets/o2/editor.js
  client/gutenberg/extensions/presets/o2/view.js
  client/gutenberg/extensions/presets/p2/editor.js
  client/gutenberg/extensions/prev-next/block.js
  client/gutenberg/extensions/prev-next/style.scss
  client/gutenberg/extensions/todo/block.js
  client/gutenberg/extensions/todo/editor.scss
  client/gutenberg/extensions/todo/item.js
  client/gutenberg/extensions/trial/block.js
  client/gutenberg/extensions/trial/editor.scss
  client/gutenberg/extensions/trial/style.scss
  client/gutenberg/extensions/trial/view.js
  client/gutenberg/extensions/trials/block.js
Labels: [Goal] Gutenberg, [Status] Needs Review

#26333 My Sites: redirects to plugin page
  client/my-sites/controller.js
Labels: [Status] Needs Review

#24039 Upgrade Nudge: removes nudge for non admin users
  client/my-sites/upgrade-nudge/index.jsx
Labels: FixTheFlows, Plans, [Status] Ready to Merge, [Type] Bug

#26582 Revert "Upgrade Nudge: removes nudge for non admin users"
  client/my-sites/upgrade-nudge/index.jsx
Labels: [Status] Needs Review

#26593 Update: Stats list - refactor tests to use Jest
  client/state/stats/lists/test/utils.js
Labels: [Project] SDK, [Status] Needs Review, [Type] Janitorial

#26567 Gutenberg: Update Hello Dolly block to use @wordpress packages
  client/gutenberg/extensions/hello-dolly/hello-block.js
Labels: [Project] SDK, [Status] Needs Review

#26568 Gutenberg: Update Markdown block to use @wordpress packages
  client/gutenberg/extensions/markdown/components/markdown-renderer.jsx
  client/gutenberg/extensions/markdown/jetpack-markdown-block-editor.jsx
  client/gutenberg/extensions/markdown/jetpack-markdown-block-save.jsx
  client/gutenberg/extensions/markdown/jetpack-markdown-block.jsx
  client/gutenberg/extensions/markdown/utils/markdown-converter.js
Labels: [Project] SDK, [Status] Needs Review

#26565 Gutenberg: Update editor notes block to use @wordpress packages
  client/gutenberg/extensions/editor-notes/index.js
Labels: [Project] SDK, [Status] Needs Review

#26496 Imports: Rename tracks events for clarity
  client/my-sites/importer/importer-header.jsx
  client/my-sites/importer/site-importer/site-importer-input-pane.jsx
  client/my-sites/importer/site-importer/site-importer-site-preview.jsx
Labels: Analytics, Import, [Status] Needs Review

#26605 Gutenberg: Update Prev/Next block to use @wordpress packages
  client/gutenberg/extensions/prev-next/block.js
Labels: [Project] SDK, [Status] Ready to Merge

#26606 Gutenberg: Update Todo block to use @wordpress packages
  client/gutenberg/extensions/todo/block.js
  client/gutenberg/extensions/todo/item.js
Labels: [Project] SDK, [Status] Ready to Merge

#26607 Gutenberg: Update Trial block to use @wordpress packages
  client/gutenberg/extensions/trial/block.js
Labels: [Project] SDK, [Status] Ready to Merge

#26608 Gutenberg: Update Trials block to use @wordpress packages
  client/gutenberg/extensions/trials/block.js
Labels: [Project] SDK, [Status] Ready to Merge

#26617 Revert "Remove custom memoization in `ReaderCombinedCardComponent`."
  client/blocks/reader-combined-card/index.jsx
Labels: Reader, [Status] Ready to Merge, [Type] Defect

#26551 SDK: refactor the style file for the tiled gallery block
  client/gutenberg/extensions/tiled-gallery/components/tiled-gallery-item.js
  client/gutenberg/extensions/tiled-gallery/components/tiled-gallery-layout-square.js
  client/gutenberg/extensions/tiled-gallery/tiled-gallery.css
  client/gutenberg/extensions/tiled-gallery/tiled-gallery.jsx
  client/gutenberg/extensions/tiled-gallery/tiled-gallery.scss
Labels: [Project] SDK

#26620 SDK: remove Publicize from Jetpack bundle
  client/gutenberg/extensions/presets/jetpack/editor.js
Labels: [Project] SDK

#26600 Shows "New Order" notifications settings for all WooCommerce sites.
  client/me/notification-settings/blogs-settings/blog.jsx
  client/state/sites/constants.js
Labels: Notifications, [Status] Needs Review

#26590 Atomic: Update incompatible plugin list
  client/my-sites/plugins/plugin-meta/index.jsx
Labels: Atomic, [Status] Needs Review, [Type] Enhancement

#26503 Add new immediate login parameters, and use them to modify the login form and magic links confirmation form
  client/blocks/login/login-form.jsx
  client/controller/index.web.js
  client/login/magic-login/handle-emailed-link-form.jsx
  client/state/action-types.js
  client/state/immediate-login/actions.js
  client/state/immediate-login/constants.js
  client/state/immediate-login/reducer.js
  client/state/immediate-login/selectors.js
  client/state/immediate-login/test/reducer.js
  client/state/immediate-login/test/selectors.js
  client/state/immediate-login/test/utils.js
  client/state/immediate-login/utils.js
  client/state/lib/middleware.js
Labels: Login, Marketing, [Status] Needs e2e Testing, [Status] Ready to Merge

#26632 Upgrade remaining wordpress packages
  npm-shrinkwrap.json
  package.json
Labels: Framework, [Goal] Gutenberg, [Status] Needs Review, [Status] Needs e2e Testing

#26634 Fix typo in the Thank You page when transferring in a domain
  client/my-sites/checkout/checkout-thank-you/header.jsx
Labels: Checkout, Domains, [Status] Needs Review

#26571 NUX: Show .blog subdomain based on the about step
  client/lib/abtest/active-tests.js
  client/signup/steps/domains/index.jsx
Labels: Domains, NUX, [Status] Needs e2e Testing, [Status] Ready to Merge

#26644 Activity Log: only fade 15% instead of 40% on free sites
  client/my-sites/stats/activity-log-banner/style.scss
Labels: Activity Log, [Status] In Progress, [Status] Ready to Merge, [Type] Enhancement

#26640 Remember last arguments in afterLayoutFlush.
  client/lib/after-layout-flush/index.js
  client/lib/after-layout-flush/test/index.js
Labels: OSS Citizen, [Status] Needs Review

#26646 Redux Bridge: add 'getReduxStore' fn to return a Promise with initialized store
  client/lib/redux-bridge/index.js
Labels: Framework, [Status] Needs Review

#26615 Gutenberg: enable new section in wpcalypso environment
  config/horizon.json
  config/wpcalypso.json
Labels: [Goal] Gutenberg, [Status] Needs Review

#26583 Upgrade Nudge: removes nudge for non admin users
  client/my-sites/upgrade-nudge/index.jsx
Labels: [Status] Needs e2e Testing, [Status] Ready to Merge, [Type] Bug

#26566 Checklists: Don't redirect disabled Jetpack checklists
  client/my-sites/checklist/main.jsx
Labels: Checklist, Jetpack, [Status] Ready to Merge, [Type] Defect, [Type] Feature progress

#26663 Gutenberg: replace copied core-blocks with npm package
  assets/stylesheets/sections/gutenberg-editor.scss
  client/gutenberg/editor/core-blocks/heading/edit.js
  client/gutenberg/editor/core-blocks/heading/editor.scss
  client/gutenberg/editor/core-blocks/heading/index.js
  client/gutenberg/editor/core-blocks/paragraph/edit.js
  client/gutenberg/editor/core-blocks/paragraph/index.js
  client/gutenberg/editor/core-blocks/paragraph/style.scss
  client/gutenberg/editor/main.jsx
  client/gutenberg/editor/utils.js
  npm-shrinkwrap.json
  package.json
Labels: [Goal] Gutenberg

#26491 Add notification unseen count to redux store
  client/notifications/index.jsx
  client/state/action-types.js
  client/state/index.js
  client/state/notifications/index.js
  client/state/selectors/get-notification-unseen-count.js
  client/state/selectors/has-unseen-notifications.js
  client/state/selectors/test/has-unseen-notifications.js
Labels: [Status] Needs Review

#26581 Checklist: Include tasks prop in ChecklistMain
  client/my-sites/checklist/main.jsx
Labels: Checklist, [Status] Ready to Merge, [Type] Bug, [Type] Defect

#26630 Checkout: Use named exports from controller
  client/my-sites/checkout/controller.jsx
  client/my-sites/checkout/index.js
Labels: Checkout, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Feature progress, [Type] Janitorial

#26685 Update BRL currency formatting
  client/lib/format-currency/currencies.js
  client/lib/format-currency/test/index.js
Labels: Checkout, [Status] Needs Review

#26353 Use CamelCase for fillRule prop in svg
  client/my-sites/importer/site-importer/logo.jsx
Labels: Site Importer, [Status] Ready to Merge, [Type] Janitorial

#26559 Activity Log: Add Activity Media Block
  client/my-sites/stats/activity-log-item/activity-media.jsx
  client/my-sites/stats/activity-log-item/index.jsx
  client/my-sites/stats/activity-log-item/style.scss
  client/state/data-layer/wpcom/sites/activity/from-api.js
Labels: Activity Log, [Status] Needs Design Review, [Status] Needs Review

#26679 Activity Log: Add WordPress Application Actor
  assets/stylesheets/shared/_colors.scss
  client/my-sites/stats/activity-log-item/activity-actor.jsx
  client/my-sites/stats/activity-log-item/style.scss
Labels: [Status] Needs Design Review, [Status] Needs Review

#26699 Activity Log: Add compact pagination
  client/my-sites/stats/activity-log/index.jsx
Labels: Activity Log, [Status] Needs Design Review, [Status] Needs Review, [Type] Bug

#26681 Set locale properly for the sign-up flow.
  client/lib/wp/localization/index.js
Labels: [Type] Bug, i18n

#26406 DevDocs: Remove UserItem component from playground scope
  client/devdocs/design/playground-scope.js
Labels: DevDocs, [Status] Needs Review

#26548 Signup: Update README
  client/signup/README.md
Labels: Documentation, Signup, [Status] Needs Review

#26662 SDK: refactor block CSS name-spacing
  bin/sdk/gutenberg.js
  client/gutenberg/extensions/markdown/jetpack-markdown-block-editor.jsx
  client/gutenberg/extensions/markdown/jetpack-markdown-block-save.jsx
  client/gutenberg/extensions/markdown/jetpack-markdown-block.jsx
  client/gutenberg/extensions/markdown/markdown-editor.scss
  client/gutenberg/extensions/publicize/publicize-gutenberg-plugin.jsx
  client/gutenberg/extensions/publicize/publicize-gutenberg-store.jsx
  client/gutenberg/extensions/publicize/publicize-panel.jsx
  client/gutenberg/extensions/tiled-gallery/components/tiled-gallery-layout-square.js
  client/gutenberg/extensions/tiled-gallery/edit.js
  client/gutenberg/extensions/tiled-gallery/tiled-gallery.jsx
  client/gutenberg/extensions/tiled-gallery/tiled-gallery.scss
  npm-shrinkwrap.json
  package.json
  webpack.config.js
Labels: [Project] SDK, [Status] Needs Review

#26657 Media Library: Only attempt to clear MediaListStore if defined for a given site
  client/lib/media/list-store.js
Labels: Editor, Media, [Status] Ready to Merge, [Type] Bug

#26680 SDK: Shuffle around configuration in SDK runner
  bin/sdk-cli.js
  bin/sdk/gutenberg.js
  webpack.config.js
Labels: Build, Framework, [Project] SDK, [Status] Needs Review

#26466 Guided Tours Step: store only stepPos in state and make stepCoords computed
  client/layout/guided-tours/config-elements/step.js
Labels: Guided Tours, [Status] Needs Review, [Type] Janitorial

#26604 Imports: Fix imports upload in Calypso dev instances and Chrome
  client/my-sites/importer/uploading-pane.jsx
Labels: Import, [Status] Needs Review, [Type] Bug

#26688 My plan: Remove redundant Fragment wrapper
  client/my-sites/plans/current-plan/index.jsx
Labels: Plans, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#26691 My plan: Get path from state, avoid passing context object
  client/my-sites/plans/current-plan/controller.jsx
  client/my-sites/plans/current-plan/index.jsx
Labels: Plans, State, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#26711 Posts: Remove post view counts from Blog Posts list
  client/my-sites/post-type-list/post-action-counts/index.jsx
Labels: Performance, Posts, Stats, [Status] Needs Review

#26588 Give the active discount nudge a unique event property value
  client/my-sites/current-site/notice.jsx
Labels: [Status] Needs Review

#26712 Domains: Protect selectedSite property access
  client/components/data/domain-management/index.jsx
Labels: Domains, [Status] Needs e2e Testing, [Status] Ready to Merge, [Type] Bug

#26710 Activity Log: Tasklist restict the task list to 3 items on page load
  client/my-sites/stats/activity-log-tasklist/index.jsx
  client/my-sites/stats/activity-log-tasklist/style.scss
  client/my-sites/stats/activity-log-tasklist/update.jsx
Labels: Activity Log, [Status] Needs Design Review, [Status] Needs Review

#26705 Styling: Add explicit path information for all non-`style` imports
  assets/stylesheets/_components.scss
  assets/stylesheets/sections/devdocs.scss
  client/blocks/reader-full-post/style.scss
  client/blocks/support-article-dialog/style.scss
  client/blocks/term-tree-selector/style.scss
  client/components/forms/sortable-list/style.scss
  client/extensions/woocommerce/style.scss
  client/my-sites/media-library/style.scss
  client/my-sites/stats/stats-module/style.scss
  client/post-editor/editor-sharing/style.scss
  client/post-editor/media-modal/style.scss
Labels: Framework, [Project] SDK, [Status] Needs Review

#26531 Use terser es6+ compatible for JS minification
  npm-shrinkwrap.json
  package.json
  webpack.config.js
Labels: Build, Framework, [Status] Ready to Merge, [Type] Enhancement

#26720 Importers: Make and use ImporterLogo component
  client/my-sites/importer/importer-header.jsx
  client/my-sites/importer/importer-logo.jsx
Labels: Import, Site Importer, [Status] Needs Review

#26697 Desktop Notifications: subscribe to redux store
  client/lib/desktop/index.js
Labels: Desktop App, [Status] Needs Review

#26722 SDK: Allow generation of source maps in all environments
  webpack.config.js
Labels: [Project] SDK, [Status] Ready to Merge

#26725 SDK: Fix externalization of the wp global variable
  webpack.config.js
Labels: [Project] SDK, [Status] Ready to Merge

#26726 Gutenberg: Fix plugin name of Publicize
  client/gutenberg/extensions/publicize/publicize-gutenberg-plugin.jsx
Labels: [Project] SDK, [Status] Needs Review

#26729 Stats: Increase polling interval for stats endpoint requests
  client/components/data/query-site-stats/index.jsx
Labels: Stats, [Status] Ready to Merge

#26740 Domains: Disable query traffic to dot
  client/lib/abtest/active-tests.js
Labels: Domains, [Pri] BLOCKER, [Status] Needs Review

#26735 Checklist: Fix completed task tour regression
  client/my-sites/checklist/checklist-show/index.jsx
Labels: Checklist, Guided Tours, [Status] Needs Review, [Type] Bug

#26753 Update CircleCI Node to 10.9.0
  .circleci/config.yml
Labels: Build, [Status] Ready to Merge

#26724 SDK: Add autoprefixer to default webpack config
  npm-shrinkwrap.json
  package.json
  webpack.config.js
Labels: [Project] SDK, [Status] Ready to Merge

#26734 Checklist: Separate Jetpack checklist
  client/my-sites/checklist/checklist-show/index.jsx
  client/my-sites/checklist/jetpack-checklist.js
  client/my-sites/checklist/main.jsx
  client/my-sites/plans/current-plan/index.jsx
  client/my-sites/plans/current-plan/jetpack-checklist/index.js
Labels: Checklist, Jetpack, [Status] Ready to Merge, [Type] Feature progress

#26717 Activity Log: Updates have more space
  client/my-sites/stats/activity-log-tasklist/style.scss
  client/my-sites/stats/activity-log-tasklist/update.jsx
Labels: Activity Log, [Status] Ready to Merge

#26748 Activity Log: Do not show update notice to VIP sites
  client/my-sites/stats/activity-log/index.jsx
Labels: Activity Log, [Status] Ready to Merge, [Type] Bug

#26750 Activity Log: Add a check for if we should show the activity log to non admins
  client/blocks/stats-navigation/index.js
Labels: Activity Log, [Status] Ready to Merge, [Type] Bug

#26575 Podcasting: add upgrade nudge to podcast settings page
  client/lib/plans/constants.js
  client/lib/plans/index.js
  client/lib/plans/test/plan-lookups.js
  client/my-sites/checkout/checkout-thank-you/jetpack-thank-you-card.jsx
  client/my-sites/plan-features/index.jsx
  client/my-sites/site-settings/podcasting-details/index.jsx
  client/my-sites/upgrade-nudge/index.jsx
  client/my-sites/upgrade-nudge/test/index.js
  client/state/sites/plans/selectors.js
  client/state/sites/plans/test/selectors.js
Labels: Plans, Podcasting, [Status] Needs Review
