Repository Automattic/wp-calypso, pull requests merged in 2018-05, with the labels that each got.

#24517 Checkout: add masking to redirect ebanx fields
  client/components/credit-card-form-fields/index.jsx
  client/lib/checkout/README.md
  client/lib/checkout/index.js
  client/lib/checkout/masking.js
  client/lib/checkout/test/masking.js
  client/lib/credit-card-details/README.md
  client/lib/credit-card-details/index.js
  client/lib/credit-card-details/test/index.js
  client/my-sites/checkout/checkout/redirect-payment-box.jsx
Labels: Checkout, Payment Methods, [Status] Needs Review

#24309 Memberships V1
  client/components/data/query-memberships-connected-accounts/index.js
  client/components/tinymce/plugins/simple-payments/dialog/form.jsx
  client/components/tinymce/plugins/simple-payments/dialog/index.jsx
  client/components/tinymce/plugins/simple-payments/shortcode-utils.js
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/index.js
  client/state/data-layer/wpcom/sites/memberships/index.js
  client/state/data-layer/wpcom/sites/simple-payments/index.js
  client/state/index.js
  client/state/memberships/actions.js
  client/state/memberships/connected-accounts/actions.js
  client/state/memberships/connected-accounts/reducer.js
  client/state/memberships/reducer.js
  client/state/selectors/get-edited-simple-payments-stripe-account.js
  client/state/selectors/get-memberships-connected-accounts.js
  client/state/selectors/is-edited-simple-payments-recurring.js
  client/state/simple-payments/product-list/reducer.js
  client/state/simple-payments/product-list/schema.js
  config/development.json
  config/horizon.json
  config/production.json
  config/wpcalypso.json
Labels: Simple Payments

#24582 Revert "Reduxification: replace productsList with Redux counterpart (#23104)"
  client/components/data/domain-management/email/index.jsx
  client/components/data/domain-management/index.jsx
  client/components/data/query-products-list/index.jsx
  client/components/upgrades/google-apps/README.md
  client/components/upgrades/google-apps/google-apps-dialog/index.jsx
  client/components/upgrades/google-apps/index.jsx
  client/lib/cart/store/index.js
  client/lib/products-list/README.md
  client/lib/products-list/index.js
  client/lib/signup/cart.js
  client/lib/signup/step-actions.js
  client/lib/upgrades/actions/free-trials.js
  client/lib/upgrades/actions/index.js
  client/my-sites/domains/controller.jsx
  client/my-sites/domains/domain-management/controller.jsx
  client/signup/steps/domains/index.jsx
  client/state/products-list/reducer.js
  client/state/products-list/schema.js
  client/state/products-list/selectors.js
  client/state/products-list/test/reducer.js
Labels: [Status] Needs Review

#24431 Plans: Move 'Start with Free' button to Signup
  client/my-sites/plans-features-main/index.jsx
  client/signup/steps/plans/index.jsx
Labels: NUX, Plans, Signup, [Pri] High, [Status] Needs Review, [Status] Ready to Merge

#24360 Media: Fix to enable video thumbnail selection for private sites
  client/post-editor/media-modal/detail/detail-item.jsx
  client/post-editor/media-modal/detail/test/index.jsx
  config/test.json
Labels: Media, [Status] Ready to Merge

#24501 Plans: Use Selectors instead of lib/plans Helpers
  client/lib/plans/index.js
  client/lib/plans/test/can-upgrade-to-plan.js
  client/my-sites/checkout/checkout/checkout.jsx
  client/my-sites/plan-features/index.jsx
Labels: Checkout, Plans, [Status] Needs Review

#24587 Sidebar: Switching the customize and theme links around in the sidebar.
  client/my-sites/sidebar/sidebar.jsx
Labels: Navigation, [Status] Ready to Merge

#24569 Store: Fix ESLint errors in `woocommerce/app`
  client/extensions/woocommerce/app/dashboard/widgets/stats-widget/index.js
  client/extensions/woocommerce/app/dashboard/widgets/stats-widget/list.js
  client/extensions/woocommerce/app/order/order-details/table.js
  client/extensions/woocommerce/app/order/order-payment/table.js
  client/extensions/woocommerce/app/product-categories/form.js
  client/extensions/woocommerce/app/products/product-form-images.js
  client/extensions/woocommerce/app/products/product-form-variations-row.js
  client/extensions/woocommerce/app/reviews/review-card.js
  client/extensions/woocommerce/app/reviews/review-replies.js
  client/extensions/woocommerce/app/reviews/style.scss
Labels: Store, [Status] Ready to Merge

#24602 Site settings: fix section not loading
  client/components/language-picker/index.jsx
  config/_shared.json
Labels: Site Settings, [Status] Ready to Merge

#24575 [Domains] Reduce the padding on CTA buttons
  client/components/domains/domain-registration-suggestion/index.jsx
  client/components/domains/domain-suggestion/style.scss
  client/components/domains/featured-domain-suggestions/styles/base.scss
Labels: Domains, [Status] Needs Design Review

#24564 Plans: update illustrations in My Plan feature cards.
  client/blocks/product-purchase-features-list/advertising-removed.jsx
  client/blocks/product-purchase-features-list/business-onboarding.jsx
  client/blocks/product-purchase-features-list/customize-theme.jsx
  client/blocks/product-purchase-features-list/find-new-theme.jsx
  client/blocks/product-purchase-features-list/google-analytics-stats.jsx
  client/blocks/product-purchase-features-list/index.jsx
  client/blocks/product-purchase-features-list/jetpack-anti-spam.jsx
  client/blocks/product-purchase-features-list/jetpack-backup-security.jsx
  client/blocks/product-purchase-features-list/jetpack-publicize.jsx
  client/blocks/product-purchase-features-list/jetpack-return-to-dashboard.jsx
  client/blocks/product-purchase-features-list/jetpack-search.jsx
  client/blocks/product-purchase-features-list/jetpack-video.jsx
  client/blocks/product-purchase-features-list/jetpack-wordpress-com.jsx
  client/blocks/product-purchase-features-list/monetize-site.jsx
  client/blocks/product-purchase-features-list/upload-plugins.jsx
  client/blocks/product-purchase-features-list/video-audio-posts.jsx
  client/components/happiness-support/index.jsx
  client/components/purchase-detail/style.scss
  client/my-sites/checkout/checkout-thank-you/business-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/custom-domain-purchase-detail.jsx
  client/my-sites/checkout/checkout-thank-you/domain-registration-details.jsx
  client/my-sites/checkout/checkout-thank-you/google-voucher/index.jsx
  client/my-sites/checkout/checkout-thank-you/personal-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/premium-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/rebrand-cities-thank-you.jsx
  public/images/illustrations/ads-removed.svg
  public/images/illustrations/custom-domain.svg
  public/images/illustrations/customDomain.svg
  public/images/illustrations/google-adwords.svg
  public/images/illustrations/jetpack-apps.svg
  public/images/illustrations/jetpack-concierge.svg
  public/images/illustrations/jetpack-dashboard.svg
  public/images/illustrations/jetpack-google-analytics.svg
  public/images/illustrations/jetpack-marketing.svg
  public/images/illustrations/jetpack-payments.svg
  public/images/illustrations/jetpack-search.svg
  public/images/illustrations/jetpack-security.svg
  public/images/illustrations/jetpack-spam.svg
  public/images/illustrations/jetpack-support.svg
  public/images/illustrations/jetpack-themes.svg
  public/images/illustrations/jetpack-updates.svg
  public/images/illustrations/jetpack-video-hosting.svg
  public/images/illustrations/jetpack-wordads.svg
Labels: Plans, [Status] In Progress, [Status] Needs Design Review, [Type] Enhancement

#24287 User mentions: add popover
  assets/stylesheets/_components.scss
  client/blocks/user-mentions/docs/example-input.jsx
  client/blocks/user-mentions/style.scss
  client/blocks/user-mentions/suggestion-list.jsx
  client/blocks/user-mentions/with-user-mentions.jsx
  npm-shrinkwrap.json
  package.json
Labels: Reader, [Status] Needs Review

#24580 Add product slugs to cart items
  client/my-sites/checkout/cart/cart-item.jsx
Labels: Purchases, [Status] Ready to Merge, [Type] Janitorial

#23932 Podcasting: add indicator to Editor and Category settings
  assets/stylesheets/_components.scss
  client/blocks/taxonomy-manager/list-item.jsx
  client/blocks/taxonomy-manager/style.scss
  client/blocks/term-tree-selector/style.scss
  client/blocks/term-tree-selector/terms.jsx
  client/components/podcast-indicator/README.md
  client/components/podcast-indicator/docs/example.jsx
  client/components/podcast-indicator/index.jsx
  client/components/podcast-indicator/style.scss
  client/devdocs/design/index.jsx
  client/post-editor/editor-action-bar/index.jsx
  client/post-editor/editor-action-bar/style.scss
  client/state/selectors/get-podcasting-category-id.js
Labels: Editor, [Status] Needs Review

#24567 Notices: Expose notice props via redux
  client/components/global-notices/index.jsx
  client/state/notices/actions.js
  client/state/notices/test/__snapshots__/actions.js.snap
  client/state/notices/test/actions.js
  client/state/notices/test/reducer.js
Labels: Components, Framework, [Status] Ready to Merge, [Type] Enhancement

#24534 Plans: create mobile apps feature card for My Plan tab.
  client/blocks/product-purchase-features-list/index.jsx
  client/blocks/product-purchase-features-list/mobile-apps.jsx
Labels: Plans, [Status] Needs Review, [Type] Enhancement

#24495 Republicize: enable this feature in desktop environment
  config/desktop.json
Labels: Desktop App, [Type] Bug

#24616 2 year plans: Make subscription length choice atomic
  client/lib/cart-values/cart-items.js
  client/lib/cart-values/test/cart-items.js
  client/lib/cart/store/index.js
  client/lib/upgrades/actions/cart.js
  client/lib/upgrades/actions/index.js
  client/lib/upgrades/constants.js
  client/my-sites/checkout/checkout/checkout.jsx
Labels: [Status] Needs Review, [Tests] Includes Tests

#24619 Replace plan computation with a hardcoded constant for <Banner />
  client/my-sites/site-settings/form-general.jsx
  client/my-sites/site-settings/test/form-general.jsx
Labels: [Status] Needs Review

#24613 Ad Tracking: Facebook Advanced Matching - email
  client/lib/analytics/ad-tracking.js
Labels: [Status] Needs Review

#24467 DevDocs: Update BackButton
  client/components/back-button/README.md
  client/components/back-button/docs/example.jsx
Labels: DevDocs, [Status] Ready to Merge

#24458 DevDocs: Show Badges in the component playground
  client/components/badge/docs/example.jsx
  client/devdocs/style.scss
Labels: DevDocs, [Status] Ready to Merge

#24622 People: make delete user button scary
  client/my-sites/people/delete-user/index.jsx
Labels: People Management, [Status] Needs Review, [Type] Enhancement

#24620 Media: fix filter item prop name
  client/my-sites/media-library/filter-item.jsx
Labels: Media, [Status] Ready to Merge

#22549 Framework: Get HTTP data
  client/state/action-types.js
  client/state/data-layer/http-data/common.js
  client/state/data-layer/http-data/index.js
  client/state/data-layer/wpcom-api-middleware.js
  client/state/index.js
  client/state/resource-ids.js
  client/state/selectors/get-http-data.js
Labels: Framework, [Status] Needs Review

#24181 Checkout: Change expiry label to 'Expiry: MM/YY'
  client/components/credit-card-form-fields/index.jsx
Labels: Checkout, [Status] Needs Review

#24607 Signup: revert money back guarantee test
  assets/stylesheets/_components.scss
  client/blocks/plan-footer/index.jsx
  client/blocks/plan-footer/style.scss
  client/lib/abtest/active-tests.js
  client/my-sites/plans-features-main/index.jsx
Labels: Signup, [Status] Needs Review

#24536 Fix Jetpack sharing options checkbox when API returns object
  client/state/site-settings/test/utils.js
  client/state/site-settings/utils.js
Labels: Jetpack, Sharing, [Status] Ready to Merge, [Tests] Includes Tests, [Type] Bug

#24599 Remove ref to lib/user from README
  client/my-sites/welcome/README.md
Labels: State, [Status] Needs Review

#24570 Store: Fix ESLint issues in `woocommerce/app/settings` & `woocommerce/app/store-stats`
  client/extensions/woocommerce/app/settings/email/mailchimp/getting-started.js
  client/extensions/woocommerce/app/settings/email/mailchimp/sync_tab.js
  client/extensions/woocommerce/app/settings/payments/payment-method-bacs.js
  client/extensions/woocommerce/app/settings/payments/stripe/payment-method-stripe-connect-account.js
  client/extensions/woocommerce/app/settings/payments/stripe/style.scss
  client/extensions/woocommerce/app/settings/shipping/shipping-zone/shipping-zone-location-dialog-countries.js
  client/extensions/woocommerce/app/settings/shipping/shipping-zone/shipping-zone-location-dialog-settings.js
  client/extensions/woocommerce/app/settings/shipping/shipping-zone/style.scss
  client/extensions/woocommerce/app/store-stats/index.js
  client/extensions/woocommerce/app/store-stats/store-stats-module/index.js
  client/extensions/woocommerce/app/store-stats/store-stats-period-nav/index.js
  client/extensions/woocommerce/app/store-stats/utils.js
Labels: Store, [Status] Ready to Merge

#24573 Component BulkSelect: Fix eslint errors
  client/components/bulk-select/index.jsx
  client/components/bulk-select/test/index.js
  client/extensions/woocommerce/components/bulk-select/index.js
  client/extensions/woocommerce/woocommerce-services/views/packages/predefined-packages.js
Labels: Components, Store, [Status] Ready to Merge

#24563 Reduxify setting the post geolocation
  client/post-editor/controller.js
  client/post-editor/editor-drawer/index.jsx
  client/post-editor/editor-location/index.jsx
  client/state/posts/actions.js
  client/state/posts/reducer.js
  client/state/posts/selectors.js
  client/state/posts/test/actions.js
  client/state/posts/test/reducer.js
  client/state/posts/test/selectors.js
  client/state/posts/test/utils.js
  client/state/posts/utils.js
Labels: Editor, [Status] Needs Review, [Status] Needs e2e Testing

#24610 Store: Expose MailChimp settings card if plugin is active.
  client/extensions/woocommerce/app/settings/email/mailchimp/index.js
Labels: Store, [Status] Needs Review

#24609 [Domains] Enable wide layout on `/domains/add`
  client/components/domains/domain-search-results/index.jsx
  client/components/domains/featured-domain-suggestions/index.jsx
  client/components/domains/featured-domain-suggestions/styles/base.scss
  client/my-sites/domains/controller.jsx
  client/my-sites/domains/domain-search/domain-search.jsx
Labels: Domains, [Status] Needs Design Review

#24637 Activity Log: Change the message users see in the Activity Log when they have no activity.
  client/my-sites/stats/activity-log/index.jsx
Labels: Activity Log, [Status] Ready to Merge

#21591 Community Translator: Creating a Calypso Component
  assets/stylesheets/_components.scss
  client/blocks/product-purchase-features-list/jetpack-backup-security.jsx
  client/blocks/product-purchase-features-list/jetpack-wordpress-com.jsx
  client/boot/project/wordpress-com.js
  client/components/community-translator/README.md
  client/components/community-translator/constants.js
  client/components/community-translator/index.jsx
  client/components/community-translator/style.scss
  client/components/community-translator/test/__snapshots__/translatable.js.snap
  client/components/community-translator/test/translatable.js
  client/components/community-translator/test/utils.js
  client/components/community-translator/translatable-textarea.jsx
  client/components/community-translator/translatable.jsx
  client/components/community-translator/translated-success.jsx
  client/components/community-translator/utils.js
  client/extensions/woocommerce/app/order/index.js
  client/extensions/woocommerce/state/action-types.js
  client/layout/community-translator/invitation-utils.js
  client/layout/community-translator/launcher.jsx
  client/layout/index.jsx
  client/me/account/main.jsx
  client/state/selectors/is-google-my-business-stats-nudge-visible.js
  client/state/selectors/is-site-google-my-business-eligible.js
  config/development.json
Labels: Translator, [Size] XL, [Status] Needs Review, [Type] Task, i18n

#22437 Domains/cctlds: Use error messages out of schemas
  client/components/domains/registrant-extra-info/test/uk-form.js
  client/components/domains/registrant-extra-info/test/with-contact-details-validation.js
  client/components/domains/registrant-extra-info/uk-form.jsx
  client/components/domains/registrant-extra-info/with-contact-details-validation.jsx
Labels: Domains, [Status] In Progress

#24625 Ad Tracking: Introduce the Nanigans tracking for purchases
  client/lib/analytics/ad-tracking.js
Labels: [Status] Needs Review

#24371 Ad Tracking: Facebook - track once per order, not per product
  client/lib/analytics/ad-tracking.js
Labels: Ads, [Status] Needs Review

#24646 Launch 2-year plans to 20% of users
  client/lib/abtest/active-tests.js
Labels: [Status] Needs Review

#24531 Jetpack: show the google button before the regular signup form
  client/blocks/signup-form/index.jsx
  client/blocks/signup-form/social.jsx
  client/blocks/signup-form/style.scss
  client/jetpack-connect/style.scss
  client/lib/abtest/active-tests.js
Labels: Jetpack, NUX, Signup, [Status] Needs Review

#24581 Display Google My Business nudge only for eligible Jetpack sites
  client/state/selectors/is-google-my-business-stats-nudge-visible.js
  client/state/selectors/is-site-google-my-business-eligible.js
Labels: Google My Business, Jetpack, [Status] Ready to Merge

#24628 Checklist: Show 'not available' message instead of placeholder for sites with no checklist
  client/my-sites/checklist/checklist-show/index.jsx
Labels: Checklist, [Status] Needs Review

#24498 Add Sibyl Q&A to inline help
  client/blocks/inline-help/inline-help-compact-result.jsx
  client/blocks/inline-help/inline-help-compact-results.jsx
  client/blocks/inline-help/popover.jsx
  client/me/help/help-contact-form/index.jsx
  client/state/action-types.js
  client/state/inline-help/actions.js
  client/state/inline-help/reducer.js
  client/state/inline-help/selectors.js
Labels: Help, [Status] Needs Review

#24503 PlansFeatures: Accept siteId instead of site object prop
  client/my-sites/plan-features/index.jsx
  client/my-sites/plans-features-main/index.jsx
  client/signup/steps/plans-atomic-store/index.jsx
Labels: Plans, [Status] Needs Review

#24125 DevDocs: Move AllSites to /blocks
  assets/stylesheets/_components.scss
  client/blocks/all-sites/README.md
  client/blocks/all-sites/docs/example.jsx
  client/blocks/all-sites/index.jsx
  client/blocks/all-sites/style.scss
  client/components/site-selector/index.jsx
  client/devdocs/design/blocks.jsx
  client/my-sites/current-site/index.jsx
  client/my-sites/plugins/plugin-site-network/index.jsx
Labels: DevDocs, [Status] Ready to Merge

#24496 DevDocs: Fix component readme filename
  docs/component-readme-template.md
Labels: DevDocs, [Status] Ready to Merge

#24584 DevDocs: Add information about the siteFragment position
  docs/routing.md
Labels: DevDocs, [Status] Needs Review

#24571 Store: Fix ESLint errors in WCS, tests, lib, and components directories
  client/extensions/woocommerce/components/form-click-to-edit-input/index.js
  client/extensions/woocommerce/components/form-location-select/countries.js
  client/extensions/woocommerce/components/location-flag/index.js
  client/extensions/woocommerce/lib/generate-variations/test/index.js
  client/extensions/woocommerce/state/data-layer/ui/products/index.js
  client/extensions/woocommerce/state/sites/payment-methods/test/reducer.js
  client/extensions/woocommerce/state/sites/review-replies/test/handlers.js
  client/extensions/woocommerce/state/sites/reviews/test/handlers.js
  client/extensions/woocommerce/state/ui/payments/methods/test/selectors.js
  client/extensions/woocommerce/state/ui/shipping/zones/locations/test/selectors.js
  client/extensions/woocommerce/state/ui/shipping/zones/methods/selectors.js
  client/extensions/woocommerce/woocommerce-services/views/label-settings/label-settings.js
  client/extensions/woocommerce/woocommerce-services/views/label-settings/style.scss
  client/extensions/woocommerce/woocommerce-services/views/packages/edit-package.js
  client/extensions/woocommerce/woocommerce-services/views/packages/style.scss
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-item.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/address-step/style.scss
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/address-step/suggestion.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/packages-step/list.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/packages-step/style.scss
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/style.scss
Labels: Store, [Status] Ready to Merge

#24632 Checkout: Replace domain contact information Page View with Tracks
  client/my-sites/checkout/checkout/domain-details-form.jsx
Labels: Analytics, Checkout, [Status] Ready to Merge

#24655 Inline Help: update Sibyl styling and prevent widows in title
  client/blocks/inline-help/style.scss
  client/me/help/help-contact-form/index.jsx
  client/me/help/help-contact-form/style.scss
Labels: Help, [Status] Needs Review

#24596 Store: Fix product-category list & search results
  client/extensions/woocommerce/app/product-categories/index.js
  client/extensions/woocommerce/app/product-categories/list.js
  client/extensions/woocommerce/app/promotions/fields/promotion-applies-to-field/applies-to-filtered-list.js
  client/extensions/woocommerce/state/sites/product-categories/README.md
  client/extensions/woocommerce/state/sites/product-categories/selectors.js
  client/extensions/woocommerce/state/sites/product-categories/test/fixtures/categories.js
  client/extensions/woocommerce/state/sites/product-categories/test/selectors.js
  client/extensions/woocommerce/state/ui/product-categories/selectors.js
Labels: Store, [Status] Ready to Merge

#24627 Guided Tours: Add Simple Payments Email Tour
  client/layout/guided-tours/button-labels.jsx
  client/layout/guided-tours/config.js
  client/layout/guided-tours/tours/simple-payments-email-tour.js
Labels: Guided Tours, Simple Payments, [Status] Needs Review, [Type] Task

#24362 Sharing: Update Facebook preview
  client/blocks/sharing-preview-pane/index.jsx
  client/blocks/sharing-preview-pane/utils.js
  client/components/seo/facebook-preview/index.jsx
  client/components/seo/style.scss
  client/components/share/facebook-share-preview/index.jsx
  client/components/share/facebook-share-preview/style.scss
Labels: Sharing, [Status] Needs Design Review, [Status] Needs Review, [Type] Bug

#24639 [Domains] Remove obsolete components
  client/components/domains/domain-registration-suggestion/index.jsx
  client/components/domains/domain-registration-suggestion/utility.js
  client/components/domains/domain-suggestion-flag/index.jsx
Labels: Domains, [Status] Ready to Merge

#24608 [Domains] Add strikethrough price for signup
  client/components/domains/domain-product-price/index.jsx
  client/components/domains/domain-product-price/style.scss
  client/components/domains/featured-domain-suggestions/styles/base.scss
  client/lib/abtest/active-tests.js
Labels: Domains, [Status] Ready to Merge

#24664 [Domains] Enable wide layout for domain mapping
  client/my-sites/domains/controller.jsx
Labels: Domains, [Status] Needs Review

#24661 Podcasting: add email address to settings whitelist
  client/my-sites/site-settings/podcasting-details/index.jsx
Labels: Site Settings, [Type] Bug

#24670 [Domains] Tweak start date for strikethrough test
  client/lib/abtest/active-tests.js
Labels: Domains, [Status] Ready to Merge

#24624 Plans: revert the upgrade pricing display test.
  client/lib/abtest/active-tests.js
  client/lib/plans/constants.js
  client/my-sites/plan-features/header.jsx
  client/my-sites/plan-features/index.jsx
  client/my-sites/plan-features/style.scss
  client/my-sites/plan-features/summary.jsx
Labels: Plans, [Status] Needs Review

#24558 User mentions: connect to real suggestions
  client/blocks/comments/form-textarea.jsx
  client/blocks/comments/form.jsx
  client/blocks/user-mentions/add.jsx
  client/blocks/user-mentions/connect.jsx
  client/blocks/user-mentions/docs/example-input.jsx
  client/blocks/user-mentions/docs/example.jsx
  client/blocks/user-mentions/index.jsx
  client/blocks/user-mentions/style.scss
Labels: Reader, [Status] Needs Review

#24653 Author Selector: migrate the SwitcherShell component to React ES6 class
  client/blocks/author-selector/switcher-shell.jsx
Labels: [Status] Needs Review, [Type] Janitorial

#24677 Update 2 year plans allocation to 50/50
  client/lib/abtest/active-tests.js
Labels: [Status] Needs Review

#24597 Importer: Move to redux currentUser from lib/user
  client/components/gravatar/index.jsx
  client/components/gravatar/test/index.jsx
  client/components/user/index.jsx
  client/my-sites/importer/author-mapping-item.jsx
Labels: State, [Status] Needs Review

#24678 Guided Tours: prevent Simple Payments Email Tour first step incorrect positioning
  client/layout/guided-tours/tours/simple-payments-email-tour.js
Labels: Guided Tours, [Status] Needs Review

#24435 Purchases: add logged-out redirect to all paths
  client/me/purchases/index.js
  client/wordpress-com.js
Labels: Purchases, [Status] Ready to Merge

#24636 Plans: Fix link to more info about plugins
  client/lib/i18n-utils/browser.js
  client/lib/i18n-utils/node.js
  client/lib/i18n-utils/utils.js
  client/me/help/main.jsx
  client/my-sites/plans-features-main/wpcom-faq.jsx
Labels: FixTheFlows, Plans, [Status] Needs Review

#24684 Post Edit Reducer: remove date edit when receiving updated post with equal date
  client/state/posts/reducer.js
  client/state/posts/selectors.js
  client/state/posts/test/reducer.js
  client/state/posts/utils.js
Labels: Editor, [Status] Ready to Merge

#24453 Activity Log: add persistent notices
  assets/stylesheets/_components.scss
  client/my-sites/stats/activity-log-tasklist/index.jsx
  client/my-sites/stats/activity-log-tasklist/plugins-to-update.jsx
  client/my-sites/stats/activity-log-tasklist/style.scss
  client/my-sites/stats/activity-log-tasklist/update.jsx
  client/my-sites/stats/activity-log/index.jsx
Labels: Activity/Rewind, [Status] Needs Review, [Type] Enhancement

#24656 Framework: Iterate on `getHttpData()`
  client/state/data-layer/http-data/common.js
  client/state/data-layer/http-data/index.js
  client/state/index.js
Labels: Framework, [Status] Needs Review

#24666 Plans: add Upgrade button to the Advertising Removed feature card in .com plans.
  client/blocks/product-purchase-features-list/advertising-removed.jsx
  client/blocks/product-purchase-features-list/index.jsx
Labels: Plans, [Status] Ready to Merge, [Type] Enhancement

#24682 Purchases: assembler janitorial work
  client/lib/purchases/assembler.js
  client/state/purchases/selectors.js
  client/state/purchases/test/selectors.js
Labels: Purchases, [Status] Ready to Merge, [Tests] Includes Tests, [Type] Janitorial

#24535 Plans: create sell online feature card to be included in the My Plan tab.
  client/blocks/product-purchase-features-list/index.jsx
  client/blocks/product-purchase-features-list/sell-online-paypal.jsx
Labels: Plans, [Status] Ready to Merge, [Type] Enhancement

#24683 InlineHelp: Add Forum Flow
  client/blocks/inline-help/constants.js
  client/blocks/inline-help/inline-help-forum-view.jsx
  client/blocks/inline-help/popover.jsx
  client/blocks/inline-help/style.scss
Labels: Help, [Status] Needs Review

#24662 Editor: Remove warning about publish date change
  client/post-editor/editor-notice/index.jsx
  client/post-editor/post-editor.jsx
Labels: Editor, [Status] Needs Review

#24707 Framework: `getHttpData` use dispatch queue until initialized
  client/state/data-layer/http-data/index.js
Labels: Data, Framework, [Status] Needs Review

#24668 [Domains] Add analytics for pagination
  client/components/domains/register-domain-step/analytics.js
  client/components/domains/register-domain-step/index.jsx
Labels: Domains, [Status] Ready to Merge

#24712 EditorWordCount: convert lib/user usage to Redux
  client/post-editor/editor-word-count/index.jsx
Labels: Editor, [Status] Needs Review

#24650 Post Editor: reduxify editing post sharing options
  client/post-editor/editor-drawer/index.jsx
  client/post-editor/editor-sharing/accordion.jsx
  client/post-editor/editor-sharing/index.jsx
  client/post-editor/editor-sharing/publicize-connection.jsx
  client/post-editor/editor-sharing/publicize-message.jsx
  client/post-editor/editor-sharing/publicize-options.jsx
  client/post-editor/editor-sharing/publicize-services.jsx
  client/post-editor/editor-sharing/sharing-like-options.jsx
  client/post-editor/editor-sharing/test/publicize-connection.jsx
Labels: Editor, [Status] Needs Review, [Status] Needs e2e Testing

#24701 User mentions: prevent cursor jump to new line after Enter used, and add Tab support
  client/blocks/user-mentions/add.jsx
Labels: Reader, [Status] Needs Review

#24611 Update LineChart Axes
  client/components/d3-base/index.js
  client/components/line-chart/docs/example.js
  client/components/line-chart/index.js
  client/components/line-chart/style.scss
  client/devdocs/design/component-examples.js
  client/devdocs/design/index.jsx
  client/my-sites/google-my-business/stats/index.js
Labels: Google My Business, [Status] Needs Review

#24717 Remove Flux actions to edit post metadata
  client/lib/posts/actions.js
  client/lib/posts/test/actions.js
Labels: Editor, [Status] Needs Review, [Type] Janitorial

#24660 Add displayNames to fix DevDocs in wpcalypso
  client/components/animate/docs/example.jsx
  client/components/badge/docs/example.jsx
  client/components/textarea-autosize/docs/example.jsx
  client/components/vertical-nav/docs/example.jsx
Labels: DevDocs, [Status] Needs Review

#24687 Checkout: redirect logged-out users to login page
  client/my-sites/checkout/index.js
Labels: Checkout, [Status] Needs Review, [Status] Needs e2e Testing

#24686 JP Remote Install: Tracks event for manual install click
  client/jetpack-connect/remote-credentials.js
Labels: Jetpack, [Status] Needs Review

#24629 Add FoldableCard to the playground
  client/components/foldable-card/docs/example.jsx
  client/components/foldable-card/index.jsx
  client/devdocs/design/playground-utils.js
  client/devdocs/design/playground.jsx
  client/devdocs/design/search-collection.jsx
Labels: DevDocs, [Status] Needs Review

#24630 Simple Payments: Link from email to Guided Tour
  client/my-sites/stats/controller.jsx
Labels: Guided Tours, Simple Payments, [Status] Needs Review, [Type] Task

#24727 Me: Fix me/security controller bug
  client/me/security/controller.js
  client/me/security/index.js
Labels: Me, [Status] Needs Review, [Type] Bug, [Type] Janitorial

#24486 Add new LegendItem component and LineChartLegend
  assets/stylesheets/_components.scss
  client/components/legend-item/index.js
  client/components/legend-item/style.scss
  client/components/line-chart/index.js
  client/components/line-chart/legend.js
  client/components/line-chart/style.scss
  client/components/pie-chart/legend-item.js
  client/components/pie-chart/legend.js
  client/components/pie-chart/style.scss
  client/my-sites/google-my-business/stats/chart.js
Labels: Google My Business, [Status] In Progress, [Status] Needs Review

#24698 Post Editor: save post status updates to Redux
  client/post-editor/editor-visibility/index.jsx
  client/state/posts/reducer.js
  client/state/posts/test/reducer.js
  client/state/posts/utils.js
Labels: Editor, [Status] Needs Review, [Status] Needs e2e Testing

#24735 Framework: add debug capabilities to getHttpData and fix bug
  client/state/data-layer/http-data/index.js
Labels: Data, Framework, [Status] Needs Review

#24612 Reader: Show `PostLikesPopover` when hovering over post likes
  assets/stylesheets/_components.scss
  client/blocks/like-button/button.jsx
  client/blocks/post-likes/index.jsx
  client/blocks/post-likes/popover.jsx
  client/reader/like-button/index.jsx
  client/reader/like-button/style.scss
  config/stage.json
Labels: Reader, [Status] Ready to Merge

#24416 Add remaining time to text of domain maintenance to notices.
  client/components/domains/map-domain-step/index.jsx
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/transfer-domain-step/index.jsx
  client/lib/domains/assembler.js
  client/lib/domains/registration/availability-messages.js
  client/lib/domains/test/assembler.js
  client/my-sites/domains/domain-management/components/domain/maintenance-card.jsx
  client/my-sites/domains/domain-management/edit/index.jsx
  client/my-sites/domains/domain-search/domain-search.jsx
Labels: Domains, [Status] Ready to Merge

#24226 DevDocs: Add required prop to SignupForm README.md
  client/blocks/signup-form/README.md
Labels: DevDocs, [Status] Ready to Merge

#24737 Activity Log - Plugin update: use pluralization in i18n
  client/my-sites/stats/activity-log-tasklist/index.jsx
Labels: Activity Log, [Status] Needs Review, [Type] Bug, i18n

#24699 server/pages: Add rel=noopener to issues link
  client/document/desktop.jsx
  client/document/index.jsx
Labels: Framework, [Status] Needs Review

#24742 Inline Help: Revert forum flow #24708
  client/blocks/inline-help/constants.js
  client/blocks/inline-help/inline-help-forum-view.jsx
  client/blocks/inline-help/popover.jsx
  client/blocks/inline-help/style.scss
  client/state/selectors/get-inline-help-support-variation.js
Labels: Help, [Status] Needs Review

#24631 State: Use getHttpData() for geolocation data
  client/components/data/query-geo/README.md
  client/components/data/query-geo/index.jsx
  client/components/language-picker/index.jsx
  client/lib/abtest/README.md
  client/my-sites/checkout/checkout/checkout.jsx
  client/state/data-getters/index.js
  client/state/data-layer/http-data.js
  client/state/geo/actions.js
  client/state/geo/reducer.js
  client/state/geo/schema.js
  client/state/geo/selectors.js
  client/state/geo/test/actions.js
  client/state/geo/test/reducer.js
  client/state/geo/test/selectors.js
  client/state/index.js
  client/state/selectors/get-current-user-payment-methods.js
  client/state/selectors/get-http-data.js
  client/state/selectors/test/get-current-user-payment-methods.js
Labels: Framework, State, [Status] Needs Review

#24673 Editor mentions: share suggestion components and styles with user-mentions block
  client/blocks/user-mentions/style.scss
  client/blocks/user-mentions/suggestion-list.jsx
  client/blocks/user-mentions/suggestion.jsx
  client/components/tinymce/plugins/mentions/mentions.jsx
  client/components/tinymce/plugins/mentions/plugin.jsx
  client/components/tinymce/plugins/mentions/style.scss
  client/components/tinymce/plugins/mentions/suggestion-list.jsx
  client/components/tinymce/plugins/mentions/suggestion.jsx
Labels: Reader, [Status] Needs Review

#24657 Me: Use named exports from section controllers
  client/me/account/controller.js
  client/me/account/index.js
  client/me/billing-history/controller.js
  client/me/controller.js
  client/me/happychat/index.jsx
  client/me/help/controller.js
  client/me/help/index.js
  client/me/index.js
  client/me/notification-settings/controller.js
  client/me/notification-settings/index.js
  client/me/privacy/controller.js
  client/me/privacy/index.js
  client/me/purchases/controller.jsx
  client/me/purchases/index.js
  client/me/security/index.js
Labels: Me, Purchases, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#24457 Tests: Update state utils tests to jest
  client/state/test/utils.js
Labels: Testing, [Pri] Low, [Status] Needs Review, [Tests] Includes Tests, [Type] Janitorial

#24750 Community translator: Interpolate anchor tag by components property.
  client/components/community-translator/translated-success.jsx
Labels: [Status] Needs Review, i18n

#24680 Guided Tours: Only start the Simple Payments Email Tour in sections with a sidebar
  client/layout/guided-tours/tours/simple-payments-email-tour.js
Labels: Guided Tours, [Status] Ready to Merge

#24736 Guided Tours: Fix steps positioning of Simple Payments Email Tour
  client/layout/guided-tours/tours/simple-payments-email-tour.js
Labels: Guided Tours, Simple Payments, [Status] Needs Review

#24719 Update My Plan view illustrations margins and mobile layout
  client/components/purchase-detail/style.scss
Labels: Plans, [Status] Needs Review, [Type] Enhancement

#24724 A/B test helper: fix console warning
  client/lib/abtest/test-helper/Test.jsx
Labels: [Status] Needs Review, [Type] Janitorial

#24745 User mentions: add README
  client/blocks/user-mentions/README.md
  client/blocks/user-mentions/docs/example-input.jsx
  client/devdocs/design/blocks.jsx
  client/devdocs/style.scss
Labels: Reader, [Status] Needs Review

#24021 Add/stats referrer main chart
  client/extensions/woocommerce/app/store-stats/constants.js
  client/extensions/woocommerce/app/store-stats/index.js
  client/extensions/woocommerce/app/store-stats/referrers/chart/index.js
  client/extensions/woocommerce/app/store-stats/referrers/index.js
  client/extensions/woocommerce/app/store-stats/referrers/style.scss
  client/extensions/woocommerce/app/store-stats/store-stats-chart/index.js
  client/extensions/woocommerce/app/store-stats/store-stats-chart/style.scss
  client/extensions/woocommerce/app/store-stats/store-stats-orders-chart/index.js
  client/extensions/woocommerce/app/store-stats/store-stats-orders-chart/style.scss
  client/extensions/woocommerce/app/store-stats/store-stats-referrer-widget/index.js
  client/extensions/woocommerce/app/store-stats/test/utils.js
  client/extensions/woocommerce/app/store-stats/utils.js
  client/extensions/woocommerce/style.scss
  client/my-sites/stats/stats-tabs/tab.jsx
  client/state/selectors/get-store-referrers-by-date.js
  client/state/selectors/get-store-referrers-by-referrer.js
  client/state/stats/lists/test/utils.js
  client/state/stats/lists/utils.js
Labels: Stats, Store, [Status] In Progress

#24705 Community Translator: move up the button so that it is not overlapped by the new Inline Help Button
  client/layout/community-translator/style.scss
Labels: OSS Citizen, Translator

#24778 Remove follow-menu block
  assets/stylesheets/_components.scss
  client/blocks/follow-menu/README.md
  client/blocks/follow-menu/button.jsx
  client/blocks/follow-menu/docs/example.jsx
  client/blocks/follow-menu/style.scss
  client/devdocs/design/blocks.jsx
Labels: Reader, [Status] Ready to Merge, [Type] Janitorial

#24782 TinyMCE: Load skin files from a new, versioned URL structure
  client/components/tinymce/README.md
  client/components/tinymce/index.jsx
  client/extensions/woocommerce/components/compact-tinymce/index.js
Labels: Editor, [Status] Needs Review

#24659 Simple Payments: replace image uploader with media library
  client/components/dialog/dialog-base.jsx
  client/components/dialog/style.scss
  client/components/tinymce/plugins/simple-payments/dialog/form.jsx
  client/components/tinymce/plugins/simple-payments/dialog/product-image-picker.jsx
  client/components/tinymce/plugins/simple-payments/dialog/product-image.jsx
  client/components/tinymce/plugins/simple-payments/style.scss
  client/post-editor/media-modal/index.jsx
Labels: Accessibility, Media, Simple Payments, [Type] Enhancement

#24755 Show a notice on the GMB stats page when location has not been verifed
  client/my-sites/google-my-business/stats/index.js
Labels: Google My Business, [Status] Needs Review

#24789 Purchases: Remove bad semicolon
  client/me/purchases/confirm-cancel-domain/index.jsx
Labels: Design, Domains, Purchases, [Status] Ready to Merge, [Type] Bug

#24732 JPC Remote Install: Skip for sites with non-default login URL
  client/jetpack-connect/main.jsx
Labels: Jetpack, [Status] Ready to Merge

#24738 State: Jetpack Connect: Add partner ID and slug selectors
  client/state/selectors/get-partner-id-from-query.js
  client/state/selectors/get-partner-slug-from-query.js
  client/state/selectors/test/get-partner-id-from-query.js
  client/state/selectors/test/get-partner-slug-from-query.js
Labels: Jetpack, NUX, State, [Status] Ready to Merge, [Type] Enhancement

#22814 Reduxify: Reader Streams
  client/blocks/reader-full-post/index.jsx
  client/blocks/reader-post-options-menu/index.jsx
  client/lib/feed-stream-store/feed-stream.js
  client/lib/feed-stream-store/paged-stream.js
  client/reader/controller-helper.js
  client/reader/controller.js
  client/reader/conversations/controller.js
  client/reader/conversations/stream.js
  client/reader/discover/controller.js
  client/reader/like-helper.jsx
  client/reader/liked-stream/controller.js
  client/reader/list-gap/index.jsx
  client/reader/list/controller.js
  client/reader/search-stream/index.jsx
  client/reader/search-stream/post-results.jsx
  client/reader/search/controller.js
  client/reader/site-stream/featured.jsx
  client/reader/site-stream/index.jsx
  client/reader/stream/empty-search-recommended-post.jsx
  client/reader/stream/index.jsx
  client/reader/stream/post-lifecycle.jsx
  client/reader/tag-stream/controller.js
  client/reader/test/utils.js
  client/reader/update-notice/index.jsx
  client/reader/utils.js
  client/state/action-types.js
  client/state/data-layer/wpcom/read/index.js
  client/state/data-layer/wpcom/read/streams/index.js
  client/state/data-layer/wpcom/read/streams/test/index.js
  client/state/reader/posts/actions.js
  client/state/reader/posts/reducer.js
  client/state/reader/posts/test/actions.js
  client/state/reader/reducer.js
  client/state/reader/streams/actions.js
  client/state/reader/streams/reducer.js
  client/state/reader/streams/schema.js
  client/state/reader/streams/test/reducer.js
  client/state/selectors/get-reader-stream-next-item.js
  client/state/selectors/get-reader-stream-should-request-recommendations.js
  client/state/selectors/get-reader-stream.js
  client/state/ui/reader/reducer.js
Labels: Reader, State, [Status] Needs Review, [Status] Needs e2e Testing

#24770 Activity Log: add legend indicating the update type
  client/my-sites/stats/activity-log-tasklist/index.jsx
  client/my-sites/stats/activity-log-tasklist/style.scss
  client/my-sites/stats/activity-log-tasklist/update.jsx
Labels: Activity Log, [Status] Needs Review

#24791 Activity Log: Add state for filtering the log
  client/my-sites/stats/activity-log/index.jsx
  client/state/action-types.js
  client/state/activity-log/actions.js
  client/state/activity-log/reducer.js
  client/state/selectors/get-activity-log-filter.js
Labels: Activity Log, Activity/Rewind, [Status] Needs Review

#24798 Reader Streams: fix dismissPost, forgot about it during reduxification
  client/reader/stream/recommended-posts.jsx
  client/state/reader/streams/actions.js
  client/state/reader/streams/reducer.js
  client/state/reader/streams/test/reducer.js
Labels: Reader, [Status] Needs Review, [Type] Bug

#24665 Desktop: restrict to a single chunk named build.js
  webpack.config.js
Labels: Desktop App, [Status] Needs Review, [Status] Needs e2e Testing

#24786 Kracken: Fix the exact match filter to pass the correct query param
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/search-filters/index.jsx
  client/components/domains/search-filters/more-filters.jsx
Labels: Domains, [Status] Needs Review

#24776 Increase spacing above and within extra section on Jetpack Plans
  client/jetpack-connect/style.scss
Labels: Jetpack, Plans, [Status] Needs Review, [Type] Enhancement

#24779 Reader: remove reader/new post notifications feature flag and ReaderEmailSettings block
  assets/stylesheets/_components.scss
  client/blocks/reader-email-settings/README.md
  client/blocks/reader-email-settings/docs/example.jsx
  client/blocks/reader-email-settings/index.jsx
  client/blocks/reader-email-settings/style.scss
  client/blocks/reader-feed-header/index.jsx
  client/blocks/reader-subscription-list-item/index.jsx
  client/devdocs/design/blocks.jsx
  client/reader/search-stream/style.scss
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Reader, [Status] Needs Review, [Type] Janitorial

#24744 User mentions: improve behaviour when working with an existing word
  client/blocks/user-mentions/add.jsx
Labels: Reader, [Status] Ready to Merge

#24746 Enable user mentions on wpcalypso, staging and horizon
  config/horizon.json
  config/stage.json
  config/wpcalypso.json
Labels: Reader, [Status] Ready to Merge

#24688 Make it possible to define discounts by adding entries to active-discounts.js
  client/lib/discounts/active-discounts.js
  client/lib/discounts/index.js
  client/my-sites/current-site/notice.jsx
  client/my-sites/plan-features/index.jsx
  client/my-sites/plans-features-main/index.jsx
  client/my-sites/plans/controller.jsx
  client/my-sites/plans/main.jsx
  client/state/selectors/get-active-discount.js
  client/state/selectors/is-current-user-eligible-for-spring-discount.js
  client/state/selectors/test/get-active-discount.js
Labels: [Status] Ready to Merge, [Tests] Includes Tests

#24808 Reader Conversations: prevent blank screen when pressing 'Reply'
  client/blocks/comments/comment-edit-form.jsx
  client/blocks/comments/form.jsx
Labels: Reader, [Status] Ready to Merge, [Type] Bug

#24784 Purchases: Use siteSlug in getEditCardDetailsPath
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
  client/me/purchases/utils.js
Labels: Purchases, [Status] Ready to Merge, [Type] Task

#24722 NUX: Checking truthiness of `domain` before using it in the block
  client/components/domains/domain-search-results/index.jsx
Labels: NUX, [Status] Needs Review, [Type] Bug

#24787 Purchases: Remove getSelectedSite util
  client/me/purchases/cancel-privacy-protection/index.jsx
  client/me/purchases/cancel-purchase/index.jsx
  client/me/purchases/confirm-cancel-domain/index.jsx
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/notices.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
  client/me/purchases/payment/add-card-details/index.jsx
  client/me/purchases/payment/edit-card-details/index.jsx
  client/me/purchases/utils.js
Labels: Purchases, [Status] Ready to Merge, [Type] Task

#24785 Purchases: Use redux user over legacy lib/user
  client/me/purchases/purchases-list/index.jsx
Labels: Purchases, State, [Status] Ready to Merge, [Type] Janitorial

#24739 Guided Tours: Add a "quit on target click" to Quit
  client/layout/guided-tours/config-elements/quit.js
  client/layout/guided-tours/tours/simple-payments-email-tour.js
Labels: Guided Tours, Simple Payments, [Status] Needs Review

#24799 Purchases: Remove goToManagePurchase util
  client/me/purchases/cancel-privacy-protection/index.jsx
  client/me/purchases/cancel-purchase/index.jsx
  client/me/purchases/components/purchase-card-details/index.jsx
  client/me/purchases/controller.jsx
  client/me/purchases/payment/add-card-details/index.jsx
  client/me/purchases/payment/edit-card-details/index.jsx
  client/me/purchases/utils.js
Labels: Purchases, [Status] Ready to Merge, [Type] Task

#24407 Jetpack Connect: Move tracks to component
  client/jetpack-connect/authorize.js
  client/jetpack-connect/help-button.jsx
  client/jetpack-connect/no-direct-access-error.js
  client/jetpack-connect/plans-landing.jsx
  client/jetpack-connect/plans.jsx
  client/jetpack-connect/signup.js
  client/jetpack-connect/test/__snapshots__/authorize.js.snap
  client/jetpack-connect/test/__snapshots__/plans.js.snap
  client/jetpack-connect/test/__snapshots__/signup.js.snap
  client/my-sites/site-settings/disconnect-site/troubleshoot.jsx
Labels: Analytics, Components, Jetpack, [Status] Ready to Merge, [Type] Janitorial

#24423 Add a readme viewer component
  assets/stylesheets/_components.scss
  client/components/readme-viewer/index.jsx
  client/components/readme-viewer/style.scss
  client/components/readme-viewer/test/index.js
  client/devdocs/blocks/README.md
  client/devdocs/design/README.md
  client/devdocs/design/blocks.jsx
  client/devdocs/design/index.jsx
  client/devdocs/design/search-collection.jsx
  client/devdocs/docs-example/readme-viewer.jsx
  client/devdocs/docs-example/test/readme-viewer.jsx
  client/devdocs/docs-selectors/README.md
  client/devdocs/docs-selectors/index.jsx
  client/devdocs/style.scss
  client/devdocs/wizard-component/index.jsx
  docs/new-component-checklist.md
Labels: DevDocs, [Status] Needs Review

#24764 Extensions – Hello Dolly: Fix eslint error
  client/extensions/hello-dolly/hello-dolly-page.js
Labels: [Status] Ready to Merge

#24763 Extensions – WP Job Manager: Fix eslint issues
  client/extensions/wp-job-manager/state/data-layer/settings/utils.js
Labels: [Status] Needs Review

#24762 Extensions – Zoninator: Fix eslint issues
  client/extensions/zoninator/state/data-layer/feeds/util.js
Labels: [Status] Needs Review

#24800 Reader: Delete Flux Implementation of Streams
  client/lib/feed-stream-store/actions.js
  client/lib/feed-stream-store/constants.js
  client/lib/feed-stream-store/feed-stream-cache.js
  client/lib/feed-stream-store/feed-stream.js
  client/lib/feed-stream-store/index.js
  client/lib/feed-stream-store/paged-stream.js
  client/lib/feed-stream-store/test/index.js
  client/lib/feed-stream-store/test/mocks/lib/data-poller.js
  client/lib/feed-stream-store/test/mocks/lib/post-normalizer.js
  client/lib/feed-stream-store/test/mocks/lib/wp.js
  client/reader/test/utils.js
Labels: Reader, [Status] Needs Review, [Type] Janitorial

#24819 Activity Log: Address performance issues
  client/my-sites/stats/activity-log-item/index.jsx
  client/my-sites/stats/activity-log/index.jsx
Labels: Activity Log, Activity/Rewind, Performance, [Status] Needs Review

#24813 InlineHelp: Move RichResults dialog out of popover tree
  client/blocks/inline-help/index.jsx
  client/blocks/inline-help/inline-help-rich-result.jsx
  client/blocks/inline-help/popover.jsx
Labels: Help, [Status] Needs Review

#24749 Post Editor: improve names of selectors that check if edited post is password protected
  client/post-editor/editor-confirmation-sidebar/index.jsx
  client/post-editor/editor-publish-button/index.jsx
  client/state/posts/selectors.js
  client/state/posts/test/selectors.js
Labels: Editor

#24723 Atomic: Update incompatible plugin lists
  client/my-sites/plugins/plugin-meta/index.jsx
Labels: Atomic, Maintenance, [Status] Needs Review

#24780 Domains: Show filter reset notice when too few results are suggested
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/register-domain-step/style.scss
  client/components/domains/search-filters/filter-reset-notice.jsx
Labels: Domains, [Status] Ready to Merge

#24774 Privacy settings: Update UI Language
  assets/stylesheets/_components.scss
  client/me/privacy/main.jsx
  client/me/privacy/style.scss
Labels: Me, Privacy/GDPR, [Status] Needs Review

#24806 Simple Payments: Allow usage of different data sources in Media Library
  client/components/tinymce/plugins/simple-payments/dialog/index.jsx
  client/components/tinymce/plugins/simple-payments/dialog/product-image-picker.jsx
  client/components/tinymce/plugins/simple-payments/dialog/product-image.jsx
  client/components/tinymce/plugins/simple-payments/style.scss
  client/post-editor/editor-featured-image/preview-container.jsx
  client/post-editor/editor-featured-image/preview.jsx
  client/post-editor/editor-featured-image/style.scss
Labels: Media, Simple Payments, [Type] Enhancement

#24794 Activity Log: Add URL parser/printer
  client/my-sites/stats/controller.jsx
  client/state/activity-log/utils.js
  client/state/navigation/middleware.js
Labels: Activity Log, Activity/Rewind, [Status] Ready to Merge

#24826 Editor Action Bar: use React.createRef to set view link tooltip context
  client/post-editor/editor-action-bar/index.jsx
Labels: Editor, [Status] Needs Review, [Type] Janitorial

#24824 Framework: Prevent cascading updates in PopoverContext
  client/blocks/post-likes/docs/example.jsx
  client/components/ellipsis-menu/index.jsx
  client/components/split-button/index.jsx
  client/components/tinymce/plugins/mentions/mentions.jsx
  client/me/profile-links/add-buttons.jsx
Labels: Components, Framework, Performance, [Status] Needs Review
