Repository Automattic/wp-calypso, pull requests merged in 2019-02, with the labels that each got.

#30237 Migrate Media and Media Library CSS styles to webpack
  assets/stylesheets/sections/devdocs.scss
  assets/stylesheets/sections/gutenberg-editor.scss
  assets/stylesheets/sections/media.scss
  client/my-sites/media-library/content.jsx
  client/my-sites/media-library/index.jsx
  client/my-sites/media-library/list-item-file-details.jsx
  client/my-sites/media-library/list-item-file-details.scss
  client/my-sites/media-library/list-item-video.jsx
  client/my-sites/media-library/list-item.jsx
  client/my-sites/media-library/list-item.scss
  client/my-sites/media-library/style.scss
  client/my-sites/media-library/upload-button.jsx
  client/my-sites/media-library/upload-url.jsx
  client/my-sites/media/main.jsx
  client/my-sites/site-settings/style.scss
  client/post-editor/media-modal/index.scss
  client/wordpress-com.js
Labels: Build, [Status] Ready to Merge

#30467 Replace the source of the Core video blocks with the VideoPress URL
  client/gutenberg/extensions/presets/jetpack/index.json
  client/gutenberg/extensions/videopress/edit.js
  client/gutenberg/extensions/videopress/editor.js
  client/gutenberg/extensions/videopress/index.js
  client/gutenberg/extensions/videopress/utils.js
Labels: [Goal] Gutenberg, [Status] Needs Review

#30534 Remove manage/themes and manage/themes/upload feature flags
  client/my-sites/sidebar/sidebar.jsx
  client/my-sites/themes/index.node.js
  client/my-sites/themes/index.web.js
  client/my-sites/themes/single-site-jetpack.jsx
  client/my-sites/themes/theme-options.js
  client/my-sites/themes/theme-showcase.jsx
  client/state/themes/selectors.js
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Themes, [Status] Needs Review, [Type] Janitorial

#30540 wc: replace $blue-medium with -primary colors
  client/extensions/woocommerce/app/order/order-fulfillment/style.scss
  client/extensions/woocommerce/app/orders/style.scss
  client/extensions/woocommerce/app/products/product-form.scss
  client/extensions/woocommerce/app/reviews/style.scss
  client/extensions/woocommerce/app/settings/email/mailchimp/style.scss
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/address-step/style.scss
Labels: Color Schemes, [Status] Needs Review

#30064 Blogger Plan: Domains: Show upgrade page when adding more then 1 domain
  client/my-sites/domains/domain-search/domain-search.jsx
Labels: Domains, Plans, [Status] Needs Review

#30511 Login: fix button focus styles
  client/blocks/login/style.scss
Labels: Accessibility, Login, [Status] Ready to Merge

#30530 Gutenberg iframe: fix extra scrollbars
  client/document/index.jsx
  client/gutenberg/editor/style.scss
Labels: [Goal] Gutenberg, [Status] Needs Review

#30494 Illustrations: update colors
  public/images/illustrations/waitTime.svg
  public/images/stats/tasks/custom-domain.svg
  public/images/themes-banner/illustration-builder-referral.svg
  public/images/upgrades/wait-time.svg
  public/images/upwork/illustration-builder-referral.svg
Labels: Color Schemes, Design, [Status] Needs Review

#30463 remove $alert-yellow definition
  assets/stylesheets/shared/_colors.scss
Labels: Color Schemes, [Status] Needs Review

#30547 Gutenberg: simplify styling for iframe
  client/gutenberg/editor/style.scss
Labels: [Status] Needs Review, [Type] Janitorial

#30553 Posts List: Ensure Copy UI is Consistent
  client/my-sites/post-type-list/post-actions-ellipsis-menu/duplicate.jsx
Labels: OSS Citizen, [Goal] Gutenberg, [Status] Needs Review

#30486 NUX: show default 'business' content when a user-input vertical is submitted
  client/components/site-verticals-suggestion-search/index.jsx
  client/components/site-verticals-suggestion-search/test/__snapshots__/index.js.snap
  client/components/site-verticals-suggestion-search/test/index.js
  client/signup/steps/site-topic/index.jsx
Labels: Signup, [Status] In Progress, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Feature progress

#29810 RTL: fix all ignored rtl ignore directives
  assets/stylesheets/_main.scss
  assets/stylesheets/shared/_forms.scss
  client/blocks/login/style.scss
  client/blocks/signup-form/style.scss
  client/components/credit-card-form-fields/style.scss
  client/components/forms/form-password-input/style.scss
  client/components/remove-button/style.scss
  client/components/search/style.scss
  client/components/tinymce/style.scss
  client/post-editor/media-modal/gallery/style.scss
Labels: [Status] Needs Review, i18n

#30566 Stop images from being loaded when parsing a post in Reader.
  client/lib/post-normalizer/utils.js
Labels: Performance, Reader, [Status] Needs Review, [Type] Bug

#30436 Tiled Gallery Block: Add Bottom Margin
  client/gutenberg/extensions/tiled-gallery/view.scss
Labels: Design, OSS Citizen, Tiled Galleries, [Status] Ready to Merge

#30544 ButtonGroup: remove focus specific styles
  client/components/button-group/style.scss
Labels: Color Schemes, [Status] Needs Review

#30556 Editor: Update opt-in messaging concerning the block editor.
  client/post-editor/editor-gutenberg-opt-in-dialog/index.jsx
  client/post-editor/editor-gutenberg-opt-in-notice/index.jsx
  client/post-editor/editor-gutenberg-opt-in-sidebar/index.jsx
Labels: Editor, [Status] Ready to Merge, [Type] Task

#30532 Exclude Jetpack from concierge session upsell
  client/lib/cart-values/cart-items.js
  client/my-sites/checkout/checkout/checkout.jsx
Labels: [Status] Needs Review

#30459 remove $alert-red definition
  assets/stylesheets/shared/_colors.scss
Labels: Color Schemes, [Status] Needs Review

#30523 Button: update primary color on borderless buttons
  client/components/button/style.scss
Labels: Color Schemes, Components, [Type] Defect

#30524 BulkSelect: update icon to use a consistent color
  client/components/bulk-select/style.scss
Labels: Color Schemes, Components

#30575 Reimplement `lib/viewport` using `window.matchMedia`
  client/lib/viewport/README.md
  client/lib/viewport/index.js
  client/my-sites/activity/activity-log-item/aggregated.jsx
Labels: Activity Log, Framework, Performance, [Status] Needs Review

#30593 Fix another instance of the Activity Log loading two images.
  client/my-sites/activity/activity-log-item/index.jsx
Labels: Activity Log, Performance, [Status] Needs Review

#30452 Migrate Draft.js styles to the TitleFormatEditor component
  assets/stylesheets/_vendor.scss
  client/components/title-format-editor/index.jsx
  client/components/title-format-editor/token.jsx
  test/client/jest.config.js
  test/server/jest.config.js
Labels: [Status] Needs Review, [Type] Janitorial

#30520 Domains: Remove restart transfer screen
  client/lib/domains/index.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/domains/domain-management/edit/transfer.jsx
Labels: Domains, [Status] Ready to Merge

#30542 Choose media library image sizes based on chosen scale.
  client/lib/media/constants.js
  client/lib/media/utils.js
  client/my-sites/media-library/list-item-image.jsx
  client/my-sites/media-library/scale.jsx
  client/my-sites/media-library/test/list-item-image.jsx
Labels: Media, Performance, [Status] Needs Review

#30591 ActivityLog: use surface backdrop color to generate fading gradient i…
  assets/stylesheets/shared/_color-schemes.scss
  client/components/feature-example/style.scss
Labels: Color Schemes, [Status] Needs Review

#30589 Notifications: use a darker shade of -primary for unread item background
  client/notifications/src/panel/boot/stylesheets/main.scss
Labels: Color Schemes, [Status] Needs Review

#30327 Logged Out Form: Only make footer links white when in the signup section
  client/components/logged-out-form/style.scss
Labels: NUX, Signup, [Status] Needs Review, [Type] Defect

#30308 Domains: Add default wp.com NS records
  client/lib/domains/dns/index.js
  client/lib/domains/dns/test/data/index.js
  client/lib/domains/dns/test/reducer.js
Labels: Domains, [Status] Ready to Merge

#30471 Jetpack 7.0: publish GIF block to production, and push a new version of the blocks
  client/gutenberg/extensions/presets/jetpack/index.json
  client/gutenberg/extensions/presets/jetpack/package.json
Labels: GIF Block, Jetpack, [Goal] Gutenberg, [Status] Needs Review

#30583 Domains: Update privacy screen messaging
  client/my-sites/domains/domain-management/contacts-privacy/card.jsx
Labels: Domains, [Status] Ready to Merge

#30592 Layout: add section-related CSS classes to body element in logged-out mode
  client/layout/logged-out.jsx
Labels: Signup, [Status] Needs Review, [Type] Defect

#30561 Editor: Hide the block editor opt-in nudge if the sidebar is showing.
  client/post-editor/editor-gutenberg-opt-in-notice/index.jsx
Labels: Editor, [Status] Needs Review, [Type] Task

#30528 Gutenberg: adds support for Calypso's Media Modal when Calypsoified on an iframe
  client/gutenberg/editor/calypsoify-iframe.jsx
  client/gutenberg/editor/hooks/components/media-upload/utils.js
Labels: [Goal] Gutenberg, [Status] Needs Review

#30580 Color Schemes: Add support to override sidebar text and link colors
  assets/stylesheets/shared/_color-schemes.scss
  client/layout/sidebar/style.scss
  client/layout/style.scss
Labels: Color Schemes, [Status] Needs Review

#30438 Slideshow Autosizing: Aspect Ratio From DOM
  client/gutenberg/extensions/slideshow/create-swiper.js
  client/gutenberg/extensions/slideshow/slideshow.js
  client/gutenberg/extensions/slideshow/style.scss
Labels: DO NOT MERGE, Slideshow, [Status] In Progress

#30522 Plugin Updates: Switch Status to Default
  client/my-sites/plugins/plugin-item/plugin-item.jsx
Labels: Color Schemes, OSS Citizen, [Status] Needs Review

#30582 Tiled gallery block: limit the columns count to the images count
  client/gutenberg/extensions/tiled-gallery/edit.jsx
Labels: Tiled Galleries, [Goal] Gutenberg, [Status] Needs Review, [Status] Ready to Merge, [Type] Bug

#30563 Colour Scheming: Remove Green Text Definition
  assets/stylesheets/shared/_colors.scss
  client/my-sites/people/people-list-item/style.scss
Labels: Color Schemes, OSS Citizen, [Status] Needs Review

#30462 remove $alert-green definition
  assets/stylesheets/shared/_colors.scss
Labels: Color Schemes, [Status] Needs Review

#30543 Themes: redirect logged-in-only routes to login page in logged-out sessions
  client/controller/index.web.js
  client/my-sites/theme/index.web.js
  client/my-sites/themes/index.web.js
Labels: Themes, [Status] Needs Review

#30595 Fix the contact info margin
  client/gutenberg/extensions/contact-info/index.js
  client/gutenberg/extensions/contact-info/style.scss
  client/gutenberg/extensions/contact-info/view.js
Labels: [Status] Ready to Merge

#30603 Notifications: Rejigger how state/init works to work in ES6
  client/notifications/src/panel/state/index.js
Labels: Notifications, [Status] Needs Review

#30601 Added email illustration for the onboarding checklist
  client/my-sites/checklist/wpcom-checklist/component.jsx
  public/images/stats/tasks/email.svg
Labels: [Status] Ready to Merge

#30614 Tweak panel state init a bit further to avoid errors in pure ES6.
  client/notifications/src/panel/state/index.js
Labels: Notifications, [Status] Needs Review

#29549 Client Side: Business Hours block from George's Random Blocks
  client/gutenberg/extensions/business-hours/components/hours-list.jsx
  client/gutenberg/extensions/business-hours/components/hours-row.jsx
  client/gutenberg/extensions/business-hours/editor.js
  client/gutenberg/extensions/business-hours/editor.scss
  client/gutenberg/extensions/business-hours/index.js
  client/gutenberg/extensions/presets/jetpack/index.json
  npm-shrinkwrap.json
Labels: [Goal] Gutenberg, [Project] SDK, [Status] Needs Review

#30615 Onboarding Checklist: Enable Email Setup Task In All Non-prod Environments
  config/desktop-development.json
  config/desktop.json
  config/horizon.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Status] Ready to Merge

#30352 Slideshow Block: Alternative Approach
  client/gutenberg/extensions/presets/jetpack/index.json
  client/gutenberg/extensions/slideshow/create-swiper.js
  client/gutenberg/extensions/slideshow/edit.js
  client/gutenberg/extensions/slideshow/editor.js
  client/gutenberg/extensions/slideshow/index.js
  client/gutenberg/extensions/slideshow/save.js
  client/gutenberg/extensions/slideshow/slideshow.js
  client/gutenberg/extensions/slideshow/style.scss
  client/gutenberg/extensions/slideshow/view.js
  npm-shrinkwrap.json
  package.json
  packages/babel-plugin-i18n-calypso/package-lock.json
  packages/i18n-calypso/package-lock.json
Labels: Jetpack, Slideshow, [Goal] Gutenberg, [Status] Needs Review

#30626 Onboarding Checklist: enable the email tasks in prod
  config/production.json
Labels: [Status] Needs Review

#30598 Colour Scheming: Remove sidebar-text-color Definition
  assets/stylesheets/shared/_colors.scss
Labels: Color Schemes, [Status] Needs Review

#30635 Slideshow: Autoplay
  client/gutenberg/extensions/slideshow/edit.js
  client/gutenberg/extensions/slideshow/index.js
  client/gutenberg/extensions/slideshow/save.js
  client/gutenberg/extensions/slideshow/slideshow.js
  client/gutenberg/extensions/slideshow/view.js
Labels: Jetpack, Slideshow, [Goal] Gutenberg, [Status] Needs Review

#30632 Jetpack Gutenberg Blocks Preset: :abc: OCD
  client/gutenberg/extensions/presets/jetpack/index.json
Labels: Jetpack, [Goal] Gutenberg, [Status] Ready to Merge

#30636 Slideshow: Transforms
  client/gutenberg/extensions/slideshow/index.js
  client/gutenberg/extensions/slideshow/style.scss
  client/gutenberg/extensions/slideshow/transforms.js
Labels: Jetpack, Slideshow, [Goal] Gutenberg, [Status] Needs Review

#30571 Signup: add vertical parent ID to `_submit_site_topic` event
  client/components/site-verticals-suggestion-search/index.jsx
  client/components/site-verticals-suggestion-search/test/index.js
  client/signup/steps/site-topic/index.jsx
  client/state/signup/steps/site-vertical/reducer.js
  client/state/signup/steps/site-vertical/schema.js
  client/state/signup/steps/site-vertical/selectors.js
  client/state/signup/steps/site-vertical/test/reducer.js
  client/state/signup/steps/site-vertical/test/selectors.js
Labels: Analytics, Signup, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Feature progress

#30513 Migrate devdocs section CSS to webpack and remove section CSS code
  assets/stylesheets/_components.scss
  assets/stylesheets/sections/devdocs.scss
  client/components/readme-viewer/index.jsx
  client/controller/shared.js
  client/devdocs/design/index.jsx
  client/devdocs/gutenberg-blocks/index.jsx
  client/devdocs/gutenberg-components/index.jsx
  client/devdocs/main.jsx
  client/document/index.jsx
  client/lib/i18n-utils/switch-locale.js
  client/sections-helper.js
  client/sections-middleware.js
  client/sections.js
  package.json
  server/bundler/css-hot-reload.js
  server/bundler/sections-loader.js
  server/bundler/test/sections-loader.js
  server/bundler/utils.js
  server/pages/index.js
Labels: DevDocs, Framework, [Status] Needs Review

#30537 Redirect sections that don't have the enableLoggedOut flag to login page
  client/boot/common.js
  client/me/purchases/index.js
  client/me/security/index.js
  client/my-sites/checkout/index.js
  client/my-sites/domains/domain-management/domain-connect/index.jsx
  client/my-sites/google-my-business/index.js
  client/reader/conversations/index.js
  client/reader/discover/index.js
  client/reader/following/index.js
  client/reader/full-post/index.js
  client/reader/index.js
  client/reader/liked-stream/index.js
  client/reader/list/index.js
  client/reader/search/index.js
  client/reader/tag-stream/index.js
  client/sections-middleware.js
  client/wordpress-com.js
Labels: Framework, [Status] Needs Review, [Status] Needs e2e Testing

#30275 Mailchimp: Client-Side Rendering In Editor
  client/gutenberg/extensions/mailchimp/edit.jsx
  client/gutenberg/extensions/mailchimp/editor.js
  client/gutenberg/extensions/mailchimp/editor.scss
  client/gutenberg/extensions/mailchimp/index.js
  client/gutenberg/extensions/mailchimp/view.js
  client/gutenberg/extensions/mailchimp/view.scss
Labels: DO NOT MERGE, Mailchimp, [Goal] Gutenberg, [Status] Blocked / Hold

#30611 Calypsoify: update URL with draft id
  client/gutenberg/editor/calypsoify-iframe.jsx
Labels: [Goal] Gutenberg

#30651 Docs: Mention source-maps in SDK docs
  docs/sdk.md
Labels: DevDocs, [Project] SDK

#30613 Domains: Purchases disabled message update
  client/lib/domains/registration/availability-messages.js
Labels: Domains

#30627 Extract domain suggestion price from product list.
  client/components/domains/domain-registration-suggestion/index.jsx
Labels: Domains, [Status] Ready to Merge

#30602 Contact Info Block: Add the external link maps toggle to the address block
  client/gutenberg/extensions/contact-info/address/edit.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#30654 Gif Block: Bottom Margin And Float Clearing
  client/gutenberg/extensions/gif/style.scss
Labels: GIF Block, [Goal] Gutenberg, [Status] Ready to Merge

#30633 Slideshow: Upload Bar
  client/gutenberg/extensions/slideshow/create-swiper.js
  client/gutenberg/extensions/slideshow/edit.js
  client/gutenberg/extensions/slideshow/editor.scss
  client/gutenberg/extensions/slideshow/index.js
  client/gutenberg/extensions/slideshow/slideshow.js
  client/gutenberg/extensions/slideshow/view.js
Labels: Jetpack, Slideshow, [Goal] Gutenberg, [Status] Needs Review

#30568 Domain registration: allow domain names beginning with www or http(s)
  client/components/domains/register-domain-step/index.jsx
  client/lib/domains/index.js
  client/lib/domains/test/index.js
Labels: Domains, [Status] Needs Review, [Type] Bug

#30661 Slideshow: Fix Jumpy Initial State
  client/gutenberg/extensions/slideshow/create-swiper.js
  client/gutenberg/extensions/slideshow/style.scss
Labels: Slideshow, [Goal] Gutenberg, [Status] Needs Review

#30656 Reader image preloading tweaks
  client/blocks/reader-featured-image/index.jsx
  client/blocks/reader-post-card/featured-asset.jsx
  client/lib/post-normalizer/rule-wait-for-images-to-load.js
  client/lib/post-normalizer/utils.js
Labels: Performance, Reader, [Status] Needs Review

#30666 Update/incompatible plugins 2019 02 07
  client/my-sites/plugins/plugin-meta/index.jsx
Labels: Atomic, [Status] Needs Review

#30565 Update/ads block
  client/gutenberg/extensions/wordads/constants.js
  client/gutenberg/extensions/wordads/edit.js
  client/gutenberg/extensions/wordads/editor.scss
  client/gutenberg/extensions/wordads/index.js
Labels: WordAds, [Goal] Gutenberg, [Status] Needs Review, [Type] Feature progress

#30678 Slideshow: Fix For Browser Crashes On Resize
  client/gutenberg/extensions/slideshow/create-swiper.js
  client/gutenberg/extensions/slideshow/slideshow.js
Labels: Slideshow, [Status] Needs Review, [Type] Bug

#30692 Onboarding Checklist: fix G Suite task not dismissing
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: [Status] Needs Review

#30260 Pending Payments order detail additions
  client/me/pending-payments/index.jsx
  client/me/pending-payments/pending-list-item.jsx
  client/me/pending-payments/style.scss
  client/me/pending-payments/test/index.js
  client/me/pending-payments/test/pending-list-item.js
Labels: [Status] Needs Copy Review, [Status] Needs Review

#30673 Login: Align footer links to center
  client/login/wp-login/style.scss
Labels: Login, [Status] Ready to Merge, [Type] Enhancement

#30650 MailChimp block: Update texts
  client/gutenberg/extensions/mailchimp/index.js
Labels: Mailchimp, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Task

#30669 GIF: Show Current Image In Thumbnails
  client/gutenberg/extensions/gif/edit.js
  client/gutenberg/extensions/gif/editor.scss
  client/gutenberg/extensions/gif/index.js
  client/gutenberg/extensions/gif/style.scss
Labels: GIF Block, [Goal] Gutenberg, [Status] Needs Review, [Type] Bug

#30685 Mailchimp Block: UI Review Updates
  client/gutenberg/extensions/mailchimp/edit.jsx
  client/gutenberg/extensions/mailchimp/editor.scss
  client/gutenberg/extensions/mailchimp/index.js
  client/gutenberg/extensions/mailchimp/view.js
  client/gutenberg/extensions/mailchimp/view.scss
Labels: Mailchimp, [Goal] Gutenberg, [Status] Needs Review

#29253 Analytics: initial implementation of top level Registration, Signup, AddToCart, Purchase event handling functions
  client/blocks/gdpr-banner/index.jsx
  client/lib/analytics/ad-tracking.js
  client/lib/analytics/index.js
  client/lib/analytics/test/google-analytics.js
  client/lib/analytics/utils.js
  client/lib/cart/store/cart-analytics.js
  client/lib/cart/store/test/cart-analytics.js
  client/lib/signup/step-actions.js
  client/my-sites/checkout/checkout/secure-payment-form.jsx
  client/signup/main.jsx
  config/_shared.json
  config/client.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Analytics, [Status] Needs Review

#30676 Test defaulting to the two year billing term for wpcom plans
  client/lib/abtest/active-tests.js
  client/lib/plans/index.js
  client/my-sites/plan-features/index.jsx
Labels: Checkout, [Status] Needs Review

#30680 Fixes post checkout purchase detail icon sizing
  client/components/purchase-detail/style.scss
Labels: Post Checkout, [Status] Ready to Merge

#30707 Onboarding Checklist: Update Descriptions for the G Suite Email Task
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: Checklist, [Status] Ready to Merge

#30668 WordAds block: Update supports
  client/gutenberg/extensions/wordads/index.js
Labels: WordAds, [Goal] Gutenberg, [Status] Needs Review, [Type] Task

#30720 Tiled gallery block: check url is available before Photonizing
  client/gutenberg/extensions/tiled-gallery/layout/index.js
Labels: Tiled Galleries, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Bug

#30030 Settings: Remove legacy PublicPostTypes component
  client/my-sites/site-settings/manage-connection/data-synchronization.jsx
  client/my-sites/site-settings/manage-connection/public-post-types.jsx
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Jetpack, Site Settings, [Status] Needs Review, [Type] Janitorial

#30029 Settings: Cleanup sync from legacy Jetpack version checks
  client/my-sites/site-settings/manage-connection/data-synchronization.jsx
Labels: Jetpack, Site Settings, [Status] Needs Review, [Type] Janitorial

#30028 Settings: Cleanup ApiCache from legacy Jetpack version checks
  client/my-sites/site-settings/manage-connection/api-cache.jsx
Labels: Jetpack, Site Settings, [Status] Needs Review, [Type] Janitorial

#30031 Settings: Cleanup SiteOwnership from legacy Jetpack version checks
  client/my-sites/site-settings/manage-connection/site-ownership.jsx
Labels: Jetpack, Site Settings, [Status] Needs Review, [Type] Janitorial

#30020 Settings: Cleanup JetpackDevModeNotice from legacy Jetpack version checks
  client/my-sites/site-settings/jetpack-dev-mode-notice.jsx
Labels: Jetpack, Site Settings, [Status] Needs Review, [Type] Janitorial

#30023 Settings: Cleanup security settings from legacy Jetpack version checks
  client/my-sites/site-settings/form-security.jsx
Labels: Jetpack, Site Settings, [Status] Needs Review, [Type] Janitorial

#30704 Migrate Reader CSS styles to webpack
  assets/stylesheets/_components.scss
  client/blocks/reader-author-link/index.jsx
  client/blocks/reader-avatar/index.jsx
  client/blocks/reader-combined-card/index.jsx
  client/blocks/reader-excerpt/index.jsx
  client/blocks/reader-export-button/index.jsx
  client/blocks/reader-featured-image/index.jsx
  client/blocks/reader-featured-video/index.jsx
  client/blocks/reader-feed-header/index.jsx
  client/blocks/reader-import-button/index.jsx
  client/blocks/reader-post-actions/index.jsx
  client/blocks/reader-post-card/index.jsx
  client/blocks/reader-post-options-menu/index.jsx
  client/blocks/reader-recommended-sites/index.jsx
  client/blocks/reader-related-card/index.jsx
  client/blocks/reader-share/helper.jsx
  client/blocks/reader-share/index.jsx
  client/blocks/reader-site-notification-settings/index.jsx
  client/blocks/reader-subscription-list-item/index.jsx
  client/blocks/reader-visit-link/index.jsx
  client/reader/components/reader-blank-suggestions/index.js
  client/reader/components/reader-blank-suggestions/style.scss
  client/reader/conversations/intro.jsx
  client/reader/conversations/intro.scss
  client/reader/discover/site-attribution.jsx
  client/reader/discover/site-attribution.scss
  client/reader/following-manage/index.jsx
  client/reader/following/main.jsx
  client/reader/index.js
  client/reader/like-button/index.jsx
  client/reader/list-gap/index.jsx
  client/reader/list-gap/style.scss
  client/reader/list-stream/index.jsx
  client/reader/post-excerpt-link/index.jsx
  client/reader/reading-time/index.jsx
  client/reader/search-stream/index.jsx
  client/reader/search-stream/style.scss
  client/reader/sidebar/index.jsx
  client/reader/sidebar/style.scss
  client/reader/site-stream/featured.jsx
  client/reader/site-stream/featured.scss
  client/reader/stream/index.jsx
  client/reader/stream/style.scss
  client/reader/style.scss
  client/reader/tag-stream/main.jsx
  client/reader/update-notice/index.jsx
  client/reader/update-notice/style.scss
Labels: Reader, [Status] Ready to Merge

#30037 Settings: Cleanup legacy Jetpack version checks and functionality from writing settings
  client/my-sites/site-settings/form-writing.jsx
  client/my-sites/site-settings/media-settings-writing.jsx
  client/my-sites/site-settings/theme-enhancements.jsx
Labels: Jetpack, Site Settings, [Status] Needs Review, [Type] Janitorial

#30038 Settings: Cleanup SiteVerification from legacy Jetpack version checks
  client/my-sites/site-settings/seo-settings/site-verification.jsx
Labels: Jetpack, Site Settings, [Status] Needs Review, [Type] Janitorial

#30643 Refactor cart related placeholders
  client/blocks/subscription-length-picker/index.jsx
  client/lib/cart-values/index.js
  client/lib/cart/store/cart-synchronizer.js
  client/lib/tax/index.js
  client/my-sites/checkout/checkout/checkout.jsx
Labels: [Status] Needs Review, [Type] Feature progress, [Type] Task

#30698 Signup: Move site type form in a separate component
  client/signup/steps/site-type/form.jsx
  client/signup/steps/site-type/index.jsx
Labels: Components, NUX, Signup, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#30681 chore(framework): Switch to file refs for packages
  .circleci/config.yml
  Dockerfile
  bin/install-if-deps-outdated.js
  bin/install-if-no-packages.js
  lerna.json
  npm-shrinkwrap.json
  package.json
  packages/babel-plugin-i18n-calypso/package-lock.json
  packages/i18n-calypso/package-lock.json
Labels: Build, Framework, [Status] Needs Review

#30687 Slideshow Block: UI Improvements
  client/gutenberg/extensions/slideshow/create-swiper.js
  client/gutenberg/extensions/slideshow/edit.js
  client/gutenberg/extensions/slideshow/slideshow.js
  client/gutenberg/extensions/slideshow/style.scss
  client/gutenberg/extensions/slideshow/view.js
Labels: Slideshow, [Goal] Gutenberg, [Status] Needs Review

#30224 Adding support for up to 6 related posts
  client/gutenberg/extensions/related-posts/edit.jsx
  client/gutenberg/extensions/related-posts/index.js
  client/gutenberg/extensions/related-posts/style.scss
Labels: Jetpack, Related Posts, [Goal] Gutenberg, [Status] In Progress

#30689 Enable GA for sites that have the WPCOM ecommerce plan
  client/my-sites/site-settings/form-analytics.jsx
Labels: Analytics, Plans, [Status] Needs Review

#30548 eCommerce Plan: Stats Page: Suppress the checklist & nudge
  client/blocks/ecommerce-manage-nudge/actions.js
  client/blocks/ecommerce-manage-nudge/index.js
  client/blocks/ecommerce-manage-nudge/selectors.js
  client/blocks/ecommerce-manage-nudge/style.scss
  client/my-sites/stats/site.jsx
Labels: Store, [Status] Ready to Merge

#30255 Sign Up: Update Reader Images
  client/signup/steps/reader-landing/style.scss
  public/images/reader/reader-conversations.png
  public/images/reader/reader-discover.png
  public/images/reader/reader-mobile.png
  public/images/reader/reader-notifications.png
Labels: OSS Citizen, Reader, Signup, [Status] Ready to Merge

#28453 Shopping Cart: Try scaling the Cart Total underline with a table
  client/my-sites/checkout/cart/cart-total.jsx
  client/my-sites/checkout/cart/style.scss
Labels: Checkout, [Status] In Progress, [Type] Feature progress

#30569 Fix localStorage-bypass to work in Firefox
  client/boot/polyfills.js
  client/lib/local-storage-bypass/index.js
  client/lib/local-storage-bypass/test/index.js
  client/lib/local-storage-polyfill/README.md
  client/lib/local-storage-polyfill/index.js
  client/lib/local-storage-polyfill/test/index.js
  client/lib/local-storage/index.js
  client/lib/support/support-user/localstorage-bypass.js
  client/lib/user/support-user-interop.js
Labels: Support, [Status] Ready to Merge, [Type] Bug

#30721 Components: Introduce WpcomColophon component
  client/components/wpcom-colophon/README.md
  client/components/wpcom-colophon/docs/example.js
  client/components/wpcom-colophon/index.jsx
  client/components/wpcom-colophon/style.scss
  client/devdocs/design/component-examples.js
  client/devdocs/design/index.jsx
Labels: Components, New Component, [Pri] Normal, [Status] Ready to Merge, [Type] New feature

#30700 Eslint: Add handling for wp-i18n functions
  client/components/async-loader/test/index.js
  packages/eslint-plugin-wpcalypso/CHANGELOG.md
  packages/eslint-plugin-wpcalypso/lib/rules/i18n-ellipsis.js
  packages/eslint-plugin-wpcalypso/lib/rules/test/i18n-ellipsis.js
Labels: Packages, [Goal] Gutenberg, [Status] Ready to Merge, [Tests] Includes Tests, [Type] Enhancement, i18n

#30728 Jetpack Connect: Introduce a JetpackOnly HoC
  client/jetpack-connect/jetpack-only.js
Labels: Jetpack, NUX, [Pri] Normal, [Status] Ready to Merge, [Type] Feature progress

#30738 Slideshow: Fix Slide Overlaps In Fade
  client/gutenberg/extensions/slideshow/style.scss
Labels: Design, Slideshow, [Goal] Gutenberg, [Status] Needs Review

#30729 Migrate CSS styles of DomainWarnings to webpack
  assets/stylesheets/_components.scss
  client/my-sites/domains/components/domain-warnings/index.jsx
Labels: Domains, [Status] Needs Review, [Type] Janitorial

#30686 Terminate the page.js handler chain when redirecting to login page
  client/controller/index.web.js
Labels: [Status] Ready to Merge, [Type] Bug

#30213 Checklist: add vertical-specific tasks
  client/blocks/inline-help/index.jsx
  client/blocks/inline-help/popover.jsx
  client/my-sites/checklist/wpcom-checklist/checklist-prompt/index.jsx
  client/my-sites/checklist/wpcom-checklist/checklist-prompt/style.scss
  client/my-sites/checklist/wpcom-checklist/checklist-prompt/task.jsx
  client/my-sites/checklist/wpcom-checklist/component.jsx
  client/my-sites/checklist/wpcom-checklist/index.jsx
  client/my-sites/checklist/wpcom-checklist/vertical-task-list.js
  client/my-sites/checklist/wpcom-checklist/wpcom-task-list.js
  client/state/action-types.js
  client/state/inline-help/actions.js
  client/state/inline-help/reducer.js
  client/state/inline-help/selectors.js
Labels: Checklist, Signup, [Status] Needs Review

#30755 State: Remove unnecessary Analytics support selectors
  client/state/sites/selectors.js
Labels: Analytics, State, [Status] Needs Review, [Type] Janitorial

#30040 Settings: Cleanup performance settings from legacy Jetpack version checks
  client/my-sites/site-settings/media-settings-performance.jsx
  client/my-sites/site-settings/settings-performance/main.jsx
  client/my-sites/site-settings/speed-up-site-settings.jsx
Labels: Jetpack, Site Settings, [Status] Needs Review, [Type] Janitorial

#30041 Settings: Cleanup traffic settings from legacy Jetpack version checks
  client/my-sites/site-settings/settings-traffic/main.jsx
Labels: Jetpack, Site Settings, [Status] Needs Review, [Type] Janitorial

#30751 Mailchimp: Disable Email Input In Editor
  client/gutenberg/extensions/mailchimp/edit.jsx
Labels: Mailchimp, [Goal] Gutenberg, [Status] Ready to Merge

#30039 Settings: Cleanup SEO settings from legacy Jetpack version checks
  client/my-sites/site-settings/seo-settings/form.jsx
  client/my-sites/site-settings/seo-settings/main.jsx
  client/my-sites/site-settings/seo-settings/test/form.jsx
Labels: Jetpack, SEO, Site Settings, [Status] Needs Review, [Type] Janitorial

#30012 Settings: Cleanup wrapSettingsForm from legacy Jetpack version checks
  client/my-sites/site-settings/wrap-settings-form.jsx
Labels: Jetpack, Site Settings, [Status] Needs Review, [Type] Janitorial

#30752 Tiled Gallery: Move localized style labels into settings
  client/gutenberg/extensions/tiled-gallery/constants.js
  client/gutenberg/extensions/tiled-gallery/index.js
Labels: Jetpack, Performance, Tiled Galleries, [Status] Ready to Merge, [Type] Task

#30706 Mailchimp: fix "connecting" button hanging
  client/my-sites/sharing/connections/service.jsx
Labels: Mailchimp, [Status] Needs Review

#30677 Add/ab test enhance gsuite post checkout notice
  client/components/purchase-detail/index.jsx
  client/components/purchase-detail/style.scss
  client/lib/abtest/active-tests.js
  client/my-sites/checkout/checkout-thank-you/business-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/domain-registration-details.jsx
  client/my-sites/checkout/checkout-thank-you/ecommerce-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/my-sites/checkout/checkout-thank-you/personal-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/premium-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/style.scss
Labels: [Status] Ready to Merge

#30743 Show correct domain in G Suite cancel
  client/me/purchases/remove-purchase/index.jsx
Labels: Purchases, [Status] Ready to Merge

#30674 Color Schemes: Have "Switch Site" button use new `--sidebar-text-color` var
  client/my-sites/current-site/style.scss
Labels: Color Schemes

#30714 Plans: Only show credit notice when there is a higher plan
  client/my-sites/plan-features/index.jsx
  client/my-sites/plan-features/test/index.jsx
Labels: Plans, [Status] Needs Review

#30736 Slideshow: Swiper Callbacks Structure
  client/gutenberg/extensions/slideshow/create-swiper.js
  client/gutenberg/extensions/slideshow/slideshow.js
  client/gutenberg/extensions/slideshow/swiper-resize.js
  client/gutenberg/extensions/slideshow/view.js
Labels: Slideshow, [Goal] Gutenberg, [Status] Needs Review

#30745 Fixes G Suite add user cancel
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/add-users.jsx
Labels: G Suite, [Status] Needs Review

#30665 Business hours block: Add open/close toggle
  client/gutenberg/extensions/business-hours/components/hours-list.jsx
  client/gutenberg/extensions/business-hours/components/hours-row.jsx
  client/gutenberg/extensions/business-hours/editor.scss
  client/gutenberg/extensions/business-hours/index.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge, [Type] Feature progress

#30715 Fix/30610 contact info p
  client/gutenberg/extensions/contact-info/address/save.js
  client/gutenberg/extensions/contact-info/editor.scss
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#30716 WordAds: Fix alignment issues
  client/gutenberg/extensions/wordads/edit.js
  client/gutenberg/extensions/wordads/editor.scss
  client/gutenberg/extensions/wordads/index.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#30769 Slideshow: Accommodate Multiple Rows Of Bullets
  client/gutenberg/extensions/slideshow/style.scss
  client/gutenberg/extensions/slideshow/swiper-resize.js
Labels: Slideshow, [Goal] Gutenberg, [Status] Needs Review

#30642 Signup: switch to ecommerce onboarding step flow at site type step
  client/signup/config/flows.js
  client/signup/steps/site-type/index.jsx
  client/signup/utils.js
  client/state/signup/progress/actions.js
  client/state/signup/progress/reducer.js
Labels: Signup, Testing, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Defect

#30570 NUX: Update vertical argument properties on the About step.
  client/signup/steps/about/index.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Defect

#30757 State: Remove siteSupportsJetpackSettingsUi selector
  client/state/sites/selectors.js
  client/state/sites/test/selectors.js
Labels: Jetpack, Site Settings, State, [Status] Needs Review, [Type] Janitorial

#30771 fix(build): Remove unneeded checks for up to date node_modules in packages
  bin/install-if-deps-outdated.js
  client/components/purchase-detail/index.jsx
  client/components/purchase-detail/test/index.jsx
Labels: Build, [Status] Needs Review

#30753 Migrate CountrySelect component from create-react-class to ES6 class
  client/my-sites/domains/components/form/country-select.jsx
Labels: Domains, [Status] Needs Review, [Type] Janitorial

#30779 Update site accelerator card link to performance tab
  client/blocks/product-purchase-features-list/jetpack-site-accelerator.jsx
Labels: FixTheFlows, Jetpack, Plans, Site Settings, [Status] Ready to Merge

#30780 Tiled Gallery: Use correct __ implementation
  client/gutenberg/extensions/tiled-gallery/layout/index.js
Labels: Tiled Galleries, [Status] Needs Review, [Type] Janitorial, i18n

#30775 AB Test: Use defaultVariation in testing environment
  client/lib/abtest/index.js
  client/lib/abtest/test/index.js
Labels: Testing, [Status] Needs Review, [Type] Question, [Type] Task

#25852 Memberships: enable the subscription list
  client/me/memberships/main.jsx
  client/me/memberships/subscription.jsx
  client/me/purchases/index.js
  client/me/purchases/purchases-list/header/index.jsx
  client/state/memberships/reducer.js
  client/state/reducer.js
  config/wpcalypso.json
Labels: Subscriptions, [Status] Needs Review

#30785 Color Schemes: Fix title color for devdocs to work with color schemes
  client/devdocs/style.scss
Labels: Color Schemes, [Status] Needs Review

#30784 Accessibility: Fix accessibility of success badge component
  client/components/badge/style.scss
Labels: Accessibility, [Status] Needs Design Review, [Status] Needs Review

#30600 Color Schemes: Ensure hover color on sidebar links stay consistent
  client/layout/sidebar/style.scss
Labels: Color Schemes

#30776 Slideshow: Add UI tweaks to bring consistency with margins
  client/gutenberg/extensions/slideshow/style.scss
Labels: Slideshow, [Goal] Gutenberg, [Status] Ready to Merge

#30795 Signup: bump `improvedOnboarding` test date.
  client/lib/abtest/active-tests.js
Labels: Signup

#30708 Color Schemes: Update colors in the Reader Lists and Tags areas
  client/reader/sidebar/style.scss
Labels: Color Schemes, [Status] Needs Review

#30705 Gutenberg: allow to obtain the site fragment in a new way after addition in Jetpack
  client/gutenberg/extensions/presets/jetpack/editor-shared/get-site-fragment.js
  client/gutenberg/extensions/presets/jetpack/editor-shared/test/get-site-fragment.js
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Janitorial

#30504 LinkedIn migration - Publicize: add a notice in Gutenberg panel
  client/gutenberg/extensions/publicize/connection.jsx
  client/gutenberg/extensions/publicize/store/selectors.js
  client/my-sites/sharing/connections/service.jsx
  client/my-sites/sharing/style.scss
  client/post-editor/editor-sharing/publicize-connection.jsx
  client/post-editor/editor-sharing/style.scss
Labels: Publicize, [Goal] Gutenberg, [Status] Needs Review, [Type] Enhancement

#30684 Ensure that the cost parameter of product objects are floats.
  client/state/products-list/actions.js
  client/state/products-list/assembler.js
  client/state/products-list/schema.js
Labels: Domains, [Status] Ready to Merge

#30586 Show renewal pricing for domain registrations.
  client/components/domains/domain-product-price/index.jsx
  client/components/domains/domain-product-price/style.scss
  client/components/domains/domain-suggestion/style.scss
  client/components/domains/map-domain-step/index.jsx
  client/components/domains/transfer-domain-step/index.jsx
  client/components/domains/transfer-domain-step/style.scss
  client/components/domains/use-your-domain-step/index.jsx
  client/lib/cart-values/cart-items.js
  client/my-sites/checkout/cart/cart-item.jsx
Labels: Domains, [Status] Ready to Merge

#30756 Tiled gallery block: remove gallery shortcode transform
  client/gutenberg/extensions/tiled-gallery/index.js
Labels: Tiled Galleries, [Goal] Gutenberg, [Pri] Normal, [Status] Ready to Merge

#29976 Launch Private by default to all users
  client/lib/abtest/active-tests.js
  client/lib/signup/step-actions.js
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#30546 Use VideoPress player on core video blocks
  client/gutenberg/extensions/videopress/edit.js
  client/gutenberg/extensions/videopress/editor.js
  client/gutenberg/extensions/videopress/loading.js
  client/gutenberg/extensions/videopress/save.js
  client/gutenberg/extensions/videopress/utils.js
Labels: [Goal] Gutenberg, [Status] Needs Review

#30713 Related Post Settings: Add Notice
  client/my-sites/site-settings/related-posts/index.jsx
  client/my-sites/site-settings/related-posts/style.scss
Labels: OSS Citizen, Related Posts, [Goal] Gutenberg, [Status] Ready to Merge
