Repository Automattic/wp-calypso, pull requests merged in 2019-01, with the labels that each got.

#29791 Gutenlypso: Preserve block attributes when updating media
  client/gutenberg/editor/hooks/components/media-upload/index.js
  client/gutenberg/editor/main.jsx
  client/gutenberg/editor/utils/media-updater/index.js
Labels: Media, [Goal] Gutenberg, [Pri] High, [Status] Needs Review, [Type] Bug

#29758 Gutenlypso: Polish trash flow
  client/gutenberg/editor/components/post-trash-link/index.js
  client/gutenberg/editor/edit-post/components/sidebar/post-trash/index.js
  client/gutenberg/editor/layout/browser-url/index.jsx
  client/gutenberg/editor/layout/index.jsx
  client/state/selectors/get-post-type-trash-url.js
Labels: [Goal] Gutenberg, [Pri] Normal, [Status] Needs Review, [Type] Task

#29838 Build: also update the renovate hourly limit to 50 prs per hour
  renovate.json
Labels: Build, [Status] Needs Review

#29019 NUX Onboarding: Add site style step
  client/lib/signup/site-styles.js
  client/lib/signup/step-actions.js
  client/signup/config/flows-pure.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/main.jsx
  client/signup/site-mockup/index.jsx
  client/signup/site-mockup/mock-data.js
  client/signup/site-mockup/site-mockup.jsx
  client/signup/site-mockup/style.scss
  client/signup/steps/site-style/index.jsx
  client/signup/steps/site-style/style.scss
  client/signup/steps/site-style/test/__snapshots__/index.js.snap
  client/signup/steps/site-style/test/index.js
  client/state/signup/steps/reducer.js
  client/state/signup/steps/site-style/test/selectors.js
Labels: NUX, Signup, [Status] Ready to Merge, [Type] Feature progress

#29556 Gutenberg: Add copy button to Shortlinks
  client/gutenberg/extensions/shortlinks/editor.scss
  client/gutenberg/extensions/shortlinks/panel.js
Labels: Jetpack, [Goal] Gutenberg, [Pri] Low, [Status] Ready to Merge, [Type] Feature progress

#29824 Fixes wrong selected domain name
  client/my-sites/domains/domain-management/add-google-apps/add-email-addresses-card.jsx
  client/my-sites/domains/domain-management/email/add-google-apps-card.jsx
Labels: Google Apps, [Status] Ready to Merge, [Type] Bug

#29857 Refactor: Replace use of key-mirror with inline code
  CREDITS.md
  client/lib/invites/constants.js
  client/lib/media/constants.js
  client/me/security-account-recovery/manage-contact.jsx
  client/my-sites/domains/domain-management/domain-connect/constants.js
  npm-shrinkwrap.json
  package.json
  packages/i18n-calypso/package-lock.json
Labels: Framework, [Status] Needs Review

#29875 Gutenlypso: add back duplicate a post functionality
  client/gutenberg/editor/controller.js
  client/gutenberg/editor/edit-post/editor.js
  client/gutenberg/editor/main.jsx
  client/my-sites/pages/page/index.js
  client/state/ui/editor/selectors.js
Labels: [Goal] Gutenberg, [Status] Needs Review

#29859 Site Picker: Change wording of /page to match /post
  client/my-sites/sites/index.jsx
  client/post-editor/controller.js
Labels: Site Picker, [Status] Needs Review

#29877 Gutenlypso: make sure titles load on second edit
  client/gutenberg/editor/main.jsx
Labels: [Goal] Gutenberg, [Status] Needs Review

#29741 Fix/ad tracking gdpr signup issue
  client/lib/analytics/ad-tracking.js
Labels: Analytics, [Status] Ready to Merge

#29650 Gutenberg: Move Related Posts to production blocks
  client/gutenberg/extensions/presets/jetpack/index.json
Labels: Jetpack, Related Posts, [Goal] Gutenberg, [Pri] High, [Status] Ready to Merge

#29790 Gutenlypso: add convert to blocks dialog
  client/gutenberg/editor/components/convert-to-blocks/index.jsx
  client/gutenberg/editor/components/convert-to-blocks/style.scss
  client/gutenberg/editor/main.jsx
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Task

#29883 Gutenberg: Move Shortlinks extension to production
  client/gutenberg/extensions/presets/jetpack/index.json
Labels: Jetpack, [Goal] Gutenberg, [Pri] Normal, [Status] Needs Review

#29832 Prevent scrolling up when opening a dialog
  client/components/dialog/dialog-base.jsx
  client/components/dialog/style.scss
Labels: Editor, Media, [Goal] Gutenberg, [Pri] High, [Status] Needs Design Review, [Status] Needs Review, [Type] Bug

#29776 Tiled galleries: Disable captions
  client/gutenberg/extensions/tiled-gallery/edit.jsx
  client/gutenberg/extensions/tiled-gallery/editor.scss
  client/gutenberg/extensions/tiled-gallery/gallery-image/edit.js
  client/gutenberg/extensions/tiled-gallery/gallery-image/save.js
  client/gutenberg/extensions/tiled-gallery/view.scss
Labels: Tiled Galleries, [Status] Needs Review

#29873 Disable select when only one domain exiists
  client/my-sites/domains/domain-management/add-google-apps/domains-select.jsx
  client/my-sites/domains/domain-management/add-google-apps/test/__snapshots__/domains-select.js.snap
  client/my-sites/domains/domain-management/style.scss
Labels: Google Apps, [Status] Ready to Merge

#29884 Site picker: Change wording of /edit routes to match the rest of the editor routes
  client/my-sites/sites/index.jsx
Labels: Site Picker

#29891 Prettier formatting changes
  client/my-sites/domains/domain-management/add-google-apps/add-email-addresses-card.jsx
  client/signup/navigation-link/index.jsx
Labels: Google Apps, [Status] Ready to Merge

#29568 Signup: Update site-type CSS
  client/signup/steps/site-type/index.jsx
  client/signup/steps/site-type/style.scss
  client/signup/style.scss
Labels: Signup, [Status] Ready to Merge

#29725 Jetpack Connect: track affiliate code
  client/jetpack-connect/authorize.js
  client/jetpack-connect/main.jsx
Labels: [Status] Needs Review, [Type] Enhancement

#29889 Privacy: add missing end period in help text.
  client/me/privacy/main.jsx
Labels: Help, Privacy/GDPR, [Status] Needs Review

#29895 Jetpack Gutenberg Preset: Introduce isJetpackExtensionAvailable() helper
  client/gutenberg/extensions/presets/jetpack/utils/is-jetpack-extension-available.js
  client/gutenberg/extensions/presets/jetpack/utils/refresh-registrations.js
  client/gutenberg/extensions/presets/jetpack/utils/register-jetpack-block.js
  client/gutenberg/extensions/presets/jetpack/utils/register-jetpack-plugin.js
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review

#29898 Gutenberg Jetpack Preset: Register Child Blocks if their parent is available
  client/gutenberg/extensions/contact-form/editor.js
  client/gutenberg/extensions/presets/jetpack/utils/register-jetpack-block.js
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review

#28911 Thank you card: improve Jetpack set up experience
  client/blocks/plan-thank-you-card/style.scss
  client/components/progress-bar/style.scss
  client/components/thank-you-card/style.scss
  client/my-sites/checkout/checkout-thank-you/jetpack-thank-you-card.jsx
  client/my-sites/checkout/checkout-thank-you/style.scss
Labels: Design, Jetpack, NUX, Post Checkout, [Status] Needs Review

#29564 Adds tracks event for action that was removed
  client/components/upgrades/google-apps/google-apps-dialog/index.jsx
Labels: [Status] Ready to Merge

#29808 My plan: Concierge: Update copy for Jetpack sites
  client/blocks/product-purchase-features-list/business-onboarding.jsx
  client/blocks/product-purchase-features-list/index.jsx
Labels: Jetpack, Plans, [Status] Needs Review, [Type] Enhancement

#29794 Onboarding Checklist: Add gsuite tos acceptance task
  client/components/checklist/style.scss
  client/components/checklist/task.js
  client/lib/google-apps/index.js
  client/my-sites/checklist/wpcom-checklist/component.jsx
  client/my-sites/checklist/wpcom-checklist/wpcom-task-list.js
  client/my-sites/domains/components/domain-warnings/pending-gapps-tos-notice.jsx
Labels: Google Apps, [Status] Ready to Merge

#29858 Gutenlypso: update calypso classic block to update block content even if the editor instance is marked for removal
  client/gutenberg/extensions/classic-block/edit.jsx
Labels: [Goal] Gutenberg, [Status] Needs Review, [Status] Needs e2e Testing

#29918 Gutenlypso: Title is incorrectly removed after draft, navigation, edit
  client/gutenberg/editor/layout/browser-url/index.jsx
  client/gutenberg/editor/main.jsx
Labels: [Goal] Gutenberg, [Status] Needs Review

#29865 NUX: Updating site style step and options key identifier
  client/lib/signup/site-styles.js
  client/signup/site-mockup/style.scss
  client/signup/steps/site-style/index.jsx
  client/signup/steps/site-style/style.scss
Labels: NUX, Signup, [Status] Ready to Merge, [Type] Defect

#29908 Gutenlypso: Re-enable the File block
  client/gutenberg/editor/hooks/components/media-upload/index.js
  client/gutenberg/editor/init.js
  client/gutenberg/editor/style.scss
Labels: [Goal] Gutenberg, [Pri] High, [Status] Needs Review, [Type] Enhancement

#29911 Gutenlypso: Add more post attributes to the copy post logic
  client/gutenberg/editor/main.jsx
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Enhancement

#29597 Settings: add new performance tab
  client/my-sites/site-settings/form-writing.jsx
  client/my-sites/site-settings/media-settings-performance.jsx
  client/my-sites/site-settings/media-settings-writing.jsx
  client/my-sites/site-settings/navigation.jsx
  client/my-sites/site-settings/placeholder.jsx
  client/my-sites/site-settings/settings-performance/controller.js
  client/my-sites/site-settings/settings-performance/index.js
  client/my-sites/site-settings/settings-performance/main.jsx
  client/my-sites/site-settings/settings-traffic/main.jsx
  client/my-sites/site-settings/style.scss
  client/wordpress-com.js
Labels: Design, Jetpack, Site Settings, [Status] Ready to Merge

#29897 Update SASS variables to use muriel colors by default
  assets/stylesheets/shared/_colors.scss
Labels: Color Schemes, [Status] Needs Review

#29933 sidebar: use accent color on hover for action button
  client/layout/sidebar/style.scss
Labels: Color Schemes, [Status] Needs Review

#29687 classic-bright-blue: calm down form field focus & hover styles
  assets/stylesheets/shared/_extends-forms.scss
  assets/stylesheets/shared/_forms.scss
  client/components/forms/form-select/style.scss
  client/components/forms/form-text-input-with-action/style.scss
  client/components/search/style.scss
  client/components/site-selector/style.scss
Labels: Color Schemes, [Status] Needs Review

#29720 insights(all-time-views): adjust colors to fit classic bright & blue
  client/my-sites/stats/stats-views/style.scss
Labels: Color Schemes, [Status] Needs Review

#29954 Fix up hover to use darker neutral, use color variables in general
  client/components/foldable-card/style.scss
Labels: Color Schemes, [Status] Needs Review

#29955 Use neutral instead of accent for purchase item icons
  client/me/purchases/purchase-item/style.scss
Labels: Color Schemes, [Status] Needs Review

#29956 Use a normal button instead of a primary button when starting an import
  client/my-sites/importer/importer-header/start-button.jsx
Labels: Color Schemes, [Status] Needs Review

#29172 NUX Onboarding: update site-topic step to use verticals endpoint
  client/components/site-verticals-suggestion-search/README.md
  client/components/site-verticals-suggestion-search/index.jsx
  client/components/site-verticals-suggestion-search/test/__snapshots__/index.js.snap
  client/components/site-verticals-suggestion-search/test/index.js
  client/components/suggestion-search/README.md
  client/components/suggestion-search/index.jsx
  client/components/suggestions/item.jsx
  client/components/suggestions/style.scss
  client/lib/signup/hint-data.js
  client/signup/steps/about/index.jsx
  client/signup/steps/site-topic/index.jsx
  client/state/signup/steps/site-vertical/actions.js
  client/state/signup/steps/site-vertical/reducer.js
  client/state/signup/steps/site-vertical/schema.js
  client/state/signup/steps/site-vertical/selectors.js
  client/state/signup/steps/site-vertical/test/actions.js
  client/state/signup/steps/site-vertical/test/reducer.js
  client/state/signup/steps/site-vertical/test/selectors.js
Labels: NUX, Signup, [Status] Needs Review, [Type] Enhancement

#29944 Colour Scheming: Update Featured Image Drop Zone
  client/components/drop-zone/style.scss
Labels: Color Schemes, OSS Citizen, [Status] Needs Review

#29812 plan-skip-button: remove rtl specific arrow overwrite
  client/components/plans/plans-skip-button/index.jsx
  client/components/plans/plans-skip-button/test/__snapshots__/index.jsx.snap
  client/components/plans/plans-skip-button/test/index.jsx
Labels: [Status] Needs Review, [Type] Bug

#29963 Tiled Gallery: Capital case block name
  client/gutenberg/extensions/tiled-gallery/index.js
Labels: Design, Tiled Galleries, [Status] Ready to Merge, [Type] Janitorial

#29964 Jetpack blocks: Title case block titles
  client/gutenberg/extensions/contact-form/index.js
  client/gutenberg/extensions/subscriptions/index.js
Labels: Contact Form, Design, Subscriptions, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Janitorial

#29958 Update text color of the Purchase Item titles
  client/me/purchases/manage-purchase/style.scss
  client/me/purchases/purchase-item/style.scss
Labels: Color Schemes, [Status] Needs Review

#29968 Revert "Revert "plan-skip-button: remove rtl specific arrow overwrite"
  client/components/plans/plans-skip-button/index.jsx
  client/components/plans/plans-skip-button/test/__snapshots__/index.jsx.snap
  client/components/plans/plans-skip-button/test/index.jsx
Labels: [Status] Needs Review

#29731 Colour Scheming: Update Pre-Publish Prompt Wording
  client/post-editor/editor-confirmation-sidebar/header.jsx
Labels: Color Schemes, OSS Citizen, [Status] Needs Copy Review, [Status] Needs Review

#29988 enable feature flag in all envs for color schemes
  config/desktop.json
  config/horizon.json
  config/production.json
  config/stage.json
Labels: Color Schemes, [Status] Needs Review

#29552 Signup: Processing screen logo animation adjust easing and transition time
  client/signup/processing-screen/style.scss
  client/signup/signup-header/style.scss
Labels: Signup

#29990 Fix CI builds
  .circleci/config.yml
Labels: Build, [Status] Needs Review

#29992 Themes: Remove unnecessary z-index
  client/my-sites/themes/themes-banner/style.scss
Labels: Themes, [Type] Bug

#29996 Fix eslint runs with many changes
  .circleci/config.yml
Labels: Build, [Status] Needs Review

#29902 NUX: Anonymize site information tracking data
  client/lib/signup/actions.js
  client/signup/steps/site-information/index.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Metrics

#30001 Make link buttons in notice text white
  client/components/notice/style.scss
Labels: Color Schemes, [Status] Needs Review

#30006 Revert Lerna hotfixes that are no longer needed after Lerna 3.9.1 upgrade
  .circleci/config.yml
  Dockerfile
Labels: Build, [Status] Ready to Merge

#30009 Colour Scheme Picker: Update Classic Blue
  public/images/color-schemes/color-scheme-thumbnail-default.svg
Labels: Color Schemes, [Status] Needs Review

#30002 Fix hidden masterbar icons on safari
  client/layout/masterbar/style.scss
Labels: Color Schemes, [Status] Needs Review, [Type] Defect

#27247 Send View Site page views to Tracks and Happychat
  client/my-sites/preview/main.jsx
  client/state/happychat/middleware-calypso.js
Labels: Happychat, [Status] Needs Review

#29942 Tiled gallery: Improve icon size and color
  client/gutenberg/extensions/tiled-gallery/index.js
Labels: Design, Tiled Galleries, [Goal] Gutenberg, [Status] Ready to Merge

#29941 Tiled gallery: Remove <a> href from edit to prevent navigation
  client/gutenberg/extensions/tiled-gallery/gallery-image/edit.js
Labels: Tiled Galleries, [Status] Ready to Merge, [Type] Defect

#30032 Remove work fascinating from ToS.
  client/blocks/signup-form/index.jsx
  client/jetpack-connect/site-url-input.jsx
  client/my-sites/checkout/checkout/terms-of-service.jsx
Labels: Jetpack, NUX, [Status] Ready to Merge, [Type] Enhancement

#29981 DatePicker locale props API fix and update
  client/components/date-picker/README.md
  client/components/date-picker/index.jsx
  client/components/post-schedule/index.jsx
Labels: Components, [Status] Needs Review

#29991 Update/email forwarding item es6 class
  client/lib/mixins/analytics/index.js
  client/my-sites/domains/domain-management/email-forwarding/email-forwarding-item.jsx
  client/my-sites/domains/domain-management/email-forwarding/test/__snapshots__/email-forwarding-item.js.snap
  client/my-sites/domains/domain-management/email-forwarding/test/email-forwarding-item.js
Labels: Domains, [Status] Ready to Merge

#29869 Importers: Disable email verification gate when unlaunched
  client/components/email-verification/email-verification-gate.jsx
  client/my-sites/site-settings/section-import.jsx
  client/state/selectors/is-unlaunched-site.js
Labels: Import, Signup, [Status] Needs Design Review, [Status] Needs e2e Testing, [Status] Ready to Merge

#30016 Tiled Gallery: Add column support to mosaic columns
  client/gutenberg/extensions/tiled-gallery/edit.jsx
  client/gutenberg/extensions/tiled-gallery/layout/index.js
  client/gutenberg/extensions/tiled-gallery/layout/mosaic/index.js
  client/gutenberg/extensions/tiled-gallery/layout/mosaic/ratios.js
Labels: Jetpack, Tiled Galleries, [Goal] Gutenberg, [Status] Needs Review, [Status] Ready to Merge, [Type] Enhancement

#30003 Use orange as the accent for classic blue
  assets/stylesheets/shared/_color-schemes.scss
  public/images/color-schemes/color-scheme-thumbnail-default.svg
Labels: Color Schemes, [Status] Needs Review

#29993 Signup: Remove The Floating Squares
  client/signup/style.scss
Labels: Signup, [Status] Needs Review

#30050 adjust dot indicator color to use 300 variant
  assets/stylesheets/shared/_color-schemes.scss
  client/blocks/inline-help/style.scss
  client/layout/masterbar/style.scss
Labels: Color Schemes, [Status] Needs Review

#30056 stats(chart): increase contrast between bars
  client/components/chart/style.scss
Labels: Color Schemes, [Status] Needs Review

#30034 my-sites(sharing): remove .sharing-service-action class
  client/my-sites/sharing/style.scss
Labels: Color Schemes, [Status] Needs Review

#30063 Signup: Reduce space between Back button and the left side of the screen
  client/signup/style.scss
Labels: Signup, [Status] Needs Review

#30005 Refactor Add G Suite Users entry
  client/my-sites/controller.js
  client/my-sites/domains/domain-management/README.md
  client/my-sites/domains/domain-management/controller.jsx
  client/my-sites/domains/domain-management/domain-management.jsx
  client/my-sites/domains/domain-management/email/google-apps-users-card.jsx
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/index.jsx
  client/my-sites/domains/domain-management/gsuite/gsuite-purchase-cta/index.jsx
  client/my-sites/domains/index.js
  client/my-sites/domains/paths.js
Labels: Domains, G Suite, [Status] Needs Review

#29494 Signup: Remove the domains step from the onboarding flow
  client/lib/abtest/active-tests.js
  client/lib/signup/step-actions.js
  client/signup/config/flows.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/steps/site-information/index.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#30073 Browser notifications: Update border color for `Enable` button
  client/me/notification-settings/push-notification-settings/style.scss
Labels: Color Schemes

#30055 Colour Scheming: Add Brand Colours
  assets/stylesheets/shared/_color-schemes.scss
Labels: Color Schemes, [Status] Needs Review

#30075 Revert photon@3.0.0 upgrade #29970
  npm-shrinkwrap.json
  package.json
Labels: [Pri] High, [Status] Ready to Merge, [Type] Bug

#28269 Primary domain: General changes to the explanation
  client/my-sites/domains/domain-management/primary-domain/index.jsx
Labels: Domains, [Status] Needs Review, [Type] Enhancement

#29722 Contact Form Block: Make submit button more editable
  client/gutenberg/extensions/contact-form/components/jetpack-contact-form.jsx
  client/gutenberg/extensions/contact-form/index.js
  client/gutenberg/extensions/presets/jetpack/utils/submit-button.js
Labels: Contact Form, Subscriptions, [Goal] Gutenberg, [Status] Needs Design Review, [Status] Needs Review

#30078 stats: use accent colors for geochart
  client/my-sites/stats/geochart/index.jsx
Labels: Color Schemes, [Status] Needs Review

#30069 Moves the G Suite add user form
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/add-users.jsx
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/add-users.scss
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/domains-select.jsx
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/index.jsx
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/test/__snapshots__/domains-select.js.snap
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/test/domains-select.js
  client/my-sites/domains/domain-management/style.scss
Labels: G Suite, [Status] Ready to Merge

#29998 Signup: Tweaks to site previews on mobile
  client/signup/site-mockup/site-mockup.scss
  client/signup/site-mockup/style.scss
Labels: Signup, [Status] Needs Design Review, [Status] Needs Review

#29798 Test showing the concierge session upsell to users after plan purchase (non G Suite flow)
  client/lib/abtest/active-tests.js
  client/my-sites/checkout/checkout/checkout.jsx
  client/my-sites/checkout/concierge-session-nudge/index.jsx
  client/state/selectors/is-eligible-for-checkout-to-checklist.js
Labels: Checkout, [Status] Needs Review

#30105 Seperate out G Suite user form
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/add-users.jsx
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/new-user-form.jsx
Labels: [Status] Needs Review

#29819 NUX: Genericizing Site Information Component
  client/signup/config/flows-pure.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/main.jsx
  client/signup/site-mockup/index.jsx
  client/signup/site-mockup/style.scss
  client/signup/steps/site-information/index.jsx
  client/signup/steps/site-information/style.scss
  client/signup/steps/site-information/test/__snapshots__/index.js.snap
  client/signup/steps/site-information/test/index.js
  client/signup/style.scss
  client/state/signup/steps/site-information/actions.js
  client/state/signup/steps/site-information/reducer.js
  client/state/signup/steps/site-information/schema.js
  client/state/signup/steps/site-information/selectors.js
  client/state/signup/steps/site-information/test/actions.js
  client/state/signup/steps/site-information/test/reducer.js
  client/state/signup/steps/site-information/test/selectors.js
  client/state/signup/steps/site-title/reducer.js
Labels: Signup, [Status] Needs Design Review, [Status] Needs Review, [Type] New feature

#29031 Signup: Redirect from signup/checkout to site preview
  client/my-sites/checkout/checkout/checkout.jsx
  client/my-sites/checkout/gsuite-nudge/index.jsx
  client/signup/processing-screen/index.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#30035 accordion: use new yellow colors for warning hover
  client/components/accordion/style.scss
Labels: Color Schemes, [Status] Needs Review

#30043 wc(order-status): use new yellow colors /wip
  client/extensions/woocommerce/components/order-status/style.scss
Labels: Color Schemes

#29900 Jetpack Blocks 11.1.0: release
  client/gutenberg/extensions/presets/jetpack/index.json
  client/gutenberg/extensions/presets/jetpack/package.json
Labels: Jetpack, Tiled Galleries, [Goal] Gutenberg, [Status] Ready to Merge

#30095 Launch private by default to 50%
  client/lib/abtest/active-tests.js
Labels: [Status] Needs Review

#30114 NUX: Cannot create a sign due to site information dependencies
  client/signup/config/steps-pure.js
  client/signup/steps/site-information/index.jsx
  client/signup/steps/site-information/test/index.js
  client/signup/steps/user/index.jsx
  client/state/signup/steps/site-information/reducer.js
Labels: NUX, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Bug

#30089 Jetpack Connect: Assure user is fetched before continuing after auth
  client/state/jetpack-connect/actions.js
Labels: Jetpack, NUX, [Pri] High, [Status] Ready to Merge

#30111 Tweak Style of G Suite Add User Form
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/add-users.scss
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/new-user-form.jsx
Labels: G Suite, [Status] Needs Review

#30045 Gutenlypso: Register server-defined blocks attributes (Take 2)
  client/gutenberg/editor/init.js
  client/state/data-getters/index.js
Labels: [Goal] Gutenberg, [Pri] High, [Status] Needs Review, [Type] Bug

#30092 Jetpack: Cobrand connection flow for Liquid Web sites
  client/components/jetpack-header/docs/example.js
  client/components/jetpack-header/index.jsx
  client/components/jetpack-header/liquidweb.jsx
  client/state/selectors/get-partner-slug-from-query.js
Labels: Jetpack, NUX

#30128 Bump/jetpack blocks version
  client/gutenberg/extensions/presets/jetpack/package.json
Labels: Jetpack, [Goal] Gutenberg, [Status] Ready to Merge

#30108 Separates G Suite add another user link
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/add-another-user-link.jsx
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/add-users.jsx
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/add-users.scss
Labels: G Suite, [Status] Needs Review

#30097 Build: Allow build concurrency to be limited
  Dockerfile
  webpack.common.js
  webpack.config.js
  webpack.config.node.js
Labels: Build, [Status] Needs Review, [Type] Enhancement

#30140 New site and cancel purchase survey: Change "setup" to "set up"
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/jetpack-connect/jetpack-new-site/index.jsx
Labels: [Status] Needs Review

#30119 NUX: Fixes the issue of multiple site creation in the remove domain abtest flow
  client/signup/config/steps-pure.js
Labels: NUX, Signup, [Status] Needs Review, [Type] Defect

#30134 Add Error for Already Used Emails to Add G Suite New User Form
  client/lib/domains/google-apps-users/index.js
  client/my-sites/domains/domain-management/controller.jsx
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/add-users.jsx
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/index.jsx
Labels: G Suite, [Status] Ready to Merge

#29959 Store: getIncludedDomainPurchase: do not return paid purchases
  client/lib/products-values/index.js
  client/lib/purchases/assembler.js
  client/me/purchases/cancel-purchase/refund-information.jsx
  client/state/purchases/selectors.js
  client/state/purchases/test/selectors.js
Labels: Purchases, Store, [Status] Needs Review

#30138 Update the Mastercard Logo
  public/images/upgrades/cc-mastercard-disabled.svg
  public/images/upgrades/cc-mastercard.svg
Labels: Design, [Status] Needs Review

#30162 chore(styles): update css pipeline to emit fallback colors for IE11
  .postcssrc.json
  assets/stylesheets/custom-properties.scss
  package.json
  postcss.config.js
  webpack.config.js
Labels: Color Schemes, Framework, [Status] Needs Review

#30132 Colour Scheming: Update Hover for Masterbar
  client/layout/masterbar/style.scss
Labels: Color Schemes, [Status] Needs Review

#29409 Inline Help: Show first checklist task in inline help
  client/blocks/inline-help/constants.js
  client/blocks/inline-help/popover.jsx
  client/blocks/inline-help/style.scss
  client/my-sites/checklist/wpcom-checklist/checklist-prompt/index.jsx
  client/my-sites/checklist/wpcom-checklist/checklist-prompt/style.scss
  client/my-sites/checklist/wpcom-checklist/checklist-prompt/task.jsx
  client/my-sites/checklist/wpcom-checklist/component.jsx
  client/my-sites/checklist/wpcom-checklist/index.jsx
  client/my-sites/preview/controller.js
  client/my-sites/preview/main.jsx
  client/state/action-types.js
  client/state/inline-help/actions.js
  client/state/inline-help/reducer.js
  client/state/inline-help/selectors.js
Labels: Checklist, [Status] Needs Review

#30130 Directly render G Suite Add Users
  client/my-sites/domains/domain-management/controller.jsx
  client/my-sites/domains/domain-management/domain-management.jsx
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/index.jsx
Labels: G Suite, [Status] Ready to Merge

#29490 Components: remove 'is-compact' style from PopoverMenuItem
  client/components/popover/style.scss
  client/my-sites/media-library/style.scss
Labels: Components, [Status] Needs Review, [Type] Janitorial

#30131 Plans: Change the "popular" plan to premium
  client/my-sites/plans-features-main/index.jsx
Labels: Plans

#29948 Ecommerce Plan: Only show the store setup page when the ecom plan is …
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/my-sites/checkout/checkout-thank-you/test/index.js
Labels: Plans, [Status] Needs Review

#30167 Migrate CSS styles of Feature Upsell components to the webpack pipeline
  assets/stylesheets/sections/feature-upsell.scss
  client/my-sites/feature-upsell/main.jsx
  client/wordpress-com.js
Labels: Build, [Status] Needs Review, [Type] Janitorial

#29420 Rewind: Add ability to do a partial restore
  client/my-sites/activity/activity-log-confirm-dialog/index.jsx
  client/my-sites/activity/activity-log-confirm-dialog/style.scss
  client/my-sites/activity/activity-log-item/index.jsx
  client/state/activity-log/actions.js
  client/state/data-layer/wpcom/activity-log/rewind/downloads/index.js
  client/state/data-layer/wpcom/activity-log/rewind/to/index.js
  config/development.json
  config/horizon.json
  config/stage.json
  config/wpcalypso.json
Labels: [Status] In Progress, [Status] Needs Design Review

#29913 Signup: Add styles for default site mockup content/style
  client/signup/site-mockup/mock-data.js
  client/signup/site-mockup/site-mockup.jsx
  client/signup/site-mockup/site-mockup.scss
  client/signup/site-mockup/style.scss
Labels: NUX, Signup, [Status] Needs Design Review, [Status] Needs Review

#30175 Rewind: Do not allow partial restores in staging
  config/stage.json
Labels: Activity Log, [Size] S, [Status] Needs Review

#29863 NUX: Add site preview flow and step config
  client/signup/config/flows-pure.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/main.jsx
  client/signup/site-mockup/index.jsx
  client/signup/step-wrapper/index.jsx
  client/signup/steps/domains/index.jsx
  client/signup/steps/site-information/index.jsx
  client/signup/steps/site-style/index.jsx
  client/signup/steps/site-style/test/__snapshots__/index.js.snap
  client/signup/steps/site-style/test/index.js
  client/signup/steps/site-topic/index.jsx
  client/signup/steps/site-type/index.jsx
  client/state/signup/steps/site-vertical/actions.js
Labels: NUX, Signup, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Feature progress

#30181 Signup: update `/onboarding-dev/` flow to match `/onboarding/` destination.
  client/signup/processing-screen/index.jsx
Labels: Signup

#28814 Add PendingPaymentBlocker (checkout blocker)
  client/my-sites/checkout/checkout/checkout.jsx
  client/my-sites/checkout/checkout/pending-payment-blocker.jsx
  client/my-sites/checkout/checkout/test/checkout.js
  client/my-sites/checkout/checkout/test/pending-payment-blocker.js
Labels: [Status] Needs Copy Review, [Status] Ready to Merge

#30154 geochart: add colors fallback
  client/my-sites/stats/geochart/index.jsx
Labels: Color Schemes, [Status] Ready to Merge

#30150 sidebar(selected): use 'accent' color for action button hover
  client/layout/sidebar/style.scss
Labels: Color Schemes, [Status] Needs Review

#30160 Add color scheme properties to editor CSS
  assets/stylesheets/editor.scss
  client/components/tinymce/index.jsx
  client/components/tinymce/plugins/wpcom/plugin.js
Labels: Color Schemes, [Status] Ready to Merge, [Type] Defect

#29890 Inline Help: Add dismiss button to Checklist Prompt task
  client/blocks/inline-help/popover.jsx
  client/my-sites/checklist/wpcom-checklist/checklist-prompt/style.scss
  client/my-sites/checklist/wpcom-checklist/checklist-prompt/task.jsx
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: Help, [Status] Needs Review, [Status] Needs e2e Testing

#30190 Fix typos in G Suite tracking
  client/my-sites/domains/domain-management/gsuite/gsuite-add-users/add-users.jsx
Labels: G Suite, [Status] Ready to Merge

#30172 Add email forwarding option when no site selected
  client/my-sites/domains/domain-management/email/index.jsx
Labels: G Suite, [Status] Ready to Merge

#30110 Push Notification: Add VAPID support via applicationServerKey
  client/state/push-notifications/actions.js
  client/state/push-notifications/utils.js
  config/_shared.json
Labels: Notifications, [Status] Ready to Merge

#30163 Signup: load fonts in `SiteMockup`
  client/lib/signup/font-loader.js
  client/lib/signup/site-styles.js
  client/signup/site-mockup/index.jsx
  client/signup/steps/site-style/index.jsx
  npm-shrinkwrap.json
  package.json
Labels: Signup, [Status] Needs Review

#30184 Fix: The non-pure render function of <SignupProcessingScreen>
  client/signup/main.jsx
  client/signup/processing-screen/index.jsx
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#30197 NUX: Make site information input styles consistent for smaller screens
  client/signup/steps/site-information/style.scss
Labels: NUX, [Status] Needs Review, [Type] Bug

#30126 chore(deps): Update Renovate config to use semantic commits
  renovate.json
Labels: Framework, [Status] Needs Review

#30161 Simplifying mockup/preview in related posts block
  client/gutenberg/extensions/related-posts/constants.js
  client/gutenberg/extensions/related-posts/edit.jsx
  client/gutenberg/extensions/related-posts/index.js
  client/gutenberg/extensions/related-posts/style.scss
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review

#30201 Update/push notification notices
  client/me/notification-settings/push-notification-settings/style.scss
Labels: Color Schemes, [Status] Needs Review

#30209 Pin the color-studio dependency to specific Git tag, import color-variables correctly
  assets/stylesheets/shared/_colors.scss
  npm-shrinkwrap.json
  package.json
Labels: Build, [Status] Needs Review

#30211 Build: Fix missing generated file breaking SDK
  .circleci/config.yml
Labels: Build, Jetpack, [Project] SDK, [Status] Ready to Merge, [Type] Bug

#30212 Signup: Removing the transitionGroup from domains
  client/signup/steps/domains/index.jsx
Labels: Domains, NUX, Signup, [Status] Needs Review

#30082 signup(site-type): update colors to use css vars
  client/signup/steps/site-type/style.scss
Labels: Color Schemes, [Status] Needs Review

#30210 button: use css custom props for usage of white
  client/components/button/style.scss
Labels: Color Schemes, [Status] Needs Review

#30027 notifications: use new yellow for pending comments
  client/notifications/src/panel/boot/stylesheets/main.scss
Labels: Color Schemes, [Status] Needs Review

#30070 Re-route Upwork-eligible users from Happychat to Tickets
  client/state/selectors/get-inline-help-support-variation.js
  client/state/selectors/is-eligible-for-upwork-support.js
  client/state/selectors/test/is-eligible-for-upwork-support.js
Labels: Help, Support, [Status] Ready to Merge

#30218 Colour Scheming: Stats - Turn Level 3 Text Colour White
  client/my-sites/stats/stats-views/style.scss
Labels: Color Schemes, [Status] Needs Review

#30215 Extract code to build custom properties defs to script and use in prebuild-css and webpack
  .circleci/config.yml
  bin/build-custom-properties-css.js
  package.json
  webpack.config.js
Labels: Build, [Status] Needs Review

#30085 NUX: Adds a default value for site style if none is selected
  client/signup/steps/site-style/index.jsx
  client/signup/steps/site-style/test/index.js
Labels: NUX, Signup, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Defect

#30228 NUX: set site preview to default to user device
  client/my-sites/preview/main.jsx
Labels: NUX, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Bug

#30084 Colour Scheming: Update External Brand Variables
  assets/stylesheets/shared/_color-schemes.scss
  assets/stylesheets/shared/_colors.scss
  client/blocks/post-share/style.scss
  client/blocks/reader-share/style.scss
  client/components/share-button/style.scss
  client/extensions/woocommerce/components/share-widget/style.scss
  client/gutenberg/extensions/publicize/editor.scss
  client/my-sites/activity/activity-log-item/style.scss
  client/my-sites/sharing/style.scss
Labels: Color Schemes, [Status] Ready to Merge

#30156 State Persistence: add tests for loading initial state with dynamic reducers
  client/boot/app.js
  client/state/initial-state.js
  client/state/test/initial-state.js
Labels: Framework, State, [Status] Needs Review

#30151 Docs: add section about dynamic reducers to our data persistence docs
  docs/data-persistence.md
  docs/our-approach-to-data.md
Labels: Documentation, [Status] Needs Review

#30205 Upgrade webpack-rtl-plugin to 1.8.0 which upgrades cssnano from v3 to v4
  npm-shrinkwrap.json
  package.json
  webpack.config.js
Labels: Build, [Status] Needs Review, [Type] Janitorial

#30100 Domains: A/B test only one primary button on domain suggestions
  client/components/domains/domain-registration-suggestion/index.jsx
  client/components/domains/domain-suggestion/index.jsx
  client/components/domains/domain-suggestion/style.scss
  client/components/domains/domain-transfer-suggestion/index.jsx
  client/components/domains/domain-transfer-suggestion/style.scss
  client/components/domains/featured-domain-suggestions/index.jsx
  client/components/domains/featured-domain-suggestions/styles/base.scss
  client/components/domains/register-domain-step/style.scss
  client/lib/abtest/active-tests.js
Labels: Domains, [Status] Needs Review

#30236 Fix WordAds stats charts not loading.
  client/my-sites/stats/wordads-chart-tabs/index.jsx
Labels: Stats, WordAds, [Status] Ready to Merge, [Type] Bug

#30235 Remove the hide username test
  client/lib/abtest/active-tests.js
  client/signup/config/steps-pure.js
  client/signup/config/steps.js
Labels: [Status] Needs Review

#30182 NUX: integrate preview response from verticals endpoint
  client/components/site-verticals-suggestion-search/index.jsx
  client/signup/site-mockup/index.jsx
  client/signup/site-mockup/mock-data.js
  client/signup/site-mockup/site-mockup.jsx
  client/signup/steps/site-topic/index.jsx
  client/state/signup/steps/site-vertical/actions.js
  client/state/signup/steps/site-vertical/reducer.js
  client/state/signup/steps/site-vertical/schema.js
  client/state/signup/steps/site-vertical/selectors.js
  client/state/signup/steps/site-vertical/test/actions.js
  client/state/signup/steps/site-vertical/test/reducer.js
  client/state/signup/steps/site-vertical/test/selectors.js
Labels: NUX, Signup, [Status] Ready to Merge, [Type] Feature progress
