Repository Automattic/wp-calypso, pull requests merged in 2019-12, with the labels that each got.

#38041 Reader Conversations: fix clipping of descenders in Firefox on title
  client/reader/conversations/stream.scss
Labels: Reader, [Status] Needs Review

#38108 Add/test fse only choose compatible themes
  client/lib/signup/themes-data.js
  client/signup/config/flows-pure.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
Labels: Frontend, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#38101 Checklist: fix typo in "up-to-date"
  client/layout/guided-tours/tours/jetpack-plugin-updates-tour/index.tsx
Labels: Checklist, OSS Citizen, [Status] Ready to Merge

#38060 Jetpack Backup: do not show card when site is a multisite site.
  client/my-sites/plans-features-main/index.jsx
Labels: Jetpack, Plans, [Status] Ready to Merge, [Type] Bug

#38045 Hosting: Prepare SFTP/phpMyAdmin cards for activation flow
  client/my-sites/hosting/sftp-card/index.js
Labels: [Status] Needs Review

#37833 Add missing content type to SMS code request.
  client/auth/auth-code-button.jsx
Labels: [Status] Needs Review, [Type] Bug

#37489 Avoid layout recalcs on mount in section-nav tabs.
  client/components/section-nav/tabs.jsx
Labels: Framework, Performance, [Status] Needs Review

#38000 Jetpack Onboarding: Remove completely from this world
  client/components/data/query-jetpack-settings/README.md
  client/components/data/query-sites/index.jsx
  client/jetpack-connect/controller.js
  client/jetpack-connect/index.js
  client/jetpack-onboarding/connect-intro.jsx
  client/jetpack-onboarding/connect-success.jsx
  client/jetpack-onboarding/constants.js
  client/jetpack-onboarding/controller.js
  client/jetpack-onboarding/disclaimer.jsx
  client/jetpack-onboarding/index.js
  client/jetpack-onboarding/main.jsx
  client/jetpack-onboarding/steps/business-address.jsx
  client/jetpack-onboarding/steps/contact-form.jsx
  client/jetpack-onboarding/steps/homepage.jsx
  client/jetpack-onboarding/steps/site-title.jsx
  client/jetpack-onboarding/steps/site-type.jsx
  client/jetpack-onboarding/steps/stats.jsx
  client/jetpack-onboarding/steps/summary.jsx
  client/jetpack-onboarding/steps/woocommerce.jsx
  client/jetpack-onboarding/style.scss
  client/jetpack-onboarding/summary-completed-steps.jsx
  client/jetpack-onboarding/summary-next-steps.jsx
  client/layout/masterbar/logged-out.jsx
  client/sections.js
  client/state/action-types.js
  client/state/data-layer/wpcom/jetpack/settings/index.js
  client/state/data-layer/wpcom/jetpack/settings/test/index.js
  client/state/jetpack/onboarding/actions.js
  client/state/jetpack/onboarding/reducer.js
  client/state/jetpack/onboarding/schema.js
  client/state/jetpack/onboarding/test/actions.js
  client/state/jetpack/onboarding/test/reducer.js
  client/state/jetpack/reducer.js
  client/state/jetpack/settings/schema.js
  client/state/jetpack/settings/test/actions.js
  client/state/jetpack/settings/test/reducer.js
  client/state/selectors/get-jetpack-onboarding-completed-steps.js
  client/state/selectors/get-jetpack-onboarding-pending-steps.js
  client/state/selectors/get-jetpack-onboarding-settings.js
  client/state/selectors/get-jpo-user-hash.js
  client/state/selectors/get-unconnected-site-id-by-slug.js
  client/state/selectors/get-unconnected-site-url.js
  client/state/selectors/get-unconnected-site.js
  client/state/selectors/is-jetpack-onboarding-step-completed.js
  client/state/selectors/test/get-jetpack-onboarding-completed-steps.js
  client/state/selectors/test/get-jetpack-onboarding-pending-steps.js
  client/state/selectors/test/get-jetpack-onboarding-settings.js
  client/state/selectors/test/get-jpo-user-hash.js
  client/state/selectors/test/get-unconnected-site-id-by-slug.js
  client/state/selectors/test/get-unconnected-site-url.js
  client/state/selectors/test/get-unconnected-site.js
  client/state/selectors/test/is-jetpack-onboarding-step-completed.js
Labels: Jetpack, NUX, [Pri] Normal, [Status] Needs Review, [Type] Epic, [Type] Janitorial

#37932 Remove the domain privacy protection selector in the checkout
  client/lib/cart-values/cart-items.js
  client/my-sites/checkout/checkout/domain-details-form.jsx
  client/my-sites/checkout/checkout/privacy-protection-example.jsx
  client/my-sites/checkout/checkout/privacy-protection.jsx
  client/my-sites/checkout/checkout/test/domain-details-form.js
  test/e2e/lib/pages/signup/checkout-page.js
  test/e2e/specs/wp-manage-domains-spec.js
  test/e2e/specs/wp-signup-spec.js
Labels: Domains, [Status] Needs Review

#37809 Checklist: Remove checklist dismiss actions
  client/components/checklist/style.scss
  client/components/checklist/task.js
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: Checklist, [Source] User testing, [Status] Needs Review, [Team] Flow

#37590 Rename rewind to restore
  client/blocks/disconnect-jetpack/index.jsx
  client/layout/guided-tours/tours/activity-log-tour/index.js
  client/my-sites/activity/activity-log-banner/error-banner.jsx
  client/my-sites/activity/activity-log-banner/progress-banner.jsx
  client/my-sites/activity/activity-log-banner/success-banner.jsx
  client/my-sites/activity/activity-log-confirm-dialog/index.jsx
  client/my-sites/activity/activity-log-item/index.jsx
  client/my-sites/activity/activity-log-switch/index.jsx
  client/my-sites/activity/activity-log/rewind-unavailability-notice.jsx
  client/my-sites/site-settings/jetpack-credentials/credentials-configured/index.jsx
  client/state/data-layer/wpcom/activity-log/update-credentials/index.js
Labels: Rewind, Testing, [Status] In Progress

#37738 AppsBadge: Load styles with webpack
  client/blocks/get-apps/apps-badge.jsx
  client/blocks/get-apps/apps-badge.scss
  client/blocks/get-apps/style.scss
Labels: [Status] Needs Review, [Status] Needs e2e Testing, [Type] Bug

#38107 Hide recommended themes when query present.
  client/my-sites/themes/recommended-themes.jsx
  client/my-sites/themes/theme-showcase.jsx
Labels: Themes, [Team] Cylon

#38117 Adjusted height of sidebar item containing badge
  client/layout/sidebar/style.scss
Labels: Design, Earn, Navigation

#38123 [e2e] Use different domain for mapping
  test/e2e/specs/wp-manage-domains-spec.js
Labels: [Status] Needs Review

#38039 Hosting: Turn on sftp/phpmyadmin feature for Atomic sites.
  config/desktop.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Status] Needs Review

#38106 Update flow destination for test-fse to redirect to customer home
  client/signup/config/flows-pure.js
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#38004 Add an upsell nudge to Reader sidebar
  client/reader/sidebar/index.jsx
  client/reader/sidebar/reader-sidebar-nudges/index.jsx
Labels: Marketing, Reader, [Status] Needs Review

#38137 npm run distclean should clean the apps directory, too
  package.json
Labels: Build, [Status] Needs Review

#38047 Fix syncing of i18n-calypso and Redux state
  client/boot/app.js
  client/boot/common.js
  client/boot/locale.js
  client/landing/login/common.js
  client/landing/login/index.js
  client/lib/wp/localization/index.js
  client/lib/wp/localization/test/index.js
  client/state/ui/language/reducer.js
  client/state/ui/language/schema.js
  client/state/ui/language/test/actions.js
  client/state/ui/language/test/reducer.js
Labels: Framework, [Status] Needs Review, i18n

#38128 [e2e] Fix failing Activate theme test
  test/e2e/lib/pages/themes-page.js
Labels: [Status] Needs e2e Testing

#38109 Gutenboarding: Drop EMPTY_FORM_VALUE and friends
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/onboarding-block/vertical-select/index.tsx
  client/landing/gutenboarding/stores/onboard/reducer.ts
  client/landing/gutenboarding/stores/onboard/types.ts
Labels: [Goal] Gutenberg, [Goal] Onboarding, [Status] Needs Review

#34845 Replace Jed with Tannin.
  package-lock.json
  packages/composite-checkout-wpcom/package.json
  packages/i18n-calypso/CHANGELOG.md
  packages/i18n-calypso/README.md
  packages/i18n-calypso/package.json
  packages/i18n-calypso/src/i18n.js
Labels: Performance, [Status] Needs Review, [Status] Needs e2e Testing, i18n

#38093 Gutenboarding: Fix minor type issues
  client/landing/gutenboarding/components/domain-picker/button.tsx
  client/landing/gutenboarding/controller.tsx
  client/landing/gutenboarding/index.ts
  client/landing/gutenboarding/onboarding-block/vertical-select/index.tsx
  client/types.ts
Labels: [Type] Janitorial

#37337 Remove i18n-calypso moment from lib/human-date.
  client/lib/human-date/index.js
  client/lib/human-date/test/index.js
Labels: [Status] Needs Review, [Type] Janitorial

#38129 Customer Home: Only show upgrade nudges (StatsBanners) for sites > 2 days
  client/my-sites/customer-home/main.jsx
Labels: Customer Home, [Status] Ready to Merge

#38140 [e2e] Additional step to check is account closed
  test/e2e/lib/flows/delete-account-flow.js
  test/e2e/lib/pages/account/account-settings-page.js
  test/e2e/lib/pages/account/close-account-page.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#38100 FSE: Make Template Part back button consistent with page back button
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/close-button-override/index.js
  client/state/selectors/get-editor-close-config.js
Labels: [Goal] Full Site Editing, [Status] Needs Design Review, [Status] Needs Review

#38111 Fix linter errors
  client/lib/abtest/utility.js
  client/lib/user/user.js
Labels: [Status] Needs Review, [Type] Janitorial

#38131 Migration: resolve confirmation path ambiguity
  client/my-sites/migrate/controller.js
  client/my-sites/migrate/index.js
  client/my-sites/migrate/section-migrate.js
Labels: WP Migration, [Status] Needs Review

#38149 Checklist: update copy on CTA buttons to be more descriptive
  client/components/checklist/task.js
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: Checklist, Customer Home, [Status] Needs Review, [Team] Flow

#38025 Recurring Payments: Migrate Image to Webpack
  client/assets/images/illustrations/no-memberships.svg
  client/me/memberships/main.jsx
  static/images/illustrations/illustration-nomemberships.svg
Labels: Purchases, [Status] Needs Review, [Type] Janitorial

#38156 Hosting: Allow sites dating back a year to be eligible.
  client/my-sites/hosting/main.js
Labels: [Goal] Hosting Panel, [Status] Needs Review, [Type] Task

#37649 Get Apps: Migrate Image to Webpack
  client/assets/images/illustrations/get-apps-banner.svg
  client/blocks/get-apps/illustration.jsx
Labels: Me, [Status] Needs Review, [Type] Janitorial

#37095 Site Selector: Fix Private Badge Colours
  client/components/site-selector/style.scss
Labels: OSS Citizen, [Status] Needs Review

#38112 Hosting: Add unit tests for the SFTP card UI
  client/my-sites/hosting/sftp-card/index.js
  client/my-sites/hosting/sftp-card/test/index.js
Labels: [Status] Needs Review

#36863 Earn: Migrate Images to Webpack
  client/assets/images/earn/ads.svg
  client/assets/images/earn/earn-section.svg
  client/assets/images/earn/recurring.svg
  client/assets/images/earn/referral.svg
  client/assets/images/earn/simple-payments.svg
  client/assets/images/earn/simple-store.svg
  client/assets/images/earn/woo.svg
  client/components/promo-section/docs/example.tsx
  client/components/promo-section/promo-card/README.md
  client/components/promo-section/promo-card/docs/example.jsx
  client/my-sites/earn/home.tsx
Labels: Earn, [Status] Needs Review, [Type] Janitorial

#38046 Hosting: Add testing coverage to SFTP/phpMyAdmin data layer
  client/state/data-layer/wpcom/sites/hosting/restore-database-password.js
  client/state/data-layer/wpcom/sites/rewind/backups/test/index.js
  client/state/hosting/reducer.js
  client/state/hosting/test/reducer.js
  client/state/rewind/backups/test/actions.js
  client/state/selectors/test/get-atomic-hosting-sftp-users.js
Labels: [Status] Needs Review

#38159 Jetpack Backup: update support doc URL.
  client/my-sites/activity/activity-log-item/index.jsx
Labels: Activity Log, Jetpack, [Status] Needs Review, [Type] Janitorial

#38158 Update text colors on migration confirmation screen
  client/my-sites/migrate/section-migrate.scss
Labels: WP Migration

#37960 Enable checklist-driven domain verification for FSE sites
  client/components/data/query-site-checklist/index.js
  client/my-sites/current-site/domain-warnings.jsx
  client/my-sites/domains/components/domain-warnings/index.jsx
  client/my-sites/domains/components/domain-warnings/test/index.js
  client/state/checklist/actions.js
  client/state/data-layer/wpcom/checklist/index.js
  client/state/selectors/is-site-eligible-for-full-site-editing.js
  client/state/selectors/test/is-site-eligible-for-full-site-editing.js
  client/state/sites/constants.js
  config/development.json
  config/horizon.json
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#38161 Make mobile app task skippable
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: Checklist, [Goal] Onboarding, [Team] Zelda

#38138 Signup: remove outdated calypso_signup_error_forked_flow_null_render tracks event
  client/signup/main.jsx
Labels: Analytics, Signup, [Type] Janitorial

#38167 Full Site Editing: Update margins and paddings in the Template Part preview
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/style.scss
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Team] Cylon, [Type] Bug

#38163 FSE: expose additional themes in signup
  client/lib/signup/themes-data.js
  client/signup/config/steps-pure.js
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Team] Cylon

#38170 FSE: 0.16.1 release
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/readme.txt
  apps/full-site-editing/package-lock.json
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Team] Cylon

#38174 FSE: limit FSE themes in signup to 6
  client/signup/config/steps-pure.js
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Team] Cylon

#38154 Classic Editor: Enable autoresize TinyMCE plugin for iOS
  client/components/tinymce/plugins/wpcom-autoresize/plugin.js
Labels: [Status] Needs Review

#38173 Checklist: update mobile app button label
  client/components/checklist/style.scss
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: Checklist, [Status] Needs Review

#38150 Customer Home: Update heading logic
  client/my-sites/customer-home/main.jsx
  client/signup/config/flows-pure.js
  client/signup/config/flows.js
Labels: Customer Home, [Status] Needs Review, [Team] Flow

#37629 Theme Showcase: Add Translatabilty
  client/components/keyed-suggestions/index.jsx
  client/components/themes-list/index.jsx
  client/my-sites/themes/theme-options.js
  client/my-sites/themes/themes-magic-search-card/style.scss
  client/my-sites/themes/themes-magic-search-card/welcome.jsx
Labels: Themes, [Status] Needs Review, [Status] String Freeze, i18n

#37973 Domains Management: Reduxify Site Redirect
  client/components/data/domain-management/README.md
  client/components/data/domain-management/index.jsx
  client/lib/domains/site-redirect/README.md
  client/lib/domains/site-redirect/action-types.js
  client/lib/domains/site-redirect/actions.js
  client/lib/domains/site-redirect/store.js
  client/my-sites/domains/domain-management/controller.jsx
  client/my-sites/domains/domain-management/site-redirect/index.jsx
  client/state/action-types.js
  client/state/domains/reducer.js
  client/state/domains/site-redirect/actions.js
  client/state/domains/site-redirect/reducer.js
  client/state/domains/site-redirect/selectors.js
  client/state/domains/test/reducer.js
Labels: Domains, [Status] Needs Review

#38180 Migration: Try using spinner for active item
  client/my-sites/migrate/section-migrate.jsx
  client/my-sites/migrate/section-migrate.scss
Labels: WP Migration, [Status] Needs Review

#38053 Site migration: show progress during a migration
  client/my-sites/controller.js
  client/my-sites/migrate/section-migrate.jsx
  client/my-sites/migrate/section-migrate.scss
  client/state/selectors/is-site-migration-in-progress.js
  client/state/sites/constants.js
  static/images/importer/circle-gray.svg
  static/images/importer/gridicon-checkmark.svg
Labels: WP Migration

#38187 Load front-end styles for logged out users
  apps/full-site-editing/full-site-editing-plugin/global-styles/class-global-styles.php
Labels: [Goal] Full Site Editing, [Status] Needs Review

#35384 GSuite nudge purchase/skip flow to respect destination
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/controller.jsx
  client/my-sites/checkout/gsuite-nudge/index.jsx
  client/my-sites/checkout/gsuite-nudge/style.scss
  client/state/selectors/is-eligible-for-signup-destination.js
Labels: GSuite, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#38164 FSE: Remove Serenity as code owner
  .github/CODEOWNERS
Labels: [Status] Needs Review

#38175 Components: Output type defs
  .dockerignore
  .gitignore
  packages/components/package.json
  packages/components/src/dialog/index.jsx
  packages/components/tsconfig.json
Labels: Build, Components, Packages, [Status] Ready to Merge

#38171 FSE: Update Homepage Posts block branding
  apps/full-site-editing/README.md
  apps/full-site-editing/bin/sync-blog-posts-block.sh
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/README.md
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/editor.js
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/index.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/README.md
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/block.json
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/edit.js
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/editor.js
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/editor.scss
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/index.js
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/templates/article.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/templates/articles-list.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/templates/articles-loop.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/view.js
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/view.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/view.scss
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/class-newspack-blocks-api.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/class-newspack-blocks.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/components/autocomplete-tokenfield.js
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/components/autocomplete-tokenfield.scss
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/components/query-controls.js
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/shared/sass/_colors.scss
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/shared/sass/_legacy_colors.scss
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/shared/sass/_mixins.scss
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/shared/sass/_variables.scss
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/view.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/package.json
Labels: [Status] Needs Review

#38051 FSE: Add upgrade nudge to Blog Posts Listing block
  apps/full-site-editing/full-site-editing-plugin/posts-list-block/blocks/posts-list/editor.scss
  apps/full-site-editing/full-site-editing-plugin/posts-list-block/blocks/posts-list/index.js
  apps/full-site-editing/full-site-editing-plugin/posts-list-block/blocks/posts-list/transforms.js
Labels: [Status] Needs Review

#38200 Checkout: Disallow Atomic to add Jetpack Backup to cart
  client/my-sites/checkout/checkout/index.jsx
Labels: Atomic, Checkout, Jetpack, [Pri] High, [Status] Needs Review, [Type] Defect

#38202 Domain step test: Increase variation to 90%
  client/lib/abtest/active-tests.js
Labels: ABTest, Domains, Marketing, [Status] In Progress, [Status] Needs Review

#38206 Fix/migration todo comment
  client/my-sites/migrate/section-migrate.jsx
  client/my-sites/migrate/section-migrate.scss
Labels: WP Migration, [Status] Needs Review

#38207 Update/eslint and friends
  apps/full-site-editing/package-lock.json
  apps/full-site-editing/package.json
  package-lock.json
  package.json
Labels: Framework

#38193 Gutenboarding: Add Luna as codeowner
  .github/CODEOWNERS
Labels: [Type] Task

#38229 Revert Popover refactoring
  client/components/date-range/test/__snapshots__/index.js.snap
  client/components/popover/index.jsx
  package-lock.json
  package.json
Labels: [Status] Needs Review

#38194 Signup: bring back template first themes to signup step
  client/lib/signup/themes-data.js
Labels: Signup, [Goal] Full Site Editing, [Status] Needs Review, [Team] Cylon

#38201 Add support for redirect_to query string argument on /plans
  client/my-sites/plan-features/index.jsx
  client/my-sites/plans-features-main/index.jsx
  client/my-sites/plans-features-main/test/index.jsx
  client/my-sites/plans/controller.jsx
  client/my-sites/plans/main.jsx
Labels: Checkout, PBD interim fix, [Status] Needs Review

#38226 Ignores *.code-workspace files from VSCode
  .gitignore
Labels: Development task, [Status] Ready to Merge

#38114 Config: Remove unused Jetpack onboarding flag
  config/desktop-development.json
Labels: Framework, [Status] Ready to Merge, [Type] Janitorial

#38239 Allow fetching README files of components from outside of client folder
  client/devdocs/design/index.jsx
  client/devdocs/design/search-collection.jsx
Labels: Components, Packages, [Status] Ready to Merge, [Type] Bug

#38165 Atomic: Move PHP Version Card to Redux
  client/components/data/query-site-php-version/index.jsx
  client/my-sites/hosting/php-version-card/index.js
  client/state/action-types.js
  client/state/data-layer/wpcom-http/utils.js
  client/state/data-layer/wpcom/sites/hosting/php-version.js
  client/state/hosting/actions.js
  client/state/hosting/reducer.js
  client/state/selectors/get-atomic-hosting-php-version.js
Labels: Atomic, [Status] Needs Review, [Type] Janitorial

#38245 Hosting: Add phpVersion to default reducer state
  client/state/hosting/test/reducer.js
Labels: Atomic, [Goal] Hosting Panel, [Status] Needs Review

#38223 Blog Posts: Update to include More button
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/index.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/edit.js
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/templates/article.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/view.js
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/view.php
Labels: [Team] AJAX, [Type] Enhancement

#38155 Hosting: Allow all sites to see the Hosting section in development.
  client/state/selectors/can-site-view-atomic-hosting.js
Labels: [Goal] Hosting Panel, [Status] Needs Review, [Type] Task

#38184 Hosting: Show only eligible sites in the site selector.
  client/my-sites/sites/index.jsx
Labels: [Goal] Hosting Panel, [Status] Needs Review

#38222 Check that siteId is set before dispatching the requestSelectedEditor action
  client/components/data/query-site-selected-editor/index.jsx
Labels: [Status] Needs Review, [Type] Bug

#38260 Hosting: Only expose Simple sites when behind the all-sites flag.
  client/my-sites/sites/index.jsx
Labels: [Goal] Hosting Panel, [Status] Needs Review, [Type] Bug

#38243 Hosting: Improve reset SFTP password copy
  client/my-sites/hosting/sftp-card/index.js
Labels: [Status] Needs Copy Review, [Status] Needs Review

#38264 Allow removing domain mappings included with a plan
  client/lib/purchases/index.js
Labels: Domains, Purchases, [Status] Ready to Merge

#38240 Validate siteId in queries.
  client/components/data/query-post-counts/index.jsx
  client/components/data/query-site-checklist/index.js
Labels: [Status] Needs Review, [Type] Bug

#38042 SPT: Allow later passing of `templates` prop
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
Labels: [Goal] Page Templates, [Status] Needs Review

#38242 Plans: Asyncload ProductPurchaseFeaturesList
  client/my-sites/plans/current-plan/index.jsx
Labels: Performance, Plans, [Status] Ready to Merge, [Type] Enhancement

#38244 Config: Remove Jetpack Backup feature flag
  client/me/purchases/manage-purchase/index.jsx
  client/my-sites/plans-features-main/index.jsx
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Framework, Jetpack, Plans, [Status] Ready to Merge, [Type] Janitorial

#38281 Remove withoutPersistence from state/help
  client/state/help/courses/reducer.js
  client/state/help/directly/reducer.js
  client/state/help/reducer.js
  client/state/help/ticket/reducer.js
Labels: [Status] Needs Review, [Type] Janitorial

#38246 Plans: AsyncLoad ProductPlanOverlapNotices
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/purchases-site/index.jsx
  client/my-sites/plans-features-main/index.jsx
Labels: Jetpack, Performance, Plans, Purchases, [Status] Ready to Merge

#38199 [PBD interim fix] Add cleaned up version of checkout thank you page
  client/my-sites/checkout/checkout-thank-you/header.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/my-sites/checkout/checkout-thank-you/style.scss
  client/my-sites/checkout/checkout-thank-you/test/header.js
  client/my-sites/checkout/checkout-thank-you/test/index.js
  client/my-sites/checkout/controller.jsx
Labels: Checkout, PBD interim fix, [Status] Needs Design Review, [Status] Needs Review, [Status] String Freeze, [Team] Zelda, [Tests] Includes Tests

#38168 Enable the new WooCommerce onboarding flow in production and staging
  config/production.json
  config/stage.json
Labels: [Status] Needs Review

#38288 Reinstate isRequired in Query propTypes.
  client/components/data/query-post-counts/index.jsx
  client/components/data/query-site-checklist/index.js
Labels: [Status] Needs Review, [Type] Enhancement

#38292 Add support for different user for Gutenberg edge testing
  test/e2e/config/encrypted.enc
  test/e2e/specs/wp-calypso-gutenberg-coblocks-spec.js
  test/e2e/specs/wp-calypso-gutenberg-page-editor-spec.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
Labels: [Status] Needs Review

#38261 Hosting: Allow sites of any age.
  client/my-sites/hosting/main.js
Labels: [Goal] Hosting Panel, [Status] Needs Review, [Type] Task

#38218 Posts List: Use Notice component for nudge
  apps/full-site-editing/full-site-editing-plugin/posts-list-block/blocks/posts-list/editor.scss
  apps/full-site-editing/full-site-editing-plugin/posts-list-block/blocks/posts-list/index.js
Labels: [Status] Needs Review, [Team] AJAX, [Type] Enhancement

#38294 FSE: Replace apiFetch
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/view.js
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/view.php
Labels: [Status] Needs Review, [Team] AJAX, [Type] Bug

#38300 Bump FSE to 0.17
  apps/full-site-editing/README.md
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/readme.txt
  apps/full-site-editing/package-lock.json
  apps/full-site-editing/package.json
Labels: [Status] Needs Review

#38301 Fix author selector on user deletion flow
  client/components/infinite-list/index.jsx
  client/my-sites/people/delete-user/index.jsx
Labels: People Management, Reader, [Status] Needs Review

#38271 replacing outdated link
  server/bundler/README.md
Labels: Documentation, [Status] Ready to Merge

#38284 Config: Remove unused scan feature flag
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Framework, [Status] Ready to Merge, [Type] Janitorial

#38309 Fix typo in upgrade intent for install_theme
  client/my-sites/checkout/checkout-thank-you/header.jsx
Labels: [Status] Needs Review

#38247 Fix: Pro-rated credits banner does not show for Atomic sites
  client/my-sites/plan-features/index.jsx
Labels: Marketing, [Status] Needs Review, [Status] Needs e2e Testing

#38189 Domains: Fix how the TLD Filter bar is ordered
  client/components/domains/search-filters/style.scss
  client/components/domains/search-filters/tld-filter-bar.jsx
Labels: Domains, [Status] Needs Review

#38312 Composite Checkout: Fix test setup
  packages/composite-checkout-wpcom/jest.config.js
  packages/composite-checkout-wpcom/test/enzyme-adapter.js
  packages/composite-checkout-wpcom/test/wp-checkout-wrapper.js
  packages/composite-checkout/jest.config.js
  packages/composite-checkout/test/components/checkout-step.js
  packages/composite-checkout/test/enzyme-adapter.js
Labels: Checkout, Packages, Testing, [Status] Needs Review

#38282 Gutenboarding: Try using `TemplateSelectorControl`
  babel.config.js
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/components/header/style.scss
  client/landing/gutenboarding/gutenboard.tsx
  client/landing/gutenboarding/onboarding-block/design-selector/index.tsx
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/onboarding-block/index.ts
  client/landing/gutenboarding/onboarding-block/types.ts
  client/landing/gutenboarding/types.ts
Labels: [Goal] Gutenberg, [Goal] Onboarding, [Status] Needs Review

#38185 Hosting Panel: Add selector and banner for Business plan upgrade
  client/my-sites/checkout/checkout-thank-you/header.jsx
  client/my-sites/checkout/checkout-thank-you/style.scss
  client/my-sites/hosting/main.js
  client/state/ui/checkout/reducer.js
  client/state/ui/checkout/test/reducer.js
Labels: [Status] Needs Review

#38298 Migration: redirect to the active migration when it's in progress
  client/my-sites/migrate/section-migrate.jsx
Labels: WP Migration, [Status] Needs Review

#36689 FSE: Hide Posts List block from the inserter
  apps/full-site-editing/full-site-editing-plugin/posts-list-block/blocks/posts-list/index.js
Labels: [Status] Blocked / Hold, [Status] Needs Review

#38314 FSE: Update block switch nudge text
  apps/full-site-editing/full-site-editing-plugin/posts-list-block/blocks/posts-list/index.js
Labels: [Status] Needs Review

#38318 FSE: Sync TC fixes
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/edit.js
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/templates/article.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/templates/articles-list.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/templates/articles-loop.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/view.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/class-newspack-blocks-api.php
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Team] AJAX

#38315 Gutenberg edge tests are not quite right
  test/e2e/lib/flows/login-flow.js
  test/e2e/lib/gutenberg/gutenberg-editor-sidebar-component.js
  test/e2e/lib/pages/customer-home-page.js
  test/e2e/specs/wp-calypso-gutenberg-coblocks-spec.js
  test/e2e/specs/wp-calypso-gutenberg-page-editor-spec.js
Labels: [Status] Needs e2e Testing, [Status] Needs e2e Testing Gutenberg Edge

#38322 Update/bpb set transformed name
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/editor.js
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/blocks/homepage-articles/index.js
Labels: [Status] Needs Review

#38302 Themes - Fix "show all" link for search card filters.
  client/components/keyed-suggestions/index.jsx
Labels: Themes, [Status] Needs Review, [Team] Cylon, [Type] Bug

#38227 Themes - Fix going "back" to themes showcase and losing my place in browsing themes.
  client/components/theme/index.jsx
  client/components/theme/test/__snapshots__/index.jsx.snap
  client/components/theme/test/index.jsx
  client/components/themes-list/index.jsx
  client/components/themes-list/test/__snapshots__/index.jsx.snap
  client/my-sites/themes/theme-showcase.jsx
  client/my-sites/themes/themes-selection.jsx
  client/state/action-types.js
  client/state/themes/themes-ui/actions.js
  client/state/themes/themes-ui/reducer.js
  client/state/themes/themes-ui/test/actions.js
  client/state/themes/themes-ui/test/reducer.js
Labels: Themes, [Status] Needs Review, [Team] Cylon, [Type] Enhancement

#38306 Use switch_theme hook for template part population
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Team] Cylon

#37547 Move the Reader from / to /read
  client/blocks/app-banner/test/app-banner.jsx
  client/blocks/reader-full-post/index.jsx
  client/boot/common.js
  client/layout/masterbar/logged-in.jsx
  client/lib/desktop/index.js
  client/lib/keyboard-shortcuts/global.js
  client/lib/path-to-section/test/index.js
  client/my-sites/invites/utils.js
  client/reader/following-manage/index.jsx
  client/reader/index.js
  client/reader/liked-stream/empty.jsx
  client/reader/list-stream/empty.jsx
  client/reader/list-stream/missing.jsx
  client/reader/search-stream/empty.jsx
  client/reader/sidebar/index.jsx
  client/reader/stats.js
  client/reader/tag-stream/empty.jsx
Labels: ABTest, Reader, [Status] Needs Review, [Status] Needs e2e Testing

#38331 [SIGNUP]: Add default value for suggestedTheme in site vertical reducer
  client/state/signup/steps/site-vertical/reducer.js
  client/state/signup/steps/site-vertical/schema.js
Labels: Signup, [Status] Needs Review, [Type] Janitorial

#38330 [SIGNUP]: clear progress state after flow completion
  client/signup/main.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#38235 State: Add missing handlers to upgrade nudge data layer
  client/state/data-layer/wpcom/marketing/index.js
Labels: Marketing, State, [Status] Needs Review, [Type] Janitorial

#37978 G Suite: Display discount in shopping cart
  client/components/gsuite/gsuite-features/index.jsx
  client/components/gsuite/gsuite-features/test/compact.js
  client/components/gsuite/gsuite-features/test/index.js
  client/components/upgrades/gsuite/gsuite-upsell-card/index.jsx
  client/components/upgrades/gsuite/gsuite-upsell-card/product-details.jsx
  client/components/upgrades/gsuite/index.jsx
  client/lib/cart-values/cart-items.js
  client/lib/gsuite/constants.js
  client/lib/gsuite/index.js
  client/lib/products-values/index.js
  client/my-sites/checkout/cart/cart-item.jsx
  client/my-sites/checkout/cart/style.scss
  client/my-sites/checkout/gsuite-nudge/index.jsx
  client/my-sites/email/gsuite-add-users/index.jsx
  client/my-sites/email/gsuite-purchase-cta/index.jsx
Labels: GSuite, [Status] Needs Review, [Status] Needs e2e Testing

#38313 Add support for globalThis.
  .eslintrc.js
  client/boot/polyfills.js
  package-lock.json
  package.json
Labels: [Status] Needs Review, [Type] Enhancement

#38335 Reader: fix scrolling problems in streams
  client/components/infinite-list/scroll-helper.js
  client/reader/stream/index.jsx
  client/reader/stream/post-lifecycle.jsx
Labels: Reader, [Status] Needs Review, [Type] Bug

#38278 Add timeline component
  client/components/timeline/README.md
  client/components/timeline/docs/example.jsx
  client/components/timeline/index.jsx
  client/components/timeline/style.scss
  client/components/timeline/timeline-event.jsx
  client/devdocs/design/component-examples.js
  client/devdocs/design/index.jsx
  client/devdocs/design/playground-scope.js
Labels: [Status] Ready to Merge

#38253 Add `ProductIcon` component to `@automattic/components` package
  client/devdocs/design/index.jsx
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/bin/copy-assets.js
  packages/calypso-build/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/index.js
  packages/components/src/product-icon/README.md
  packages/components/src/product-icon/docs/example.jsx
  packages/components/src/product-icon/images/jetpack-backup.svg
  packages/components/src/product-icon/images/jetpack-free.svg
  packages/components/src/product-icon/images/jetpack-personal.svg
  packages/components/src/product-icon/images/jetpack-premium.svg
  packages/components/src/product-icon/images/jetpack-professional.svg
  packages/components/src/product-icon/images/wpcom-blogger.svg
  packages/components/src/product-icon/images/wpcom-business.svg
  packages/components/src/product-icon/images/wpcom-ecommerce.svg
  packages/components/src/product-icon/images/wpcom-free.svg
  packages/components/src/product-icon/images/wpcom-personal.svg
  packages/components/src/product-icon/images/wpcom-premium.svg
  packages/components/src/product-icon/index.jsx
  packages/components/src/product-icon/paths.js
  packages/components/src/product-icon/style.scss
Labels: Build, Components, Packages, [Status] Ready to Merge, [Type] Enhancement

#38343 Add timeline component - take 2
  client/components/timeline/README.md
  client/components/timeline/docs/example.jsx
  client/components/timeline/index.jsx
  client/components/timeline/style.scss
  client/components/timeline/timeline-event.jsx
  client/devdocs/design/component-examples.js
  client/devdocs/design/index.jsx
  client/devdocs/design/playground-scope.js
Labels: New Component, [Status] Needs Review

#38236 Site migration: progress view add start time
  client/my-sites/migrate/section-migrate.jsx
  client/my-sites/migrate/section-migrate.scss
Labels: WP Migration, [Status] Ready to Merge

#38346 Filter out system font from Google Font requests
  apps/full-site-editing/full-site-editing-plugin/global-styles/class-global-styles.php
Labels: [Goal] Full Site Editing, [Status] Needs Review

#38307 Move FSE-specific functions outside of main plugin file
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/helpers.php
Labels: [Goal] Full Site Editing, [Status] Needs Review

#38348 Atomic: Add extended forwards limit to eCommerce
  client/lib/plans/plans-list.js
Labels: [Status] Needs Review

#38352 Migration: Redirect migrate path to root when disabled
  client/my-sites/migrate/controller.js
  client/my-sites/migrate/index.js
Labels: WP Migration, [Status] Needs Review

#38351 Add rest fields only to edit context
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/newspack-homepage-articles/class-newspack-blocks-api.php
Labels: [Status] Needs Review, [Team] AJAX, [Type] Task

#38304 Test Gutenberg 7.1.0 RC1 with new gutenberg edge sticker and add PressThis test
  test/e2e/lib/pages/reader-page.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing Gutenberg Edge

#38353 FSE - Fix close button centration.
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/close-button-override/style.scss
Labels: Editor, [Goal] Full Site Editing, [Status] Needs Review, [Type] Bug

#38328 Fix Themes Showcase loading on selected tiers.
  client/my-sites/themes/theme-showcase.jsx
  client/state/themes/selectors.js
Labels: Themes, [Status] Needs Review, [Team] Cylon, [Type] Defect

#36823 Magic Login: Migrate Image to Webpack
  client/assets/images/illustrations/check-email.svg
  client/login/magic-login/emailed-login-link-successfully.jsx
Labels: Login, OSS Citizen, [Status] Needs Review, [Type] Janitorial

#38357 Make the reader sharing test more reliable
  test/e2e/lib/pages/reader-page.js
Labels: Reader, [Status] Needs Review, [Status] Needs e2e Testing Gutenberg Edge

#38214 Site migration: progress view adjustments
  client/my-sites/migrate/section-migrate.jsx
  client/my-sites/migrate/section-migrate.scss
  static/images/illustrations/waitTime-plain.svg
Labels: WP Migration, [Status] Needs Review

#38311 Move Jetpack Backup landing page link from selector to formatted header
  client/blocks/product-selector/README.md
  client/blocks/product-selector/docs/example.jsx
  client/blocks/product-selector/index.jsx
  client/jetpack-connect/style.scss
  client/lib/products-values/constants.js
  client/my-sites/plans-features-main/header.jsx
  client/my-sites/plans-features-main/index.jsx
  client/my-sites/plans-features-main/products-header.jsx
Labels: Plans, [Status] Ready to Merge, [Type] Feature progress

#38337 Remove price group from Jetpack Backup product card and fix CSS issues
  client/blocks/product-selector/index.jsx
  client/components/product-card/index.jsx
  client/components/product-card/style.scss
  client/jetpack-connect/style.scss
Labels: Plans, [Status] Ready to Merge, [Type] Feature progress

#38344 Update product card options alignment and appearance
  client/components/product-card/style.scss
  client/lib/products-values/constants.js
Labels: Plans, [Status] Ready to Merge, [Type] Feature progress

#38316 Activity Log: Consider Backup products when displaying intro banner
  client/my-sites/activity/activity-log-banner/intro-banner.jsx
  client/my-sites/activity/activity-log/index.jsx
  client/state/purchases/selectors.js
  client/state/purchases/test/selectors.js
Labels: Activity Log, Jetpack, [Status] Ready to Merge, [Type] Enhancement

#37150 Remove i18n-calypso moment from my-sites.
  client/my-sites/activity/controller.jsx
  client/my-sites/checkout/checkout-thank-you/google-voucher/terms-and-conditions.jsx
  client/my-sites/google-my-business/stats/index.js
  client/my-sites/media-library/list.jsx
  client/my-sites/media-library/test/list.jsx
  client/my-sites/plugins/plugin-information/index.jsx
  client/my-sites/plugins/plugin-item/plugin-item.jsx
  client/my-sites/plugins/plugin-meta/index.jsx
  client/my-sites/stats/all-time/index.jsx
  client/my-sites/stats/controller.jsx
  client/my-sites/stats/stats-module/all-time-nav.jsx
Labels: Sites, [Status] Ready to Merge, [Type] Janitorial

#38376 Gutenboarding: Remove logo from header
  client/landing/gutenboarding/components/header/index.tsx
Labels: [Goal] Onboarding, [Status] Needs Review

#38373 Add ProductCard promo nudge sub-component
  client/blocks/product-selector/index.jsx
  client/components/product-card/README.md
  client/components/product-card/docs/example.jsx
  client/components/product-card/promo-nudge.jsx
  client/components/product-card/style.scss
  static/images/illustrations/promo-star.svg
Labels: Components, Plans, [Status] Ready to Merge, [Type] Feature progress

#38347 G Suite: Remove A/B test introduced for discount
  client/components/gsuite/gsuite-price/index.jsx
  client/components/gsuite/gsuite-price/test/__snapshots__/index.js.snap
  client/lib/abtest/active-tests.js
  client/my-sites/email/gsuite-purchase-cta/test/__snapshots__/index.js.snap
Labels: GSuite, [Status] Ready to Merge

#38176 Component: Simplify Card className
  packages/components/src/card/index.jsx
Labels: Components, Packages, [Status] Ready to Merge, [Type] Janitorial

#31388 Packages: Add sideEffects:false to tree-select
  packages/tree-select/package.json
Labels: Packages, [Status] Needs Review, [Status] Ready to Merge, [Type] Task

#38363 Reader: rename blacklist to blocklist
  client/blocks/reader-author-link/index.jsx
  client/blocks/reader-author-link/test/index.js
  client/blocks/reader-combined-card/post.jsx
  client/blocks/reader-feed-header/index.jsx
  client/blocks/reader-post-card/byline.jsx
  client/reader/get-helpers.js
  client/reader/lib/author-name-blacklist/index.ts
  client/reader/lib/author-name-blocklist/index.ts
  client/reader/lib/site-description-blacklist/test/index.js
  client/reader/lib/site-description-blocklist/index.js
  client/reader/lib/site-description-blocklist/test/index.js
Labels: Reader, [Status] Needs Review

#38359 removed icon from spt sidebar panel
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/index.js
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Team] Cylon

#38377 FSE: Explain files connecting Blog Posts Block
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/README.md
Labels: [Status] Needs Review

#38121 Customer Home: Adjust layout to use CSS grid with a 12-col layout
  client/components/checklist/style.scss
  client/my-sites/customer-home/main.jsx
  client/my-sites/customer-home/style.scss
Labels: Customer Home, [Status] Needs Review, [Team] Flow

#37701 [reCaptcha v3]: Record when recaptcha didn't load
  client/blocks/signup-form/passwordless.jsx
  client/lib/signup/step-actions.js
  client/signup/steps/user/index.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#38398 Reader: update the reader link from `/` to `/read`
  client/reader/sidebar/index.jsx
Labels: Reader, [Status] Needs Review, [Status] Needs e2e Testing
