Repository Automattic/wp-calypso, pull requests merged in 2019-08, with the labels that each got.

#35008 FSE: Remove page title block when editing template parts
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/style.scss
Labels: [Goal] Full Site Editing, [Status] Needs Review

#34982 Transfer 'logged out' state to 'logged in' state for signup reducer
  client/state/initial-state.js
  client/state/signup/reducer.js
  client/state/test/initial-state.js
  client/state/utils/reducer-utils.js
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#34951 Signup: convert getUsernameSuggestion to action thunk, don't read Redux store from context
  client/lib/signup/step-actions.js
  client/signup/steps/domains/index.jsx
  client/state/signup/optional-dependencies/actions.js
Labels: Signup, [Status] Needs Review, [Type] Janitorial

#35019 Use platform.js for Google sign-in.
  client/components/social-buttons/google.js
Labels: Login, Performance, [Status] Needs Review, [Status] Needs e2e Testing

#35050 Rewrite GlobalNotices as an ES6 class.
  client/components/global-notices/index.jsx
Labels: [Status] Needs Review, [Type] Janitorial

#35029 Full Site Editing: add revision history for template parts
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
Labels: [Goal] Full Site Editing, [Status] Needs Review

#34780 Replace `superagent` in `state/login`.
  client/state/login/actions.js
  client/state/login/magic-login/actions.js
  client/state/login/utils.js
Labels: Performance, [Status] Needs Review, [Type] Enhancement

#35028 FSE: Update the close button
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/close-button-override/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/close-button-override/style.scss
Labels: [Goal] Full Site Editing, [Status] Ready to Merge, [Type] Bug, [Type] Enhancement

#35041 Disregard template validity in the context of FSE
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/template-validity-override/index.js
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#35005 FSE: Fix back navigation from template part editor
  apps/wpcom-block-editor/src/calypso/iframe-bridge-server.js
  client/gutenberg/editor/calypsoify-iframe.tsx
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#34997 FSE: Apply the template parts' theme classes to the editor
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/editor-template-classes/index.js
Labels: [Goal] Full Site Editing, [Status] Ready to Merge, [Type] Enhancement

#35056 Promo Section: Make external links open in a new tab
  client/components/promo-section/promo-card/cta.tsx
Labels: [Status] Ready to Merge

#35038 Earn: add content to Referral card exclusively for Jetpack sites
  client/my-sites/earn/home.tsx
Labels: Earn, [Status] Needs Review

#34896 Earn Section: Update landing page
  client/components/action-panel/style.scss
  client/components/promo-section/index.tsx
  client/components/promo-section/promo-card/cta.tsx
  client/components/promo-section/promo-card/index.tsx
  client/components/promo-section/promo-card/style.scss
  client/components/promo-section/style.scss
  client/my-sites/earn/home.tsx
  client/my-sites/earn/index.js
  client/my-sites/earn/main.jsx
  static/images/earn/ads.svg
  static/images/earn/earn-section.svg
  static/images/earn/recurring.svg
  static/images/earn/referral.svg
  static/images/earn/simple-payments.svg
  static/images/earn/simple-store.svg
  static/images/earn/woo.svg
Labels: Earn, [Status] In Progress, [Type] Enhancement

#35066 Earn: Update copy removing implicit guarantee that WordAds payments will always be made by end-of-month.
  client/my-sites/stats/wordads/earnings.jsx
Labels: WordAds, [Status] Ready to Merge

#35042 #34926 Auto save post if dirty before navigating to template part
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/style.scss
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#35072 Earn: remove exclamation mark from buttons
  client/my-sites/earn/home.tsx
Labels: Earn, [Status] Needs Review

#35073 FSE: Remove the site logo block.
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-logo/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-logo/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-logo/index.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-logo/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/index.js
Labels: [Goal] Full Site Editing, [Status] Needs Review

#34910 Make the precancellation chat button available consistently.
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/components/marketing-survey/cancel-purchase-form/precancellation-chat-button/index.jsx
  client/components/marketing-survey/cancel-purchase-form/precancellation-chat-button/style.scss
  client/me/purchases/remove-purchase/index.jsx
  client/me/purchases/remove-purchase/style.scss
Labels: [Status] Needs Review

#35075 Full Site Editing: remove obsolete wp_template CPT
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/post-content/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/post-content/index.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/post-content/save.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/template-selector-sidebar/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/utils/class-a8c-wp-template.php
Labels: [Goal] Full Site Editing, [Status] Needs Review

#34953 Update the CTA button copy from "Download a backup" to "Download a current backup"
  client/me/purchases/manage-purchase/auto-renew-toggle/auto-renew-disabling-dialog/index.jsx
Labels: [Status] Needs Review, [Status] String Freeze

#35006 FSE: Remove custom publish button and panel, and replace with info notice
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/template-update-confirmation/button.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/template-update-confirmation/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/template-update-confirmation/panel.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/template-update-notice/index.js
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#35047 Update plan-specific flows to use generic plans step
  client/signup/config/flows-pure.js
  test/e2e/lib/pages/signup/pick-a-plan-page.js
  test/e2e/specs/wp-signup-spec.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#35046 Change the primary button from "I'll keep it" to "Confirm cancellation".
  client/me/purchases/manage-purchase/auto-renew-toggle/auto-renew-disabling-dialog/index.jsx
Labels: [Status] Needs Review

#34506 Jetpack connect: add a feature flag to allow disabling site questions
  client/jetpack-connect/authorize.js
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Jetpack, [Goal] Onboarding, [Status] Needs Jetpack e2e Testing, [Status] Needs Review

#35027 Checkout: Limit post-checkout external redirects
  client/my-sites/checkout/checkout/index.jsx
Labels: Jetpack, Post Checkout, [Status] Needs Review, [Status] Needs e2e Testing

#35084 Add workaround for #35068
  client/my-sites/checkout/checkout/index.jsx
Labels: Checkout, Jetpack, Plans, [Pri] High, [Status] Needs Review, [Type] Bug

#35055 FSE: Fix empty Navigation Block on sites created with an empty menu
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/navigation-menu/index.php
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Type] Bug

#35011 Show NPS survey to all supported en locales
  client/blocks/nps-survey/index.jsx
Labels: Marketing, [Status] Needs Review

#34993 Fix duplicate posts in Reader streams.
  client/state/reader/streams/reducer.js
Labels: Reader, [Status] Ready to Merge, [Type] Bug

#34815 Remove superagent usage in a few places.
  client/state/components-usage-stats/actions.js
  client/state/reader/thumbnails/actions.js
  client/state/reader/thumbnails/test/actions.js
Labels: Performance, Reader, [Status] Ready to Merge, [Type] Enhancement

#35064 Fix typo on WooCommerce + Jetpack Connect auto-authorize check
  client/jetpack-connect/authorize.js
  client/jetpack-connect/test/authorize.js
Labels: [Status] Needs Review

#35048 Signup: get Redux store from page.js context as prop, not from legacy React context
  client/signup/controller.js
  client/signup/main.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#35089 FSE: Prevent newlines in Site Title and Description blocks
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-description/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-title/edit.js
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Type] Enhancement

#35090 Earn: don't show the menu item if user can't access it
  client/my-sites/sidebar/sidebar.jsx
  client/state/sites/selectors/can-current-user-use-earn.js
  client/state/sites/selectors/index.js
Labels: Earn, [Status] Ready to Merge, [Type] Bug

#35078 FSE: Add additional image block keywords
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/image-block-keywords/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/index.js
  apps/full-site-editing/package-lock.json
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing, [Status] Needs Review

#35096 Update browserslist to 4.6.6.
  npm-shrinkwrap.json
  package.json
  packages/calypso-build/package.json
Labels: [Status] Needs Review, [Type] Enhancement

#35093 Add basic event for tracking when the blue screen is rendered
  client/signup/main.jsx
Labels: Analytics, Signup, [Status] Needs Review

#35074 FSE: Properly namespace all PHP
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/navigation-menu/index.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/post-content/index.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-description/index.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-title/index.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/index.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-rest-templates-controller.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/utils/class-wp-template.php
  apps/full-site-editing/full-site-editing-plugin/lib/feature-flags/class-feature-flags.php
  apps/full-site-editing/full-site-editing-plugin/posts-list-block/class-posts-list-block.php
  apps/full-site-editing/full-site-editing-plugin/posts-list-block/utils.php
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/class-starter-page-templates.php
Labels: [Goal] Full Site Editing, [Type] Task

#35080 Full Site Editing: rename template parts to templates
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/index.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/components/post-autocomplete/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/components/post-autocomplete/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/close-button-override/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/editor-template-classes/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/utils/class-wp-template.php
  apps/full-site-editing/full-site-editing-plugin/posts-list-block/templates/no-posts.php
Labels: [Goal] Full Site Editing, [Status] Needs Review

#35109 Signup: remove index check on Signup progress store.
  client/state/signup/progress/reducer.js
Labels: Signup

#35000 Gutenberg: Fix E2E tests for 6.2.0 RC
  test/e2e/lib/flows/login-flow.js
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/specs/wp-signup-spec.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing horizon

#35113 FSE: move serialize_blocks fallback outside of the PHP namespace, and into its own file
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/serialize-block-fallback.php
Labels: [Goal] Full Site Editing, [Status] Needs Review

#35112 Signup: log flow forking render error
  client/signup/main.jsx
Labels: Signup, [Status] Needs Review

#35076 Reader: remove @wordpresscom attribution on Twitter share
  client/blocks/reader-share/index.jsx
Labels: Reader, [Status] Needs Review

#34867 Plans: Migrate images to webpack
  client/assets/images/illustrations/ads-removed.svg
  client/assets/images/illustrations/apps.svg
  client/assets/images/illustrations/custom-domain-blogger.svg
  client/assets/images/illustrations/custom-domain.svg
  client/assets/images/illustrations/dashboard.svg
  client/assets/images/illustrations/dotcom-support.svg
  client/assets/images/illustrations/dotcom-wordads.svg
  client/assets/images/illustrations/google-analytics.svg
  client/assets/images/illustrations/google-my-business-feature.svg
  client/assets/images/illustrations/jetpack-concierge.svg
  client/assets/images/illustrations/jetpack-search.svg
  client/assets/images/illustrations/marketing.svg
  client/assets/images/illustrations/migrating-host-diy.svg
  client/assets/images/illustrations/payments.svg
  client/assets/images/illustrations/site-activity.svg
  client/assets/images/illustrations/themes.svg
  client/assets/images/illustrations/updates.svg
  client/assets/images/illustrations/video-hosting.svg
  client/blocks/product-purchase-features-list/advertising-removed.jsx
  client/blocks/product-purchase-features-list/business-onboarding.jsx
  client/blocks/product-purchase-features-list/customize-theme.jsx
  client/blocks/product-purchase-features-list/find-new-theme.jsx
  client/blocks/product-purchase-features-list/google-analytics-stats.jsx
  client/blocks/product-purchase-features-list/google-my-business.js
  client/blocks/product-purchase-features-list/jetpack-publicize.jsx
  client/blocks/product-purchase-features-list/mobile-apps.jsx
  client/blocks/product-purchase-features-list/monetize-site.jsx
  client/blocks/product-purchase-features-list/sell-online-paypal.jsx
  client/blocks/product-purchase-features-list/site-activity.jsx
  client/blocks/product-purchase-features-list/upload-plugins.jsx
  client/blocks/product-purchase-features-list/video-audio-posts.jsx
  client/components/domains/transfer-domain-step/transfer-domain-precheck.jsx
  client/components/domains/use-your-domain-step/index.jsx
  client/components/happiness-support/index.jsx
  client/my-sites/activity/activity-log-banner/intro-banner.jsx
  client/my-sites/checkout/checkout-thank-you/business-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/custom-domain-purchase-detail.jsx
  client/my-sites/checkout/checkout-thank-you/ecommerce-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/personal-plan-details.jsx
  client/my-sites/checkout/upsell-nudge/plan-upgrade-upsell/index.jsx
  client/my-sites/feature-upsell/features.jsx
Labels: Plans, [Status] Ready to Merge

#35069 Earn: remove config flag and go live
  client/my-sites/earn/index.js
  client/my-sites/earn/main.jsx
  config/development.json
  config/stage.json
  config/wpcalypso.json
Labels: Earn, [Status] Needs Review

#34745 Email: Select Tab in Sidebar
  client/my-sites/sidebar/sidebar.jsx
Labels: Color Schemes, [Status] Needs Review

#35115 FSE: Remove template block settings and UI
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/post-content/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/post-content/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/disable-block-settings/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/index.js
  npm-shrinkwrap.json
Labels: [Goal] Full Site Editing, [Status] Needs Review

#34986 Sidebar: Fix "Add New Site" Button Colour
  client/layout/sidebar/style.scss
  packages/calypso-color-schemes/src/shared/_color-schemes.scss
Labels: Color Schemes, [Status] Needs Review

#35104 Config: add customer-home flag
  config/development.json
  config/stage.json
  config/wpcalypso.json
Labels: Customer Home, [Status] Needs Review, [Type] Janitorial

#35137 Add sign in with Apple
  client/blocks/login/social.jsx
  client/blocks/login/social.scss
  client/blocks/signup-form/style.scss
  client/components/social-buttons/apple.js
  client/components/social-buttons/google.js
  client/components/social-buttons/style.scss
  config/_shared.json
  config/development.json
  config/stage.json
Labels: [Status] In Progress

#35144 Earn: make View ad dashboard card title consistent with the others
  client/my-sites/earn/home.tsx
Labels: Earn, [Status] Needs Review, [Type] Bug

#34731 Signup: Add new a/b test introducing the import flow on site type step
  client/lib/abtest/active-tests.js
  client/lib/signup/step-actions.js
  client/signup/config/flows-pure.js
  client/signup/steps/domains/index.jsx
  client/signup/steps/import-url/index.jsx
  client/signup/steps/site-type/index.jsx
  client/signup/steps/site-type/style.scss
  config/development.json
  config/wpcalypso.json
Labels: Import, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#35149 Signup: Removes import details from new user creation
  client/lib/signup/step-actions.js
Labels: Import, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#35132 Fix missing template warning by updating post type name
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/template-update-notice/index.js
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#35116 FSE: Add frame to pages and templates
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/style.scss
Labels: [Goal] Full Site Editing, [Status] Needs Design Review, [Status] Needs Review

#35015 Signup: update existing passwordless signup actions
  client/lib/signup/step-actions.js
  client/signup/steps/passwordless/index.jsx
Labels: Login, Signup, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#34770 Add A/B test to move user step to last position of `onboarding` flow
  client/blocks/login/index.jsx
  client/blocks/signup-form/index.jsx
  client/lib/abtest/active-tests.js
  client/signup/config/flows-pure.js
  client/signup/config/flows.js
  client/signup/main.jsx
  client/signup/steps/site-type/index.jsx
  client/state/action-types.js
  client/state/signup/progress/actions.js
  client/state/signup/progress/reducer.js
  client/state/signup/progress/test/reducer.js
  client/state/test/initial-state.js
Labels: ABTest, Login, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#35044 Marketing survey for auto-renewal cancellation.
  client/components/marketing-survey/cancel-auto-renewal-form/index.jsx
  client/components/marketing-survey/cancel-auto-renewal-form/style.scss
  client/components/marketing-survey/cancel-purchase-form/constants.js
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/me/purchases/manage-purchase/auto-renew-toggle/auto-renew-disabling-dialog/index.jsx
Labels: [Status] Needs Copy Review, [Status] Needs Review

#34987 Signup: make onboarding flow the default
  client/lib/abtest/active-tests.js
  client/my-sites/checkout/gsuite-nudge/index.jsx
  client/signup/config/flows.js
  client/signup/test/utils.js
  test/e2e/specs/wp-signup-spec.js
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#35130 Revert "Update plan-specific flows to use generic plans step"
  client/signup/config/flows-pure.js
  test/e2e/lib/pages/signup/pick-a-plan-page.js
  test/e2e/specs/wp-signup-spec.js
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#35103 Add caniuse-lite as a direct dependency.
  npm-shrinkwrap.json
  package.json
Labels: [Status] Needs Review, [Type] Enhancement

#34918 Recurring Payments Text: Pass Colour Contrast Check
  client/components/action-panel/style.scss
  client/my-sites/earn/memberships/style.scss
Labels: Accessibility

#34971 Checklist: Show a notice and disable site launch when email needs confimation
  client/components/checklist/style.scss
  client/components/checklist/task.js
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: Checklist, [Status] Ready to Merge

#35150 Signup: Default import in site type test to show
  client/lib/abtest/active-tests.js
Labels: Import, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#35138 Add checklist navigation item to the sidebar
  client/layout/sidebar/style.scss
  client/my-sites/sidebar/sidebar.jsx
  client/state/sites/selectors/can-current-user-use-checklist-menu.js
  client/state/sites/selectors/index.js
  client/state/sites/test/selectors.js
Labels: Menus, Sidebar, [Status] Needs Design Review, [Status] Needs e2e Testing, [Status] Ready to Merge

#35165 Checklist: set noticeText to null to appease the propType
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: Checklist, [Status] Needs Review

#34677 AB Test: Checkout Seals and Copy bundle
  client/layout/style.scss
  client/lib/abtest/active-tests.js
  client/lib/cart-values/cart-items.js
  client/my-sites/checkout/cart/style.scss
  client/my-sites/checkout/checkout/checkout-container.jsx
  client/my-sites/checkout/checkout/checkout-seals.jsx
  client/my-sites/checkout/checkout/credit-card-payment-box.jsx
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/checkout/pay-button.jsx
  client/my-sites/checkout/checkout/paypal-payment-box.jsx
  client/my-sites/checkout/checkout/redirect-payment-box.jsx
  client/my-sites/checkout/checkout/secure-payment-form.jsx
  client/my-sites/checkout/checkout/style.scss
  client/my-sites/checkout/checkout/web-payment-box.jsx
  client/my-sites/checkout/checkout/wechat-payment-box.jsx
  static/images/upgrades/money-back.svg
  static/images/upgrades/sectigo_trust_seal_md_2x.png
  static/images/upgrades/secured-seal.png
  static/images/upgrades/trustpilot-brand.svg
  static/images/upgrades/trustpilot-rating.svg
Labels: [Status] Needs Review

#34992 Block editor: debounce block picker search tracking
  apps/wpcom-block-editor/src/common/tracking/wpcom-block-picker-search-term-handler.js
Labels: [Goal] Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#35153 Store: fix tax rates auto-calculation notice not updating
  client/extensions/woocommerce/app/settings/taxes/taxes-rates.js
Labels: FixTheFlows, Store, [Impact] High, [Status] Needs Review, [Type] Bug

#35106 Full Site Editing: hide customizer if FSE is active
  client/my-sites/sidebar/sidebar.jsx
  client/state/selectors/is-site-using-full-site-editing.js
  client/state/selectors/test/is-site-using-full-site-editing.js
  client/state/sites/constants.js
Labels: [Goal] Full Site Editing, [Status] Needs Review

#35170 Signup: Add tracks event when switching to import flow
  client/signup/steps/site-type/index.jsx
Labels: Import, Signup, [Status] Needs Review

#35155 Full Site Editing: hide Templates from the wp-admin sidebar
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
Labels: [Goal] Full Site Editing

#35156 Full Site Editing: remove Templates from Calypso's sidebar
  client/my-sites/sidebar/site-menu.jsx
Labels: [Goal] Full Site Editing, [Status] Needs Review

#35174 Remove type-review team as codeowner for all ts/tsx
  .github/CODEOWNERS
Labels: [Status] Needs Review, [Type] Task

#35085 Color schemes: Fix persistence schema
  client/blocks/color-scheme-picker/constants.js
  client/state/preferences/schema.js
Labels: Color Schemes, State, [Status] Ready to Merge, [Type] Defect

#34180 Jetpack plugin install: Move installer out of thank you modal
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/plans/current-plan/current-plan-thank-you/paid-plan-thank-you.js
  client/my-sites/plans/current-plan/jetpack-checklist/index.tsx
  client/my-sites/plans/current-plan/jetpack-product-install/index.tsx
  client/state/data-getters/wpcom/jetpack-blogs/keys/index.ts
  client/state/data-layer/http-data.js
  client/state/data-layer/wpcom-http/actions.js
  client/state/jetpack-product-install/actions.js
  client/types.ts
Labels: Checklist, Jetpack, Plugins, [Status] Ready to Merge, [Type] Enhancement

#35141 Pages: Add "Set as Homepage" action to the pages list
  client/my-sites/pages/blog-posts-page/index.jsx
  client/my-sites/pages/page-card-info/index.jsx
  client/my-sites/pages/page-list.jsx
  client/my-sites/pages/page/index.js
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/homepage/index.js
  client/state/pages/test/selectors.js
  client/state/site-settings/actions.js
  client/state/site-settings/test/actions.js
  client/state/site-settings/utils.js
  client/state/sites/selectors/get-site-front-page-type.js
  client/state/sites/selectors/get-site-front-page.js
  client/state/sites/selectors/get-site-posts-page.js
  client/state/sites/selectors/has-static-front-page.js
  client/state/sites/test/selectors.js
  config/development.json
Labels: Pages, [Status] Needs Review, [Tests] Includes Tests

#35135 Update copy for Jetpack connection "site type" question
  client/jetpack-connect/site-type.js
  client/signup/steps/site-type/form.jsx
Labels: Jetpack, [Status] Needs Review, [Type] Enhancement

#35171 Private by Default: Determine the setting by siteType / Segment selection
  client/lib/signup/private-by-default.ts
  client/lib/signup/site-type.js
  client/lib/signup/step-actions.js
  client/lib/signup/test/private-by-default.js
Labels: Private by Default, Signup, [Status] Needs Review

#35164 Checklist: Reset the "expanded" task state when changing sites
  client/components/checklist/checklist.js
Labels: Checklist, [Status] Needs Review, [Type] Bug

#35168 Sharing: Reposition SupportInfo icon next to Sharing Button labels
  client/my-sites/marketing/buttons/appearance.jsx
  client/my-sites/marketing/buttons/options.jsx
  client/my-sites/marketing/style.scss
Labels: FixTheFlows, Sharing, [Status] Ready to Merge

#35189 Pages: Add "Set as Posts Page" action to the pages list
  client/my-sites/pages/blog-posts-page/index.jsx
  client/my-sites/pages/page/index.js
  client/state/selectors/test/is-site-using-full-site-editing.js
  client/state/site-settings/utils.js
Labels: Pages, [Goal] Full Site Editing, [Status] Needs Review

#35187 Checkout: fix payment with EBANX cards
  client/components/credit-card-form-fields/index.jsx
  client/my-sites/checkout/checkout/secure-payment-form.jsx
Labels: Checkout

#34862 Make quickstart offer page work without a site slug.
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/controller.jsx
  client/my-sites/checkout/index.js
  client/my-sites/checkout/upsell-nudge/concierge-quickstart-session/index.jsx
  client/my-sites/checkout/upsell-nudge/index.jsx
  client/state/selectors/is-eligible-for-signup-destination.js
Labels: Marketing, [Status] Needs Review, [Status] Needs e2e Testing

#35186 Fix duplicate HSTS TLDs in checkout terms
  client/my-sites/checkout/checkout/domain-registration-hsts.jsx
Labels: Domains, [Status] Ready to Merge

#35158 Update FSE template part hover styles
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/disable-block-settings/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/index.js
Labels: [Goal] Full Site Editing, [Status] Needs Review

#34949 Signup: don't resume from last step in flow after refresh
  client/signup/main.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#35198 FSE: Remove unnecessary template part blocks spacings
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/style.scss
Labels: [Goal] Full Site Editing, [Pri] BLOCKER, [Status] Needs Review, [Type] Bug

#35183 File download stats: adapt to changed API response format
  client/my-sites/stats/stats-list/stats-list-item.jsx
  client/state/stats/lists/test/utils.js
  client/state/stats/lists/utils.js
Labels: Stats, [Status] Needs Review

#35152 FSE: Add header logo placeholder
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/site-logo.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/style.scss
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#35206 Allow WordAds active sites access to ads dashboard regardless of plan
  client/my-sites/earn/home.tsx
Labels: [Status] Ready to Merge

#35209 FSE: Add fse-enabled class to body to enabling targeting of css only if plugin enabled
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
Labels: [Goal] Full Site Editing, [Status] Needs Review

#35190 Full Site Editing: remove template code duplication from themes
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template-inserter.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template.php
Labels: [Goal] Full Site Editing

#35210 Checklist: reinstate grabbing the front page from site options
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: Checklist, [Status] Needs Review, [Type] Defect

#35211 Reader: fix Button warning on Following Manage
  client/reader/following-manage/feed-search-results.jsx
Labels: Reader, [Status] Needs Review, [Type] Janitorial

#34902 Fix for Jetpack SSO 3rd party cookie blocking issue with gutenframe
  client/gutenberg/editor/controller.js
  client/gutenberg/editor/index.js
Labels: [Status] Needs Review

#34810 Replace usage of superagent in domain transfer.
  client/my-sites/domains/domain-management/transfer/transfer-out/select-ips-tag.jsx
Labels: Performance, [Status] Needs Review, [Type] Enhancement

#34772 Replace some usage of string refs in stats.
  client/components/site-selector/index.jsx
  client/my-sites/stats/geochart/index.jsx
  client/my-sites/stats/post-trends/day.jsx
  client/my-sites/stats/stats-views/months.jsx
Labels: [Status] Needs Review, [Type] Janitorial

#34124 Remove superagent usage in devdocs.
  client/components/readme-viewer/index.jsx
  client/devdocs/docs-selectors/search.jsx
  client/devdocs/docs-selectors/single.jsx
  client/devdocs/service.js
Labels: DevDocs, Performance, [Status] Needs Review

#34217 Better support for @wordpress/element Fragment JSX
  npm-shrinkwrap.json
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/babel/wordpress-element.js
  packages/calypso-build/package.json
  packages/calypso-build/webpack.config.js
  webpack.config.js
Labels: Build, Packages, [Status] Ready to Merge, [Type] Enhancement, [Type] Task

#35215 Update money back image
  client/assets/images/upgrades/money-back.svg
  client/my-sites/checkout/checkout/checkout-seals.jsx
  static/images/upgrades/money-back.svg
Labels: Marketing, [Status] Needs Review

#34122 Calypso build: Use @wordpress webpack plugin
  apps/wpcom-block-editor/webpack.config.js
  npm-shrinkwrap.json
  package.json
  packages/calypso-build/package.json
  packages/calypso-build/webpack.config.js
Labels: Build, Packages, [Status] Needs e2e Testing, [Status] Ready to Merge, [Type] Task

#35202 Show monthly Jetpack plan by default
  client/jetpack-connect/plans-grid.jsx
  client/lib/abtest/active-tests.js
Labels: ABTest, Jetpack, Plans, [Status] Needs Review

#35004 Types: Fix URL type in lib/route
  client/lib/route/index.ts
Labels: [Type] Task

#32940 Types: type http-data
  client/state/data-layer/http-data.js
  client/state/data-layer/http-data.ts
Labels: Framework, [Status] Needs e2e Testing, [Status] Ready to Merge, [Type] Janitorial

#35192 Add better messages
  client/my-sites/earn/memberships/index.jsx
  client/state/data-layer/wpcom/sites/memberships/index.js
Labels: Memberships, [Status] Needs Review

#35220 Calypso build: Prep 3.0.0
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/package.json
Labels: Build, Packages, [Status] Needs Review, [Type] Task

#35151 Signup: Use v2 is-site-importable endpoint when importing
  client/lib/importers/constants.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/importer/controller.js
  client/signup/config/flows-pure.js
  client/signup/config/steps-pure.js
  client/signup/steps/import-url/index.jsx
  client/state/action-types.js
  client/state/importer-nux/actions.js
  client/state/importer-nux/reducer.js
  client/state/importer-nux/temp-selectors.js
Labels: Import, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#35227 Fix broken link to yearly plans
  client/my-sites/plan-interval-discount/index.js
Labels: Jetpack, Plans, [Status] Needs Review, [Type] Bug

#35197 Updated simple payments copy on the plan screen
  client/blocks/product-purchase-features-list/sell-online-paypal.jsx
Labels: Earn, Microcopy, Plans

#35133 Show a successful notice after dismissing the auto-renewal cancellation survey if there is no error.
  client/me/purchases/manage-purchase/auto-renew-toggle/index.jsx
Labels: [Status] Needs Review

#35188 Hide Apple service in Connections
  client/state/sharing/services/selectors.js
Labels: Marketing

#35221 Front Page: Refactor to use site options instead of site settings.
  client/my-sites/pages/page-list.jsx
  client/my-sites/pages/page/index.js
  client/state/data-layer/wpcom/sites/homepage/index.js
  client/state/pages/test/selectors.js
  client/state/selectors/test/is-site-using-full-site-editing.js
  client/state/site-settings/actions.js
  client/state/site-settings/utils.js
  client/state/sites/actions.js
  client/state/sites/reducer.js
  client/state/sites/selectors/get-site-front-page-type.js
  client/state/sites/selectors/get-site-front-page.js
  client/state/sites/selectors/get-site-posts-page.js
  client/state/sites/test/selectors.js
Labels: Pages, Sites, [Goal] Full Site Editing, [Pri] BLOCKER, [Status] Needs Review, [Tests] Includes Tests

#35200 FSE: Disable template classname setting
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/index.js
Labels: [Goal] Full Site Editing, [Status] Needs Review

#35228 Full Site Editing: remove unused feature flags lib
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/lib/feature-flags/class-feature-flags.php
  apps/full-site-editing/full-site-editing-plugin/lib/feature-flags/index.js
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Type] Janitorial

#35225 Full Site Editing: create default About and Contact pages
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template-inserter.php
Labels: [Goal] Full Site Editing, [Pri] BLOCKER, [Status] Needs Review

#35235 FSE: Make the editor background selector less specific
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/style.scss
Labels: [Goal] Full Site Editing, [Status] Needs Review

#35229 Full Site Editing: refactor createHigherOrderComponent usage
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/post-content/index.js
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Type] Janitorial

#35226 Full Site Editing: move REST templates controller to templates folder
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-rest-templates-controller.php
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Type] Janitorial

#35251 Private by Default: Put behind a config flag & enable in dev
  client/lib/signup/private-by-default.ts
  config/development.json
Labels: Private by Default, Signup

#35247 Private by Default: Set atomic sites public on transaction submit instead of last step
  client/my-sites/checkout/checkout/secure-payment-form.jsx
Labels: Checkout, Private by Default, [Status] Needs Review, [Status] Needs e2e Testing

#35254 FSE: Update FSE frame based on feedback
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/style.scss
Labels: [Goal] Full Site Editing, [Type] Enhancement

#35242 Update stripe setup controls
  client/extensions/woocommerce/app/settings/payments/stripe/payment-method-stripe-connect-prompt.js
  client/extensions/woocommerce/app/settings/payments/stripe/payment-method-stripe-key-based-dialog.js
  client/extensions/woocommerce/app/settings/payments/stripe/payment-method-stripe-setup-dialog.js
  client/extensions/woocommerce/app/settings/payments/stripe/style.scss
  client/extensions/woocommerce/app/settings/payments/style.scss
Labels: FixTheFlows, Payment Methods, [Status] Ready to Merge

#35184 Attempt to fix issue where switching flows removes pre-filled plan step data
  client/lib/signup/flow-controller.js
  client/lib/signup/step-actions.js
  client/lib/signup/test/mocks/signup/config/flows.js
  client/lib/signup/test/step-actions.js
  client/signup/config/flows.js
  test/e2e/lib/components/step-wrapper-component.js
  test/e2e/lib/pages/signup/site-type-page.js
  test/e2e/specs/wp-signup-spec.js
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#35266 Correct a typo - notifcations to notifications
  client/my-sites/site-settings/masterbar.jsx
Labels: [Status] Ready to Merge

#35271 Private-by-Default: Fix free to ecomm plan upgrade on private sites
  client/lib/upgrades/notices.jsx
  client/my-sites/checkout/checkout/secure-payment-form.jsx
Labels: Private by Default, [Status] Needs Review, [Status] Needs e2e Testing

#34193 Re-enable private by default in development, test, & wpcalypso environments
  client/lib/abtest/active-tests.js
  client/lib/signup/private-by-default.ts
  client/lib/signup/site-type.js
  client/lib/signup/step-actions.js
  client/lib/signup/test/private-by-default.js
  client/lib/upgrades/notices.jsx
  client/my-sites/checkout/checkout/secure-payment-form.jsx
  client/my-sites/plan-features/index.jsx
  client/my-sites/plan-features/style.scss
  client/my-sites/plans-features-main/index.jsx
  config/development.json
  config/test.json
  config/wpcalypso.json
Labels: Private by Default, [Status] In Progress, [Status] Needs Review, [Status] Needs e2e Testing

#35214 Janitorial: Updating SVG attributes to React-friendly camelCase
  client/components/gauge/index.jsx
  client/my-sites/plan-features/index.jsx
Labels: [Status] Ready to Merge, [Type] Janitorial

#35274 Memberships: Make stripe redirect not open in a new tab
  client/my-sites/earn/memberships/index.jsx
Labels: [Status] Needs Review

#35087 Jetpack Backup: Add more help in credentials entry form
  client/components/rewind-credentials-form/index.jsx
  client/components/rewind-credentials-form/style.scss
  client/my-sites/site-settings/jetpack-credentials/credentials-setup-flow/index.jsx
  client/my-sites/site-settings/jetpack-credentials/credentials-setup-flow/setup-footer.jsx
  client/my-sites/site-settings/jetpack-credentials/credentials-setup-flow/setup-footer.scss
  client/signup/steps/rewind-form-creds/index.jsx
Labels: Rewind, [Status] In Progress

#35175 Signup: Show domain step in import flows
  client/lib/importer/test/utils.js
  client/lib/importer/utils.ts
  client/lib/signup/step-actions.js
  client/signup/config/steps-pure.js
  client/signup/steps/domains/index.jsx
  client/signup/steps/import-url/index.jsx
  client/state/importer-nux/utils.js
  test/e2e/lib/components/find-a-domain-component.js
  test/e2e/specs/wp-signup-spec.js
Labels: Import, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#35263 Full Site Editing: add `test-fse` flow to signup for horizon and localhost
  client/signup/config/flows-pure.js
  config/development.json
  config/horizon.json
Labels: [Goal] Full Site Editing, [Status] Needs Review

#35108 Full Site Editing: Change and/or hide Customizer links if FSE is active
  client/blocks/product-purchase-features-list/index.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/my-sites/checkout/checkout-thank-you/premium-plan-details.jsx
  client/my-sites/themes/thanks-modal.jsx
  client/my-sites/themes/theme-options.js
  client/state/selectors/get-customize-or-edit-front-page-url.js
  client/state/selectors/get-front-page-editor-url.js
Labels: [Goal] Full Site Editing, [Status] Needs Review

#35166 Masterbar: Better descriptive text for Gravatar icon
  client/layout/masterbar/logged-in.jsx
Labels: Accessibility, [Status] Needs i18n Review

#35276 Full Site Editing: hide taxonomies in templates
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template-inserter.php
Labels: [Goal] Full Site Editing, [Status] Needs Review

#35277 Full Site Editing: remove switch to draft while editing templates
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/style.scss
Labels: [Goal] Full Site Editing, [Status] Needs Review

#35279 Jetpack product installer: Improve error logging
  client/my-sites/plans/current-plan/jetpack-product-install/index.tsx
Labels: Analytics, Jetpack, Logstash, Plugins, [Status] Needs Review

#35045 Avoid multiple concurrent requests for lang file.
  client/lib/i18n-utils/switch-locale.js
Labels: Performance, [Status] Needs Review, [Type] Bug, i18n

#35136 Prevent duplicate Babel object spread helpers.
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/babel/default.js
Labels: Performance, [Status] Needs Review, [Type] Enhancement

#34778 Fix/e2e tests jetpack
  test/e2e/lib/components/thank-you-modal-component.js
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/lib/pages/my-plan-page.js
  test/e2e/lib/pages/signup/pick-a-plan-page.js
  test/e2e/lib/pages/wp-admin/wp-admin-jetpack-page.js
  test/e2e/package-lock.json
  test/e2e/package.json
  test/e2e/specs-jetpack-calypso/wp-jetpack-connect-spec.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-plans-spec.js
  test/e2e/specs/wp-theme-switch-spec.js
Labels: [Status] Needs Jetpack e2e Testing, [Status] Needs Review, [Status] Needs e2e Testing

#34231 Import in signup: add plans step
  client/signup/config/flows-pure.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
Labels: Import, Signup, [Status] Needs e2e Testing

#35280 Jetpack product installer: Log errors to logstash
  client/my-sites/plans/current-plan/jetpack-product-install/index.tsx
  client/state/logstash/actions.js
  client/state/logstash/actions.ts
Labels: Jetpack, Logstash, [Status] Ready to Merge, [Type] Task

#35269 FSE: Add a retry to the request for fse templates and default page content
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template-inserter.php
Labels: [Goal] Full Site Editing, [Status] Needs Review

#35291 FSE: Disable template block hover UI
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/style.scss
Labels: [Goal] Full Site Editing, [Status] Needs Review

#35278 Full Site Editing: Disable Move to Trash for templates and template types.
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/style.scss
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#35299 Jetpack Backup: Add link to support doc from creds entry form
  client/components/rewind-credentials-form/index.jsx
Labels: Documentation, Rewind, [Status] Needs Review

#35272 Update Chromedriver to 76
  test/e2e/lib/driver-manager.js
  test/e2e/package-lock.json
  test/e2e/package.json
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#35240 Importers: Move importer configuration to a centralized location.
  client/lib/importer/importer-config.js
  client/lib/importer/store.js
  client/lib/importer/url-validation.js
  client/my-sites/importer/importer-blogger.jsx
  client/my-sites/importer/importer-godaddy-gocentral.jsx
  client/my-sites/importer/importer-medium.jsx
  client/my-sites/importer/importer-squarespace.jsx
  client/my-sites/importer/importer-wix.jsx
  client/my-sites/importer/importer-wordpress.jsx
  client/my-sites/importer/section-import.jsx
  client/my-sites/importer/site-importer/site-importer-input-pane.jsx
  client/signup/steps/import-url/index.jsx
  client/state/imports/constants.js
Labels: Import, [Status] Needs e2e Testing
