Repository Automattic/wp-calypso, pull requests merged in 2019-05, with the labels that each got.

#32609 Update to Business and eCommerce plans. Word it as "Jetpack Advanced …
  client/lib/plans/constants.js
  client/lib/plans/features-list.js
  client/lib/plans/plans-list.js
Labels: [Status] Needs Review

#32677 Gutenberg: Use Calypso Classic on AT sites if the Classic Editor plugin is active
  client/layout/index.jsx
Labels: Atomic, [Goal] Gutenberg, [Status] Needs Review

#32678 Gutenberg: Refactor selectors to reflect supported block editor modes
  client/blocks/inline-help/popover.jsx
  client/post-editor/editor-gutenberg-opt-in-sidebar/index.jsx
  client/state/selectors/is-calypsoify-gutenberg-enabled.js
  client/state/selectors/is-gutenberg-enabled.js
  client/state/selectors/is-gutenframe-enabled.js
  client/state/selectors/is-gutenlypso-enabled.js
Labels: [Goal] Gutenberg, [Status] Needs Review

#32613 Add link to the concierge session scheduler in Thank You page
  client/my-sites/checklist/main.jsx
  client/my-sites/checkout/checkout-thank-you/header.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/controller.jsx
Labels: Marketing, [Status] Needs Review, [Status] Needs e2e Testing

#32646 Signup: clean up process/save step param names and destination URLs
  client/lib/signup/actions.js
  client/lib/signup/progress-store.js
  client/signup/config/flows-pure.js
Labels: Signup, [Status] Needs Review, [Type] Janitorial

#32688 Build: Fix how splitChunk names are set and generated in production
  webpack.config.js
Labels: Build, Performance, [Status] Needs Review

#32683 Memberships section: fix redirects
  client/my-sites/earn/index.js
Labels: [Status] Needs Review, [Type] Bug

#32685 Don't validate the signup form on change
  client/blocks/signup-form/index.jsx
Labels: [Status] Needs Design Review

#32602 Update/flow destination simple
  client/signup/config/flows-pure.js
  client/signup/config/flows.js
  client/signup/processing-screen/index.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#32680 Full Site Editing: Fix blocks console errors
  apps/full-site-editing/full-site-editing-plugin/blocks/content-slot/edit.js
  apps/full-site-editing/full-site-editing-plugin/blocks/template-part/edit.js
  apps/full-site-editing/full-site-editing-plugin/components/post-autocomplete/index.js
Labels: [Goal] Full Site Editing, [Status] Needs Review

#32689 Marketing: Add tracking to Marketing Tools page
  client/my-sites/marketing/tools/feature.tsx
  client/my-sites/marketing/tools/header.tsx
  client/my-sites/marketing/tools/index.tsx
  client/my-sites/marketing/tools/style.scss
Labels: Marketing, [Status] Needs Review

#32625 Add Marketing Tool Google My Business Card
  client/my-sites/marketing/tools/feature-button-with-plan-gate.tsx
  client/my-sites/marketing/tools/google-my-business-feature.tsx
  client/my-sites/marketing/tools/index.tsx
  client/my-sites/plan-features/index.jsx
Labels: Marketing, [Status] Needs Review

#32733 Gutenframe: Allow Jetpack sites back in to the site selector.
  client/my-sites/sites/index.jsx
Labels: Editor, [Status] Ready to Merge, [Type] Bug

#32720 Build: Fix bin/loader-stats to use the new location of assets.json
  bin/loader-stats.js
Labels: Build, [Status] Needs Review

#32631 Happiness: add Upwork fr support
  client/state/selectors/is-eligible-for-upwork-support.ts
  client/state/selectors/test/is-eligible-for-upwork-support.js
Labels: Contact Form, [Status] Needs Review

#32675 Gutenberg: Remove feature flag
  client/gutenberg/editor/index.js
  client/state/selectors/is-calypsoify-gutenberg-enabled.js
  client/state/selectors/is-gutenberg-enabled.js
  client/state/selectors/is-gutenframe-enabled.js
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Goal] Gutenberg, [Status] Needs Review

#32713 Remove extensions loader from server config
  webpack.config.node.js
Labels: Framework, [Status] Needs Review

#32743 Fixes "Site Plan" string literal in client/me/purchases/remove-purchase/index.jsx
  client/me/purchases/remove-purchase/index.jsx
Labels: [Status] Ready to Merge

#29478 Order Summary: Clarify that Domains are Free for One Year
  client/my-sites/checkout/cart/cart-plan-ad.jsx
Labels: Checkout, Domains, OSS Citizen, [Status] Ready to Merge

#32715 Don't init the /sites section at boot
  assets/stylesheets/_components.scss
  client/boot/common.js
  client/my-sites/sites/index.jsx
  client/my-sites/sites/style.scss
Labels: Performance, [Status] Needs Review

#32463 Infinite List: Migrate Styling
  assets/stylesheets/_components.scss
  client/components/infinite-list/index.jsx
Labels: CSS Migration, OSS Citizen, [Status] Needs Review, [Type] Janitorial

#31659 Properly isolate CartStore between tests
  client/lib/cart/store/test/index.js
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#32716 Remove incorrect paragraph from the discount explanation
  client/my-sites/checkout/cart/cart-plan-discount-ad.jsx
Labels: [Status] Needs Review

#32608 End an old A/B Test
  client/lib/abtest/active-tests.js
  client/lib/plans/plans-list.js
Labels: [Status] Needs Review

#32687 E2E Tests: Fix failing Jetpack tests
  test/e2e/lib/components/secure-payment-component.js
  test/e2e/lib/components/sidebar-component.js
  test/e2e/lib/flows/login-flow.js
  test/e2e/lib/pages/plugins-browser-page.js
  test/e2e/lib/pages/stats/activity-page.js
  test/e2e/lib/pages/wp-admin/wp-admin-jetpack-page.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-connect-spec.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-plans-spec.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-plugins-spec.js
  test/e2e/specs/wp-plan-purchase-spec.js
Labels: Testing, [Status] Needs Jetpack e2e Testing, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#32686 Install fonts for i18n tests
  .circleci/config.yml
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#32745 Gutenframe: Dismiss the autosave notice after loading a revision
  apps/wpcom-block-editor/src/calypso/iframe-bridge-server.js
Labels: [Goal] Gutenberg, [Status] Needs Review

#32592 Restore inline site preview
  client/blocks/site/index.jsx
  client/blocks/site/style.scss
Labels: Navigation, [Status] Needs Review

#32760 Site Selector: Update stale inline comments.
  client/my-sites/sites/index.jsx
Labels: Editor, Site Picker, [Status] Ready to Merge

#32702 Full Site Editing: make `wp_template` not `public` by default
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/wp-template.php
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#32784 Gutenframe: Fetch the frame nonce directly from the v1.3 endpoint.
  client/gutenberg/editor/calypsoify-iframe.tsx
  client/state/data-getters/index.js
  client/state/sites/test/actions.js
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Bug

#32649 Jetpack Checklist: De-dupe product feature cards
  client/my-sites/plans/current-plan/jetpack-checklist/constants.js
  client/my-sites/plans/current-plan/jetpack-checklist/index.js
Labels: Checklist, Jetpack, [Status] Needs Review

#32768 JP Features: Remove Site Security, Spam Filtering, Automatic Updates Cards
  client/blocks/product-purchase-features-list/index.jsx
Labels: Checklist, Jetpack, [Status] Needs Review

#32761 Limit TypeScript linting only to TypeScript files
  .eslintrc.js
  npm-shrinkwrap.json
  package.json
  packages/calypso-build/package.json
  packages/eslint-config-wpcalypso/index.js
  server/pages/index.js
Labels: Framework, [Status] Needs Review

#32787 Move netbanking.svg logo to static/ directory
  static/images/upgrades/netbanking.svg
Labels: [Status] Needs Review, [Type] Janitorial

#32773 Jetpack Features: Feature-flag Concierge Card
  client/blocks/product-purchase-features-list/index.jsx
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Checklist, Jetpack, [Status] Needs Review

#32601 Calypso Build Package: Make `WP` flag add JSX -> `@wordpress/element` transforms
  apps/full-site-editing/babel.config.js
  apps/o2-blocks/babel.config.js
  babel.config.js
  packages/calypso-build/README.md
  packages/calypso-build/babel/default.js
  packages/calypso-build/babel/wordpress-element.js
  packages/calypso-build/bin/transpile.js
  packages/calypso-build/webpack.config.js
  packages/calypso-build/webpack/transpile.js
Labels: Build, Packages, [Status] Needs Review

#32717 Full Site Editing: Conditionally enqueue blocks scripts when editing `wp_template` posts
  apps/full-site-editing/full-site-editing-plugin/blocks/content-slot/index.js
  apps/full-site-editing/full-site-editing-plugin/blocks/template-part/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing, [Status] Ready to Merge, [Type] Bug

#32636 Update renovate.json
  renovate.json
Labels: Build, [Status] Needs Review, [Type] Enhancement

#32645 Signup: remove usage of lib/user from Signup controller
  client/signup/controller.js
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#32751 Masterbar: migrate CSS styles to webpack
  assets/stylesheets/_components.scss
  client/layout/masterbar/crowdsignal.jsx
  client/layout/masterbar/logged-out.jsx
  client/layout/masterbar/masterbar.jsx
  client/layout/masterbar/oauth-client.jsx
  client/layout/masterbar/oauth-client.scss
Labels: CSS Migration, Login, [Status] Needs Review

#32727 Full Site Editing: Simplify how FSE blocks fetch posts
  apps/full-site-editing/full-site-editing-plugin/blocks/content-slot/edit.js
  apps/full-site-editing/full-site-editing-plugin/blocks/template-part/edit.js
  apps/full-site-editing/full-site-editing-plugin/components/post-autocomplete/index.js
  apps/full-site-editing/full-site-editing-plugin/lib/fetch-post.js
Labels: [Goal] Full Site Editing, [Status] Ready to Merge, [Type] Enhancement

#31546 Checklist: Replace string concat with whole sentences
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: Checklist, Signup

#32795 Packages: Bump calypso-build version to 1.0.0-rc.2
  packages/calypso-build/package.json
Labels: Build, Packages, [Status] Ready to Merge

#32734 Fix code limiting features to include Ecommerce
  client/components/seo-preview-pane/index.jsx
  client/my-sites/site-settings/seo-settings/form.jsx
  client/post-editor/editor-drawer/index.jsx
Labels: [Status] Ready to Merge

#32707 Added Tracks events to the JetpackModuleToggle
  client/my-sites/site-settings/jetpack-module-toggle.jsx
Labels: [Status] Ready to Merge

#32200 Skip localStorage polyfill in evergreen build.
  webpack.config.js
Labels: Build, Framework, [Status] Needs Review

#32735 Full Site Editing: Remove block editor opt-out for new sites
  client/blocks/inline-help/popover.jsx
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#32591 Re-enable business signup test
  test/e2e/specs/wp-signup-spec.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#32766 Marketing: added tracks events to autosaving toggles
  client/my-sites/site-settings/wrap-settings-form.jsx
Labels: [Status] Ready to Merge

#32776 Marketing/Traffic: Added path property to the SEO Settings Tracks events
  client/my-sites/site-settings/seo-settings/form.jsx
Labels: [Status] Ready to Merge

#32736 Comment Author More Info Element: Fix Word Breaking
  client/my-sites/comments/comment/comment-author-more-info.jsx
Labels: Comments, Design, OSS Citizen, [Status] Needs Review

#32650 Full Site Editing: Rename the Post Content and Template blocks
  apps/full-site-editing/full-site-editing-plugin/blocks/post-content/edit.js
  apps/full-site-editing/full-site-editing-plugin/blocks/post-content/index.js
  apps/full-site-editing/full-site-editing-plugin/blocks/post-content/index.php
  apps/full-site-editing/full-site-editing-plugin/blocks/post-content/style.scss
  apps/full-site-editing/full-site-editing-plugin/blocks/template/edit.js
  apps/full-site-editing/full-site-editing-plugin/blocks/template/index.js
  apps/full-site-editing/full-site-editing-plugin/blocks/template/index.php
  apps/full-site-editing/full-site-editing-plugin/blocks/template/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/index.js
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#32797 Packages: Add file-loader dep to calypso-build
  npm-shrinkwrap.json
  packages/calypso-build/package.json
  packages/calypso-build/webpack/file-loader.js
Labels: Build, Jetpack, [Status] Needs Review

#32801 File Importer: Check for previous status UPLOAD_PROCESSING to enable zip imports
  client/my-sites/importer/uploading-pane.jsx
Labels: [Status] Needs e2e Testing

#32757 G Suite: remove padding on form and fix input width bug
  client/components/upgrades/gsuite/gsuite-dialog/style.scss
Labels: FixTheFlows, G Suite

#32800 Previews: Revert back to using the v1.2 frame nonce.
  client/blocks/site-preview/index.jsx
  client/my-sites/preview/main.jsx
  client/state/posts/utils.js
  client/state/sites/constants.js
Labels: Editor, [Status] Needs Review

#32759 Pass the card display name from Apple Pay to the server
  client/lib/store-transactions/index.js
  client/my-sites/checkout/checkout/web-payment-box.jsx
Labels: Payment Methods, [Status] Needs Review

#32750 Use SVG external content for social-logos.
  client/blocks/login/social-connect-prompt.jsx
  client/blocks/post-share/connection.jsx
  client/blocks/post-share/publicize-actions-list.jsx
  client/blocks/reader-share/index.jsx
  client/components/date-picker/event.jsx
  client/components/share-button/index.jsx
  client/components/social-logo/docs/example.jsx
  client/components/social-logo/index.jsx
  client/components/vertical-menu/items/social-item.jsx
  client/devdocs/design/component-examples.js
  client/devdocs/design/index.jsx
  client/devdocs/design/playground-scope.js
  client/extensions/woocommerce/components/share-widget/index.js
  client/my-sites/activity/activity-log-item/activity-actor.jsx
  client/my-sites/importer/importer-logo.jsx
  client/my-sites/marketing/buttons/preview-button.jsx
  client/my-sites/marketing/connections/service.jsx
  docs/icons.md
  npm-shrinkwrap.json
  package.json
  test/client/jest.config.js
  webpack.config.js
Labels: Performance, [Status] Needs Review

#32807 Gutenframe: Use the new `jetpack_frame_nonce` site option for Jetpack sites.
  client/gutenberg/editor/calypsoify-iframe.tsx
  client/state/data-getters/index.js
  client/state/sites/constants.js
Labels: Editor, [Status] Needs Review

#32816 Remove private by default
  client/lib/signup/step-actions.js
Labels: [Status] Needs Review

#32604 Unbreak ctrl+click on context menu buttons
  client/blocks/inline-help/inline-help-rich-result.jsx
Labels: [Status] Needs Review

#32748 Stats: Remove the repetitive "View" icon and text per row
  client/my-sites/stats/stats-list/action-link.jsx
  client/my-sites/stats/stats-list/stats-list-item.jsx
  client/my-sites/stats/stats-list/style.scss
Labels: FixTheFlows, Stats

#32752 Signup: avoid flicker by loading the step component in route handler
  client/signup/config/step-components.js
  client/signup/controller.js
  client/signup/main.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#32826 Packages: Bump calypso-build version to 1.0.0
  packages/calypso-build/package.json
Labels: Build, Packages, [Status] Needs Review

#32793 Memberships: Members list CSV export
  client/my-sites/earn/memberships/index.jsx
  client/my-sites/earn/memberships/style.scss
Labels: [Status] Needs Review

#32092 Introduce padding above re-Publicize section when it has a notice atop
  client/blocks/post-share/style.scss
Labels: Posts, Publicize, Sharing, [Pri] Normal, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#32802 Full Site Editing: Restrict FSE blocks post selectors to appropriate post types
  apps/full-site-editing/full-site-editing-plugin/blocks/post-content/edit.js
  apps/full-site-editing/full-site-editing-plugin/blocks/template/edit.js
  apps/full-site-editing/full-site-editing-plugin/components/post-autocomplete/index.js
  apps/full-site-editing/full-site-editing-plugin/wp-template.php
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#32763 Reimplement gridicons using SVG external content.
  assets/stylesheets/_vendor.scss
  client/blocks/inline-help/style.scss
  client/components/async-gridicons/fallback.jsx
  client/components/async-gridicons/index.jsx
  client/components/gridicon/docs/example.jsx
  client/components/gridicon/index.jsx
  client/components/happiness-support/index.jsx
  client/components/tinymce/plugins/advanced/plugin.jsx
  client/components/tinymce/plugins/contact-form/plugin.jsx
  client/components/tinymce/plugins/insert-menu/menu-items.jsx
  client/components/tinymce/plugins/insert-menu/plugin.jsx
  client/components/tinymce/plugins/media/advanced/index.jsx
  client/components/tinymce/plugins/media/plugin.jsx
  client/components/tinymce/plugins/wplink/dialog.jsx
  client/devdocs/design/index.jsx
  client/my-sites/checkout/cart/cart-summary-bar.jsx
  client/my-sites/plugins/plugin-action/style.scss
  client/my-sites/plugins/plugin-automated-transfer/style.scss
  docs/icons.md
  npm-shrinkwrap.json
  package.json
  test/client/jest.config.js
  webpack.config.js
Labels: Performance, [Status] Needs Review

#32813 Gutenberg: Avoid Calypsoify flows on Jetpack sites
  client/gutenberg/editor/controller.js
  client/my-sites/pages/page/index.js
  client/my-sites/sidebar/manage-menu.jsx
  client/my-sites/sidebar/site-menu.jsx
  client/state/selectors/get-gutenberg-editor-url.js
  client/state/selectors/is-gutenberg-enabled.js
  client/state/selectors/is-wp-admin-gutenberg-enabled.js
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review

#32815 Nav Drawer: Fix Mobile Colour Contrast Issues
  client/layout/sidebar/style.scss
  client/my-sites/sidebar/style.scss
  client/reader/sidebar/style.scss
Labels: Color Schemes, Mobile, OSS Citizen, [Status] Needs Review

#32700 Checklist Task: Add href and target props, use in JP Checklist
  client/components/checklist/task.js
  client/my-sites/plans/current-plan/jetpack-checklist/index.js
Labels: Checklist, Jetpack, [Status] Needs Review

#32840 Gridicons: Forward refs on gridicons to the wrapped svg
  client/blocks/reader-site-notification-settings/index.jsx
  client/components/gridicon/index.jsx
Labels: Framework, Reader, [Status] Needs Review, [Type] Defect

#32842 Use material icons for the Me page
  client/layout/sidebar/item.jsx
  client/layout/sidebar/style.scss
  client/me/sidebar/index.jsx
  packages/material-design-icons/src/action/outline-credit_card-24px.svg
  packages/material-design-icons/src/action/outline-lock-24px.svg
  packages/material-design-icons/src/action/outline-visibility-24px.svg
  packages/material-design-icons/src/content/outline-block-24px.svg
  packages/material-design-icons/src/social/outline-notifications-24px.svg
  packages/material-design-icons/src/social/outline-person-24px.svg
  packages/material-design-icons/svg-sprite/material-icons.svg
Labels: [Status] Needs Review

#32635 Domain Transfer/Mapping Step: Remove "http://" Prefix
  client/components/domains/map-domain-step/index.jsx
  client/components/domains/transfer-domain-step/index.jsx
Labels: Components, Domains, FixTheFlows, Muriel, OSS Citizen, [Status] Needs Design Review, [Type] Enhancement

#32847 Gutenframe: Add a stylesheet to the block editor build.
  apps/wpcom-block-editor/src/common/index.js
  apps/wpcom-block-editor/src/common/style.scss
Labels: Editor, [Status] Needs Review

#32839 Jetpack Checklist: Open 'View spam stats' Link in New Tab
  client/my-sites/plans/current-plan/jetpack-checklist/index.js
Labels: Checklist, Jetpack, [Status] Needs Review

#32830 Allow multiple sections to add a reducer.
  client/state/add-reducer.js
  client/state/add-reducer.ts
  client/state/test/initial-state.js
Labels: Framework, [Status] Needs Review

#32834 Improve the wpcalypso/jsx-classname-namespace ESLint rule
  client/auth/controller.js
  client/blocks/author-compact-profile/placeholder.jsx
  client/blocks/comment-button/index.jsx
  client/components/domains/domain-product-price/index.jsx
  client/my-sites/themes/logged-out.jsx
  client/my-sites/themes/multi-site.jsx
  client/my-sites/themes/single-site-jetpack.jsx
  client/my-sites/themes/single-site-wpcom.jsx
  packages/eslint-plugin-wpcalypso/CHANGELOG.md
  packages/eslint-plugin-wpcalypso/lib/rules/jsx-classname-namespace.js
  packages/eslint-plugin-wpcalypso/lib/rules/test/jsx-classname-namespace.js
  packages/eslint-plugin-wpcalypso/package.json
Labels: Framework, [Status] Needs Review

#32852 WP.com block editor: Add missing styles from Core 5.2
  apps/wpcom-block-editor/src/common/style.scss
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#32808 Block Editor: unregister `core/underline` before registering our own
  apps/wpcom-block-editor/src/common/rich-text.js
Labels: Editor, [Status] Ready to Merge

#32855 Match JS and TS exclude configs.
  jsconfig.json
Labels: [Status] Needs Review, [Type] Janitorial

#32860 Gutenframe: Add Gutenframe to production and the desktop development environments.
  config/desktop-development.json
  config/production.json
  config/stage.json
Labels: Editor, [Status] Needs Jetpack e2e Testing, [Status] Needs Review, [Status] Needs e2e Testing

#32848 Types: Create global types in top-level client module
  client/gutenberg/editor/calypsoify-iframe.tsx
  client/my-sites/marketing/tools/feature-button-with-plan-gate.tsx
  client/my-sites/marketing/tools/google-my-business-feature.tsx
  client/my-sites/marketing/tools/index.tsx
  client/types.ts
Labels: [Status] Needs Review

#32749 Modernize the RootChild component
  client/blocks/blog-stickers/index.jsx
  client/blocks/calendar-button/README.md
  client/blocks/calendar-button/index.jsx
  client/blocks/calendar-popover/README.md
  client/blocks/calendar-popover/index.jsx
  client/boot/common.js
  client/components/dialog/dialog-base.jsx
  client/components/dialog/index.jsx
  client/components/info-popover/index.jsx
  client/components/language-picker/test/__snapshots__/modal.js.snap
  client/components/popover/README.md
  client/components/popover/index.jsx
  client/components/popover/menu.jsx
  client/components/root-child/index.jsx
  client/components/root-child/test/index.jsx
  client/components/tooltip/index.jsx
Labels: Components, Framework, [Status] Needs Review

#32878 Revert "Modernize the RootChild component"
  client/blocks/blog-stickers/index.jsx
  client/blocks/calendar-button/README.md
  client/blocks/calendar-button/index.jsx
  client/blocks/calendar-popover/README.md
  client/blocks/calendar-popover/index.jsx
  client/boot/common.js
  client/components/dialog/dialog-base.jsx
  client/components/dialog/index.jsx
  client/components/info-popover/index.jsx
  client/components/language-picker/test/__snapshots__/modal.js.snap
  client/components/popover/README.md
  client/components/popover/index.jsx
  client/components/popover/menu.jsx
  client/components/root-child/index.jsx
  client/components/root-child/test/index.jsx
  client/components/tooltip/index.jsx
Labels: [Status] Needs Review

#32875 Don't send jetpack frame nonce in preview requests.
  client/gutenberg/editor/calypsoify-iframe.tsx
Labels: Editor, Jetpack, [Pri] High, [Status] Needs Review, [Type] Defect

#32885 Gutenframe: Get the preview URL from selector
  apps/wpcom-block-editor/src/calypso/iframe-bridge-server.js
  client/gutenberg/editor/calypsoify-iframe.tsx
Labels: [Goal] Gutenberg, [Status] Needs Review

#32871 Build: Make JavaScript parseable by tsc
  .circleci/config.yml
  client/components/vertical-menu/items/index.js
  client/devdocs/design/component-examples.js
  client/devdocs/design/playground-scope.js
  client/extensions/woocommerce/woocommerce-services/api/index.js
  client/layout/guided-tours/config-elements/index.js
  client/my-sites/feature-upsell/main.jsx
  client/my-sites/marketing/connections/services/index.js
  npm-shrinkwrap.json
  packages/calypso-build/babel/default.js
  packages/calypso-build/package.json
Labels: Build, Framework, Packages, [Status] Ready to Merge

#32858 Migrate Domains components CSS to webpack
  assets/stylesheets/_components.scss
  client/components/domains/domain-search-results/index.jsx
  client/components/domains/domain-suggestion/index.jsx
  client/components/domains/domain-transfer-suggestion/index.jsx
  client/components/domains/example-domain-suggestions/index.jsx
  client/components/domains/featured-domain-suggestions/index.jsx
  client/components/domains/featured-domain-suggestions/placeholder.jsx
  client/components/domains/featured-domain-suggestions/placeholder.scss
  client/components/domains/featured-domain-suggestions/style.scss
  client/components/domains/featured-domain-suggestions/styles/base.scss
  client/components/domains/map-domain-step/index.jsx
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/search-filters/index.js
  client/components/domains/search-filters/style.scss
  client/components/domains/use-your-domain-step/index.jsx
  client/components/domains/use-your-domain-step/style.scss
Labels: CSS Migration, Domains, [Status] Ready to Merge

#32892 Calypso build: Add ts(x) extensions to calypso-build
  packages/calypso-build/webpack.config.js
Labels: Build, Packages, [Status] Needs Review, [Type] Defect

#32863 Revert "Gutenframe: Add Gutenframe to production and the desktop development environments."
  config/desktop-development.json
  config/production.json
  config/stage.json
Labels: Editor

#32897 Migrate DomainTip component CSS to webpack
  assets/stylesheets/_components.scss
  client/blocks/domain-tip/docs/example.jsx
  client/blocks/domain-tip/index.jsx
  client/blocks/domain-tip/style.scss
  client/devdocs/design/blocks.jsx
  client/my-sites/stats/stats-insights/index.jsx
Labels: CSS Migration, [Status] Needs Review

#32841 Revert "Classic Editor: removes After the Deadline from the toolbar"
  client/components/tinymce/index.jsx
  client/components/tinymce/plugins/after-the-deadline/core.js
  client/components/tinymce/plugins/after-the-deadline/plugin.js
  client/post-editor/post-editor.jsx
Labels: Editor, [Goal] Gutenberg, [Status] Ready to Merge

#32851 Site Launch: Update site title
  client/signup/config/flows-pure.js
  client/signup/controller.js
  client/signup/main.jsx
  client/signup/utils.js
Labels: Signup, [Status] Ready to Merge, [Type] Janitorial

#32711 README.md: Update Calypso screen shot to reflect latest design
  README.md
Labels: DevDocs, [Pri] Low, [Status] Needs Review, [Type] Janitorial

#32758 Jetpack Checklist: show for free sites as well
  client/jetpack-connect/plans.jsx
  client/my-sites/plans/current-plan/jetpack-checklist/header.js
  client/my-sites/plans/current-plan/jetpack-checklist/index.js
Labels: Checklist, Jetpack, [Status] Ready to Merge

#32790 Sidebar: WP Admin Jetpack link to My Plan
  client/my-sites/sidebar/sidebar.jsx
Labels: Jetpack, NUX, Plans, [Status] Needs Review, [Type] Task

#32896 notifications: add polyfills to standalone build
  apps/notifications/src/standalone/index.js
Labels: Notifications, [Status] Needs Review

#32900 [e2e] Change "Private" post selector
  test/e2e/lib/gutenberg/gutenberg-editor-sidebar-component.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#32552 Add trademark claims notice
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/trademark-claims-notice/index.jsx
  client/components/domains/trademark-claims-notice/style.scss
  client/components/domains/trademark-claims-notice/trademark-claim.jsx
  client/components/domains/trademark-claims-notice/trademark-constants.js
  client/components/domains/trademark-claims-notice/trademark-notice.jsx
  client/my-sites/domains/map-domain/index.jsx
  client/my-sites/domains/transfer-domain/index.jsx
  client/signup/steps/domains/index.jsx
Labels: Domains, [Status] Ready to Merge

#32868 Skip i18n google tests since they are blocking us
  test/e2e/specs-i18n/search-wordpress-on-google.js
Labels: [Status] Needs Review

#32920 Marketing/Sharing: Clarify that visibility setting applies to both sharing buttons and likes
  client/my-sites/marketing/buttons/options.jsx
Labels: Jetpack, Marketing, Sharing, [Status] Ready to Merge

#32861 Update Chromedriver so that it will work with 74
  test/e2e/docs/config.md
  test/e2e/package-lock.json
  test/e2e/package.json
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#32809 Inline help: change button hover animation from wiggle to elevation
  client/blocks/inline-help/style.scss
Labels: FixTheFlows, Help

#32890 Domain transfer: Make sure header title and description for the domai…
  client/components/domains/transfer-domain-step/index.jsx
  client/components/domains/transfer-domain-step/style.scss
Labels: Domains, FixTheFlows, [Status] Ready to Merge

#32883 Change CartSummaryBar GridIcon size to numeric
  client/my-sites/checkout/cart/cart-summary-bar.jsx
Labels: [Status] Needs Review

#26508 Move the Cart Store dependency out of build chunk: try 2
  client/lib/cart/store/index.js
  client/lib/domains/cart-utils.js
  client/lib/domains/utils.js
  client/my-sites/checkout/checkout/index.jsx
  client/state/lib/middleware.js
Labels: Checkout, Framework, Purchases, [Status] Needs e2e Testing, [Status] Ready to Merge

#32297 PopoverMenu: remove action prop passed to PopoverMenuItem
  client/components/popover/menu.jsx
Labels: Components, [Status] Needs Review

#32924 Types: Add types to protect-form
  client/lib/protect-form/index.tsx
Labels: [Status] Ready to Merge, [Type] Janitorial, [Type] Question

#32908 Calypso build: Add changelog and bump to v2
  client/components/screen-reader-text/style.scss
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/package.json
Labels: Packages, [Status] Ready to Merge, [Type] Task

#32854 Some improvements to addReducerToStore types.
  client/state/add-reducer.ts
Labels: [Status] Needs Review, [Type] Janitorial

#32902 Jetpack: remove monthly test
  client/jetpack-connect/plans-grid.jsx
  client/jetpack-connect/plans-landing.jsx
  client/jetpack-connect/plans.jsx
  client/jetpack-connect/test/__snapshots__/plans.js.snap
  client/jetpack-connect/test/plans.js
  client/lib/abtest/active-tests.js
  client/my-sites/plan-features/header.jsx
  client/my-sites/plan-features/index.jsx
  client/my-sites/plan-features/test/header.jsx
  client/my-sites/plans-features-main/index.jsx
Labels: Jetpack, Plans, [Status] Needs Review

#32931 Domains: Close A/B test for different EN vendors
  client/lib/abtest/active-tests.js
  client/lib/domains/suggestions/index.js
Labels: Domains, [Status] Needs Review

#32907 Full Site Editing: Add default value support for PostAutocomplete
  apps/full-site-editing/full-site-editing-plugin/blocks/post-content/edit.js
  apps/full-site-editing/full-site-editing-plugin/blocks/template/edit.js
  apps/full-site-editing/full-site-editing-plugin/components/post-autocomplete/index.js
Labels: [Goal] Full Site Editing, [Status] Ready to Merge, [Type] Janitorial

#32935 Plans: Force the wide plan selection on signup, tabbed /plans
  client/my-sites/plan-features/index.jsx
  client/my-sites/plans-features-main/index.jsx
  client/my-sites/plans/main.jsx
  client/signup/steps/plans/index.jsx
Labels: Plans, [Status] Needs Review, [Status] Needs e2e Testing

#32876 Marketing: Add logos, fix image alignment and button sizes
  client/my-sites/marketing/tools/feature-button-with-plan-gate.tsx
  client/my-sites/marketing/tools/google-my-business-feature.tsx
  client/my-sites/marketing/tools/index.tsx
  client/my-sites/marketing/tools/style.scss
  public/images/marketing/google-ads-logo.png
  public/images/marketing/google-my-business-logo.svg
  public/images/marketing/looka-logo.svg
  public/images/marketing/mailchimp-logo.svg
  public/images/marketing/social-media-logos.svg
  public/images/marketing/upwork-logo.png
Labels: [Status] Ready to Merge, [Type] Bug

#32915 Gutenframe: Add a denied list of plugins that will not allow Gutenframe.
  client/lib/plugins/utils.js
  client/state/selectors/get-gutenberg-editor-url.js
  client/state/selectors/is-any-plugin-active.js
  client/state/selectors/is-gutenframe-enabled.js
  client/state/selectors/is-wp-admin-gutenberg-enabled.js
Labels: Editor, Jetpack, [Goal] Gutenberg, [Status] Needs Review

#32881 Gutenframe: Add page view tracking.
  client/gutenberg/editor/calypsoify-iframe.tsx
Labels: Editor, [Status] Ready to Merge, [Type] Task

#32957 Show concierge upsell to 100% of users
  client/lib/abtest/active-tests.js
Labels: [Status] Needs Review

#32953 Marketing: Fix broken images in Marketing Tools
  static/images/marketing/google-ads-logo.png
  static/images/marketing/google-my-business-logo.svg
  static/images/marketing/looka-logo.svg
  static/images/marketing/mailchimp-logo.svg
  static/images/marketing/social-media-logos.svg
  static/images/marketing/upwork-logo.png
Labels: [Status] Ready to Merge, [Type] Bug

#32960 Revert "PopoverMenu: remove action prop passed to PopoverMenuItem"
  client/components/popover/menu.jsx
Labels: Components, [Status] Ready to Merge, [Type] Bug

#32729 Signup: Don't round corners of the domain search step on mobile
  client/signup/steps/domains/style.scss
Labels: Signup, [Status] In Progress, [Status] Needs Review

#32918 Migrate WebPreview component CSS to webpack
  assets/stylesheets/_components.scss
  client/components/web-preview/component.jsx
Labels: CSS Migration, [Status] Needs Review, [Type] Janitorial

#32968 Remove required param and return types from valid-jsdoc
  .eslintrc.js
  client/state/selectors/is-eligible-for-upwork-support.ts
Labels: Framework, [Status] Ready to Merge, [Type] Janitorial

#32979 Checkout: fix untranslated string
  client/my-sites/checkout/checkout/checkout-terms.jsx
Labels: [Status] Ready to Merge, [Type] Bug, i18n

#32983 [e2e] Change the way how we click on Password Protected option
  test/e2e/lib/gutenberg/gutenberg-editor-sidebar-component.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#32782 Checklist: Bypass inline help for "Edit About text" item
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: Checklist, NUX, [Status] Needs Review

#32989 Marketing: Update social media logo
  client/my-sites/marketing/tools/index.tsx
Labels: [Status] Ready to Merge, [Type] Bug

#32799 Marketing: factored out getCurrentRouteParameterized
  client/my-sites/site-settings/jetpack-module-toggle.jsx
  client/my-sites/site-settings/seo-settings/form.jsx
  client/my-sites/site-settings/wrap-settings-form.jsx
  client/state/selectors/get-current-route-parameterized.js
  client/state/selectors/test/get-current-route-parameterized.js
Labels: Analytics, [Status] Ready to Merge

#32780 Marketing/Traffic: added Tracks events to site stats toggle groups
  client/my-sites/site-settings/jetpack-site-stats.jsx
Labels: [Status] Ready to Merge

#32992 GSuite: Move Skip button next to primary action button for better Muriel comp…
  client/components/upgrades/gsuite/gsuite-dialog/style.scss
Labels: FixTheFlows, [Status] Ready to Merge

#32806 Marketing/Traffic: add tracks events to google analytics fields
  client/my-sites/site-settings/form-analytics.jsx
Labels: Analytics, [Status] Needs Author Reply

#32991 People: Only show the author selector if reassigning posts to a new author
  client/my-sites/people/delete-user/index.jsx
Labels: FixTheFlows, People Management, [Status] Ready to Merge

#32732 People: Update email followers heading for clarity
  client/my-sites/people/followers-list/index.jsx
Labels: FixTheFlows, People Management, [Status] Needs i18n Review

#32996 Gutenframe: Bump required JP version to v7.3.1.
  client/state/selectors/is-gutenframe-enabled.js
  client/state/selectors/is-wp-admin-gutenberg-enabled.js
Labels: Editor, [Status] Needs Review

#32874 Jetpack checklist: add footer with link to WP Admin
  client/blocks/product-purchase-features-list/index.jsx
  client/my-sites/plans/current-plan/jetpack-checklist/footer.js
  client/my-sites/plans/current-plan/jetpack-checklist/index.js
  client/my-sites/plans/current-plan/jetpack-checklist/style.scss
Labels: Checklist, Jetpack, [Status] Ready to Merge, [Type] Enhancement

#32828 Signup Processing Screen: remove unused code
  assets/stylesheets/shared/functions/_z-index.scss
  client/signup/main.jsx
  client/signup/processing-screen/index.jsx
  client/signup/processing-screen/style.scss
  test/e2e/lib/pages/signup/signup-processing-page.js
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#32873 Themes: Fix Broken "View Plan" Button
  client/my-sites/theme/main.jsx
Labels: OSS Citizen, Themes, [Status] Ready to Merge

#32731 People: Update Followers/Email Followers empty states with calls to action
  client/my-sites/people/followers-list/index.jsx
  client/my-sites/people/followers-list/style.scss
Labels: FixTheFlows, People Management, [Status] Ready to Merge

#32984 Memberships section: Content access + connect stripe
  client/components/data/query-memberships-settings/index.js
  client/components/stripe-connect-button/index.js
  client/components/stripe-connect-button/style.scss
  client/lib/plans/constants.js
  client/my-sites/earn/memberships/index.jsx
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/memberships/index.js
  client/state/memberships/reducer.js
  client/state/memberships/settings/actions.js
  client/state/memberships/settings/reducer.js
Labels: [Status] Needs Review

#32693 People: Update the Invites page with better copy
  client/my-sites/people/invite-people/index.jsx
  client/my-sites/people/people-invites/index.jsx
Labels: FixTheFlows, People Management

#32779 Reader: Offer Option to Return to Followed Sites
  client/reader/following-manage/index.jsx
  client/reader/following-manage/style.scss
Labels: OSS Citizen, Reader, [Status] Ready to Merge

#32963 Domains: clean up search results styles
  client/components/domains/domain-product-price/style.scss
  client/components/domains/domain-suggestion/style.scss
  client/components/domains/domain-transfer-suggestion/style.scss
  client/components/domains/featured-domain-suggestions/style.scss
  client/components/domains/search-filters/style.scss
Labels: Domains, FixTheFlows, [Status] Ready to Merge

#32708 Notifications: Increase light gray text contrast
  apps/notifications/src/panel/boot/stylesheets/main.scss
Labels: Accessibility, FixTheFlows, Notifications

#32990 Checklist: Bypass inline help for 3 additional items
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: Checklist, NUX, [Goal] Onboarding, [Status] Needs Review

#33029 Sidebar: Hide Manage Tab when Empty
  client/my-sites/sidebar/sidebar.jsx
Labels: FixTheFlows, Navigation, OSS Citizen, [Status] Ready to Merge

#32973 Sidebar Banner: Remove Right Margin
  client/my-sites/current-site/sidebar-banner/style.scss
Labels: Design, Menus, Navigation, OSS Citizen, [Status] Ready to Merge

#33025 Full Site Editing: Use JS to conditionally register FSE blocks
  apps/full-site-editing/full-site-editing-plugin/blocks/post-content/index.js
  apps/full-site-editing/full-site-editing-plugin/blocks/template/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#33019 Signup Utils: inline mergeFormWithValue into the only usage place
  client/blocks/signup-form/index.jsx
  client/signup/test/utils.js
  client/signup/utils.js
Labels: Signup, [Status] Needs Review, [Type] Janitorial
