Repository Automattic/wp-calypso, pull requests merged in 2019-06, with the labels that each got.

#33518 Recurring Payments: Release
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Status] Needs Review

#33524 Recurring payments: Remove memberships support
  client/components/tinymce/index.jsx
  client/components/tinymce/plugins/insert-menu/menu-items.jsx
  client/components/tinymce/plugins/simple-payments/shortcode-utils.js
Labels: [Pri] BLOCKER, [Status] Needs Review, [Type] Bug

#33526 Recurring Payments: a little onboarding + atomic fix
  client/my-sites/earn/memberships/index.jsx
Labels: [Status] Needs Review

#33527 Recurring Payments: Show earn section always
  client/lib/ads/utils.js
  client/my-sites/earn/ads/wrapper.jsx
  client/my-sites/earn/index.js
  client/my-sites/earn/main.jsx
  client/my-sites/earn/memberships/index.jsx
  client/my-sites/sidebar/sidebar.jsx
Labels: [Status] Needs Review

#32722 Google Photos: enable mime type filtering
  client/my-sites/media-library/filter-bar.jsx
  client/my-sites/media/main.jsx
  client/post-editor/media-modal/index.jsx
Labels: Media, [Status] Needs Review

#33436 Plans: update free CTA during onboarding
  client/my-sites/plans-features-main/index.jsx
Labels: Plans, [Status] Ready to Merge

#33469 Adds Upwork banner readme
  client/blocks/upwork-banner/README.md
  client/blocks/upwork-banner/screenshot.png
Labels: [Status] Needs Review

#33468 Fix typo in test name
  client/blocks/upwork-banner/test/__snapshots__/index.js.snap
  client/blocks/upwork-banner/test/index.js
Labels: [Status] Needs Review

#33486 Update HeaderButton component
  client/components/header-button/style.scss
Labels: Components, FixTheFlows, [Status] Ready to Merge

#33554 Signup: Add default copy for siteTopicLabel for the site topic step
  client/lib/signup/site-type.js
Labels: Signup, [Type] Janitorial

#33047 Add `aria-label` to site topic and site title input fields in signup.
  client/components/site-verticals-suggestion-search/index.jsx
  client/components/suggestion-search/index.jsx
  client/signup/steps/site-title/index.jsx
  client/signup/steps/site-topic/form.jsx
  client/signup/steps/site-topic/index.jsx
Labels: FixTheFlows, Signup, [Status] Needs Review

#33158 Remove: domain-to-plan upsell nudge
  client/my-sites/checkout/cart/cart-plan-ad.jsx
  client/my-sites/checkout/cart/popover-cart.jsx
  client/my-sites/checkout/cart/secondary-cart.jsx
  client/my-sites/checkout/cart/test/cart-plan-ad.js
  client/my-sites/plans/current-plan/test/header.jsx
Labels: Marketing, [Status] Needs Review, [Status] Needs e2e Testing

#33545 Checklist: Add jetpack/checklist/performance feature flag
  config/development.json
  config/stage.json
  config/wpcalypso.json
Labels: Checklist, Jetpack, NUX, [Goal] Onboarding, [Status] Ready to Merge, [Type] Task

#33563 Checklist: Disable Jetpack perf checklist for more visible environments
  config/stage.json
  config/wpcalypso.json
Labels: Checklist, Jetpack, [Status] Ready to Merge, [Type] Feature progress, [Type] Task

#33548 Checklist: Jetpack structure
  client/components/checklist/README.md
  client/components/checklist/checklist.js
  client/my-sites/plans/current-plan/jetpack-checklist/checklist-section-title.tsx
  client/my-sites/plans/current-plan/jetpack-checklist/constants.ts
  client/my-sites/plans/current-plan/jetpack-checklist/index.js
  client/my-sites/plans/current-plan/jetpack-checklist/style.scss
  client/my-sites/plans/current-plan/jetpack-checklist/util.ts
Labels: Checklist, Jetpack, NUX, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Feature progress

#33540 Fix JSON bodies in state/http.
  client/state/http/index.js
Labels: [Status] Needs e2e Testing, [Type] Bug

#33345 Remove the FeatureComparison component
  assets/stylesheets/_components.scss
  client/components/seo/preview-upgrade-nudge/style.scss
  client/devdocs/design/blocks.jsx
  client/my-sites/feature-comparison/README.md
  client/my-sites/feature-comparison/docs/example.jsx
  client/my-sites/feature-comparison/index.jsx
  client/my-sites/feature-comparison/style.scss
Labels: [Status] Needs Review, [Type] Janitorial

#33346 PlanCompareCard: fixup and migrate CSS styles
  assets/stylesheets/_components.scss
  client/my-sites/plan-compare-card/index.jsx
  client/my-sites/plan-compare-card/item.jsx
  client/my-sites/plan-compare-card/style.scss
Labels: CSS Migration, [Status] Needs Author Reply, [Type] Janitorial

#33546 Separate sites selectors.
  client/state/sites/selectors.js
  client/state/sites/selectors/build-seo-title.js
  client/state/sites/selectors/can-current-user-upgrade-site.js
  client/state/sites/selectors/can-current-user-use-ads.js
  client/state/sites/selectors/can-current-user-use-store.js
  client/state/sites/selectors/can-jetpack-site-auto-update-core.js
  client/state/sites/selectors/can-jetpack-site-auto-update-files.js
  client/state/sites/selectors/can-jetpack-site-manage.js
  client/state/sites/selectors/can-jetpack-site-update-files.js
  client/state/sites/selectors/get-customizer-url.js
  client/state/sites/selectors/get-jetpack-computed-attributes.js
  client/state/sites/selectors/get-jetpack-site-remote-management-url.js
  client/state/sites/selectors/get-jetpack-site-update-files-disabled-reasons.js
  client/state/sites/selectors/get-seo-title-formats-for-site.js
  client/state/sites/selectors/get-seo-title-formats.js
  client/state/sites/selectors/get-seo-title.js
  client/state/sites/selectors/get-site-admin-url.js
  client/state/sites/selectors/get-site-by-slug.js
  client/state/sites/selectors/get-site-by-url.js
  client/state/sites/selectors/get-site-collisions.js
  client/state/sites/selectors/get-site-computed-attributes.js
  client/state/sites/selectors/get-site-domain.js
  client/state/sites/selectors/get-site-front-page-type.js
  client/state/sites/selectors/get-site-front-page.js
  client/state/sites/selectors/get-site-option.js
  client/state/sites/selectors/get-site-plan-slug.js
  client/state/sites/selectors/get-site-plan.js
  client/state/sites/selectors/get-site-posts-page.js
  client/state/sites/selectors/get-site-slug.js
  client/state/sites/selectors/get-site-theme-showcase-path.js
  client/state/sites/selectors/get-site-title.js
  client/state/sites/selectors/get-site-url.js
  client/state/sites/selectors/get-site.js
  client/state/sites/selectors/get-updates-by-site-id.js
  client/state/sites/selectors/has-all-sites-list.js
  client/state/sites/selectors/has-default-site-title.js
  client/state/sites/selectors/has-jetpack-site-custom-domain.js
  client/state/sites/selectors/has-jetpack-site-jetpack-themes-extended-features.js
  client/state/sites/selectors/has-jetpack-site-jetpack-themes.js
  client/state/sites/selectors/has-static-front-page.js
  client/state/sites/selectors/index.js
  client/state/sites/selectors/is-current-plan-paid.js
  client/state/sites/selectors/is-current-site-plan.js
  client/state/sites/selectors/is-jetpack-minimum-version.js
  client/state/sites/selectors/is-jetpack-module-active.js
  client/state/sites/selectors/is-jetpack-site-main-network-site.js
  client/state/sites/selectors/is-jetpack-site-multi-site.js
  client/state/sites/selectors/is-jetpack-site-secondary-network-site.js
  client/state/sites/selectors/is-jetpack-site.js
  client/state/sites/selectors/is-new-site.js
  client/state/sites/selectors/is-requesting-site.js
  client/state/sites/selectors/is-requesting-sites.js
  client/state/sites/selectors/is-single-user-site.js
  client/state/sites/selectors/is-site-conflicting.js
  client/state/sites/selectors/is-site-previewable.js
  client/state/sites/selectors/package.json
  client/state/sites/selectors/site-has-minimum-jetpack-version.js
  client/state/sites/selectors/verify-jetpack-modules-active.js
Labels: Sites, State, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#33565 Separate selectors in `state/ui`.
  client/state/ui/selectors.js
  client/state/ui/selectors/get-section-group.js
  client/state/ui/selectors/get-section-name.js
  client/state/ui/selectors/get-section.js
  client/state/ui/selectors/get-selected-site-id.js
  client/state/ui/selectors/get-selected-site-slug.js
  client/state/ui/selectors/get-selected-site.js
  client/state/ui/selectors/has-sidebar.js
  client/state/ui/selectors/index.js
  client/state/ui/selectors/is-preview-showing.js
  client/state/ui/selectors/is-section-isomorphic.js
  client/state/ui/selectors/is-section-loading.js
  client/state/ui/selectors/is-site-section.js
  client/state/ui/selectors/masterbar-is-visible.js
  client/state/ui/selectors/package.json
Labels: State, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#32922 InfoPopover: improve a11y, fix ESLint warnings, prepare for RootChild modernization
  client/components/info-popover/index.jsx
  client/components/info-popover/style.scss
Labels: Accessibility, Components, [Status] Needs Review

#33551 CSS: Migrate keyboard shortcut styles
  assets/stylesheets/_components.scss
  client/lib/keyboard-shortcuts/index.js
  client/lib/keyboard-shortcuts/menu.jsx
  client/lib/keyboard-shortcuts/menu.scss
Labels: CSS Migration, [Status] Needs Review

#33569 css: migrate plan-price styles
  assets/stylesheets/_components.scss
  client/my-sites/plan-price/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33528 Recurring Payments /earn: visual improvements
  client/my-sites/earn/memberships/index.jsx
  client/my-sites/earn/memberships/style.scss
Labels: [Status] Needs Review

#33577 Update post selector to use new CSS pipeline
  assets/stylesheets/_components.scss
  client/my-sites/post-selector/index.jsx
Labels: CSS Migration

#33578 css: migrate post-edit-button styles
  assets/stylesheets/_components.scss
  client/blocks/post-edit-button/index.jsx
  client/blocks/post-edit-button/style.scss
Labels: CSS Migration, [Status] Needs Review

#33581 CSS: Migrate FAQ component
  assets/stylesheets/_components.scss
  client/components/faq/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33583 css: migrate blocks/like-button styles
  assets/stylesheets/_components.scss
  client/blocks/like-button/button.jsx
  client/blocks/like-button/icons.jsx
  client/blocks/like-button/icons.scss
  client/blocks/like-button/style.scss
  client/my-sites/post-like-button/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33582 Migrate conversation-follow-button styles to Webpack CSS pipeline.
  assets/stylesheets/_components.scss
  client/blocks/conversation-follow-button/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33194 [e2e] Move all notices into component
  test/e2e/lib/components/notices-component.js
  test/e2e/lib/components/post-editor-toolbar-component.js
  test/e2e/lib/components/secure-payment-component.js
  test/e2e/lib/driver-helper.js
  test/e2e/lib/flows/delete-plan-flow.js
  test/e2e/lib/flows/jetpack-connect-flow.js
  test/e2e/lib/pages/cancel-domain-page.js
  test/e2e/lib/pages/cancel-purchase-page.js
  test/e2e/lib/pages/disconnect-survey-page.js
  test/e2e/lib/pages/edit-team-member-page.js
  test/e2e/lib/pages/editor-page.js
  test/e2e/lib/pages/invite-people-page.js
  test/e2e/lib/pages/manage-purchase-page.js
  test/e2e/lib/pages/people-page.js
  test/e2e/lib/pages/posts-page.js
  test/e2e/lib/pages/revoke-page.js
  test/e2e/lib/pages/settings-page.js
  test/e2e/lib/pages/woocommerce/add-edit-product-page.js
  test/e2e/lib/pages/wp-admin/wp-admin-jetpack-page.js
  test/e2e/lib/pages/wp-admin/wp-admin-posts-page.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-plugins-spec.js
  test/e2e/specs-woocommerce/wp-woocommerce-spec.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
  test/e2e/specs/wp-invite-users-spec.js
  test/e2e/specs/wp-page-editor-spec.js
  test/e2e/specs/wp-post-editor-spec.js
Labels: [Status] Needs Jetpack e2e Testing, [Status] Needs e2e Testing, [Status] Ready to Merge

#33566 Add ref param to signup tests
  test/e2e/lib/pages/signup/start-page.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#33573 CSS: Migrate directly styles to new CSS pipeline
  assets/stylesheets/_components.scss
  client/lib/directly/index.js
Labels: CSS Migration, [Status] Needs Review

#33588 Migrate payment methods block CSS to webpack.
  assets/stylesheets/_components.scss
  client/blocks/payment-methods/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33589 css: migrate blocks/gdpr-banner styles
  assets/stylesheets/_components.scss
  client/blocks/gdpr-banner/index.jsx
Labels: CSS Migration, [Status] Ready to Merge

#33593 CSS Migration - plans-features-main
  assets/stylesheets/_components.scss
  client/my-sites/plans-features-main/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33597 css: migrate blocks/domain-to-plan-nudge styles
  assets/stylesheets/_components.scss
  client/blocks/domain-to-plan-nudge/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33590 CSS Migration - plans update
  assets/stylesheets/_components.scss
  client/my-sites/plans/style.scss
Labels: CSS Migration

#33595 css: migrate blocks/follow-button styles
  assets/stylesheets/_components.scss
  client/blocks/follow-button/button.jsx
Labels: CSS Migration, [Status] Needs Review

#33603 CSS: Migrate styles for user mentions
  assets/stylesheets/_components.scss
  client/blocks/user-mentions/style.scss
  client/blocks/user-mentions/suggestion-list.jsx
  client/blocks/user-mentions/suggestion-list.scss
  client/blocks/user-mentions/suggestion.jsx
  client/blocks/user-mentions/suggestion.scss
Labels: CSS Migration, [Status] Needs Review

#33612 CSS: Migrate blocks/image-selector style
  assets/stylesheets/_components.scss
  client/blocks/image-selector/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33607 CSS: Migrate lib/accept styles
  assets/stylesheets/_components.scss
  client/lib/accept/dialog.jsx
  client/lib/accept/dialog.scss
  client/lib/accept/test/index.js
Labels: CSS Migration, [Status] Needs Review

#33609 css: migrate blocks/post-likes styles
  assets/stylesheets/_components.scss
  client/blocks/post-likes/index.jsx
  client/blocks/post-likes/popover.jsx
  client/blocks/post-likes/popover.scss
  client/blocks/post-likes/style.scss
  client/blocks/post-likes/variables.scss
Labels: CSS Migration, [Status] Needs Review

#32307 Teach the component css scorer about overrides
  bin/categorize-component-styles.js
Labels: CSS Migration, [Status] Needs Review

#33605 CSS: Migrate styles for drop zone
  assets/stylesheets/_components.scss
  client/components/drop-zone/index.jsx
  client/components/drop-zone/test/index.jsx
Labels: CSS Migration, [Status] Needs Review

#32923 Try: Translation Scanner
  client/components/community-translator/constants.js
  client/components/community-translator/test/utils.js
  client/components/community-translator/utils.js
  client/layout/community-translator/launcher.jsx
  client/lib/i18n-utils/constants.js
  client/lib/i18n-utils/glotpress.js
  client/lib/i18n-utils/translation-scanner.js
  client/me/account/main.jsx
  config/development.json
  config/horizon.json
  config/wpcalypso.json
Labels: DO NOT MERGE, [Status] In Progress, [Type] New feature

#33602 Migrate pagination CSS and correct some eslint warnings
  assets/stylesheets/_components.scss
  client/components/pagination/docs/example.jsx
  client/components/pagination/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33580 CSS: Migrate conversations stream and caterpillar
  assets/stylesheets/_components.scss
  client/blocks/conversation-caterpillar/index.jsx
  client/blocks/conversation-caterpillar/style.scss
  client/blocks/conversations/list.jsx
  client/blocks/conversations/list.scss
  client/reader/conversations/stream.js
  client/reader/conversations/stream.scss
Labels: CSS Migration, [Status] Needs Review

#33601 css: migrate blocks/stats-navigation styles
  assets/stylesheets/_components.scss
  client/blocks/stats-navigation/index.js
  client/blocks/stats-navigation/intervals.js
  client/blocks/stats-navigation/intervals.scss
  client/blocks/stats-navigation/style.scss
Labels: CSS Migration, [Status] Needs Review

#33635 css: migrate my-sites/pages/blog-posts-page styles
  assets/stylesheets/_components.scss
  client/my-sites/pages/blog-posts-page/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33620 css: migrate credit-card-form styles
  assets/stylesheets/_components.scss
  client/blocks/credit-card-form/index.jsx
  client/blocks/credit-card-form/loading-placeholder.jsx
  client/blocks/credit-card-form/style.scss
  client/components/credit-card-form-fields/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33516 Recurring payments: Edit flow
  client/my-sites/earn/memberships/products.jsx
  client/state/data-layer/wpcom/sites/memberships/index.js
Labels: [Status] Needs Review, [Type] Bug

#33639 css: migrate me/notification-settings/wpcom-settings styles
  assets/stylesheets/_components.scss
  client/me/notification-settings/wpcom-settings/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33641 Migrate draft list popup CSS to webpack
  assets/stylesheets/_components.scss
  client/my-sites/draft/index.jsx
  client/my-sites/draft/style.scss
Labels: CSS Migration, [Status] Needs Review

#33638 Fix gutenberg selectors
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/specs/wp-calypso-gutenberg-page-editor-spec.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#33618 CSS: migrate page-card-info
  assets/stylesheets/_components.scss
  client/my-sites/pages/page-card-info/index.jsx
  client/my-sites/pages/page-card-info/style.scss
  client/my-sites/post-relative-time-status/style.scss
Labels: CSS Migration, [Status] Needs Review

#33640 Reduced the margin on "start with free" text in the onboarding page
  client/my-sites/plans-features-main/style.scss
  npm-shrinkwrap.json
Labels: Design

#33505 Use domain property to determine whether domain privacy must be removed before udpate
  client/my-sites/domains/domain-management/edit-contact-info/index.jsx
  client/state/sites/domains/assembler.js
  client/state/sites/domains/test/fixture/index.js
Labels: Domains, [Status] Needs Review

#32424 Add new blacklisted plugin slugs - March 2019
  client/my-sites/plugins/plugin-meta/index.jsx
Labels: Atomic, Plugins, [Status] Ready to Merge, [Type] Janitorial

#33663 Rebuild shrinkwrap to include wordpress deps
  npm-shrinkwrap.json
Labels: Build, [Status] Needs Review

#33656 Classic Editor: Fix click stealing when adding tags
  client/post-editor/editor-categories-tags/accordion.jsx
Labels: [Status] Needs Review, [Type] Bug

#33652 Migrate css for NPS Survey notice
  assets/stylesheets/_components.scss
  client/layout/nps-survey-notice/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33664 CSS: Migrate my-sites/media-library/upload-button
  assets/stylesheets/_components.scss
Labels: CSS Migration, [Status] Needs Review

#33668 CSS: Migrate me/sidebar/style
  assets/stylesheets/_components.scss
  client/me/sidebar/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33651 css: migrate components/mini-site-preview styles
  assets/stylesheets/_components.scss
  client/components/mini-site-preview/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33644 Migrate term-form-dialog to the new CSS pipeline
  assets/stylesheets/_components.scss
  client/blocks/term-form-dialog/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33655 CSS: migrate mailing-list styles
  assets/stylesheets/_components.scss
  client/mailing-lists/index.js
Labels: CSS Migration, [Status] Needs Review

#33657 PostRelativeTimeStatus: migrate CSS to webpack
  assets/stylesheets/_components.scss
  client/my-sites/pages/page-card-info/index.jsx
  client/my-sites/pages/page-card-info/style.scss
  client/my-sites/pages/page/index.js
  client/my-sites/post-relative-time-status/index.jsx
  client/my-sites/post-relative-time-status/style.scss
  client/post-editor/style.scss
Labels: CSS Migration, [Status] Needs Review

#33617 CSS: Migrate blocks/site style
  assets/stylesheets/_components.scss
  client/blocks/site/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33553 Remove code for old twoYearPlanByDefault test
  client/lib/abtest/active-tests.js
  client/my-sites/plan-features/index.jsx
Labels: Checkout, [Status] Needs Review

#33181 Import/Export: move import and export into dedicated sections
  client/components/data/query-media-export/index.js
  client/components/formatted-header/index.jsx
  client/my-sites/controller.js
  client/my-sites/exporter/container.jsx
  client/my-sites/exporter/controller.js
  client/my-sites/exporter/export-card/advanced-settings.jsx
  client/my-sites/exporter/export-card/index.jsx
  client/my-sites/exporter/export-card/post-type-options.jsx
  client/my-sites/exporter/export-card/select.jsx
  client/my-sites/exporter/export-media-card/index.js
  client/my-sites/exporter/guided-transfer-card/index.jsx
  client/my-sites/exporter/index.js
  client/my-sites/exporter/notices.jsx
  client/my-sites/exporter/section-export.jsx
  client/my-sites/exporter/style.scss
  client/my-sites/guided-transfer/guided-transfer.jsx
  client/my-sites/importer/controller.js
  client/my-sites/importer/error-pane.jsx
  client/my-sites/importer/importing-pane.jsx
  client/my-sites/importer/index.js
  client/my-sites/importer/jetpack-importer.jsx
  client/my-sites/importer/section-import.jsx
  client/my-sites/importer/style.scss
  client/my-sites/sidebar/sidebar.jsx
  client/my-sites/sidebar/tools-menu.jsx
  client/my-sites/site-settings/controller.js
  client/my-sites/site-settings/delete-site/index.jsx
  client/my-sites/site-settings/index.js
  client/my-sites/site-settings/settings-import/descriptive-header.jsx
  client/my-sites/site-settings/site-tools/index.jsx
  client/sections.js
  client/signup/config/flows-pure.js
  client/state/data-layer/wpcom/sites/exports/media/index.js
  client/state/data-layer/wpcom/sites/exports/media/test/index.js
  client/state/exporter/actions.js
  client/state/exporter/constants.js
  client/state/exporter/reducers.js
  client/state/exporter/selectors.js
  client/state/exporter/test/actions.js
  client/state/exporter/test/data/index.js
  client/state/exporter/test/reducer.js
  client/state/exporter/test/selectors.js
  client/state/reducer.js
  client/state/selectors/get-media-export-url.js
  client/state/selectors/test/get-media-export-url.js
  client/state/site-settings/reducer.js
  test/e2e/lib/pages/importer-page.js
  test/e2e/specs/wp-import-site-spec.js
Labels: Export, Import, [Status] Needs e2e Testing

#33674 CSS: migrate video editor
  assets/stylesheets/_components.scss
  client/blocks/video-editor/index.jsx
  client/blocks/video-editor/style.scss
Labels: CSS Migration, [Status] Needs Review

#33677 Add Warnings on Marketing Connection Page
  client/my-sites/marketing/connections/services-group.jsx
Labels: Publicize, [Status] Ready to Merge

#33670 css: migrate me/notification-settings/comment-settings styles
  assets/stylesheets/_components.scss
  client/me/notification-settings/comment-settings/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33650 Migrate social icons CSS to webpack.
  assets/stylesheets/_components.scss
  client/components/social-icons/facebook.jsx
  client/components/social-icons/google.jsx
Labels: CSS Migration, [Status] Needs Review

#33654 Migrate text-diff CSS to webpack.
  assets/stylesheets/_components.scss
  client/components/text-diff/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33672 Pages: migrate CSS to webpack
  assets/stylesheets/_components.scss
  client/my-sites/pages/controller.js
  client/my-sites/pages/index.js
  client/my-sites/pages/main.jsx
  client/my-sites/pages/page-list.jsx
  client/my-sites/post-relative-time-status/style.scss
  client/my-sites/sidebar/site-menu.jsx
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Pages, [Status] Needs Review

#32976 Earn Page: Fix Plan Icon not Fitting into Circle
  client/blocks/upgrade-nudge-expanded/style.scss
Labels: Design, OSS Citizen, WordAds, [Status] Needs Review

#33688 Change the z-index of the search field in the Purchases section.
  assets/stylesheets/shared/functions/_z-index.scss
  client/components/search/style.scss
Labels: FixTheFlows, Purchases, [Status] Ready to Merge

#33693 Fix domains signup display issue on IE11
  client/components/domains/featured-domain-suggestions/style.scss
Labels: Domains, [Status] Ready to Merge, [Type] Bug

#33320 Reorganise exports in lib/cart-values.
  client/components/domains/map-domain-step/index.jsx
  client/components/domains/register-domain-step/index.jsx
  client/components/upgrades/gsuite/gsuite-dialog/index.jsx
  client/components/upgrades/gsuite/index.jsx
  client/lib/cart-values/cart-items.js
  client/lib/cart-values/index.js
  client/lib/cart-values/test/index.js
  client/lib/cart/store/cart-analytics.js
  client/lib/cart/store/index.js
  client/lib/cart/store/test/cart-analytics.js
  client/lib/checkout/index.js
  client/lib/domains/cart-utils.js
  client/lib/purchases/index.js
  client/lib/signup/cart.js
  client/lib/signup/step-actions.js
  client/lib/transaction/store.js
  client/lib/upgrades/actions/cart.js
  client/lib/upgrades/actions/free-trials.js
  client/my-sites/checkout/cart/cart-item.jsx
  client/my-sites/checkout/cart/cart-items.jsx
  client/my-sites/checkout/cart/cart-plan-ad-theme.jsx
  client/my-sites/checkout/cart/cart-plan-discount-ad.jsx
  client/my-sites/checkout/cart/cart-total.jsx
  client/my-sites/checkout/checkout/checkout-terms.jsx
  client/my-sites/checkout/checkout/domain-details-form.jsx
  client/my-sites/checkout/checkout/domain-registration-agreement.jsx
  client/my-sites/checkout/checkout/domain-registration-hsts.jsx
  client/my-sites/checkout/checkout/domain-registration-refund-policy.jsx
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/checkout/pay-button.jsx
  client/my-sites/checkout/checkout/payment-box.jsx
  client/my-sites/checkout/checkout/paypal-payment-box.jsx
  client/my-sites/checkout/checkout/redirect-payment-box.jsx
  client/my-sites/checkout/checkout/secure-payment-form.jsx
  client/my-sites/checkout/checkout/subscription-text.jsx
  client/my-sites/checkout/checkout/web-payment-box.jsx
  client/my-sites/checkout/concierge-quickstart-session/index.jsx
  client/my-sites/checkout/concierge-session-nudge/index.jsx
  client/my-sites/checkout/gsuite-nudge/index.jsx
  client/my-sites/current-site/stale-cart-items-notice.js
  client/my-sites/domains/domain-search/index.jsx
  client/my-sites/domains/domain-search/site-redirect-step.jsx
  client/my-sites/domains/map-domain/index.jsx
  client/my-sites/domains/transfer-domain/index.jsx
  client/my-sites/email/gsuite-add-users/add-users.jsx
  client/my-sites/exporter/guided-transfer-card/complete-purchase-notice.jsx
  client/my-sites/guided-transfer/host-credentials-page/index.jsx
  client/signup/steps/domains/index.jsx
  client/signup/steps/site-or-domain/index.jsx
  client/state/selectors/is-eligible-for-checkout-to-checklist.js
Labels: Checkout, Purchases, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#33676 Fix proptype warning for login links when SSR'd
  client/login/wp-login/login-links.jsx
Labels: Login, [Status] Needs Review, [Type] Janitorial

#33691 Remove the manage/plan-features feature flag
  client/lib/plans/index.js
  client/my-sites/domains/domain-management/list/index.jsx
  client/my-sites/email/email-management/index.jsx
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Status] Needs Review

#33648 css: migrate components/keyed-suggestions styles
  assets/stylesheets/_components.scss
  client/components/keyed-suggestions/index.jsx
  client/components/keyed-suggestions/style.scss
Labels: CSS Migration, [Status] Needs Review

#33571 Jetpack performance checklist: Add UI for tasks
  client/my-sites/plans/current-plan/jetpack-checklist/constants.ts
  client/my-sites/plans/current-plan/jetpack-checklist/index.tsx
  client/state/sites/plans/selectors.js
Labels: Checklist, Jetpack, NUX, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Task

#33413 FSE: pass error messages to frontend
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/class-starter-page-templates.php
Labels: FSE: Page Templates, [Goal] Full Site Editing, [Status] Needs Review

#33685 Migrate CSS for my-sites/checklist
  assets/stylesheets/_components.scss
  client/my-sites/checklist/main.jsx
Labels: CSS Migration, [Status] Needs Review

#33699 FSE: Pass locale when requesting templates
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/class-starter-page-templates.php
Labels: FSE: Page Templates, [Goal] Full Site Editing, [Status] Needs Review, [Type] Enhancement

#33689 Gutenberg: fix scrolling in iframe for ios devices
  client/gutenberg/editor/style.scss
Labels: Editor, [Status] Needs Review

#33686 fix: notification settings comments classname
  client/me/notification-settings/comment-settings/style.scss
Labels: CSS Migration, [Status] Needs Review

#33706 Exporter: Migrate CSS
  assets/stylesheets/_components.scss
  client/my-sites/exporter/export-card/post-type-options.jsx
  client/my-sites/exporter/guided-transfer-card/index.jsx
  client/my-sites/exporter/guided-transfer-card/style.scss
  client/my-sites/exporter/section-export.jsx
  client/my-sites/exporter/style.scss
Labels: CSS Migration, [Status] Needs Review

#31818 Migrate Form CSS
  assets/stylesheets/_components.scss
  client/components/forms/form-button/index.jsx
  client/components/forms/form-buttons-bar/index.jsx
  client/components/forms/form-country-select/index.jsx
  client/components/forms/form-currency-input/index.jsx
  client/components/forms/form-fieldset/index.jsx
  client/components/forms/form-input-validation/index.jsx
  client/components/forms/form-label/index.jsx
  client/components/forms/form-password-input/index.jsx
  client/components/forms/form-radio-with-thumbnail/index.jsx
  client/components/forms/form-radios-bar/index.jsx
  client/components/forms/form-range/index.jsx
  client/components/forms/form-section-heading/index.jsx
  client/components/forms/form-select/index.jsx
  client/components/forms/form-text-input-with-action/index.jsx
  client/components/forms/form-text-input-with-affixes/index.jsx
  client/components/forms/form-toggle/compact.jsx
  client/components/forms/form-toggle/compact.scss
  client/components/forms/form-toggle/index.jsx
  client/components/forms/form-toggle/style.scss
  client/components/forms/form-verification-code-input/index.jsx
  client/components/forms/range/index.jsx
  client/components/forms/sortable-list/index.jsx
Labels: CSS Migration, [Status] Needs Review, [Status] Needs e2e Testing

#33678 CSS migrate environment badge
  assets/stylesheets/_components.scss
  client/components/environment-badge/index.jsx
  client/layout/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33679 Migrate CSS for happychat in Calypso
  assets/stylesheets/_components.scss
  client/components/happychat/agent-w/index.jsx
  client/components/happychat/agent-w/style.scss
  client/components/happychat/index.jsx
  client/me/happychat/main.jsx
Labels: CSS Migration, Happychat, [Status] Needs Review

#33715 wpcalypso-async Babel transform: use the right AST form to create import() call
  packages/babel-plugin-transform-wpcalypso-async/index.js
  packages/babel-plugin-transform-wpcalypso-async/test/index.js
Labels: Build, [Status] Needs Review

#33718 Migrate CSS for post-excerpt
  assets/stylesheets/_components.scss
  client/components/post-excerpt/index.jsx
Labels: CSS Migration, [Status] Needs Review

#33659 Site: fix the position of the lock icon
  client/blocks/site/style.scss
Labels: [Status] Needs Review

#33557 Adapt podcast stats module for file downloads
  client/lib/wpcom-undocumented/lib/site.js
  client/my-sites/stats/controller.jsx
  client/my-sites/stats/index.js
  client/my-sites/stats/site.jsx
  client/my-sites/stats/stats-strings.js
  client/my-sites/stats/summary/index.jsx
  client/state/stats/lists/actions.js
  client/state/stats/lists/test/utils.js
  client/state/stats/lists/utils.js
  config/desktop-development.json
  config/development.json
  config/wpcalypso.json
Labels: Stats, [Status] Needs Review

#33357 Signup / Checkout: remember and auto-apply whitelisted coupons
  client/lib/upgrades/actions/cart.js
  client/lib/upgrades/actions/index.js
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/controller.jsx
  client/signup/main.jsx
Labels: Checkout, Signup, [Status] Needs Review

#33710 JP Checklist: Update Performance Related Tasks after completion
  client/state/checklist/reducer.js
Labels: Checklist, Jetpack, [Status] Needs Review

#33713 Jetpack performance checklist: Use correct url for completed task
  client/my-sites/plans/current-plan/jetpack-checklist/constants.ts
Labels: Checklist, Jetpack, Performance, [Status] Ready to Merge, [Type] Defect, [Type] Task

#33701 Remove the Blogger plan test
  client/lib/abtest/active-tests.js
  client/my-sites/plans-features-main/index.jsx
Labels: [Status] Needs Review

#33732 Jetpack Checklist: Add hotjar trigger
  client/my-sites/plans/current-plan/jetpack-checklist/constants.ts
  client/my-sites/plans/current-plan/jetpack-checklist/index.tsx
Labels: Analytics, Checklist, Jetpack, [Status] Ready to Merge, [Type] Task

#33738 Recurring Payments: warn about price being immutable
  client/my-sites/earn/memberships/products.jsx
Labels: [Status] Needs Review

#33739 Coupons: add more coupons to the auto-apply list
  client/lib/upgrades/actions/cart.js
Labels: Checkout, Signup, [Status] Needs Review

#33743 Revert "Marketing: Show permission requirement notice for non-admin users"
  client/my-sites/marketing/main.jsx
Labels: Marketing, [Status] Needs Review

#33754 Jetpack performance checklist: enable on wpcalypso
  config/wpcalypso.json
Labels: Checklist, Jetpack, [Status] Ready to Merge

#33767 Check for empty element before using.
  client/my-sites/checkout/checkout/secure-payment-form.jsx
Labels: Domains, [Status] Needs Review

#33645 Store selected template in post meta
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/class-starter-page-templates.php
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
Labels: FSE: Page Templates, [Status] Needs Review

#33787 Fix TypeScript ESLint config (avoid extend field in overrides)
  .eslintrc.js
Labels: Build, [Status] Needs Review

#33751 Jetpack checklist: Unify checklist
  client/components/checklist/README.md
  client/components/checklist/checklist.js
  client/my-sites/plans/current-plan/jetpack-checklist/checklist-section-title.tsx
  client/my-sites/plans/current-plan/jetpack-checklist/index.tsx
  client/my-sites/plans/current-plan/jetpack-checklist/style.scss
  client/my-sites/plans/current-plan/jetpack-checklist/util.ts
Labels: Checklist, Design, FixTheFlows, Jetpack, [Status] Ready to Merge, [Type] Task

#33737 Guided Tours: Add Tours for JP Performance Checklist
  client/layout/guided-tours/all-tours.js
  client/layout/guided-tours/config.js
  client/layout/guided-tours/tours/jetpack-lazy-images-tour/index.js
  client/layout/guided-tours/tours/jetpack-lazy-images-tour/meta.js
  client/layout/guided-tours/tours/jetpack-search-tour/index.js
  client/layout/guided-tours/tours/jetpack-search-tour/meta.js
  client/layout/guided-tours/tours/jetpack-site-accelerator-tour/index.js
  client/layout/guided-tours/tours/jetpack-site-accelerator-tour/meta.js
  client/layout/guided-tours/tours/jetpack-video-hosting-tour/index.js
  client/layout/guided-tours/tours/jetpack-video-hosting-tour/meta.js
  client/my-sites/plans/current-plan/jetpack-checklist/constants.ts
  client/my-sites/plans/current-plan/jetpack-checklist/index.tsx
  client/my-sites/site-settings/media-settings-performance.jsx
  client/my-sites/site-settings/search.jsx
  client/my-sites/site-settings/speed-up-site-settings.jsx
  client/state/checklist/reducer.js
Labels: Checklist, Guided Tours, Jetpack, [Status] Needs Review

#33786 Billing History: Add comments to translation variables
  client/me/purchases/manage-purchase/plan-details/billing-period.jsx
Labels: Billing, [Pri] Low, [Type] Enhancement, i18n

#33426 FSE: Fix all phpcs errors
  apps/full-site-editing/blank-theme/footer-blank.php
  apps/full-site-editing/blank-theme/functions.php
  apps/full-site-editing/blank-theme/header-blank.php
  apps/full-site-editing/blank-theme/page.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/post-content/index.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/index.php
Labels: [Goal] Full Site Editing, [Status] Ready to Merge, [Type] Task

#33734 Feature: Remove jetpack/checklist flag (enabled)
  client/blocks/product-purchase-features-list/index.jsx
  client/blocks/product-purchase-features-list/jetpack-anti-spam.jsx
  client/blocks/product-purchase-features-list/jetpack-backup-security.jsx
  client/blocks/product-purchase-features-list/jetpack-return-to-dashboard.jsx
  client/blocks/product-purchase-features-list/jetpack-wordpress-com.jsx
  client/jetpack-connect/plans.jsx
  client/my-sites/checklist/main.jsx
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/plans/current-plan/index.jsx
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Checklist, Jetpack, [Status] Needs e2e Testing, [Status] Ready to Merge, [Type] Janitorial

#32019 Replace `lodash` with `lodash-es`.
  babel.config.js
  babel.dependencies.config.js
  client/components/payment-logo/docs/example.jsx
  npm-shrinkwrap.json
  package.json
  server/bundler/babel/babel-lodash-es/README.md
  server/bundler/babel/babel-lodash-es/index.js
  server/bundler/babel/babel-lodash-es/test/index.js
  webpack.config.js
  webpack.config.node.js
Labels: Build, Framework, [Status] Needs Review

#33724 Guided Transfers: CSS Migration
  assets/stylesheets/_components.scss
  client/my-sites/guided-transfer/guided-transfer.jsx
Labels: CSS Migration, OSS Citizen, [Status] Needs Review

#33572 Domains: Make the Delete Domain Dialog box more resistant to accidents
  client/me/purchases/remove-purchase/index.jsx
  client/me/purchases/remove-purchase/remove-domain-dialog/index.jsx
Labels: Domains, [Status] Ready to Merge

#33684 Migrate CSS, modernize abtest-helper
  assets/stylesheets/_components.scss
  client/lib/abtest/test-helper/Test.jsx
  client/lib/abtest/test-helper/TestList.jsx
  client/lib/abtest/test-helper/index.js
  client/lib/abtest/test-helper/style.scss
Labels: CSS Migration, [Status] Needs Review

#33784 FSE : Use new API shape & add tracks calls
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/class-starter-page-templates.php
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/utils/tracking.js
Labels: FSE: Page Templates, [Status] Needs Review

#33560 Checkout: Show cart to the right of payments box
  client/components/data/store-connection/index.jsx
  client/layout/sidebar/index.jsx
  client/layout/style.scss
  client/lib/abtest/active-tests.js
  client/my-sites/checkout/cart/secondary-cart.jsx
  client/my-sites/checkout/checkout/checkout-container.jsx
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/checkout/secure-payment-form.jsx
  client/my-sites/checkout/controller.jsx
  client/my-sites/checkout/index.js
Labels: Checkout, [Status] Needs Review, [Status] Needs e2e Testing

#33746 Checkout: Remove Jetpack thank you
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/my-sites/checkout/checkout-thank-you/jetpack-thank-you-card.jsx
  client/my-sites/checkout/checkout-thank-you/test/jetpack-thank-you-card.jsx
  config/desktop-development.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: Checkout, Jetpack, NUX, [Status] Needs Jetpack e2e Testing, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#33727 Fix site style options margins issue caused by Forms CSS migration
  client/signup/steps/site-style/style.scss
Labels: [Status] Needs Review

#33772 Signup: Updating HTML around preview content to reflect theme changes and fixing Safari
  client/components/signup-site-preview/iframe.jsx
  client/components/signup-site-preview/utils.js
Labels: Signup, [Status] Needs Review, [Type] Bug, [Type] Feature progress

#33803 Analytics: Disable hotjar for e2e
  client/lib/analytics/index.js
  client/lib/e2e/index.js
  client/lib/e2e/index.ts
Labels: Analytics, [Status] Ready to Merge

#33792 Jetpack checklist: hide redundant performance CTAs
  client/blocks/product-purchase-features-list/index.jsx
Labels: Checklist, Jetpack, Performance, [Status] Ready to Merge, [Type] Task

#33646 Types: Add definitions to i18n-calypso
  packages/i18n-calypso/package.json
  packages/i18n-calypso/types/index.d.ts
Labels: Framework, Packages, [Status] Ready to Merge, i18n

#33804 Rename webpack entrypoints: use entry- prefix
  bin/loader-stats.js
  server/pages/index.js
  webpack.config.js
Labels: Build, [Status] Needs Review, [Status] Needs e2e Testing

#33750 Full Site Editing: add template taxonomy
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
Labels: [Goal] Full Site Editing, [Status] Needs Review

#33753 Full Site Editing: add filter to optionally disable FSE on other platforms
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
Labels: [Goal] Full Site Editing, [Status] Needs Review

#33721 Full Site Editing: replace page areas with template parts
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/utils/class-a8c-wp-template.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/utils/replace-template-parts.php
Labels: [Goal] Full Site Editing, [Status] Needs Review

#33673 Migrate css for logged-out-form and subcomponents
  assets/stylesheets/_components.scss
  client/components/logged-out-form/back-link.jsx
  client/components/logged-out-form/footer.jsx
  client/components/logged-out-form/footer.scss
  client/components/logged-out-form/index.jsx
  client/components/logged-out-form/link-item.jsx
  client/components/logged-out-form/link-item.scss
  client/components/logged-out-form/links.jsx
  client/components/logged-out-form/links.scss
  client/components/logged-out-form/style.scss
Labels: CSS Migration, [Status] Needs Review

#33552 Add outbound domain transfer management landing page.
  client/landing/domains/content-card/index.jsx
  client/landing/domains/content-card/style.scss
  client/landing/domains/index.jsx
  client/landing/domains/registrant-verification/index.jsx
  client/landing/domains/transfer-away-confirmation/index.jsx
  client/lib/wpcom-undocumented/lib/undocumented.js
Labels: Domains, [Status] Needs Review

#33777 Plugins: end the pluginFeaturedTitle A/B test
  client/lib/abtest/active-tests.js
  client/my-sites/plugins/plugins-browser/index.jsx
Labels: Plugins, [Status] Needs Review

#33763 Signup: Remove plans skip link from signup
  client/signup/config/step-components.js
  client/signup/main.jsx
  client/signup/steps/plans-without-free/index.jsx
  client/signup/steps/plans/index.jsx
Labels: Plans, Signup, [Status] Needs Review

#33825 Store checklist - make buttons secondary
  client/extensions/woocommerce/app/dashboard/setup/tasks.js
Labels: Checklist, Muriel, Store, [Status] Ready to Merge, [Type] Enhancement

#33832 Fix margin-bottom on application password container
  client/me/application-passwords/index.jsx
  client/me/application-passwords/style.scss
Labels: FixTheFlows

#33830 Updated style.scss for fixing margin on desktop app promo banner
  client/blocks/app-promo/style.scss
Labels: FixTheFlows, Reader, [Status] Ready to Merge

#33840 Changed breakpoint for wrapping app icons under text
  client/me/get-apps/style.scss
Labels: FixTheFlows

#33824 Send users straight to checkout from Upgrade nudge
  client/my-sites/plugins/plugins-browser/index.jsx
Labels: FixTheFlows

#33851 Popover Menu: Use slightly darker color for Gridicons
  client/components/popover/style.scss
Labels: Components, FixTheFlows, Muriel, [Status] Needs Review

#33858 Enable i18n/translation-scanner in production
  config/production.json
Labels: [Type] New feature, i18n

#31499 Show illustration on checkout for free purchases like standalone domain mapping
  client/my-sites/checkout/checkout/free-cart-payment-box.jsx
  client/my-sites/checkout/checkout/style.scss
Labels: Checkout, Design, Domains, [Status] Ready to Merge, [Type] Enhancement

#33800 Gutenberg: Rename the selected editor actions names
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/gutenberg/index.js
  client/state/selected-editor/actions.js
  client/state/selected-editor/reducer.js
  client/state/selected-editor/test/reducer.js
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Enhancement

#33860 Update teams for Comments and Gutenframe, and add Full Site Editing
  .github/CODEOWNERS
Labels: [Status] Needs Review

#33802 Replace createReducer with keyedReducer for signup verticals
  client/state/signup/verticals/reducer.js
  client/state/signup/verticals/test/reducer.js
Labels: [Status] Needs Review

#33868 Fix payment logo example.
  client/components/payment-logo/docs/example.jsx
Labels: DevDocs, [Type] Bug

#33870 Jetpack Connect: Centre Plan Pill
  client/jetpack-connect/style.scss
Labels: Jetpack, NUX, Plans, [Status] Ready to Merge

#33687 CSS: Migrate my-sites/importer/style
  assets/stylesheets/_components.scss
  client/my-sites/importer/author-mapping-item.jsx
  client/my-sites/importer/author-mapping-item.scss
  client/my-sites/importer/author-mapping-pane.jsx
  client/my-sites/importer/author-mapping-pane.scss
  client/my-sites/importer/file-importer.jsx
  client/my-sites/importer/file-importer.scss
  client/my-sites/importer/importer-action-buttons/action-button.jsx
  client/my-sites/importer/importer-action-buttons/action-button.scss
  client/my-sites/importer/importer-header/index.jsx
  client/my-sites/importer/importer-header/start-button.jsx
  client/my-sites/importer/importer-header/start-button.scss
  client/my-sites/importer/importer-header/style.scss
  client/my-sites/importer/importer-logo.jsx
  client/my-sites/importer/importer-logo.scss
  client/my-sites/importer/importing-pane.jsx
  client/my-sites/importer/importing-pane.scss
  client/my-sites/importer/section-import.jsx
  client/my-sites/importer/section-import.scss
  client/my-sites/importer/site-importer/index.jsx
  client/my-sites/importer/site-importer/site-importer-importable-content.jsx
  client/my-sites/importer/site-importer/site-importer-importable-content.scss
  client/my-sites/importer/site-importer/site-importer-input-pane.jsx
  client/my-sites/importer/site-importer/site-importer-input-pane.scss
  client/my-sites/importer/site-importer/site-importer-site-preview.jsx
  client/my-sites/importer/site-importer/site-importer-site-preview.scss
  client/my-sites/importer/site-importer/style.scss
  client/my-sites/importer/style.scss
  client/my-sites/importer/uploading-pane.jsx
  client/my-sites/importer/uploading-pane.scss
Labels: CSS Migration, [Status] Needs Review

#33872 Customizer: migrate CSS to webpack
  assets/stylesheets/_components.scss
  client/my-sites/customize/main.jsx
  client/my-sites/customize/style.scss
Labels: CSS Migration, [Status] Needs Review

#33815 Update formatting on profile avatar popover
  client/blocks/edit-gravatar/index.jsx
Labels: FixTheFlows, Me
