Repository Automattic/wp-calypso, pull requests merged in 2019-10, with the labels that each got.

#36441 Signup: Record event when user goes back to user step after si…
  client/blocks/signup-form/index.jsx
Labels: Analytics, Frontend, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#36424 BodySectionCssClass: remove class from body on unmount, rewrite to hooks
  client/layout/body-section-css-class.js
Labels: [Status] Needs Review

#36426 Login: remove signup resume code
  client/blocks/login/index.jsx
  client/state/action-types.js
  client/state/signup/progress/actions.js
  client/state/signup/progress/reducer.js
  client/state/signup/progress/test/reducer.js
Labels: Login, Signup, [Status] Needs Review

#36256 tree-select: Fix getDependents returning a truthy primitive
  packages/tree-select/src/index.js
  packages/tree-select/test/index.js
Labels: Packages

#36276 Pages: Remove unused logic
  client/my-sites/pages/blog-posts-page/index.jsx
  client/my-sites/pages/blog-posts-page/style.scss
Labels: FixTheFlows, Pages, [Status] Ready to Merge

#36363 Reduce threads to 7 to improve stability
  test/e2e/magellan.json
  test/e2e/run.sh
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#36440 People: Allow token field inputs to grow for right-clicks
  client/components/token-field/style.scss
Labels: People Management, [Status] Needs Review

#36449 FSE: populate default pages with correct content
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template-inserter.php
Labels: [Goal] Full Site Editing, [Pri] BLOCKER, [Status] Needs Review

#36459 Billing History: Equalize padding for date and details
  client/me/billing-history/style.scss
Labels: [Status] Needs Review

#35615 Signup: Reuse the site title for the domains search
  client/components/domains/register-domain-step/index.jsx
  client/lib/abtest/active-tests.js
  client/signup/steps/domains/index.jsx
Labels: ABTest, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#35936 Google login: ensure auth2 init only happens once.
  client/components/social-buttons/google.js
Labels: Login, [Status] Needs Review, [Type] Bug

#36177 Domains: Cleanup the old Flux whois store
  client/components/data/domain-management/README.md
  client/components/data/domain-management/index.jsx
  client/lib/domains/whois/README.md
  client/lib/domains/whois/assembler.js
  client/lib/domains/whois/protected-contact-information.js
  client/lib/domains/whois/reducer.js
  client/lib/domains/whois/store.js
  client/lib/domains/whois/test/assembler.js
  client/lib/domains/whois/test/store.js
  client/lib/upgrades/action-types.js
  client/lib/upgrades/actions/domain-management.js
  client/lib/upgrades/actions/index.js
  client/my-sites/domains/domain-management/contacts-privacy/index.jsx
  client/my-sites/domains/domain-management/controller.jsx
  client/my-sites/domains/domain-management/edit-contact-info/index.jsx
  client/state/selectors/is-requesting-whois.js
Labels: Domains, [Status] Ready to Merge

#36445 Domains: Suggestion provdier A\B test for EN locale.
  client/lib/abtest/active-tests.js
  client/lib/domains/suggestions/index.js
Labels: ABTest, Domains, [Status] Needs Review

#36394 Primary Segmented Control: Use primary background color rather than primary light
  client/components/segmented-control/style.scss
Labels: Accessibility, [Status] Ready to Merge

#33642 Add login entrypoint
  client/controller/index.node.js
  client/controller/index.web.js
  client/landing/login/common.js
  client/landing/login/index.js
  client/landing/login/store.js
  client/layout/logged-out.jsx
  client/login/index.node.js
  client/login/index.web.js
  client/login/wp-login/style.scss
  client/sections.js
  server/pages/index.js
  test/e2e/lib/pages/login-page.js
  test/e2e/package-lock.json
  webpack.config.js
Labels: Framework, Login, Performance, [Status] Needs Review, [Status] Needs e2e Testing

#36469 Happiness: Enable German, Dutch and Italian locales for upwork support
  client/state/selectors/is-eligible-for-upwork-support.ts
  client/state/selectors/test/is-eligible-for-upwork-support.js
Labels: [Status] Ready to Merge

#36411 SPT: Clear templates cache on theme switch
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/class-starter-page-templates.php
Labels: [Goal] Page Templates, [Team] AJAX, [Type] Bug

#36454 SPT: Update visual appearance on small screens
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/template-selector-control.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/template-selector-item.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/styles/starter-page-templates-editor.scss
Labels: [Goal] Page Templates, [Team] AJAX

#36433 Wait for popover content before selecting "Private" option
  test/e2e/lib/driver-helper.js
  test/e2e/lib/gutenberg/gutenberg-editor-sidebar-component.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#35882 Site Selector: Use text rather than icons for flags in the sidebar for clarity
  client/blocks/site/index.jsx
  client/blocks/site/style.scss
  client/layout/style.scss
Labels: FixTheFlows, [Status] Needs Review, [Status] Needs e2e Testing

#36465 Remove media query for cover image block styling override in site preview
  client/components/signup-site-preview/utils.js
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Bug

#36461 e2e: Add tests for our six CoBlocks.
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/specs/wp-calypso-gutenberg-coblocks-spec.js
Labels: Editor, [Status] Needs Review, [Status] Needs e2e Testing horizon

#36476 FSE: Remove the customization of the back button icon.
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/close-button-override/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/close-button-override/style.scss
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#36443 Replace ui.language.isRtl Redux state with HOC that depends on i18n-calypso
  client/components/auto-direction/index.jsx
  client/components/auto-direction/test/auto-direction.jsx
  client/components/chart/bar-container.jsx
  client/components/chart/bar.jsx
  client/components/chart/index.jsx
  client/components/date-range/test/__snapshots__/index.js.snap
  client/components/popover/index.jsx
  client/components/rtl/README.md
  client/components/rtl/index.js
  client/components/tinymce/index.jsx
  client/extensions/woocommerce/components/compact-tinymce/index.js
  client/layout/masterbar/publish.jsx
  client/lib/i18n-utils/browser.js
  client/lib/i18n-utils/node.js
  client/lib/i18n-utils/utils.js
  client/my-sites/media-library/list.jsx
  client/my-sites/stats/stats-period-navigation/index.jsx
  client/state/selectors/is-rtl.js
  client/state/selectors/test/is-rtl.js
  client/state/ui/language/reducer.js
  client/state/ui/language/schema.js
  client/state/ui/language/test/reducer.js
  npm-shrinkwrap.json
  package.json
  server/render/index.js
Labels: Components, [Status] Needs Review

#36133 Post-checkout: Quick Start upsell copy fix
  client/my-sites/checkout/upsell-nudge/concierge-quickstart-session/index.jsx
Labels: FixTheFlows, [Status] Ready to Merge

#36503 e2e- Add wait for password popover
  test/e2e/lib/gutenberg/gutenberg-editor-sidebar-component.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#35750 Checkout: Add phone number field
  client/components/credit-card-form-fields/index.jsx
  client/components/forms/form-phone-media-input/index.jsx
  client/lib/abtest/active-tests.js
  client/lib/store-transactions/index.js
Labels: Checkout, [Status] Needs Review

#36491 Add an is_gutenberg-opt-out-enabled selector to fix missing Switch to Classic button
  client/blocks/inline-help/popover.jsx
  client/state/selectors/is-gutenberg-opt-out-enabled.js
Labels: [Type] Bug

#36505 SPT: Fix template insert bug
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/preview-template-title.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
Labels: [Goal] Page Templates, [Team] AJAX, [Type] Bug

#36500 FSE: rename wp_template to wp_template_part
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/remove-editor-panels/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/suppress-draft-action/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/suppress-trash-action/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/close-button-override/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/editor-template-classes/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/template-update-notice/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template-inserter.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template.php
  client/gutenberg/editor/calypsoify-iframe.tsx
  client/my-sites/sidebar/site-menu.jsx
  client/state/selectors/get-editor-close-url.js
  client/state/selectors/test/get-editor-close-url.js
Labels: [Goal] Full Site Editing, [Pri] BLOCKER, [Status] Needs Review

#36501 FSE: bump version to 0.9
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/readme.txt
Labels: [Goal] Full Site Editing, [Status] Needs Review

#36514 Rename the template part URL in the bridge server
  client/gutenberg/editor/calypsoify-iframe.tsx
Labels: [Goal] Full Site Editing

#36502 Remove some trivial usage of `moment` in state.
  client/state/posts/utils.js
  client/state/selectors/is-eligible-for-dotcom-checklist.js
  client/state/selectors/is-user-registration-days-within-range.js
  client/state/selectors/test/is-user-registration-days-within-range.js
  client/state/sites/selectors/can-current-user-use-checklist-menu.js
  client/state/sites/selectors/is-new-site.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#36515 Site Selector: Fix for hover colors on site badges
  client/blocks/site/style.scss
  client/components/site-selector/style.scss
Labels: [Status] Ready to Merge, [Type] Defect

#36522 SPT: fix non a11y compliant back button
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
Labels: [Goal] Page Templates

#36524 SPT: updates interaction states to be more perceivable
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/styles/starter-page-templates-editor.scss
Labels: [Goal] Page Templates

#36513 Navigate back to pages list rather than closing.
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
Labels: [Goal] Page Templates, [Team] AJAX, [Type] Bug

#36527 Update Full Site Editing plugins codeowners
  .github/CODEOWNERS
Labels: [Status] Needs Review, [Type] Janitorial

#36540 Fix redirect when logging in.
  client/landing/login/common.js
  client/state/ui/actions/index.js
  client/state/ui/actions/set-route.js
Labels: Login, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Bug

#36535 Starter Page Templates: Tile interaction styling
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/styles/starter-page-templates-editor.scss
Labels: [Status] Needs Review

#36528 Fix/select theme type
  test/e2e/specs/wp-signup-spec.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#34950 Concierge session dashboard
  client/me/concierge/cancel/index.js
  client/me/concierge/main.js
  client/me/concierge/shared/appointment-info.js
  client/me/concierge/style.scss
Labels: [Status] Needs Copy Review, [Status] Needs Review, [Status] Needs e2e Testing

#36546 SPT: fix modal header position bug
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/styles/starter-page-templates-editor.scss
Labels: [Status] Needs Review

#36530 Show the connection tab unless there is no site id
  client/my-sites/marketing/main.jsx
Labels: Jetpack, Marketing

#36555 FormPhoneMediaInput: pass the name prop to PhoneInput, fix isError, remove ref setter
  client/components/forms/form-phone-media-input/index.jsx
  client/components/phone-input/index.jsx
Labels: Components, [Status] Needs Review, [Status] Needs e2e Testing

#36526 Classic Editor: don't render interactive UI inside EditorDrawerLabel
  client/post-editor/editor-drawer/index.jsx
  client/post-editor/editor-more-options/copy-post.jsx
  client/post-editor/editor-more-options/slug.jsx
  client/post-editor/editor-page-templates/index.jsx
  client/post-editor/editor-seo-accordion/index.jsx
  client/post-editor/editor-sharing/publicize-message.jsx
Labels: Editor, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Bug

#36564 Login: fix OAuth login UI by adding oauth2Clients to login reducer
  client/landing/login/store.js
Labels: Login, [Status] Needs Review, [Type] Bug

#36141 Separate Upload Button from Plugin Nav/Search Bar
  client/my-sites/plugins/plugins-browser/index.jsx
  client/my-sites/plugins/plugins-browser/style.scss
  client/my-sites/plugins/style.scss
Labels: Plugins, [Status] Ready to Merge

#36432 WooCommerce Onboarding: Fix CSS class names in signup route and fix cart display header
  client/blocks/login/index.jsx
  client/blocks/login/style.scss
  client/extensions/woocommerce/components/woocommerce-connect-cart-header/index.js
  client/extensions/woocommerce/components/woocommerce-connect-cart-header/style.scss
  client/jetpack-connect/style.scss
  client/login/wp-login/style.scss
  client/signup/steps/user/index.jsx
  client/signup/style.scss
Labels: [Status] Ready to Merge

#36477 Hosting Panel: Stub out UI
  client/my-sites/hosting/index.js
  client/my-sites/hosting/main.js
  client/my-sites/hosting/style.scss
  packages/material-design-icons/src/action/outline-dns-32px.svg
  packages/material-design-icons/src/file/outline-cloud-32px.svg
  packages/material-design-icons/svg-sprite/material-icons.svg
Labels: [Status] Needs Review

#36565 Checkout: relaunch the phone number field test
  client/lib/abtest/active-tests.js
Labels: Checkout

#36430 Move list of supported languages from config to a JS module
  client/components/community-translator/index.jsx
  client/components/language-picker/docs/example.jsx
  client/components/translator-invite/test/utils.js
  client/extensions/woocommerce/app/settings/email/mailchimp/setup-steps/store-info.js
  client/languages.js
  client/layout/masterbar/quick-language-switcher.jsx
  client/lib/i18n-utils/test/utils.js
  client/lib/i18n-utils/utils.js
  client/lib/translator-jumpstart/index.js
  client/lib/wporg/index.js
  client/me/account/main.jsx
  client/my-sites/site-settings/form-general.jsx
  config/_shared.json
Labels: [Status] Needs Review, [Type] Janitorial

#36566 Split `state/analytics/actions`.
  client/state/analytics/actions.js
  client/state/analytics/actions/compose-analytics.js
  client/state/analytics/actions/enhance-with-site-type.js
  client/state/analytics/actions/index.js
  client/state/analytics/actions/package.json
  client/state/analytics/actions/record-with-client-id.js
  client/state/analytics/actions/record.js
  client/state/analytics/actions/with-analytics.js
  client/state/analytics/test/actions.js
  client/state/data-layer/third-party/directly/test/index.js
Labels: Analytics, State, [Status] Needs Review, [Type] Janitorial

#36554 Colour Schemes: Migrate Images to Webpack
  client/assets/images/color-schemes/color-scheme-thumbnail-classic-blue.svg
  client/assets/images/color-schemes/color-scheme-thumbnail-classic-bright.svg
  client/assets/images/color-schemes/color-scheme-thumbnail-contrast.svg
  client/assets/images/color-schemes/color-scheme-thumbnail-midnight.svg
  client/assets/images/color-schemes/color-scheme-thumbnail-nightfall.svg
  client/assets/images/color-schemes/color-scheme-thumbnail-ocean.svg
  client/assets/images/color-schemes/color-scheme-thumbnail-powder-snow.svg
  client/assets/images/color-schemes/color-scheme-thumbnail-sakura.svg
  client/assets/images/color-schemes/color-scheme-thumbnail-sunset.svg
  client/blocks/color-scheme-picker/constants.js
  client/blocks/color-scheme-picker/style.scss
Labels: Color Schemes, DevDocs, OSS Citizen, [Status] Ready to Merge, [Type] Janitorial

#36571 Remove autofocus from checkout
  client/components/credit-card-form-fields/index.jsx
Labels: [Status] Needs e2e Testing

#36444 SIWA: Add support for the redirect flow
  client/blocks/login/social.jsx
  client/blocks/signup-form/social.jsx
  client/components/social-buttons/apple.js
  client/components/social-buttons/google.js
  client/lib/login/README.md
  client/lib/login/index.js
  client/login/controller.js
  client/login/index.web.js
  client/me/security/controller.js
  client/me/social-login/action-button.jsx
  client/me/social-login/index.jsx
  client/me/social-login/service.jsx
  client/signup/controller.js
  client/signup/steps/user/index.jsx
  client/state/signup/flow/reducer.js
  client/state/signup/flow/schema.js
  config/development.json
  config/stage.json
  config/wpcalypso.json
  server/api/index.js
  server/api/sign-in-with-apple.js
Labels: Login

#36166 TypeScript for ProgressBar
  packages/calypso-ui/src/progress-bar/index.tsx
Labels: Packages, [Status] Ready to Merge

#36389 Styling fixes for WooCommerce.com OAuth login
  client/layout/masterbar/oauth-client.scss
Labels: Login

#36538 Fix: Post checkout flow broken
  client/my-sites/checkout/checkout/checkout-container.jsx
  test/e2e/specs/wp-signup-spec.js
Labels: Post Checkout, [Status] Needs Review, [Status] Needs e2e Testing

#36584 Fix _close typo in Dialogue component
  client/components/dialog/index.jsx
Labels: [Pri] High, [Status] Needs Review

#36286 G Suite: Hide misleading banner when user has active forwards or G Suite with others
  client/lib/domains/email-forwarding/index.js
  client/lib/gsuite/index.js
  client/lib/gsuite/test/index.js
  client/my-sites/domains/domain-management/list/domain-only.jsx
  client/my-sites/email/email-management/index.jsx
  client/my-sites/stats/stats-banners/index.jsx
  client/state/selectors/is-gsuite-stats-nudge-visible.js
Labels: G Suite, [Status] Needs Review

#36497 Recurring Payments stats: fix CSV export and show all - time totals
  client/my-sites/earn/memberships/index.jsx
Labels: Memberships, [Status] Needs Review

#36567 Depend on some sites selectors directly.
  client/state/data-layer/wpcom/sites/jitm/index.js
  client/state/document-head/selectors.js
  client/state/ui/selectors/get-selected-site-slug.js
  client/state/ui/selectors/get-selected-site.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#36585 QuickLanguageSwitcher: rerender UI with new locale slug after switching language
  client/layout/masterbar/quick-language-switcher.jsx
  client/layout/masterbar/style.scss
Labels: [Status] Ready to Merge, i18n

#36587 Remove memoization from locale selectors
  client/state/selectors/get-current-locale-slug.js
  client/state/selectors/get-current-locale-variant.js
Labels: [Status] Needs Review, [Type] Janitorial

#36590 Fixes [hasGSuite] typo, preventing license purchase
  client/lib/gsuite/new-users.ts
Labels: G Suite, [Status] Ready to Merge

#36592 Transpile `filesize` module.
  webpack.config.js
Labels: Build, [Status] Needs Review, [Type] Bug

#36542 SPT: Update breakpoints for grid and preview
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/styles/starter-page-templates-editor.scss
Labels: [Goal] Page Templates, [Status] Needs Review

#36464 Move Gutenberg opt-out checks to the server
  client/blocks/inline-help/popover.jsx
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/gutenberg/index.js
  client/state/gutenberg-opt-in-out/reducer.js
  client/state/gutenberg-opt-in/reducer.js
  client/state/reducer.js
  client/state/selectors/is-gutenberg-opt-in-enabled.js
  client/state/selectors/is-gutenberg-opt-out-enabled.js
Labels: [Goal] Full Site Editing, [Goal] Gutenberg

#36208 Add domain upsell nudge for plan owners with domain
  client/lib/domains/constants.js
  client/lib/domains/index.js
  client/lib/domains/utils.js
  client/my-sites/current-site/notice.jsx
  test/e2e/lib/components/sidebar-component.js
Labels: Domains, [Status] Needs Review, [Status] Needs e2e Testing

#36581 Use jest .each tables for upwork tests
  client/state/selectors/is-eligible-for-upwork-support.ts
  client/state/selectors/test/is-eligible-for-upwork-support.js
Labels: [Status] Ready to Merge

#36543 Add concierge refund policy to the checkout page
  client/my-sites/checkout/checkout/checkout-terms.jsx
  client/my-sites/checkout/checkout/concierge-refund-policy.jsx
  client/my-sites/checkout/checkout/style.scss
Labels: Concierge, [Status] Needs Review

#34954 Link to the concierge landing page
  client/me/concierge/book/confirmation-step.js
  client/me/concierge/reschedule/confirmation-step.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#35973 Rename concierge to quick start
  client/blocks/nps-survey/index.jsx
  client/blocks/product-purchase-features-list/business-onboarding.jsx
  client/me/concierge/cancel/skeleton.js
  client/me/concierge/controller.js
  client/me/concierge/shared/no-available-times.js
  client/me/concierge/shared/primary-header.js
  client/me/purchases/concierge-banner/index.jsx
  client/my-sites/checkout/checkout-thank-you/business-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/ecommerce-plan-details.jsx
Labels: Concierge, [Status] Needs Review

#36624 Checkout: Fix validation of state when changing country in contact form
  client/components/domains/contact-details-form-fields/index.jsx
Labels: Checkout, Domains, [Status] Needs Review

#36568 Remove `moment` dependency from 2fa.
  client/blocks/login/two-factor-authentication/push-notification-illustration.jsx
Labels: Login, [Status] Needs Review, [Type] Janitorial

#34208 Button: Move to calypso-ui
  client/components/button/index.js
  client/devdocs/design/component-examples.js
  client/devdocs/design/index.jsx
  npm-shrinkwrap.json
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/jest-preset.js
  packages/calypso-build/package.json
  packages/calypso-ui/src/button/README.md
  packages/calypso-ui/src/button/docs/example.jsx
  packages/calypso-ui/src/button/index.jsx
  packages/calypso-ui/src/button/style.scss
  packages/calypso-ui/src/button/test/index.js
  packages/calypso-ui/src/index.js
Labels: Components, Packages, [Status] Needs Review

#36628 Plans Single Products: Add base UI elements triggered by a feature flag
  client/my-sites/plans-features-main/header.jsx
  client/my-sites/plans-features-main/index.jsx
  client/my-sites/plans-features-main/style.scss
  client/my-sites/plans-single-products/index.jsx
  client/my-sites/plans-single-products/product.jsx
  client/my-sites/plans-single-products/style.scss
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Plans, [Status] Ready to Merge, [Type] New feature

#36499 [e2e] Highlight elements during test execution
  .circleci/config.yml
  test/e2e/lib/driver-helper.js
  test/e2e/lib/pages/themes-page.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#36598 FSE: Prep v0.10
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/readme.txt
Labels: Pre-launch, [Goal] Full Site Editing, [Goal] Page Templates

#36633 Domains: Make domain upsell nudge dismissable
  client/my-sites/current-site/notice.jsx
Labels: Domains, [Status] Ready to Merge

#36556 FSE: Attempt adding SPT tests to CI conf
  .circleci/config.yml
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/test/__snapshots__/template-selector-control-test.js.snap
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/test/__snapshots__/template-selector-preview-test.js.snap
  apps/full-site-editing/package-lock.json
  apps/full-site-editing/package.json
Labels: Testing, [Goal] Full Site Editing, [Goal] Page Templates, [Status] Ready to Merge

#36630 Restore current time to 2FA illustration.
  client/blocks/login/two-factor-authentication/push-notification-illustration.jsx
Labels: Login, [Status] Needs Review, [Type] Enhancement

#36559 Connection: Change the name of the connections tab
  client/my-sites/marketing/buttons/buttons.jsx
  client/my-sites/marketing/connections/connections.jsx
  client/my-sites/marketing/style.scss
Labels: Marketing

#36648 Domains: Fix domain upsell dismiss button positioning
  client/my-sites/current-site/style.scss
Labels: Domains, [Status] Ready to Merge

#36652 [e2e] Change selector for blank page template
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#36646 Types: Use react-redux@5 types
  npm-shrinkwrap.json
  package.json
Labels: [Status] Needs Review, [Type] Janitorial

#36376 Checkout: Give Ebanx its own _paymentHandler callback
  client/jetpack-connect/test/lib/plans.js
  client/lib/cart/store/index.js
  client/lib/cart/store/test/fixtures/actions.js
  client/lib/purchases/test/assembler.js
  client/lib/store-transactions/index.js
  client/my-sites/checkout/checkout/secure-payment-form.jsx
Labels: Checkout

#36658 Fix missing login events, pull in analytics middleware and reducer
  client/landing/login/common.js
  client/landing/login/store.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing, [Type] Defect

#36664 Logo Tool: Updates url to use wp.me short link
  client/my-sites/customer-home/main.jsx
  client/my-sites/marketing/tools/index.tsx
Labels: Customer Home, Marketing, [Status] Needs Review

#36643 Review usage of CheckoutData and CartData providers in Plans
  client/jetpack-connect/controller.js
  client/my-sites/checkout/cart/popover-cart.jsx
  client/my-sites/current-site/pending-payment-notice.jsx
  client/my-sites/plans/controller.jsx
  client/my-sites/plans/main.jsx
  client/my-sites/plans/navigation.jsx
Labels: Plans, [Status] Needs Review

#36339 Types: Add typecheck script and use latest TypeScript on CI
  .circleci/config.yml
  npm-shrinkwrap.json
  package.json
Labels: Testing, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#36629 Remove `wpcom-xhr-request` from client bundle.
  webpack.config.js
Labels: API, Build, Performance, [Status] Needs Review

#36293 Post Checkout: Premium plan upsell test copy fixes
  client/my-sites/checkout/upsell-nudge/plan-upgrade-upsell/index.jsx
Labels: FixTheFlows, [Status] Ready to Merge

#36659 Full Site Editing: Update the Navigation Menu fallback page ordering
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/navigation-menu/index.php
Labels: [Goal] Full Site Editing, [Pri] Normal, [Status] Needs Review, [Type] Bug

#36642 Janitorial: Reformat files
  client/blocks/plan-storage/test/plan-storage.jsx
  client/blocks/site/index.jsx
  client/components/auto-direction/index.jsx
  client/lib/gsuite/index.js
  client/lib/gsuite/test/index.js
  client/my-sites/media-library/content.jsx
  client/my-sites/stats/stats-banners/index.jsx
  client/post-editor/media-modal/secondary-actions.jsx
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#36560 Remove `moment` dependency from `lib/abtest`.
  client/lib/abtest/index.js
Labels: ABTest, Performance, [Status] Needs Review, [Type] Janitorial

#36570 Action Panel Component: Fix Alignment
  client/components/action-panel/style.scss
  client/components/promo-section/promo-card/style.scss
Labels: [Status] Ready to Merge

#36666 Vertical suggested themes: Add verticalSuggestedThemes AB test stub
  client/lib/abtest/active-tests.js
Labels: ABTest, Frontend, Signup, Verticals, [Status] Needs Review

#36704 Fixed a small typo
  client/my-sites/site-settings/delete-site/index.jsx
Labels: OSS Citizen, Site Settings, [Status] Ready to Merge, [Type] Bug

#36625 Analytics: remove Redux indirection when getting superProps for a tracks event
  client/boot/common.js
  client/landing/login/common.js
  client/lib/analytics/index.js
  client/lib/analytics/super-props.js
  client/state/action-types.js
  client/state/lib/middleware.js
Labels: Analytics, Framework, [Status] Needs Review, [Type] Janitorial

#36707 Remove the false string from startup if not fraction is set
  client/my-sites/plan-price/docs/example.jsx
  client/my-sites/plan-price/index.jsx
Labels: Plans, [Status] Needs Review

#36681 FSE: Add transformation for Posts List block
  apps/full-site-editing/full-site-editing-plugin/posts-list-block/blocks/posts-list/index.js
Labels: [Status] Needs Review

#36687 Add interactive UI elements to the single product component
  client/my-sites/plans-features-main/index.jsx
  client/my-sites/plans-single-products/index.jsx
  client/my-sites/plans-single-products/product-option.jsx
  client/my-sites/plans-single-products/product-price-group.jsx
  client/my-sites/plans-single-products/product.jsx
  client/my-sites/plans-single-products/style.scss
Labels: Plans, [Status] Needs Review, [Type] Enhancement

#36588 Full Site Editing: Update Site Description block attributes
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-description/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-description/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-description/index.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/style.scss
Labels: [Goal] Full Site Editing, [Status] Blocked / Hold, [Status] Ready to Merge, [Type] Enhancement

#36675 Full Site Editing: Update Site Title block attributes
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-title/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-title/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-title/index.php
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Type] Enhancement

#36686 Full Site Editing: Update Navigation Menu block attributes
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/navigation-menu/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/navigation-menu/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/navigation-menu/index.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Type] Enhancement

#36683 Analytics: simplify and improve the Hotjar loader
  client/landing/login/store.js
  client/lib/analytics/hotjar.js
  client/lib/analytics/index.js
  client/state/analytics/actions/index.js
  client/state/analytics/middleware.js
  client/state/analytics/reducer.js
  client/state/analytics/test/middleware.js
  client/state/analytics/test/reducer.js
  client/state/reducer.js
  client/state/selectors/is-tracking.js
Labels: Analytics, [Status] Needs Review

#36562 [Signup] Pass vertical name to the API
  client/lib/signup/step-actions.js
Labels: Signup, [Status] Needs Review

#36291 Fix the upgrade nudge
  client/blocks/upgrade-nudge-expanded/README.md
  client/blocks/upgrade-nudge-expanded/docs/example.jsx
  client/blocks/upgrade-nudge-expanded/index.jsx
  client/blocks/upgrade-nudge/README.md
  client/blocks/upgrade-nudge/docs/example.jsx
  client/blocks/upgrade-nudge/index.jsx
  client/devdocs/design/blocks.jsx
Labels: DevDocs, [Status] Needs Review

#36669 Create a standalone i18n-calypso-cli package
  npm-shrinkwrap.json
  package.json
  packages/i18n-calypso-cli/.eslintrc.js
  packages/i18n-calypso-cli/CHANGELOG.md
  packages/i18n-calypso-cli/README.md
  packages/i18n-calypso-cli/cli.js
  packages/i18n-calypso-cli/extras/date.js
  packages/i18n-calypso-cli/formatters/index.js
  packages/i18n-calypso-cli/formatters/multiline.js
  packages/i18n-calypso-cli/formatters/php.js
  packages/i18n-calypso-cli/formatters/pot.js
  packages/i18n-calypso-cli/index.js
  packages/i18n-calypso-cli/jest.config.js
  packages/i18n-calypso-cli/package.json
  packages/i18n-calypso-cli/preprocess-xgettextjs-match.js
  packages/i18n-calypso-cli/test/examples/i18n-test-example-second-file.jsx
  packages/i18n-calypso-cli/test/examples/i18n-test-examples.jsx
  packages/i18n-calypso-cli/test/i18n.js
  packages/i18n-calypso-cli/test/multiline.js
  packages/i18n-calypso-cli/test/pot.pot
  packages/i18n-calypso-cli/util.js
  packages/i18n-calypso/CHANGELOG.md
  packages/i18n-calypso/README.md
  packages/i18n-calypso/cli/test/i18n.js
  packages/i18n-calypso/package.json
Labels: Packages, [Status] Needs Review, i18n

#36716 Checkout: remove unused startFreeTrial code
  client/lib/upgrades/actions/checkout.js
  client/lib/upgrades/actions/free-trials.js
  client/lib/upgrades/actions/index.js
Labels: Checkout, [Status] Needs Review, [Type] Janitorial

#36718 Build: Add react-spring to transpilation list
  webpack.config.js
Labels: Build, [Status] Needs Review

#36713 Full Site Editing: Bump to version 0.11
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/readme.txt
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#36272 Cancelation survey: ask import specific questions
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/components/marketing-survey/cancel-purchase-form/is-survey-filled-in.js
  client/components/marketing-survey/cancel-purchase-form/style.scss
  client/state/selectors/get-site-import-engine.js
Labels: Import, [Status] Needs Review

#36747 Domains: Fix wpcomstaging domain management page
  client/lib/domains/constants.js
  client/lib/domains/utils.js
  client/my-sites/current-site/notice.jsx
Labels: Atomic, Domains, [Status] Needs Review, [Status] Needs e2e Testing

#36708 Add magic link path to login function in paths/login
  client/lib/paths/login/index.js
  client/lib/paths/login/test/index.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#36757 Prevent flash of hosting content by returning on success before running redirect
  client/my-sites/hosting/controller.js
Labels: [Status] Needs Review

#36494 [WIP] Gutenboarding experiment
  client/gutenboarding/controller.tsx
  client/gutenboarding/gutenboard.tsx
  client/gutenboarding/index.ts
  client/gutenboarding/style.scss
  client/sections.js
  config/development.json
  config/wpcalypso.json
  npm-shrinkwrap.json
  package.json
  webpack.config.js
Labels: [Goal] Gutenberg, [Goal] Onboarding, [Status] Needs Review, [Type] Enhancement, [Type] Feature progress

#36602 Apps: Add clean scripts
  .gitignore
  apps/full-site-editing/.gitignore
  apps/full-site-editing/package.json
  apps/wpcom-block-editor/package.json
Labels: Build, [Status] Needs Review, [Type] Enhancement, [Type] Janitorial

#36641 PopoverMenu: change proptype of popoverComponent to PropTypes.elementType
  client/components/popover/menu.jsx
Labels: [Status] Needs Review

#36746 Tests: Replace chai with jest
  client/extensions/woocommerce/state/sites/shipping-zone-methods/test/reducer.js
Labels: Testing, [Status] Ready to Merge, [Type] Janitorial

#36772 FSE: fix default menu ordering of pages
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template-inserter.php
Labels: [Goal] Full Site Editing, [Pri] High, [Status] Needs Review

#36775 FSE: bump version to 0.12
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/readme.txt
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing, [Status] Needs Review

#36774 Remove i18n-calypso moment from line-chart.
  client/components/line-chart/docs/example.js
  client/components/line-chart/index.js
Labels: [Status] Needs Review, [Type] Janitorial

#36632 Add flag to make SIWA redirect live on production
  config/production.json
Labels: [Status] Needs Review

#36715 Customer Home: Use localized app badges with attribution links
  client/my-sites/customer-home/main.jsx
  client/my-sites/customer-home/style.scss
Labels: Customer Home

#36752 Notices: Fix line height on button links in notices
  client/components/notice/style.scss
Labels: Import, [Status] Ready to Merge

#36779 Remove i18n-calypso moment from tests.
  client/components/date-range/test/index.js
  client/components/marketing-survey/cancel-purchase-form/test/enriched-survey-data.js
  client/extensions/woocommerce/app/store-stats/test/utils.js
  client/lib/abtest/index.js
  client/my-sites/site-settings/date-time-format/test/index.js
  client/post-editor/editor-notice/test/index.jsx
  client/state/billing-transactions/test/util.js
  client/state/selectors/test/get-billing-transactions-by-type.js
  client/state/selectors/test/get-billing-transactions.js
  client/state/selectors/test/get-filtered-billing-transactions.js
  client/state/selectors/test/get-past-billing-transaction.js
  client/state/selectors/test/get-past-billing-transactions.js
  client/state/selectors/test/get-upcoming-billing-transactions.js
  client/state/sites/domains/test/selectors.js
  client/state/stats/lists/test/utils.js
  client/state/ui/guided-tours/test/contexts.js
Labels: Testing, [Status] Needs Review, [Type] Janitorial

#36721 Create ProductCard UI component based on the PlansSingleProduct
  client/components/product-card/README.md
  client/components/product-card/docs/example.jsx
  client/components/product-card/index.jsx
  client/components/product-card/price-group.jsx
  client/components/product-card/style.scss
  client/devdocs/design/index.jsx
  client/my-sites/plan-price/README.md
  client/my-sites/plan-price/docs/example.jsx
  client/my-sites/plan-price/index.jsx
Labels: Components, Plans, [Status] Ready to Merge

#36695 FSE: Remove widgets/customizer in local wpadmin
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#36463 Remove Plan Management for Partner Products
  client/lib/purchases/assembler.js
  client/lib/purchases/index.js
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/notices.jsx
  client/me/purchases/manage-purchase/plan-details/index.jsx
  client/me/purchases/manage-purchase/style.scss
  client/me/purchases/purchase-item/index.jsx
  client/my-sites/plans/current-plan/header.jsx
  client/my-sites/plans/current-plan/index.jsx
  client/my-sites/plans/main.jsx
Labels: [Status] Ready to Merge

#36780 Marketing Survey: Remove unused import survey step
  client/components/marketing-survey/cancel-purchase-form/index.jsx
Labels: Build, Marketing, [Status] Needs Review

#36694 FSE: Use @wordpress/block-editor instead of @wordpress/editor
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/post-content/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/post-content/save.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/block-inserter/post-content-block-appender.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/template-validity-override/index.js
  apps/full-site-editing/full-site-editing-plugin/posts-list-block/blocks/posts-list/index.js
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#36697 Disable conciergeUpsellDial test
  client/my-sites/checkout/checkout/index.jsx
Labels: [Status] Needs Review

#36754 Customer Home: Force a new component as the selected site changes
  client/my-sites/customer-home/controller.jsx
Labels: Customer Home, [Status] Needs Review, [Type] Bug

#36670 Checklist: Update the check for the site having a Store
  client/state/selectors/is-eligible-for-dotcom-checklist.js
Labels: [Status] Needs Review

#36667 FSE: Sideload images on template insertion
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-template-image-inserter.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template-inserter.php
Labels: [Goal] Full Site Editing, [Pri] Normal, [Status] Needs Review

#36519 Add passwordlessSignup A/B test (revert of revert)
  client/blocks/signup-form/index.jsx
  client/blocks/signup-form/passwordless.jsx
  client/blocks/signup-form/style.scss
  client/lib/abtest/active-tests.js
  client/lib/signup/flow-controller.ts
  client/lib/signup/step-actions.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/signup/config/flows.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#36561 Language Picker: move the Modal element out of the clickable picker button
  client/components/language-picker/index.jsx
  client/components/language-picker/style.scss
Labels: Components, [Status] Needs Review

#36482 Checklist: Updating the selector for Atomic sites to have the right task list
  client/my-sites/checklist/wpcom-checklist/component.jsx
  client/my-sites/checklist/wpcom-checklist/wpcom-task-list.js
  client/state/selectors/get-checklist-task-urls.js
  client/state/selectors/get-site-task-list.js
  client/state/selectors/is-site-checklist-complete.js
Labels: Checklist, [Status] Needs Review

#36451 Customer Home: Release to 100% of new users
  client/lib/abtest/active-tests.js
  client/my-sites/customer-home/controller.jsx
  client/my-sites/customer-home/main.jsx
  client/my-sites/sidebar/index.jsx
  client/state/selectors/is-site-eligible-for-customer-home.js
  client/state/sites/selectors/can-current-user-use-checklist-menu.js
  client/state/sites/selectors/can-current-user-use-customer-home.js
  client/state/sites/selectors/index.js
  client/state/sites/test/selectors.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#36787 Add sleep to give executescripts time to complete
  test/e2e/lib/driver-manager.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#36804 Social Media Logos: Fix Facebook Colour
  static/images/marketing/social-media-logos.svg
Labels: OSS Citizen, [Status] Ready to Merge

#36793 Plans: Introduce a ProductSelector block
  client/blocks/product-selector/README.md
  client/blocks/product-selector/docs/example.jsx
  client/blocks/product-selector/index.jsx
  client/blocks/product-selector/utils.js
  client/devdocs/design/blocks.jsx
Labels: Components, Plans, [Status] Ready to Merge

#36808 LanguagePicker: set button type to 'button' to prevent submitting a form
  client/components/language-picker/index.jsx
Labels: [Status] Needs Review, [Type] Bug

#36810 Devdocs: Add width to product selector example
  client/blocks/product-selector/docs/example.jsx
Labels: Components, DevDocs, [Pri] Low, [Status] Ready to Merge

#36539 Initial work to add `Request Transfer` buttons to the UI
  client/my-sites/domains/controller.jsx
  client/my-sites/domains/domain-management/edit/mapped-domain.jsx
  client/my-sites/domains/paths.js
  client/my-sites/domains/transfer-domain/index.jsx
  client/state/sites/domains/assembler.js
  client/state/sites/domains/schema.js
  client/state/sites/domains/test/fixture/index.js
Labels: Domains, [Status] Needs e2e Testing, [Status] Ready to Merge

#36788 Importers: update button capitalization to sentence case
  client/my-sites/importer/author-mapping-pane.jsx
  client/my-sites/importer/importer-action-buttons/done-button.jsx
  client/my-sites/importer/importer-header/start-button.jsx
Labels: Import, [Status] Needs Review

#36749 Fix/36736 fix the color of upload status
  client/my-sites/importer/uploading-pane.jsx
  client/my-sites/importer/uploading-pane.scss
Labels: Import, OSS Citizen, [Status] Ready to Merge
