Repository Automattic/wp-calypso, pull requests merged in 2019-04, with the labels that each got.

#31811 Add costToUnbundle and costToUnbundleText to the purchase object for calculating plan refunds
  client/lib/purchases/assembler.js
  client/me/purchases/cancel-purchase/index.jsx
  client/me/purchases/cancel-purchase/refund-information.jsx
  client/state/purchases/test/selectors.js
Labels: [Status] Ready to Merge

#31914 Import from URL. Fix position of 'Continue' button below the 660 breakpoint
  client/signup/steps/import-url/style.scss
Labels: Import, Signup, Site Importer

#31773 Block Editor: Update reusable blocks list ellipsis menu
  client/blocks/post-item/index.jsx
Labels: [Goal] Gutenberg, [Status] Needs Design Review, [Status] Needs Review, [Type] Task

#31862 Fix React unmounted setState() warning
  client/components/async-load/index.jsx
Labels: Framework, [Status] Ready to Merge

#31838 Build: Use BROWSERSLIST_ENV instead of CALYPSO_CLIENT and TARGET_BROWSER
  .circleci/config.yml
  babel.config.js
  bin/sdk-cli.js
  config/test.json
  package.json
  packages/calypso-build/bin/build-package.js
  webpack.config.js
Labels: Build, Framework, [Status] Needs Review

#31911 Remove tax placeholders
  client/lib/cart-values/index.js
  client/lib/cart/store/cart-synchronizer.js
  client/lib/tax/index.js
  client/me/billing-history/test/tax.js
  client/me/billing-history/utils.jsx
  client/my-sites/checkout/cart/cart-total.jsx
  client/my-sites/plan-price/index.jsx
  client/state/billing-transactions/actions.js
  client/state/billing-transactions/individual-transactions/actions.js
  client/state/billing-transactions/individual-transactions/test/actions.js
  client/state/billing-transactions/test/actions.js
  client/state/purchases/actions.js
  client/state/purchases/test/actions.js
  client/state/selectors/get-should-show-tax.js
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Status] Needs Review

#31886 Migrate input-chrono styles to JS imports
  assets/stylesheets/_components.scss
  client/components/input-chrono/index.jsx
Labels: Build, CSS Migration, Components, [Status] Needs Review, [Type] Janitorial, [Type] Task

#31885 Migrate MarkedLines style to JS imports
  assets/stylesheets/_components.scss
  client/components/marked-lines/index.jsx
  client/components/marked-lines/style.scss
Labels: Build, CSS Migration, Components, [Status] Needs Review, [Type] Janitorial, [Type] Task

#31884 Migrate ellipsis menu styles to JS imports
  assets/stylesheets/_components.scss
  client/components/ellipsis-menu/index.jsx
Labels: Build, CSS Migration, Components, [Status] Needs Review, [Type] Janitorial, [Type] Task

#31908 Migrate Banner styles to webpack
  assets/stylesheets/_components.scss
  client/components/banner/index.jsx
Labels: CSS Migration, Components, Framework, [Status] Needs Review, [Type] Janitorial

#31924 Build: Add back overrides for Gutenberg blocks to Babel config
  babel.config.js
Labels: Build, [Status] Needs Review

#31852 Import in Signup: Show the `welcome` inline help dialog on done
  client/my-sites/importer/importer-action-buttons/done-button.jsx
  client/my-sites/site-settings/controller.js
  client/signup/config/flows-pure.js
  client/state/action-types.js
  client/state/importer-nux/actions.js
  client/state/importer-nux/reducer.js
  client/state/importer-nux/temp-selectors.js
Labels: Import, Signup, [Status] Needs Design Review, [Status] Needs Review

#31855 Importers: Tweaks to the BusyImportingButton Component
  client/my-sites/importer/importer-action-buttons/busy-importing-button.jsx
Labels: Import, [Status] Needs Design Review, [Status] Needs Review

#31932 Remove gSuiteStatsNudge ab test
  client/blocks/gsuite-stats-nudge/index.js
  client/lib/abtest/active-tests.js
Labels: G Suite, [Status] Ready to Merge

#31934 Import Signup Flow: Include import engine in new site endpoint options
  client/lib/signup/step-actions.js
Labels: Import, Site Importer, [Status] Needs Review

#31879 Block Editor: End messaging transition
  client/gutenberg/editor/calypsoify-iframe.jsx
Labels: [Status] Ready to Merge

#31937 Remove G Suite Monthly Prices
  client/components/upgrades/gsuite/gsuite-dialog/index.jsx
  client/components/upgrades/gsuite/gsuite-dialog/product-details.jsx
  client/lib/google-apps/index.js
  client/my-sites/email/email-management/index.jsx
  client/my-sites/email/gsuite-purchase-cta/index.jsx
  client/my-sites/email/gsuite-purchase-cta/test/__snapshots__/index.js.snap
  client/my-sites/email/gsuite-purchase-cta/test/index.js
Labels: G Suite, [Status] Ready to Merge

#31864 Reader: strip HTML from feed descriptions
  client/lib/post-normalizer/rule-strip-html.js
  client/state/reader/feeds/reducer.js
Labels: Reader, [Status] Needs Review

#31933 Block Editor: Connect to MediaStore in `didMount`
  client/gutenberg/editor/calypsoify-iframe.jsx
Labels: [Status] Needs Review, [Type] Defect

#31883 Block Editor: Use custom `MessageChannel` for post revisions
  client/gutenberg/editor/calypsoify-iframe.jsx
Labels: Editor, Revisions, [Status] Ready to Merge

#30597 Signup: Adding SVG buttons to the site-style step
  client/lib/signup/site-styles.js
  client/signup/steps/site-style/index.jsx
  client/signup/steps/site-style/style.scss
  client/signup/steps/site-style/test/__snapshots__/index.js.snap
Labels: Design, NUX, Signup, [Type] Enhancement

#31919 Checkout: refactor ebanx.js to be more generic
  client/components/credit-card-form-fields/index.jsx
  client/components/credit-card-form-fields/test/index.js
  client/lib/checkout/processor-specific.js
  client/lib/checkout/test/ebanx.js
  client/lib/checkout/test/validation.js
  client/lib/checkout/validation.js
  client/lib/store-transactions/index.js
  client/my-sites/checkout/checkout/README.md
Labels: Checkout, [Status] Needs Review, [Type] Janitorial

#31928 DomainsProductPrice: migrate component CSS to webpack
  assets/stylesheets/_components.scss
  client/components/domains/domain-product-price/index.jsx
  client/components/domains/domain-product-price/style.scss
  client/components/domains/domain-suggestion/style.scss
  client/components/domains/featured-domain-suggestions/index.jsx
  client/components/domains/featured-domain-suggestions/styles/base.scss
  client/components/domains/map-domain-step/style.scss
Labels: CSS Migration, Domains, [Status] Ready to Merge

#31881 Support Credits in Subscription Length Picker
  client/blocks/subscription-length-picker/index.jsx
  client/blocks/subscription-length-picker/test/index.js
  client/my-sites/checkout/checkout/index.jsx
  client/state/products-list/selectors.js
  client/state/products-list/test/selectors.js
Labels: Checkout, [Status] Needs Review

#31920 Classic Post Schedule: query posts that are in different month but still in a displayed week
  client/post-editor/editor-publish-date/post-scheduler.jsx
Labels: [Status] Needs Review, [Type] Bug

#31948 Migrate language picker styles webpack; Disallow lexical declarations on a default clause of a switch
  assets/stylesheets/_components.scss
  client/components/language-picker/index.jsx
  client/components/language-picker/modal.jsx
  client/components/language-picker/modal.scss
  client/components/language-picker/style.scss
Labels: CSS Migration, Components, [Status] Needs Review, [Type] Janitorial

#31895 Migrate ThemesList styles to JS imports
  assets/stylesheets/_components.scss
  client/components/themes-list/index.jsx
Labels: CSS Migration, Components, Framework, Themes, [Status] Needs Review, [Type] Janitorial

#31776 Backups: Fix download progress bar
  client/state/data-layer/wpcom/activity-log/rewind/downloads/index.js
Labels: Rewind, [Status] Needs Review

#31839 Dismiss primary domain change notice on switching to another site
  client/my-sites/domains/domain-management/list/index.jsx
Labels: Domains, [Status] Needs Review

#31752 Playground: Replace jsx-to-string
  client/components/accordion/docs/example.jsx
  client/devdocs/design/playground-utils.js
  npm-shrinkwrap.json
  package.json
Labels: DevDocs, [Status] Needs Review

#31887 Migrate ListEnd styles to JS imports
  assets/stylesheets/_components.scss
  client/components/list-end/index.js
  client/components/list-end/style.scss
  client/reader/components/reader-main/style.scss
Labels: Build, CSS Migration, Components, [Status] Needs Review, [Type] Janitorial, [Type] Task

#31961 Misc: add Lannister Team to CODEOWNERS
  .github/CODEOWNERS
Labels: [Status] Needs Review

#31820 Map Iterable message type ids to internal category names
  client/mailing-lists/main.jsx
Labels: [Status] Needs Review

#31857 Signup: Update domain search input to match the rest of the flow
  client/signup/steps/domains/style.scss
Labels: Domains, Signup, [Status] Ready to Merge

#31876 Add learn link to invite accept notices
  client/my-sites/invites/utils.js
  test/e2e/lib/components/notices-component.js
Labels: Signup, Support, [Status] Needs Review, [Type] Enhancement

#31845 Hide cookie banner for WP apps
  client/blocks/gdpr-banner/index.jsx
Labels: Mobile, [Status] Ready to Merge

#31936 E2E tests: Fix moar jetpack e2e connect failures
  test/e2e/lib/components/nav-bar-component.js
  test/e2e/lib/components/sidebar-component.js
  test/e2e/lib/flows/jetpack-connect-flow.js
  test/e2e/lib/gutenberg/blocks/markdown-block-component.js
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/lib/pages/jetpack/jetpack-connect-site-topic-page.js
  test/e2e/specs-blocks/gutenberg-markdown-block-spec.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-connect-spec.js
Labels: Testing, [Status] Needs Jetpack e2e Testing, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#31942 Add finish setup button if user needs to accept G Suite ToS
  client/my-sites/email/email-management/gsuite-user-item/index.jsx
  client/my-sites/email/email-management/gsuite-user-item/style.scss
  client/my-sites/email/email-management/gsuite-user-item/test/__snapshots__/index.js.snap
  client/my-sites/email/email-management/gsuite-user-item/test/index.js
  client/my-sites/email/email-management/gsuite-users-card/index.jsx
Labels: G Suite, [Status] Needs Review

#31953 Gutenframe: prevent edit view for empty posts page
  client/my-sites/pages/page/index.js
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Bug

#31930 Create a way to skip Jetpack tests with env var
  .circleci/config.yml
  test/e2e/docs/config.md
Labels: [Status] Needs e2e Testing, [Status] Ready to Merge

#31978 Fix the package build when spaces are present in the path
  packages/calypso-build/bin/build-package.js
Labels: Build, [Status] Needs Review

#31931 Importer: Change the text of the `Done` button to `View Site`
  client/my-sites/importer/importer-action-buttons/done-button.jsx
Labels: Import, [Status] Needs Design Review, [Status] Needs Review

#31951 Even if the site type & site topic dependency data exists, proceed with the data filling and step exluding process.
  client/lib/signup/step-actions.js
Labels: Signup, [Status] Needs Review

#31963 Components: Add in-progress state to checklist tasks
  client/components/checklist/README.md
  client/components/checklist/docs/example.jsx
  client/components/checklist/style.scss
  client/components/checklist/task.js
Labels: Checklist, Components, Jetpack, NUX, [Status] Needs Review, [Type] Feature progress

#31958 Me/Purchases: Improve tax detection
  client/me/billing-history/test/tax.js
  client/me/billing-history/utils.jsx
Labels: Purchases, [Status] Ready to Merge

#31940 Calypso Build Package: Add webpack.config.js
  npm-shrinkwrap.json
  packages/calypso-build/package.json
  packages/calypso-build/webpack.config.js
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review

#31995 Calypso Build: Bump package version
  packages/calypso-build/package.json
Labels: Build, Packages, [Status] Ready to Merge

#31990 Jetpack Checklist: Update progress text
  client/components/checklist/README.md
  client/components/checklist/header.js
  client/components/checklist/index.js
  client/my-sites/plans/current-plan/jetpack-checklist/index.js
Labels: Checklist, Components, Jetpack, NUX, [Status] Ready to Merge, [Type] Feature progress

#31821 People: Swap out select elements for radio buttons for Role
  client/my-sites/people/role-select/index.jsx
  test/e2e/lib/pages/invite-people-page.js
Labels: FixTheFlows, People Management, [Status] Ready to Merge

#31849 Updating docs with e2e changes
  client/lib/abtest/README.md
  docs/testing/testing-overview.md
  test/e2e/README.md
  test/e2e/docs/config.md
  test/e2e/docs/miscellaneous.md
  test/e2e/docs/running-tests.md
Labels: [Status] Needs Review

#31854 Fix new onboarding flow tests
  test/e2e/lib/pages/signup/pick-a-plan-page.js
  test/e2e/lib/pages/signup/signup-processing-page.js
  test/e2e/lib/pages/signup/site-type-page.js
  test/e2e/specs/wp-signup-spec.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#31975 Signup: redirect to block editor after checkout
  client/lib/signup/page-builder.js
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/concierge-session-nudge/index.jsx
  client/signup/processing-screen/index.jsx
Labels: Signup, [Status] Needs Review

#31997 Color Schemes: Prep to launch Nightfall, Powder Snow, and Sakura color schemes.
  client/blocks/color-scheme-picker/constants.js
  config/development.json
  config/wpcalypso.json
Labels: Color Schemes

#31980 Editor: Use the `frame_nonce_preview` site option for site preview
  client/blocks/site-preview/index.jsx
  client/my-sites/preview/main.jsx
  client/state/posts/utils.js
  client/state/sites/constants.js
Labels: Editor, [Status] Ready to Merge

#31848 Billing: Add direction to billing details
  client/me/billing-history/receipt.jsx
  client/me/billing-history/style.scss
Labels: Billing, FixTheFlows, [Status] Ready to Merge

#31944 G Suite: Checklist item open dialog not direct to login
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: G Suite, [Status] Needs Review

#31947 Fix linting error in playground
  client/devdocs/design/playground.jsx
Labels: [Status] Ready to Merge

#31946 Adds required prop to playground example code
  client/devdocs/design/playground.jsx
Labels: [Status] Ready to Merge

#31966 Signup: Increase visibility of focus state
  client/signup/steps/domains/style.scss
  client/signup/steps/site-information/style.scss
  client/signup/steps/site-topic/style.scss
  client/signup/steps/site-type/style.scss
Labels: Jetpack, Signup, [Status] Needs Design Review, [Status] Needs Review

#31994 Try a fix for jetpack tests
  .circleci/config.yml
Labels: [Status] In Progress, [Status] Needs Review

#31981 Signup: enable page builder mvp test
  client/lib/abtest/active-tests.js
  client/lib/signup/page-builder.js
  config/development.json
  config/stage.json
Labels: Signup, [Status] In Progress, [Status] Needs Review

#32005 Signup: enable page builder mvp test (take two)
  client/lib/abtest/active-tests.js
  client/lib/signup/page-builder.js
  config/development.json
  config/stage.json
Labels: Signup, [Status] Needs Review

#31988 Gutenframe: Warn if unsaved changes on the client side
  client/gutenberg/editor/calypsoify-iframe.jsx
Labels: [Goal] Gutenberg, [Status] Needs Review

#32012 Signup: switch site-information to site-information-title in onboarding flow.
  client/signup/config/flows-pure.js
Labels: Signup, [Status] Needs e2e Testing, [Status] Ready to Merge

#31989 Components: Update JetpackHeader to support dark color scheme
  client/blocks/login/index.jsx
  client/components/jetpack-header/bluehost.jsx
  client/components/jetpack-header/docs/example.js
  client/components/jetpack-header/dreamhost.jsx
  client/components/jetpack-header/index.jsx
  client/components/jetpack-header/inmotion.jsx
  client/components/jetpack-header/liquidweb.jsx
  client/components/jetpack-header/milesweb.jsx
  client/components/jetpack-header/partner-logo-group.jsx
  client/components/jetpack-header/pressable.jsx
  client/components/jetpack-header/style.scss
  client/jetpack-connect/main-wrapper.jsx
  public/images/jetpack/jetpack-milesweb-connection-dark.png
Labels: Components, Jetpack, NUX, [Status] Ready to Merge, [Type] Defect

#29700 Display Taxes: ApplePay
  client/my-sites/checkout/checkout/test/web-payment-box.js
  client/my-sites/checkout/checkout/web-payment-box.jsx
Labels: Checkout, [Status] In Progress, [Type] Feature progress

#32017 Components: Fix no topics case in PopularTopics
  client/components/site-verticals-suggestion-search/popular-topics.jsx
Labels: Components, Jetpack, NUX, [Pri] High, [Status] Needs Review, [Type] Defect

#32020 Jetpack Connect: Save site type in signup state
  client/jetpack-connect/site-type.js
Labels: Jetpack, NUX, Signup, [Pri] Normal, [Status] Ready to Merge, [Type] Defect

#32009 Jetpack Manage: All versions above 7.3 are guaranteed to be manageable
  client/state/sites/selectors.js
Labels: Jetpack, [Status] Ready to Merge, [Type] Bug

#31927 o2 Blocks: Move to packages/
  .eslintrc.js
  client/gutenberg/extensions/hello-dolly/editor.js
  client/gutenberg/extensions/presets/o2/editor.js
  client/gutenberg/extensions/presets/o2/view.js
  client/gutenberg/extensions/trial/editor.js
  client/gutenberg/extensions/trial/editor.scss
  client/gutenberg/extensions/trial/view.js
  client/gutenberg/extensions/trial/view.scss
  client/gutenberg/extensions/trials/editor.js
  packages/o2-blocks/.eslintrc.js
  packages/o2-blocks/README.md
  packages/o2-blocks/package.json
  packages/o2-blocks/src/editor-notes/editor.js
  packages/o2-blocks/src/editor-notes/editor.scss
  packages/o2-blocks/src/editor.js
  packages/o2-blocks/src/prev-next/editor.js
  packages/o2-blocks/src/prev-next/editor.scss
  packages/o2-blocks/src/todo/editor.js
  packages/o2-blocks/src/todo/editor.scss
  packages/o2-blocks/src/todo/item.js
  packages/o2-blocks/webpack.config.js
Labels: [Goal] Gutenberg, [Project] SDK, [Status] Ready to Merge

#32002 Don't offer G Suite in restricted countries during domain purchase flow
  client/my-sites/domains/controller.jsx
Labels: G Suite, [Status] Ready to Merge

#32003 Don't offer G Suite in restricted countries after checkout
  client/my-sites/checkout/controller.jsx
Labels: G Suite, [Status] Ready to Merge

#31956 Gutenframe: remove unused WordPress packages
  npm-shrinkwrap.json
  package.json
  packages/calypso-build/webpack/wordpress-externals.js
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Janitorial

#32023 Remove Gutenberg specific SDK documentation
  docs/sdk.md
Labels: DevDocs, Documentation, [Project] SDK

#32030 Added e2e to test readme
  test/README.md
Labels: [Status] Needs Review

#32032 Color Schemes: Fix contrast on selected menu items in the mobile sidebar
  client/reader/sidebar/style.scss
Labels: Color Schemes, FixTheFlows, [Status] Needs Review

#32008 Selectors: Correct spelling in the get-site-options selector.
  client/state/selectors/get-site-options.js
Labels: Sites, [Status] Ready to Merge

#31999 Add notice that informs user email forwards stop working with G Suite
  client/my-sites/email/email-forwarding/index.jsx
  client/my-sites/email/gsuite-add-users/index.jsx
  client/state/selectors/get-email-forwards.js
Labels: G Suite, [Status] Needs Review

#31897 Migrate FormattedHeader styles to JS imports
  assets/stylesheets/_components.scss
  client/components/formatted-header/index.jsx
  client/jetpack-connect/plans-placeholder.js
  client/my-sites/checkout/checkout/secure-payment-form.jsx
Labels: CSS Migration, Components, Framework, [Status] Needs Review, [Type] Janitorial

#31984 Editor: Add Jetpack iframed editors behind a feature flag.
  client/state/selectors/is-calypsoify-gutenberg-enabled.js
  client/state/selectors/is-gutenberg-enabled.js
Labels: Editor, Jetpack, [Status] Needs Review

#31985 Config: Enable iframing Jetpack and Atomic editors in testing environments.
  config/development.json
  config/horizon.json
  config/wpcalypso.json
Labels: Editor, Jetpack, [Status] Needs Review

#32025 Packages: Bump calypso-color-schemes version, and set o2-blocks to private
  packages/calypso-color-schemes/package.json
  packages/o2-blocks/package.json
Labels: Packages, [Status] Needs Review

#32041 Build: No o2-blocks build on postinstall
  package.json
Labels: Build, [Status] Needs Review, [Type] Janitorial

#32045 Calypso build: No fixed context
  packages/calypso-build/webpack.config.js
  packages/o2-blocks/package.json
  packages/o2-blocks/webpack.config.js
Labels: Build, Packages, [Status] Needs Review, [Type] Enhancement

#32050 Framework: Remove references to client/gutenberg/extensions from .*ignore files
  .eslintignore
  .gitignore
Labels: Framework, [Status] Needs Review

#32040 Calypso build: Use default babel-loader cacheDirectory
  packages/calypso-build/webpack.config.js
Labels: Packages, [Status] Needs Review

#31976 Editor: Sync Sticky Posts Copy with Gutenberg
  client/post-editor/edit-post-status/index.jsx
Labels: Editor, OSS Citizen, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#29815 Account Settings: Fix Overlap with Profile Links on Mobile
  client/me/profile-links/index.jsx
Labels: Me, OSS Citizen, [Status] Ready to Merge, [Type] Enhancement

#31513 Package: Webpack plugin to externalize WordPress deps
  npm-shrinkwrap.json
  package.json
  packages/calypso-build/package.json
  packages/calypso-build/webpack.config.js
  packages/calypso-build/webpack/wordpress-externals.js
  packages/wordpress-external-dependencies-plugin/.eslintrc.js
  packages/wordpress-external-dependencies-plugin/README.md
  packages/wordpress-external-dependencies-plugin/index.js
  packages/wordpress-external-dependencies-plugin/package.json
  webpack.config.js
Labels: Gutenberg core, Packages, [Goal] Gutenberg, [Status] Needs Review, [Type] Enhancement

#32029 Checklist: Allow progress bar to go backwards
  client/components/checklist/header.js
Labels: Checklist, Components, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#32022 Pages: prevent editing of latest posts page
  client/my-sites/pages/page/index.js
  client/my-sites/pages/style.scss
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Bug

#32059 WP Webpack deps: Publish package
  packages/wordpress-external-dependencies-plugin/package.json
Labels: Packages, [Status] Ready to Merge, [Type] Task

#32056 Remove @wordpress/editor dependency from root package.json
  package.json
Labels: Build, Packages, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#31547 Jetpack Checklist: Make task list dynamic
  client/components/data/query-jetpack-product-install-status/README.md
  client/components/data/query-jetpack-product-install-status/index.js
  client/my-sites/plans/current-plan/jetpack-checklist/constants.js
  client/my-sites/plans/current-plan/jetpack-checklist/index.js
Labels: Checklist, Jetpack, NUX, [Pri] Normal, [Status] Ready to Merge, [Type] Feature progress

#32027 Jetpack Checklist: Introduce header component
  client/my-sites/plans/current-plan/jetpack-checklist/header.js
  client/my-sites/plans/current-plan/jetpack-checklist/index.js
  client/my-sites/plans/current-plan/jetpack-checklist/style.scss
Labels: Checklist, Jetpack, NUX, [Pri] Normal, [Status] Ready to Merge, [Type] Feature progress

#31727 Move mshots functions from my-sites to lib
  client/lib/mshots/index.js
  client/my-sites/importer/site-importer/site-importer-input-pane.jsx
  client/my-sites/importer/site-importer/site-importer-site-preview.jsx
  client/state/importer-nux/actions.js
Labels: Import, Site Importer, [Status] Ready to Merge

#32039 Copy fix for Concierge upsell offer.
  client/my-sites/checkout/concierge-session-nudge/index.jsx
Labels: [Status] Needs Review

#32062 Site Settings: simplify the redirect controllers
  client/my-sites/site-settings/controller.js
  client/my-sites/site-settings/index.js
Labels: Site Settings, [Status] Needs Review

#31490 Site Settings: Remove placeholder and related site existence checks
  client/my-sites/guided-transfer/guided-transfer.jsx
  client/my-sites/site-settings/disconnect-site/confirm.jsx
  client/my-sites/site-settings/disconnect-site/index.jsx
  client/my-sites/site-settings/disconnect-site/too-expensive.jsx
  client/my-sites/site-settings/main.jsx
  client/my-sites/site-settings/placeholder.jsx
  client/my-sites/site-settings/section-export.jsx
  client/my-sites/site-settings/section-general.jsx
  client/my-sites/site-settings/section-import.jsx
  client/my-sites/site-settings/settings-discussion/main.jsx
  client/my-sites/site-settings/settings-security/main.jsx
  client/my-sites/site-settings/settings-writing/main.jsx
Labels: Site Settings, [Pri] Low, [Status] Needs Review, [Type] Janitorial

#30768 Multiple build targets
  .gitignore
  bin/icfy-analyze.js
  client/components/tinymce/plugins/contact-form/plugin.jsx
  client/components/tinymce/plugins/embed/plugin.js
  client/components/tinymce/plugins/insert-menu/plugin.jsx
  client/components/tinymce/plugins/simple-payments/plugin.jsx
  client/document/index.jsx
  npm-shrinkwrap.json
  package.json
  packages/calypso-build/package.json
  packages/calypso-build/webpack/minify.js
  server/bundler/index.js
  server/pages/index.js
  webpack.config.js
Labels: Build, Framework, Performance, [Status] Needs Review, [Status] Needs e2e Testing

#31996 Color Schemes: Remove Laser Black
  client/blocks/color-scheme-picker/constants.js
  client/blocks/color-scheme-picker/style.scss
  client/devdocs/style.scss
  config/development.json
  config/wpcalypso.json
  packages/calypso-color-schemes/src/shared/_color-schemes.scss
Labels: Color Schemes

#32034 Me: Migrate "Get Apps" CSS to Webpack
  assets/stylesheets/_components.scss
  client/me/get-apps/index.jsx
Labels: CSS Migration, Framework, Me, [Status] Needs Review, [Type] Janitorial

#32066 Remove Laser Black Thumbnail
  public/images/color-schemes/color-scheme-thumbnail-dark.svg
Labels: Color Schemes

#32067 Dev builds should always be evergreen.
  package.json
Labels: Build, [Type] Bug

#31708 Signup: refactor search results logic
  client/components/site-verticals-suggestion-search/README.md
  client/components/site-verticals-suggestion-search/index.jsx
  client/components/site-verticals-suggestion-search/popular-topics.jsx
  client/components/site-verticals-suggestion-search/test/__snapshots__/index.js.snap
  client/components/site-verticals-suggestion-search/test/index.js
  client/components/suggestion-search/index.jsx
  client/signup/steps/site-topic/form.jsx
  client/state/signup/verticals/reducer.js
  client/state/signup/verticals/test/reducer.js
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Enhancement, [Type] Feature progress

#31993 Update MailChimp casing to Mailchimp
  client/extensions/woocommerce/app/settings/email/mailchimp/getting-started.js
  client/extensions/woocommerce/app/settings/email/mailchimp/setup-steps/log-into-mailchimp.js
  client/extensions/woocommerce/app/settings/email/mailchimp/setup-steps/store-info.js
  client/my-sites/feature-upsell/plugins-upsell.jsx
  client/my-sites/feature-upsell/themes-upsell.jsx
  client/my-sites/sharing/connections/service-description.jsx
  client/my-sites/sharing/connections/service-examples.jsx
Labels: FixTheFlows, Mailchimp, [Status] Needs Review

#32051 Gutenframe: Allow `/post` to redirect to Gutenframe for Jetpack sites.
  client/state/selectors/is-gutenlypso-enabled.js
Labels: Editor, [Status] Ready to Merge

#32000 Billing: CSS to fix the height of the textarea
  client/me/billing-history/style.scss
Labels: Billing, FixTheFlows, [Status] Ready to Merge

#31969 Post Checkout: Update "Learn more" button for domain waiting period
  client/lib/url/support.js
  client/my-sites/checkout/checkout-thank-you/domain-registration-details.jsx
Labels: FixTheFlows, Post Checkout, [Status] Ready to Merge

#32075 Signup: give Page Builder MVP to all eligible sites
  client/lib/abtest/active-tests.js
  client/lib/signup/page-builder.js
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/concierge-session-nudge/index.jsx
  client/signup/processing-screen/index.jsx
Labels: Signup, [Status] Needs Review

#32080 Packages: Bump calypso-build version to 1.0.0-alpha.3
  packages/calypso-build/package.json
Labels: Build, Packages, [Status] Ready to Merge

#31524 NUX: extend the NUX SiteType UI component to include a free form text option.
  client/signup/steps/site-type/form.jsx
  client/signup/steps/site-type/style.scss
Labels: Components, Jetpack, NUX, [Status] Needs Author Reply, [Status] Needs Design Review

#32090 Fix breakage in classic editor EmbedView.
  client/components/tinymce/plugins/wpcom-view/views/embed/view.jsx
Labels: Editor, [Status] Needs Review, [Type] Bug

#32055 Signup: Debounce to reduce site preview mockup flashing effect
  client/signup/site-mockup/index.jsx
Labels: [Status] Needs Review, [Type] Enhancement

#32063 Remove the SITES_ONCE_CHANGED action
  client/state/action-types.js
  client/state/lib/README.md
  client/state/lib/middleware.js
Labels: State, [Status] Ready to Merge

#32099 Components: Cleanup JetpackHeader example from dark scheme
  client/components/jetpack-header/docs/example.js
Labels: Components, Jetpack, [Pri] Low, [Status] Needs Review, [Type] Janitorial

#32104 Fix propTypes definition on EmailCategory component
  client/me/notification-settings/wpcom-settings/email-category.jsx
Labels: [Status] Needs Review, [Type] Janitorial

#31906 Migrate HappinessSupport styles webpack
  assets/stylesheets/_components.scss
  client/components/happiness-support/index.jsx
  client/components/happiness-support/style.scss
Labels: CSS Migration, Components, Framework, Plans, Support, [Status] Ready to Merge, [Type] Janitorial

#32118 Set missing right padding for banners with is-card-link class
  client/components/banner/style.scss
Labels: Components, Design, [Status] Ready to Merge, [Type] Bug

#32074 Gutenframe: Allow `/post` to redirect to Gutenframe for Jetpack sites.
  client/post-editor/controller.js
Labels: Editor, [Status] Ready to Merge, [Type] Bug

#32096 Reader stripAutoPlays: handle an array of values
  client/lib/post-normalizer/rule-content-disable-autoplay.js
  client/lib/post-normalizer/test/index.js
Labels: Reader, [Status] Needs Review

#32024 Build: Move o2 blocks specific Babel config to that package
  babel.config.js
  npm-shrinkwrap.json
  package.json
  packages/calypso-build/babel.config.js
  packages/calypso-build/babel/wordpress-element.js
  packages/calypso-build/package.json
  packages/calypso-build/webpack.config.js
  packages/o2-blocks/babel.config.js
Labels: Build, [Goal] Gutenberg, [Status] Needs Review

#32121 Packages: Bump calypso-build to 1.0.0-alpha.4
  packages/calypso-build/package.json
Labels: Packages, [Status] Needs Review

#32101 Rewind Credentials: Re add the credentials-setup-flow component styles
  client/my-sites/site-settings/jetpack-credentials/credentials-setup-flow/index.jsx
Labels: Rewind, Site Settings, [Status] Needs Review

#31556 Color Schemes: Fix contrast for sidebar site selector when no results are found
  client/layout/style.scss
Labels: Color Schemes

#31815 Jetpack Backups: Send Calypso environment ID with all restore requests
  client/state/data-layer/wpcom/activity-log/rewind/to/index.js
Labels: Activity Log, Rewind, [Status] Ready to Merge

#32069 G Suite: ToS dialog updates
  client/my-sites/checklist/wpcom-checklist/component.jsx
  client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice-action.js
  client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice-dialog.jsx
  client/my-sites/email/email-management/gsuite-user-item/index.jsx
  client/my-sites/email/email-management/gsuite-users-card/index.jsx
Labels: G Suite, [Status] Needs Review

#31968 Add email button to domain only flow
  client/components/empty-content/index.jsx
  client/my-sites/domains/domain-management/list/domain-only.jsx
Labels: Domains, G Suite, [Status] Needs Review

#32127 Reader: fix padding on notification settings popout
  client/blocks/reader-site-notification-settings/style.scss
Labels: Reader, [Status] Needs Review

#31905 Migrate checklist styles to webpack
  assets/stylesheets/_components.scss
  client/components/checklist/checklist.js
  client/components/checklist/docs/example.jsx
  client/components/checklist/index.js
  client/devdocs/design/playground-scope.js
  client/extensions/woocommerce/app/dashboard/setup/tasks.js
  client/my-sites/checklist/wpcom-checklist/component.jsx
  client/my-sites/plans/current-plan/jetpack-checklist/index.js
Labels: CSS Migration, Checklist, Components, Framework, [Status] Ready to Merge, [Type] Janitorial

#32058 Apps: Add apps dir and move o2-blocks there
  apps/o2-blocks/.eslintrc.js
  apps/o2-blocks/.gitignore
  apps/o2-blocks/README.md
  apps/o2-blocks/package.json
  apps/o2-blocks/src/editor-notes/editor.js
  apps/o2-blocks/src/editor-notes/editor.scss
  apps/o2-blocks/src/editor.js
  apps/o2-blocks/src/prev-next/editor.js
  apps/o2-blocks/src/prev-next/editor.scss
  apps/o2-blocks/src/todo/editor.js
  apps/o2-blocks/src/todo/editor.scss
  apps/o2-blocks/src/todo/item.js
  lerna.json
  package.json
Labels: Build, Framework, Packages, [Status] Needs Review, [Type] Janitorial

#32138 o2 blocks: Move babel config
  apps/o2-blocks/babel.config.js
Labels: Packages, [Status] Ready to Merge, [Type] Bug

#32112 Remove Gutenlypso data-getters leftovers
  client/state/data-getters/index.js
Labels: Data, Editor, [Status] Ready to Merge, [Type] Janitorial

#32126 Framework: Remove obsolete Babel plugins
  client/components/happychat/index.jsx
  npm-shrinkwrap.json
  package.json
Labels: Build, Framework, [Status] Needs Review, [Status] Needs e2e Testing

#32042 Calypso build: Configurable WP deps
  apps/o2-blocks/package.json
  packages/calypso-build/package.json
  packages/calypso-build/webpack.config.js
Labels: Build, Packages, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#32144 Build: Move Babel plugin deps to calypso-build package
  npm-shrinkwrap.json
  package.json
  packages/calypso-build/package.json
Labels: Build, Packages, [Status] Needs Review

#32122 Activity Log Tasklist: Remove Primary Colour for Update Notices
  client/my-sites/activity/activity-log-tasklist/update.jsx
Labels: Activity Log, Color Schemes, Design, Jetpack, OSS Citizen, [Status] Needs Review

#32078 Analytics: set ad_details cookie and AMP analytics support
  client/lib/analytics/index.js
  client/lib/analytics/sem.js
  client/lib/analytics/utils.js
  client/signup/main.jsx
Labels: [Status] In Progress

#32155 Packages: Add node-sass dep to calypso-build
  npm-shrinkwrap.json
  packages/calypso-build/package.json
Labels: Build, Packages, [Status] Needs Review

#32077 Checklist: set the default headerText to "site created" message.
  client/my-sites/checklist/main.jsx
Labels: Signup, [Status] Needs Review

#32116 Signup: change loading fallback for mockup images
  client/components/site-mockup/style.scss
Labels: Signup, [Status] Needs Review

#32054 After inviting user change path
  client/my-sites/people/index.js
  client/my-sites/people/invite-people/index.jsx
Labels: [Status] Needs Review

#31983 Import: Rename Engine6 to GoDaddy and site-importer to Wix
  client/my-sites/importer/importer-action-buttons/close-button.jsx
  client/my-sites/importer/importer-action-buttons/done-button.jsx
  client/my-sites/importer/importer-godaddy-gocentral.jsx
  client/my-sites/importer/importer-header/start-button.jsx
  client/my-sites/importer/importer-logo.jsx
  client/my-sites/importer/importer-wix.jsx
  client/my-sites/importer/logos/godaddy-gocentral.jsx
  client/my-sites/importer/logos/wix.jsx
  client/my-sites/importer/site-importer/site-importer-input-pane.jsx
  client/my-sites/importer/style.scss
  client/my-sites/site-settings/section-import.jsx
  client/state/imports/constants.js
Labels: Import, Site Importer, [Status] Needs Review, [Status] Needs e2e Testing

#31824 Activity Log: Allow `fail` status in ProgressBanner component
  client/my-sites/activity/activity-log-banner/progress-banner.jsx
Labels: Activity Log, Rewind, [Status] Needs Review

#32098 Get Apps: simplify the code to request sending a SMS
  client/me/get-apps/mobile-download-card.jsx
  client/state/action-types.js
  client/state/data-layer/wpcom/me/get-apps/send-download-sms/index.js
  client/state/mobile-download-sms/actions.js
  client/state/mobile-download-sms/reducer.js
  client/state/reducer.js
  client/state/selectors/get-apps-sms-request.js
Labels: Me, [Status] Needs Review, [Type] Janitorial

#32146 Run tests only for packages that have a Jest config
  test/packages/jest.config.js
Labels: Build, [Status] Needs Review

#32140 Themes Search Card: use withMobileBreakpoint to watch viewport size
  client/my-sites/themes/themes-magic-search-card/index.jsx
Labels: Themes, [Status] Needs Review

#32130 Signup: Hiding the site style input elements for larger screen widths
  client/signup/steps/site-style/style.scss
Labels: Signup, [Type] Bug

#32166 Remove/wp script dependency
  npm-shrinkwrap.json
  packages/calypso-build/package.json
  packages/wordpress-external-dependencies-plugin/index.js
  packages/wordpress-external-dependencies-plugin/package.json
Labels: Jetpack, [Status] Ready to Merge, [Type] Janitorial

#31699 Settings: adjust Publish confirmation for Gutenberg enabled sites
  client/my-sites/site-settings/composing/publish-confirmation.jsx
Labels: [Goal] Gutenberg, [Status] Needs Copy Review, [Status] Needs Design Review, [Status] Needs Review, [Type] Enhancement
