Repository Automattic/wp-calypso, pull requests merged in 2019-03, with the labels that each got.

#30242 Private by default launch flow
  client/components/domains/README.md
  client/components/domains/domain-skip-suggestion/index.jsx
  client/components/domains/domain-skip-suggestion/style.scss
  client/components/domains/register-domain-step/index.jsx
  client/lib/signup/step-actions.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/plan-features/actions.jsx
  client/my-sites/plan-features/index.jsx
  client/my-sites/plans-features-main/index.jsx
  client/signup/config/flows-pure.js
  client/signup/config/flows.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/config/steps.js
  client/signup/main.jsx
  client/signup/steps/domains/index.jsx
  client/signup/steps/launch-site/index.jsx
  client/signup/steps/plans/index.jsx
  client/signup/test/flows.js
Labels: NUX, [Status] Needs e2e Testing, [Status] Ready to Merge

#31139 Form block: fix typo
  client/gutenberg/extensions/contact-form/index.js
Labels: Contact Form, [Goal] Gutenberg, [Pri] Low

#31055 Implement an 'Automattic footer' for Crowdsignal's OAuth2 screens
  client/blocks/signup-form/crowdsignal.jsx
  client/blocks/signup-form/crowdsignal.scss
  client/components/automattic-logo/index.jsx
  client/components/automattic-logo/style.scss
  client/layout/masterbar/oauth-client.scss
  client/login/wp-login/index.jsx
Labels: Login, Signup

#31089 Mailchimp: Placeholder Buttons
  client/gutenberg/extensions/mailchimp/edit.jsx
Labels: Mailchimp, [Status] Needs Review

#31142 Mailchimp: Form Element Spacing
  client/gutenberg/extensions/mailchimp/edit.jsx
  client/gutenberg/extensions/mailchimp/editor.scss
Labels: Design, Mailchimp

#31143 Business hours block: use blockIcon in placeholder
  client/gutenberg/extensions/business-hours/edit.jsx
Labels: Business Hours, [Goal] Gutenberg, [Pri] Low, [Status] Ready to Merge

#31125 Gutenframe: Fix non-production flows.
  client/gutenberg/editor/calypsoify-iframe.jsx
Labels: Editor, [Status] Needs Review

#31134 Color Schemes: Use correct background color for the Switch Sites hover state
  client/my-sites/current-site/style.scss
Labels: Color Schemes, [Status] Needs Review

#31146 Fixes email forwarding link
  client/lib/domains/email-forwarding/index.js
  client/lib/domains/email-forwarding/test/index.js
  client/my-sites/domains/domain-management/email/index.jsx
Labels: [Status] Ready to Merge, [Tests] Includes Tests

#31129 Remove Assumptions From Email Forwards Reducer
  client/state/data-layer/wpcom/email-forwarding/add/index.js
  client/state/data-layer/wpcom/email-forwarding/get/index.js
  client/state/data-layer/wpcom/email-forwarding/remove/index.js
  client/state/data-layer/wpcom/email-forwarding/resend-email-verification/index.js
  client/state/email-forwarding/reducer.js
  client/state/email-forwarding/test/reducer.js
Labels: Email, [Status] Ready to Merge

#31131 Move Email Forwarding to Email Module
  client/my-sites/domains/domain-management/controller.jsx
  client/my-sites/domains/domain-management/domain-management.jsx
  client/my-sites/domains/domain-management/style.scss
  client/my-sites/email/email-forwarding/email-forwarding-add-new.jsx
  client/my-sites/email/email-forwarding/email-forwarding-details.jsx
  client/my-sites/email/email-forwarding/email-forwarding-item.jsx
  client/my-sites/email/email-forwarding/email-forwarding-limit.jsx
  client/my-sites/email/email-forwarding/email-forwarding-list.jsx
  client/my-sites/email/email-forwarding/index.jsx
  client/my-sites/email/email-forwarding/style.scss
  client/my-sites/email/email-forwarding/test/__snapshots__/email-forwarding-item.js.snap
  client/my-sites/email/email-forwarding/test/email-forwarding-item.js
Labels: Email, [Status] Needs Review

#31133 Refactor Email Forwarding Components
  assets/stylesheets/_components.scss
  client/lib/mixins/analytics/index.js
  client/my-sites/email/email-forwarding/email-forwarding-add-new.jsx
  client/my-sites/email/email-forwarding/email-forwarding-details.jsx
Labels: Email, [Status] Ready to Merge

#31152 Fixes getEligibleEmailForwardingDomain logic
  client/lib/domains/email-forwarding/index.js
  client/lib/domains/email-forwarding/test/index.js
Labels: [Status] Needs Review

#31097 Use a different skip button URL if there is no receipt id
  client/my-sites/checkout/concierge-session-nudge/index.jsx
Labels: Post Checkout, [Status] Needs Review, [Type] Enhancement

#30962 Gutenframe: integrate Calypso Revisions dialog
  client/gutenberg/editor/calypsoify-iframe.jsx
  client/gutenberg/editor/controller.js
Labels: [Goal] Gutenberg

#31111 color-schemes: remove $gray-dark
  assets/stylesheets/shared/_color-schemes.scss
  assets/stylesheets/shared/_colors.scss
  client/components/happychat/style.scss
  client/components/theme/style.scss
  client/components/upgrades/gsuite/gsuite-dialog/style.scss
  client/devdocs/style.scss
  client/jetpack-connect/jetpack-new-site/style.scss
  client/my-sites/domains/domain-management/style.scss
  client/my-sites/plan-compare-card/style.scss
  client/my-sites/plan-features/style.scss
  client/my-sites/theme/style.scss
Labels: Color Schemes, [Status] Needs Review

#31067 color-schemes: remove $gray-lighten-20
  assets/stylesheets/shared/_colors.scss
  client/blocks/app-promo/style.scss
  client/blocks/post-share/style.scss
  client/blocks/product-purchase-features-list/style.scss
  client/blocks/taxonomy-manager/style.scss
  client/components/domains/register-domain-step/style.scss
  client/components/first-view/style.scss
  client/components/forms/form-radio-with-thumbnail/style.scss
  client/components/forms/form-range/style.scss
  client/components/purchase-detail/style.scss
  client/components/readme-viewer/style.scss
  client/components/section-nav/style.scss
  client/components/tile-grid/style.scss
  client/devdocs/style.scss
  client/extensions/woocommerce/app/dashboard/style.scss
  client/extensions/woocommerce/app/order/order-activity-log/style.scss
  client/extensions/woocommerce/app/settings/email/mailchimp/style.scss
  client/extensions/woocommerce/components/reading-widget/style.scss
  client/jetpack-connect/jetpack-new-site/style.scss
  client/jetpack-connect/style.scss
  client/me/get-apps/style.scss
  client/my-sites/activity/activity-log-tasklist/style.scss
  client/my-sites/checkout/checkout-thank-you/style.scss
  client/my-sites/comments/comment/style.scss
  client/my-sites/media-library/list-item-file-details.scss
  client/my-sites/media-library/style.scss
  client/my-sites/media/style.scss
  client/my-sites/pages/style.scss
  client/my-sites/plans/current-plan/style.scss
  client/my-sites/plugins/plugins-browser/style.scss
  client/my-sites/plugins/style.scss
  client/my-sites/sharing/style.scss
  client/my-sites/stats/stats-post-summary/style.scss
  client/my-sites/themes/current-theme/style.scss
  client/my-sites/themes/style.scss
  client/my-sites/themes/themes-magic-search-card/style.scss
  client/post-editor/editor-confirmation-sidebar/style.scss
  client/post-editor/media-modal/gallery/style.scss
  client/reader/following-manage/style.scss
Labels: Color Schemes, [Status] Needs Review

#31148 Gutenframe: Add support for Press This/Reblog
  client/gutenberg/editor/calypsoify-iframe.jsx
  client/gutenberg/editor/controller.js
  client/post-editor/controller.js
Labels: Calypsoify, [Goal] Gutenberg, [Status] Needs Review, [Type] Bug

#31071 color-schemes: remove $gray-light
  assets/stylesheets/shared/_colors.scss
  assets/stylesheets/shared/_extends.scss
  assets/stylesheets/shared/_welcome.scss
  assets/stylesheets/shared/functions/_overflow-gradient.scss
  client/blocks/inline-help/style.scss
  client/blocks/login/style.scss
  client/blocks/reader-share/style.scss
  client/components/keyed-suggestions/style.scss
  client/components/section-nav/style.scss
  client/components/site-title-example/style.scss
  client/components/theme/style.scss
  client/components/upgrades/gsuite/gsuite-dialog/style.scss
  client/components/web-preview/style.scss
  client/extensions/woocommerce/app/promotions/fields/style.scss
  client/extensions/woocommerce/app/settings/email/mailchimp/style.scss
  client/extensions/woocommerce/components/table/style.scss
  client/my-sites/exporter/style.scss
  client/my-sites/pages/style.scss
  client/my-sites/stats/stats-list/style.scss
  client/my-sites/theme/style.scss
  client/my-sites/themes/themes-magic-search-card/style.scss
  client/post-editor/editor-gutenberg-opt-in-dialog/style.scss
  client/post-editor/media-modal/dialog.scss
  client/reader/style.scss
  client/signup/steps/clone-point/style.scss
Labels: Color Schemes, [Status] Needs Review

#31030 color-scheming: remove legacy blue color variables
  assets/stylesheets/_main.scss
  assets/stylesheets/directly.scss
  assets/stylesheets/shared/_colors.scss
  assets/stylesheets/shared/mixins/_dropdown-menu.scss
  client/blocks/inline-help/style.scss
  client/blocks/location-search/style.scss
  client/blocks/nps-survey/style.scss
  client/blocks/user-mentions/style.scss
  client/components/drop-zone/style.scss
  client/components/forms/form-range/style.scss
  client/components/happychat/style.scss
  client/components/progress-bar/style.scss
  client/components/sub-masterbar-nav/style.scss
  client/components/text-diff/style.scss
  client/components/tinymce/iframe.scss
  client/devdocs/style.scss
  client/extensions/woocommerce/app/settings/email/mailchimp/style.scss
  client/layout/masterbar/style.scss
  client/me/notification-settings/push-notification-settings/style.scss
  client/my-sites/plan-features/style.scss
  client/notifications/src/panel/boot/stylesheets/shared/buttons.scss
  client/notifications/src/panel/suggestions/styles.scss
  client/signup/steps/clone-cloning/style.scss
Labels: Color Schemes, [Status] Needs Review

#31180 lib/abtest: avoid using moment.js from i18n-calypso
  client/lib/abtest/index.js
Labels: Framework, [Status] Needs Review, [Type] Janitorial

#31122 Fix: business hours validation
  client/gutenberg/extensions/business-hours/components/day-edit.jsx
  client/gutenberg/extensions/business-hours/components/day-preview.jsx
  client/gutenberg/extensions/business-hours/edit.jsx
  client/gutenberg/extensions/business-hours/index.js
Labels: Business Hours, [Status] Ready to Merge, [Type] Bug, i18n

#31184 Tiled gallery block: camel case product name
  client/gutenberg/extensions/tiled-gallery/edit.jsx
Labels: Tiled Galleries, [Goal] Gutenberg, [Status] Ready to Merge

#31186 VideoPress: Disable re-usable block feature for video blocks
  client/gutenberg/extensions/videopress/editor.js
Labels: VideoPress, [Goal] Gutenberg, [Status] Needs Review

#31096 Add upwork A/B test to Help popover
  client/blocks/inline-help/popover.jsx
  client/blocks/inline-help/style.scss
  client/lib/abtest/active-tests.js
Labels: [Status] Needs Review

#31081 Add hooks and HOCs to `lib/viewport`
  client/components/tooltip/index.jsx
  client/layout/guided-tours/docs/examples/selectors/has-selected-site-premium-or-business-plan.js
  client/lib/viewport/README.md
  client/lib/viewport/index.js
  client/lib/viewport/react.js
  client/lib/viewport/test/index.js
  client/lib/viewport/test/react.js
  client/my-sites/activity/activity-log-item/aggregated.jsx
  client/my-sites/activity/activity-log-item/index.jsx
  client/my-sites/plan-features/item.jsx
Labels: [Status] Needs Review, [Type] Enhancement

#31190 Change contact info block icon to account box
  client/gutenberg/extensions/contact-info/index.js
Labels: Contact Info, [Status] Ready to Merge

#31191 Change coupon code shown in Feb/March sale banner to MARCH20
  client/lib/discounts/active-discounts.js
Labels: [Status] Needs Review

#31181 Prevent editing trashed posts
  client/blocks/post-item/index.jsx
  client/my-sites/post-type-list/post-thumbnail.jsx
Labels: Posts, [Goal] Gutenberg, [Status] Needs Review

#31128 Try implementing a query component using hooks
  client/components/data/query-reader-tag/index.jsx
Labels: Data, Reader, [Status] Needs Review

#31175 Slideshow: Replace Buttons With A Tags
  client/gutenberg/extensions/slideshow/slideshow.js
Labels: Accessibility, Slideshow, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#31188 Fix WordAds block alignment
  client/gutenberg/extensions/wordads/edit.js
  client/gutenberg/extensions/wordads/editor.scss
Labels: Design, Jetpack, WordAds, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Defect

#31197 Gutenframe: prevent lock takeover from disabling integrations
  client/gutenberg/editor/calypsoify-iframe.jsx
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Bug

#31187 Gutenframe: Display success message after trashing a post
  client/gutenberg/editor/calypsoify-iframe.jsx
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Enhancement

#31189 Don't re-render processing screen while adding a new site
  client/signup/main.jsx
Labels: NUX, [Status] Needs Review, [Status] Needs e2e Testing

#30853 Tiled gallery: Add image filters
  client/gutenberg/extensions/tiled-gallery/css-gram.scss
  client/gutenberg/extensions/tiled-gallery/edit.jsx
  client/gutenberg/extensions/tiled-gallery/editor.scss
  client/gutenberg/extensions/tiled-gallery/filter-toolbar.js
  client/gutenberg/extensions/tiled-gallery/gallery-image/edit.js
  client/gutenberg/extensions/tiled-gallery/gallery-image/save.js
  client/gutenberg/extensions/tiled-gallery/index.js
  client/gutenberg/extensions/tiled-gallery/layout/index.js
  client/gutenberg/extensions/tiled-gallery/save.jsx
  client/gutenberg/extensions/tiled-gallery/view.scss
Labels: Design, Jetpack, Tiled Galleries, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#31200 Revert "Tiled gallery: Add image filters"
  client/gutenberg/extensions/tiled-gallery/css-gram.scss
  client/gutenberg/extensions/tiled-gallery/edit.jsx
  client/gutenberg/extensions/tiled-gallery/editor.scss
  client/gutenberg/extensions/tiled-gallery/filter-toolbar.js
  client/gutenberg/extensions/tiled-gallery/gallery-image/edit.js
  client/gutenberg/extensions/tiled-gallery/gallery-image/save.js
  client/gutenberg/extensions/tiled-gallery/index.js
  client/gutenberg/extensions/tiled-gallery/layout/index.js
  client/gutenberg/extensions/tiled-gallery/save.jsx
  client/gutenberg/extensions/tiled-gallery/view.scss
Labels: Jetpack, Tiled Galleries, [Goal] Gutenberg, [Status] Needs Review, [Type] Task

#30948 Domains: Change how we handle adding privacy
  assets/stylesheets/_components.scss
  client/lib/analytics/test/utils.js
  client/lib/cart-values/cart-items.js
  client/lib/purchases/index.js
  client/lib/route/test/index.js
  client/lib/signup/step-actions.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/me/purchases/cancel-privacy-protection/index.jsx
  client/me/purchases/cancel-privacy-protection/style.scss
  client/me/purchases/controller.jsx
  client/me/purchases/index.js
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/paths.js
  client/me/purchases/titles.js
  client/my-sites/checkout/checkout/privacy-protection.jsx
  client/my-sites/checkout/checkout/style.scss
  client/my-sites/domains/domain-management/contacts-privacy/card.jsx
  client/my-sites/domains/domain-management/contacts-privacy/index.jsx
  client/my-sites/domains/domain-management/controller.jsx
  client/my-sites/domains/domain-management/edit/registered-domain.jsx
  client/my-sites/domains/domain-management/style.scss
  client/my-sites/domains/domain-search/domain-search.jsx
  client/my-sites/domains/transfer-domain/index.jsx
  client/state/action-types.js
  client/state/domains/management/reducer.js
  client/state/domains/reducer.js
  client/state/domains/transfer/reducer.js
  client/state/purchases/actions.js
  client/state/purchases/reducer.js
  client/state/purchases/test/actions.js
  client/state/purchases/test/reducer.js
  client/state/sites/domains/actions.js
  client/state/sites/domains/reducer.js
  client/state/sites/domains/test/actions.js
  client/state/sites/domains/test/fixture/index.js
  client/state/sites/domains/test/reducer.js
  client/state/sites/reducer.js
Labels: Domains, NUX, [Status] Needs e2e Testing, [Status] Ready to Merge

#31192 Slideshow: Handle Swiper Load Failure
  client/gutenberg/extensions/slideshow/edit.js
  client/gutenberg/extensions/slideshow/slideshow.js
  client/gutenberg/extensions/slideshow/view.js
Labels: Slideshow, [Goal] Gutenberg, [Status] Ready to Merge

#31043 i18n-calypso: add useTranslate hook
  client/blocks/post-share/no-connections-notice.jsx
  packages/i18n-calypso/README.md
  packages/i18n-calypso/package.json
  packages/i18n-calypso/src/index.js
  packages/i18n-calypso/src/use-translate.js
  packages/i18n-calypso/test/use-translate.js
Labels: Framework, [Status] Needs Review, i18n

#31212 useLocalizedMoment hook: return just moment object, not array
  client/components/formatted-date/index.js
  client/components/localized-moment/README.md
  client/components/localized-moment/index.js
  client/components/localized-moment/test/index.js
Labels: Framework, [Status] Needs Review, [Type] Janitorial

#31084 Jetpack Connect: Add a flag upon account creation for the new user endpoint.
  client/jetpack-connect/signup.js
Labels: Jetpack, [Status] Ready to Merge

#31196 Gutenframe: Enable the iframed block editor in all environments.
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Editor, [Goal] Gutenberg

#31223 Revert "Gutenframe: Display success message after trashing a post"
  client/gutenberg/editor/calypsoify-iframe.jsx
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Bug

#31117 Analytics: Registration, Signup, AddToCart, Purchase events updates
  client/lib/analytics/ad-tracking.js
  client/lib/analytics/index.js
  client/lib/analytics/utils.js
Labels: Analytics, [Status] In Progress

#31149 Fix/signup field validation
  client/blocks/signup-form/index.jsx
Labels: Signup, [Status] Ready to Merge

#31222 Colour Scheming: Switch Approved Comment Variable
  client/blocks/comments/style.scss
Labels: Color Schemes, OSS Citizen, [Status] Needs Review

#31080 color-schemes: remove sass $white
  assets/stylesheets/_main.scss
  assets/stylesheets/directly.scss
  assets/stylesheets/shared/_colors.scss
  assets/stylesheets/shared/_extends-forms.scss
  assets/stylesheets/shared/_extends.scss
  assets/stylesheets/shared/_forms.scss
  assets/stylesheets/shared/mixins/_dropdown-menu.scss
  assets/stylesheets/shared/mixins/_mixins.scss
  client/blocks/image-editor/style.scss
  client/blocks/image-selector/style.scss
  client/blocks/inline-help/style.scss
  client/blocks/reader-avatar/style.scss
  client/blocks/site-icon/style.scss
  client/components/accordion/style.scss
  client/components/button-group/style.scss
  client/components/gravatar-caterpillar/style.scss
  client/components/happychat/style.scss
  client/components/legend-item/style.scss
  client/components/popover/style.scss
  client/components/section-nav/style.scss
  client/components/thank-you-card/style.scss
  client/components/theme/style.scss
  client/components/tinymce/plugins/wpcom-view/views/simple-payments/style.scss
  client/components/tinymce/style.scss
  client/extensions/woocommerce/app/products/product-form.scss
  client/extensions/woocommerce/app/settings/email/mailchimp/style.scss
  client/extensions/woocommerce/components/compact-tinymce/style.scss
  client/extensions/woocommerce/components/table/style.scss
  client/gutenberg/extensions/presets/jetpack/editor-shared/jetpack-plugin-sidebar.scss
  client/gutenberg/extensions/todo/editor.scss
  client/layout/guided-tours/style.scss
  client/layout/masterbar/style.scss
  client/me/sidebar-navigation/style.scss
  client/my-sites/checkout/checkout/style.scss
  client/my-sites/comments/comment/style.scss
  client/my-sites/media-library/list-item.scss
  client/my-sites/site-indicator/style.scss
  client/my-sites/site-settings/podcast-cover-image-setting/style.scss
  client/my-sites/stats/post-trends/style.scss
  client/my-sites/stats/stats-chart-tabs/style.scss
  client/my-sites/stats/stats-list/style.scss
  client/my-sites/stats/stats-module/style.scss
  client/my-sites/stats/stats-site-overview/style.scss
  client/my-sites/stats/stats-tabs/style.scss
  client/notifications/src/panel/boot/stylesheets/main.scss
  client/post-editor/editor-action-bar/style.scss
  client/post-editor/editor-featured-image/style.scss
  client/post-editor/editor-html-toolbar/style.scss
  client/post-editor/editor-word-count/style.scss
  client/reader/following/style.scss
  client/reader/list-gap/style.scss
  client/reader/sidebar/style.scss
  client/reader/stream/style.scss
  client/signup/processing-screen/style.scss
Labels: Color Schemes, [Status] Needs Review

#31233 Slideshow: IE11 Issues
  client/gutenberg/extensions/slideshow/create-swiper.js
  client/gutenberg/extensions/slideshow/slideshow.js
  client/gutenberg/extensions/slideshow/style.scss
Labels: Slideshow, [Pri] High, [Status] Ready to Merge, [Type] Bug

#31121 Login: Hide Jetpack colophon from Jetpack login, fix a spacing bug
  client/login/wp-login/index.jsx
  client/login/wp-login/style.scss
Labels: Jetpack, Login, NUX, [Status] Ready to Merge, [Type] Enhancement

#31240 Jetpack Blocks: update for Jetpack 7.1.1 release
  client/gutenberg/extensions/presets/jetpack/package.json
Labels: Jetpack, [Goal] Gutenberg, [Status] Needs Review

#30933 Packages: Move Custom CSS Properties to new `calypso-css-custom-properties` package
  assets/stylesheets/directly.scss
  assets/stylesheets/editor.scss
  assets/stylesheets/shared/_utils.scss
  assets/stylesheets/shared/functions/_functions.scss
  assets/stylesheets/style.scss
  bin/build-custom-properties-css.js
  npm-shrinkwrap.json
  package.json
  packages/babel-plugin-i18n-calypso/package.json
  packages/calypso-color-schemes/.eslintrc.js
  packages/calypso-color-schemes/.gitignore
  packages/calypso-color-schemes/README.md
  packages/calypso-color-schemes/bin/build-css.js
  packages/calypso-color-schemes/bin/postinstall.js
  packages/calypso-color-schemes/package.json
  packages/calypso-color-schemes/src/calypso-color-schemes.scss
  packages/calypso-color-schemes/src/shared/_color-schemes.scss
  packages/calypso-color-schemes/src/shared/_colors.scss
  packages/calypso-color-schemes/src/shared/functions/_hex-to-rgb.scss
  packages/i18n-calypso/package.json
  packages/photon/package.json
  packages/tree-select/package.json
  postcss.config.js
  webpack.config.js
Labels: Build, Packages, [Status] Ready to Merge

#31194 Gutenberg: remove dependency on calypso's jetpack logo component
  client/gutenberg/extensions/presets/jetpack/editor-shared/block-category.js
  client/gutenberg/extensions/presets/jetpack/editor-shared/jetpack-logo.js
  client/gutenberg/extensions/presets/jetpack/editor-shared/jetpack-plugin-sidebar.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#31246 Colour Scheming: Expose all Muriel Colours
  packages/calypso-color-schemes/src/shared/_color-schemes.scss
Labels: Color Schemes, OSS Citizen, [Status] Needs Review

#31256 Remove jazzy orange :jazz
  client/layout/masterbar/style.scss
  packages/calypso-color-schemes/src/shared/_colors.scss
Labels: Color Schemes, [Status] Needs Review

#30913 Removed MEDIA_IMAGE_PHOTON References from codebase
  client/lib/media/constants.js
  client/my-sites/media-library/list-item-image.jsx
  client/my-sites/media-library/list-item-video.jsx
  client/my-sites/media-library/list-item.jsx
  client/my-sites/media-library/test/list-item-image.jsx
  client/my-sites/media-library/test/list-item-video.jsx
Labels: [Status] Ready to Merge, [Type] Janitorial

#31216 Onboarding: Add tracking events to welcome prompt
  client/my-sites/checklist/wpcom-checklist/checklist-onboarding-welcome/index.jsx
Labels: Analytics, Signup, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Metrics

#30671 Add plan items to cart without modifying destination
  client/lib/signup/step-actions.js
  client/signup/config/flows-pure.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/main.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#31065 Signup: bumping the debounce wait on vertical search
  client/components/site-verticals-suggestion-search/index.jsx
Labels: Signup, [Status] Needs Review, [Type] Enhancement

#31253 Business Hours: Add small UI fixes to the editor
  client/gutenberg/extensions/business-hours/editor.scss
Labels: Business Hours, [Goal] Gutenberg, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#31118 Jetpack Connect: Reset vertical when auth starts
  client/state/signup/steps/site-vertical/reducer.js
  client/state/signup/steps/site-vertical/test/reducer.js
Labels: Jetpack, NUX, Signup, State, [Pri] Normal, [Status] Ready to Merge

#31086 Jetpack Connect: Stick Colophon to Bottom
  client/components/wpcom-colophon/style.scss
  client/jetpack-connect/style.scss
Labels: Jetpack, NUX, [Status] Ready to Merge

#31265 icfy-analyze: get the sizes of public/style.css file and report it
  .circleci/config.yml
  bin/icfy-analyze.js
Labels: Build, CSS Migration, [Status] Ready to Merge

#29001 Introduce earn section
  assets/stylesheets/_components.scss
  client/lib/ads/utils.js
  client/my-sites/earn/ads/form-settings.jsx
  client/my-sites/earn/ads/style.scss
  client/my-sites/earn/ads/wrapper.jsx
  client/my-sites/earn/controller.js
  client/my-sites/earn/index.js
  client/my-sites/earn/main.jsx
  client/my-sites/earn/style.scss
  client/my-sites/sidebar/sidebar.jsx
  client/my-sites/sidebar/test/sidebar.js
  client/my-sites/site-settings/jetpack-ads.jsx
  client/wordpress-com.js
Labels: WordAds, [Status] Needs Review

#31107 Migrate Offline Styling Imports
  assets/stylesheets/_components.scss
  client/layout/offline-status/index.jsx
Labels: CSS Migration

#31070 Migrate Social Login Styling Imports
  assets/stylesheets/_components.scss
  client/me/social-login/index.jsx
Labels: CSS Migration

#31262 Chat/Concierge closure notices: don't rely on moment from i18n-calypso
  assets/stylesheets/_components.scss
  client/me/concierge/shared/closure-notice.js
  client/me/help/live-chat-closure-notice/index.jsx
Labels: [Status] Needs Review, [Type] Janitorial

#31093 Import: Improve section heading text
  client/my-sites/site-settings/section-import.jsx
  client/my-sites/site-settings/settings-import/descriptive-header.jsx
Labels: Import, [Status] Needs Copy Review, [Status] Needs Design Review, [Status] Needs Review

#31255 Remove the contact support button from the receipt
  client/me/billing-history/receipt.jsx
Labels: Purchases, [Status] Ready to Merge

#31203 Docs: update packages docs
  packages/README.md
Labels: Documentation, Packages, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#31282 Gsuite: Change label on button to make it clear there is a cost involved
  client/components/upgrades/gsuite/gsuite-dialog/index.jsx
  client/lib/abtest/active-tests.js
Labels: [Status] Needs Review

#31290 Color Schmes: Fix color contrast in checkout when using dark color schemes
  client/my-sites/checkout/cart/style.scss
Labels: Checkout, Color Schemes, [Status] Needs Design Review, [Status] Needs Review

#31220 Move e2e test triggers in to WP-Calypso
  .circleci/config.yml
  .editorconfig
Labels: [Status] Needs Review

#31274 Pull recent test changes from wp-e2e-tests
  .eslintrc.js
  test/e2e/config/default.json
  test/e2e/lib/driver-helper.js
  test/e2e/lib/driver-manager.js
  test/e2e/lib/mocha-hooks.js
  test/e2e/lib/override-abtest.js
  test/e2e/specs/wp-signup-spec.js
Labels: [Status] Needs e2e Testing, [Status] Ready to Merge

#31254 Try to fix e2e artifacts
  .circleci/config.yml
  test/e2e/lib/video-recorder.js
  test/e2e/run.sh
Labels: [Status] Needs e2e Testing, [Status] Ready to Merge

#31287 Domains: Remove a/b test and make one primary button the default
  client/components/domains/domain-registration-suggestion/index.jsx
  client/lib/abtest/active-tests.js
Labels: Domains, [Status] Needs Review

#31198 Checklist: Add a site logo checklist task
  client/lib/abtest/active-tests.js
  client/my-sites/checklist/wpcom-checklist/component.jsx
  client/my-sites/checklist/wpcom-checklist/wpcom-task-list.js
Labels: Checklist, [Status] Needs Review, [Type] Feature progress

#31260 NUX Signup: Retire the skip button test.
  client/lib/abtest/active-tests.js
  client/signup/steps/site-information/index.jsx
  client/signup/steps/site-information/style.scss
  client/signup/steps/site-information/test/__snapshots__/index.js.snap
  client/signup/steps/site-information/test/index.js
Labels: NUX, [Status] Needs Review

#31295 Slideshow Block: Override Themes' Box Shadow
  client/gutenberg/extensions/slideshow/style.scss
Labels: Design, Slideshow, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Bug

#31288 Earn section: fix links from plans
  client/blocks/product-purchase-features-list/monetize-site.jsx
  client/my-sites/earn/controller.js
  client/my-sites/earn/index.js
  client/wordpress-com.js
Labels: WordAds, [Status] Needs Review, [Type] Bug

#31277 Layout: Do not request all sites on JPC authorize step
  client/layout/index.jsx
Labels: Framework, Jetpack, NUX, [Status] Ready to Merge, [Type] Defect

#31270 Layout: Add classname for Jetpack sites
  client/layout/index.jsx
Labels: Jetpack, NUX, [Pri] Normal, [Status] Needs Review

#31272 Login: Add a classname to Jetpack login page
  client/layout/logged-out.jsx
Labels: Jetpack, Login, NUX, [Pri] Normal, [Status] Needs Review

#31306 Layout: Add a classname for Jetpack new site page
  client/layout/index.jsx
  client/layout/logged-out.jsx
Labels: Jetpack, NUX, [Pri] Normal, [Status] Needs Review, [Type] Feature progress

#31168 Squarespace Importer: Verbiage Enhancements
  client/my-sites/importer/importer-squarespace.jsx
Labels: [Status] Needs Review

#31292 Checkout: update checkout terms text contrast
  client/my-sites/checkout/checkout/style.scss
Labels: Accessibility, Checkout, [Status] Needs Design Review, [Status] Needs Review

#31229 Moves lib/format-currency to it's own package
  client/blocks/domain-to-plan-nudge/index.jsx
  client/blocks/plan-thank-you-card/index.jsx
  client/blocks/post-share/nudges.jsx
  client/blocks/subscription-length-picker/index.jsx
  client/blocks/upgrade-nudge-expanded/index.jsx
  client/components/domains/use-your-domain-step/index.jsx
  client/components/forms/docs/example.jsx
  client/components/tinymce/plugins/simple-payments/dialog/form.jsx
  client/components/tinymce/plugins/simple-payments/dialog/list-item.jsx
  client/components/tinymce/plugins/simple-payments/dialog/membershipProductForm.jsx
  client/components/tinymce/plugins/wpcom-view/views/simple-payments/index.jsx
  client/extensions/woocommerce/app/order/order-activity-log/event.js
  client/extensions/woocommerce/app/order/order-details/line-item.js
  client/extensions/woocommerce/app/order/order-details/row-total.js
  client/extensions/woocommerce/app/order/order-details/table.js
  client/extensions/woocommerce/app/order/order-payment/dialog.js
  client/extensions/woocommerce/app/order/order-payment/index.js
  client/extensions/woocommerce/app/orders/orders-list.js
  client/extensions/woocommerce/app/promotions/fields/promotion-applies-to-field/applies-to-filtered-list.js
  client/extensions/woocommerce/app/settings/shipping/shipping-zone/shipping-methods/utils.js
  client/extensions/woocommerce/app/store-stats/utils.js
  client/extensions/woocommerce/components/price-input/index.js
  client/extensions/woocommerce/components/product-search/row.js
  client/extensions/woocommerce/lib/currency/index.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/price-summary.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/purchase-button.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/rates-step/index.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/rates-step/list.js
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-refund-modal.js
  client/gutenberg/extensions/simple-payments/edit.js
  client/lib/domains/index.js
  client/lib/format-currency/README.md
  client/lib/google-apps/index.js
  client/lib/simple-payments/utils.js
  client/me/billing-history/utils.jsx
  client/me/memberships/main.jsx
  client/me/memberships/subscription.jsx
  client/me/pending-payments/pending-list-item.jsx
  client/me/purchases/cancel-purchase/button.jsx
  client/me/purchases/cancel-purchase/index.jsx
  client/me/purchases/cancel-purchase/refund-information.jsx
  client/my-sites/checkout/cart/cart-item.jsx
  client/my-sites/checkout/cart/test/cart-item.js
  client/my-sites/checkout/concierge-session-nudge/index.jsx
  client/my-sites/feature-upsell/ads-upsell.jsx
  client/my-sites/feature-upsell/plugins-upsell.jsx
  client/my-sites/feature-upsell/store-upsell.jsx
  client/my-sites/feature-upsell/themes-upsell.jsx
  client/my-sites/plan-features/header.jsx
  client/my-sites/plan-features/index.jsx
  client/my-sites/plan-interval-discount/index.js
  client/my-sites/plan-price/index.jsx
  client/state/data-layer/wpcom/sites/simple-payments/index.js
  npm-shrinkwrap.json
  package.json
  packages/format-currency/.eslintrc.js
  packages/format-currency/package.json
  packages/format-currency/src/currencies.js
  packages/format-currency/src/index.js
  packages/format-currency/test/index.js
Labels: Build, Packages, [Status] Ready to Merge

#31314 Jetpack Connect: Migrate /jetpack/new style to Webpack
  assets/stylesheets/_components.scss
  client/jetpack-connect/jetpack-new-site/index.jsx
Labels: Framework, Jetpack, NUX, [Status] Needs Review, [Type] Janitorial

#31263 Fix/sharing button states
  client/my-sites/sharing/connections/service-action.jsx
Labels: FixTheFlows, Sharing, [Status] Ready to Merge

#31312 New description for Blogger.com export format
  client/my-sites/importer/importer-blogger.jsx
Labels: [Status] Needs Review

#31325 Change importer title color to text-subtle
  client/my-sites/importer/style.scss
Labels: Accessibility, Import, Site Importer, [Status] Needs Review

#31336 Fix fetching Circle Artifacts
  bin/get-circle-artifact-url.js
Labels: Build, [Status] Needs Review

#31102 Add pending route for add-support-session abtests
  client/my-sites/checkout/index.js
Labels: [Status] Needs Review

#30981 Checkout: Fix adding payment location to cart
  client/lib/cart/store/cart-synchronizer.js
  client/lib/cart/store/index.js
  client/lib/cart/store/test/fixtures/actions.js
  client/lib/cart/store/test/index.js
  client/my-sites/checkout/checkout/credit-card-selector.jsx
  client/my-sites/checkout/checkout/new-card-form.jsx
  client/state/ui/payment/reducer.js
Labels: Checkout, [Status] Ready to Merge

#31300 Don't prime calypso.live for external PR authors
  .circleci/config.yml
Labels: Testing, [Status] Ready to Merge

#31337 Bump CircleCI API fetch to 100
  bin/get-circle-artifact-url.js
Labels: [Status] Ready to Merge, i18n

#29966 Picasa: remove search and pagination limits
  client/my-sites/media-library/filter-bar.jsx
  client/my-sites/media-library/list.jsx
  client/my-sites/media-library/test/list.jsx
Labels: Media

#30365 Google Photos: update copy
  client/components/tinymce/plugins/insert-menu/menu-items.jsx
  client/my-sites/media-library/content.jsx
  client/my-sites/media-library/data-source.jsx
  client/my-sites/media-library/google-photos-icon.jsx
  client/my-sites/sharing/connections/service-description.jsx
  client/my-sites/sharing/connections/service-examples.jsx
  client/my-sites/sharing/connections/services/google-photos.js
  client/post-editor/editor-html-toolbar/index.jsx
  public/images/sharing/google-photos-connect.png
  public/images/sharing/google-photos-logo.svg
  public/images/sharing/google-photos.png
Labels: [Status] Needs Review

#31318 Jetpack Connect: Fix spacing and sizes on mobile site topic step
  client/jetpack-connect/style.scss
Labels: Jetpack, NUX, [Pri] High, [Status] Ready to Merge, [Type] Defect

#31346 Inline help: Use calypso localization
  client/blocks/inline-help/popover.jsx
Labels: Help, [Goal] Gutenberg, [Status] Ready to Merge, i18n

#31345 Packages: tree-select format-currency no sideEffects
  packages/format-currency/package.json
  packages/tree-select/package.json
Labels: Packages, [Status] Needs Review, [Type] Janitorial

#31348 Revert "Packages: tree-select format-currency no sideEffects"
  packages/format-currency/package.json
  packages/tree-select/package.json
Labels: Packages, [Status] Needs Review

#30958 Jetpack Connect: Hide the masterbar
  client/jetpack-connect/style.scss
  client/layout/index.jsx
  client/layout/logged-out.jsx
  client/login/wp-login/style.scss
  client/my-sites/checkout/checkout/style.scss
Labels: Jetpack, NUX, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#31316 Mailchimp: error protection
  client/my-sites/sharing/connections/mailchimp-settings.jsx
  client/state/mailchimp/settings/actions.js
Labels: [Status] Needs Review, [Type] Defect

#31281 Packages: add calypso-build package
  npm-shrinkwrap.json
  package.json
  packages/calypso-build/.eslintrc.js
  packages/calypso-build/package.json
  packages/calypso-build/webpack/sass.js
  webpack.config.js
Labels: Build, Packages, [Status] Ready to Merge

#31359 Gutenframe: Check origin against site admin URL
  client/gutenberg/editor/calypsoify-iframe.jsx
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#30323 DateRange: Use in activity log
  client/my-sites/activity/filterbar/date-range-selector.jsx
Labels: Activity Log, [Status] Needs Review

#31341 Add MultipleChoiceQuestion Component
  client/components/multiple-choice-question/README.md
  client/components/multiple-choice-question/answer-item.jsx
  client/components/multiple-choice-question/docs/example.jsx
  client/components/multiple-choice-question/index.jsx
  client/components/multiple-choice-question/style.scss
  client/components/multiple-choice-question/test/__snapshots__/index.js.snap
  client/components/multiple-choice-question/test/index.js
  client/devdocs/design/component-examples.js
  client/devdocs/design/index.jsx
Labels: Components, [Status] Ready to Merge

#31235 Fix: Domain Transfer/Mapping not working in the launch flow
  client/signup/config/steps-pure.js
  client/signup/steps/domains/index.jsx
  client/signup/steps/plans/index.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#31369 Build: Move FilterWarningsPlugin to calypso-build's sass config
  npm-shrinkwrap.json
  package.json
  packages/calypso-build/package.json
  packages/calypso-build/webpack/sass.js
  webpack.config.js
Labels: Build, Packages, [Status] Ready to Merge

#31363 Move postcss config to calypso-build package
  package.json
  packages/calypso-build/postcss.config.js
  packages/calypso-build/webpack/sass.js
Labels: Build, Jetpack, Packages, [Goal] Gutenberg, [Status] Needs Review

#31271 Email Forwarding: remove styles from the components.scss file
  assets/stylesheets/_components.scss
Labels: CSS Migration, [Status] Needs Review, [Type] Janitorial

#31303 Email Verification: migrate CSS styles to webpack, solve ESLint issues, add docs
  assets/stylesheets/_components.scss
  client/components/email-verification/README.md
  client/components/email-verification/email-verification-dialog/index.jsx
  client/components/email-verification/email-verification-gate/email-unverified-notice.jsx
  client/components/email-verification/email-verification-gate/index.jsx
  client/components/email-verification/email-verification-gate/style.scss
  client/components/email-verification/index.js
Labels: CSS Migration, [Status] Needs Review

#31374 Migrate easy blocks styles to imports
  assets/stylesheets/_components.scss
  client/blocks/daily-post-button/index.jsx
  client/blocks/disconnect-jetpack/index.jsx
  client/blocks/disconnect-jetpack/style.scss
  client/blocks/dismissible-card/index.jsx
  client/blocks/location-search/index.jsx
  client/blocks/plan-storage/index.jsx
  client/blocks/plan-thank-you-card/index.jsx
Labels: CSS Migration, [Status] Needs Review

#31375 Migrate easy component styles to imports
  assets/stylesheets/_components.scss
  client/components/button-group/index.jsx
  client/components/community-translator/index.jsx
  client/components/diff-viewer/index.jsx
  client/components/diff-viewer/style.scss
  client/components/domains/example-domain-browser/index.jsx
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/registrant-extra-info/index.jsx
  client/components/emojify/index.jsx
Labels: CSS Migration, [Status] Needs Review

#31268 Eliminate the setCurrentUserFlags action and lib/redux-helpers
  client/boot/common.js
  client/lib/redux-helpers/README.md
  client/lib/redux-helpers/index.js
  client/state/action-types.js
  client/state/current-user/actions.js
  client/state/current-user/reducer.js
  server/pages/index.js
Labels: Framework, [Status] Needs Review, [Type] Janitorial

#31386 Build: Disable jetpack-blocks build on postinstall
  package.json
Labels: Build, [Status] Needs Review, [Type] Task

#31307 Domains: Update button content of a domain added to cart to increase clarity
  client/components/domains/domain-registration-suggestion/index.jsx
Labels: Domains, [Status] Needs Review

#31283 Add New Site: Remove hover behavior on cards
  client/jetpack-connect/jetpack-new-site/style.scss
Labels: [Status] Needs Design Review, [Status] Needs Review

#31401 Fixes forwarding domain logic
  client/lib/domains/email-forwarding/index.js
Labels: [Status] Needs Review

#31154 Migrate stats component css
  assets/stylesheets/_components.scss
  client/my-sites/stats/all-time/index.jsx
  client/my-sites/stats/annual-site-stats/index.js
  client/my-sites/stats/geochart/index.jsx
  client/my-sites/stats/geochart/style.scss
  client/my-sites/stats/index.js
  client/my-sites/stats/most-popular/index.jsx
  client/my-sites/stats/post-performance/index.jsx
  client/my-sites/stats/post-trends/index.jsx
  client/my-sites/stats/stats-chart-tabs/index.jsx
  client/my-sites/stats/stats-comments/index.jsx
  client/my-sites/stats/stats-countries/index.jsx
  client/my-sites/stats/stats-countries/style.scss
  client/my-sites/stats/stats-date-picker/index.jsx
  client/my-sites/stats/stats-error/index.jsx
  client/my-sites/stats/stats-module/expand.jsx
  client/my-sites/stats/stats-module/index.jsx
  client/my-sites/stats/stats-module/placeholder.jsx
  client/my-sites/stats/stats-module/style.scss
  client/my-sites/stats/stats-page-placeholder/index.jsx
  client/my-sites/stats/stats-period-navigation/index.jsx
  client/my-sites/stats/stats-post-likes/index.jsx
  client/my-sites/stats/stats-post-summary/index.jsx
  client/my-sites/stats/stats-site-overview/index.jsx
  client/my-sites/stats/stats-site-overview/style.scss
  client/my-sites/stats/stats-tabs/index.jsx
  client/my-sites/stats/stats-views/index.jsx
Labels: CSS Migration, Stats, [Status] Needs Review

#31293 Domains: Remove domain privacy helper functions
  client/lib/cart-values/cart-items.js
  client/lib/cart-values/index.js
  client/lib/domains/constants.js
  client/lib/products-values/index.js
  client/my-sites/checkout/cart/cart-item.jsx
  client/my-sites/checkout/checkout/test/domain-details-form.js
  client/signup/steps/plans-atomic-store/test/index.jsx
  client/signup/steps/plans/test/index.jsx
  test/e2e/lib/components/secure-payment-component.js
Labels: Domains, [Status] Ready to Merge

#31276 Domains: Cleanup hasPrivacyProtection variable
  client/lib/purchases/assembler.js
  client/lib/purchases/index.js
  client/my-sites/domains/domain-management/transfer/transfer-out/locked.jsx
  client/my-sites/domains/domain-management/transfer/transfer-out/unlocked.jsx
  client/state/purchases/test/selectors.js
  client/state/sites/domains/README.md
  client/state/sites/domains/assembler.js
  client/state/sites/domains/schema.js
  client/state/sites/domains/test/fixture/index.js
Labels: Domains

#31275 Domains: Privacy cleanup, remove unused var
  client/state/sites/domains/README.md
  client/state/sites/domains/assembler.js
  client/state/sites/domains/reducer.js
  client/state/sites/domains/schema.js
  client/state/sites/domains/test/fixture/index.js
  client/state/sites/domains/test/reducer.js
Labels: Domains

#31285 Checkout: Increase size and contrast of total price
  client/my-sites/checkout/cart/style.scss
Labels: Checkout, [Status] Needs Review

#31391 Move calypso extensions config to its own file
  config/webpack/extensions.js
  webpack.config.js
Labels: Build, [Status] Ready to Merge

#31383 Build: Move PostCSS dependencies to calypso-build package
  npm-shrinkwrap.json
  packages/calypso-build/package.json
Labels: Build, Packages, [Status] Ready to Merge

#31411 Color Schemes: Sakura, Use variation of pink rather than gray for profile gravatar username
  packages/calypso-color-schemes/src/shared/_color-schemes.scss
Labels: Color Schemes, [Status] Needs Review

#31404 Move the gauge styles to be built by webpack
  assets/stylesheets/_components.scss
  client/components/gauge/index.jsx
Labels: CSS Migration, [Status] Needs Review

#31095 Copy Post: Allow Copy Post on Atomic sites.
  client/my-sites/post-type-list/post-actions-ellipsis-menu/duplicate.jsx
  client/state/ui/editor/selectors.js
Labels: Editor, [Status] Needs Review, [Type] Task

#31406 Move styles to the correct file for playground
  client/devdocs/design/index.jsx
  client/devdocs/design/playground.jsx
  client/devdocs/design/playground.scss
Labels: CSS Migration, [Status] Needs Review

#30972 Block Editor Media Modal: Use new custom MessageChannel for selection
  client/gutenberg/editor/calypsoify-iframe.jsx
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#31408 Fix failing import test
  test/e2e/lib/pages/settings/importer-page.js
Labels: [Status] Needs e2e Testing, [Status] Ready to Merge

#31393 Signup: Adding a help tip above the site preview
  client/signup/site-mockup/index.jsx
  client/signup/site-mockup/style.scss
Labels: Signup

#31380 Settings: checking if `site` is truthy to avoid js error on site deletion
  client/lib/ads/utils.js
Labels: Site Settings, [Type] Bug, [Type] Janitorial

#31377 <StoreConnection> should only compare changes that matters
  client/components/data/store-connection/index.jsx
Labels: [Status] Needs Review, [Type] Bug

#31376 Notification panel doesn't have to fetch its own translations file.
  client/notifications/src/panel/templates/index.jsx
Labels: [Status] Needs Review, i18n

#31349 Packages: format-currency no sideEffects
  packages/format-currency/package.json
Labels: Packages, [Status] Ready to Merge, [Type] Task

#31355 Settings: reorder Security tab
  client/my-sites/site-settings/navigation.jsx
Labels: Jetpack, Site Settings, [Status] Needs Design Review, [Status] Ready to Merge

#31403 Jetpack Onboarding: update intro messaging
  client/jetpack-connect/site-type.js
Labels: Jetpack, [Status] Ready to Merge

#31373 Move webpack jsx babel loader to calypso-builder
  npm-shrinkwrap.json
  package.json
  packages/calypso-build/package.json
  packages/calypso-build/webpack/transpile.js
  webpack.config.js
  webpack.config.node.js
Labels: Build, Jetpack, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Task

#31427 Lint: Add react hooks lint rules
  client/components/data/query-reader-tag/index.jsx
  npm-shrinkwrap.json
  packages/eslint-config-wpcalypso/package.json
  packages/eslint-config-wpcalypso/react/index.js
Labels: Build, Framework

#31156 Improve Email Forwarding Page
  client/my-sites/email/email-forwarding/email-forwarding-add-new.jsx
  client/my-sites/email/email-forwarding/email-forwarding-custom-mx-list.jsx
  client/my-sites/email/email-forwarding/email-forwarding-details.jsx
  client/my-sites/email/email-forwarding/email-forwarding-gsuite-details-another-provider.jsx
  client/my-sites/email/email-forwarding/email-forwarding-gsuite-details.jsx
  client/my-sites/email/email-forwarding/email-forwarding-placeholder.jsx
  client/my-sites/email/email-forwarding/index.jsx
  client/my-sites/email/email-forwarding/style.scss
  client/state/data-layer/wpcom/email-forwarding/add/index.js
  client/state/data-layer/wpcom/email-forwarding/get/index.js
  client/state/data-layer/wpcom/email-forwarding/get/test/index.js
  client/state/data-layer/wpcom/email-forwarding/index.js
  client/state/data-layer/wpcom/email-forwarding/remove/index.js
  client/state/data-layer/wpcom/email-forwarding/resend-email-verification/index.js
  client/state/email-forwarding/actions.js
  client/state/email-forwarding/reducer.js
  client/state/email-forwarding/schema.js
  client/state/email-forwarding/test/reducer.js
  client/state/selectors/get-email-forwarding-mx-servers.js
  client/state/selectors/get-email-forwarding-type.js
Labels: Email, [Status] Needs Copy Review, [Status] Ready to Merge

#31313 State: Introduce site user type data layer and actions
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/user-type/index.js
  client/state/jetpack-connect/actions.js
Labels: Jetpack, NUX, State, [Status] Ready to Merge

#31320 Add a component style categorizer
  assets/stylesheets/_components.scss
  bin/categorize-component-styles.js
Labels: CSS Migration, [Status] Needs Review

#31425 Classic Block: Remove
  client/gutenberg/extensions/classic-block/edit.jsx
  client/gutenberg/extensions/classic-block/editor.js
  client/gutenberg/extensions/classic-block/editor.scss
Labels: [Goal] Gutenberg, [Status] Ready to Merge

#31428 Importers: restore correct width of importer progress bar
  client/my-sites/importer/style.scss
Labels: Import, [Status] Ready to Merge, [Type] Bug

#31422 Jetpack blocks: Remove Gutenlypso code
  .circleci/config.yml
  npm-shrinkwrap.json
  package.json
  packages/jetpack-blocks/src/preset/editor.js
  packages/jetpack-blocks/src/utils/refresh-registrations.js
Labels: Jetpack, Packages, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Janitorial

#31434 Update Source params
  client/me/help/main.jsx
  client/my-sites/themes/theme-showcase.jsx
Labels: [Status] Needs Review

#31438 Contact Info: Fix lint error
  packages/jetpack-blocks/src/blocks/contact-info/edit.js
Labels: Contact Info, Jetpack, [Goal] Gutenberg, [Pri] High, [Status] Ready to Merge
