Repository Automattic/wp-calypso, pull requests merged in 2019-07, with the labels that each got.

#34372 Signup: load vertical data if necessary
  client/components/data/query-verticals/index.jsx
  client/components/data/query-verticals/test/index.js
  client/signup/site-mockup/index.jsx
  client/signup/steps/site-title/index.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#34157 Change checklist button copy
  client/components/checklist/task.js
Labels: Frontend, [Status] String Freeze

#34274 Update post by email input label to match Jetpack
  client/my-sites/site-settings/publishing-tools/index.jsx
Labels: Microcopy, [Status] Needs Review, [Type] Enhancement

#34271 Update subscription setting copy
  client/my-sites/site-settings/subscriptions.jsx
Labels: Microcopy, [Status] Ready to Merge, [Type] Enhancement

#34270 Related posts block documentation link
  client/my-sites/site-settings/related-posts/index.jsx
Labels: Microcopy, [Status] Ready to Merge, [Type] Enhancement

#34267 Update comment form copy to match Jetpack
  client/my-sites/site-settings/comment-display-settings/index.jsx
Labels: Microcopy, [Status] Ready to Merge, [Type] Enhancement

#34265 Update copy on downtime monitoring setting
  client/my-sites/site-settings/form-jetpack-monitor.jsx
Labels: Microcopy, [Status] Ready to Merge, [Type] Enhancement

#34264 Update copy on masterbar / .com toolbar setting
  client/my-sites/site-settings/form-writing.jsx
  client/my-sites/site-settings/masterbar.jsx
Labels: Microcopy, [Status] Ready to Merge, [Type] Enhancement

#34261 Update shortlinks setting copy to match Jetpack
  client/my-sites/site-settings/shortlinks.jsx
Labels: Microcopy, [Status] Ready to Merge, [Type] Enhancement

#34248 Updating Copy on security header from Spam Filtering "Jetpack Anti-s…
  client/my-sites/site-settings/form-security.jsx
Labels: Microcopy, [Status] Ready to Merge, [Type] Enhancement

#34251 Changing site verification toggle copy to match copy sprint
  client/my-sites/site-settings/seo-settings/site-verification.jsx
Labels: Microcopy, [Status] Ready to Merge, [Type] Enhancement

#34249 Tool tip update- Related Posts Copy Sprint sync
  client/my-sites/site-settings/related-posts/index.jsx
Labels: Microcopy, [Status] Ready to Merge, [Type] Enhancement

#34308 Add types to icon components.
  client/components/gridicon/gridicons.d.ts
  client/components/gridicon/index.tsx
  client/components/gsuite/gsuite-new-user-list/index.tsx
  client/components/gsuite/gsuite-new-user-list/new-user.tsx
  client/components/material-icon/index.tsx
  client/components/material-icon/material-design-icons.d.ts
  client/components/social-logo/index.tsx
  client/components/social-logo/social-logos.d.ts
  client/layout/guided-tours/tours/jetpack-plugin-updates-tour/index.tsx
Labels: [Status] Needs Review, [Type] Enhancement

#34266 Checkout: add popover info for the pan number field
  client/lib/cart-values/index.js
  client/my-sites/checkout/checkout/country-specific-payment-fields.jsx
Labels: Checkout

#34278 Updating Upgrade nudge copy on SEO/Google Analytics to bring into sync w wpadmin
  client/my-sites/site-settings/form-analytics.jsx
Labels: Microcopy, [Status] Needs Review, [Type] Enhancement

#34280 Updating SEO settings upgrade nudge to align with Copy Sprint work
  client/my-sites/site-settings/seo-settings/form.jsx
Labels: Microcopy, [Status] Needs Review, [Type] Enhancement

#34373 Fix simple scss lint warnings
  client/components/happychat/title.scss
  client/components/language-picker/modal.scss
Labels: [Status] Needs Review, [Type] Janitorial

#33975 Fix WooCommerce logo colors.
  client/extensions/woocommerce/components/woocommerce-logo/index.js
Labels: [Status] Needs Review

#34374 Remove unused `store-woo` signup flow
  client/signup/config/flows-pure.js
Labels: Signup, [Status] Needs Review

#34356 Update canResume to only match against the current flowName
  client/signup/test/fixtures/flows.js
  client/signup/test/utils.js
  client/signup/utils.js
Labels: [Status] Needs Review

#34371 Signup: Site preview param changes
  client/components/signup-site-preview/iframe.jsx
  client/components/signup-site-preview/utils.js
  client/signup/site-mockup/index.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#34392 Signup: prevent back button from navigating iframe history
  client/components/signup-site-preview/iframe.jsx
Labels: Signup, [Status] Needs Review, [Type] Janitorial

#34348 State: Reorganize state utils
  client/state/utils.js
  client/state/utils/caching-action-creator-factory.js
  client/state/utils/create-reducer.js
  client/state/utils/extend-action.js
  client/state/utils/get-initial-state.js
  client/state/utils/index.ts
  client/state/utils/keyed-reducer.js
  client/state/utils/reducer-utils.js
  client/state/utils/schema-utils.js
  client/state/utils/with-enhancers.js
  client/state/utils/with-storage-key.js
  client/state/utils/without-persistence.js
Labels: Framework, State, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Task

#34194 Stats: Ensure "View Post" Icon Appears Exclusively on Hover
  client/my-sites/stats/stats-list/style.scss
Labels: OSS Citizen, Stats, [Status] Needs Review

#34376 Rewind credentials: Hint to LastPass not to autocomplete
  client/components/rewind-credentials-form/index.jsx
Labels: Rewind, [Status] Ready to Merge

#34388 Whitelist Facebook coupon code.
  client/lib/upgrades/actions/cart.js
  client/my-sites/checkout/checkout/checkout-container.jsx
  client/my-sites/checkout/controller.jsx
Labels: [Status] Needs Review

#34317 Checkout: Use black text instead of white on yellow
  client/components/purchase-detail/style.scss
Labels: Accessibility, Checkout, Color Schemes, FixTheFlows, Post Checkout, [Status] Ready to Merge

#34319 App Promo: Update a couple of the desktop app promo messages
  client/blocks/app-promo/index.jsx
Labels: FixTheFlows, [Status] Ready to Merge

#34285 Sharing: Differentiate between the Edit and More button clicks in Tracks
  client/my-sites/marketing/buttons/preview.jsx
Labels: Sharing, [Status] Ready to Merge

#34410 Copy refinements
  client/my-sites/site-settings/form-security.jsx
  client/my-sites/site-settings/seo-settings/form.jsx
Labels: Microcopy, [Status] Ready to Merge

#34411 Revert "Skip the transfer page if the user has already selected a domain (#32803)"
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/use-your-domain-step/index.jsx
  client/my-sites/domains/controller.jsx
  client/my-sites/domains/index.js
  client/my-sites/domains/transfer-domain/index.jsx
Labels: Domains, [Status] Ready to Merge

#32805 Add checkbox to indicate external user
  client/components/info-popover/index.jsx
  client/components/support-info/index.jsx
  client/lib/invites/actions.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/people/contractor-select/index.tsx
  client/my-sites/people/contractor-select/style.scss
  client/my-sites/people/delete-user/index.jsx
  client/my-sites/people/edit-team-member-form/edit-user-form.jsx
  client/my-sites/people/edit-team-member-form/index.jsx
  client/my-sites/people/invite-people/index.jsx
  client/my-sites/people/people-list-item/index.jsx
  client/my-sites/people/people-profile/index.jsx
  client/my-sites/people/people-profile/style.scss
  client/state/data-getters/index.js
Labels: [Status] Needs Review

#33976 Move action on privacy page to the bottom of section.
  client/me/privacy/main.jsx
Labels: FixTheFlows, [Status] Ready to Merge, [Type] Enhancement

#34416 Removes the Upwork AB test on the /help page
  client/lib/abtest/active-tests.js
  client/me/help/main.jsx
Labels: [Status] Needs Review

#34417 Removes the Upwork AB test on the help popover
  client/blocks/inline-help/popover.jsx
  client/blocks/inline-help/style.scss
  client/lib/abtest/active-tests.js
Labels: [Status] Needs Review

#34407 Enable file download stats panel on wpcalypso
  config/test.json
  config/wpcalypso.json
Labels: Stats, [Status] Needs Review

#34138 Ensure lodash-es usage through a WebPack plugin.
  babel.config.js
  babel.dependencies.config.js
  npm-shrinkwrap.json
  package.json
  packages/webpack-extensive-lodash-replacement-plugin/README.md
  packages/webpack-extensive-lodash-replacement-plugin/index.js
  packages/webpack-extensive-lodash-replacement-plugin/package.json
  webpack.config.js
Labels: Build, [Status] Needs Review, [Status] Needs e2e Testing

#33755 Use fetch for maybeRefreshCountryCodeCookieGdpr.
  client/lib/analytics/ad-tracking.js
Labels: Analytics, Performance, [Status] Needs Review

#34380 Add additional WooCommerce onboarding styling to connection flow
  client/blocks/login/login-form.jsx
  client/blocks/login/style.scss
  client/blocks/signup-form/index.jsx
  client/blocks/signup-form/style.scss
  client/extensions/woocommerce/components/text-control/index.js
  client/extensions/woocommerce/components/text-control/style.scss
  client/jetpack-connect/colors.scss
  client/jetpack-connect/style.scss
  client/login/wp-login/style.scss
  npm-shrinkwrap.json
  package.json
Labels: Login, Muriel, Signup, Store, [Status] Needs Review

#34326 FSE: Improve site option block errors
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-description/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-title/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/useSiteOptions.js
Labels: [Goal] Full Site Editing, [Pri] Normal, [Type] Enhancement

#34414 Add WooCommerce onboarding connection track events and stop auto authorization for the new onboarding flow
  client/blocks/login/login-form.jsx
  client/blocks/signup-form/index.jsx
  client/jetpack-connect/authorize.js
  client/jetpack-connect/style.scss
  client/jetpack-connect/test/__snapshots__/authorize.js.snap
  client/jetpack-connect/test/authorize.js
  client/layout/index.jsx
  client/lib/analytics/index.js
Labels: Store, [Status] Ready to Merge

#34446 Onboarding Checklist: Enable flag in horizon
  config/horizon.json
Labels: [Status] Needs Review

#34445 Prevent empty first and last names when creating G Suite users
  client/lib/gsuite/new-users.ts
Labels: G Suite, [Status] Needs Review

#34395 Remove unused delta signup flows
  client/signup/config/flows-pure.js
  client/signup/config/steps-pure.js
Labels: Signup

#34396 Fix/fse post content styles
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/navigation-menu/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/navigation-menu/index.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/navigation-menu/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-description/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-title/style.scss
Labels: [Goal] Full Site Editing, [Status] Needs Review

#34435 Update signup canResume's dependencies to only match steps against the same flowName
  client/signup/test/fixtures/flows.js
  client/signup/test/utils.js
  client/signup/utils.js
Labels: Frontend, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#34401 Jetpack E2E: remove Jumpstart
  test/e2e/lib/flows/jetpack-connect-flow.js
  test/e2e/lib/pages/wp-admin/wp-admin-jetpack-page.js
  test/e2e/scripts/jetpack/wp-jetpack-activate.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-connect-spec.js
Labels: Jetpack, [Status] Needs Jetpack e2e Testing, [Status] Ready to Merge

#33874 Guided tours: remove un-used Jetpack basic tour
  client/layout/guided-tours/all-tours.js
  client/layout/guided-tours/config.js
  client/layout/guided-tours/tours/jetpack-basic-tour/index.js
  client/layout/guided-tours/tours/jetpack-basic-tour/meta.js
  client/my-sites/plugins/plugin-meta/test/index.js
Labels: Guided Tours, Jetpack, [Status] Ready to Merge, [Type] Janitorial

#33705 People: Fix team list and follower list freezing while scrolling
  client/components/infinite-list/index.jsx
Labels: FixTheFlows, People Management, [Status] Ready to Merge, [Type] Bug

#34433 Fix/concierge reschedule
  client/me/concierge/book/confirmation-step.js
  client/me/concierge/controller.js
  client/me/concierge/main.js
  client/me/concierge/reschedule/confirmation-step.js
Labels: Support, [Status] Needs Review

#34420 Added skip button to WP.com checklist
  client/components/checklist/style.scss
  client/components/checklist/task.js
  client/my-sites/checklist/wpcom-checklist/component.jsx
Labels: [Status] Needs Jetpack e2e Testing, [Status] Needs e2e Testing

#34418 Billing History: Let long text overflow with an ellipsis on medium-sized screens
  client/layout/guided-tours/button-labels.jsx
  client/me/billing-history/style.scss
Labels: Billing, FixTheFlows, [Status] Ready to Merge

#34457 Reorder styles
  client/lib/signup/site-styles.js
Labels: [Status] Needs e2e Testing

#34428 Expand affiliate/coupon tracking coverage.
  client/jetpack-connect/authorize.js
  client/lib/analytics/index.js
  client/lib/analytics/utils.js
  client/lib/plans/index.js
  client/lib/upgrades/actions/cart.js
  client/lib/upgrades/actions/index.js
  client/signup/controller.js
  client/signup/main.jsx
  client/state/data-layer/third-party/refer/index.js
  client/state/refer/actions.js
Labels: [Status] Ready to Merge

#34409 Inline Help: Fix dot indicator color to match when checklist has a ne…
  client/my-sites/checklist/wpcom-checklist/checklist-navigation/style.scss
Labels: FixTheFlows, [Status] Ready to Merge

#34462 Force GdprBanner not to render in SSR.
  client/blocks/gdpr-banner/index.jsx
Labels: Login, Performance, [Status] Ready to Merge, [Type] Bug

#33707 Color Schemes: Add Ocean color scheme
  client/blocks/color-scheme-picker/constants.js
  client/blocks/color-scheme-picker/style.scss
  config/development.json
  config/wpcalypso.json
  packages/calypso-color-schemes/src/shared/_color-schemes.scss
  static/images/color-schemes/color-scheme-thumbnail-ocean.svg
Labels: Color Schemes, FixTheFlows

#34444 Signup: Show "Purchase required" for online store site type
  client/lib/signup/site-type.js
  client/signup/steps/site-type/form.jsx
Labels: Signup, [Status] Needs Review

#32794 Color Schemes: Add new color scheme, Sunset
  client/blocks/color-scheme-picker/constants.js
  client/blocks/color-scheme-picker/style.scss
  config/development.json
  config/wpcalypso.json
  packages/calypso-color-schemes/src/shared/_color-schemes.scss
  public/images/color-schemes/color-scheme-thumbnail-sunset.svg
  static/images/color-schemes/color-scheme-thumbnail-sunset.svg
Labels: Color Schemes, FixTheFlows

#34442 Marketing: Add tracks event to NPS survey dialog.
  client/blocks/nps-survey/index.jsx
  client/blocks/nps-survey/test/index.jsx
Labels: Marketing, [Status] Needs Review

#33472 Color Schemes: Add Midnight color scheme
  client/blocks/color-scheme-picker/constants.js
  client/blocks/color-scheme-picker/style.scss
  config/development.json
  config/wpcalypso.json
  packages/calypso-color-schemes/src/shared/_color-schemes.scss
  static/images/color-schemes/color-scheme-thumbnail-midnight.svg
Labels: Color Schemes, FixTheFlows

#33136 Color Schemes: Add a high-contrast color scheme
  client/blocks/color-scheme-picker/constants.js
  client/blocks/color-scheme-picker/style.scss
  config/development.json
  config/wpcalypso.json
  packages/calypso-color-schemes/src/shared/_color-schemes.scss
  public/images/color-schemes/color-scheme-thumbnail-contrast.svg
  static/images/color-schemes/color-scheme-thumbnail-contrast.svg
Labels: Accessibility, Color Schemes, FixTheFlows

#32870 Updated Calypso Jetpack Mobile Settings to match Jetpack Mobile Settings
  client/my-sites/site-settings/theme-enhancements.jsx
Labels: Jetpack, Site Settings, [Status] Needs Design Review

#34136 DevDocs: Add Margin to Small Screens
  client/devdocs/style.scss
Labels: DevDocs, OSS Citizen, [Status] Needs Review

#34468 Revert "People: Fix team list and follower list freezing while scrolling (#33705)"
  client/components/infinite-list/index.jsx
Labels: Media, [Type] Bug

#34470 Signup: Replacing deleted business flow name with blog flow name
  client/signup/steps/domains/index.jsx
Labels: Signup, [Status] Needs Review, [Type] Janitorial

#32850 Signup: Alias anonUserId to WPCOM user id when user is created
  client/lib/analytics/index.js
  client/lib/signup/step-actions.js
Labels: Analytics, Signup, [Type] Janitorial

#34471 Revert: Signup: Alias anonUserId to WPCOM user id when user is created
  client/lib/analytics/index.js
  client/lib/signup/step-actions.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#34440 Checkout: Accept redirect_to qarg, redirect there post-purchase
  client/my-sites/checkout/checkout/checkout-container.jsx
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/controller.jsx
Labels: Checkout, Design, Plans, Post Checkout, [Status] Needs Review

#34473 Account security: don't pre-fill new password -field
  client/me/security/main.jsx
Labels: Me, Security, [Status] Ready to Merge

#34314 Update/add license type to gsuite display on email page
  client/my-sites/email/email-management/gsuite-user-item/style.scss
  client/my-sites/email/email-management/gsuite-users-card/index.jsx
Labels: G Suite, [Status] Ready to Merge

#34408 File Download stats: adapt to the correct API response format
  client/my-sites/stats/site.jsx
  client/state/stats/lists/test/utils.js
  client/state/stats/lists/utils.js
Labels: Stats, [Status] Needs Review

#34478 Site Indicator: Align scary button to the baseline
  client/my-sites/site-indicator/style.scss
Labels: FixTheFlows

#34484 Update/secret keys
  test/e2e/config/encrypted.enc
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
Labels: [Status] In Progress, [Status] Needs e2e Testing

#34494 Mobile Back to Sidebar: CSS Migration
  assets/stylesheets/_components.scss
  client/components/mobile-back-to-sidebar/index.jsx
Labels: CSS Migration, OSS Citizen, [Status] Needs Review

#34510 Use new Key Systems API name in contact verification landing page
  client/landing/domains/registrant-verification/index.jsx
Labels: Domains, [Status] Needs Review

#33996 Update/remove duplicate post checkout redirect logic
  client/my-sites/checkout/checkout/checkout-container.jsx
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/concierge-session-nudge/concierge-quickstart-session/index.jsx
  client/my-sites/checkout/concierge-session-nudge/concierge-quickstart-session/style.scss
  client/my-sites/checkout/concierge-session-nudge/concierge-support-session/index.jsx
  client/my-sites/checkout/concierge-session-nudge/concierge-support-session/style.scss
  client/my-sites/checkout/concierge-session-nudge/index.jsx
  client/my-sites/checkout/concierge-session-nudge/style.scss
  client/my-sites/checkout/controller.jsx
  client/my-sites/checkout/index.js
  client/state/selectors/is-eligible-for-checkout-to-checklist.js
Labels: Post Checkout, [Status] Needs Review, [Status] Needs e2e Testing

#34146 Full Site Editing: render child blocks using BlockEdit
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/edit.js
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Type] Bug

#34532 Removes the block-editor dependency reintroduced on #34146.
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/edit.js
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing, [Status] Ready to Merge, [Type] Janitorial

#34320 Stop treating subscriptions with expiring credit cards as if they have auto-renew turned off
  client/lib/purchases/index.js
  client/me/purchases/manage-purchase/purchase-meta.jsx
Labels: Purchases, [Status] Ready to Merge

#34535 Update support doc refund URL to go to the correct place
  client/lib/url/support.js
Labels: [Status] Needs Review

#34536 Update domain refund window mentioned in Calypso to 96 hours
  client/lib/purchases/index.js
  client/my-sites/checkout/checkout/domain-registration-refund-policy.jsx
  client/my-sites/feature-upsell/refund-asterisk.jsx
Labels: [Status] Needs Review

#34467 Fix Reader Recommended
  client/blocks/reader-list-item/connected.jsx
  client/blocks/reader-list-item/docs/example.jsx
  client/blocks/reader-list-item/index.jsx
  client/blocks/reader-list-item/placeholder.jsx
  client/blocks/reader-list-item/style.scss
  client/blocks/reader-recommended-sites/index.jsx
  client/blocks/reader-recommended-sites/style.scss
Labels: FixTheFlows, Reader, [Status] Ready to Merge

#34480 Color Schemes: Remove duplicated Thumbnails from public/
  public/images/color-schemes/color-scheme-thumbnail-contrast.svg
  public/images/color-schemes/color-scheme-thumbnail-sunset.svg
Labels: Color Schemes, FixTheFlows, [Status] Needs Review

#34425 FSE: Append new blocks inside post content block
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/post-content/edit.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/block-inserter/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/block-inserter/post-content-block-appender.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/template-validity-override/index.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/index.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
Labels: [Goal] Full Site Editing, [Status] Needs Review

#33948 Remove localforage from Calypso.
  CREDITS.md
  client/lib/browser-storage/README.md
  client/lib/browser-storage/bypass.ts
  client/lib/browser-storage/index.ts
  client/lib/localforage/README.md
  client/lib/localforage/index.js
  client/lib/localforage/localforage-bypass.js
  client/lib/localforage/test/localforage-bypass.js
  client/lib/signup/test/step-actions.js
  client/lib/user-settings/test/index.js
  client/lib/user/support-user-interop.js
  client/lib/user/user.js
  client/my-sites/people/people-invite-details/test/index.jsx
  client/state/initial-state.js
  client/state/jetpack-connect/test/actions.js
  client/state/test/initial-state.js
  npm-shrinkwrap.json
  package.json
  webpack.config.js
Labels: Framework, Performance, State, Support, [Status] Needs Review, [Status] Needs e2e Testing

#34286 Hooks: Add pre-commit hook for PHPCS.
  apps/phpcs.xml
  bin/pre-commit-hook.js
Labels: [Goal] Full Site Editing, [Status] Ready to Merge, [Type] Task

#34451 Show error message from back end, if one is returned.
  client/my-sites/domains/domain-management/components/email-verification/index.jsx
Labels: Domains, [Status] Needs Review

#34519 Add/checklist mobile nudge
  client/blocks/get-apps/README.md
  client/blocks/get-apps/apps-badge.jsx
  client/blocks/get-apps/desktop-download-card.jsx
  client/blocks/get-apps/illustration.jsx
  client/blocks/get-apps/index.jsx
  client/blocks/get-apps/mobile-download-card.jsx
  client/blocks/get-apps/style.scss
  client/blocks/get-apps/test/__snapshots__/apps-badge.js.snap
  client/blocks/get-apps/test/apps-badge.js
  client/me/get-apps/index.jsx
  client/my-sites/checklist/main.jsx
  client/my-sites/checklist/style.scss
Labels: Checklist, Me, [Status] Ready to Merge

#34254 Add Error for Duplicate New G Suite Users
  client/components/gsuite/gsuite-new-user-list/index.tsx
  client/lib/gsuite/new-users.ts
Labels: G Suite, [Status] Ready to Merge

#34515 Import: Show permissions requirement for non-admin users
  client/my-sites/importer/section-import.jsx
Labels: FixTheFlows, Import, Site Importer, [Status] Needs Review

#34454 Jetpack Start: Cobranding for EuroDNS
  client/components/jetpack-header/docs/example.js
  client/components/jetpack-header/eurodns.jsx
  client/components/jetpack-header/index.jsx
  client/jetpack-connect/auth-form-header.jsx
  client/state/selectors/get-partner-slug-from-query.js
Labels: [Status] Needs Review

#34491 Add helper text for external links
  client/components/external-link/index.jsx
  client/my-sites/email/email-management/gsuite-user-item/test/__snapshots__/index.js.snap
Labels: FixTheFlows, Reader, [Status] Ready to Merge

#34545 Classic Editor: remove Jetpack version check when doing post autosave
  client/state/ui/editor/actions.js
Labels: Editor, [Status] Ready to Merge, [Type] Janitorial

#34495 Exporter: Add DocumentHead Title & SidebarNavigation
  client/my-sites/exporter/section-export.jsx
Labels: Export, OSS Citizen, [Status] Ready to Merge

#34496 Importer: Add Mobile Sidebar Navigation
  client/my-sites/importer/section-import.jsx
Labels: Import, OSS Citizen, [Status] Ready to Merge

#34581 Import: Removes duplicate component import
  client/my-sites/importer/section-import.jsx
Labels: [Status] Needs Review

#34564 Fix regression that prevented "Add Credit Card" from appearing in place of "Renew Now" when auto-renew is off and the subscription doesn't expire soon
  client/me/purchases/manage-purchase/notices.jsx
Labels: Purchases, [Status] Ready to Merge

#34489 Editor: Remove Google Photo Library and Free photo library menu item if user is Contributor
  client/components/tinymce/plugins/insert-menu/menu-items.jsx
  client/components/tinymce/plugins/insert-menu/plugin.jsx
Labels: Editor, FixTheFlows, Media, [Status] Needs Review, [Type] Bug

#34585 FSE: Add transparent background color to site title and description blocks
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-description/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/site-title/style.scss
Labels: [Goal] Full Site Editing, [Status] Needs Review

#34393 Refactor: move <Dialog> into <CancelPurchaseForm>
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/components/marketing-survey/cancel-purchase-form/style.scss
  client/me/purchases/cancel-purchase/button.jsx
  client/me/purchases/cancel-purchase/style.scss
  client/me/purchases/remove-purchase/index.jsx
  client/me/purchases/remove-purchase/style.scss
Labels: [Status] Needs Review

#34547 Classic Editor: fix autosave throttling
  client/post-editor/post-editor.jsx
Labels: Editor, [Status] Ready to Merge

#34459 Refactor: Make the state of <CancelPurchaseForm> self-contained.
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/lib/upgrades/actions/purchases.js
  client/me/purchases/cancel-purchase/button.jsx
  client/me/purchases/remove-purchase/index.jsx
Labels: [Status] Needs Review

#34477 Refactor: Eliminate the duplicated Tracks events among `<CancelPurchaseButton>` and `<RemovePurchase>`
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/me/purchases/cancel-purchase/button.jsx
  client/me/purchases/remove-purchase/index.jsx
Labels: [Status] Needs Review

#34539 Renaming concierge session class names to generic names
  client/my-sites/checkout/controller.jsx
  client/my-sites/checkout/index.js
  client/my-sites/checkout/upsell-nudge/concierge-quickstart-session/index.jsx
  client/my-sites/checkout/upsell-nudge/concierge-quickstart-session/style.scss
  client/my-sites/checkout/upsell-nudge/concierge-support-session/index.jsx
  client/my-sites/checkout/upsell-nudge/concierge-support-session/style.scss
  client/my-sites/checkout/upsell-nudge/index.jsx
  client/my-sites/checkout/upsell-nudge/style.scss
Labels: Post Checkout, [Status] Needs Review, [Status] Needs e2e Testing

#34492 Auto-renewal Toggle: Add the precancellation survey on toggling off
  client/components/marketing-survey/cancel-purchase-form/constants.js
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/me/purchases/cancel-purchase/button.jsx
  client/me/purchases/manage-purchase/auto-renew-toggle/auto-renew-disabling-dialog/index.jsx
  client/me/purchases/remove-purchase/index.jsx
Labels: [Status] Needs Review

#34573 Fix InfoPopover event propagation
  client/components/info-popover/index.jsx
Labels: Domains, [Status] Ready to Merge

#34483 Enable implicit submissions of G Suite `Add New User` using the Return key
  client/components/gsuite/docs/new-user-list.tsx
  client/components/gsuite/gsuite-new-user-list/index.tsx
  client/components/gsuite/gsuite-new-user-list/new-user.tsx
  client/components/upgrades/gsuite/gsuite-upsell-card/index.jsx
  client/my-sites/email/gsuite-add-users/index.jsx
Labels: G Suite, [Status] Ready to Merge

#34592 Enable the auto-renewal toggle on wpcalypso and horizon.
  config/horizon.json
  config/wpcalypso.json
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#34568 FSE: Update the default content for the full site editor plugin header
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/utils/class-a8c-wp-template-data-inserter.php
Labels: [Goal] Full Site Editing, [Status] Ready to Merge

#34589 Community Translator v2: Update Icons
  client/components/community-translator/style.scss
  client/components/community-translator/translatable.jsx
Labels: Translator, [Status] Needs Review

#34543 NPS: Improve tracks event
  client/blocks/nps-survey/index.jsx
  client/blocks/nps-survey/test/index.jsx
Labels: Marketing, [Status] Needs Review

#34485 Fix spacing for skip option
  client/components/domains/domain-skip-suggestion/index.jsx
  client/components/domains/domain-skip-suggestion/style.scss
Labels: [Status] Needs e2e Testing

#34487 Update copy on plans for launch flow
  client/my-sites/plans-features-main/index.jsx
  client/signup/steps/plans/index.jsx
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#34591 Starter Page Templates: Update modal UI
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/styles/starter-page-templates-editor.scss
Labels: [Goal] Full Site Editing, [Status] Needs Review

#34599 Domains: Add domain maintenance notices for the landing pages
  client/landing/domains/registrant-verification/index.jsx
  client/landing/domains/transfer-away-confirmation/index.jsx
  client/landing/domains/utils.js
Labels: Domains, [Status] Ready to Merge

#34611 Site Settings: Preserve backslashes in custom date/time formats
  client/lib/wpcom-undocumented/lib/undocumented.js
Labels: Site Settings, [Status] Needs Review, [Type] Bug

#33562 Atomic: Unblock anywhere-elementor and anywhere-elementor-pro
  client/my-sites/plugins/plugin-meta/index.jsx
Labels: Atomic, Plugins, [Status] Blocked / Hold, [Type] Janitorial

#34647 Analytics: replace chai with Jest in unit tests
  client/lib/analytics/test/index.js
  client/lib/analytics/test/statsd.js
Labels: Analytics, Testing, [Status] Needs Review, [Type] Janitorial

#34475 Add check for `devdocs/redirect-loggedout-homepage` before redirecting to log-in page
  client/boot/common.js
Labels: Frontend, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#34619 getPostRevisions: sort revisions in descending order by ID when timestams are equal
  client/state/selectors/get-post-revisions.js
  client/state/selectors/test/get-post-revisions.js
Labels: Revisions, [Status] Needs Review

#34628 Rewind State: Add alerts & threats to redux state
  client/state/data-layer/wpcom/sites/rewind/api-transformer.js
  client/state/data-layer/wpcom/sites/rewind/schema.js
Labels: API, Activity Log, Rewind, [Size] S, [Status] Needs Review, [Type] Enhancement

#34653 Upgrade lodash and lodash-es to 4.7.14.
  apps/full-site-editing/package-lock.json
  apps/full-site-editing/package.json
  apps/wpcom-block-editor/package.json
  npm-shrinkwrap.json
  package.json
  packages/babel-plugin-i18n-calypso/package.json
  test/e2e/package-lock.json
Labels: Framework, [Status] Needs Review, [Type] Janitorial

#34605 Don't offer mapping subs for unregistered domains
  client/components/domains/domain-search-results/index.jsx
  client/lib/domains/constants.js
  client/lib/domains/registration/availability-messages.js
Labels: Domains, [Status] Ready to Merge

#34577 Ensure that tracks events are sent on /me/get-apps
  client/blocks/get-apps/apps-badge.jsx
  client/blocks/get-apps/test/__snapshots__/apps-badge.js.snap
Labels: Analytics, [Status] Needs Review, [Type] Defect

#34601 Editor/Media: Hide menu items requiring upload from Contributors
  client/my-sites/media-library/data-source.jsx
  client/my-sites/media-library/test/data-source.jsx
  client/post-editor/editor-html-toolbar/index.jsx
Labels: Editor, FixTheFlows, Media, [Status] Needs Review, [Type] Bug

#34097 Fix gutenberg notice issues
  test/e2e/lib/gutenberg/blocks/contact-form-block-component.js
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
Labels: DO NOT MERGE, [Status] Needs e2e Testing

#34662 Temporarily skip gutenberg specs
  test/e2e/specs/wp-calypso-gutenberg-page-editor-spec.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
  test/e2e/specs/wp-comments-spec.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#34472 Signup: send site information options when creating a new site
  client/lib/signup/step-actions.js
Labels: Signup, [Status] Needs Review, [Type] Janitorial

#34669 Gutenberg: update switch to classic menu options selector
  apps/wpcom-block-editor/src/common/switch-to-classic.js
Labels: [Goal] Gutenberg, [Status] Needs Review

#33355 Disabled Buttons: Increase Colour Contrast
  client/components/button/style.scss
  client/components/popover/style.scss
Labels: Color Schemes, OSS Citizen, [Status] Ready to Merge

#34498 Site Selector: CSS Migration
  assets/stylesheets/_components.scss
  client/components/site-selector/index.jsx
Labels: CSS Migration, OSS Citizen, [Status] Needs Review

#34500 Sites Popover: Styling Migration
  assets/stylesheets/_components.scss
  client/components/sites-popover/index.jsx
Labels: CSS Migration, OSS Citizen, [Status] Needs Review

#34668 Gutenberg: re-enable test suites and close sidebar on new post or page creation
  test/e2e/lib/flows/login-flow.js
  test/e2e/lib/gutenberg/gutenberg-editor-sidebar-component.js
  test/e2e/specs/wp-calypso-gutenberg-page-editor-spec.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
  test/e2e/specs/wp-comments-spec.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#34339 css: migrate components/section-nav styles
  assets/stylesheets/_components.scss
  client/components/section-nav/index.jsx
  client/components/section-nav/item.jsx
  client/components/section-nav/item.scss
  client/components/section-nav/segmented.jsx
  client/components/section-nav/segmented.scss
  client/components/section-nav/style.scss
  client/components/section-nav/tabs.jsx
  client/components/section-nav/tabs.scss
  client/components/section-nav/test/index.jsx
Labels: CSS Migration, [Status] In Progress

#34657 Replace string refs in FormTextInput.
  client/components/forms/form-text-input/index.jsx
Labels: [Status] Needs Review, [Type] Janitorial

#34513 Make `GdprBanner` SSR safer.
  client/blocks/gdpr-banner/index.jsx
Labels: [Status] Needs Review, [Type] Enhancement

#34674 Community Translator Launcher: migrate CSS to webpack
  assets/stylesheets/_components.scss
  client/layout/community-translator/launcher.jsx
Labels: CSS Migration, Translator, [Status] Needs Review

#34676 Sidebar: show Plugins item and its target destination correctly
  client/my-sites/sidebar/sidebar.jsx
  client/my-sites/sidebar/tools-menu.jsx
Labels: Plugins, Sidebar, [Status] Needs Review, [Type] Bug

#34682 [e2e] Fix broken `Renew a plan` test
  test/e2e/lib/pages/purchases-page.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#34671 css: migrate components/locale-suggestions styles
  assets/stylesheets/_components.scss
  client/components/locale-suggestions/index.jsx
Labels: CSS Migration

#34588 Add G Suite New Users Library Documentation
  client/lib/gsuite/README.md
  client/lib/gsuite/new-users.ts
Labels: G Suite, [Status] Ready to Merge

#34661 FSE: Update to v0.3
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/readme.txt
Labels: [Goal] Full Site Editing, [Status] Ready to Merge, [Type] Task

#34675 Auto-renewal Toggle: Prevent the survey from showing excessively.
  client/me/purchases/manage-purchase/auto-renew-toggle/auto-renew-disabling-dialog/index.jsx
  client/me/purchases/manage-purchase/auto-renew-toggle/index.jsx
Labels: Payment Methods, [Status] Needs Review, [Type] Enhancement

#34672 Exclude subs paid with credits from showing the auto-renewal toggle.
  client/me/purchases/manage-purchase/purchase-meta.jsx
Labels: Payment Methods, [Status] Needs Review, [Type] Bug

#34479 Enable site preview for the Blogger segment
  client/components/signup-site-preview/iframe.jsx
  client/components/signup-site-preview/utils.js
  client/signup/config/flows-pure.js
  client/signup/config/steps.js
  client/signup/site-mockup/index.jsx
  client/signup/steps/domains/index.jsx
  client/signup/steps/site-type/index.jsx
Labels: Signup, [Status] Needs Design Review, [Status] Needs Review

#34692 Signup: Disable the skippableDomainStep AB test
  client/lib/abtest/active-tests.js
Labels: ABTest, Frontend, Signup, [Status] Ready to Merge

#34707 Auto-renewal Toggle: Public launch
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/notices.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
  config/development.json
  config/horizon.json
  config/wpcalypso.json
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#34538 Mobile Back to Sidebar: improve a11y, use Gridicon and flex layout
  client/components/mobile-back-to-sidebar/index.jsx
  client/components/mobile-back-to-sidebar/style.scss
Labels: Reader, [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#34710 Marketing: Auto-apply coupon code in site-selected flow.
  client/signup/config/flows.js
  client/signup/config/steps-pure.js
  client/signup/steps/plans/index.jsx
Labels: Marketing, [Status] Ready to Merge
