Repository Automattic/wp-calypso, pull requests merged in 2020-07, with the labels that each got.

#43622 Remove references to old pricing tests
  client/my-sites/plans/main.jsx
  client/signup/steps/plans/index.jsx
  client/state/current-user/constants.js
Labels: Marketing, [Status] Ready to Merge

#43313 Block editor: use the official slot API to replace close button
  apps/wpcom-block-editor/package.json
  apps/wpcom-block-editor/src/calypso/features/iframe-bridge-server.js
  apps/wpcom-block-editor/src/calypso/features/iframe-bridge-server.scss
  client/state/selectors/get-editor-close-config.js
  yarn.lock
Labels: [Goal] Editor Improvements, [Status] Needs Review, [Status] String Freeze

#43796 Domain picker: cleanup and analytics fix
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/src/domain-picker-button/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/src/hooks/use-domain-suggestions.ts
  client/landing/gutenboarding/onboarding-block/domains/index.tsx
  packages/data-stores/src/domain-suggestions/selectors.ts
  packages/domain-picker/src/constants.ts
  packages/domain-picker/src/domain-picker/index.tsx
  packages/domain-picker/src/hooks/use-domain-suggestions.ts
Labels: Analytics, [Goal] Gutenboarding, [Status] Needs Review, [Type] Janitorial

#43827 PlansGrid: Use plans store key from constant instead of registering.
  packages/plans-grid/src/constants.ts
  packages/plans-grid/src/plans-details/index.tsx
  packages/plans-grid/src/plans-grid/index.tsx
  packages/plans-grid/src/plans-table/index.tsx
Labels: [Goal] Gutenboarding, [Status] Needs Review

#43807 P2: add additional props to calypso invite accepted event
  client/lib/invites/actions.js
Labels: People Management, Stats, [Status] Needs Review

#43758 InlineHelp: fix visual minor issues
  client/my-sites/customer-home/cards/features/help-search/style.scss
Labels: [Status] Needs Review, [Type] Enhancement

#43701 Change sslStatusHuman ON to ACTIVE
  client/my-sites/domains/domain-management/edit/navigation/enhanced.jsx
Labels: Domains, [Status] Needs Review

#43709 ci: add CI for monorepo wp-desktop
  .circleci/config.yml
  .gitignore
  desktop/Dockerfile
  desktop/Makefile
  desktop/e2e/appStart.js
  desktop/e2e/mocha.opts
  desktop/e2e/run.js
  desktop/e2e/tests/e2e.js
  desktop/e2e/tests/lib/async-base-container.js
  desktop/e2e/tests/lib/components/editor-confirmation-sidebar-component.js
  desktop/e2e/tests/lib/components/nav-bar-component.js
  desktop/e2e/tests/lib/components/post-editor-toolbar-component.js
  desktop/e2e/tests/lib/components/post-preview-component.js
  desktop/e2e/tests/lib/components/sidebar-component.js
  desktop/e2e/tests/lib/data-helper.js
  desktop/e2e/tests/lib/driver-helper.js
  desktop/e2e/tests/lib/mocha-hooks.js
  desktop/e2e/tests/lib/pages/checklist-page.js
  desktop/e2e/tests/lib/pages/checkout-page.js
  desktop/e2e/tests/lib/pages/editor-page.js
  desktop/e2e/tests/lib/pages/login-page.js
  desktop/e2e/tests/lib/pages/profile-page.js
  desktop/e2e/tests/lib/pages/reader-page.js
  desktop/e2e/tests/lib/pages/signup-steps-page.js
  desktop/e2e/tests/lib/pages/view-post-page.js
  desktop/e2e/tests/lib/video-recorder.js
  desktop/package.json
  desktop/yarn.lock
  package.json
Labels: [Status] Needs Review

#43808 Gutenboarding: remove meta from plan product when adding to cart
  client/landing/gutenboarding/hooks/use-on-site-creation.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review, [Type] Bug

#43819 Add redirects back to WordPress.com from Jetpack Product Upsell Pages
  client/my-sites/backup/wpcom-backup-upsell.tsx
  client/my-sites/scan/wpcom-scan-upsell.tsx
Labels: [Status] Ready to Merge

#43815 Jetpack Scan Section: Expand long text in button dialogs horizontally
  client/components/jetpack/threat-dialog/style.scss
Labels: Jetpack Cloud, [Status] Needs Review

#43641 wpcom.js: Remove problematic "whitelist" langauge #43395
  packages/wpcom.js/Makefile
  packages/wpcom.js/test-need-complete-access-origin/test.wpcom.domain.js
  packages/wpcom.js/test-need-complete-access-origin/test.wpcom.me.connected-application.js
  packages/wpcom.js/test-need-complete-access-origin/test.wpcom.me.settings.js
  packages/wpcom.js/test-need-complete-access-origin/test.wpcom.me.settings.password.js
  packages/wpcom.js/test-need-complete-access-origin/test.wpcom.me.settings.profile-links.js
  packages/wpcom.js/test-need-complete-access-origin/test.wpcom.site.settings.js
  packages/wpcom.js/test-need-complete-access-origin/test.wpcom.site.wordads.js
Labels: [Status] Needs Review

#43647 Jetpack Connect: Remove problematic "blacklist"/"whitelist" language #43395
  client/jetpack-connect/authorize.js
  client/jetpack-connect/connection-notice-types.js
  client/jetpack-connect/constants.js
  client/jetpack-connect/controller.js
  client/jetpack-connect/jetpack-connect-notices.jsx
  client/jetpack-connect/jetpack-connection.jsx
  client/state/jetpack-connect/selectors/index.js
  client/state/jetpack-connect/selectors/is-site-blocked-error.js
  client/state/jetpack-connect/test/selectors.js
  client/state/jetpack/settings/utils.js
Labels: Jetpack, [Status] Needs Review, [Type] Janitorial

#43813 Ensure security nav always triggers two factor queries
  client/me/security-checkup/two-factor-authentication.jsx
  client/me/security-checkup/two-factor-backup-codes.jsx
Labels: Me, Security, [Status] Ready to Merge

#43810 Fix title for Social Logins when viewed using new security navigation
  client/me/social-login/index.jsx
Labels: Me, Security, [Status] Ready to Merge

#43691 ESLint: Add inclusive language rule #43600
  package.json
  packages/eslint-config-wpcalypso/CHANGELOG.md
  packages/eslint-config-wpcalypso/index.js
  packages/eslint-config-wpcalypso/package.json
  yarn.lock
Labels: [Status] Needs Review

#43837 ci: add wp-desktop Slack + Github notifications
  .circleci/config.yml
  desktop/bin/github/add-review.js
  desktop/bin/github/dismiss-review.js
  desktop/bin/github/review-actions.js
  desktop/package.json
Labels: [Status] Needs Review

#43653 composite-checkout: Add Alipay payment method
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/use-create-payment-methods.js
  packages/composite-checkout/src/lib/payment-methods/alipay.js
  packages/composite-checkout/src/public-api.js
Labels: Checkout, [Status] Needs Review

#43844 don't add/dismiss reviews for non-PR jobs
  desktop/bin/github/review-actions.js
Labels: [Status] Needs Review

#43744 composite-checkout: Add p24 payment method
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/types/transaction-endpoint.ts
  client/my-sites/checkout/composite-checkout/use-create-payment-methods.js
  packages/composite-checkout/src/lib/payment-methods/p24.js
  packages/composite-checkout/src/public-api.js
Labels: Checkout, [Status] Needs Review

#43851 Jetpack Connect: remove redundant files
  client/jetpack-connect/bk-test.jsx
  client/jetpack-connect/bk.jsx
  client/jetpack-connect/mainb.jsx
  client/jetpack-connect/mainbk.jsx
Labels: [Type] Bug

#43609 Fix chunked translations in the /new flow
  client/landing/gutenboarding/index.tsx
Labels: [Goal] Gutenboarding, [Status] Needs Review, i18n

#43822 Fix broken rich text blocks in layout picker preview in Firefox
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/block-iframe-preview.js
Labels: Page Layouts, [Status] Needs Review, [Type] Bug

#43779 Reader: ensure button block matches main site styles
  client/blocks/reader-full-post/_content.scss
Labels: OSS Citizen, Reader, [Status] Needs Review

#43852 Editor: increase iframe timeout
  client/gutenberg/editor/calypsoify-iframe.tsx
Labels: Editor

#43793 Remove the domain-helper support URL
  client/lib/url/support.js
Labels: Domains, [Status] Ready to Merge

#43772 Fix the all-domains redux state to use `withStorageKey` so the state is persistent
  client/state/all-domains/reducer.js
Labels: Domains, [Status] Ready to Merge

#43792 FSE: Run phpcbf on the synced files to fix text domain
  apps/full-site-editing/bin/sync-newspack-blocks.sh
Labels: [Goal] Full Site Editing, [Status] Needs Review

#43778 Update/inline help data flow
  client/blocks/inline-help/inline-help-search-card.jsx
  client/blocks/inline-help/inline-help-search-results.jsx
  client/components/data/query-inline-help-search/index.jsx
  client/state/action-types.js
  client/state/inline-help/actions.js
  client/state/inline-help/reducer.js
  client/state/inline-help/selectors/get-contextual-help-results.js
Labels: Store, [Status] Needs Review, [Type] Enhancement

#43825 FSE: Add skeleton for editor site launch.
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/index.php
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/index.ts
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-button/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-button/styles.scss
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-modal/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-modal/styles.scss
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-step/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-step/styles.scss
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/domain-step/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/domain-step/styles.scss
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/plan-step/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/plan-step/styles.scss
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/privacy-step/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/privacy-step/styles.scss
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch/styles.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing, [Goal] Gutenboarding, [Status] Needs Review

#43799 Accept currentDomain as a string in domain picker
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/src/domain-picker-button/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/src/domain-picker-modal/index.tsx
  client/landing/gutenboarding/onboarding-block/domains/index.tsx
  packages/domain-picker/src/domain-picker/index.tsx
  packages/domain-picker/src/domain-picker/style.scss
  packages/domain-picker/src/domain-picker/suggestion-item.tsx
Labels: [Goal] Full Site Editing, [Goal] Gutenboarding, [Status] Needs Review

#43752 E2E tests: Jetpack-specific fixes
  test/e2e/lib/components/sidebar-component.js
  test/e2e/lib/flows/jetpack-connect-flow.js
  test/e2e/lib/flows/login-flow.js
  test/e2e/lib/pages/external/jetpackcom-pricing-page.js
  test/e2e/lib/pages/jetpack/jetpack-connect-page.js
  test/e2e/lib/pages/my-plan-page.js
  test/e2e/lib/pages/people-page.js
  test/e2e/lib/pages/woocommerce/woo-wizard-business-details-page.js
  test/e2e/lib/pages/woocommerce/woo-wizard-industry-page.js
  test/e2e/lib/pages/woocommerce/woo-wizard-jetpack-page.js
  test/e2e/lib/pages/woocommerce/woo-wizard-product-page.js
  test/e2e/lib/pages/woocommerce/woo-wizard-setup-page.js
  test/e2e/lib/pages/woocommerce/woo-wizard-theme-page.js
  test/e2e/lib/pages/woocommerce/woo-wizard-welcome-page.js
  test/e2e/lib/pages/wp-admin/wp-admin-in-place-approve-page.js
  test/e2e/lib/pages/wp-admin/wp-admin-in-place-plans-page.js
  test/e2e/lib/pages/wp-admin/wp-admin-jetpack-page.js
  test/e2e/lib/pages/wporg-creator-page.js
  test/e2e/scripts/jetpack/wp-jetpack-jn-activate.js
  test/e2e/specs-blocks/gutenberg-markdown-block-spec.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-connect-spec.js
  test/e2e/specs-jetpack-calypso/wp-pressable-nux-spec.js
  test/e2e/specs-jetpack/connect-disconnect-spec.js
  test/e2e/specs/wp-plan-purchase-spec.js
  test/e2e/specs/wp-post-editor-spec.js
Labels: [Status] In Progress, [Status] Needs Jetpack e2e Testing

#43830 Separate free and paid domains in domain picker and fix empty state on mobile
  client/lib/abtest/active-tests.js
  packages/domain-picker/src/domain-picker/index.tsx
  packages/domain-picker/src/domain-picker/style.scss
  packages/domain-picker/src/domain-picker/suggestion-item.tsx
Labels: [Goal] Gutenboarding, [Status] Needs Design Review, [Status] Needs Review

#43811 State: Replace media selection flux action with redux
  client/blocks/image-selector/index.jsx
  client/blocks/image-selector/test/index.jsx
  client/components/tinymce/plugins/media/drop-zone.jsx
  client/components/tinymce/plugins/media/plugin.jsx
  client/components/tinymce/plugins/simple-payments/dialog/product-image-picker.jsx
  client/gutenberg/editor/calypsoify-iframe.tsx
  client/lib/media/actions.js
  client/my-sites/media-library/index.jsx
  client/my-sites/media-library/list.jsx
  client/my-sites/media-library/test/list.jsx
  client/my-sites/media/main.jsx
  client/post-editor/editor-featured-image/index.jsx
  client/post-editor/editor-html-toolbar/index.jsx
  client/post-editor/media-modal/gallery/drop-zone.jsx
  client/post-editor/media-modal/gallery/remove-button.jsx
  client/post-editor/media-modal/index.jsx
  client/post-editor/media-modal/test/index.jsx
Labels: [Status] Needs Review

#43734 composite checkout: Add EPS support
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/use-create-payment-methods.js
  packages/composite-checkout/src/lib/payment-methods/eps.js
  packages/composite-checkout/src/public-api.js
Labels: Checkout, Payment Methods, [Status] Needs Review

#43857 Update FSE plugin to version 1.11.0
  .github/workflows/full-site-editing-plugin.yml
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/readme.txt
  apps/full-site-editing/package.json
Labels: [Status] Needs Review

#43742 Jetpack Scan: standardize main components class names
  client/components/jetpack/scan-history-placeholder/index.tsx
  client/components/jetpack/scan-history-placeholder/style.scss
  client/my-sites/scan/history/index.tsx
  client/my-sites/scan/history/style.scss
  client/my-sites/scan/style.scss
  client/my-sites/scan/upsell.jsx
  client/my-sites/scan/wpcom-scan-upsell.tsx
  client/my-sites/scan/wpcom-upsell.tsx
Labels: Jetpack Cloud, [Status] In Progress

#43870 Scan history: prevent a filter layout glitch when hovering the environment badge
  client/components/jetpack/threat-history-list/style.scss
Labels: Jetpack Cloud, [Status] Needs Review, [Type] Bug

#43865 Jetpack Search: enable purchases via "...search/yearly" routes.
  client/jetpack-connect/jetpack-connection.jsx
  client/jetpack-connect/search.jsx
  client/my-sites/checkout/checkout/index.jsx
Labels: Jetpack Search, Pre-launch, [Status] Needs Review, [Type] Enhancement

#43875 Marketing: Remove the Google AdWords card.
  client/my-sites/marketing/tools/google-adwords.tsx
  client/my-sites/marketing/tools/index.tsx
Labels: Marketing, [Status] Needs Review, [Type] Task

#43846 Editor: Removes editor deprecation flags in favor of user deprecation group
  client/blocks/inline-help/popover.jsx
  client/gutenberg/editor/calypsoify-iframe.tsx
  client/post-editor/editor-gutenberg-dialogs/index.tsx
  client/post-editor/post-editor.jsx
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Editor, [Status] Needs Review

#43765 composite-checkout: Add WeChat Pay
  client/my-sites/checkout/checkout/wechat-payment-qrcode.jsx
  client/my-sites/checkout/composite-checkout/cart-provider.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-methods/wechat.js
  client/my-sites/checkout/composite-checkout/use-create-payment-methods.js
  client/my-sites/checkout/composite-checkout/wpcom/components/payment-method-logos.js
  packages/composite-checkout/README.md
  packages/composite-checkout/src/components/checkout-provider.js
  packages/composite-checkout/src/components/transaction-status-handler.js
  packages/composite-checkout/src/components/use-events.js
  packages/composite-checkout/src/components/use-messages.js
  packages/composite-checkout/src/lib/transaction-status.js
  packages/composite-checkout/src/public-api.js
  packages/composite-checkout/test/checkout-provider.js
  packages/composite-checkout/test/checkout.js
Labels: Checkout, [Status] Ready to Merge

#43472 Nav Sidebar: use the official slot API to replace close button
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nav-sidebar/src/attach-sidebar.tsx
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-sidebar/index.tsx
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nav-sidebar/src/components/toggle-sidebar-button/index.tsx
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nav-sidebar/src/components/toggle-sidebar-button/style.scss
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nav-sidebar/src/wp-interface-types.d.ts
  apps/full-site-editing/package.json
  apps/wpcom-block-editor/src/calypso/features/iframe-bridge-server.js
  yarn.lock
Labels: [Goal] Editor Improvements, [Status] Ready to Merge

#43834 Donation block: Make content editable
  apps/full-site-editing/full-site-editing-plugin/donations/context.js
  apps/full-site-editing/full-site-editing-plugin/donations/controls.js
  apps/full-site-editing/full-site-editing-plugin/donations/donations.js
  apps/full-site-editing/full-site-editing-plugin/donations/edit.js
  apps/full-site-editing/full-site-editing-plugin/donations/index.js
  apps/full-site-editing/full-site-editing-plugin/donations/stripe-nudge.js
  apps/full-site-editing/full-site-editing-plugin/donations/style.scss
  apps/full-site-editing/full-site-editing-plugin/donations/tab.js
  apps/full-site-editing/full-site-editing-plugin/donations/tabs.js
Labels: Donations, [Status] Needs Review

#43561 Gutenboarding: upgraded design screenshots
  static/page-templates/design-screenshots/Camdem_camdem_maywood.jpg
  static/page-templates/design-screenshots/alves_alves_alves.jpg
  static/page-templates/design-screenshots/balasana_balasana_balasana.jpg
  static/page-templates/design-screenshots/barnsbury_barnsbury_barnsbury.jpg
  static/page-templates/design-screenshots/bowen_bowen_coutoire.jpg
  static/page-templates/design-screenshots/brice_brice_mayland.jpg
  static/page-templates/design-screenshots/cassel_cassel_mayland.jpg
  static/page-templates/design-screenshots/coutoire_coutoire_coutoire.jpg
  static/page-templates/design-screenshots/doyle_doyle_alves.jpg
  static/page-templates/design-screenshots/easley_easley_maywood.jpg
  static/page-templates/design-screenshots/edison_edison_stratford.jpg
  static/page-templates/design-screenshots/gibbs_gibbs_rockfield.jpg
  static/page-templates/design-screenshots/leven_leven_leven.jpg
  static/page-templates/design-screenshots/mayland_mayland_mayland.jpg
  static/page-templates/design-screenshots/maywood_maywood_maywood.jpg
  static/page-templates/design-screenshots/overton_overton_alves.jpg
  static/page-templates/design-screenshots/reynolds-fse_reynolds_seedlet-blocks.jpg
  static/page-templates/design-screenshots/reynolds_reynolds_rockfield.jpg
  static/page-templates/design-screenshots/rivington_rivington_rivington.jpg
  static/page-templates/design-screenshots/stratford_stratford_stratford.jpg
  static/page-templates/design-screenshots/vesta-fse_vesta_seedlet-blocks.jpg
  static/page-templates/design-screenshots/vesta_vesta_mayland.jpg
Labels: [Goal] Gutenboarding, [Status] Needs Review

#43000 Add tracks event to collect domain searches
  client/landing/gutenboarding/components/domain-picker-button/index.tsx
  client/landing/gutenboarding/onboarding-block/domains/index.tsx
  packages/domain-picker/src/domain-picker/index.tsx
Labels: Analytics, [Goal] Gutenboarding, [Status] Needs Rebase

#43873 Jetpack Backup: Ensure that backups in backupsOnSelectedDate are correct
  client/my-sites/backup/main.jsx
Labels: Jetpack, Jetpack Cloud, [Type] Bug

#43542 Jetpack Search: move the purchase flow to its new route
  client/jetpack-connect/jetpack-connection.jsx
  client/jetpack-connect/style.scss
  client/lib/products-values/constants.js
  client/my-sites/purchase-product/controller.js
  client/my-sites/purchase-product/index.js
  client/my-sites/purchase-product/search.jsx
  client/my-sites/purchase-product/style.scss
  client/sections.js
Labels: Jetpack Search, Pre-launch, [Status] In Progress, [Type] Enhancement

#43885 Gutenboarding: Track when launch button is clicked.
  apps/full-site-editing/full-site-editing-plugin/editor-gutenboarding-launch/index.ts
  apps/full-site-editing/package.json
Labels: [Goal] Gutenboarding

#43859 FSE: Plans Grid Smart Component
  apps/full-site-editing/full-site-editing-plugin/editor-plans-grid/src/hooks/use-selected-plan.ts
  apps/full-site-editing/full-site-editing-plugin/editor-plans-grid/src/plans-grid-button/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-plans-grid/src/plans-grid-fse/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-plans-grid/src/plans-modal/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/plan-step/index.tsx
  packages/plans-grid/src/plans-grid/index.tsx
Labels: [Goal] Full Site Editing, [Goal] Gutenboarding, [Status] Needs Review

#43858 FSE: Domain Picker Smart Component
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/src/domain-picker-button/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/src/domain-picker-fse/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/src/domain-picker-modal/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/src/hooks/use-current-domain.ts
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/domain-step/index.tsx
  packages/domain-picker/src/domain-picker/index.tsx
Labels: [Goal] Full Site Editing, [Goal] Gutenboarding, [Status] Needs Review

#43651 composite-checkout: Add Bancontact payment method
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/test/composite-checkout-thank-you.js
  client/my-sites/checkout/composite-checkout/use-create-payment-methods.js
  packages/composite-checkout/src/lib/payment-methods/alipay.js
  packages/composite-checkout/src/lib/payment-methods/bancontact.js
  packages/composite-checkout/src/lib/payment-methods/giropay.js
  packages/composite-checkout/src/lib/payment-methods/ideal.js
  packages/composite-checkout/src/lib/payment-methods/p24.js
  packages/composite-checkout/src/lib/payment-methods/sofort.js
  packages/composite-checkout/src/public-api.js
Labels: Checkout, [Status] Ready to Merge

#43853 Reader: make tags displayed consistent between post card and full post
  client/blocks/reader-full-post/header-tags.jsx
Labels: Reader, [Status] Needs Review

#43510 Nav sidebar: sidebar opens over the editor, behaves like a modal
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nav-sidebar/src/actions.ts
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nav-sidebar/src/attach-sidebar.tsx
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-sidebar/index.tsx
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-sidebar/style.scss
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nav-sidebar/src/components/toggle-sidebar-button/index.tsx
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nav-sidebar/src/components/toggle-sidebar-button/style.scss
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nav-sidebar/src/store.ts
Labels: [Goal] Editor Improvements, [Status] Ready to Merge

#43887 New P2: skip preview
  client/state/sites/selectors/is-site-previewable.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#43757 Fallback to gridicon for missing site icon
  client/reader/components/favicon/index.js
Labels: Reader, [Status] Ready to Merge

#43376 Remember reader feed and sidebar selection
  client/blocks/reader-full-post/index.jsx
  client/blocks/reader-full-post/style.scss
  client/reader/controller.js
  client/reader/stream/index.jsx
  client/state/reader-ui/reducer.js
  client/state/reader-ui/selectors.js
  client/state/reader-ui/sidebar/reducer.js
  client/state/reader/watermarks/actions.js
Labels: Reader, [Status] Ready to Merge

#43833 Render the auto-renew checkmark using the detailed domain data
  client/my-sites/domains/domain-management/list/domain-item.jsx
Labels: Domains, [Status] Needs Review

#43849 Show DomainNotice in the all domains list
  client/lib/domains/index.js
  client/lib/domains/resolve-domain-status.js
  client/my-sites/domains/domain-management/edit/domain-types/mapped-domain-type.jsx
  client/my-sites/domains/domain-management/edit/domain-types/registered-domain-type.jsx
  client/my-sites/domains/domain-management/edit/domain-types/site-redirect-type.jsx
  client/my-sites/domains/domain-management/edit/domain-types/transfer-in-domain-type.jsx
  client/my-sites/domains/domain-management/list/domain-item.jsx
  client/my-sites/domains/domain-management/list/style.scss
Labels: Domains, [Status] Needs Review

#43890 composite-checkout: Pass onEvent handler to useStoredCards
  client/my-sites/checkout/composite-checkout/composite-checkout.js
Labels: Checkout, [Status] Ready to Merge, [Type] Bug

#43916 Adds Anti-Spam icon to ProductIcon component package
  packages/components/src/product-icon/README.md
  packages/components/src/product-icon/config.js
  packages/components/src/product-icon/docs/example.jsx
  packages/components/src/product-icon/images/jetpack-anti-spam.svg
Labels: Jetpack, Packages, [Status] Needs Review

#43876 Create selector to check for product conflicts
  client/lib/products-values/constants.js
  client/state/sites/products/conflicts.ts
  client/state/sites/products/test/conflicts.ts
  client/state/sites/selectors/has-site-product.ts
  client/state/sites/selectors/index.js
Labels: Jetpack, Purchases, [Status] Needs Review

#43880 Jetpack Anti Spam: add Anti Spam
  client/lib/products-values/constants.js
  config/development.json
Labels: DO NOT MERGE, Jetpack, Plans

#43644 Post Normalizer: Remove problematic "whitelist" language #43395
  client/lib/post-normalizer/rule-content-detect-media.js
  client/lib/post-normalizer/rule-content-make-embeds-safe.js
  client/lib/post-normalizer/rule-content-remove-styles.js
  client/lib/post-normalizer/test/index.js
  client/lib/post-normalizer/utils/iframe-is-allowed.js
  client/lib/post-normalizer/utils/index.js
Labels: Editor, [Status] Needs Review

#43894 Earn: Improve Wrapping of "New" Pill
  client/components/promo-section/promo-card/style.scss
Labels: Earn, OSS Citizen

#43901 Reader Conversations: fix pointer state
  client/blocks/conversations/list.scss
Labels: Reader, [Status] Needs Review

#43826 state: add `fetch` thunk and replace usages of `MediaActions.fetch`
  client/blocks/image-selector/preview.jsx
  client/components/tinymce/plugins/media/plugin.jsx
  client/gutenberg/editor/calypsoify-iframe.tsx
  client/lib/media/actions.js
  client/lib/media/test/actions.js
  client/post-editor/editor-featured-image/preview-container.jsx
  client/state/data-layer/wpcom/sites/media/index.js
  client/state/data-layer/wpcom/sites/media/test/index.js
  client/state/media/thunks/fetch-media-item.js
  client/state/media/thunks/index.js
  client/state/media/utils/flux-adapter.js
Labels: Media

#43912 Update: Add google maps static URLs with the signature query parameter
  client/lib/post-metadata/index.js
  client/post-editor/editor-location/index.jsx
Labels: Editor, Google Maps, [Status] Needs Review

#43838 Fix: Cursor in FormTextInput moves to the end when editing
  client/components/forms/form-text-input/index.jsx
Labels: Components, [Type] Bug

#43910 Jetpack Search: add WP.com Search purchase Thank you note
  client/my-sites/checkout/checkout-thank-you/header.jsx
  client/my-sites/checkout/checkout-thank-you/style.scss
  client/my-sites/plans/current-plan/current-plan-thank-you/thank-you.js
Labels: Jetpack Search, Pre-launch, [Status] Needs Review

#43864 Add loading state for the all domain list item component
  client/my-sites/domains/domain-management/list/domain-item.jsx
  client/my-sites/domains/domain-management/list/list-all.jsx
  client/my-sites/domains/domain-management/list/style.scss
Labels: Domains, [Status] Ready to Merge

#43689 My Sites Misc: Remove problematic "blacklist"/"whitelist" language #43395
  client/layout/guided-tours/docs/ARCHITECTURE.md
  client/my-sites/marketing/connections/service-examples.jsx
  client/my-sites/marketing/connections/service-tip.jsx
  client/my-sites/themes/themes-magic-search-card/taxonomies-config.js
  client/my-sites/themes/themes-magic-search-card/welcome.jsx
  config/README.md
  docs/isomorphic-routing.md
  packages/i18n-calypso/README.md
Labels: [Status] Needs Review

#43924 Jetpack Anti-Spam: add Anti-Spam to Plans page
  client/lib/products-values/constants.js
  config/development.json
Labels: Jetpack, Plans

#43913 Domains: Add functionality to options menu items
  client/components/popover/menu.jsx
  client/my-sites/domains/domain-management/list/domain-item.jsx
  client/my-sites/domains/domain-management/list/list-all.jsx
Labels: Domains, [Status] Needs Review

#43935 Gutenboarding: persist free domain when selecting free plan
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/src/domain-picker-button/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/src/domain-picker-fse/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-plans-grid/src/hooks/use-selected-plan.ts
  apps/full-site-editing/full-site-editing-plugin/editor-plans-grid/src/plans-grid-button/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-plans-grid/src/plans-grid-fse/index.tsx
  client/landing/gutenboarding/constants.ts
  client/landing/gutenboarding/hooks/use-free-domain-suggestion.ts
  client/landing/gutenboarding/hooks/use-on-login.ts
  client/landing/gutenboarding/hooks/use-on-signup.ts
  client/landing/gutenboarding/hooks/use-on-site-creation.ts
  client/landing/gutenboarding/hooks/use-selected-plan.ts
  client/landing/gutenboarding/hooks/use-step-navigation.ts
  client/landing/gutenboarding/onboarding-block/domains/index.tsx
  client/landing/gutenboarding/onboarding-block/plans/index.tsx
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/index.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  client/landing/gutenboarding/stores/onboard/selectors.ts
  client/package.json
  packages/data-stores/src/plans/actions.ts
  packages/data-stores/src/plans/index.ts
  packages/data-stores/src/plans/reducer.ts
  packages/data-stores/src/plans/selectors.ts
  packages/domain-picker/src/constants.ts
  packages/plans-grid/package.json
  packages/plans-grid/src/plans-grid/index.tsx
Labels: Domains, [Goal] Gutenboarding, [Status] Needs Review, [Type] Bug

#43945 Calypso Editor: Check it geo coordinates are not invalid
  client/lib/post-metadata/index.js
Labels: Editor, [Status] Needs Review

#43940 e2e: Fix payment block tests
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/specs/wp-calypso-gutenberg-coblocks-spec.js
  test/e2e/specs/wp-calypso-gutenberg-page-editor-spec.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
Labels: [Status] Needs Review

#43925 Earn: flip rename-payment-blocks feature flag to true for all envs
  config/desktop.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Status] Needs Review

#43866 Upgrade ESlint plugin inclusive language and allow some terms
  .eslintrc.js
  package.json
  packages/eslint-config-wpcalypso/CHANGELOG.md
  packages/eslint-config-wpcalypso/package.json
  yarn.lock
Labels: [Status] Needs Review, [Type] Janitorial

#43790 InlineHelp: Add admin help sections data
  client/blocks/inline-help/admin-sections.js
  client/blocks/inline-help/test/admin-sections.js
  client/state/inline-help/selectors/get-admin-help-results.js
  client/state/inline-help/test/selectors.js
Labels: Customer Home, [Status] Needs Review

#43243 Update/concierge booking webinar callout
  client/me/concierge/book/calendar-step.js
  client/me/concierge/shared/no-available-times.js
Labels: [Status] Needs Review, [Status] String Freeze

#43942 GitHub Actions: Replace master references with origin/HEAD
  .github/workflows/full-site-editing-plugin.yml
Labels: [Status] Needs Review, [Type] Janitorial

#43953 composite-checkout: Move stripe redirect payment methods to end of list
  client/my-sites/checkout/composite-checkout/use-create-payment-methods.js
Labels: Checkout, [Status] Needs Review

#43956 Redirects the checkout for Jetpack already connected state
  client/jetpack-connect/constants.js
  client/jetpack-connect/jetpack-connection.jsx
  client/jetpack-connect/utils.js
Labels: Checkout, Jetpack, [Type] Bug

#43967 Gutenboarding: reverting Edison screen shot for now to show the post image
  static/page-templates/design-screenshots/edison_edison_stratford.jpg
Labels: [Goal] Gutenboarding

#43969 Update theme thanks modal buttons to use sentence case
  client/my-sites/themes/thanks-modal.jsx
Labels: [Status] Needs Review, [Status] String Freeze, [Type] Janitorial

#43931 Remove jetpack menu for p2 sites
  client/my-sites/sidebar/index.jsx
Labels: [Status] Ready to Merge

#43902 Add a convert to blocks button
  apps/wpcom-block-editor/src/wpcom/editor.js
  apps/wpcom-block-editor/src/wpcom/features/convert-to-blocks-button.js
Labels: Editor, [Status] Ready to Merge

#43917 Editor: Force Gutenberg For Users in the Deprecation Group
  client/post-editor/controller.js
  client/state/selectors/should-load-gutenberg.js
Labels: [Status] Needs Review

#43521 Move drop-zone state out of `ui` and modularise it
  client/components/drop-zone/index.jsx
  client/state/drop-zone/actions.js
  client/state/drop-zone/init.js
  client/state/drop-zone/package.json
  client/state/drop-zone/reducer.js
  client/state/drop-zone/test/reducer.js
  client/state/selectors/is-drop-zone-visible.js
  client/state/selectors/test/is-drop-zone-visible.js
  client/state/ui/reducer.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#43394 Move `ui/comments` state to `comments/ui`
  client/state/comments/reducer.js
  client/state/comments/ui/actions.js
  client/state/comments/ui/reducer.js
  client/state/comments/ui/test/actions.js
  client/state/comments/ui/test/reducer.js
  client/state/comments/ui/utils.js
  client/state/data-layer/wpcom/sites/comments/index.js
  client/state/selectors/get-comments-page.js
  client/state/selectors/has-pending-comment-requests.js
  client/state/selectors/test/get-comments-page.js
  client/state/selectors/test/has-pending-comment-requests.js
  client/state/ui/reducer.js
Labels: Comments, State, [Status] Needs Review, [Type] Janitorial

#43952 Implements lazy loading of domain items in the all domains list
  client/my-sites/domains/domain-management/list/list-all.jsx
Labels: Domains, [Status] Ready to Merge

#43862 InlineHelp: add admin sections
  client/blocks/inline-help/admin-sections.js
  client/blocks/inline-help/constants.js
  client/blocks/inline-help/inline-help-search-card.jsx
  client/blocks/inline-help/inline-help-search-results.jsx
  client/blocks/inline-help/popover.jsx
  client/blocks/inline-help/style.scss
  client/blocks/inline-help/test/admin-sections.js
  client/my-sites/customer-home/cards/features/help-search/index.jsx
  client/my-sites/customer-home/cards/features/help-search/style.scss
  client/my-sites/customize/panels.js
  client/state/inline-help/actions.js
  client/state/inline-help/selectors/get-admin-help-results.js
  client/state/inline-help/test/selectors.js
Labels: Customer Home, [Status] Needs Review, [Type] Enhancement

#43869 Media: Swap flux media error clearing actions for redux actions
  client/components/tinymce/plugins/media/plugin.jsx
  client/lib/media/actions.js
  client/lib/media/test/actions.js
  client/my-sites/media-library/content.jsx
  client/my-sites/media-library/drop-zone.jsx
  client/my-sites/media-library/upload-button.jsx
  client/my-sites/media-library/upload-url.jsx
Labels: Media, [Status] Needs Review

#43659 Misc: Remove problematic "blacklist"/"whitelist" language #43395
  client/lib/cart-values/index.js
  client/lib/cart/actions.js
  client/lib/plugins/test/sanitize-section-content.js
  client/lib/plugins/test/utils.js
  client/lib/plugins/utils.js
  client/lib/products-values/index.js
  client/lib/safe-image-url/index.js
  client/lib/safe-image-url/test/index.js
  client/login/ssr.js
  client/my-sites/plugins/controller.js
  client/my-sites/plugins/jetpack-plugins-setup/index.jsx
  client/reader/stats.js
Labels: [Status] Needs Review

#43986 Jetpack Connection: clear the plan selection cookie after redirect to checkout during JPC
  client/jetpack-connect/jetpack-connection.jsx
Labels: Jetpack, [Status] Needs Review, [Type] Enhancement

#43657 Jetpack Cloud: Add OAuth client ID as query parameter
  client/login/wp-login/login-links.jsx
Labels: Jetpack Cloud, [Status] Needs Review

#43964 Cancel Purchase: Use the correct currency symbol
  client/lib/purchases/assembler.js
  client/me/purchases/cancel-purchase/index.jsx
  client/me/purchases/cancel-purchase/refund-information.jsx
  client/state/purchases/test/selectors.js
Labels: Purchases, [Status] Ready to Merge

#43992 InlineHelp: renders results from cache
  client/blocks/inline-help/inline-help-search-results.jsx
Labels: [Type] Enhancement

#43957 Adds Jetpack Anti-Spam to checkout flow
  client/jetpack-connect/controller.js
  client/jetpack-connect/index.js
  client/my-sites/checkout/checkout/index.jsx
  client/state/jetpack-connect/constants.js
Labels: Checkout, Jetpack, [Status] Needs Review

#43884 Media: Replace usages of flux add and addExternal media with thunks
  client/blocks/image-selector/dropzone.jsx
  client/extensions/woocommerce/components/product-image-uploader/index.js
  client/lib/media/actions.js
  client/lib/media/test/actions.js
  client/lib/media/test/fixtures/index.js
  client/lib/media/test/fixtures/site.js
  client/my-sites/media-library/drop-zone.jsx
  client/my-sites/media-library/external-media-header.jsx
  client/my-sites/media-library/upload-button.jsx
  client/my-sites/media-library/upload-url.jsx
  client/my-sites/site-settings/podcast-cover-image-setting/index.jsx
  client/post-editor/editor-featured-image/dropzone.jsx
  client/post-editor/media-modal/index.jsx
  client/state/media/thunks/add-external-media.js
  client/state/media/thunks/add-media.js
  client/state/media/thunks/add-woocommerce-product-image.js
  client/state/media/thunks/create-transient-media-items.js
  client/state/media/thunks/index.js
  client/state/media/thunks/serially.js
  client/state/media/thunks/test/add-external-media.js
  client/state/media/thunks/test/add-media.js
  client/state/media/thunks/test/create-transient-media-items.js
  client/state/media/thunks/test/serially.js
  client/state/media/thunks/test/upload-media.js
  client/state/media/thunks/upload-media.js
  client/state/media/thunks/upload-site-icon.js
Labels: [Status] Needs Review

#43295 Typography: Fix overflowing sidebar links
  client/layout/sidebar/style.scss
Labels: Sidebar, [Status] Needs Review, [Type] Janitorial

#43871 Earn: Add loaders to avoid content pop-in on Earn home screen
  client/my-sites/earn/home.tsx
  client/my-sites/earn/style.scss
Labels: [Status] Needs Review

#44004 InlineHelp: Update icon colors in admin results
  client/blocks/inline-help/style.scss
  client/my-sites/customer-home/cards/features/help-search/style.scss
Labels: Help, [Status] Needs Review

#43888 Jetpack Search Purchase: Remove redundant style file.
  client/my-sites/purchase-product/style.scss
  client/sections.js
Labels: Jetpack Search, [Status] Needs Review

#43977 Update activate button in AutoLoadingHomepageModal to use sentence case
  client/my-sites/themes/auto-loading-homepage-modal.jsx
Labels: [Status] Needs Review, [Status] String Freeze, [Type] Janitorial

#43955 composite-checkout: Use detected country code
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/hooks/wpcom-store.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/wpcom-store-state.ts
Labels: Checkout, [Status] Needs Review

#43900 Editor: Remove the convert to blocks dialog from iframed editor
  apps/wpcom-block-editor/src/calypso/features/iframe-bridge-server.js
  client/components/convert-to-blocks/index.jsx
  client/components/convert-to-blocks/style.scss
  client/gutenberg/editor/calypsoify-iframe.tsx
Labels: Editor

#43979 Sites Checklist: transform api data
  client/my-sites/customer-home/cards/tasks/site-setup-list/get-task.js
  client/my-sites/customer-home/cards/tasks/site-setup-list/index.jsx
  client/state/data-layer/wpcom/checklist/index.js
  client/state/selectors/is-site-checklist-complete.js
Labels: [Status] Needs Review

#43382 Modularise oauth2 clients state
  client/blocks/login/index.jsx
  client/blocks/login/login-form.jsx
  client/blocks/signup-form/index.jsx
  client/landing/login/store.js
  client/layout/index.jsx
  client/layout/logged-out.jsx
  client/login/wp-login/index.jsx
  client/login/wp-login/login-links.jsx
  client/signup/steps/user/index.jsx
  client/state/analytics/actions/record-with-client-id.js
  client/state/analytics/test/actions.js
  client/state/oauth2-clients/actions.js
  client/state/oauth2-clients/init.js
  client/state/oauth2-clients/package.json
  client/state/oauth2-clients/reducer.js
  client/state/oauth2-clients/selectors.js
  client/state/oauth2-clients/test/reducer.js
  client/state/oauth2-clients/test/selectors.js
  client/state/oauth2-clients/ui/reducer.js
  client/state/oauth2-clients/ui/selectors.js
  client/state/oauth2-clients/ui/test/reducer.js
  client/state/oauth2-clients/ui/test/selectors.js
  client/state/reducer.js
  client/state/ui/reducer.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#41474 Blocks: Polish and update timeline block to support alternating on large screens
  apps/full-site-editing/full-site-editing-plugin/jetpack-timeline/blocks/src/block-appender.js
  apps/full-site-editing/full-site-editing-plugin/jetpack-timeline/blocks/src/editor.scss
  apps/full-site-editing/full-site-editing-plugin/jetpack-timeline/blocks/src/icon.js
  apps/full-site-editing/full-site-editing-plugin/jetpack-timeline/blocks/src/style.scss
  apps/full-site-editing/full-site-editing-plugin/jetpack-timeline/blocks/src/timeline-item.js
  apps/full-site-editing/full-site-editing-plugin/jetpack-timeline/blocks/src/timeline.js
Labels: Blocks

#44016 InlineHelp: Make focus on the search input element once open
  client/blocks/inline-help/inline-help-search-card.jsx
Labels: [Status] Needs Review, [Type] Enhancement

#43922 Checkout: update mobile submit button
  client/my-sites/checkout/checkout/checkout-terms.jsx
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  packages/composite-checkout/README.md
  packages/composite-checkout/src/components/checkout-steps.js
  packages/composite-checkout/src/components/loading-content.js
  packages/composite-checkout/src/components/payment-request-button.js
Labels: Checkout

#44008 P2 signup: Change learn more link
  client/signup/steps/p2-site/index.jsx
Labels: [Status] Needs Review

#44010 Domains: Fix renewing/expiring label for mapped domains when plan is renewing
  client/my-sites/domains/domain-management/edit/domain-types/helpers.jsx
Labels: Domains, [Status] Needs Review

#43861 My Home - remove "site created" banner and add to checklist.
  client/my-sites/customer-home/cards/tasks/site-setup-list/get-task.js
  client/my-sites/customer-home/cards/tasks/site-setup-list/index.jsx
Labels: Customer Home, [Goal] Onboarding

#43965 Jetpack Search: enable product removal for Atomic sites
  client/me/purchases/remove-purchase/index.jsx
Labels: Jetpack Search, [Status] Needs Review, [Type] Enhancement

#44005 Update destination for newly registered/activating domains
  client/my-sites/domains/domain-management/edit/navigation/enhanced.jsx
Labels: Domains, [Status] Needs Review

#43937 Add map url API request and update the map url to contatain the signiture on map change
  client/lib/post-metadata/index.js
  client/post-editor/editor-location/index.jsx
  client/state/action-types.js
  client/state/data-layer/wpcom/posts/geo/index.js
  client/state/data-layer/wpcom/posts/geo/test/index.js
  client/state/posts/actions/index.js
  client/state/posts/geo/actions.js
  client/state/posts/reducer.js
  client/state/posts/test/reducer.js
Labels: Editor, Google Maps, [Status] Needs Review

#43997 ESLint: Allow specific whitelist terms and fix stragglers
  .eslintrc.js
  client/landing/gutenboarding/onboarding-block/acquire-intent/site-title.tsx
  client/my-sites/plans/current-plan/jetpack-product-install/index.tsx
  client/state/jetpack/settings/utils.js
  packages/wpcom.js/test-need-complete-access-origin/test.wpcom.site.settings.js
Labels: [Status] Needs Review, [Type] Janitorial

#44021 Remove isLarge prop from Button block in FSE starter-page-templates
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
Labels: [Status] Needs Review, [Type] Bug, [Type] Janitorial

#43951 Jetpack Cloud: Correctly auto-route when the primary site is not Cloud-eligible
  client/landing/jetpack-cloud/index.js
  client/landing/jetpack-cloud/sections/home.tsx
  client/landing/jetpack-cloud/sections/landing.tsx
  client/sections.js
Labels: Jetpack Cloud, [Status] Needs Review

#43932 Allow checklist to have different text for Nav Items and the task "card"
  client/my-sites/customer-home/cards/tasks/site-setup-list/get-task.js
  client/my-sites/customer-home/cards/tasks/site-setup-list/index.jsx
Labels: Checklist, [Type] Enhancement

#43601 Earn: update copy and icon on the Payments splash page in Earn.
  client/assets/images/earn/payments-illustration.svg
  client/my-sites/earn/main.jsx
  client/my-sites/earn/memberships/index.jsx
  client/my-sites/earn/memberships/style.scss
Labels: [Status] String Freeze

#43926 Gutenboarding: remove page templates
  static/page-templates/templates/alves.json
  static/page-templates/templates/balasana.json
  static/page-templates/templates/barnsbury.json
  static/page-templates/templates/bowen.json
  static/page-templates/templates/brice.json
  static/page-templates/templates/camdem.json
  static/page-templates/templates/cassel.json
  static/page-templates/templates/coutoire.json
  static/page-templates/templates/doyle.json
  static/page-templates/templates/easley.json
  static/page-templates/templates/edison.json
  static/page-templates/templates/exford.json
  static/page-templates/templates/gibbs.json
  static/page-templates/templates/leven.json
  static/page-templates/templates/mayland.json
  static/page-templates/templates/maywood.json
  static/page-templates/templates/overton.json
  static/page-templates/templates/reynolds.json
  static/page-templates/templates/rivington.json
  static/page-templates/templates/rockfield.json
  static/page-templates/templates/stratford.json
  static/page-templates/templates/twentytwenty.json
  static/page-templates/templates/vesta.json
Labels: [Goal] Gutenboarding, [Status] Needs Review, [Type] Task

#43906 Nav sidebar scrolls if the items don't fit on the screen
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-sidebar/index.tsx
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-sidebar/style.scss
Labels: [Goal] Editor Improvements, [Status] Needs Review

#43754 Split rest of analytics actions
  client/state/analytics/actions/bump-stat.js
  client/state/analytics/actions/compose-analytics.js
  client/state/analytics/actions/enhance-with-site-type.js
  client/state/analytics/actions/index.js
  client/state/analytics/actions/load-tracking-tool.js
  client/state/analytics/actions/set-tracks-opt-out.js
  client/state/analytics/actions/with-analytics.js
Labels: Analytics, State, [Status] Needs Review, [Type] Janitorial

#43914 Fix plans details margining on mobile
  packages/plans-grid/src/mixins.scss
  packages/plans-grid/src/plans-grid/style.scss
Labels: [Goal] Gutenboarding, [Type] Bug

#43729 G Suite: Refine copy on Thank You page
  client/my-sites/checkout/checkout-thank-you/blogger-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/business-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/domain-registration-details.jsx
  client/my-sites/checkout/checkout-thank-you/ecommerce-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/google-apps-details.jsx
  client/my-sites/checkout/checkout-thank-you/header.jsx
  client/my-sites/checkout/checkout-thank-you/personal-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/premium-plan-details.jsx
Labels: G Suite, [Status] Needs Review, [Type] Enhancement

#43836 Posts: Do not show "Upsell Nudge" on Jetpack sites.
  client/my-sites/post-type-list/index.jsx
Labels: Jetpack, [Status] Needs Review

#44002 Marketing tools: Adding an Earn card to the Marketing Tools page.
  client/my-sites/marketing/tools/index.tsx
Labels: [Status] Needs Review

#43879 Jetpack Cloud: Add upgrade path and hide filter in Activity Log v2
  client/components/jetpack/upsell/index.tsx
  client/my-sites/activity/activity-log-v2/index.tsx
  client/my-sites/activity/activity-log-v2/style.scss
Labels: Jetpack Cloud, [Status] Needs Design Review, [Status] Needs Review

#43850 Jetpack Cloud: Disable downloadable backup creation while another one is in progress
  client/my-sites/backup/rewind-flow/download.tsx
  client/my-sites/backup/rewind-flow/loading.tsx
  client/my-sites/backup/rewind-flow/style.scss
  client/state/activity-log/actions.js
  client/state/activity-log/backup/reducer.js
  client/state/data-layer/wpcom/sites/rewind/downloads/index.js
  client/state/selectors/get-backup-download-id.js
  client/state/selectors/get-backup-download-progress.js
  client/state/selectors/get-backup-download-url.js
  client/state/selectors/get-backup-progress-for-rewind-id.js
Labels: Jetpack Cloud, [Status] Needs Review

#44013 Plans: Tweak Payments feature language in the Plans feature list.
  client/lib/plans/features-list.js
Labels: [Status] Needs Review, [Status] String Freeze

#44049 Retry site request to WPCOM on JSON API Module-related Failure
  client/landing/jetpack-cloud/index.js
  client/state/sites/actions.js
Labels: Jetpack Cloud, [Status] Needs Review

#44073 editor: update timeout for desktop app
  client/gutenberg/editor/calypsoify-iframe.tsx
Labels: Editor, [Status] Needs Review

#44074 Checkout Thank-You: Remove assumption that site and purchases exist
  client/my-sites/checkout/checkout-thank-you/header.jsx
Labels: Checkout, [Status] Needs Review

#44075 Add logging for getThankYouUrl arguments and result
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/record-analytics.js
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
Labels: Checkout, [Status] Needs Review

#43832 Stats: Adding promotional banner to the stats page, featuring Earn
  client/my-sites/stats/site.jsx
Labels: [Status] Needs Review, [Status] String Freeze

#44082 Stats: Adding admin and WordAds check to the Earn banner on Stats.
  client/my-sites/stats/site.jsx
Labels: [Status] Needs Review

#44086 Editor: Increase iframe timeout to account for very slow connections
  client/gutenberg/editor/calypsoify-iframe.tsx
Labels: [Status] Ready to Merge

#43987 Rollback Signup test: Use Passwordless signup after Plans step #43061
  client/blocks/signup-form/index.jsx
  client/blocks/signup-form/passwordless.jsx
  client/blocks/signup-form/social.jsx
  client/blocks/signup-form/style.scss
  client/components/social-buttons/apple.js
  client/components/social-buttons/google.js
  client/lib/abtest/active-tests.js
  client/signup/config/flows-pure.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/controller.js
  client/signup/steps/domains/index.jsx
  client/signup/steps/user/index.jsx
Labels: Signup, [Team] MarTech

#44032 media state: remove `MediaActions.delete`
  client/lib/media/actions.js
  client/lib/media/test/actions.js
Labels: Media

#44031 media state: remove `MediaActions.update`
  client/lib/media/actions.js
  client/lib/media/test/actions.js
Labels: Media

#44047 Notifications: Set 0 margins on buttons in the notification header area on mobile
  apps/notifications/src/panel/boot/stylesheets/main.scss
Labels: Notifications, [Status] Needs Review

#44101 Jetpack Checklist: fixes jetpack checklist not loading:
  client/my-sites/customer-home/cards/tasks/site-setup-list/get-task.js
  client/my-sites/customer-home/cards/tasks/site-setup-list/index.jsx
  client/my-sites/plans/current-plan/jetpack-checklist/index.tsx
  client/state/checklist/reducer.js
  client/state/data-layer/wpcom/checklist/index.js
  client/state/selectors/is-site-checklist-complete.js
Labels: [Status] Needs Review

#43821 Editor: add a classic block guide for users in deprecation group
  apps/wpcom-block-editor/src/wpcom/editor.js
  apps/wpcom-block-editor/src/wpcom/editor.scss
  apps/wpcom-block-editor/src/wpcom/features/images.js
  apps/wpcom-block-editor/src/wpcom/features/use-classic-block-guide.js
  apps/wpcom-block-editor/src/wpcom/features/use-classic-block-guide.scss
Labels: Editor, [Status] Needs Review

#44051 ci: add wp-desktop windows and linux
  .circleci/config.yml
  desktop/Makefile
Labels: [Status] Needs Review

#44040 Gutenboarding: Rename problematic page template property
  .eslintrc.js
  static/page-templates/page-templates.json
Labels: [Goal] Gutenboarding, [Status] Needs Review, [Type] Janitorial

#43941 CircleCI: Replace some references to master with origin or origin/HEAD
  .circleci/config.yml
Labels: [Status] Needs Review, [Type] Janitorial
