Repository Automattic/wp-calypso, pull requests merged in 2020-06, with the labels that each got.

#42833 Revert "Domains: Update TXT record error to be clearer"
  client/my-sites/domains/domain-management/dns/txt-record.jsx
Labels: Domains

#42393 Collect RUM data and send it to logstash
  client/lib/performance-tracking/README.md
  client/lib/performance-tracking/index.js
  client/lib/performance-tracking/performance-tracker-start.js
  client/lib/performance-tracking/performance-tracker-stop.jsx
  client/lib/performance-tracking/test/performance-tracker-start.js
  client/lib/performance-tracking/test/use-performance-tracker-stop.js
  client/lib/performance-tracking/use-performance-tracker-stop.js
  client/lib/performance-tracking/with-performance-tracker-stop.jsx
  client/my-sites/customer-home/locations/primary/index.jsx
  client/my-sites/plans/main.jsx
  client/my-sites/stats/stats-chart-tabs/index.jsx
  client/package.json
  client/sections-middleware.js
  client/sections.js
  config/development.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
  packages/browser-data-collector/README.md
  packages/browser-data-collector/package.json
  packages/browser-data-collector/src/api/device-memory.ts
  packages/browser-data-collector/src/api/environment.ts
  packages/browser-data-collector/src/api/performance-timing.ts
  packages/browser-data-collector/src/collectors/device-memory.ts
  packages/browser-data-collector/src/collectors/environment.ts
  packages/browser-data-collector/src/collectors/index.ts
  packages/browser-data-collector/src/collectors/performance-timing.ts
  packages/browser-data-collector/src/index.ts
  packages/browser-data-collector/src/report.ts
  packages/browser-data-collector/src/should-send.ts
  packages/browser-data-collector/src/transports/logstash.ts
  packages/browser-data-collector/src/types.d.ts
  packages/browser-data-collector/tsconfig-cjs.json
  packages/browser-data-collector/tsconfig.json
Labels: Framework, Performance, [Status] Needs Review, [Type] Task

#41986 Remove the "Set primary domain" dedicated page as it's not used anymore
  client/my-sites/domains/domain-management/controller.jsx
  client/my-sites/domains/domain-management/edit/card/header/index.jsx
  client/my-sites/domains/domain-management/edit/card/header/primary-domain-button.jsx
  client/my-sites/domains/domain-management/edit/card/header/test/__snapshots__/primary-domain-button.js.snap
  client/my-sites/domains/domain-management/edit/card/header/test/primary-domain-button.js
  client/my-sites/domains/domain-management/index.jsx
  client/my-sites/domains/index.js
  client/my-sites/domains/paths.js
Labels: Domains, [Status] Ready to Merge

#42799 Earn: Fix Plans Displayed after Clicking Nudges
  client/my-sites/earn/home.tsx
Labels: Earn, OSS Citizen, [Status] Needs Review

#42804 Gutenboarding: Standardize import type
  client/gravatar/types.ts
  client/landing/gutenboarding/components/domain-picker-button/index.tsx
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/components/link/index.tsx
  client/landing/gutenboarding/constants.ts
  client/landing/gutenboarding/hooks/use-track-modal.ts
  client/landing/gutenboarding/hooks/use-track-step.ts
  client/landing/gutenboarding/index.tsx
  client/landing/gutenboarding/onboarding-block/design-selector/index.tsx
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/onboarding-block/index.ts
  client/landing/gutenboarding/onboarding-block/style-preview/index.tsx
  client/landing/gutenboarding/onboarding-block/style-preview/preview.tsx
  client/landing/gutenboarding/onboarding-block/style-preview/viewport-select.tsx
  client/landing/gutenboarding/path.ts
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/index.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  client/landing/gutenboarding/stores/onboard/selectors.ts
  client/landing/gutenboarding/stores/onboard/types.ts
  client/landing/gutenboarding/tsconfig.json
  client/landing/gutenboarding/utils/domain-suggestions.ts
  client/lib/interval/use-interval.ts
  client/lib/url/url-parts.ts
  client/lib/url/url-type.ts
  client/types.ts
Labels: Build, [Goal] Gutenboarding, [Status] Needs Review, [Type] Janitorial

#42355 Add p2 network
  client/blocks/reader-feed-header/index.jsx
  client/blocks/reader-feed-header/style.scss
  client/layout/sidebar/style.scss
  client/reader/a8c/main.jsx
  client/reader/controller.js
  client/reader/sidebar/index.jsx
  client/reader/sidebar/reader-sidebar-network/index.jsx
  client/reader/sidebar/reader-sidebar-network/list-item.jsx
  client/reader/sidebar/reader-sidebar-network/list.jsx
  client/reader/site-stream/index.jsx
  client/reader/team/main.jsx
  client/state/data-layer/wpcom/read/following/mine/utils.js
  client/state/data-layer/wpcom/seen-posts/status/unseen/all/index.js
  client/state/reader/action-types.js
  client/state/reader/follows/selectors/get-reader-follows-p2.js
  client/state/reader/seen-posts/actions.js
  client/state/reader/seen-posts/selectors.js
  client/state/ui/reader/sidebar/actions.js
  client/state/ui/reader/sidebar/reducer.js
Labels: [Status] Ready to Merge

#42514 Display a notice that when a domain is unavailable for domain-only searches
  client/components/domains/domain-search-results/index.jsx
Labels: [Status] Needs Review

#42702 FSE: Scaffold editor-domain-picker package
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/index.php
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/index.ts
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/package.json
  apps/full-site-editing/tsconfig.json
Labels: Domains, [Goal] Gutenboarding, [Status] Needs Review

#42763 Jetpack Cloud: Display a prompt to authorize if no access token is returned
  client/landing/jetpack-cloud/sections/auth/connect/index.tsx
  client/landing/jetpack-cloud/sections/auth/connect/style.scss
  client/landing/jetpack-cloud/sections/auth/controller.tsx
Labels: Jetpack Cloud, [Status] Needs Review

#42817 Checkout: add logging for system decider failures
  client/my-sites/checkout/checkout-system-decider.js
Labels: Checkout, [Status] Needs Review

#42734 Premium Content: Add Tracks events.
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/edit.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/stripe-nudge.js
  apps/wpcom-block-editor/src/wpcom/features/tracking/delegate-event-tracking.js
  apps/wpcom-block-editor/src/wpcom/features/tracking/wpcom-block-premium-content-plan-upgrade.js
  apps/wpcom-block-editor/src/wpcom/features/tracking/wpcom-block-premium-content-stripe-connect.js
Labels: Recurring Payments, [Status] Needs Review, [Type] Task

#42775 Jetpack Cloud: Restore Continue with Apple
  client/blocks/login/login-form.jsx
  client/blocks/login/social.jsx
Labels: Jetpack Cloud, Login, [Status] In Progress

#42853 Remove reference to Cloud in auth screen
  client/landing/jetpack-cloud/sections/auth/connect/index.tsx
Labels: Jetpack Cloud, [Size] S, [Status] Ready to Merge, [Type] Bug

#42791 FSE: update tips to the new blocks list design
  apps/full-site-editing/full-site-editing-plugin/block-inserter-modifications/contextual-tips/style.scss
Labels: [Status] Needs Review

#42852 composite-checkout: Consider empty plans/products to be loading state when adding items
  client/my-sites/checkout/composite-checkout/use-prepare-product-for-cart.js
Labels: Checkout, [Status] Ready to Merge

#42801 Data stores: Dissallow importsNotUsedAsValues
  packages/data-stores/src/auth/actions.ts
  packages/data-stores/src/auth/index.ts
  packages/data-stores/src/auth/reducer.ts
  packages/data-stores/src/auth/selectors.ts
  packages/data-stores/src/domain-suggestions/actions.ts
  packages/data-stores/src/domain-suggestions/index.ts
  packages/data-stores/src/domain-suggestions/reducer.ts
  packages/data-stores/src/domain-suggestions/resolvers.ts
  packages/data-stores/src/domain-suggestions/selectors.ts
  packages/data-stores/src/domain-suggestions/utils.ts
  packages/data-stores/src/mapped-types.ts
  packages/data-stores/src/plans/resolvers.ts
  packages/data-stores/src/plans/selectors.ts
  packages/data-stores/src/plans/types.ts
  packages/data-stores/src/site/actions.ts
  packages/data-stores/src/site/index.ts
  packages/data-stores/src/site/reducer.ts
  packages/data-stores/src/site/selectors.ts
  packages/data-stores/src/user/actions.ts
  packages/data-stores/src/user/index.ts
  packages/data-stores/src/user/reducer.ts
  packages/data-stores/src/user/resolvers.ts
  packages/data-stores/src/user/selectors.ts
  packages/data-stores/src/user/types.ts
  packages/data-stores/src/verticals-templates/actions.ts
  packages/data-stores/src/verticals-templates/index.ts
  packages/data-stores/src/verticals-templates/reducer.ts
  packages/data-stores/src/verticals-templates/resolvers.ts
  packages/data-stores/src/verticals-templates/selectors.ts
  packages/data-stores/src/verticals/actions.ts
  packages/data-stores/src/verticals/index.ts
  packages/data-stores/src/verticals/reducer.ts
  packages/data-stores/src/verticals/selectors.ts
  packages/data-stores/tsconfig.json
Labels: Build, Packages, [Status] Needs Review, [Type] Janitorial

#42790 Make the plans store tree-shakable
  client/landing/gutenboarding/components/plans/plans-button/index.tsx
  client/landing/gutenboarding/components/plans/plans-details/index.tsx
  client/landing/gutenboarding/components/plans/plans-grid/index.tsx
  client/landing/gutenboarding/components/plans/plans-modal/index.tsx
  client/landing/gutenboarding/components/plans/plans-table/index.tsx
  client/landing/gutenboarding/hooks/use-on-site-creation.ts
  client/landing/gutenboarding/hooks/use-selected-plan.ts
  client/landing/gutenboarding/onboarding-block/style-preview/index.tsx
  client/landing/gutenboarding/stores/plans/index.ts
  packages/data-stores/README.md
  packages/data-stores/src/plans/index.ts
  packages/data-stores/src/plans/persist.ts
  packages/data-stores/tsconfig-cjs.json
  packages/data-stores/tsconfig.json
Labels: Performance, [Goal] Gutenboarding, [Type] Janitorial

#42872 Help: Courses Nudge - Improve Colour Contrast
  client/me/help/help-teaser-button.scss
Labels: OSS Citizen, [Status] Needs Review

#42754 Jetpack Cloud: truncate long translation strings in sidebar items
  client/landing/jetpack-cloud/components/sidebar/style.scss
Labels: Jetpack, Jetpack Cloud, [Status] Needs Review

#42103 Fix: unexpected .blog subdomain suggestions
  client/signup/config/dotblog-verticals.js
  client/signup/controller.js
  client/signup/index.web.js
  client/signup/steps/domains/index.jsx
Labels: Domains, Signup, [Status] Needs Review

#42820 Changes link in My Plan depending on Cloud eligibility
  client/my-sites/plans/current-plan/purchases-listing.jsx
  client/state/data-layer/wpcom/sites/rewind/api-transformer.js
  client/state/data-layer/wpcom/sites/rewind/schema.js
  client/state/selectors/is-jetpack-cloud-eligible.js
Labels: Jetpack Cloud, [Status] Needs Review, [Type] Enhancement

#42884 Deduplicate w3c-hr-time
  yarn.lock
Labels: Expedited Review, Framework, [Status] Needs Review

#42849 WPCOM-BE: Skip launch button when FSE handled
  apps/wpcom-block-editor/src/calypso/features/gutenboarding-editor-overrides.js
Labels: [Goal] Gutenboarding

#42782 Jetpack Scan: Make it available on production to purchase
  config/desktop.json
  config/production.json
Labels: Jetpack, Jetpack Cloud, Plans, [Status] Needs Review

#42821 composite-checkout: Refactor contact validation to separate out side effects
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/contact-validation.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/types/backend/domain-contact-validation-endpoint.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/wpcom-store-state.ts
Labels: Checkout, [Status] Needs Review

#42819 Jetpack Cloud: track new events
  client/landing/jetpack-cloud/components/log-item/index.tsx
  client/landing/jetpack-cloud/components/masterbar/index.jsx
  client/landing/jetpack-cloud/components/profile-dropdown/index.tsx
  client/landing/jetpack-cloud/components/scan-threats/index.tsx
  client/landing/jetpack-cloud/components/threat-item/index.tsx
  client/landing/jetpack-cloud/lib/use-track-callback.ts
  client/landing/jetpack-cloud/sections/backups/rewind-flow/download.tsx
Labels: Jetpack Cloud, [Status] Needs Review

#42842 Domains: Update TXT record error messages
  client/my-sites/domains/domain-management/dns/txt-record.jsx
Labels: Domains, [Status] Needs Review

#42850 FSE: Handle Gutenboarding launch button
  apps/full-site-editing/full-site-editing-plugin/editor-gutenboarding-launch/index.php
  apps/full-site-editing/full-site-editing-plugin/editor-gutenboarding-launch/index.scss
  apps/full-site-editing/full-site-editing-plugin/editor-gutenboarding-launch/index.ts
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/package.json
  package.json
  yarn.lock
Labels: [Goal] Gutenboarding

#42806 composite-checkout: Jump to payment method step if contact details are prefilled
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-contact-form.js
  packages/composite-checkout/README.md
  packages/composite-checkout/src/components/checkout-steps.js
  packages/composite-checkout/src/public-api.js
Labels: Checkout, [Status] Needs Review

#42854 Checkout: add summary business plan features
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-summary.js
  client/my-sites/checkout/composite-checkout/wpcom/hooks/has-plan.js
Labels: Checkout, [Status] Ready to Merge

#42894 Adds Backup and Scan link to sidebar when Cloud is enabled
  client/my-sites/sidebar/index.jsx
Labels: Jetpack Cloud, Sidebar, [Size] M, [Status] Needs Review

#42501 Only load styles and script if the block is in use
  apps/full-site-editing/full-site-editing-plugin/posts-list-block/class-posts-list-block.php
Labels: [Goal] Full Site Editing, [Status] Ready to Merge, [Type] Enhancement

#42868 Standardize (external) media libraries labels
  client/components/tinymce/plugins/insert-menu/menu-items.jsx
  client/my-sites/media-library/data-source.jsx
  client/post-editor/editor-html-toolbar/index.jsx
Labels: Media, [Status] Needs Review

#42883 Deduplicate yargs
  yarn.lock
Labels: Expedited Review, Framework, [Status] Needs Review

#42886 Disable automatic `yarn deduplicate` in Renovate config
  renovate.json
Labels: Expedited Review, Framework, [Status] Needs Review

#42918 FSE: Remove function args trailing comma
  apps/full-site-editing/full-site-editing-plugin/editor-gutenboarding-launch/index.php
Labels: [Type] Bug

#42796 White glove: Rename 'Quick Start' in plan features.
  client/blocks/product-purchase-features-list/business-onboarding.jsx
  client/blocks/product-purchase-features-list/index.jsx
Labels: Signup, [Status] Needs Review, [Team] MarTech

#42888 Enable RUM tracking in prod to 5% users
  client/lib/abtest/README.md
  client/lib/abtest/active-tests.js
  client/lib/performance-tracking/const.js
  client/lib/performance-tracking/performance-tracker-start.js
  client/lib/performance-tracking/test/performance-tracker-start.js
  client/lib/performance-tracking/test/use-performance-tracker-stop.js
  client/lib/performance-tracking/use-performance-tracker-stop.js
  config/production.json
  packages/browser-data-collector/src/index.ts
  packages/browser-data-collector/src/should-send.ts
Labels: Performance, [Status] Needs Review

#42795 White glove: Rename 'Quick Start' in the concierge booking form
  client/blocks/product-purchase-features-list/business-onboarding.jsx
  client/blocks/product-purchase-features-list/index.jsx
  client/me/concierge/book/info-step.js
  client/me/concierge/main.js
  client/me/concierge/shared/no-available-times.js
  client/me/concierge/shared/primary-header.js
Labels: Signup, [Status] Needs Review, [Team] MarTech

#42794 White glove: Add selector to identify a white glove site
  client/blocks/product-purchase-features-list/business-onboarding.jsx
  client/blocks/product-purchase-features-list/index.jsx
  client/me/concierge/book/info-step.js
  client/me/concierge/main.js
  client/me/concierge/shared/no-available-times.js
  client/me/concierge/shared/primary-header.js
  client/state/selectors/is-site-white-glove.js
  client/state/selectors/test/is-site-white-glove.js
  client/state/sites/constants.js
Labels: Signup, [Status] Needs Review, [Team] MarTech

#42829 Disable PostCSS-custom-properties in development
  client/postcss.config.js
  client/webpack.config.js
Labels: Build, Performance, [Status] Needs Review, [Type] Janitorial

#42887 G Suite: Improves the logic for `hasGSuiteWithUs` to consider the default value as a negative case
  client/lib/gsuite/index.js
  client/lib/gsuite/test/index.js
Labels: G Suite, [Status] Ready to Merge

#42793 White glove: Modify Thank You page
  client/blocks/product-purchase-features-list/business-onboarding.jsx
  client/blocks/product-purchase-features-list/index.jsx
  client/me/concierge/book/info-step.js
  client/me/concierge/main.js
  client/me/concierge/shared/no-available-times.js
  client/me/concierge/shared/primary-header.js
  client/my-sites/checkout/checkout-thank-you/business-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/header.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
  client/state/selectors/is-site-white-glove.js
  client/state/selectors/test/is-site-white-glove.js
  client/state/sites/constants.js
Labels: Signup, [Status] Needs Review, [Team] MarTech

#42792 White glove: Show sidebar nudge
  client/blocks/product-purchase-features-list/business-onboarding.jsx
  client/blocks/product-purchase-features-list/index.jsx
  client/me/concierge/book/info-step.js
  client/me/concierge/main.js
  client/me/concierge/shared/no-available-times.js
  client/me/concierge/shared/primary-header.js
  client/my-sites/checkout/checkout-thank-you/business-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/header.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
  client/my-sites/current-site/notice.jsx
  client/state/selectors/is-site-white-glove.js
  client/state/selectors/test/is-site-white-glove.js
  client/state/sites/constants.js
Labels: [Status] Needs Review, [Team] MarTech

#42808 Update/add earn banner to customer home
  client/assets/images/customer-home/illustration--business.svg
  client/assets/images/customer-home/illustration--task-earn.svg
  client/my-sites/customer-home/cards/constants.js
  client/my-sites/customer-home/cards/education/earn/index.jsx
  client/my-sites/customer-home/cards/education/educational-content/index.jsx
  client/my-sites/customer-home/cards/education/educational-content/style.scss
  client/my-sites/customer-home/cards/tasks/earn-features/index.jsx
  client/my-sites/customer-home/locations/primary/index.jsx
  client/my-sites/customer-home/locations/secondary/learn-grow/index.jsx
Labels: [Status] Needs Review, [Status] String Freeze

#42789 White glove: Modify product name in cart for the new checkout
  client/blocks/product-purchase-features-list/business-onboarding.jsx
  client/blocks/product-purchase-features-list/index.jsx
  client/me/concierge/book/info-step.js
  client/me/concierge/main.js
  client/me/concierge/shared/no-available-times.js
  client/me/concierge/shared/primary-header.js
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/checkout-thank-you/business-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/header.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/types/paypal-express.ts
  client/my-sites/checkout/composite-checkout/types/transaction-endpoint.ts
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
  client/my-sites/checkout/composite-checkout/use-prepare-product-for-cart.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/current-site/notice.jsx
  client/state/selectors/is-site-white-glove.js
  client/state/selectors/test/is-site-white-glove.js
  client/state/sites/constants.js
Labels: Checkout, Signup, [Status] Needs Review, [Team] MarTech

#42788 White glove: Modify product name in cart for the old checkout
  client/blocks/product-purchase-features-list/business-onboarding.jsx
  client/blocks/product-purchase-features-list/index.jsx
  client/lib/store-transactions/index.js
  client/me/concierge/book/info-step.js
  client/me/concierge/main.js
  client/me/concierge/shared/no-available-times.js
  client/me/concierge/shared/primary-header.js
  client/my-sites/checkout/cart/cart-body/index.jsx
  client/my-sites/checkout/cart/cart-item.jsx
  client/my-sites/checkout/cart/cart-items.jsx
  client/my-sites/checkout/cart/secondary-cart.jsx
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/checkout-thank-you/business-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/header.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/my-sites/checkout/checkout/checkout-container.jsx
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/checkout/paypal-payment-box.jsx
  client/my-sites/checkout/checkout/redirect-payment-box.jsx
  client/my-sites/checkout/checkout/secure-payment-form.jsx
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/types/paypal-express.ts
  client/my-sites/checkout/composite-checkout/types/transaction-endpoint.ts
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
  client/my-sites/checkout/composite-checkout/use-prepare-product-for-cart.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/controller.jsx
  client/my-sites/current-site/notice.jsx
  client/state/selectors/is-site-white-glove.js
  client/state/selectors/test/is-site-white-glove.js
  client/state/sites/constants.js
Labels: Signup, [Status] Needs Review, [Team] MarTech

#42851 Jetpack Cloud: Collapse the sidebar 'threats' badge on narrower layouts
  client/landing/jetpack-cloud/components/scan-badge/index.tsx
  client/landing/jetpack-cloud/components/scan-badge/style.scss
Labels: Jetpack Cloud, [Status] Ready to Merge

#42746 Domain Picker: Extract train tracks to calypso-analytics
  client/landing/gutenboarding/components/domain-picker-button/index.tsx
  client/landing/gutenboarding/components/domain-picker-modal/index.tsx
  client/landing/gutenboarding/components/domain-picker-popover/index.tsx
  client/landing/gutenboarding/lib/analytics/index.ts
  packages/calypso-analytics/src/index.ts
  packages/calypso-analytics/src/train-tracks.ts
  packages/domain-picker/package.json
  packages/domain-picker/src/domain-picker/index.tsx
  packages/domain-picker/src/domain-picker/suggestion-item.tsx
Labels: Analytics, [Goal] Gutenboarding, [Type] Janitorial

#42903 e2e: update chromedriver for local use
  test/e2e/package.json
  yarn.lock
Labels: [Status] Needs Review

#42307 Jetpack Search: Add upgrade notice to the Thank you modal for pre-8.4 Jetpack versions.
  client/my-sites/plans/current-plan/current-plan-thank-you/search-thank-you.js
  client/my-sites/plans/current-plan/current-plan-thank-you/thank-you.js
  client/my-sites/plans/current-plan/index.jsx
Labels: Jetpack Search, Post Checkout, [Status] Needs Review

#42131 Checkout: add product info in the props of the checkout pageview event
  client/my-sites/checkout/checkout/index.jsx
Labels: Analytics, [Status] Needs Review, [Type] Enhancement

#42855 Sidebar: Don't show addtl domain upsell notice for Jetpack sites
  client/my-sites/current-site/notice.jsx
Labels: Domains, [Status] Needs Review, [Type] Bug

#42867 Replace build-packages:watch to only rebuild changed package
  bin/build-package-containing-file.js
  package.json
Labels: Build, Packages, [Status] Needs Review

#42948 CartStore: Replace reload update with fetch
  client/lib/cart/store/index.js
Labels: Checkout, [Status] Needs Review

#42893 Fix add payment method button when no selected site
  client/me/purchases/manage-purchase/auto-renew-toggle/index.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
Labels: Domains, [Status] Needs Review

#42648 Inline Help: add `location` property to records tracks event
  client/blocks/inline-help/index.jsx
  client/blocks/inline-help/inline-help-forum-view.jsx
  client/blocks/inline-help/inline-help-rich-result.jsx
  client/blocks/inline-help/inline-help-search-card.jsx
  client/blocks/inline-help/popover.jsx
  client/my-sites/customer-home/cards/features/help-search/search-card.jsx
Labels: Stats, Support, [Status] Needs Review

#42866 Checkout: update initial view of review step
  client/my-sites/checkout/composite-checkout/test/composite-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/coupon.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  packages/composite-checkout/README.md
  packages/composite-checkout/demo/index.js
  packages/composite-checkout/src/components/checkout-steps.js
  packages/composite-checkout/test/checkout.js
Labels: Checkout, [Status] Needs Review

#42541 Earn page updates: adding Premium Content block card and updating cop…
  client/assets/images/earn/premium-content.svg
  client/my-sites/earn/home.tsx
Labels: [Status] Needs Review, [Status] String Freeze

#42908 composite-checkout: Account for product volume when highlighting discounts
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/wpcom/lib/translate-cart.ts
  client/my-sites/checkout/composite-checkout/wpcom/test/shopping-cart-endpoint.js
  client/my-sites/checkout/composite-checkout/wpcom/types/backend/shopping-cart-endpoint.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/checkout-cart.ts
Labels: Checkout, [Status] Needs Review

#42940 Jetpack Checklist Modal: Start Progress Bar at 10%
  client/my-sites/plans/current-plan/current-plan-thank-you/paid-plan-thank-you.js
Labels: OSS Citizen

#42905 composite-checkout: Show/hide taxes when payment method is free
  client/my-sites/checkout/composite-checkout/test/composite-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/test/shopping-cart-endpoint.js
  client/my-sites/checkout/composite-checkout/wpcom/types/backend/shopping-cart-endpoint.ts
Labels: Checkout, [Status] Ready to Merge

#42958 Checkout: bump the date for the composite checkout test
  client/lib/abtest/active-tests.js
Labels: Checkout, [Status] Ready to Merge

#42967 Fixing premium content block link in Earn
  client/my-sites/earn/home.tsx
Labels: [Status] Needs Review

#42963 Jetpack Cloud: Refine Logic for Home Redirect
  client/landing/jetpack-cloud/sections/home.tsx
Labels: Jetpack Cloud, [Status] Needs Review

#42969 Add information about newspack blocks
  apps/full-site-editing/README.md
Labels: Documentation

#42970 Editor: Remove 1 June date from deprecation notices
  client/my-sites/customer-home/cards/tasks/deprecate-editor/index.jsx
  client/post-editor/editor-deprecation-dialog/index.jsx
Labels: [Status] Needs Review

#42716 Modularise countries state
  client/state/countries/actions.js
  client/state/countries/init.js
  client/state/countries/package.json
  client/state/countries/reducer.js
  client/state/reducer.js
  client/state/selectors/get-countries.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#42747 My Home Help Search - fix to only show "searching" UI for valid queries
  client/state/inline-help/actions.js
Labels: Customer Home, [Status] Needs Review, [Type] Bug

#42933 FSE: Include style overrides for gutenboarding launch
  apps/full-site-editing/full-site-editing-plugin/editor-gutenboarding-launch/index.scss
  apps/full-site-editing/full-site-editing-plugin/editor-gutenboarding-launch/index.ts
Labels: [Goal] Gutenboarding

#42878 FSE: Gutenboarding launch save on exit
  apps/full-site-editing/full-site-editing-plugin/editor-gutenboarding-launch/index.php
  apps/full-site-editing/full-site-editing-plugin/editor-gutenboarding-launch/index.ts
Labels: [Goal] Gutenboarding, [Status] Ready to Merge

#42764 Move plans UI into a package
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/components/plans-button/index.tsx
  client/landing/gutenboarding/components/plans-button/style.scss
  client/landing/gutenboarding/components/plans-modal/index.tsx
  client/landing/gutenboarding/components/plans-modal/style.scss
  client/landing/gutenboarding/onboarding-block/plans/index.tsx
  client/package.json
  packages/data-stores/src/plans/index.ts
  packages/data-stores/src/plans/selectors.ts
  packages/plans-grid/.eslintrc.js
  packages/plans-grid/package.json
  packages/plans-grid/src/badge/index.tsx
  packages/plans-grid/src/badge/style.scss
  packages/plans-grid/src/base-styles.scss
  packages/plans-grid/src/functions.scss
  packages/plans-grid/src/index.ts
  packages/plans-grid/src/mixins.scss
  packages/plans-grid/src/plans-details/index.tsx
  packages/plans-grid/src/plans-details/style.scss
  packages/plans-grid/src/plans-grid/index.tsx
  packages/plans-grid/src/plans-grid/style.scss
  packages/plans-grid/src/plans-table/index.tsx
  packages/plans-grid/src/plans-table/plan-item.tsx
  packages/plans-grid/src/plans-table/style.scss
  packages/plans-grid/src/titles/index.tsx
  packages/plans-grid/src/titles/style.scss
  packages/plans-grid/src/variables.scss
  packages/plans-grid/tsconfig-cjs.json
  packages/plans-grid/tsconfig.json
Labels: Plans, [Goal] Gutenboarding, [Status] Ready to Merge

#42938 Gutenboarding: Add desktop preview min-height
  client/landing/gutenboarding/onboarding-block/style-preview/style.scss
Labels: Design, [Goal] Gutenboarding

#42915 Pausing Plans-Domains swap AB test
  client/lib/abtest/active-tests.js
Labels: [Status] Needs Review

#42937 Domains: Add Personal plan to cart when upgrade is clicked
  client/my-sites/domains/controller.jsx
  client/my-sites/domains/domain-search/index.jsx
Labels: Domains, [Status] Needs Review

#41291 Modularise preferences state
  client/blocks/upwork-banner/test/index.js
  client/landing/login/store.js
  client/state/preferences/actions.js
  client/state/preferences/init.js
  client/state/preferences/package.json
  client/state/preferences/reducer.js
  client/state/preferences/selectors.js
  client/state/reducer.js
Labels: Performance, State, [Status] Needs Review, [Type] Janitorial

#41812 Modularise sites plans selectors
  client/state/sites/plans/selectors.js
  client/state/sites/plans/selectors/get-current-plan.js
  client/state/sites/plans/selectors/get-plan-discounted-raw-price.js
  client/state/sites/plans/selectors/get-plan-raw-discount.js
  client/state/sites/plans/selectors/get-plans-by-site.js
  client/state/sites/plans/selectors/get-site-plan-raw-price.js
  client/state/sites/plans/selectors/get-site-plan-slug.js
  client/state/sites/plans/selectors/get-site-plan.js
  client/state/sites/plans/selectors/has-domain-credit.js
  client/state/sites/plans/selectors/has-feature.js
  client/state/sites/plans/selectors/index.js
  client/state/sites/plans/selectors/is-current-plan-expiring.js
  client/state/sites/plans/selectors/is-current-user-current-plan-owner.js
  client/state/sites/plans/selectors/is-requesting-site-plans.js
  client/state/sites/plans/selectors/is-site-plan-discounted.js
  client/state/sites/plans/selectors/package.json
Labels: Sites, State, [Status] Needs Review, [Type] Janitorial

#41684 Modularise form state
  client/components/redux-forms/redux-form-fieldset/index.jsx
  client/components/redux-forms/redux-form-radio/index.jsx
  client/components/redux-forms/redux-form-select/index.jsx
  client/components/redux-forms/redux-form-text-input/index.jsx
  client/components/redux-forms/redux-form-textarea/index.jsx
  client/components/redux-forms/redux-form-toggle/index.jsx
  client/components/tinymce/plugins/simple-payments/dialog/form.jsx
  client/components/tinymce/plugins/simple-payments/dialog/index.jsx
  client/extensions/zoninator/components/forms/zone-content-form/index.jsx
  client/extensions/zoninator/components/forms/zone-details-form/index.jsx
  client/extensions/zoninator/state/data-layer/feeds/index.js
  client/extensions/zoninator/state/data-layer/feeds/test/index.js
  client/extensions/zoninator/state/data-layer/zones/index.js
  client/state/form/README.md
  client/state/form/init.js
  client/state/form/package.json
  client/state/form/reducer.js
  client/state/memberships/connected-accounts/actions.js
  client/state/reducer.js
  client/state/selectors/get-edited-simple-payments-stripe-account.js
  client/state/selectors/is-edited-simple-payments-recurring.js
Labels: Performance, State, [Status] Needs Review, [Type] Janitorial

#41932 Modularise purchases state
  client/state/purchases/actions.js
  client/state/purchases/init.js
  client/state/purchases/package.json
  client/state/purchases/reducer.js
  client/state/purchases/selectors.js
  client/state/reducer.js
  client/state/selectors/get-user-purchased-premium-themes.js
  client/state/selectors/has-cancelable-site-purchases.js
  client/state/selectors/has-cancelable-user-purchases.js
Labels: Purchases, State, [Status] Needs Review, [Type] Janitorial

#42939 Instrument reader pages
  client/blocks/conversations/empty.jsx
  client/blocks/reader-full-post/index.jsx
  client/reader/liked-stream/empty.jsx
  client/reader/search-stream/empty.jsx
  client/reader/stream/empty.jsx
  client/reader/stream/index.jsx
  client/reader/tag-stream/empty.jsx
  client/sections.js
Labels: Performance, [Status] Needs Review

#42942 My Home: update learn and grow illustrations for consistency
  client/assets/images/customer-home/illustration--free-photo-library.svg
  client/assets/images/customer-home/illustration--secondary-earn.svg
  client/assets/images/customer-home/illustration--secondary-free-photo-library.svg
  client/assets/images/customer-home/illustration--secondary-gutenberg.svg
  client/my-sites/customer-home/cards/education/earn/index.jsx
  client/my-sites/customer-home/cards/education/free-photo-library/index.jsx
  client/my-sites/customer-home/cards/education/mastering-gutenberg/index.jsx
Labels: Customer Home, [Status] Needs Review

#42977 Gutenboarding: Fix welcome modal styling issues on Gutenberg 8.2.
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nux/src/style.scss
Labels: [Goal] Gutenboarding

#42953 e2e: Fix some e2e tests
  test/e2e/lib/flows/login-flow.js
  test/e2e/lib/gutenberg/blocks/contact-form-block-component.js
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/lib/pages/view-page-page.js
  test/e2e/lib/pages/view-post-page.js
  test/e2e/specs/wp-signup-spec.js
Labels: [Status] Needs Review

#42909 FSE: Update Newspack to 1.7.0
  apps/full-site-editing/full-site-editing-plugin/newspack-blocks/index.php
  apps/full-site-editing/package.json
  yarn.lock
Labels: [Goal] Full Site Editing, [Status] Needs Review

#42830 Domains: Adds mgmt routes that differentiates between domains of different types but same name
  client/lib/domains/get-selection-domain.js
  client/my-sites/domains/domain-management/controller.jsx
  client/my-sites/domains/domain-management/edit/site-redirect.jsx
  client/my-sites/domains/domain-management/index.jsx
  client/my-sites/domains/domain-management/list/index.jsx
  client/my-sites/domains/index.js
  client/my-sites/domains/paths.js
Labels: Domains, [Status] Needs Review

#42954 Domains: Add link to manage all domains
  client/my-sites/domains/domain-management/list/index.jsx
Labels: Domains, [Status] Needs Review

#42957 Jetpack cloud: Prevent failed prop type warning in ExpandableSidebarHeading
  client/layout/sidebar/expandable-heading.jsx
  client/layout/sidebar/expandable.jsx
Labels: Jetpack Cloud, [Status] Needs Review, [Type] Bug

#42992 Revert "My Home: Try updating card mapping for Support card"
  client/my-sites/customer-home/cards/constants.js
  client/my-sites/customer-home/locations/tertiary/manage-site/index.jsx
Labels: [Status] Needs Review

#42959 Replace chokidar-cli package watcher with node version
  bin/build-package-containing-file.js
  bin/watch-packages-and-rebuild.js
  package.json
Labels: Build, Packages, [Status] Needs Review

#42761 FSE: Add Block Pattern Categories
  apps/full-site-editing/full-site-editing-plugin/block-patterns/class-block-patterns.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/call-to-action-02.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/collage-gallery.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/contact-02.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/contact-03.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/contact.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/description-and-image.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/food-menu.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/headline-02.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/headline.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/image-and-description.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/image-and-text.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/masonry-gallery.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/numbers.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/recent-posts-02.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/recent-posts.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/three-columns-and-image.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/three-images-side-by-side.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/two-images-and-quote.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/two-images-side-by-side.php
Labels: Patterns, [Goal] Gutenberg, [Status] Needs Review

#42923 FSE: Add PHPCS for 7.2+ version compatibility
  apps/phpcs.xml
  composer.json
  composer.lock
Labels: [Type] Enhancement, [Type] Janitorial

#42934 WPCOM BE: Remove Gutenboarding feature
  apps/wpcom-block-editor/src/calypso/editor.js
  apps/wpcom-block-editor/src/calypso/features/gutenboarding-editor-overrides.js
  apps/wpcom-block-editor/src/calypso/features/gutenboarding-editor-overrides.scss
Labels: [Goal] Gutenboarding

#42995 Gutenboarding: update default plan pre-selection
  client/landing/gutenboarding/components/plans-button/index.tsx
  client/landing/gutenboarding/components/plans-modal/index.tsx
  client/landing/gutenboarding/onboarding-block/plans/index.tsx
  packages/data-stores/src/plans/selectors.ts
  packages/plans-grid/src/plans-grid/index.tsx
Labels: Plans, [Goal] Gutenboarding, [Status] Needs Review

#43008 Active tests: new slug for gutenboarding
  client/lib/abtest/active-tests.js
Labels: [Goal] Gutenboarding

#42920 Update/update moment
  client/lib/query-manager/media/test/index.js
  client/lib/query-manager/post/test/index.js
  client/package.json
  package.json
  yarn.lock
Labels: Expedited Review, [Status] Needs Review

#42931 WPCOM BE: Add isFseGutenboarding
  apps/wpcom-block-editor/src/calypso/editor.js
  apps/wpcom-block-editor/src/calypso/features/gutenboarding-editor-overrides.js
  apps/wpcom-block-editor/src/calypso/features/gutenboarding-editor-overrides.scss
  apps/wpcom-block-editor/src/calypso/features/iframe-bridge-server.js
Labels: [Status] Ready to Merge

#43011 Gutenboarding: use default redirect after launch
  client/signup/config/flows.js
Labels: Launch, [Goal] Gutenboarding

#42569 Improve 2fa push fix from #42504
  client/state/login/actions/push/impl.js
  client/state/login/actions/push/index.js
  client/state/login/actions/push/package.json
Labels: [Status] Needs Review, [Type] Janitorial

#42260 Modularise terms state
  client/state/reducer.js
  client/state/terms/actions.js
  client/state/terms/init.js
  client/state/terms/package.json
  client/state/terms/reducer.js
  client/state/terms/selectors.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#42290 Split up lib/formatting
  client/lib/formatting/capital-p-dangit.js
  client/lib/formatting/decode-entities.js
  client/lib/formatting/decode/browser.js
  client/lib/formatting/decode/node.js
  client/lib/formatting/decode/package.json
  client/lib/formatting/decode/test/browser.js
  client/lib/formatting/decode/test/node.js
  client/lib/formatting/has-gutenberg-blocks.js
  client/lib/formatting/index.js
  client/lib/formatting/interpose.js
  client/lib/formatting/package.json
  client/lib/formatting/parse-html.js
  client/lib/formatting/prevent-widows.js
  client/lib/formatting/removep.js
  client/lib/formatting/strip-html.js
  client/lib/formatting/unescape-and-format-spaces.js
  client/lib/formatting/wpautop.js
  client/lib/user/shared-utils.js
Labels: Performance, [Status] Needs Review, [Type] Janitorial

#42981 Modularise country states state
  client/state/country-states/actions.js
  client/state/country-states/init.js
  client/state/country-states/package.json
  client/state/country-states/reducer.js
  client/state/country-states/selectors.js
  client/state/reducer.js
Labels: State, [Type] Janitorial

#43005 Add NetworkInformation API
  packages/browser-data-collector/src/api/network-information.ts
  packages/browser-data-collector/src/collectors/index.ts
  packages/browser-data-collector/src/collectors/network-information.ts
  packages/browser-data-collector/src/report.ts
  packages/browser-data-collector/src/types.d.ts
Labels: Performance, [Status] Needs Review

#43015 Editor: Temporarily use a 1 July date in old translations of the deprecation notice
  client/my-sites/customer-home/cards/tasks/deprecate-editor/index.jsx
  client/post-editor/editor-deprecation-dialog/index.jsx
Labels: i18n

#43012 Remove async loading of lib/user/utils as it confuses webpack
  client/lib/wpcom-xhr-wrapper/index.js
Labels: [Status] Needs Review

#43009 Add missing peer dependency
  package.json
Labels: Expedited Review, Framework, [Status] Needs Review

#42930 Initial data layer and data query component for `/all-domains` endpoint
  client/components/data/query-all-domains/README.md
  client/components/data/query-all-domains/index.jsx
  client/my-sites/domains/domain-management/list/list-all.jsx
  client/state/action-types.js
  client/state/all-domains/actions.js
  client/state/all-domains/init.js
  client/state/all-domains/package.json
  client/state/all-domains/reducer.js
  client/state/all-domains/schema.js
  client/state/data-layer/wpcom/all-domains/index.js
  client/state/data-layer/wpcom/all-domains/test/index.js
  client/state/selectors/is-requesting-all-domains.js
Labels: Domains, [Status] Needs Review

#40274 Media: Remove media library selected items store and data component
  client/components/data/media-library-selected-data/README.md
  client/components/data/media-library-selected-data/index.jsx
  client/lib/media/library-selected-store.js
  client/lib/media/test/library-selected-store.js
Labels: Media, State, [Status] Needs Review, [Type] Janitorial

#42996 FSE: Fix typo in contributor usernames
  apps/full-site-editing/full-site-editing-plugin/readme.txt
Labels: [Type] Bug

#42783 Create white glove AB test
  client/blocks/product-purchase-features-list/business-onboarding.jsx
  client/blocks/product-purchase-features-list/index.jsx
  client/lib/abtest/active-tests.js
  client/lib/store-transactions/index.js
  client/me/concierge/book/info-step.js
  client/me/concierge/main.js
  client/me/concierge/shared/no-available-times.js
  client/me/concierge/shared/primary-header.js
  client/my-sites/checkout/cart/cart-body/index.jsx
  client/my-sites/checkout/cart/cart-item.jsx
  client/my-sites/checkout/cart/cart-items.jsx
  client/my-sites/checkout/cart/secondary-cart.jsx
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/checkout-thank-you/business-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/header.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
  client/my-sites/checkout/checkout/checkout-container.jsx
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/checkout/paypal-payment-box.jsx
  client/my-sites/checkout/checkout/redirect-payment-box.jsx
  client/my-sites/checkout/checkout/secure-payment-form.jsx
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/types/paypal-express.ts
  client/my-sites/checkout/composite-checkout/types/transaction-endpoint.ts
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/controller.jsx
  client/my-sites/checkout/index.js
  client/my-sites/checkout/upsell-nudge/index.jsx
  client/my-sites/checkout/upsell-nudge/white-glove/checklist.jsx
  client/my-sites/checkout/upsell-nudge/white-glove/index.jsx
  client/my-sites/checkout/upsell-nudge/white-glove/style.scss
  client/my-sites/current-site/notice.jsx
  client/signup/config/flows.js
  client/state/selectors/is-site-white-glove.js
  client/state/selectors/test/is-site-white-glove.js
  client/state/sites/constants.js
  static/images/people/he-image402x.png
Labels: ABTest, Signup, [Status] Needs Review, [Status] Needs e2e Testing, [Team] MarTech

#42974 Jetpack Checklist Modal: Improve ProgressBar Value Readability
  client/my-sites/plans/current-plan/current-plan-thank-you/paid-plan-thank-you.js
Labels: Jetpack, OSS Citizen, Plans

#43018 Gutenboarding: update disabled primary button style in plans grid
  client/landing/gutenboarding/components/action-buttons/style.scss
  packages/plans-grid/src/plans-grid/style.scss
Labels: Design, [Goal] Gutenboarding

#43024 [e2e] Add Gutenboarding basic canary test
  test/e2e/specs/wp-gutenboarding-spec.js
Labels: Testing, [Goal] Gutenboarding, [Status] Needs e2e Testing

#43039 Gutenboarding: fix font-size
  client/assets/stylesheets/gutenboarding.scss
Labels: [Goal] Gutenboarding, [Status] Needs Review, [Type] Bug

#42968 composite-checkout: Remove custom localize module
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  packages/composite-checkout/README.md
  packages/composite-checkout/demo/index.js
  packages/composite-checkout/package.json
  packages/composite-checkout/src/components/checkout-modal.js
  packages/composite-checkout/src/components/checkout-order-summary.js
  packages/composite-checkout/src/components/checkout-payment-methods.js
  packages/composite-checkout/src/components/checkout-provider.js
  packages/composite-checkout/src/components/checkout-review-order.js
  packages/composite-checkout/src/components/checkout-steps.js
  packages/composite-checkout/src/components/loading-content.js
  packages/composite-checkout/src/components/payment-request-button.js
  packages/composite-checkout/src/lib/localize-context.js
  packages/composite-checkout/src/lib/localize.js
  packages/composite-checkout/src/lib/payment-methods/apple-pay.js
  packages/composite-checkout/src/lib/payment-methods/existing-credit-card.js
  packages/composite-checkout/src/lib/payment-methods/free-purchase.js
  packages/composite-checkout/src/lib/payment-methods/full-credits.js
  packages/composite-checkout/src/lib/payment-methods/paypal.js
  packages/composite-checkout/src/lib/payment-methods/stripe-credit-card-fields.js
  packages/composite-checkout/test/checkout-provider.js
  packages/composite-checkout/test/checkout.js
  packages/composite-checkout/test/localize.js
Labels: Checkout, [Status] Needs Review

#42913 Comments: fix max height of excerpt and prevent clipping
  client/blocks/comments/post-comment-content.scss
Labels: Comments, Reader, [Status] Needs Review

#42875 P2: Invite Link feature
  client/lib/invites/actions.js
  client/lib/wpcom-undocumented/lib/site.js
  client/my-sites/people/invite-people/index.jsx
  client/my-sites/people/invite-people/style.scss
  client/state/invites/actions.js
  client/state/invites/reducer.js
  client/state/invites/schema.js
  client/state/invites/selectors.js
Labels: [Status] Ready to Merge

#42983 Modularise atomic hosting state
  client/state/hosting/actions.js
  client/state/hosting/init.js
  client/state/hosting/package.json
  client/state/hosting/reducer.js
  client/state/reducer.js
  client/state/selectors/get-atomic-hosting-php-version.js
  client/state/selectors/get-atomic-hosting-sftp-users.js
Labels: Atomic, State, [Goal] Hosting Panel, [Status] Needs Review, [Type] Janitorial

#42980 My Home Support search card - aligns search results and focus state to heading
  client/my-sites/customer-home/cards/features/help-search/style.scss
Labels: Customer Home, [Status] Needs Design Review

#42897 Jetpack Cloud: fix the section property of the threat toggle event
  client/landing/jetpack-cloud/components/threat-item/index.tsx
Labels: Jetpack Cloud, [Status] Needs Review

#42885 Mailerlite subscriber popup widget
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/mailerlite/subscriber-popup.js
  apps/full-site-editing/full-site-editing-plugin/mailerlite/subscriber-popup.php
Labels: Mailchimp, [Status] Needs Review

#42556 Reader Lists: fetch list items
  client/components/data/query-reader-list-items/index.jsx
  client/state/data-layer/wpcom/read/lists/items/index.js
  client/state/reader/action-types.js
  client/state/reader/lists/actions.js
Labels: Reader, [Status] Needs Review

#42921 Use error code for media uploads instead of message matching
  client/state/media/reducer.js
  client/state/media/test/reducer.js
Labels: [Status] Needs Review, i18n

#42757 i18n: Fix `Sign Up` link not being translated on login page
  client/layout/masterbar/logged-out.jsx
Labels: [Status] Needs Review, i18n

#43067 composite-checkout: Add key prop to ListItemMeta inside GSuiteUsersList
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
Labels: Checkout, [Status] Needs Review, [Type] Bug

#43063 composite-checkout: Clarify label for full credit payment method
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
Labels: Checkout, [Status] Ready to Merge

#43043 Remove duration from StaleCartItemsNotice
  client/my-sites/current-site/stale-cart-items-notice.js
Labels: Checkout, [Status] Needs Review

#43066 Launch white glove offer A/B test to 10% EN-US
  client/lib/abtest/active-tests.js
Labels: Signup, [Status] Needs Review, [Team] MarTech

#42936 p2: remove ContractorSelect
  client/my-sites/people/edit-team-member-form/edit-user-form.jsx
  client/my-sites/people/invite-people/index.jsx
Labels: People Management, [Status] Needs Review

#43026 Checkout: pass locale to Stripe
  client/lib/stripe/index.js
  packages/composite-checkout/src/lib/payment-methods/stripe-credit-card-fields.js
Labels: Checkout, [Status] Needs Review

#43070 Fix missing yarn dependency for the eslint plugin
  apps/full-site-editing/bin/sync-newspack-blocks.sh
  apps/full-site-editing/full-site-editing-plugin/editor-gutenboarding-launch/index.ts
  apps/full-site-editing/full-site-editing-plugin/premium-content/index.js
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nav-sidebar/src/wpcom-block-editor-nav-sidebar.tsx
  apps/full-site-editing/package.json
Labels: [Type] Janitorial

#43035 composite-checkout: Display "Redirecting to PayPal…" when paypal is redirecting
  packages/composite-checkout/src/lib/payment-methods/paypal.js
Labels: Checkout, [Status] Ready to Merge

#42580 Separate out refund policy for new domain registrations and renewals
  client/lib/cart-values/cart-items.js
  client/lib/url/support.js
  client/my-sites/checkout/checkout/checkout-terms.jsx
  client/my-sites/checkout/checkout/domain-refund-policy.jsx
  client/my-sites/checkout/checkout/domain-registration-refund-policy.jsx
  client/my-sites/checkout/checkout/redirect-payment-box.jsx
  client/my-sites/checkout/checkout/wechat-payment-box.jsx
Labels: Checkout, Domains, [Status] Ready to Merge, [Status] String Freeze

#43042 composite-checkout: Use replaceState rather than hash when skipping contact step
  client/layout/masterbar/logged-in.jsx
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-contact-form.js
Labels: Checkout, [Status] Ready to Merge

#43044 composite-checkout: Replace coupon display with "Total savings"
  client/my-sites/checkout/composite-checkout/test/composite-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/wpcom/lib/translate-cart.ts
  client/my-sites/checkout/composite-checkout/wpcom/test/shopping-cart-endpoint.js
  client/my-sites/checkout/composite-checkout/wpcom/test/translate-cart.js
  client/my-sites/checkout/composite-checkout/wpcom/types/backend/shopping-cart-endpoint.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/checkout-cart.ts
Labels: Checkout, [Status] Ready to Merge

#39328 FSE Plugin: Add phpunit tests
  .github/workflows/full-site-editing-plugin.yml
  apps/full-site-editing/.wp-env.json
  apps/full-site-editing/full-site-editing-plugin/phpunit.xml.dist
  apps/full-site-editing/full-site-editing-plugin/phpunit/bootstrap.php
  apps/full-site-editing/full-site-editing-plugin/phpunit/class-is-fse-active-test.php
  apps/full-site-editing/package.json
  composer.json
  composer.lock
  package.json
  yarn.lock
Labels: [Goal] Full Site Editing, [Status] Needs Rebase, [Team] Cylon, [Tests] Includes Tests, [Type] Task

#43081 Move jetpack cloud lib to jetpack lib
  client/components/jetpack/daily-backup-status/index.jsx
  client/components/jetpack/masterbar/index.jsx
  client/components/jetpack/profile-dropdown/index.tsx
  client/components/jetpack/scan-threats/index.tsx
  client/components/jetpack/threat-item/index.tsx
  client/landing/jetpack-cloud/sections/backups/index.js
  client/landing/jetpack-cloud/sections/backups/rewind-flow/download.tsx
  client/landing/jetpack-cloud/sections/backups/rewind-flow/error.tsx
  client/landing/jetpack-cloud/sections/scan/history/index.jsx
  client/landing/jetpack-cloud/sections/scan/index.js
  client/landing/jetpack-cloud/sections/scan/main.tsx
  client/lib/jetpack/contact-support-url.js
  client/lib/jetpack/trigger-scan-run.ts
  client/lib/jetpack/use-threats.ts
  client/lib/jetpack/use-track-callback.ts
  client/lib/jetpack/wrap-in-site-offset.tsx
Labels: Jetpack Cloud, [Status] Needs Review

#42911 Add the basics for a new Donations block.
  apps/full-site-editing/full-site-editing-plugin/donations/donations.php
  apps/full-site-editing/full-site-editing-plugin/donations/edit.js
  apps/full-site-editing/full-site-editing-plugin/donations/index.js
  apps/full-site-editing/full-site-editing-plugin/donations/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/package.json
Labels: Earn, [Status] Needs Review

#43078 Try Jetpack Cloud Sections in WordPress.com
  client/my-sites/sidebar/constants.js
  client/my-sites/sidebar/index.jsx
  config/_shared.json
  config/development.json
  config/horizon.json
  config/wpcalypso.json
Labels: Jetpack Cloud, [Status] Needs Review

#43084 FSE plugin: Ignore dist directories in eslint config
  apps/full-site-editing/.eslintrc.js
Labels: [Type] Bug

#43080 Checkout: add summary features for each of the WP.com plans
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-summary.js
Labels: Checkout, [Status] Ready to Merge

#43089 Editor: Wait for editor selection before deciding editor to load
  client/post-editor/controller.js
Labels: [Status] Needs Review

#42984 Modularise shortcodes state
  client/state/reducer.js
  client/state/shortcodes/actions.js
  client/state/shortcodes/init.js
  client/state/shortcodes/package.json
  client/state/shortcodes/reducer.js
  client/state/shortcodes/selectors.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#42753 Modularise application state
  client/state/application/actions.js
  client/state/application/init.js
  client/state/application/package.json
  client/state/application/reducer.js
  client/state/application/selectors.js
  client/state/reducer.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#43069 Don't instantiate user at module level
  client/extensions/woocommerce/app/dashboard/setup/store-location.js
  client/lib/abtest/index.js
  client/lib/desktop/index.js
  client/lib/signup/step-actions/fetch-sites-and-user.js
  client/lib/signup/step-actions/index.js
  client/lib/translator-jumpstart/index.js
  client/lib/user-settings/index.js
  client/lib/user/README.md
  client/lib/username/index.js
  client/me/account/main.jsx
  client/me/form-base/index.js
  client/me/help/help-unverified-warning/index.jsx
  client/me/purchases/controller.jsx
  client/me/sidebar/index.jsx
  client/me/social-login/action-button.jsx
  client/my-sites/checkout/checkout-thank-you/atomic-store-thank-you-card.jsx
  client/my-sites/checkout/checkout-thank-you/google-apps-details.jsx
  client/my-sites/checkout/checkout-thank-you/jetpack-plan-details.jsx
  client/my-sites/invites/controller.js
  client/signup/config/flows.js
  client/signup/utils.js
  client/state/account/actions.js
  client/state/current-user/selectors.js
  client/state/initial-state.js
  client/state/lib/middleware.js
  client/state/login/actions/reboot-after-login.ts
Labels: [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#43058 Disable `save-exact` in NPM config
  .npmrc
Labels: [Status] Ready to Merge

#41799 Login block: Accept the user email as a prop
  client/blocks/login/index.jsx
  client/blocks/login/login-form.jsx
  client/blocks/login/style.scss
  client/login/wp-login/style.scss
Labels: Login, [Status] Ready to Merge

#42993 Help Search: Don't query for available support types
  client/my-sites/customer-home/cards/constants.js
  client/my-sites/customer-home/cards/features/help-search/index.jsx
  client/my-sites/customer-home/locations/tertiary/manage-site/index.jsx
Labels: [Status] Needs Review

#43096 Remove modularised application from login store
  client/landing/login/store.js
Labels: Login, State, [Status] Needs Review, [Type] Bug

#43090 Jetpack Cloud Config Refinement
  client/components/jetpack/scan-threats/index.tsx
  client/components/jetpack/sidebar/index.jsx
  client/landing/jetpack-cloud/sections/backups/index.js
  client/landing/jetpack-cloud/sections/scan/index.js
  client/landing/jetpack-cloud/sections/scan/main.tsx
  client/landing/jetpack-cloud/sections/settings/index.js
  config/_shared.json
  config/development.json
  config/horizon.json
  config/jetpack-cloud-development.json
  config/jetpack-cloud-horizon.json
  config/jetpack-cloud-production.json
  config/jetpack-cloud-stage.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: Jetpack Cloud, [Status] Needs Review

#43111 Jetpack Section: Add start-jetpack-section script for development purposes
  package.json
Labels: Jetpack Cloud, [Status] Needs Review
