Repository Automattic/wp-calypso, pull requests merged in 2020-12, with the labels that each got.

#47856 Add launch-only flow that skips domain and plans steps
  client/signup/config/flows-pure.js
  client/signup/controller.js
Labels: [Status] Needs Review

#47879 Hide Jetpack Search menu item in Jetpack Cloud
  client/components/jetpack/sidebar/menu-items/index.jsx
Labels: Jetpack Search, [Status] Needs Review

#47723 Add basic GB upgrade (regression) tests for the Premium Content block
  test/e2e/lib/gutenberg/blocks/index.js
  test/e2e/lib/gutenberg/blocks/premium-content-block-component.js
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/specs/wp-calypso-gutenberg-upgrade-spec.js
Labels: [Status] Needs e2e Testing, [Status] Ready to Merge

#47866 Update to node 12.19.1
  .circleci/config.yml
  .github/workflows/editing-toolkit-plugin.yml
  .github/workflows/icfy-stats.yml
  .nvmrc
  Dockerfile
  Dockerfile.base
  apps/editing-toolkit/README.md
  desktop/Dockerfile
  package.json
  packages/wp-babel-makepot/Dockerfile
Labels: [Status] Needs Review

#47742 Plugins: Reduxify plugin updates and autoupdates
  client/lib/plugins/README.md
  client/lib/plugins/actions.js
  client/my-sites/plugins/plugin-activate-toggle/test/index.jsx
  client/my-sites/plugins/plugin-autoupdate-toggle/index.jsx
  client/my-sites/plugins/plugin-autoupdate-toggle/test/index.jsx
  client/my-sites/plugins/plugin-autoupdate-toggle/test/mocks/actions.js
  client/my-sites/plugins/plugin-meta/index.jsx
  client/my-sites/plugins/plugin-site-update-indicator/index.jsx
  client/my-sites/plugins/plugins-list/index.jsx
  client/state/plugins/installed/actions.js
  client/state/plugins/installed/test/actions.js
Labels: Plugins, State, [Status] Needs Review, [Type] Enhancement

#47617 Rename Tracking ID to Measurement ID
  client/my-sites/site-settings/form-analytics.jsx
Labels: [Status] Needs Design Review, [Status] Needs Review

#47860 Plugins: Reduxify plugin installation and uninstallation
  client/lib/plugins/actions.js
  client/lib/plugins/test/actions.js
  client/my-sites/plugins/plugin-install-button/index.jsx
  client/my-sites/plugins/plugin-remove-button/index.jsx
  client/state/plugins/installed/actions.js
  client/state/plugins/installed/test/actions.js
Labels: Plugins, State, [Status] Needs Review, [Type] Enhancement

#47862 Components: Delete RemoveButton component
  client/components/remove-button/index.jsx
  client/components/remove-button/style.scss
  client/components/remove-button/test/index.js
Labels: Components, [Status] Needs Review, [Type] Janitorial

#47863 Components: Remove MiniSitePreview
  client/components/mini-site-preview/index.jsx
  client/components/mini-site-preview/style.scss
Labels: Components, [Status] Needs Review, [Type] Janitorial

#47538 Home: Podcast Launched Card
  client/my-sites/customer-home/cards/tasks/site-setup-list/current-task-item.jsx
  client/my-sites/customer-home/cards/tasks/site-setup-list/get-task.js
  client/my-sites/customer-home/cards/tasks/site-setup-list/index.jsx
Labels: [Status] Needs Review

#47865 State: Remove unused timezone selectors
  client/state/selectors/get-site-timezone-name.js
  client/state/selectors/get-timezones-by-continent.js
  client/state/selectors/get-timezones-labels-by-continent.js
  client/state/selectors/test/get-site-timezone-name.js
  client/state/selectors/test/get-timezones-by-continent.js
  client/state/selectors/test/get-timezones-labels-by-continent.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#47799 State: Remove unused posts selectors
  client/state/posts/selectors/get-edited-post-slug.js
  client/state/posts/selectors/index.js
  client/state/posts/selectors/is-edited-post-password-protected-with-valid-password.js
  client/state/posts/selectors/is-edited-post-password-protected.js
  client/state/posts/selectors/is-post-published.js
  client/state/posts/test/selectors.js
Labels: Posts, State, [Status] Needs Review, [Type] Janitorial

#47451 state(followers): move (email-)followers to redux
  client/components/data/email-followers-data/README.md
  client/components/data/email-followers-data/index.jsx
  client/components/data/followers-data/README.md
  client/components/data/followers-data/index.jsx
  client/components/data/query-followers/README.md
  client/components/data/query-followers/index.jsx
  client/lib/email-followers/README.md
  client/lib/email-followers/actions.js
  client/lib/email-followers/store.js
  client/lib/email-followers/test/lib/mock-actions.js
  client/lib/email-followers/test/lib/mock-email-followers.js
  client/lib/email-followers/test/lib/mock-more-email-followers.js
  client/lib/email-followers/test/lib/mock-site.js
  client/lib/email-followers/test/store.js
  client/lib/followers/README.md
  client/lib/followers/actions.js
  client/lib/followers/store.js
  client/lib/followers/test/lib/mock-actions.js
  client/lib/followers/test/lib/mock-site.js
  client/lib/followers/test/lib/mock-wpcom-followers1.js
  client/lib/followers/test/lib/mock-wpcom-followers2.js
  client/lib/followers/test/store.js
  client/lib/wpcom-undocumented/lib/site.js
  client/my-sites/people/followers-list/followers.jsx
  client/my-sites/people/followers-list/index.jsx
  client/my-sites/people/main.jsx
  client/state/data-layer/wpcom/followers/index.js
  client/state/followers/actions.js
  client/state/followers/init.js
  client/state/followers/package.json
  client/state/followers/reducer.js
  client/state/followers/selectors.js
  client/state/followers/test/reducer.js
  client/state/followers/test/selectors.js
  client/state/followers/test/utils.js
Labels: People Management, [Status] Needs Review

#47790 Focused-Launch: Fix styles for buttons on the Plan Details View
  packages/plans-grid/src/plans-table/style.scss
Labels: Launch, [Status] Needs Review

#47869 Checkout: update checkout styles to match Calypso
  packages/composite-checkout/src/components/button.tsx
  packages/composite-checkout/src/lib/swatches.ts
  packages/composite-checkout/src/lib/theme.ts
Labels: [Status] Needs Review

#47905 Modularise experiments state
  client/state/experiments/actions.ts
  client/state/experiments/init.js
  client/state/experiments/package.json
  client/state/experiments/reducer.ts
  client/state/experiments/selectors.ts
  client/state/reducer.js
Labels: State, [Status] Ready to Merge, [Type] Enhancement

#47903 Modularise site roles state
  client/state/reducer.js
  client/state/site-roles/actions.js
  client/state/site-roles/init.js
  client/state/site-roles/package.json
  client/state/site-roles/reducer.js
  client/state/site-roles/selectors.js
Labels: State, [Status] Ready to Merge, [Type] Enhancement

#47909 Fix Jetpack Cloud infinite loop (non-Jetpack sites bug)
  client/jetpack-cloud/index.js
  client/my-sites/controller.js
Labels: Jetpack Cloud, [Status] Needs Review, [Type] Bug

#47700 Cart: Add support for quantities
  client/lib/cart-values/index.js
  client/lib/cart-values/schema.json
  client/my-sites/checkout/composite-checkout/lib/translate-cart.ts
  client/my-sites/checkout/composite-checkout/types/checkout-cart.ts
  client/my-sites/checkout/composite-checkout/types/transaction-endpoint.ts
  packages/shopping-cart/src/cart-functions.ts
  packages/shopping-cart/src/create-request-cart-product.ts
  packages/shopping-cart/src/shopping-cart-endpoint.ts
Labels: Shopping Cart, [Status] Needs Review

#47750 Activity Log, Jetpack Backup, Jetpack Scan, Jetpack Cloud: Show 'not authorized' page for non-admins
  client/components/jetpack/current-user-has-capabilities-switch/index.tsx
  client/components/jetpack/is-current-user-admin-switch/index.tsx
  client/components/jetpack/not-authorized-page/index.tsx
  client/components/jetpack/render-switch/index.tsx
  client/components/jetpack/sidebar/menu-items/index.jsx
  client/components/jetpack/sidebar/menu-items/jetpack-cloud.jsx
  client/jetpack-cloud/sections/settings/controller.tsx
  client/jetpack-cloud/sections/settings/index.js
  client/my-sites/activity/activity-log/index.jsx
  client/my-sites/activity/controller.jsx
  client/my-sites/activity/index.js
  client/my-sites/backup/controller.js
  client/my-sites/backup/index.js
  client/my-sites/backup/main.jsx
  client/my-sites/scan/controller.js
  client/my-sites/scan/history/index.tsx
  client/my-sites/scan/index.js
  client/my-sites/scan/main.tsx
Labels: Activity Log, Jetpack Backup, Jetpack Cloud, Jetpack Scan, [Status] Needs Design Review, [Status] Needs Review

#47912 Focused launch: Highlight flow steps [part 2]
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/domain-step/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/final-step/index.tsx
  packages/data-stores/src/domain-suggestions/types.ts
  packages/launch/src/focused-launch/domain-details/index.tsx
  packages/launch/src/focused-launch/summary/index.tsx
  packages/launch/src/hooks/use-domain-search.ts
  packages/launch/src/hooks/use-domain-selection.ts
  packages/launch/src/hooks/use-site.ts
  packages/launch/src/utils.ts
Labels: [Status] Needs Review

#47882 Split use-step-navigation into two files
  client/landing/gutenboarding/hooks/use-step-navigation.ts
  client/landing/gutenboarding/hooks/use-steps.ts
Labels: [Status] Needs Review

#47641 Checkout: Show tax contact details for full credits purchases
  client/my-sites/checkout/composite-checkout/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/lib/get-contact-details-type.ts
Labels: [Status] Needs Review

#47922 e2e: Update free plan selector to account for two versions
  test/e2e/lib/pages/signup/pick-a-plan-page.js
Labels: [Status] Needs Review

#47721 Adding WP Courses task to My Home.
  client/assets/images/customer-home/courses-logo.png
  client/my-sites/customer-home/cards/constants.js
  client/my-sites/customer-home/cards/tasks/wp-courses/index.jsx
  client/my-sites/customer-home/locations/primary/index.jsx
Labels: [Status] Needs Review

#47890 Onboarding: Add support for RTL site launch stylesheet to ETK
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/index.php
Labels: Launch, [Status] Needs Review, i18n

#47889 Onboarding: Add RTL support to domain picker
  packages/domain-picker/src/domain-picker/index.tsx
  packages/domain-picker/src/domain-picker/style.scss
  packages/domain-picker/src/domain-picker/suggestion-item.tsx
Labels: Launch, [Goal] New Onboarding, [Status] Needs Review, i18n

#47625 Shopping cart: Fix cart key change and reload behavior
  client/my-sites/checkout/composite-checkout/lib/translate-cart.ts
  client/my-sites/checkout/composite-checkout/test/translate-cart.js
  client/my-sites/checkout/get-cart-key.ts
  packages/shopping-cart/README.md
  packages/shopping-cart/index.ts
  packages/shopping-cart/src/cart-functions.ts
  packages/shopping-cart/src/empty-carts.ts
  packages/shopping-cart/src/shopping-cart-provider.tsx
  packages/shopping-cart/src/use-initialize-cart-from-server.ts
  packages/shopping-cart/src/use-shopping-cart-manager.ts
  packages/shopping-cart/src/use-shopping-cart-reducer.ts
  packages/shopping-cart/src/with-shopping-cart.tsx
Labels: Shopping Cart, [Estimate] 2, [Status] Needs Review

#47479 Jetpack Search: Cleanup and remove flag for enabling.
  client/jetpack-connect/search.jsx
  client/lib/products-values/constants.js
  client/lib/products-values/translations.js
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/purchase-product/search.jsx
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: Checkout, Jetpack Search, Purchases, [Status] Needs Review

#47818 Reader: fix follow count for Tracks events
  client/blocks/conversation-follow-button/index.jsx
  client/state/analytics/README.md
  client/state/lib/README.md
  client/state/reader/analytics/README.md
  client/state/reader/analytics/actions.js
Labels: Analytics, Reader, [Status] Needs Review

#47481 Jetpack Search: switch upsell nudge to default to monthly
  client/my-sites/site-settings/search.jsx
Labels: Jetpack Search, Site Settings, [Status] Needs Review

#47880 Reader: remove Discover since no longer getting updated
  client/reader/discover/helper.js
Labels: Reader, [Status] Needs Review, [Type] Bug

#47605 Update PopoverCart to use shopping-cart package
  client/blocks/editor-checkout-modal/index.tsx
  client/components/data/domain-management/index.jsx
  client/my-sites/checkout/calypso-shopping-cart-provider.tsx
  client/my-sites/checkout/cart/cart-item.jsx
  client/my-sites/checkout/cart/header-cart.jsx
  client/my-sites/checkout/cart/popover-cart.jsx
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/domains/controller.jsx
  client/my-sites/domains/domain-management/list/test/index.js
  client/my-sites/plans/jetpack-plans/plans-header.tsx
  client/my-sites/plans/main.jsx
  client/my-sites/plans/navigation.jsx
Labels: Shopping Cart, [Estimate] 3, [Status] Ready to Merge

#47568 Reader Lists: use Intl.Collator to offer locale-aware sorting of sidebar
  client/state/reader/lists/selectors.js
  client/state/selectors/get-current-intl-collator.js
Labels: Reader, [Status] Needs Review

#47945 Coming Soon: check for coming soon mode on 404
  apps/editing-toolkit/editing-toolkit-plugin/coming-soon/coming-soon.php
Labels: Coming Soon, Editing Toolkit, [Status] Needs Review

#47891 Onboarding: Flip the domain picker illustration in RTL languages
  packages/domain-picker/src/domain-name-explanation/index.tsx
Labels: Launch, [Goal] New Onboarding, [Status] Needs Review, i18n

#47613 Use LocaleProvider in calypso
  client/components/calypso-i18n-provider/index.tsx
  client/me/privacy/main.jsx
  packages/domain-picker/package.json
  packages/domain-picker/src/domain-picker/suggestion-item.tsx
  packages/domain-picker/tsconfig.json
  packages/i18n-utils/src/index.ts
  packages/i18n-utils/src/localize-url.tsx
Labels: [Status] Needs Review

#47949 Plugins: Fix mass removal of plugins
  client/my-sites/plugins/plugins-list/index.jsx
Labels: Expedited Review, Plugins, [Status] Needs Review, [Type] Bug

#47902 Plugins: Remove old autoupdate flux action types
  client/lib/plugins/store.js
Labels: Plugins, State, [Status] Needs Review, [Type] Janitorial

#47908 Plugins: Reduxify removePluginUpdateInfo flux action
  client/lib/plugins/actions.js
  client/lib/plugins/store.js
  client/state/plugins/installed/actions.js
Labels: Plugins, State, [Status] Needs Review, [Type] Enhancement

#47906 Adapt webpack-rtl-plugin to our repo structure
  CREDITS.md
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/package.json
  packages/calypso-build/webpack/sass.js
  packages/webpack-rtl-plugin/.babelrc
  packages/webpack-rtl-plugin/.editorconfig
  packages/webpack-rtl-plugin/.eslintrc.js
  packages/webpack-rtl-plugin/.gitignore
  packages/webpack-rtl-plugin/.npmignore
  packages/webpack-rtl-plugin/.travis.yml
  packages/webpack-rtl-plugin/LICENSE.md
  packages/webpack-rtl-plugin/README.md
  packages/webpack-rtl-plugin/jest.config.js
  packages/webpack-rtl-plugin/package.json
  packages/webpack-rtl-plugin/test/index.js
  packages/webpack-rtl-plugin/yarn.lock
  yarn.lock
Labels: [Status] Needs Review

#47920 Plugins: Reduxify PluginActivateToggle progress
  client/my-sites/plugins/plugin-activate-toggle/index.jsx
Labels: Plugins, State, [Status] Needs Review, [Type] Enhancement

#47921 Plugins: Reduxify PluginAutoUpdateToggle progress
  client/my-sites/plugins/plugin-autoupdate-toggle/index.jsx
Labels: Plugins, State, [Status] Needs Review, [Type] Enhancement

#47911 Plugins: Remove unnecessary NOT_ALLOWED_TO_RECEIVE_PLUGINS flux action
  client/lib/plugins/actions.js
  client/lib/plugins/store.js
  client/lib/plugins/test/fixtures/actions.js
  client/lib/plugins/test/store.js
Labels: Plugins, State, [Status] Needs Review, [Type] Janitorial

#47904 Initial import of webpack-rtl-plugin
  CREDITS.md
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/package.json
  packages/calypso-build/webpack/sass.js
  packages/webpack-rtl-plugin/.eslintrc.js
  packages/webpack-rtl-plugin/.gitignore
  packages/webpack-rtl-plugin/LICENSE.md
  packages/webpack-rtl-plugin/README.md
  packages/webpack-rtl-plugin/jest.config.js
  packages/webpack-rtl-plugin/package.json
  packages/webpack-rtl-plugin/src/index.js
  packages/webpack-rtl-plugin/test/index.js
  packages/webpack-rtl-plugin/test/rtl-diff-result.css
  packages/webpack-rtl-plugin/test/src/index.css
  packages/webpack-rtl-plugin/test/src/index.js
  yarn.lock
Labels: [Status] Needs Review

#47914 Modularise immediate login state
  client/state/immediate-login/actions.js
  client/state/immediate-login/init.js
  client/state/immediate-login/package.json
  client/state/immediate-login/reducer.js
  client/state/immediate-login/selectors.js
  client/state/reducer.js
Labels: Login, State, [Status] Ready to Merge, [Type] Enhancement

#47917 Modularise media state
  client/state/media/actions.js
  client/state/media/init.js
  client/state/media/package.json
  client/state/media/reducer.js
  client/state/reducer.js
  client/state/selectors/get-current-media-query.js
  client/state/selectors/get-media-errors.js
  client/state/selectors/get-media-item-errors.js
  client/state/selectors/get-media-item-server-id-from-transient-id.js
  client/state/selectors/get-media-library-selected-items.js
  client/state/selectors/get-media-query-manager.js
  client/state/selectors/get-media-sorted-by-date.js
  client/state/selectors/get-media.js
  client/state/selectors/get-next-page-handle.js
  client/state/selectors/get-next-page-query.js
  client/state/selectors/get-transient-media-item.js
  client/state/selectors/has-next-media-page.js
  client/state/selectors/is-fetching-next-page.js
  client/state/selectors/is-requesting-media-item.js
  client/state/selectors/is-requesting-media.js
Labels: Media, State, [Status] Needs Review, [Type] Enhancement

#47950 Upgrade to wp-prettier 2.2.1
  client/desktop/window-handlers/failed-to-load/index.js
  client/lib/cart/store/cart-synchronizer.js
  client/lib/post-normalizer/rule-create-better-excerpt.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/purchases/site-level-purchases-error-boundary.tsx
  package.json
  packages/composite-checkout/src/components/checkout-steps.tsx
  test/e2e/lib/pages/signup/pick-a-plan-page.js
  test/e2e/package.json
  yarn.lock
Labels: [Status] Needs Review

#47954 Use new inclusive site settings
  .eslintrc.js
  client/my-sites/comments/comment/comment-author-more-info.jsx
  client/my-sites/site-settings/form-discussion.jsx
  client/state/selectors/is-authors-email-blocked.js
  client/state/selectors/test/is-authors-email-blocked.js
Labels: [Status] Needs Review

#47937 Stores redirect initialization state to prevent additional redirects
  client/jetpack-connect/authorize.js
Labels: Jetpack, Jetpack Cloud, [Status] Needs Review, [Type] Bug

#47961 Show new plans benefits in the Disconnect Site page
  client/blocks/disconnect-jetpack/index.jsx
Labels: Jetpack, [Status] Needs Review

#47648 Shopping cart: Add Promise to each action that resolves when cart updates
  packages/shopping-cart/README.md
  packages/shopping-cart/src/shopping-cart-endpoint.ts
  packages/shopping-cart/src/types.ts
  packages/shopping-cart/src/use-shopping-cart-manager.ts
  packages/shopping-cart/test/cart-actions.tsx
Labels: Shopping Cart, [Estimate] 3, [Status] Needs Review

#47944 Correctly sync planId between PremiumContent and Payments block
  apps/editing-toolkit/editing-toolkit-plugin/premium-content/blocks/buttons/edit.js
Labels: Premium Content, [Status] Needs Review, [Type] Bug

#47928 Add ability to redirect when completing a purchase triggered by ManagePurchase
  client/lib/purchases/index.js
  client/lib/purchases/test/index.js
  client/me/purchases/manage-purchase/index.jsx
  client/my-sites/domains/domain-management/edit/card/renew-button/index.jsx
  client/my-sites/purchases/main.tsx
Labels: Billing, Checkout, Post Checkout, [Status] Needs Review

#47946 Signup: remove the unused `skippableDomainStep` AB test
  client/lib/abtest/active-tests.js
  client/signup/config/steps.js
Labels: Signup, [Status] Needs Review, [Type] Janitorial

#47953 Editing toolkit: Fixes missing block translation
  apps/editing-toolkit/editing-toolkit-plugin/block-inserter-modifications/index.php
  apps/editing-toolkit/editing-toolkit-plugin/premium-content/premium-content.php
Labels: [Status] Needs Review

#47969 Editing Toolkit: Update to 2.8.10
  apps/editing-toolkit/editing-toolkit-plugin/full-site-editing-plugin.php
  apps/editing-toolkit/editing-toolkit-plugin/readme.txt
  apps/editing-toolkit/package.json
Labels: [Status] Needs Review

#47979 Editing Toolkit: pin wp-env version
  apps/editing-toolkit/package.json
  yarn.lock
Labels: Editing Toolkit, [Status] Needs Review

#47943 Checkout: Remove useShowAddCouponSuccessMessage
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  client/my-sites/checkout/composite-checkout/hooks/use-show-add-coupon-success-message.ts
Labels: [Status] Ready to Merge

#47955 Keep artifacts only for trunk and failed builds
  .teamcity/settings.kts
Labels: [Status] Needs Review

#47952 Fix broken mobile arrow scroll of the plans page in Safari desktop and mobile
  client/my-sites/plan-features/scroller.jsx
Labels: [Status] Needs Review

#47951 Plugins: Introduce and use new plugin actions status selectors
  client/my-sites/plugins/plugin-activate-toggle/index.jsx
  client/my-sites/plugins/plugin-autoupdate-toggle/index.jsx
  client/state/plugins/installed/selectors.js
  client/state/plugins/installed/test/selectors.js
Labels: Plugins, State, [Status] Needs Review, [Tests] Includes Tests, [Type] Enhancement

#47964 Plugins: Cleanup unused notices prop and shouldComponentUpdate
  client/my-sites/plugins/plugin-item/plugin-item.jsx
  client/my-sites/plugins/plugins-list/index.jsx
Labels: Plugins, [Status] Needs Review, [Type] Janitorial

#46999 Quick Start booking page: Show morning and evening times separately
  client/assets/images/quick-start/day.svg
  client/assets/images/quick-start/night.svg
  client/me/concierge/book/calendar-step.js
  client/me/concierge/shared/available-time-card.js
  client/me/concierge/shared/available-time-picker.js
  client/me/concierge/style.scss
Labels: Concierge, [Status] Needs Review

#47925 Calypso editor: do not set Calypsoify on Jetpack 9.2
  client/state/gutenberg-iframe-eligible/is-eligible-for-gutenframe.js
Labels: Editor, Jetpack, Posts, [Status] Needs Review, [Type] Bug

#47915 Plugins: Reduxify plugin fetching
  client/lib/plugins/README.md
  client/lib/plugins/actions.js
  client/lib/plugins/store.js
  client/state/plugins/installed/actions.js
  client/state/plugins/installed/test/actions.js
Labels: Plugins, State, [Status] Needs Review, [Type] Enhancement

#47907 Devdocs: Remove experimental WordPress components
  .eslintrc.js
  client/devdocs/design/wordpress-components-gallery/alignment-matrix-control.tsx
  client/devdocs/design/wordpress-components-gallery/autocomplete.tsx
  client/devdocs/design/wordpress-components-gallery/box-control.tsx
  client/devdocs/design/wordpress-components-gallery/index.tsx
  client/devdocs/design/wordpress-components-gallery/radio.tsx
  client/devdocs/design/wordpress-components-gallery/text.tsx
  client/devdocs/design/wordpress-components-gallery/toolbar.tsx
  client/devdocs/design/wordpress-components-gallery/tree-grid.tsx
  test/e2e/specs/wp-gutenberg-experimental-features-spec.js
Labels: DevDocs, [Status] Ready to Merge

#47958 Domains: fix auto-renew alignment
  client/my-sites/domains/domain-management/edit/domain-types/registered-domain-type.jsx
  client/my-sites/domains/domain-management/edit/style.scss
Labels: [Status] Needs Review

#47808 Focused Launch: Add persistent success view after launch
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/attach-focused-launch.tsx
  packages/data-stores/src/launch/actions.ts
  packages/data-stores/src/launch/index.ts
  packages/data-stores/src/launch/reducer.ts
  packages/data-stores/src/launch/selectors.ts
  packages/launch/src/focused-launch/index.tsx
  packages/launch/src/focused-launch/success/index.tsx
  packages/launch/src/focused-launch/summary/index.tsx
  packages/launch/src/hooks/use-title.ts
  packages/launch/src/launch/index.tsx
  packages/launch/src/launch/styles.scss
Labels: [Status] Needs Review

#47940 Remove `jetpackConversionRateOptimization` experiment
  client/lib/abtest/active-tests.js
  client/my-sites/plans/jetpack-plans/abtest.ts
Labels: ABTest, Plans, [Status] Needs Review

#47972 Jetpack plans: add 'Downgrade to another plan' as a new cancellation reason
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/components/marketing-survey/cancel-purchase-form/options-for-product.js
Labels: Jetpack, [Status] Needs Review

#47996 Nav Unification: use new experiment for internal testing
  client/layout/index.jsx
Labels: Nav Unification, [Status] Needs Review

#48002 Purchases: Update billing history search
  client/me/billing-history/transactions-table.jsx
  client/me/pending-payments/test/index.js
  client/me/purchases/purchases-list/header/index.jsx
  client/my-sites/purchases/navigation.tsx
Labels: Billing, [Status] Needs Review

#47970 Shopping cart: Update StaleCartItemsNotice to use useShoppingCart
  client/my-sites/current-site/index.jsx
  client/my-sites/current-site/stale-cart-items-notice.js
Labels: Checkout, Shopping Cart, [Estimate] 2, [Status] Ready to Merge

#48005 Shopping Cart: Use import type where it should.
  packages/shopping-cart/src/cart-functions.ts
  packages/shopping-cart/src/create-request-cart-product.ts
  packages/shopping-cart/src/shopping-cart-context.ts
  packages/shopping-cart/src/shopping-cart-provider.tsx
  packages/shopping-cart/src/types.ts
  packages/shopping-cart/src/use-cart-update-and-revalidate.ts
  packages/shopping-cart/src/use-initialize-cart-from-server.ts
  packages/shopping-cart/src/use-shopping-cart-reducer.ts
  packages/shopping-cart/src/use-shopping-cart.ts
  packages/shopping-cart/tsconfig.json
Labels: Shopping Cart, [Status] Needs Review

#48001 Jetpack Plans: always add products to cart by URL
  client/my-sites/plans/jetpack-plans/utils.ts
Labels: Jetpack, Plans, [Status] Needs Review

#47978 Shopping cart: replace existing cart for renewals whenever any product is added
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  client/my-sites/checkout/composite-checkout/hooks/use-add-products-from-url.ts
  client/my-sites/checkout/composite-checkout/hooks/use-prepare-products-for-cart.ts
  packages/shopping-cart/README.md
  packages/shopping-cart/src/cart-functions.ts
  packages/shopping-cart/test/cart-actions.tsx
Labels: Shopping Cart, [Status] Ready to Merge

#47503 Focused Launch: Implement step highlighting logic
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/domain-step/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/final-step/index.tsx
  packages/data-stores/src/domain-suggestions/types.ts
  packages/data-stores/src/launch/selectors.ts
  packages/launch/src/focused-launch/domain-details/index.tsx
  packages/launch/src/focused-launch/summary/index.tsx
  packages/launch/src/focused-launch/summary/style.scss
  packages/launch/src/hooks/use-domain-search.ts
  packages/launch/src/hooks/use-domain-selection.ts
  packages/launch/src/hooks/use-site.ts
  packages/launch/src/utils.ts
Labels: Launch, [Status] Needs e2e Testing

#47982 Billing: Fix - Purchase plan details stuck in loading state.
  client/me/purchases/cancel-purchase/index.jsx
  client/me/purchases/manage-purchase/plan-details/index.jsx
  client/me/purchases/manage-purchase/plan-details/test/index.jsx
  client/me/purchases/utils.js
Labels: Billing, Jetpack, Plans, [Status] Needs Review

#47980 Refactor createSite() to take "named parameters" object
  client/landing/gutenboarding/hooks/use-on-login.ts
  client/landing/gutenboarding/hooks/use-on-signup.ts
  client/landing/gutenboarding/hooks/use-step-navigation.ts
  client/landing/gutenboarding/stores/onboard/actions.ts
Labels: [Status] Needs e2e Testing

#48020 Updating name of feature flag for anchor.fm project
  client/lib/features-helper/feature-list.js
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Status] Needs Review

#48022 Revert "Billing: Fix - Purchase plan details stuck in loading state."
  client/me/purchases/cancel-purchase/index.jsx
  client/me/purchases/manage-purchase/plan-details/index.jsx
  client/me/purchases/manage-purchase/plan-details/test/index.jsx
  client/me/purchases/utils.js
Labels: [Status] Needs Review

#47642 Fix add-card page for Brazil addresses
  client/blocks/credit-card-form/README.md
  client/blocks/credit-card-form/docs/example.jsx
  client/blocks/credit-card-form/index.jsx
  client/blocks/credit-card-form/test/index.js
  client/components/credit-card-form-fields/index.jsx
  client/components/credit-card-form-fields/test/index.js
  client/extensions/woocommerce/woocommerce-services/views/label-settings/add-credit-card-modal.js
  client/lib/checkout/processor-specific.js
  client/me/purchases/add-credit-card/index.jsx
  client/me/purchases/payment/add-card-details/index.jsx
  client/me/purchases/payment/edit-card-details/index.jsx
  client/my-sites/purchases/payment-methods/index.tsx
Labels: [Status] Needs Review

#48025 Patterns: fix PHP notice about undefined offset in can_register_pattern
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/class-block-patterns-from-api.php
Labels: [Status] Needs Review, [Type] Bug

#47987 Focused Launch: Get selected domain from cart if available.
  packages/launch/package.json
  packages/launch/src/focused-launch/index.tsx
  packages/launch/src/hooks/use-domain-selection.ts
  packages/launch/src/hooks/use-plans.tsx
  packages/launch/src/utils.ts
Labels: Launch, [Status] Needs Review

#47895 ExPlat: Remove unused tests and deprecate calypso-abtests
  client/components/experiment/readme.md
  client/lib/abtest/README.md
  client/lib/abtest/active-tests.js
  client/lib/abtest/index.js
Labels: [Status] Needs Review

#48035 Focused launch: fix not selectable subdomain
  packages/launch/src/focused-launch/index.tsx
Labels: Editing Toolkit, Launch, [Status] Needs Review

#47913 Focused Launch: Render selected popular plan once
  packages/data-stores/src/launch/reducer.ts
  packages/data-stores/src/launch/selectors.ts
  packages/launch/src/focused-launch/summary/index.tsx
Labels: Editing Toolkit, Launch, [Status] Needs Review, [Type] Bug

#48036 Focused launch: fix wrong number of domain items while loading
  packages/domain-picker/src/domain-picker/index.tsx
Labels: Domains, Editing Toolkit, Launch, [Status] Needs Review

#48007 Modularise notificationsUnseenCount state
  client/notifications/index.jsx
  client/state/notifications/actions.js
  client/state/notifications/init.js
  client/state/notifications/package.json
  client/state/notifications/reducer.js
  client/state/reducer.js
  client/state/selectors/get-notification-unseen-count.js
Labels: Notifications, State, [Status] Needs Review, [Type] Enhancement

#48018 Editing Toolkit: Update to 2.8.11
  apps/editing-toolkit/editing-toolkit-plugin/full-site-editing-plugin.php
  apps/editing-toolkit/editing-toolkit-plugin/readme.txt
  apps/editing-toolkit/package.json
Labels: Editing Toolkit, [Status] Needs Review

#46199 chore(deps): Upgrade typings
  yarn.lock
Labels: Expedited Review, Maintenance, [Status] Needs Review

#47975 Prevent null and DOM elements to trigger errors in Experiment component
  client/components/experiment/index.tsx
Labels: ABTest, [Status] Needs Review

#48014 Adds settings URL for backup timezone mismatch notice
  client/blocks/time-mismatch-warning/docs/example.tsx
  client/blocks/time-mismatch-warning/index.tsx
  client/blocks/time-mismatch-warning/test/index.jsx
  client/my-sites/backup/main.jsx
Labels: Jetpack Backup, [Status] Needs Review

#48052 New onboarding: cleanup abtest slug for existing users A/B test
  client/lib/abtest/active-tests.js
  client/signup/controller.js
Labels: ABTest, [Status] Needs Review, [Type] Janitorial

#47968 Jetpack Backup: Allow download/restore for non-rewindable activities with rewindable streams
  client/components/activity-card/index.jsx
  client/components/jetpack/daily-backup-status/status-card/backup-successful.jsx
  client/lib/jetpack/actionable-rewind-id.ts
Labels: Jetpack Backup, [Status] Needs Review

#47973 Jetpack Backup: Show the date's latest _good_ backup on 'latest backup' card
  client/my-sites/backup/status/hooks.js
  client/my-sites/backup/status/index.jsx
  client/my-sites/backup/status/simplified-i4.jsx
Labels: Jetpack Backup, [Status] Needs Review

#47888 Reader: update blocks to use new recordReaderTracksEvent action
  client/blocks/comments/comment-likes.jsx
  client/blocks/comments/post-comment-list.jsx
  client/blocks/comments/post-comment.jsx
  client/blocks/conversation-caterpillar/index.jsx
  client/blocks/conversations/empty.jsx
  client/blocks/conversations/list.jsx
  client/blocks/reader-combined-card/index.jsx
  client/blocks/reader-list-item/index.jsx
  client/reader/stats.js
Labels: Analytics, Reader, [Status] Ready to Merge

#47942 AnchorFM: Podcasting Redirect Link
  client/my-sites/customer-home/cards/tasks/podcasting/index.jsx
Labels: [Status] Needs Review

#48074 Terser ignores translation functions when mangling identifiers
  apps/editing-toolkit/README.md
  packages/calypso-build/webpack.config.js
Labels: Editing Toolkit, [Status] Needs Review, [Status] Needs e2e Testing, i18n

#47985 Use the standard <Notice> component for showing onboarding errors
  client/landing/gutenboarding/components/signup-form/style.scss
  packages/domain-picker/src/domain-picker/index.tsx
  packages/domain-picker/src/domain-picker/style.scss
Labels: [Goal] New Onboarding, [Status] Needs Review

#48071 fix(followers): make sure to call correct api endpoint
  client/my-sites/people/followers-list/followers.jsx
  client/my-sites/people/followers-list/index.jsx
  client/state/data-layer/wpcom/followers/index.js
  client/state/followers/actions.js
Labels: People Management, [Status] Ready to Merge, [Type] Bug

#47957 Plugins: Reduxify PluginRemoveButton progress
  client/my-sites/plugins/plugin-remove-button/index.jsx
Labels: Plugins, State, [Status] Needs Review, [Type] Enhancement

#47960 Plugins: Reduxify PluginSiteNetwork progress
  client/my-sites/plugins/plugin-site-network/index.jsx
Labels: Plugins, State, [Status] Needs Review, [Type] Enhancement

#47959 Plugins: Reduxify PluginSiteJetpack progress
  client/my-sites/plugins/plugin-site-jetpack/index.jsx
Labels: Plugins, State, [Status] Needs Review, [Type] Enhancement

#48050 Framework: Remove usages of lodash forIn()
  client/components/phone-input/test/test-phone-number.js
  client/extensions/woocommerce/state/ui/shipping/zones/locations/selectors.js
  client/state/themes/selectors/get-theme-filter-terms-table.js
  client/state/themes/selectors/get-theme-filter-to-term-table.js
Labels: Framework, [Status] Needs Review, [Type] Janitorial

#48049 Framework: Remove usages of lodash trimStart()
  client/reader/following-manage/subscriptions.jsx
  client/state/domains/dns/utils.js
Labels: Framework, [Status] Needs Review, [Type] Janitorial

#48000 Plugins: Reduxify plugin notice (AKA status) removal
  client/lib/plugins/actions.js
  client/lib/plugins/notices.jsx
  client/my-sites/plugins/plugin-activate-toggle/index.jsx
  client/my-sites/plugins/plugin-activate-toggle/test/index.jsx
  client/my-sites/plugins/plugin-activate-toggle/test/mocks/actions.js
  client/my-sites/plugins/plugin-autoupdate-toggle/index.jsx
  client/my-sites/plugins/plugin-autoupdate-toggle/test/index.jsx
  client/my-sites/plugins/plugin-install-button/index.jsx
  client/my-sites/plugins/plugin-meta/index.jsx
  client/my-sites/plugins/plugin-remove-button/index.jsx
  client/my-sites/plugins/plugin-site-update-indicator/index.jsx
  client/my-sites/plugins/plugins-list/index.jsx
  client/state/action-types.js
  client/state/plugins/installed/status/actions.js
  client/state/plugins/installed/status/reducer.js
  client/state/plugins/installed/test/reducer.js
Labels: Plugins, State, [Status] Needs Review, [Type] Enhancement

#48041 Consolidate current user state in state.currentUser and remove state.users
  client/landing/login/store.js
  client/me/purchases/manage-purchase/purchase-meta.jsx
  client/my-sites/checkout/composite-checkout/components/test/lib/fixtures.ts
  client/state/current-user/reducer.js
  client/state/current-user/selectors.js
  client/state/current-user/test/reducer.js
  client/state/current-user/test/selectors.js
  client/state/guided-tours/test/contexts.js
  client/state/guided-tours/test/selectors.js
  client/state/happychat/selectors/test/get-skills.js
  client/state/happychat/test/utils.js
  client/state/help/test/selectors.js
  client/state/selectors/test/get-current-user-marketing-price-group.js
  client/state/selectors/test/get-menus-url.js
  client/state/selectors/test/get-primary-site-id.js
  client/state/selectors/test/get-selected-or-primary-site-id.js
  client/state/selectors/test/get-sites.js
  client/state/selectors/test/is-eligible-for-upwork-support.js
  client/state/selectors/utils/revisions/index.js
  client/state/test/index.js
  client/state/users/reducer.js
  client/state/users/selectors.js
  client/state/users/test/reducer.js
  client/state/users/test/selectors.js
Labels: [Status] Needs Review

#48061 Modularise selected editor state
  client/state/reducer.js
  client/state/selected-editor/actions.js
  client/state/selected-editor/init.js
  client/state/selected-editor/package.json
  client/state/selected-editor/reducer.js
  client/state/selectors/get-selected-editor.js
  client/state/selectors/is-classic-editor-forced.js
Labels: Editor, State, [Status] Needs Review, [Type] Enhancement

#48053 Plugins: Reduxify getNotInstalledSites
  client/lib/plugins/store.js
  client/my-sites/plugins/plugin.jsx
Labels: Plugins, State, [Status] Needs Review, [Type] Enhancement

#48060 Purchases: Don't show pre-cancellation chat button for Jetpack products
  client/components/marketing-survey/cancel-purchase-form/index.jsx
Labels: Purchases, [Status] Needs Review

#47867 People: Fix Invite button for sites on subdirectories
  client/my-sites/people/followers-list/followers.jsx
Labels: People Management, [Status] Needs Review, [Type] Bug

#48028 Payments management: add flag for new payment methods UX development
  client/blocks/credit-card-form/README.md
  client/blocks/credit-card-form/docs/example.jsx
  client/blocks/credit-card-form/test/index.js
  client/devdocs/design/blocks.jsx
  client/extensions/woocommerce/woocommerce-services/views/label-settings/add-credit-card-modal.js
  client/me/payment-methods/main.tsx
  client/me/payment-methods/payment-method-list.jsx
  client/me/purchases/add-new-payment-method/index.jsx
  client/me/purchases/components/payment-method-form/helpers.js
  client/me/purchases/components/payment-method-form/index.jsx
  client/me/purchases/components/payment-method-form/style.scss
  client/me/purchases/controller.jsx
  client/me/purchases/index.js
  client/me/purchases/manage-purchase/add-payment-method/index.jsx
  client/me/purchases/manage-purchase/auto-renew-toggle/index.jsx
  client/me/purchases/manage-purchase/change-payment-method/index.jsx
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/notices.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
  client/me/purchases/paths.js
  client/me/purchases/titles.js
  client/me/purchases/utils.js
  client/my-sites/domains/domain-management/edit/card/notices/expiring-credit-card.jsx
  client/my-sites/purchases/controller.js
  client/my-sites/purchases/index.js
  client/my-sites/purchases/main.tsx
  client/my-sites/purchases/paths.ts
  client/my-sites/purchases/payment-methods/index.tsx
  client/my-sites/purchases/utils.js
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/jetpack-cloud-development.json
  config/jetpack-cloud-horizon.json
  config/jetpack-cloud-production.json
  config/jetpack-cloud-stage.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Billing, [Status] Needs Review, [Status] Ready to Merge

#48054 Modularise notices state
  client/landing/login/store.js
  client/state/http/README.md
  client/state/notices/actions.js
  client/state/notices/init.js
  client/state/notices/package.json
  client/state/notices/reducer.js
  client/state/notices/selectors.js
  client/state/reducer.js
Labels: State, [Status] Needs Review, [Type] Enhancement

#48058 Jetpack Settings: Removes chat and updates help link
  client/state/data-layer/wpcom/activity-log/update-credentials/index.js
Labels: Jetpack Cloud, Site Settings, [Status] Needs Design Review, [Status] Needs Review

#48068 Checkout: move onPaymentComplete to a hook
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  client/my-sites/checkout/composite-checkout/hooks/use-create-payment-complete-callback.tsx
  packages/composite-checkout/src/types.ts
Labels: Checkout, [Status] Needs Review

#48088 Calypso-stripe: Rename setStripeError to reloadStripeConfiguration
  client/me/purchases/components/payment-method-form/index.jsx
  client/me/purchases/index.js
  packages/calypso-stripe/README.md
  packages/calypso-stripe/src/index.tsx
Labels: [Status] Ready to Merge

#48085 e2e: Disable test for existing account signup
  test/e2e/specs/wp-launch-spec.js
  test/e2e/specs/wp-signup-spec.js
Labels: [Status] Needs e2e Testing

#48031 Onboarding: Don't use site title as default domain query if it'll just error
  client/landing/gutenboarding/lib/is-good-default-domain-query.ts
  client/landing/gutenboarding/lib/test/is-good-default-domain-query.ts
  client/landing/gutenboarding/onboarding-block/acquire-intent/index.tsx
  client/landing/gutenboarding/stores/onboard/selectors.ts
Labels: [Goal] New Onboarding, [Status] Needs Review, i18n

#48097 Remove line from readme that was used to trigger ETK rebuild
  apps/editing-toolkit/README.md
Labels: Editing Toolkit, [Status] Needs Review, [Type] Janitorial

#48030 Remove legacy passwordlessSignup A/B test and associated components and styles
  client/blocks/signup-form/index.jsx
  client/blocks/signup-form/passwordless.jsx
  client/blocks/signup-form/style.scss
  client/lib/abtest/active-tests.js
  client/lib/signup/flow-controller.ts
Labels: [Status] Needs Review, [Type] Janitorial

#48051 Remove Old Experiment in Cancelation Flow
  client/components/marketing-survey/cancel-purchase-form/steps-for-product-and-survey.js
  client/components/marketing-survey/cancel-purchase-form/test/steps-for-product-and-survey.js
  client/lib/abtest/active-tests.js
Labels: [Status] Needs Review

#47861 Fix "Build base images" build
  .teamcity/settings.kts
Labels: [Status] Needs Review

#47893 Update copy for Scan UI (provided by Codeable)
  client/components/jetpack/threat-item/index.tsx
Labels: [Status] Needs Review

#48004 Plugins: Untangle notices mixin from PluginsList and SinglePlugin
  client/my-sites/plugins/plugin-activate-toggle/test/fixtures/index.js
  client/my-sites/plugins/plugin-autoupdate-toggle/test/fixtures/index.js
  client/my-sites/plugins/plugin-item/README.md
  client/my-sites/plugins/plugin-item/plugin-item.jsx
  client/my-sites/plugins/plugin-site-jetpack/index.jsx
  client/my-sites/plugins/plugin-site-list/index.jsx
  client/my-sites/plugins/plugin-site-network/index.jsx
  client/my-sites/plugins/plugin-site-update-indicator/index.jsx
  client/my-sites/plugins/plugin.jsx
  client/my-sites/plugins/plugins-list/index.jsx
  client/my-sites/plugins/plugins-list/test/index.jsx
  client/state/plugins/installed/selectors.js
  client/state/plugins/installed/test/selectors.js
Labels: Plugins, State, [Status] Needs Review, [Tests] Includes Tests, [Type] Enhancement

#48100 New onboarding launch: Fix selecting subdomain and update menu
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-menu/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/domain-step/index.tsx
Labels: [Goal] New Onboarding, [Status] Needs Review, [Type] Bug

#48043 State: Modularize inline support article
  client/state/inline-support-article/actions.js
  client/state/inline-support-article/init.js
  client/state/inline-support-article/package.json
  client/state/inline-support-article/reducer.js
  client/state/reducer.js
  client/state/selectors/get-inline-support-article-action-is-external.js
  client/state/selectors/get-inline-support-article-action-label.js
  client/state/selectors/get-inline-support-article-action-url.js
  client/state/selectors/get-inline-support-article-post-id.js
  client/state/selectors/is-inline-support-article-visible.js
Labels: Help, State, [Status] Needs Review, [Type] Enhancement

#48102 Editing Toolkit: release version 2.8.12
  apps/editing-toolkit/editing-toolkit-plugin/full-site-editing-plugin.php
  apps/editing-toolkit/editing-toolkit-plugin/readme.txt
  apps/editing-toolkit/package.json
Labels: Editing Toolkit, [Status] Needs Review

#48015 Add mark as seen tracks
  client/blocks/reader-feed-header/index.jsx
  client/blocks/reader-post-options-menu/index.jsx
  client/reader/a8c/main.jsx
  client/reader/following/main.jsx
  client/reader/p2/main.jsx
Labels: Reader, [Status] Needs Review

#48105 Execute nvm.sh before setting a safe shell
  .teamcity/settings.kts
Labels: [Status] Needs Review

#48104 Plugins: Fix Jetpack in bulk deactivation mode
  client/my-sites/plugins/plugins-list/index.jsx
Labels: Expedited Review, Plugins, [Status] Needs Review, [Type] Bug

#47610 Update purchase list view
  client/assets/images/upgrades/paypal-full.svg
  client/lib/purchases/index.js
  client/me/billing-history/main.jsx
  client/me/memberships/header.tsx
  client/me/memberships/main.jsx
  client/me/memberships/main.scss
  client/me/memberships/style.scss
  client/me/memberships/subscription.jsx
  client/me/payment-methods/main.tsx
  client/me/payment-methods/payment-method-list.jsx
  client/me/payment-methods/payment-method.tsx
  client/me/payment-methods/style.scss
  client/me/pending-payments/index.jsx
  client/me/pending-payments/test/index.js
  client/me/purchases/controller.jsx
  client/me/purchases/membership-item/index.tsx
  client/me/purchases/membership-item/style.scss
  client/me/purchases/membership-site/index.tsx
  client/me/purchases/purchase-item/index.jsx
  client/me/purchases/purchase-item/style.scss
  client/me/purchases/purchases-list/index.jsx
  client/me/purchases/purchases-list/purchases-list-header.jsx
  client/me/purchases/purchases-navigation/index.jsx
  client/me/purchases/purchases-site/index.jsx
  client/me/purchases/purchases-site/reconnect-notice.jsx
  client/me/purchases/purchases-site/style.scss
  client/me/purchases/style.scss
  client/my-sites/purchases/subscriptions/index.tsx
  client/my-sites/purchases/subscriptions/style.scss
  client/my-sites/purchases/subscriptions/subscriptions-content.tsx
  test/e2e/lib/pages/purchases-page.js
Labels: Billing, [Estimate] 4

#48082 Modularise atomic transfer state
  client/state/atomic-transfer/actions.js
  client/state/atomic-transfer/init.js
  client/state/atomic-transfer/package.json
  client/state/atomic-transfer/reducer.js
  client/state/reducer.js
  client/state/selectors/get-atomic-transfer.js
  client/state/selectors/is-fetching-atomic-transfer.js
Labels: Atomic, State, [Status] Ready to Merge, [Type] Enhancement

#48117 Modularise jitm state
  client/state/jitm/actions.js
  client/state/jitm/init.js
  client/state/jitm/package.json
  client/state/jitm/reducer.js
  client/state/jitm/selectors.js
  client/state/reducer.js
Labels: State, [Status] Ready to Merge, [Type] Enhancement

#47971 Pricing page: implement jetpack_pricing_switch_plan_sides experiment
  client/my-sites/plans/jetpack-plans/experiments.ts
  client/my-sites/plans/jetpack-plans/product-grid/products-order.ts
  client/my-sites/plans/jetpack-plans/products-grid-i5/index.tsx
  client/state/data-layer/wpcom/experiments/index.js
  client/state/data-layer/wpcom/experiments/test/index.js
  config/jetpack-cloud-development.json
  config/jetpack-cloud-horizon.json
  config/jetpack-cloud-production.json
  config/jetpack-cloud-stage.json
Labels: ABTest, Plans, [Status] Needs Review

#47600 Gutenboarding: Customize steps for Anchor.fm
  client/landing/gutenboarding/available-designs-config.json
  client/landing/gutenboarding/components/signup-form/index.tsx
  client/landing/gutenboarding/hooks/use-on-login.ts
  client/landing/gutenboarding/hooks/use-on-signup.ts
  client/landing/gutenboarding/hooks/use-signup.ts
  client/landing/gutenboarding/hooks/use-step-navigation.ts
  client/landing/gutenboarding/hooks/use-steps.ts
  client/landing/gutenboarding/onboarding-block/acquire-intent/site-title.tsx
  client/landing/gutenboarding/onboarding-block/design-selector/index.tsx
  client/landing/gutenboarding/onboarding-block/design-selector/style.scss
  client/landing/gutenboarding/path.ts
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/types.ts
  packages/data-stores/src/site/types.ts
Labels: Feature request, [Status] Needs Review

#48099 Checkout: Fix domain add race condition
  client/my-sites/checkout/calypso-shopping-cart-provider.tsx
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/get-cart-key.ts
Labels: Checkout, [Status] Needs e2e Testing, [Status] Ready to Merge

#48095 Removes reference to WP.com from Cloud backup
  client/components/jetpack/daily-backup-status/status-card/no-backups-yet.jsx
Labels: Jetpack Backup, [Status] Needs Review

#47930 Plugin Browser: Move the manage and install buttons
  client/my-sites/plugins/main.jsx
  client/my-sites/plugins/plugins-browser/index.jsx
  client/my-sites/plugins/plugins-browser/style.scss
  client/my-sites/plugins/style.scss
Labels: Plugins, [Status] Needs Review

#48120 Purchases: fix alignment issue
  client/me/purchases/style.scss
Labels: [Estimate] 1, [Status] Ready to Merge

#48064 Purchases: Update purchases directory
  client/me/billing-history/billing-history-table.jsx
  client/me/purchases/billing-history/README.md
  client/me/purchases/billing-history/billing-history-filters.jsx
  client/me/purchases/billing-history/billing-history-list.jsx
  client/me/purchases/billing-history/controller.js
  client/me/purchases/billing-history/main.jsx
  client/me/purchases/billing-history/receipt.jsx
  client/me/purchases/billing-history/style.scss
  client/me/purchases/billing-history/test/tax.js
  client/me/purchases/billing-history/test/utils.js
  client/me/purchases/billing-history/utils.jsx
  client/me/purchases/index.js
  client/me/purchases/payment-methods/README.md
  client/me/purchases/payment-methods/controller.js
  client/me/purchases/payment-methods/main.tsx
  client/me/purchases/payment-methods/payment-method-delete-dialog.tsx
  client/me/purchases/payment-methods/payment-method-delete.tsx
  client/me/purchases/payment-methods/payment-method-details.tsx
  client/me/purchases/payment-methods/payment-method-list.jsx
  client/me/purchases/payment-methods/payment-method.tsx
  client/me/purchases/payment-methods/style.scss
  client/my-sites/purchases/billing-history/index.tsx
  client/my-sites/purchases/payment-methods/index.tsx
Labels: Billing, [Estimate] 2, [Status] Ready to Merge

#48075 Reader: fix Following intro banner
  client/reader/following/intro.jsx
  client/reader/following/main.jsx
Labels: Reader, [Status] Needs Review

#48134 Pricing page: use deprecated A/B test instead of ExPlat experiment
  client/lib/abtest/active-tests.js
  client/my-sites/plans/jetpack-plans/experiments.ts
  client/my-sites/plans/jetpack-plans/plans-filter-bar-i5/index.tsx
  client/my-sites/plans/jetpack-plans/plans-filter-bar-i5/style.scss
  client/my-sites/plans/jetpack-plans/product-grid/products-order.ts
  client/my-sites/plans/jetpack-plans/products-grid-i5/index.tsx
Labels: ABTest, Jetpack Cloud, Plans, [Status] Needs Review

#47876 Add Desktop Github Release Notes Script
  .circleci/config.yml
  desktop/bin/make-changelog.sh
Labels: Desktop App, [Status] Needs Review

#47301 Site Editor - remove integration goo from editing toolkit.
  apps/editing-toolkit/editing-toolkit-plugin/full-site-editing-plugin.php
  apps/editing-toolkit/editing-toolkit-plugin/site-editor/index.php
Labels: [Goal] Full Site Editing, [Status] Needs Review

#48063 New onboarding: existing users non-en A/B test
  client/signup/controller.js
Labels: ABTest, [Goal] New Onboarding, [Status] Needs Review

#48089 state(invites): remove `invites-sent` flux store
  client/lib/invites/actions.js
  client/lib/invites/constants.js
  client/lib/invites/reducers/invites-sent.js
  client/lib/invites/stores/invites-sent.js
  client/my-sites/people/invite-people/index.jsx
Labels: People Management, [Status] Needs Review

#48109 Plugins: Untangle PluginsLog from PluginsList and rely on redux instead
  client/my-sites/plugins/plugins-list/index.jsx
Labels: Plugins, State, [Status] Needs Review, [Type] Enhancement

#48110 Plugins: Update manage connection route
  client/my-sites/plugins/plugins-list/index.jsx
Labels: Plugins, [Status] Needs Review, [Type] Enhancement
