Repository Automattic/wp-calypso, pull requests merged in 2020-11, with the labels that each got.

#46936 Reader: drop authuser=0 from image URLs before passing to Photon
  client/lib/safe-image-url/index.js
  client/lib/safe-image-url/test/index.js
Labels: Reader, [Status] Needs Review

#46586 desktop: Bump version to 6.3.0
  desktop/package.json
Labels: [Status] Needs Review

#43229 Fetch up to 2000 list items, refactor list edit components
  client/blocks/reader-export-button/index.jsx
  client/blocks/reader-export-button/style.scss
  client/reader/list-manage/index.jsx
  client/state/data-layer/wpcom/read/lists/index.js
  client/state/data-layer/wpcom/read/lists/items/index.js
Labels: Reader

#46954 Remove hash from URL when EditorCheckoutModal unmounts
  client/blocks/editor-checkout-modal/index.tsx
Labels: Checkout, [Status] Needs Review, [Type] Task

#46795 data-layer: simplify media handlers
  client/state/data-layer/wpcom/sites/media/index.js
  client/state/data-layer/wpcom/sites/media/test/index.js
Labels: Media, [Status] Needs Review

#46969 Persistent Launch Button: add translators hint for button label
  apps/editing-toolkit/editing-toolkit-plugin/editor-gutenboarding-launch/index.ts
Labels: [Status] Needs Review, [Type] Enhancement

#46781 state(media): remove remaining media flux adaptions
  client/state/data-layer/wpcom/sites/media/index.js
  client/state/data-layer/wpcom/sites/media/test/index.js
  client/state/data-layer/wpcom/videos/poster/index.js
  client/state/media/thunks/create-transient-media-items.js
  client/state/media/thunks/delete-media.js
  client/state/media/thunks/fetch-media-item.js
  client/state/media/thunks/fetch-next-media-page.js
  client/state/media/thunks/test/create-transient-media-items.js
  client/state/media/thunks/test/upload-media.js
  client/state/media/thunks/upload-media.js
  client/state/media/utils/flux-adapter.js
Labels: Media, [Status] Needs Review

#47007 Config: Remove unused perf flags
  config/desktop-development.json
  config/development.json
  config/wpcalypso.json
Labels: Framework, [Status] Needs Review, [Type] Janitorial

#46967 Add/plans info popover tracking
  client/components/info-popover/README.md
  client/components/info-popover/index.jsx
  client/components/jetpack/card/jetpack-product-card-alt-2/features-item.tsx
  client/components/jetpack/card/jetpack-product-card-alt-2/index.tsx
  client/components/jetpack/card/jetpack-product-card-alt/features-item.tsx
  client/components/jetpack/card/jetpack-product-card-alt/index.tsx
  client/components/jetpack/card/jetpack-product-card/features-item.tsx
  client/lib/plans/constants.js
  client/my-sites/plans-v2/records-details/index.tsx
Labels: Plans, [Status] Needs Review

#46885 Plans: Calculate annual discount percentage on selector page filter bar
  client/lib/plans/constants.js
  client/lib/products-values/constants.js
  client/my-sites/plans-v2/plans-filter-bar/index.tsx
  client/my-sites/plans-v2/test/utils.js
  client/my-sites/plans-v2/utils.ts
Labels: Plans, [Status] Needs Review

#46778 state(media): add error handling for updating/deleting media items
  client/state/data-layer/wpcom/sites/media/index.js
  client/state/data-layer/wpcom/sites/media/test/index.js
  client/state/data-layer/wpcom/videos/poster/index.js
  client/state/media/actions.js
  client/state/media/thunks/create-transient-media-items.js
  client/state/media/thunks/delete-media.js
  client/state/media/thunks/edit-media.js
  client/state/media/thunks/fetch-media-item.js
  client/state/media/thunks/fetch-next-media-page.js
  client/state/media/thunks/test/create-transient-media-items.js
  client/state/media/thunks/test/upload-media.js
  client/state/media/thunks/update-media.js
  client/state/media/thunks/upload-media.js
  client/state/media/utils/flux-adapter.js
Labels: Media, [Status] Needs Review

#46686 Focused Launch: Add focused launch modal from @automattic/launch package
  apps/editing-toolkit/editing-toolkit-plugin/editor-gutenboarding-launch/index.ts
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/index.ts
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/attach-focused-launch.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/attach-launch-sidebar.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-modal/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/domain-step/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/final-step/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/name-step/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/plan-step/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/readme.txt
  apps/editing-toolkit/package.json
  apps/wpcom-block-editor/src/calypso/features/iframe-bridge-server.js
  client/blocks/editor-launch-modal/index.tsx
  client/blocks/editor-launch-modal/style.scss
  client/gutenberg/editor/calypsoify-iframe.tsx
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/package.json
  config/development.json
  package.json
  packages/data-stores/src/launch/actions.ts
  packages/data-stores/src/launch/reducer.ts
  packages/domain-picker/src/domain-picker/index.tsx
  packages/launch/package.json
  packages/launch/src/focused-launch/index.tsx
  packages/launch/src/focused-launch/styles.scss
  packages/launch/src/hooks/index.ts
  packages/launch/src/hooks/use-domain-search.ts
  packages/launch/src/hooks/use-domain-suggestion.ts
  packages/launch/src/hooks/use-on-launch.ts
  packages/launch/src/hooks/use-site.ts
  packages/launch/src/hooks/use-title.ts
  packages/launch/src/index.tsx
  packages/launch/src/launch/index.tsx
  packages/launch/src/launch/style.scss
  packages/launch/src/launch/styles.scss
  packages/launch/src/stores.tsx
  packages/launch/src/types.d.ts
  yarn.lock
Labels: Editing Toolkit, Launch, [Status] Needs Review

#47008 My Plan: fix broken Jetpack Security product name
  client/my-sites/plans/current-plan/purchases-listing.jsx
Labels: Jetpack, Plans, [Status] Needs Review, [Type] Bug

#46991 Checkout: Convert getPlanFeatures to TypeScript
  client/my-sites/checkout/composite-checkout/components/wp-checkout-order-summary.js
  client/my-sites/checkout/composite-checkout/lib/get-plan-features.ts
Labels: Checkout, [Status] Needs Review

#46986 desktop ci: use css-loader cache only
  .circleci/config.yml
Labels: [Status] Needs Review

#46914 Shopping Cart: Use 'fresh-pending' cacheStatus for initial loading
  packages/shopping-cart/src/types.ts
  packages/shopping-cart/src/use-shopping-cart-manager.ts
  packages/shopping-cart/src/use-shopping-cart-reducer.ts
Labels: Checkout, [Status] Needs Review

#46963 Editing Toolkit: Update to 2.8.3
  apps/editing-toolkit/editing-toolkit-plugin/full-site-editing-plugin.php
  apps/editing-toolkit/editing-toolkit-plugin/readme.txt
  apps/editing-toolkit/package.json
Labels: Editing Toolkit, [Status] Needs Review

#46972 CRO i2: Add tracking events to plans slide-out products.
  client/components/jetpack/card/jetpack-product-card-alt-2/features-item.tsx
  client/components/jetpack/card/jetpack-product-card-alt-2/features-product-slide-out.tsx
  client/components/jetpack/card/jetpack-product-card-alt/features.tsx
Labels: Jetpack, Jetpack Cloud, Plans, [Status] Needs Review

#47012 Jetpack Checklist: Update copy for Downtime Monitor on Jetpack checklist
  client/my-sites/plans/current-plan/jetpack-checklist/index.tsx
Labels: Checklist, Jetpack, [Status] Needs Design Review, [Status] Needs Review

#46957 Purchases: Add upgrade button
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
Labels: [Status] Needs Review

#46968 Components: Add layout component
  client/components/layout/README.md
  client/components/layout/column.jsx
  client/components/layout/docs/example.jsx
  client/components/layout/index.jsx
  client/components/layout/style.scss
  client/devdocs/design/component-examples.js
  client/devdocs/design/index.jsx
  client/devdocs/design/playground-scope.js
  client/my-sites/hosting/main.js
  client/my-sites/hosting/style.scss
Labels: [Status] Needs Review

#46903 Checkout: Fix mobile issues
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/index.js
  packages/composite-checkout/src/components/checkout-steps.tsx
  packages/composite-checkout/src/components/radio-button.tsx
  packages/composite-checkout/src/lib/payment-methods/existing-credit-card.js
  packages/composite-checkout/src/lib/payment-methods/stripe-credit-card-fields.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#47014 Enable single product yearly upgrade from pricing page
  client/lib/products-values/get-product-yearly-variant.ts
  client/lib/products-values/index.js
  client/my-sites/plans-v2/selector-alt.tsx
Labels: Jetpack, Plans, [Status] Needs Review

#46958 Adds `(Host)` and `(Points to)` to the CNAME DNS editor
  client/my-sites/domains/domain-management/dns/cname-record.jsx
Labels: Domains, [Status] Needs Review, [Status] Ready to Merge

#46940 Changing logo maker logo and copy to Fiverr.
  client/assets/images/customer-home/fiverr-logo-grey.svg
  client/assets/images/customer-home/fiverr-logo.svg
  client/my-sites/customer-home/cards/actions/quick-links/index.jsx
  client/my-sites/marketing/tools/index.tsx
  client/my-sites/marketing/tools/style.scss
Labels: [Status] Needs Review, [Status] String Freeze

#47015 Configure experiment for pricing page i2
  client/lib/abtest/active-tests.js
Labels: Jetpack, Plans, [Status] Needs Review

#46829 Gutenboarding: Remove FSE starter designs, replace with Seedlet Blocks
  client/landing/gutenboarding/available-designs-config.json
  static/images/design-screenshots/seedlet-blocks_seedlet-blocks_seedlet-blocks.jpg
  static/images/design-screenshots/seedlet-blocks_seedlet-blocks_seedlet-blocks.webp
Labels: NUX, Themes, [Goal] Gutenboarding, [Status] Needs Review

#46996 Reader Lists: always show list export button, but disable if there are no list items
  client/reader/list-manage/index.jsx
Labels: Reader, [Status] Needs Review

#46750 Shopping Cart: Remove TempResponseCartProduct
  client/my-sites/checkout/composite-checkout/lib/translate-cart.ts
  packages/shopping-cart/src/cart-functions.ts
  packages/shopping-cart/src/empty-carts.ts
  packages/shopping-cart/src/shopping-cart-endpoint.ts
  packages/shopping-cart/src/types.ts
  packages/shopping-cart/src/use-cart-update-and-revalidate.ts
  packages/shopping-cart/src/use-shopping-cart-manager.ts
  packages/shopping-cart/src/use-shopping-cart-reducer.ts
  packages/shopping-cart/test/shopping-cart-endpoint.js
Labels: Checkout, [Status] Needs Review

#47024 Fix auto-renew cancellation form buttons
  client/components/marketing-survey/cancel-auto-renewal-form/index.jsx
  client/components/marketing-survey/cancel-auto-renewal-form/style.scss
Labels: [Estimate] 1, [Status] Needs Review

#47030 Shopping cart: Fix tax location calculation
  packages/shopping-cart/src/cart-functions.ts
  packages/shopping-cart/test/shopping-cart-endpoint.js
Labels: Checkout, [Status] Needs Review, [Type] Bug

#46944 Fix/path concat
  .eslintrc.js
  packages/wpcom-proxy-request/examples/webpack.config.js
  packages/wpcom.js/.eslintrc.js
  packages/wpcom.js/examples/media-editor/webpack.config.js
  packages/wpcom.js/examples/server/index.js
  packages/wpcom.js/webapp/webpack.config.js
  packages/wpcom.js/webpack.config.js
  test/e2e/lib/media-helper.js
Labels: Expedited Review, [Status] Needs Review

#46796 Add recordTracksEvent for Editor NUX modal
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/wpcom-nux.js
Labels: [Status] Needs Review

#47005 Purchases: Fix jumping of action card illustration
  client/components/action-card/style.scss
Labels: Purchases, [Status] Needs Review, [Type] Bug

#47010 Framework: Remove lodash entries() in favor of Object.entries()
  client/components/forms/docs/example.jsx
  client/lib/user/user.js
Labels: Framework, [Status] Needs Review, [Type] Enhancement

#44824 Do not transpile JS packages twice
  client/webpack.config.desktop.js
  client/webpack.config.js
  client/webpack.config.node.js
  packages/babel-plugin-transform-wpcalypso-async/jest.config.js
  packages/calypso-analytics/jest.config.js
  packages/calypso-build/webpack.config.js
  packages/calypso-codemods/jest.config.js
  packages/components/jest.config.js
  packages/composite-checkout/jest.config.js
  packages/composite-checkout/webpack.config.demo.js
  packages/composite-checkout/webpack.config.js
  packages/data-stores/jest.config.js
  packages/domain-picker/jest.config.js
  packages/effective-module-tree/jest.config.js
  packages/eslint-config-wpcalypso/jest.config.js
  packages/eslint-plugin-wpcalypso/jest.config.js
  packages/format-currency/jest.config.js
  packages/format-currency/package.json
  packages/i18n-calypso-cli/jest.config.js
  packages/i18n-calypso/jest.config.js
  packages/i18n-calypso/package.json
  packages/load-script/jest.config.js
  packages/load-script/package.json
  packages/media-library/jest.config.js
  packages/photon/jest.config.js
  packages/photon/package.json
  packages/popup-monitor/package.json
  packages/request-external-access/jest.config.js
  packages/request-external-access/package.json
  packages/social-previews/jest.config.js
  packages/social-previews/package.json
  packages/tree-select/jest.config.js
  packages/tree-select/package.json
  packages/viewport-react/jest.config.js
  packages/viewport-react/package.json
  packages/viewport/jest.config.js
  packages/viewport/package.json
  packages/webpack-config-flag-plugin/jest.config.js
  packages/webpack-inline-constant-exports-plugin/jest.config.js
  packages/wp-babel-makepot/jest.config.js
  packages/wpcom-proxy-request/package.json
  packages/wpcom.js/package.json
  test/client/jest.config.js
  test/integration/jest.config.js
  test/module-resolver.js
  test/server/jest.config.js
Labels: [Status] Needs Review

#46953 Group common jest config in to a preset
  packages/babel-plugin-transform-wpcalypso-async/jest.config.js
  packages/calypso-analytics/jest.config.js
  packages/calypso-codemods/jest.config.js
  packages/components/jest.config.js
  packages/composite-checkout/jest.config.js
  packages/data-stores/jest.config.js
  packages/domain-picker/jest.config.js
  packages/effective-module-tree/jest.config.js
  packages/eslint-config-wpcalypso/jest.config.js
  packages/eslint-plugin-wpcalypso/jest.config.js
  packages/format-currency/jest.config.js
  packages/i18n-calypso-cli/jest.config.js
  packages/i18n-calypso/jest.config.js
  packages/load-script/jest.config.js
  packages/media-library/jest.config.js
  packages/photon/jest.config.js
  packages/request-external-access/jest.config.js
  packages/shopping-cart/jest.config.js
  packages/social-previews/jest.config.js
  packages/tree-select/jest.config.js
  packages/viewport-react/jest.config.js
  packages/viewport/jest.config.js
  packages/webpack-config-flag-plugin/jest.config.js
  packages/webpack-inline-constant-exports-plugin/jest.config.js
  packages/wp-babel-makepot/jest.config.js
  test/packages/jest-preset.js
  test/packages/jest.config.js
Labels: Expedited Review, [Status] Needs Review

#46846 Log errors to logger
  client/server/render/index.js
Labels: [Status] Needs Review

#47006 State: Fix default membership products state
  client/state/memberships/product-list/selectors.js
Labels: State, [Status] Needs Review, [Type] Bug

#46945 Components: Use ToggleControl in our FormToggle component
  client/blocks/post-share/style.scss
  client/blocks/reader-site-notification-settings/style.scss
  client/blocks/term-form-dialog/index.jsx
  client/blocks/term-form-dialog/style.scss
  client/components/forms/form-toggle/README.md
  client/components/forms/form-toggle/index.jsx
  client/components/forms/form-toggle/style.scss
  client/components/forms/form-toggle/test/index.jsx
  client/extensions/woocommerce/app/products/product-form.scss
  client/extensions/woocommerce/app/settings/shipping/shipping-zone/style.scss
  client/extensions/woocommerce/app/settings/taxes/style.scss
  client/extensions/woocommerce/components/extended-header/style.scss
  client/extensions/woocommerce/woocommerce-services/components/checkbox/style.scss
  client/extensions/wp-super-cache/style.scss
  client/layout/guided-tours/tours/jetpack-lazy-images-tour/index.js
  client/layout/guided-tours/tours/jetpack-monitoring-tour/index.js
  client/layout/guided-tours/tours/jetpack-plugin-updates-tour/index.tsx
  client/layout/guided-tours/tours/jetpack-search-tour/index.js
  client/layout/guided-tours/tours/jetpack-sign-in-tour/index.js
  client/layout/guided-tours/tours/jetpack-site-accelerator-tour/index.js
  client/layout/guided-tours/tours/jetpack-video-hosting-tour/index.js
  client/me/notification-settings/settings-form/style.scss
  client/me/privacy/main.jsx
  client/me/privacy/style.scss
  client/me/purchases/manage-purchase/style.scss
  client/my-sites/domains/domain-management/name-servers/style.scss
  client/my-sites/earn/ads/style.scss
  client/my-sites/marketing/traffic/style.scss
  client/my-sites/plugins/plugin-action/style.scss
  client/my-sites/plugins/plugin-action/test/index.jsx
  client/my-sites/plugins/plugin-item/style.scss
  client/my-sites/plugins/plugin-meta/style.scss
  client/my-sites/plugins/plugin-meta/test/index.js
  client/my-sites/site-settings/comment-display-settings/style.scss
  client/my-sites/site-settings/composing/publish-confirmation.jsx
  client/my-sites/site-settings/custom-content-types/style.scss
  client/my-sites/site-settings/form-general.jsx
  client/my-sites/site-settings/style.scss
Labels: Components, [Status] Needs Design Review, [Status] Needs Review, [Type] Enhancement

#47026 Update pricing page slide-out margins in Jetpack cloud
  client/components/jetpack/card/jetpack-product-card-alt-2/style.scss
Labels: Jetpack, Plans, [Status] Needs Review

#47021 desktop: fix file permissions in e2e/tests/lib directory
  desktop/e2e/tests/lib/async-base-container.js
  desktop/e2e/tests/lib/components/nav-bar-component.js
  desktop/e2e/tests/lib/components/post-preview-component.js
  desktop/e2e/tests/lib/driver-helper.js
  desktop/e2e/tests/lib/pages/login-page.js
  desktop/e2e/tests/lib/pages/profile-page.js
  desktop/e2e/tests/lib/pages/reader-page.js
  desktop/e2e/tests/lib/pages/view-post-page.js
Labels: [Status] Needs Review

#46876 Checkout: Move WeChat QR code component into new checkout
  client/my-sites/checkout/checkout/secure-payment-form.jsx
  client/my-sites/checkout/checkout/test/wechat-payment-box.js
  client/my-sites/checkout/checkout/wechat-payment-box.jsx
  client/my-sites/checkout/composite-checkout/payment-methods/wechat/index.js
  client/my-sites/checkout/composite-checkout/payment-methods/wechat/wechat-payment-qrcode.jsx
  client/my-sites/checkout/composite-checkout/test/wechat-payment-qrcode.js
Labels: Checkout, [Status] Needs Review

#46671 Checkout: remove dependency on lib/cart-values product creators
  client/lib/plans/index.js
  client/my-sites/checkout/composite-checkout/add-items.ts
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/hooks/use-prepare-products-for-cart.ts
  client/my-sites/checkout/composite-checkout/hooks/use-record-checkout-loaded.ts
  client/my-sites/checkout/composite-checkout/test/composite-checkout.js
  client/my-sites/checkout/composite-checkout/types/checkout-cart.ts
  client/my-sites/checkout/composite-checkout/types/transaction-endpoint.ts
  packages/shopping-cart/README.md
  packages/shopping-cart/index.ts
  packages/shopping-cart/src/cart-functions.ts
  packages/shopping-cart/src/create-request-cart-product.ts
  packages/shopping-cart/src/shopping-cart-endpoint.ts
Labels: Checkout, [Status] Needs Review, [Status] Needs e2e Testing

#47027 Add "Upgrade to Yearly" functionality to slide-out products.
  client/components/jetpack/card/jetpack-product-card-alt-2/features-product-slide-out.tsx
Labels: Jetpack, Plans, [Status] Needs Review

#46920 Checkout: Remove WebPaymentBox from old checkout
  client/my-sites/checkout/checkout/payment-request-button.jsx
  client/my-sites/checkout/checkout/secure-payment-form.jsx
  client/my-sites/checkout/checkout/test/web-payment-box.js
  client/my-sites/checkout/checkout/web-payment-box.jsx
Labels: Checkout, [Status] Ready to Merge

#47056 Pricing page: align CTA button in Jetpack cloud
  client/components/jetpack/card/jetpack-product-card-alt-2/style.scss
Labels: Jetpack Cloud, Plans, [Status] Needs Review

#46919 Use bulk fixer endpoints and improve feedback with notices
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/alerts/fix-status.js
  client/state/data-layer/wpcom/sites/scan/threats/fix-all-threats.js
  client/state/data-layer/wpcom/sites/scan/threats/fix.js
  client/state/jetpack-scan/threats/actions.js
Labels: Jetpack Scan, [Status] Needs Review

#46990 Checkout: Disable old checkout completely
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/controller.jsx
Labels: Checkout, [Status] Needs Review

#46758 Checkout: Convert CompositeCheckout component to TypeScript
  client/lib/stripe/index.js
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  client/my-sites/checkout/composite-checkout/hooks/use-prepare-products-for-cart.ts
  client/my-sites/checkout/composite-checkout/hooks/use-redirect-if-cart-empty.ts
  client/my-sites/checkout/composite-checkout/hooks/wpcom-store.ts
  client/my-sites/checkout/composite-checkout/lib/does-value-exist.ts
  client/my-sites/checkout/composite-checkout/lib/get-plan-features.ts
  client/my-sites/checkout/composite-checkout/record-analytics.js
  client/my-sites/checkout/composite-checkout/types/backend/payment-method.ts
  client/my-sites/checkout/composite-checkout/types/backend/signup-validation-endpoint.ts
  client/my-sites/checkout/composite-checkout/types/country-list-item.ts
  client/my-sites/checkout/composite-checkout/types/stored-cards.ts
  client/my-sites/checkout/composite-checkout/types/transaction-endpoint.ts
  client/my-sites/checkout/composite-checkout/types/wpcom-store-state.ts
Labels: Checkout, [Status] Needs Review, [Status] Needs e2e Testing

#46927 Update global font pairings
  apps/editing-toolkit/editing-toolkit-plugin/global-styles/class-global-styles.php
  apps/editing-toolkit/editing-toolkit-plugin/global-styles/src/font-pairings-panel-previews.js
  apps/editing-toolkit/editing-toolkit-plugin/global-styles/src/font-pairings-panel.js
  apps/editing-toolkit/editing-toolkit-plugin/global-styles/src/font-pairings-panel.scss
Labels: [Status] Needs Review

#47032 Reader Lists: use data layer to get user's subscribed lists
  client/lib/wpcom-undocumented/README.md
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/state/data-layer/wpcom/read/lists/index.js
  client/state/reader/action-types.js
  client/state/reader/lists/actions.js
  client/state/reader/lists/reducer.js
  client/state/reader/lists/test/actions.js
Labels: Reader, [Status] Needs Review, [Type] Janitorial

#47028 Reader Lists: Enable list creation
  client/reader/sidebar/reader-sidebar-lists/index.jsx
  client/reader/sidebar/reader-sidebar-lists/list-item-create-link.jsx
  client/reader/sidebar/reader-sidebar-lists/list-item.jsx
  client/reader/sidebar/reader-sidebar-lists/list.jsx
  client/reader/sidebar/reader-sidebar-lists/style.scss
  client/state/data-layer/wpcom/read/lists/index.js
  client/state/reader/lists/reducer.js
  client/state/reader/lists/test/reducer.js
Labels: Reader

#47029 Reader Lists: add new tab for list deletion
  client/reader/list-manage/index.jsx
  client/reader/list-manage/list-delete.jsx
  client/reader/list/controller.js
  client/reader/list/index.js
  client/state/data-layer/wpcom/read/lists/delete/index.js
  client/state/notices/constants.js
Labels: Reader, [Status] Needs Review

#47072 Remove unused vars from global styles font pairings
  apps/editing-toolkit/editing-toolkit-plugin/global-styles/src/font-pairings-panel.js
Labels: [Status] Needs Review

#45916 docs: add docs
  desktop/README.md
  desktop/docs/development.md
  desktop/docs/notarization.md
  desktop/docs/release.md
  desktop/docs/secrets.md
  desktop/docs/troubleshooting.md
Labels: [Status] Needs Review

#47069 Reader Lists: Remove duplicate ListForm component
  client/reader/list-manage/index.jsx
  client/reader/list-manage/list-form.jsx
  client/state/data-layer/wpcom/read/lists/index.js
  client/state/reader/lists/actions.js
Labels: Reader, [Status] Ready to Merge

#47074 Reader Lists: hide list editing routes behind feature flag
  client/reader/list/index.js
Labels: Reader, [Status] Needs Review

#46994 Coming Soon: updating the fallback page
  apps/editing-toolkit/editing-toolkit-plugin/coming-soon/fallback-coming-soon-page.php
  client/blocks/site/index.jsx
Labels: Coming Soon, [Status] Ready to Merge

#45747 Add block pattern dom validation tests
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/test/class-block-patterns-test.php
  apps/editing-toolkit/editing-toolkit-plugin/phpunit.xml.dist
Labels: Editing Toolkit, [Status] Needs Review

#47003 Framework: Remove unnecessary Logger credentials
  client/lib/catch-js-errors/index.js
Labels: Framework, [Status] Needs Review, [Type] Enhancement

#47055 Media: Remove unnecessary flux remnants
  client/my-sites/media-library/test/list.jsx
  client/state/shortcodes/reducer.js
  client/state/shortcodes/test/reducer.js
Labels: Media, [Status] Needs Review, [Type] Janitorial

#46567 Root redirect: check the logged in/out state when handling the / route, not when installing it
  client/root.js
  desktop/e2e/tests/e2e.js
  desktop/e2e/tests/lib/pages/customer-home-page.js
Labels: Customer Home, [Status] Needs Review

#46902 i18n: Refactor translation chunks setup
  client/boot/locale.js
  client/lib/i18n-utils/switch-locale.js
Labels: [Status] Needs Review, i18n

#47035 Adds the plan name and term to ticket plain text
  client/me/help/help-contact/index.jsx
Labels: [Status] Needs Review

#47002 Optimize how TypeScript-authored packages are built
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/bin/copy-assets.js
  packages/calypso-build/bin/transpile.js
  packages/language-picker/package.json
  packages/language-picker/tsconfig-cjs.json
  packages/language-picker/tsconfig.json
  packages/search/package.json
  packages/search/tsconfig-cjs.json
  packages/search/tsconfig.json
Labels: Build, [Status] Needs Review

#47084 Remove theme notices from middleware
  client/state/notices/middleware.js
  client/state/themes/actions/activate-theme.js
  client/state/themes/actions/delete-theme.js
Labels: State, Themes, [Status] Ready to Merge

#46921 Focused Launch: use site title hook in the name step
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/attach-focused-launch.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/name-step/index.tsx
  client/blocks/editor-launch-modal/index.tsx
  packages/data-stores/src/site/actions.ts
  packages/data-stores/src/site/selectors.ts
  packages/launch/src/focused-launch/index.tsx
  packages/launch/src/hooks/use-title.ts
  packages/launch/src/launch/index.tsx
Labels: [Status] Needs Review

#46938 Fix sidebar menu item image icon states (for icons which are images)
  client/my-sites/sidebar-unified/style.scss
Labels: [Status] Needs Review, nav-unification

#47097 Domains: Fix transfer end date parsing
  client/state/sites/domains/assembler.js
Labels: Domains, [Status] Ready to Merge

#46946 DomainPicker: Add select button.
  client/landing/gutenboarding/gutenberg-types-patch.ts
  client/landing/gutenboarding/index.tsx
  packages/domain-picker/src/domain-picker/index.tsx
  packages/domain-picker/src/domain-picker/style.scss
  packages/domain-picker/src/domain-picker/suggestion-item.tsx
  packages/domain-picker/src/index.tsx
Labels: Domains, Launch, [Status] Needs Review

#46595 Payments: Update titles for purchases
  client/me/purchases/titles.js
  client/my-sites/purchases/main.tsx
  client/my-sites/purchases/subscriptions/account-level-purchase-links.tsx
Labels: [Estimate] 1

#47063 Purchases: Add new save credit card event
  client/blocks/credit-card-form/helpers.js
Labels: [Estimate] 1, [Status] Needs Review

#46989 Checkout: Move PrePurchaseNotices to composite-checkout directory
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/composite-checkout/components/prepurchase-notices/cart-plan-overlaps-owned-product-notice.tsx
  client/my-sites/checkout/composite-checkout/components/prepurchase-notices/index.jsx
  client/my-sites/checkout/composite-checkout/components/prepurchase-notices/jetpack-plugin-required-version-notice.jsx
  client/my-sites/checkout/composite-checkout/components/prepurchase-notices/prepurchase-notice.jsx
  client/my-sites/checkout/composite-checkout/components/prepurchase-notices/site-plan-includes-cart-product-notice.tsx
  client/my-sites/checkout/composite-checkout/components/prepurchase-notices/style.scss
Labels: Checkout, [Status] Needs Review

#47098 Packages: Fix components and search storybook
  package.json
  packages/components/.storybook/webpack.config.js
  packages/components/package.json
  packages/components/tsconfig.json
  packages/search/.storybook/main.js
  packages/search/.storybook/webpack.config.js
  packages/search/package.json
  packages/search/src/search.tsx
  packages/search/src/viewport.d.ts
  yarn.lock
Labels: Documentation, Packages, [Status] Needs Review, [Type] Enhancement

#46973 Payments: Move lib/stripe to calypso-stripe package
  client/blocks/credit-card-form/index.jsx
  client/blocks/editor-checkout-modal/index.tsx
  client/components/credit-card-form-fields/index.jsx
  client/extensions/woocommerce/woocommerce-services/views/label-settings/add-credit-card-modal.js
  client/lib/store-transactions/index.js
  client/me/purchases/add-credit-card/index.jsx
  client/me/purchases/payment/add-card-details/index.jsx
  client/me/purchases/payment/edit-card-details/index.jsx
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/checkout/credit-card-payment-box.jsx
  client/my-sites/checkout/checkout/credit-card-selector.jsx
  client/my-sites/checkout/checkout/stripe-elements-payment-box.jsx
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/test/composite-checkout.js
  client/my-sites/purchases/payment-methods/index.tsx
  client/package.json
  packages/calypso-stripe/.gitignore
  packages/calypso-stripe/README.md
  packages/calypso-stripe/index.ts
  packages/calypso-stripe/jest.config.js
  packages/calypso-stripe/package.json
  packages/calypso-stripe/src/index.tsx
  packages/calypso-stripe/tsconfig-cjs.json
  packages/calypso-stripe/tsconfig.json
  packages/calypso-stripe/webpack.config.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#47102 Add storybook scripts to unit test CI
  .teamcity/settings.kts
Labels: [Status] Needs Review

#46911 Register required data stores in Domain Picker and Plans Grid packages
  packages/domain-picker/src/constants.ts
  packages/plans-grid/src/constants.ts
Labels: Data, Domains, Plans, [Status] Needs Review

#47066 Add description for the new type of 'edit' fixers
  client/components/jetpack/threat-item/utils.ts
Labels: Jetpack Cloud, Jetpack Scan, [Status] Needs Review

#47062 Focused Launch: add in-memory router
  packages/launch/package.json
  packages/launch/src/focused-launch/domain-details/index.tsx
  packages/launch/src/focused-launch/domain-details/style.scss
  packages/launch/src/focused-launch/index.tsx
  packages/launch/src/focused-launch/plan-details/index.tsx
  packages/launch/src/focused-launch/plan-details/style.scss
  packages/launch/src/focused-launch/route.ts
  packages/launch/src/focused-launch/style.scss
  packages/launch/src/focused-launch/summary/index.tsx
  packages/launch/src/focused-launch/summary/style.scss
  packages/launch/src/launch/index.tsx
Labels: Launch, [Status] Needs Review, [Status] Needs e2e Testing

#47061 Jetpack Cloud: make the Advanced Server Credentials form support sites that only have Jetpack Scan
  client/jetpack-cloud/sections/settings/advanced-credentials/credentials-form/index.tsx
  client/jetpack-cloud/sections/settings/advanced-credentials/credentials-form/style.scss
  client/jetpack-cloud/sections/settings/advanced-credentials/index.tsx
Labels: Jetpack, Jetpack Cloud, [Status] Needs Review, [Type] Bug

#47073 Reader Lists: Update export button styling
  client/blocks/reader-export-button/index.jsx
  client/blocks/reader-export-button/style.scss
  client/blocks/reader-import-button/index.jsx
  client/blocks/reader-import-button/style.scss
  client/reader/following-manage/style.scss
  client/reader/following-manage/subscriptions.jsx
Labels: Reader, [Status] Ready to Merge

#47081 Reader Lists: move single list request to use data layer
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/state/data-layer/wpcom/read/lists/index.js
  client/state/reader/lists/actions.js
  client/state/reader/lists/test/actions.js
Labels: Reader, [Status] Needs Review, [Type] Janitorial

#47083 Reader Lists: make buttons consistent
  client/reader/list-manage/feed-item.tsx
  client/reader/list-manage/list-delete.jsx
  client/reader/list-manage/site-item.tsx
  client/reader/list-manage/tag-item.tsx
Labels: Reader, [Status] Needs Review

#47120 Reader Lists: Hide list creation link behind feature flag
  client/reader/sidebar/reader-sidebar-lists/list.jsx
Labels: Reader, [Status] Ready to Merge

#46588 Gutenboarding: Switch plans grid to use plans/detail endpoint to fetch plans details via API
  client/landing/gutenboarding/hooks/use-selected-plan.ts
  packages/data-stores/src/plans/actions.ts
  packages/data-stores/src/plans/constants.ts
  packages/data-stores/src/plans/index.ts
  packages/data-stores/src/plans/plans-data.ts
  packages/data-stores/src/plans/reducer.ts
  packages/data-stores/src/plans/resolvers.ts
  packages/data-stores/src/plans/selectors.ts
  packages/data-stores/src/plans/test/reducer.ts
  packages/data-stores/src/plans/test/resolvers.ts
  packages/data-stores/src/plans/test/selectors.ts
  packages/data-stores/src/plans/types.ts
  packages/plans-grid/src/plans-accordion-item/plans-item-placeholder.tsx
  packages/plans-grid/src/plans-accordion-item/style.scss
  packages/plans-grid/src/plans-accordion/index.tsx
  packages/plans-grid/src/plans-accordion/style.scss
  packages/plans-grid/src/plans-details/index.tsx
  packages/plans-grid/src/plans-details/style.scss
  packages/plans-grid/src/plans-feature-list/plans-feature-list-placeholder.tsx
  packages/plans-grid/src/plans-feature-list/style.scss
Labels: [Goal] Gutenboarding, [Status] In Progress, [Status] Needs Review, i18n

#46805 ExPlat: Add hooks
  client/state/experiments/hooks.ts
  client/state/experiments/selectors.ts
  client/state/experiments/test/hooks.ts
Labels: [Status] Needs Review

#47106 Masterbar: remove from loading state
  client/document/index.jsx
Labels: [Status] Needs Review, nav-unification

#47095 Editor: Remove more unused post editor code
  client/blocks/post-share/index.jsx
  client/blocks/post-share/style.scss
  client/components/publicize-message/index.jsx
  client/components/publicize-message/style.scss
  client/post-editor/editor-drawer/featured-image.jsx
  client/post-editor/editor-drawer/fixture/index.js
  client/post-editor/editor-drawer/index.jsx
  client/post-editor/editor-drawer/label.jsx
  client/post-editor/editor-drawer/label.scss
  client/post-editor/editor-drawer/page-options.jsx
  client/post-editor/editor-drawer/style.scss
  client/post-editor/editor-drawer/taxonomies.jsx
  client/post-editor/editor-drawer/test/utils.js
  client/post-editor/editor-drawer/utils.ts
  client/post-editor/editor-fieldset/README.md
  client/post-editor/editor-fieldset/index.jsx
  client/post-editor/editor-fieldset/style.scss
  client/post-editor/editor-sharing/accordion.jsx
  client/post-editor/editor-sharing/index.jsx
  client/post-editor/editor-sharing/publicize-connection.jsx
  client/post-editor/editor-sharing/publicize-message.scss
  client/post-editor/editor-sharing/publicize-options.jsx
  client/post-editor/editor-sharing/publicize-options.scss
  client/post-editor/editor-sharing/publicize-services.jsx
  client/post-editor/editor-sharing/publicize-services.scss
  client/post-editor/editor-sharing/sharing-like-options.jsx
  client/post-editor/editor-sharing/style.scss
  client/post-editor/editor-sharing/test/publicize-connection.jsx
  client/post-editor/editor-term-selector/add-term.jsx
  client/post-editor/editor-term-selector/add-term.scss
  client/post-editor/editor-term-selector/index.jsx
Labels: Editor, [Status] Needs Review, [Type] Janitorial

#47090 Update QS upsell duration on purchases page
  client/me/purchases/concierge-banner/index.jsx
Labels: [Status] Needs Review, [Status] String Freeze

#47110 Domain picker & focused launch: UI and data changes
  packages/data-stores/src/site/actions.ts
  packages/data-stores/src/site/reducer.ts
  packages/data-stores/src/site/resolvers.ts
  packages/data-stores/src/site/selectors.ts
  packages/data-stores/src/site/types.ts
  packages/domain-picker/src/domain-picker/index.tsx
  packages/domain-picker/src/domain-picker/locked-purchased-item.tsx
  packages/domain-picker/src/domain-picker/style.scss
  packages/domain-picker/src/index.tsx
  packages/launch/src/focused-launch/summary/index.tsx
  packages/launch/src/focused-launch/summary/style.scss
Labels: [Status] Needs Review

#47140 Add monorepo dependencies to tsconfig.json for Launch, Domain Picker, Plans Grid and Onboarding packages
  packages/domain-picker/tsconfig.json
  packages/launch/tsconfig.json
  packages/onboarding/tsconfig.json
  packages/plans-grid/tsconfig.json
Labels: Build, [Status] Needs Review

#46418 Domains: Self-serve domain mapping transfers to other site
  client/my-sites/domains/domain-management/components/domain/main-placeholder.jsx
  client/my-sites/domains/domain-management/controller.jsx
  client/my-sites/domains/domain-management/edit/navigation/enhanced.jsx
  client/my-sites/domains/domain-management/transfer/index.jsx
  client/my-sites/domains/domain-management/transfer/transfer-to-other-site/confirmation-dialog.jsx
  client/my-sites/domains/domain-management/transfer/transfer-to-other-site/index.jsx
  client/my-sites/domains/domain-management/transfer/transfer-to-other-site/test/index.jsx
Labels: Domains, [Status] Needs Review

#45917 My Home: Update font size for title and body text on task cards
  client/my-sites/customer-home/cards/tasks/style.scss
Labels: [Status] Ready to Merge

#47125 Focused Launch: Split Summary into modular Steps
  packages/launch/src/focused-launch/summary/index.tsx
Labels: Launch, [Status] Needs Review

#47060 Domains: Allow transfer of mappings to other administrators on site
  client/my-sites/domains/domain-management/controller.jsx
  client/my-sites/domains/domain-management/transfer/index.jsx
  client/my-sites/domains/domain-management/transfer/transfer-to-other-user/index.jsx
Labels: Domains, [Status] Needs Review

#47130 Add calypso-stripe and shopping-cart to CODEOWNERS
  .github/CODEOWNERS
Labels: [Status] Ready to Merge

#47149 Jetpack: Add Olark pre-sales chat to Jetpack pricing page
  client/components/olark-chat/index.jsx
  client/jetpack-cloud/sections/pricing/header/index.tsx
  config/_shared.json
  config/jetpack-cloud-development.json
  config/jetpack-cloud-horizon.json
  config/jetpack-cloud-production.json
  config/jetpack-cloud-stage.json
Labels: Jetpack Cloud, [Size] S, [Status] Needs Review, [Type] Enhancement

#47131 Checkout: Show empty cart view when cart is empty
  client/my-sites/checkout/composite-checkout/components/empty-cart.tsx
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  client/my-sites/checkout/composite-checkout/hooks/use-redirect-if-cart-empty.ts
  client/my-sites/checkout/composite-checkout/record-analytics.js
Labels: [Status] Needs Review

#47080 Checkout: Centralize logic that determines which contact form to use
  client/my-sites/checkout/composite-checkout/components/contact-details-container.tsx
  client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx
  client/my-sites/checkout/composite-checkout/components/tax-fields.tsx
  client/my-sites/checkout/composite-checkout/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/components/wp-contact-form.js
  client/my-sites/checkout/composite-checkout/components/wp-contact-form.tsx
  client/my-sites/checkout/composite-checkout/lib/get-contact-details-type.ts
  client/my-sites/checkout/composite-checkout/types/contact-details.ts
Labels: Checkout, [Status] Needs Review

#47166 Calypso Green: Don't show pre-sales chat in production
  config/jetpack-cloud-production.json
Labels: Jetpack Cloud, [Size] S, [Status] Needs Review, [Type] Enhancement

#47133 Reader Lists: add confirm dialog when removing items from a list
  client/reader/list-manage/constants.js
  client/reader/list-manage/feed-item.tsx
  client/reader/list-manage/feed-title.jsx
  client/reader/list-manage/list-delete.jsx
  client/reader/list-manage/list-item.tsx
  client/reader/list-manage/site-item.tsx
  client/reader/list-manage/site-title.jsx
  client/reader/list-manage/style.scss
  client/reader/list-manage/tag-item.tsx
  client/reader/list-manage/tag-title.jsx
  client/state/data-layer/wpcom/read/lists/feeds/delete/index.js
  client/state/data-layer/wpcom/read/lists/sites/delete/index.js
  client/state/data-layer/wpcom/read/lists/tags/delete/index.js
Labels: Reader, [Status] Needs Review

#47068 Premium Content: Remove premium content block placeholder
  apps/editing-toolkit/editing-toolkit-plugin/premium-content/blocks/container/edit.js
Labels: Premium Content, [Status] Needs Review, [Type] Enhancement

#47170 Revert "Checkout: Centralize logic that determines which contact form to use"
  client/my-sites/checkout/composite-checkout/components/contact-details-container.tsx
  client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx
  client/my-sites/checkout/composite-checkout/components/tax-fields.tsx
  client/my-sites/checkout/composite-checkout/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/components/wp-contact-form.js
  client/my-sites/checkout/composite-checkout/components/wp-contact-form.tsx
  client/my-sites/checkout/composite-checkout/lib/get-contact-details-type.ts
  client/my-sites/checkout/composite-checkout/types/contact-details.ts
Labels: [Status] Needs Review

#46983 Make text of Premium Content's Subscribe button editable
  apps/editing-toolkit/editing-toolkit-plugin/premium-content/blocks/buttons/edit.js
Labels: Premium Content, [Status] Needs Review

#47136 Editing Toolkit: set translations for NUX modal
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/class-wpcom-block-editor-nux.php
Labels: NUX, [Goal] Gutenboarding, [Status] Needs Review, i18n

#47148 Fix: BR users on Business monthly cannot see the plan prices
  client/my-sites/plans/main.jsx
Labels: [Status] Needs Review

#47145 Fix: BR users aren't able to pick business monthly on the checkout page
  client/my-sites/checkout/composite-checkout/components/item-variation-picker.tsx
Labels: [Status] Needs Review

#47141 Focused Launch: fix domain picker not showing in summary page in Calypso
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/attach-focused-launch.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/attach-launch-sidebar.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-modal/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/final-step/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/name-step/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/wp-core-data-types.d.ts
  apps/editing-toolkit/package.json
  packages/domain-picker/src/domain-picker/index.tsx
  packages/launch/package.json
  packages/launch/src/context.ts
  packages/launch/src/focused-launch/index.tsx
  packages/launch/src/focused-launch/summary/index.tsx
  packages/launch/src/hooks/index.ts
  packages/launch/src/hooks/use-domain-search.ts
  packages/launch/src/hooks/use-domain-suggestion.ts
  packages/launch/src/hooks/use-on-launch.ts
  packages/launch/src/hooks/use-site-domains.ts
  packages/launch/src/hooks/use-site.ts
  packages/launch/src/hooks/use-title.ts
  packages/launch/src/index.ts
  packages/launch/src/launch/index.tsx
  packages/launch/src/stores.ts
Labels: [Status] Needs Review

#47179 Fix broken MD formatting in calypso-build/CHANGELOG.md
  packages/calypso-build/CHANGELOG.md
Labels: Documentation, Expedited Review, [Status] Needs Review

#47152 Introduce "individual-item" type to domain picker items
  packages/domain-picker/src/domain-picker/style.scss
  packages/domain-picker/src/domain-picker/suggestion-item.tsx
  packages/launch/src/focused-launch/summary/index.tsx
Labels: [Status] Needs Review

#47143 Fix premium plan features for monthly pricing test
  client/lib/plans/features-list.js
  client/lib/plans/plans-list.js
Labels: [Status] Needs Review

#47182 Adds apt packages to CI image
  Dockerfile.base
Labels: Expedited Review, [Status] Needs Review

#46674 Editor Toolkit: update slide copy in NUX
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/wpcom-nux.js
Labels: Coming Soon, [Goal] Gutenboarding, [Status] Needs Review, [Status] String Freeze

#47058 Add the word annual to free domain explainer
  client/components/domains/free-domain-explainer/index.jsx
Labels: [Status] Needs Review

#47023 P2: redirect to Home when trying to access Plans
  client/my-sites/controller.js
  client/my-sites/domains/controller.jsx
  client/my-sites/domains/index.js
  client/my-sites/plans/index.js
  client/my-sites/plans/test/index.js
Labels: [Status] Needs Review

#47091 Plugins: Fix plugin action alignment styles
  client/my-sites/plugins/plugin-action/style.scss
  client/my-sites/plugins/plugin-activate-toggle/style.scss
  client/my-sites/plugins/plugin-item/style.scss
  client/my-sites/plugins/plugin-meta/style.scss
  client/my-sites/plugins/plugin-remove-button/style.scss
  client/my-sites/plugins/plugin-site-jetpack/style.scss
  client/my-sites/plugins/plugin-site-network/style.scss
  client/my-sites/plugins/plugins-list/style.scss
Labels: Expedited Review, Plugins, [Status] Needs Review, [Type] Bug

#47185 Jetpack Credentials: Make it clearer in the heading that we have guessed the host
  client/jetpack-cloud/sections/settings/advanced-credentials/host-selection/index.tsx
Labels: [Status] Needs Review

#47187 i18n: Fix signup sub header title remaining untraslated with async translations
  client/signup/steps/user/index.jsx
Labels: [Status] Needs Review, [Status] Needs i18n Review, [Type] Bug, i18n

#46613 Earn: Replace images with Gridicons
  client/components/promo-section/index.tsx
  client/components/promo-section/promo-card/index.tsx
  client/my-sites/earn/home.tsx
  client/my-sites/earn/style.scss
Labels: Earn, [Status] Needs Review

#47157 Allows for dismissing the time zone mismatch notice
  client/blocks/time-mismatch-warning/docs/example.tsx
  client/blocks/time-mismatch-warning/index.tsx
  client/blocks/time-mismatch-warning/test/__snapshots__/index.jsx.snap
  client/blocks/time-mismatch-warning/test/index.jsx
  client/state/preferences/schema.js
Labels: [Status] Needs Review, [Type] Bug

#47192 Update z-index value for editor-checkout-modal to reveal notice.
  client/blocks/editor-checkout-modal/style.scss
Labels: Checkout, [Status] Needs Review

#47121 Jetpack: Handle disconnected site case
  client/assets/images/jetpack/disconnected-gray.svg
  client/components/jetpack/is-jetpack-disconnected-switch/index.tsx
  client/components/jetpack/jetpack-disconnected-wpcom/index.tsx
  client/components/jetpack/jetpack-disconnected-wpcom/style.scss
  client/components/jetpack/jetpack-disconnected/index.tsx
  client/components/jetpack/jetpack-disconnected/style.scss
  client/components/jetpack/upsell/index.tsx
  client/components/jetpack/upsell/style.scss
  client/my-sites/backup/backup-upsell/index.tsx
  client/my-sites/backup/controller.js
  client/my-sites/backup/index.js
  client/my-sites/backup/wpcom-backup-upsell.tsx
  client/my-sites/scan/controller.js
  client/my-sites/scan/index.js
  client/my-sites/scan/scan-upsell/index.jsx
  client/my-sites/scan/wpcom-scan-upsell.tsx
Labels: Jetpack, Jetpack Cloud, [Status] Needs Review

#47153 Add details to restore progress screen
  client/my-sites/backup/rewind-flow/progress-bar.tsx
  client/my-sites/backup/rewind-flow/restore.tsx
  client/my-sites/backup/rewind-flow/style.scss
  client/state/data-layer/wpcom/sites/rewind/api-transformer.js
  client/state/data-layer/wpcom/sites/rewind/schema.js
  client/state/data-layer/wpcom/sites/rewind/type.ts
  client/state/selectors/get-in-progress-rewind-entry-details.js
Labels: Jetpack Backup

#47193 Editor NUX modal: Temporarily make text smaller in editor welcome modal for german language
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/style.scss
Labels: Coming Soon, [Status] Needs Review, [Type] Bug

#47212 Fetch restore progress details from `/restore` endpoint
  client/my-sites/backup/rewind-flow/restore.tsx
  client/state/activity-log/restore/reducer.js
  client/state/data-layer/wpcom/activity-log/rewind/restore-status/index.js
  client/state/data-layer/wpcom/activity-log/rewind/restore-status/test/index.js
  client/state/data-layer/wpcom/activity-log/rewind/restore-status/type.ts
  client/state/selectors/get-restore-progress.ts
Labels: Jetpack Backup, Rewind, [Status] Needs Review

#47053 Adding Facebook Messenger card to Marketing Tools
  client/assets/images/illustrations/facebook-messenger.svg
  client/my-sites/marketing/tools/index.tsx
Labels: [Status] Needs Review

#47082 Reader Lists: switch follow and unfollow to use the data layer
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/state/data-layer/wpcom/read/lists/index.js
  client/state/reader/action-types.js
  client/state/reader/lists/actions.js
  client/state/reader/lists/reducer.js
  client/state/reader/lists/test/actions.js
  client/state/reader/lists/test/reducer.js
Labels: Reader, [Status] Needs Review, [Type] Janitorial

#46709 Replace client/languages with packages/languages
  bin/build-languages.js
  client/.eslintrc.js
  client/components/community-translator/index.jsx
  client/components/language-picker/docs/example.jsx
  client/components/translator-invite/test/utils.js
  client/extensions/woocommerce/app/settings/email/mailchimp/setup-steps/store-info.js
  client/landing/gutenboarding/onboarding-block/language/index.tsx
  client/languages/fallback-languages-meta.json
  client/languages/index.js
  client/layout/masterbar/quick-language-switcher.jsx
  client/lib/i18n-utils/utils.js
  client/lib/translator-jumpstart/index.js
  client/lib/user/user.d.ts
  client/lib/wporg/index.js
  client/me/account/main.jsx
  client/my-sites/site-settings/form-general.jsx
  client/package.json
  client/webpack.config.js
  package.json
  packages/languages/README.md
  packages/languages/bin/.eslintrc.js
  packages/languages/bin/download.js
  packages/languages/jest.config.js
  packages/languages/package.json
  packages/languages/src/index.ts
  packages/languages/src/languages-meta.json
  packages/languages/test/index.js
  packages/languages/tsconfig-cjs.json
  packages/languages/tsconfig.json
Labels: [Status] Needs Review, [Status] Needs i18n Review

#47168 Move Calypso notifications wrapper out of the notifications package
  client/layout/masterbar/notifications.jsx
  client/notifications/index.jsx
  client/notifications/style.scss
Labels: Notifications, [Status] Needs Review

#47180 Fix/jest resolve module
  build-tools/lib/monorepo.js
  client/webpack.config.node.js
  test/module-resolver.js
Labels: [Status] Needs Review

#47189 Jetpack Cloud: Explain that encrypted keys are those with a passphrase
  client/components/jetpack/server-credentials-form/index.jsx
Labels: [Status] Needs Review

#47186 Editing Toolkit: Update to 2.8.4
  apps/editing-toolkit/editing-toolkit-plugin/full-site-editing-plugin.php
  apps/editing-toolkit/editing-toolkit-plugin/readme.txt
  apps/editing-toolkit/package.json
Labels: Editing Toolkit, [Status] Blocked / Hold, [Status] Needs Review

#47144 Components: Remove Accordion and replace it with Panel
  client/assets/stylesheets/shared/_variables.scss
  client/components/README.md
  client/components/accordion/README.md
  client/components/accordion/docs/example.jsx
  client/components/accordion/index.jsx
  client/components/accordion/section.jsx
  client/components/accordion/status.jsx
  client/components/accordion/style.scss
  client/components/accordion/test/index.jsx
  client/components/accordion/test/status.jsx
  client/devdocs/design/component-examples.js
  client/devdocs/design/index.jsx
  client/devdocs/design/playground-scope.js
  client/my-sites/hosting/php-version-card/style.scss
  client/my-sites/hosting/phpmyadmin-card/index.js
  client/my-sites/hosting/sftp-card/index.js
  client/my-sites/hosting/style.scss
  docs/testing/component-tests.md
  packages/babel-plugin-transform-wpcalypso-async/README.md
Labels: Components, [Goal] Gutenberg, [Status] Needs Review, [Type] Enhancement

#46817 Persistent Launch Button: enable in all environments
  apps/editing-toolkit/editing-toolkit-plugin/editor-gutenboarding-launch/index.ts
  client/gutenberg/editor/calypsoify-iframe.tsx
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#47196 Checkout: Fix checkout loader for tablet devices
  packages/composite-checkout/src/components/loading-content.tsx
Labels: [Status] Needs Review

#47197 Purchases: add button event for adding payment method
  client/me/purchases/credit-cards/index.jsx
Labels: [Status] Needs Review

#47211 Checkout: Show G Suite user list for extra license products
  client/my-sites/checkout/composite-checkout/components/wp-order-review-line-items.js
Labels: Checkout, [Status] Ready to Merge

#46828 Checkout: Convert smaller composite checkout dependencies to TypeScript
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  client/my-sites/checkout/composite-checkout/hooks/use-cached-domain-contact-details.ts
  client/my-sites/checkout/composite-checkout/hooks/use-country-list.ts
  client/my-sites/checkout/composite-checkout/hooks/use-is-apple-pay-available.ts
  client/my-sites/checkout/composite-checkout/hooks/use-prepare-products-for-cart.ts
  client/my-sites/checkout/composite-checkout/hooks/use-stored-cards.ts
  client/my-sites/checkout/composite-checkout/lib/filter-appropriate-payment-methods.ts
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/record-analytics.js
  client/state/selectors/get-contact-details-cache.js
  client/state/selectors/get-countries.js
  packages/composite-checkout/src/public-api.ts
Labels: [Status] Needs Review

#47160 Email: Fix email page when no custom domain
  client/my-sites/email/email-management/index.jsx
Labels: [Status] Needs Review

#47123 Notifications: Update docs with block rendering details.
  apps/notifications/src/doc/note-rendering.md
Labels: Notifications, [Status] Needs Review, [Type] Enhancement

#47191 Focused Launch: Connect domain picker step with the launch store
  packages/domain-picker/src/domain-picker/index.tsx
  packages/domain-picker/src/domain-picker/style.scss
  packages/domain-picker/src/domain-picker/suggestion-item.tsx
  packages/launch/src/focused-launch/summary/index.tsx
Labels: [Status] Needs Review

#46907 Checkout: update credits pay button for mobile screens
  packages/composite-checkout/src/lib/payment-methods/full-credits.js
Labels: [Estimate] 1, [Status] Needs Review

#47172 Checkout: Centralize logic that determines which contact form to use, take 2
  client/my-sites/checkout/composite-checkout/components/contact-details-container.tsx
  client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx
  client/my-sites/checkout/composite-checkout/components/tax-fields.tsx
  client/my-sites/checkout/composite-checkout/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/components/wp-contact-form.js
  client/my-sites/checkout/composite-checkout/components/wp-contact-form.tsx
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  client/my-sites/checkout/composite-checkout/lib/get-contact-details-type.ts
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/types/contact-details.ts
Labels: Checkout, [Status] Ready to Merge

#47198 Fix html invalid markup, propagate react extra props
  client/devdocs/sidebar.jsx
  client/extensions/woocommerce/store-sidebar/index.js
  client/layout/sidebar/expandable-heading.jsx
  client/layout/sidebar/expandable.jsx
  client/layout/sidebar/heading.jsx
  client/layout/sidebar/index.jsx
  client/layout/sidebar/region.jsx
  client/me/sidebar/index.jsx
  client/my-sites/sidebar-unified/index.jsx
  client/my-sites/sidebar/index.jsx
  client/my-sites/sidebar/site-menu.jsx
  client/my-sites/sidebar/tools-menu.jsx
  client/reader/sidebar/index.jsx
  client/reader/sidebar/reader-sidebar-lists/index.jsx
  client/reader/sidebar/reader-sidebar-tags/index.jsx
  client/reader/sidebar/reader-sidebar-tags/list.jsx
Labels: [Status] Needs Review

#47239 Checkout: update edit button position
  packages/composite-checkout/src/components/checkout-steps.tsx
Labels: Checkout, [Status] Ready to Merge

#47175 Checkout: Return last valid responseCart when updating
  packages/shopping-cart/src/use-shopping-cart-manager.ts
Labels: [Status] Needs Review

#47248 Reset Olark identity to re-enable pre-sales chat for Jetpack Cloud
  config/jetpack-cloud-production.json
Labels: Jetpack Cloud, [Status] Needs Review

#47249 Nav-unification: Submenu colors are controlled by variable
  client/my-sites/sidebar-unified/style.scss
Labels: [Status] Needs Review, nav-unification

#47245 Premium Content: Provide block context to the payments button
  apps/editing-toolkit/editing-toolkit-plugin/premium-content/blocks/buttons/index.js
Labels: Premium Content, [Status] Needs Review, [Type] Enhancement
