Repository Automattic/wp-calypso, pull requests merged in 2020-09, with the labels that each got.

#45243 Patterns API: Enable patterns lib in development and wpcalypso environments
  config/development.json
  config/wpcalypso.json
Labels: [Status] Needs Review

#45298 eslintignore: add .cache/ and desktop/ directories
  .eslintignore
Labels: Expedited Review, [Status] Ready to Merge

#45270 Components: Remove global input[type='url'] styles
  client/assets/stylesheets/shared/_forms.scss
  client/components/forms/form-text-input/index.jsx
  client/components/forms/form-text-input/style.scss
Labels: Components, [Status] Needs Review, [Type] Enhancement

#45320 Fix feature picker icon alignments
  client/landing/gutenboarding/onboarding-block/features/style.scss
Labels: [Goal] Gutenboarding, [Status] Needs Review

#45216 Remove the secondary option (toggles sidebar) from section definitions
  client/document/desktop.jsx
  client/document/index.jsx
  client/extensions/hello-dolly/package.json
  client/extensions/sensei/package.json
  client/extensions/woocommerce/package.json
  client/extensions/wp-super-cache/package.json
  client/extensions/zoninator/package.json
  client/jetpack-connect/controller.js
  client/landing/gutenboarding/section.ts
  client/layout/error.jsx
  client/layout/index.jsx
  client/layout/logged-out.jsx
  client/login/index.web.js
  client/me/account-close/controller.js
  client/my-sites/checkout/controller.jsx
  client/my-sites/controller.js
  client/my-sites/invites/controller.js
  client/my-sites/plugins/controller.js
  client/my-sites/purchase-product/controller.js
  client/my-sites/site-settings/controller.js
  client/sections.js
  client/server/pages/index.js
  client/server/pages/test/index.js
  client/state/document-head/test/selectors.js
  client/state/ui/actions/index.js
  client/state/ui/reducer.js
  client/state/ui/section/actions.js
  client/state/ui/selectors/has-sidebar.js
  client/state/ui/selectors/index.js
  client/state/ui/test/actions.js
  client/state/ui/test/selectors.js
Labels: Framework, [Status] Needs Review, [Type] Janitorial

#45290 Modularise home state
  client/state/home/actions.js
  client/state/home/init.js
  client/state/home/package.json
  client/state/home/reducer.js
  client/state/reducer.js
  client/state/selectors/get-home-layout.js
  client/state/selectors/is-home-quick-links-expanded.js
Labels: Customer Home, State, [Status] Needs Review

#45307 Checkout: Add guard clause to prevent undefined refs from site purchases
  client/my-sites/checkout/checkout/prepurchase-notices/index.jsx
Labels: Checkout, [Status] Ready to Merge

#45316 Upgrade Prettier to 2.1.1 beta
  client/blocks/comments/docs/post-comment-example.jsx
  client/components/phone-input/data.js
  client/server/render/index.js
  client/state/selectors/test/get-current-route-parameterized.js
  client/state/selectors/test/is-google-my-business-location-connected.js
  client/state/test/serialization-result.js
  client/state/test/utils.js
  package.json
  packages/composite-checkout/src/components/checkout-steps.js
  packages/i18n-calypso/test/index.js
  test/e2e/package.json
  yarn.lock
Labels: Expedited Review, Framework, [Status] Needs Review

#45241 Checkout: Wrap analytics recording in try/catch
  client/my-sites/checkout/composite-checkout/record-analytics.js
Labels: Checkout, OSS Citizen, [Status] Ready to Merge

#45192 desktop: record e2e runs
  .circleci/config.yml
  desktop/e2e/run.js
  desktop/e2e/tests/lib/mocha-hooks.js
  desktop/e2e/tests/lib/video-recorder.js
Labels: [Status] Needs Review

#45326 i18n: Fix translations setup with locale variant
  client/boot/locale.js
  client/server/render/index.js
Labels: [Status] Needs Review, i18n

#45310 Jetpack Offer Reset: Upgrade Nudge, align price left if price wrapped.
  client/components/jetpack/card/jetpack-product-card/style.scss
  client/components/jetpack/card/jetpack-product-card/upgrade-nudge.tsx
Labels: Jetpack, Plans, [Status] Needs Review

#45329 Set font-headings and font-base properties on documentElement rather …
  client/landing/gutenboarding/onboarding-block/style-preview/preview.tsx
Labels: [Goal] Gutenboarding, [Status] Needs Review

#45325 Gutenberg: Restore visibility of Preview button for GB 8.9+
  apps/wpcom-block-editor/src/calypso/features/legacy-preview-button.scss
Labels: [Goal] Gutenberg, [Status] Ready to Merge, [Type] Bug

#45308 Offer Reset: create the Jetpack Pricing page
  client/landing/jetpack-cloud/sections/pricing/controller.tsx
  client/landing/jetpack-cloud/sections/pricing/header/index.tsx
  client/landing/jetpack-cloud/sections/pricing/header/style.scss
  client/landing/jetpack-cloud/sections/pricing/index.ts
  client/landing/jetpack-cloud/sections/pricing/main.tsx
  client/landing/jetpack-cloud/sections/pricing/style.scss
  client/my-sites/plans-v2/plans-filter-bar/index.tsx
  client/my-sites/plans-v2/selector.tsx
  client/my-sites/plans-v2/use-detect-window-boundary.ts
  client/sections.js
Labels: Jetpack Cloud, [Status] Needs Review

#45334 Jetpack Cloud: Add Jetpack Credentials Feature Flag
  client/landing/jetpack-cloud/sections/settings/controller.js
  client/landing/jetpack-cloud/sections/settings/flow.tsx
  config/jetpack-cloud-development.json
  config/jetpack-cloud-horizon.json
  config/jetpack-cloud-production.json
  config/jetpack-cloud-stage.json
Labels: Jetpack Cloud, [Status] Needs Review

#45139 Customize button to always navigate to customizer
  client/my-sites/themes/theme-options.js
  client/state/selectors/get-customize-url.js
Labels: Customizer, Themes, [Status] Needs Review

#45242 Editing Toolkit Sidebar: Update design
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/class-wpcom-block-editor-nav-sidebar.php
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/create-page/style.scss
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-sidebar/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-sidebar/style.scss
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/constants.ts
Labels: Editing Toolkit, Sidebar, [Status] Needs Review

#45294 PostItem: Simplify condition for PostActionsEllipsisMenu
  client/blocks/post-item/index.jsx
Labels: Posts, [Pri] Low, [Status] Needs Review, [Type] Janitorial

#45256 Disable the add to cart button while premium pricing is pending
  client/components/domains/domain-registration-suggestion/index.jsx
  client/components/domains/premium-badge/index.jsx
  client/components/domains/register-domain-step/index.jsx
Labels: Domains, [Status] Needs Review

#45215 Add "Change site address" menu in the domain list menus
  client/my-sites/domains/domain-management/list/domain-item.jsx
  client/my-sites/domains/domain-management/list/index.jsx
Labels: Domains, [Status] Needs Review

#45062 Cleanup the stats router code
  client/my-sites/activity/controller.jsx
  client/my-sites/stats/controller.jsx
  client/my-sites/stats/index.js
  client/my-sites/stats/test/index.js
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Stats, [Status] Needs Review, [Type] Janitorial

#45353 Collect RUM stats for 100% users
  client/lib/abtest/active-tests.js
  client/lib/performance-tracking/README.md
  client/lib/performance-tracking/const.js
  client/lib/performance-tracking/lib.js
  client/lib/performance-tracking/test/lib.js
Labels: Expedited Review, [Status] Needs Review

#45338 P2: refactor wp-for-teams to p2 in signup
  client/lib/signup/step-actions/index.js
  client/my-sites/invites/invite-accept-logged-out/index.jsx
  client/signup/config/flows-pure.js
  client/signup/main.jsx
Labels: [Status] Needs Review

#45354 Update/lazy load gutenboarding plans
  client/landing/gutenboarding/onboarding-block/plans/index.tsx
Labels: [Goal] Gutenboarding, [Status] Needs Review

#45337 e2e: Fix inline help test and do some package updates
  test/e2e/lib/components/sidebar-component.js
  test/e2e/lib/flows/login-flow.js
  test/e2e/package.json
  yarn.lock
Labels: [Status] Needs Review

#45010 Add a fallback for site_vertical
  apps/editing-toolkit/editing-toolkit-plugin/starter-page-templates/class-starter-page-templates.php
Labels: [Goal] Page Templates, [Status] Needs Review, [Type] Bug

#45237 Earn: Adding Donations
  client/assets/images/earn/donations.svg
  client/assets/images/earn/referral.svg
  client/my-sites/earn/home.tsx
Labels: Earn, [Status] Needs Review

#45311 FormTextInput: keep field value in sync with value prop
  client/components/forms/form-text-input/index.jsx
Labels: Checkout, [Status] Ready to Merge

#45359 Fix styling issues in Jetpack connect-in-place page
  client/jetpack-connect/style.scss
  client/my-sites/plans-v2/details.tsx
  client/my-sites/plans-v2/selector.tsx
  client/my-sites/plans-v2/style.scss
Labels: Jetpack, Plans, [Status] Needs Review

#45340 Add Step Progress Component
  client/components/step-progress/README.md
  client/components/step-progress/docs/example.tsx
  client/components/step-progress/index.tsx
  client/components/step-progress/style.scss
  client/devdocs/design/component-examples.js
  client/devdocs/design/index.jsx
Labels: Components, New Component, [Status] Needs Review

#45276 feat: enable notification badge
  apps/notifications/index.jsx
  client/desktop/lib/platform/index.js
  client/desktop/lib/platform/linux/index.js
  client/desktop/lib/platform/mac/index.js
  client/desktop/lib/platform/windows/index.js
  client/desktop/window-handlers/notifications/index.js
  client/lib/desktop/index.js
  client/state/desktop/middleware.js
  client/state/desktop/window-events.js
Labels: [Status] Needs Review

#45313 Stats: Display proper labels for x axis
  client/components/chart/bar-container.jsx
  client/components/chart/index.jsx
  client/components/chart/x-axis.jsx
  client/lib/track-element-size/index.ts
Labels: Stats, [Status] Needs Review, [Type] Bug

#45352 My Home: Update Stats Text for Sites Under a Week Old
  client/my-sites/customer-home/cards/features/stats/index.jsx
Labels: Customer Home, OSS Citizen, [Type] Enhancement

#45332 Jetpack Offer Reset: Jetpack Backup Real-time should upsell Scan
  client/lib/plans/features-list.js
  client/lib/plans/plans-list.js
  client/lib/products-values/translations.js
  client/my-sites/plans-v2/constants.ts
Labels: Jetpack, Plans, [Status] In Progress, [Status] Needs Review

#45360 Site Editor: fix loading order on Dotcom after 8.9.0 update
  apps/editing-toolkit/editing-toolkit-plugin/full-site-editing-plugin.php
Labels: [Status] Needs Review, [Type] Bug

#45266 Add aria label to WP-icon button to indicate that it opens sidebar.
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-sidebar/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/toggle-sidebar-button/index.tsx
Labels: Accessibility, Sidebar, [Status] Needs Review

#45348 Reader sidebar: improve resilience when displaying subscribed feeds
  client/reader/sidebar/reader-sidebar-followed-sites/item.jsx
Labels: Reader, [Status] Ready to Merge

#45374 Support: Only show limited availability notice for Personal support level
  client/me/help/help-contact/index.jsx
Labels: [Status] Needs Review

#45365 Fix: Use FormRadio and FormCheckbox components for term-tree-selector
  client/blocks/term-tree-selector/terms.jsx
Labels: Components, Expedited Review, [Type] Bug

#43817 FSE: New Patterns
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/audio-player.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/call-to-action-04.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/contact-05.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/heading-and-paragraph.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/heading-and-text-in-two-columns.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/hero-with-heading-subtitle-and-two-buttons.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/image-and-text-mosaic.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/images-02.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/images.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/list-02.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/multi-column-text-with-headline.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/podcast-subscription.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/quote-02.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/quote-03.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/quote-04.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/quote.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/quotes-02.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/quotes.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/registration-form.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/subscription-02.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/subscription.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/three-quotes.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/youtube-embed.php
Labels: Patterns, [Status] Needs Review

#45358 Components: Remove global input[type='search'] styles
  client/assets/stylesheets/shared/_forms.scss
  client/blocks/term-tree-selector/search.jsx
  client/components/forms/form-text-input/style.scss
  client/components/search/index.jsx
  client/my-sites/post-selector/search.jsx
Labels: Components, [Status] Needs Review, [Type] Enhancement

#45293 Posts: Dereduxify post type list likes
  client/my-sites/post-type-list/post-action-counts/index.jsx
  client/state/action-types.js
  client/state/ui/post-type-list/actions.js
  client/state/ui/post-type-list/reducer.js
  client/state/ui/post-type-list/selectors.js
  client/state/ui/post-type-list/test/reducer.js
  client/state/ui/post-type-list/test/selectors.js
Labels: Posts, State, [Status] Needs Review, [Type] Janitorial

#45295 Modularise plugins state
  client/extensions/woocommerce/state/selectors/plugins.js
  client/state/plugins/init.js
  client/state/plugins/installed/actions.js
  client/state/plugins/installed/selectors.js
  client/state/plugins/package.json
  client/state/plugins/premium/actions.js
  client/state/plugins/premium/selectors.js
  client/state/plugins/recommended/actions.js
  client/state/plugins/reducer.js
  client/state/plugins/upload/actions.js
  client/state/plugins/wporg/actions.js
  client/state/plugins/wporg/selectors.js
  client/state/reducer.js
  client/state/selectors/get-plugin-upload-error.js
  client/state/selectors/get-plugin-upload-progress.js
  client/state/selectors/get-recommended-plugins.js
  client/state/selectors/get-uploaded-plugin-id.js
  client/state/selectors/is-plugin-active.js
  client/state/selectors/is-plugin-upload-in-progress.js
Labels: Plugins, State, [Status] Needs Review, [Type] Janitorial

#45372 Bump WordPress.com Editing Toolkit plugin to v2.1
  apps/editing-toolkit/editing-toolkit-plugin/full-site-editing-plugin.php
  apps/editing-toolkit/editing-toolkit-plugin/readme.txt
  apps/editing-toolkit/package.json
  package.json
Labels: [Status] Needs Review

#45362 Fix Jetpack Free card styling issues
  client/components/jetpack/card/jetpack-free-card/index.tsx
  client/components/jetpack/card/jetpack-free-card/style.scss
  packages/components/src/button/style.scss
Labels: Jetpack, Plans, [Status] Needs Review

#45366 Plans: Add Tracks events for new filters and products with subtypes
  client/my-sites/plans-v2/selector.tsx
Labels: Analytics, Plans, [Status] Needs Review

#45384 Plans: Add the selected site ID to new Tracks events from #45366
  client/my-sites/plans-v2/selector.tsx
Labels: Analytics, Plans, [Status] Needs Review

#45388 Update the copy of some features in the Jetpack Complete plan card
  client/lib/plans/features-list.js
Labels: Jetpack, Plans, [Status] Needs Review

#45297 Refactor the DailyBackupStatus component and add unit tests
  client/components/jetpack/daily-backup-status/index.jsx
  client/components/jetpack/daily-backup-status/status-card/backup-failed.jsx
  client/components/jetpack/daily-backup-status/status-card/backup-scheduled.jsx
  client/components/jetpack/daily-backup-status/status-card/backup-successful.jsx
  client/components/jetpack/daily-backup-status/status-card/icons/cloud-error.svg
  client/components/jetpack/daily-backup-status/status-card/icons/cloud-schedule.svg
  client/components/jetpack/daily-backup-status/status-card/icons/cloud-success.svg
  client/components/jetpack/daily-backup-status/status-card/icons/cloud-warning.svg
  client/components/jetpack/daily-backup-status/status-card/no-backups-on-selected-date.jsx
  client/components/jetpack/daily-backup-status/status-card/no-backups-yet.jsx
  client/components/jetpack/daily-backup-status/status-card/style.scss
  client/components/jetpack/daily-backup-status/style.scss
  client/components/jetpack/daily-backup-status/test/index.jsx
  client/components/jetpack/daily-backup-status/use-get-display-date.js
  client/my-sites/backup/main.jsx
Labels: Jetpack Cloud, [Status] Needs Design Review, [Status] Needs Review

#45323 Add search record details to Jetpack Search product card
  client/components/jetpack/card/jetpack-product-card/index.tsx
  client/components/jetpack/card/jetpack-product-card/style.scss
  client/lib/products-values/translations.js
  client/lib/products-values/types.ts
  client/my-sites/plans-v2/product-card/index.tsx
  client/my-sites/plans-v2/records-details/index.tsx
  client/my-sites/plans-v2/style.scss
  client/my-sites/plans-v2/types.ts
  client/my-sites/plans-v2/utils.ts
Labels: Jetpack, Plans, [Status] Needs Review

#45385 Offer Reset: add the Pricing page footer
  client/landing/jetpack-cloud/sections/pricing/controller.tsx
  client/landing/jetpack-cloud/sections/pricing/jpcom-footer/index.tsx
  client/landing/jetpack-cloud/sections/pricing/jpcom-footer/style.scss
Labels: Jetpack Cloud, [Status] Needs Review

#45347 Stats: Properly display new graph data when new data is received
  client/state/stats/chart-tabs/reducer.js
  client/state/stats/chart-tabs/test/reducer.js
Labels: Stats, [Status] Needs Review, [Type] Bug

#45375 Ignore the editing toolkit build artifacts in `.cache`
  .gitignore
  package.json
Labels: [Status] Needs Review, [Type] Janitorial

#45345 [E2E] Embed block fixes
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/specs/wp-calypso-gutenberg-coblocks-spec.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
Labels: [Status] In Progress, [Status] Needs e2e Testing Gutenberg Edge

#45369 Offer Reset: add JPCOM master bar to the Pricing page
  client/landing/jetpack-cloud/sections/pricing/header/index.tsx
  client/landing/jetpack-cloud/sections/pricing/header/style.scss
  client/landing/jetpack-cloud/sections/pricing/jpcom-masterbar/index.tsx
  client/landing/jetpack-cloud/sections/pricing/jpcom-masterbar/style.scss
  client/landing/jetpack-cloud/sections/pricing/main.tsx
  client/landing/jetpack-cloud/sections/pricing/style.scss
Labels: Jetpack Cloud, [Status] Needs Review

#45349 Nav sidebar: improve the experience of opening and closing the sidebar for assistive technology users
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-sidebar/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/toggle-sidebar-button/index.tsx
Labels: Accessibility, Editor, Sidebar, [Goal] Editor Improvements, [Status] Needs Review

#45398 Bump WordPress.com Editing Toolkit plugin to v2.2
  apps/editing-toolkit/editing-toolkit-plugin/full-site-editing-plugin.php
  apps/editing-toolkit/editing-toolkit-plugin/readme.txt
  apps/editing-toolkit/package.json
  package.json
Labels: [Status] Needs Review

#45379 Sidebar: fixup styles to work without the CSS reset
  client/layout/sidebar/style.scss
Labels: Sidebar, [Status] Ready to Merge

#45346 Fix fatal error loading the block list for the first time for a site
  client/my-sites/activity/activity-log/index.jsx
  client/my-sites/comment/main.jsx
  client/my-sites/comments/main.jsx
  client/my-sites/types/main.jsx
  client/state/post-types/selectors.js
  client/state/post-types/test/selectors.js
  client/state/selectors/can-current-user.js
  client/state/selectors/can-site-view-atomic-hosting.js
  client/state/selectors/test/can-current-user.js
  client/state/sites/selectors/can-current-user-use-customer-home.js
  client/state/sites/selectors/can-current-user-use-earn.js
  client/state/sites/selectors/get-site-computed-attributes.js
  client/state/sites/test/selectors.js
Labels: [Status] Needs Review

#43980 FSE: Add Current layout to starter page templates page layout picker when editing a homepage
  apps/editing-toolkit/editing-toolkit-plugin/starter-page-templates/class-starter-page-templates.php
  apps/editing-toolkit/editing-toolkit-plugin/starter-page-templates/page-template-modal/components/block-iframe-preview.js
  apps/editing-toolkit/editing-toolkit-plugin/starter-page-templates/page-template-modal/components/template-selector-item.js
  apps/editing-toolkit/editing-toolkit-plugin/starter-page-templates/page-template-modal/components/test/__snapshots__/template-selector-preview.test.js.snap
  apps/editing-toolkit/editing-toolkit-plugin/starter-page-templates/page-template-modal/index.js
Labels: DO NOT MERGE, [Status] In Progress, [Status] Needs Review

#45339 Show the cart in the domain search screen header
  client/my-sites/checkout/cart/header-cart.jsx
  client/my-sites/domains/domain-management/list/index.jsx
  client/my-sites/domains/domain-management/list/style.scss
  client/my-sites/domains/domain-search/index.jsx
  client/my-sites/domains/style.scss
Labels: Domains, [Status] Needs Review

#45324 Components: Remove global checkbox styles
  client/assets/stylesheets/shared/_forms.scss
  client/blocks/nps-survey/docs/example.jsx
  client/components/bulk-select/docs/example.jsx
  client/components/bulk-select/index.jsx
  client/components/bulk-select/style.scss
  client/components/bulk-select/test/index.js
  client/components/chart/legend-item.jsx
  client/components/chart/style.scss
  client/components/forms/form-checkbox/index.jsx
  client/components/forms/form-checkbox/index.tsx
  client/components/forms/form-checkbox/style.scss
  client/components/forms/form-label/index.tsx
  client/components/forms/form-toggle/index.jsx
  client/components/forms/form-toggle/test/index.jsx
  client/components/forms/multi-checkbox/README.md
  client/components/forms/multi-checkbox/index.tsx
  client/components/forms/multi-checkbox/style.scss
  client/components/line-chart/docs/example.js
  client/components/pie-chart/docs/example.js
  client/components/tinymce/plugins/wpcom-view/views/contact-form/preview-fields.jsx
  client/extensions/woocommerce/components/bulk-select/index.js
  client/extensions/woocommerce/components/product-search/index.js
  client/extensions/woocommerce/woocommerce-services/components/checkbox/style.scss
  client/layout/community-translator/launcher.jsx
  client/me/profile-links-add-wordpress/site.jsx
  client/my-sites/domains/domain-management/dns/domain-connect-record.jsx
  client/my-sites/domains/domain-management/name-servers/wpcom-nameservers-toggle.jsx
  client/my-sites/marketing/buttons/appearance.jsx
  client/my-sites/marketing/buttons/options.jsx
  client/my-sites/marketing/connections/connection.jsx
  client/my-sites/plugins/plugin-action/test/index.jsx
  client/my-sites/plugins/plugin-item/plugin-item.jsx
  client/my-sites/post-selector/docs/example.jsx
  client/post-editor/editor-fieldset/README.md
Labels: Components, Framework, [Status] Needs Review

#45402 Add multi-stage docker file for CI image
  .dockerignore
  Dockerfile.base
  bin/build-docker.sh
Labels: [Status] Needs Review

#45399 Add TeamCity config
  .teamcity/README
  .teamcity/pom.xml
  .teamcity/settings.kts
Labels: [Status] Needs Review

#45390 Make links in product card tooltips external
  client/lib/plans/features-list.js
Labels: Jetpack, Plans, [Status] Needs Review

#45391 Remove no-longer-used Apple Pay merchant validation endpoint
  client/lib/wpcom-undocumented/lib/undocumented.js
Labels: Payment Methods, [Status] Ready to Merge

#45361 i18n: Fix support articles always rendering in English
  client/blocks/support-article-dialog/dialog.jsx
  client/components/data/query-support-article-alternates/index.jsx
  client/components/inline-support-link/index.jsx
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/state/action-types.js
  client/state/support-articles-alternates/actions.js
  client/state/support-articles-alternates/init.js
  client/state/support-articles-alternates/package.json
  client/state/support-articles-alternates/reducer.js
  client/state/support-articles-alternates/selectors.js
  client/state/support-articles-alternates/test/actions.js
  client/state/support-articles-alternates/test/reducer.js
  client/state/support-articles-alternates/test/selectors.js
Labels: [Status] Needs Review, i18n

#45387 Checkout: Prevent history.replaceState errors from crashing checkout
  client/my-sites/checkout/composite-checkout/hooks/use-skip-to-last-step-if-form-complete.js
Labels: Checkout, [Status] Ready to Merge

#45373 Earn: Only display commission rates once earnings data is received.
  client/my-sites/earn/memberships/index.jsx
  client/state/memberships/earnings/selectors.js
Labels: Earn, [Status] Needs Review, [Type] Bug

#45386 @automattic/components: Add bare Button style
  package.json
  packages/components/src/button/README.md
  packages/components/src/button/docs/example.jsx
  packages/components/src/button/index.jsx
  packages/components/src/button/index.stories.jsx
  packages/components/src/button/style.scss
  yarn.lock
Labels: [Status] Needs Review

#45230 Create `retarget-open-prs` utility
  packages/retarget-open-prs/.eslintrc.js
  packages/retarget-open-prs/README.md
  packages/retarget-open-prs/cli.js
  packages/retarget-open-prs/github.js
  packages/retarget-open-prs/index.js
  packages/retarget-open-prs/package.json
  packages/retarget-open-prs/rate-limit.js
  packages/retarget-open-prs/test/test.js
  yarn.lock
Labels: [Status] Needs Review

#45410 Earn: Properly display commission values of 0.
  client/my-sites/earn/memberships/index.jsx
Labels: Earn, [Status] Needs Review, [Type] Bug

#45396 Merge release 6.0.3
  desktop/package.json
Labels: [Status] Needs Review

#45405 Fix/tweak teamcity
  .teamcity/settings.kts
Labels: Expedited Review, [Status] Needs Review

#45400 Components: Remove global input[type='tel'] styles
  client/assets/stylesheets/shared/_forms.scss
  client/components/forms/form-tel-input/index.jsx
  client/components/forms/form-tel-input/style.scss
  client/components/forms/form-text-input/style.scss
  client/components/forms/form-verification-code-input/index.jsx
  client/components/phone-input/index.jsx
Labels: Components, [Status] Needs Review, [Type] Enhancement

#45426 Add Slack notifications to TeamCity
  .teamcity/settings.kts
Labels: Expedited Review, [Status] Ready to Merge

#45430 Fix/teamcity remove docker integration
  .teamcity/settings.kts
Labels: Build, Expedited Review, [Status] Ready to Merge

#45401 Components: Remove redundant select docs
  client/components/select/docs/example.jsx
Labels: Components, [Status] Needs Review, [Type] Janitorial

#45403 Domains: Remove google apps users library
  .github/CODEOWNERS
  client/lib/domains/google-apps-users/index.js
Labels: Domains, G Suite, [Status] Needs Review, [Type] Janitorial

#45404 Guided Tours: Remove unused Activity Log tour
  client/layout/guided-tours/tours/activity-log-tour/index.js
  client/layout/guided-tours/tours/activity-log-tour/meta.js
Labels: Activity Log, Guided Tours, [Status] Needs Review, [Type] Janitorial

#45406 Components: Remove happychat agent with avatar component
  client/components/happychat/agent-w/index.jsx
  client/components/happychat/agent-w/style.scss
Labels: Components, Happychat, [Status] Needs Review, [Type] Janitorial

#45421 Inline Support Articles: Fix memoizing issue
  client/blocks/support-article-dialog/dialog.jsx
  client/components/inline-support-link/index.jsx
Labels: [Status] Needs Review, i18n

#45041 Editor: Default editor url to block editor
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/gutenberg/index.js
  client/state/editor/selectors.js
  client/state/editor/test/selectors.js
  client/state/gutenberg-iframe-eligible/init.js
  client/state/gutenberg-iframe-eligible/is-eligible-for-gutenframe.js
  client/state/gutenberg-iframe-eligible/package.json
  client/state/gutenberg-iframe-eligible/reducer.js
  client/state/selectors/get-editor-url.js
  client/state/selectors/get-gutenberg-editor-url.js
  client/state/selectors/should-load-gutenberg.js
  test/e2e/specs/wp-comments-spec.js
  test/e2e/specs/wp-media-upload-spec.js
  test/e2e/specs/wp-page-editor-spec.js
  test/e2e/specs/wp-post-editor-spec.js
Labels: Editor, [Status] Ready to Merge

#45370 Store: Fix plugin install on Store/Woo feature.
  client/extensions/woocommerce/app/dashboard/required-plugins-install-view.js
Labels: [Status] Ready to Merge

#45432 Border radius changes for cloud.jetpack.com
  client/components/activity-card/style.scss
  client/components/jetpack/log-item/style.scss
  client/components/jetpack/threat-item-subheader/style.scss
  client/components/jetpack/threat-item/style.scss
  client/landing/jetpack-cloud/style.scss
Labels: Jetpack Cloud, [Status] Needs Design Review, [Status] Needs Review

#45418 Composite Checkout: allow passing more than one product in the url
  client/my-sites/checkout/composite-checkout/test/composite-checkout.js
  client/my-sites/checkout/composite-checkout/use-prepare-product-for-cart.js
Labels: Checkout, [Status] Needs Review

#45371 Add Jetpack Settings Host Detection
  client/components/step-progress/index.tsx
  client/landing/jetpack-cloud/sections/settings/controller.js
  client/landing/jetpack-cloud/sections/settings/controller.tsx
  client/landing/jetpack-cloud/sections/settings/credentials/index.tsx
  client/landing/jetpack-cloud/sections/settings/flow.tsx
  client/landing/jetpack-cloud/sections/settings/host-selection/index.tsx
  client/landing/jetpack-cloud/sections/settings/host-selection/style.scss
  client/landing/jetpack-cloud/sections/settings/index.js
  client/landing/jetpack-cloud/sections/settings/top/index.tsx
  client/landing/jetpack-cloud/sections/settings/top/style.scss
  client/landing/jetpack-cloud/sections/settings/utils.ts
  client/lib/jetpack/paths.ts
  client/state/data-getters/index.js
Labels: Jetpack Cloud, [Status] Needs Review

#45434 Add Jetpack Cloud Settings Host Credentials Status
  client/landing/jetpack-cloud/sections/settings/credentials/featured-provider.tsx
  client/landing/jetpack-cloud/sections/settings/credentials/form.tsx
  client/landing/jetpack-cloud/sections/settings/credentials/index.tsx
  client/landing/jetpack-cloud/sections/settings/top/connection-status.tsx
  client/landing/jetpack-cloud/sections/settings/top/index.tsx
  client/landing/jetpack-cloud/sections/settings/top/style.scss
  client/landing/jetpack-cloud/sections/settings/utils.ts
Labels: Jetpack Cloud, [Status] Needs Review

#45448 [TeamCity] - Do not litmit branch checkout for docker builds
  .teamcity/settings.kts
Labels: Build, Expedited Review, [Status] Needs Review

#45445 Add experimentation platform paths to CODEOWNERS
  .github/CODEOWNERS
Labels: Data, [Pri] Normal, [Status] Needs Review, [Type] Janitorial

#45451 Fix typo in Jetpack Settings Host Detection
  client/landing/jetpack-cloud/sections/settings/host-selection/index.tsx
Labels: Jetpack Cloud, [Status] Needs Review

#45395 Re-merge "[E2E] Embed block fixes"
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/specs/wp-calypso-gutenberg-coblocks-spec.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
Labels: [Status] Needs e2e Testing Gutenberg Edge, [Status] Ready to Merge

#45452 Nav Unification: Add feature flag
  config/client.json
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Status] Ready to Merge, nav-unification

#45457 Revert Plans step lazy loading
  client/landing/gutenboarding/onboarding-block/plans/index.tsx
Labels: [Status] Needs Review

#43907 Calypso Build: add more dependencies that need to be transpiled
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/webpack/util.js
Labels: Build, Jetpack, [Status] Needs Review

#45280 Gutenboarding: add experimental features to Site setup
  apps/editing-toolkit/editing-toolkit-plugin/common/data-stores/launch/actions.ts
  apps/editing-toolkit/editing-toolkit-plugin/common/data-stores/launch/index.ts
  apps/editing-toolkit/editing-toolkit-plugin/common/data-stores/launch/reducer.ts
  apps/editing-toolkit/editing-toolkit-plugin/editor-gutenboarding-launch/index.ts
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/plan-step/index.tsx
  apps/wpcom-block-editor/src/calypso/features/iframe-bridge-server.js
  client/gutenberg/editor/calypsoify-iframe.tsx
  client/landing/gutenboarding/hooks/use-step-navigation.ts
  client/landing/gutenboarding/onboarding-block/plans/index.tsx
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  packages/plans-grid/package.json
  packages/plans-grid/src/plans-grid/index.tsx
Labels: [Goal] Gutenboarding, [Status] Needs Review

#45436 Pass ports within data for more predictable messaging API functionality
  apps/wpcom-block-editor/src/calypso/features/iframe-bridge-server.js
  client/gutenberg/editor/calypsoify-iframe.tsx
Labels: Expedited Review, Maintenance, [Status] Needs Review

#45416 Update cloud pricing page styles
  client/landing/jetpack-cloud/sections/pricing/style.scss
  client/sections.js
  client/server/pages/index.js
  client/state/document-head/reducer.js
  client/state/document-head/test/reducer.js
Labels: Jetpack Cloud, Plans, [Status] Needs Review

#45473 Search: Fix border radii on search inputs
  client/components/search/style.scss
Labels: Components, [Status] Needs Review, [Type] Janitorial

#45305 deps: Upgrade stylelint
  .eslintrc.js
  .stylelintrc
  client/components/tinymce/style.scss
  client/landing/gutenboarding/onboarding-block/acquire-intent/style.scss
  package.json
  yarn.lock
Labels: [Status] Needs Review, [Type] Janitorial

#45413 Don't filter the deleted DNS records from the returned data
  client/lib/wpcom-undocumented/lib/undocumented.js
Labels: Domains, [Status] Needs Review

#45411 Jetpack Offer Reset: Show different plans page Header if coming from in-place connection flow.
  client/my-sites/plans-v2/plans-header.tsx
  client/my-sites/plans-v2/style.scss
Labels: Jetpack, Plans, [Status] Needs Review

#45475 Offer Reset: improvements to product card badges
  client/components/jetpack/card/jetpack-bundle-card/style.scss
  client/components/jetpack/card/jetpack-plan-card/style.scss
  client/components/jetpack/card/jetpack-product-card/index.tsx
  client/components/jetpack/card/jetpack-product-card/style.scss
Labels: Plans, [Status] Needs Review

#45471 Checkout: Add the action data to `calypso_checkout_composite_error`
  client/my-sites/checkout/composite-checkout/record-analytics.js
Labels: Analytics, Checkout, [Status] Ready to Merge

#45351 Reader: consolidate use of formatUrlForDisplay
  client/blocks/reader-list-item/index.jsx
  client/blocks/reader-subscription-list-item/index.jsx
  client/reader/lib/feed-display-helper/index.js
Labels: Reader, [Status] Needs Review, [Type] Janitorial

#45429 EditingToolkitSidebar: add tracking events
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/create-page/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-item/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-sidebar/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/toggle-sidebar-button/index.tsx
Labels: Sidebar, [Status] Ready to Merge

#44888 Coming Soon: Render a coming soon page if the user is logged out
  apps/editing-toolkit/editing-toolkit-plugin/coming-soon/coming-soon.php
  apps/editing-toolkit/editing-toolkit-plugin/coming-soon/fallback-coming-soon-page.php
  apps/editing-toolkit/editing-toolkit-plugin/full-site-editing-plugin.php
Labels: Coming Soon, [Status] Needs Review

#45423 Editing toolkit: Update Newspack to 1.8.0
  apps/editing-toolkit/editing-toolkit-plugin/newspack-blocks/index.php
  apps/editing-toolkit/package.json
  yarn.lock
Labels: Editing Toolkit, [Status] Needs Review

#45433 Editing Toolkit: Fix IE11 syntax error, new dependencies to transpile
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/webpack/util.js
Labels: Editing Toolkit, [Pri] Normal, [Status] Needs Review

#45419 Email: Create email provider comparison page
  client/assets/images/email-providers/email-illustration.svg
  client/assets/images/email-providers/forwarding.svg
  client/assets/images/email-providers/gsuite.svg
  client/assets/images/email-providers/titan.svg
  client/components/gsuite/gsuite-price/index.jsx
  client/components/promo-section/promo-card/index.tsx
  client/components/promo-section/promo-card/price.tsx
  client/components/promo-section/promo-card/style.scss
  client/my-sites/email/email-management/index.jsx
  client/my-sites/email/email-providers-comparison/email-provider-details/email-provider-feature.jsx
  client/my-sites/email/email-providers-comparison/email-provider-details/index.jsx
  client/my-sites/email/email-providers-comparison/email-provider-details/style.scss
  client/my-sites/email/email-providers-comparison/index.jsx
  client/my-sites/email/email-providers-comparison/style.scss
Labels: [Status] Needs Review, [Status] Ready to Merge, [Type] Enhancement

#45485 Calypso Build: Bump to v6.3.0
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/package.json
Labels: Build, [Status] Needs Review

#45364 Update how we handle premium domains for TLDs we don't support
  client/components/domains/register-domain-step/index.jsx
  client/lib/domains/registration/availability-messages.js
Labels: Domains, [Status] Needs Review

#45461 Replace calypso/config with calypso/server/config in server tests
  test/server/jest.config.js
Labels: Expedited Review, Testing, [Status] Ready to Merge

#45463 [TeamCity] - Split unit test into several steps
  .teamcity/settings.kts
Labels: Build, Expedited Review, Testing, [Status] Ready to Merge

#45330 Fix how premium domain suggestions are rendered when there is domain sale active
  client/components/domains/domain-registration-suggestion/index.jsx
Labels: Domains, [Status] Needs Review

#45458 Rename `wp-calypso-client` to `calypso`
  .eslintrc.js
  apps/notifications/index.jsx
  apps/notifications/package.json
  client/blocks/nps-survey/recommendation-option.jsx
  client/blocks/subscription-length-picker/option.jsx
  client/components/gallery-shortcode/index.tsx
  client/components/tinymce/plugins/wpcom-view/views/contact-form/preview-fields.jsx
  client/layout/guided-tours/config-elements/step.tsx
  client/lib/abtest/test-helper/index.js
  client/lib/interval/index.ts
  client/lib/interval/interval.ts
  client/my-sites/domains/domain-management/list/item.jsx
  client/my-sites/marketing/buttons/style.jsx
  client/my-sites/marketing/connections/account-dialog-account.jsx
  client/my-sites/plans/current-plan/jetpack-product-install/index.tsx
  client/package.json
  client/sections.js
  client/signup/config/step-components.js
  client/webpack.config.js
  client/webpack.config.node.js
  package.json
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/webpack/util.js
  packages/eslint-plugin-wpcalypso/docs/rules/no-package-relative-imports.md
  packages/eslint-plugin-wpcalypso/lib/rules/no-package-relative-imports.js
  packages/eslint-plugin-wpcalypso/lib/rules/test/no-package-relative-imports.js
  test/client/jest.config.js
Labels: Framework, [Status] Ready to Merge

#45476 Show the price in Search product card when no site is selected
  client/my-sites/plans-v2/product-card/index.tsx
Labels: Jetpack, Plans, [Status] Needs Review

#45482 Make filter bar sticky in cloud pricing page on desktop
  client/landing/jetpack-cloud/sections/pricing/style.scss
  client/my-sites/plans-v2/plans-filter-bar/index.tsx
Labels: Jetpack Cloud, Plans, [Status] Needs Review

#45488 Clean up output directory after running the test
  .eslintignore
  packages/wp-babel-makepot/package.json
  packages/wp-babel-makepot/test/index.js
Labels: Expedited Review, [Status] Needs Review

#45489 Atomic: Disable PHP 7.2
  client/my-sites/hosting/php-version-card/index.js
Labels: Atomic, [Status] Needs Review

#42534 i18n: Improve build-languages script
  bin/build-languages.js
Labels: Build, [Status] Needs Review, i18n

#45176 Site setup: bulb with cross icon for disable plan message.
  packages/plans-grid/src/plans-table/plan-item.tsx
  packages/plans-grid/src/plans-table/style.scss
  packages/plans-grid/src/types-patch.ts
Labels: Design, [Goal] Gutenboarding, [Status] Ready to Merge

#45493 Gutenboarding: add site_count to signup start events
  client/landing/gutenboarding/gutenboard.tsx
  client/landing/gutenboarding/hooks/use-track-onboarding-start.ts
  client/landing/gutenboarding/lib/analytics/index.ts
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  packages/data-stores/src/user/types.ts
Labels: Analytics, [Goal] Gutenboarding, [Status] Needs Review

#45478 Checkout: Use the total_cost cart field for the PAYMENT_COMPLETE analytics
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/credit-card-pay-button.js
  client/my-sites/checkout/composite-checkout/payment-methods/ebanx-tef.js
  client/my-sites/checkout/composite-checkout/record-analytics.js
  client/my-sites/checkout/composite-checkout/types/backend/shopping-cart-endpoint.ts
Labels: Analytics, Checkout, [Status] Ready to Merge

#45504 Checkout: Rename analytics action props for calypso_checkout_composite_error
  client/my-sites/checkout/composite-checkout/record-analytics.js
Labels: Checkout, [Status] Needs Review

#45437 Offer Reset: integrate Pricing page with Jetpack Connect flow
  client/jetpack-connect/controller.js
  client/jetpack-connect/index.js
  client/my-sites/plans-v2/utils.ts
  client/state/jetpack-connect/constants.js
Labels: Jetpack, Jetpack Cloud, [Status] Needs Review

#45333 composite-checkout: Use constants for transaction and form statuses
  client/my-sites/checkout/composite-checkout/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/components/wp-checkout-order-summary.js
  client/my-sites/checkout/composite-checkout/components/wp-contact-form.js
  client/my-sites/checkout/composite-checkout/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/hooks/use-is-cached-contact-form-valid.js
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/contact-fields.js
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/credit-card-cvv-field.js
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/credit-card-expiry-field.js
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/credit-card-fields.js
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/credit-card-number-field.js
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/credit-card-pay-button.js
  client/my-sites/checkout/composite-checkout/payment-methods/ebanx-tef.js
  client/my-sites/checkout/composite-checkout/payment-methods/netbanking.js
  client/my-sites/checkout/composite-checkout/payment-methods/wechat.js
  packages/composite-checkout/README.md
  packages/composite-checkout/demo/index.js
  packages/composite-checkout/src/components/checkout-payment-methods.tsx
  packages/composite-checkout/src/components/checkout-provider.tsx
  packages/composite-checkout/src/components/checkout-steps.tsx
  packages/composite-checkout/src/components/payment-request-button.tsx
  packages/composite-checkout/src/components/transaction-status-handler.ts
  packages/composite-checkout/src/lib/checkout-context.ts
  packages/composite-checkout/src/lib/form-status.ts
  packages/composite-checkout/src/lib/payment-methods/alipay.js
  packages/composite-checkout/src/lib/payment-methods/bancontact.js
  packages/composite-checkout/src/lib/payment-methods/eps.js
  packages/composite-checkout/src/lib/payment-methods/existing-credit-card.js
  packages/composite-checkout/src/lib/payment-methods/free-purchase.js
  packages/composite-checkout/src/lib/payment-methods/full-credits.js
  packages/composite-checkout/src/lib/payment-methods/giropay.js
  packages/composite-checkout/src/lib/payment-methods/ideal.js
  packages/composite-checkout/src/lib/payment-methods/p24.js
  packages/composite-checkout/src/lib/payment-methods/paypal.js
  packages/composite-checkout/src/lib/payment-methods/sofort.js
  packages/composite-checkout/src/lib/payment-methods/stripe-credit-card-fields.js
  packages/composite-checkout/src/lib/transaction-status.ts
  packages/composite-checkout/src/public-api.ts
  packages/composite-checkout/src/types.ts
  packages/composite-checkout/test/checkout-provider.js
Labels: Checkout, [Status] Ready to Merge

#45510 Minor style updates to cloud pricing page on mobile
  client/landing/jetpack-cloud/sections/pricing/jpcom-masterbar/style.scss
  client/my-sites/plans-v2/style.scss
Labels: Jetpack Cloud, Plans, [Status] Needs Review

#45512 Update copy in plan renewal message
  client/me/purchases/manage-purchase/index.jsx
  client/my-sites/plans-v2/constants.ts
  client/my-sites/plans-v2/plan-renewal-message/index.tsx
  client/my-sites/plans-v2/product-card/index.tsx
  client/my-sites/plans/current-plan/index.jsx
Labels: Jetpack, Plans, [Status] Needs Review

#45518 Checkout: Wait for products to be fetched before preparing renewals
  client/my-sites/checkout/composite-checkout/use-prepare-product-for-cart.js
Labels: Checkout, [Status] Needs Review

#45481 Checkout: Convert usePrepareProductsForCart to TypeScript
  client/lib/cart-values/types.ts
  client/my-sites/checkout/composite-checkout/add-items.ts
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/hooks/use-fetch-products-if-not-loaded.ts
  client/my-sites/checkout/composite-checkout/hooks/use-prepare-products-for-cart.ts
Labels: Checkout, [Status] Needs Review

#44956 Social Previews: Add the ability to preview Twitter Threads
  packages/social-previews/src/twitter-preview/index.jsx
  packages/social-previews/src/twitter-preview/style.scss
  packages/social-previews/src/twitter-preview/tweet.jsx
  packages/social-previews/test/index.js
Labels: Social Previews, [Status] Ready to Merge, [Type] Enhancement

#45496 Config: Remove unused feature flags
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Framework, [Status] Needs Review, [Type] Janitorial

#45497 WPCOM Undocumented: Remove metaKeyring
  client/lib/wpcom-undocumented/lib/undocumented.js
Labels: Framework, [Pri] Low, [Status] Needs Review, [Type] Janitorial

#45502 Editing Toolkit: Add ES5 check
  apps/editing-toolkit/package.json
Labels: Build, [Status] Needs Review, [Type] Enhancement

#45378 Signup Reskin: Pauses the test
  client/lib/abtest/active-tests.js
Labels: ABTest, Signup, [Status] Needs Review

#45054 Gutenboarding: add PlansGrid accordion
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-modal/styles.scss
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/plan-step/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/plan-step/styles.scss
  client/gutenberg/editor/calypsoify-iframe.tsx
  client/landing/gutenboarding/hooks/use-step-navigation.ts
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/onboarding-block/features/style.scss
  client/landing/gutenboarding/onboarding-block/plans/index.tsx
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
  packages/data-stores/src/plans/plans-data.ts
  packages/data-stores/src/plans/types.ts
  packages/onboarding/src/titles/styles.scss
  packages/plans-grid/src/plans-accordion-item/index.tsx
  packages/plans-grid/src/plans-accordion-item/style.scss
  packages/plans-grid/src/plans-accordion/index.tsx
  packages/plans-grid/src/plans-accordion/style.scss
  packages/plans-grid/src/plans-details/index.tsx
  packages/plans-grid/src/plans-details/style.scss
  packages/plans-grid/src/plans-feature-list/index.tsx
  packages/plans-grid/src/plans-feature-list/style.scss
  packages/plans-grid/src/plans-grid/index.tsx
  packages/plans-grid/src/plans-table/plan-item.tsx
  packages/plans-grid/src/plans-table/style.scss
  test/e2e/lib/pages/gutenboarding/features-page.js
  test/e2e/specs/wp-gutenboarding-spec.js
Labels: Plans, [Goal] Gutenboarding, [Status] Needs Review, [Status] Needs e2e Testing

#45509 Plans: Exclude site_id in Tracks events when no site is selected
  client/my-sites/plans-v2/selector.tsx
Labels: Analytics, Plans, [Status] Needs Review

#45522 Offer Reset: always displays owned products regardless of the selected term
  client/lib/plans/plans-list.js
  client/my-sites/plans-v2/constants.ts
  client/my-sites/plans-v2/plans-column/index.tsx
  client/my-sites/plans-v2/product-card/index.tsx
  client/my-sites/plans-v2/products-column/index.tsx
  client/my-sites/plans-v2/selector.tsx
  client/my-sites/plans-v2/types.ts
  client/my-sites/plans-v2/use-get-plans-grid-products.ts
  client/my-sites/plans-v2/utils.ts
Labels: Jetpack, Plans, [Status] Needs Review

#45545 Add locale to pricing page URL (in cloud)
  client/landing/jetpack-cloud/sections/pricing/controller.tsx
  client/landing/jetpack-cloud/sections/pricing/index.ts
  client/sections.js
Labels: Jetpack Cloud, Plans, [Status] Needs Review

#45550 Revert "Editing Toolkit: Add ES5 check"
  apps/editing-toolkit/package.json
Labels: Editing Toolkit, [Status] Needs Review

#45551 Revert "Revert "Editing Toolkit: Add ES5 check""
  apps/editing-toolkit/package.json
Labels: [Status] Needs Review

#45505 SiteSetupList: add a unique key to each return statement
  client/my-sites/customer-home/cards/tasks/site-setup-list/index.jsx
Labels: [Status] Needs Review

#45554 Offer Reset: redirect to /pricing when locale is included in the URL
  client/landing/jetpack-cloud/sections/pricing/controller.tsx
  client/landing/jetpack-cloud/sections/pricing/index.ts
Labels: Jetpack Cloud, [Status] Needs Review

#45560 Start: Do not redirect site-clone flow to gutenboarding
  client/signup/controller.js
Labels: Jetpack, NUX, Rewind, [Status] Needs Review

#45561 Editing Toolkit Sidebar: Disable if the editor is not in fullscreen mode
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/attach-sidebar.tsx
Labels: Editing Toolkit, [Status] Needs Review

#45541 Components: Fix search input handling in KeyedSuggestions
  client/components/keyed-suggestions/index.jsx
Labels: Components, Expedited Review, Themes, [Status] Needs Review, [Type] Bug

#45539 Inline Help: Fix manage posts link
  client/blocks/inline-help/admin-sections.js
Labels: Customer Home, Help, [Status] Needs Review, [Type] Bug

#45543 Language picker: Fix input element ref
  client/components/search/index.jsx
Labels: [Status] Needs Review, [Type] Bug
