Repository Automattic/wp-calypso, pull requests merged in 2020-08, with the labels that each got.

#44556 Fixes invalid JSX
  client/reader/list-manage/feed-item.tsx
  client/reader/list-manage/site-item.tsx
Labels: Expedited Review, Reader, [Status] Ready to Merge

#44598 Replace usage of deprecated wait call with waitFor in data-stores auth package flows test
  packages/data-stores/src/auth/test/flows.ts
Labels: [Status] Needs Review

#44557 Adds support for <AsyncLoad> and asyncRequire() to eslint rule
  packages/eslint-plugin-wpcalypso/docs/rules/no-package-relative-imports.md
  packages/eslint-plugin-wpcalypso/lib/rules/no-package-relative-imports.js
  packages/eslint-plugin-wpcalypso/lib/rules/test/no-package-relative-imports.js
Labels: Expedited Review, [Status] Needs Review

#44606 Gutenboarding: remove outline from site title input
  client/landing/gutenboarding/onboarding-block/acquire-intent/style.scss
Labels: [Status] Needs Review, [Type] Bug

#44584 Reader: add css for Gutenberg social link block
  client/blocks/reader-full-post/_content.scss
Labels: Reader, [Goal] Gutenberg, [Status] Ready to Merge, [Type] Task

#44477 Registrationless checkout: Show the help icon in the checkout page
  client/layout/logged-out.jsx
  client/my-sites/checkout/checkout-system-decider.js
  client/signup/recaptcha/index.jsx
  client/signup/recaptcha/style.scss
Labels: Checkout, [Status] Needs Review, [Status] Needs e2e Testing

#44475 Registrationless checkout: Transfer cart after log in to account with no site
  client/layout/logged-out.jsx
  client/lib/cart/store/index.js
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/controller.jsx
  client/signup/recaptcha/index.jsx
  client/signup/recaptcha/style.scss
Labels: Checkout, [Status] Needs Review, [Status] Needs e2e Testing

#44456 Registrationless checkout: Show Secure Checkout text
  client/layout/logged-out.jsx
  client/layout/masterbar/logged-out.jsx
  client/lib/cart/store/index.js
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/controller.jsx
  client/signup/recaptcha/index.jsx
  client/signup/recaptcha/style.scss
Labels: Checklist, [Status] Needs Review, [Status] Needs e2e Testing

#44238 Registrationless checkout: Handle page reload scenarios
  client/components/site-selector/index.jsx
  client/layout/logged-out.jsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/logged-out.jsx
  client/lib/cart/store/index.js
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/controller.jsx
  client/my-sites/controller.js
  client/signup/recaptcha/index.jsx
  client/signup/recaptcha/style.scss
Labels: Checkout, [Status] Needs Review, [Status] Needs e2e Testing

#44236 Registrationless checkout: Handle removing items from cart
  client/components/site-selector/index.jsx
  client/layout/logged-out.jsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/logged-out.jsx
  client/lib/cart/store/index.js
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/wpcom/hooks/use-shopping-cart-manager/use-shopping-cart-reducer.ts
  client/my-sites/checkout/controller.jsx
  client/my-sites/controller.js
  client/signup/recaptcha/index.jsx
  client/signup/recaptcha/style.scss
Labels: Checkout, Marketing, [Status] Needs Review, [Status] Needs e2e Testing

#44234 Registrationless checkout: Create account, new site, and process transaction
  client/components/site-selector/index.jsx
  client/layout/logged-out.jsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/logged-out.jsx
  client/lib/cart/store/index.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/wpcom/hooks/use-shopping-cart-manager/use-shopping-cart-reducer.ts
  client/my-sites/checkout/composite-checkout/wpcom/hooks/wpcom-store.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/wpcom-store-state.ts
  client/my-sites/checkout/controller.jsx
  client/my-sites/controller.js
  client/signup/recaptcha/index.jsx
  client/signup/recaptcha/style.scss
Labels: Checkout, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#44231 Registrationless checkout: Initialize Google Recaptcha on the checkout page
  client/components/site-selector/index.jsx
  client/layout/logged-out.jsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/logged-out.jsx
  client/lib/cart/store/index.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/wpcom/hooks/use-shopping-cart-manager/use-shopping-cart-reducer.ts
  client/my-sites/checkout/composite-checkout/wpcom/hooks/wpcom-store.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/wpcom-store-state.ts
  client/my-sites/checkout/controller.jsx
  client/my-sites/controller.js
  client/signup/recaptcha/index.jsx
  client/signup/recaptcha/style.scss
Labels: Checkout, Marketing, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#44229 Registrationless checkout: Show checkout page if ccTLD domain item is present in the cart
  client/components/domains/registrant-extra-info/ca-form.jsx
  client/components/site-selector/index.jsx
  client/layout/logged-out.jsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/logged-out.jsx
  client/lib/cart/store/index.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/wpcom/hooks/use-shopping-cart-manager/use-shopping-cart-reducer.ts
  client/my-sites/checkout/composite-checkout/wpcom/hooks/wpcom-store.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/wpcom-store-state.ts
  client/my-sites/checkout/controller.jsx
  client/my-sites/controller.js
  client/signup/recaptcha/index.jsx
  client/signup/recaptcha/style.scss
Labels: Checkout, [Status] Needs Review, [Status] Needs e2e Testing

#44227 Registrationless checkout: Add email field validation
  client/components/domains/registrant-extra-info/ca-form.jsx
  client/components/site-selector/index.jsx
  client/layout/logged-out.jsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/logged-out.jsx
  client/lib/cart/store/index.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/contact-validation.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-contact-form.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/wpcom/hooks/use-shopping-cart-manager/use-shopping-cart-reducer.ts
  client/my-sites/checkout/composite-checkout/wpcom/hooks/wpcom-store.ts
  client/my-sites/checkout/composite-checkout/wpcom/index.js
  client/my-sites/checkout/composite-checkout/wpcom/types.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/backend/signup-validation-endpoint.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/wpcom-store-state.ts
  client/my-sites/checkout/controller.jsx
  client/my-sites/controller.js
  client/signup/recaptcha/index.jsx
  client/signup/recaptcha/style.scss
Labels: Checklist, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#44211 Registrationless checkout: Add email ID field with the new design
  client/components/domains/contact-details-form-fields/managed-contact-details-form-fields.jsx
  client/components/domains/registrant-extra-info/ca-form.jsx
  client/components/site-selector/index.jsx
  client/layout/logged-out.jsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/logged-out.jsx
  client/lib/cart/store/index.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/contact-validation.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-contact-form.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/wpcom/hooks/use-shopping-cart-manager/use-shopping-cart-reducer.ts
  client/my-sites/checkout/composite-checkout/wpcom/hooks/wpcom-store.ts
  client/my-sites/checkout/composite-checkout/wpcom/index.js
  client/my-sites/checkout/composite-checkout/wpcom/types.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/backend/signup-validation-endpoint.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/wpcom-store-state.ts
  client/my-sites/checkout/controller.jsx
  client/my-sites/controller.js
  client/my-sites/domains/components/form/input.jsx
  client/signup/recaptcha/index.jsx
  client/signup/recaptcha/style.scss
Labels: Checkout, [Status] Needs Review, [Status] Needs e2e Testing

#44209 Registrationless checkout: Show the checkout page for logged out users
  client/boot/locale.js
  client/components/domains/contact-details-form-fields/managed-contact-details-form-fields.jsx
  client/components/domains/registrant-extra-info/ca-form.jsx
  client/components/site-selector/index.jsx
  client/layout/logged-out.jsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/logged-out.jsx
  client/lib/cart/store/cart-synchronizer.js
  client/lib/cart/store/index.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/contact-validation.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-contact-form.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/wpcom/hooks/use-shopping-cart-manager/use-shopping-cart-reducer.ts
  client/my-sites/checkout/composite-checkout/wpcom/hooks/wpcom-store.ts
  client/my-sites/checkout/composite-checkout/wpcom/index.js
  client/my-sites/checkout/composite-checkout/wpcom/types.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/backend/signup-validation-endpoint.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/wpcom-store-state.ts
  client/my-sites/checkout/controller.jsx
  client/my-sites/checkout/index.js
  client/my-sites/controller.js
  client/my-sites/domains/components/form/input.jsx
  client/signup/recaptcha/index.jsx
  client/signup/recaptcha/style.scss
  client/state/selectors/is-support-variation-determined.js
Labels: Checkout, [Status] Needs Review, [Status] Needs e2e Testing

#44604 Update social previews to use npm package components (again)
  client/components/seo-preview-pane/index.jsx
  client/components/seo/facebook-preview/index.jsx
  client/components/seo/facebook-preview/style.scss
  client/components/seo/search-preview/index.jsx
  client/components/seo/search-preview/style.scss
  client/components/seo/twitter-preview/index.jsx
  client/components/seo/twitter-preview/style.scss
  client/components/share/facebook-share-preview/index.jsx
  client/package.json
Labels: Social Previews, [Status] Needs Review

#44586 Modularise help state.
  client/state/help/actions.js
  client/state/help/courses/actions.js
  client/state/help/courses/selectors.js
  client/state/help/directly/actions.js
  client/state/help/init.js
  client/state/help/package.json
  client/state/help/reducer.js
  client/state/help/selectors.js
  client/state/help/ticket/actions.js
  client/state/help/ticket/selectors.js
  client/state/reducer.js
  client/state/selectors/get-active-support-tickets.js
  client/state/selectors/get-help-links.js
  client/state/selectors/has-user-asked-a-directly-question.js
  client/state/selectors/is-directly-failed.js
  client/state/selectors/is-directly-ready.js
  client/state/selectors/is-directly-uninitialized.js
Labels: Help, State, [Status] Needs Review, [Type] Janitorial

#44611 Fix the issue with the backup schedule, it shows negative hour
  client/components/jetpack/daily-backup-status/index.jsx
Labels: Jetpack Cloud, [Status] In Progress, [Status] Needs Review

#44039 Checkout Redesign: add Jetpack support
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/style.scss
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/checkout/style.scss
  client/my-sites/checkout/composite-checkout/add-items.ts
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/use-prepare-product-for-cart.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/wpcom/hooks/product-variants.js
  packages/calypso-color-schemes/src/shared/color-schemes/_default.scss
  packages/composite-checkout/README.md
  packages/composite-checkout/src/public-api.js
Labels: Checkout, Jetpack, [Status] Needs Review

#44625 Checkout: add additional Jetpack URL slugs to system decider
  client/my-sites/checkout/checkout-system-decider.js
Labels: Checkout, [Status] Needs Review

#44618 Update/move comment send button
  client/blocks/comments/form.jsx
  client/blocks/comments/form.scss
Labels: Reader, [Status] Needs Review

#44623 Checkout: Disable concierge upsell thank-you page for 3DS
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/composite-checkout/test/composite-checkout-thank-you.js
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
Labels: Checkout, [Status] Needs Review

#44601 Remove the plugin header nested inside the editor toolkit
  apps/full-site-editing/full-site-editing-plugin/premium-content/premium-content.php
Labels: [Goal] Editor Improvements, [Status] Needs Review

#43970 Add GitHub Issue Template block to o2-blocks
  apps/o2-blocks/.wp-env.json
  apps/o2-blocks/README.md
  apps/o2-blocks/index.php
  apps/o2-blocks/package.json
  apps/o2-blocks/src/editor.js
  apps/o2-blocks/src/github-issue-template/editor.js
  apps/o2-blocks/src/github-issue-template/editor.scss
  apps/o2-blocks/src/github-issue-template/style.scss
  apps/o2-blocks/src/github-issue-template/view.js
  apps/o2-blocks/src/view.js
  yarn.lock
Labels: [Goal] Gutenberg, [Status] Needs Review, [Type] Enhancement

#44608 Social Previews: Remove i18n-calypso dependency by removing search preview header
  packages/social-previews/CHANGELOG.md
  packages/social-previews/package.json
  packages/social-previews/src/search-preview/index.jsx
  packages/social-previews/src/search-preview/style.scss
  packages/social-previews/test/index.js
Labels: Packages, Social Previews, [Status] Needs Review

#44613 Remove unused social previews helpers from components dir which are now in the NPM package
  client/components/seo/helpers.js
Labels: Social Previews

#44523 Mention the price for the Quick Start session
  client/my-sites/checkout/checkout-thank-you/business-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
Labels: [Status] String Freeze, [Team] MarTech

#44642 Hide custom address setting for P2 sites
  client/my-sites/site-settings/form-general.jsx
Labels: [Status] Needs Review

#44633 Disable Jetpack Personal plan in prod
  config/horizon.json
  config/production.json
Labels: Jetpack, [Status] Ready to Merge

#44641 EditorMediaModalGalleryPreview: replace `MediaStore.get` with `getMediaItem`…
  client/post-editor/media-modal/gallery/index.jsx
Labels: Media, [Status] Needs Review

#44330 Bug Fix: Scroll to top of page when link is clicked
  client/devdocs/design/search-collection.jsx
  client/devdocs/docs-example/wrapper.jsx
Labels: OSS Citizen, [Status] Needs Review

#44617 desktop: update desktop to latest
  .circleci/config.yml
  client/desktop/app-handlers/printer/index.js
  client/desktop/app-handlers/updater/auto-updater/index.js
  client/desktop/lib/updater/index.js
  client/desktop/window-handlers/external-links/editor/index.js
  client/desktop/window-handlers/external-links/index.js
  desktop/bin/validate_tag.js
  desktop/package.json
Labels: [Status] Needs Review

#43788 Site Settings: Specify Jetpack Connection Owner
  client/my-sites/site-settings/manage-connection/site-ownership.jsx
  client/state/jetpack/connection/actions.js
  client/state/jetpack/connection/test/actions.js
  client/state/selectors/get-jetpack-connection-owner.js
  client/state/selectors/is-jetpack-user-connection-owner.js
  client/state/selectors/test/fixtures/jetpack-connection.js
  client/state/selectors/test/get-jetpack-connection-owner.js
  client/state/selectors/test/is-jetpack-user-connection-owner.js
Labels: OSS Citizen, [Status] Needs Review

#44621 Inline support link: use children instead of text prop
  client/components/inline-support-link/README.md
  client/components/inline-support-link/docs/example.jsx
  client/components/inline-support-link/index.jsx
  client/lib/importer/importer-config.js
  client/my-sites/customer-home/cards/education/educational-content/index.jsx
  client/my-sites/customer-home/cards/features/stats/index.jsx
  client/my-sites/customer-home/cards/tasks/site-setup-list/get-task.js
  client/my-sites/earn/memberships/add-edit-plan-modal.jsx
  client/my-sites/themes/thanks-modal.jsx
Labels: [Status] Needs Review

#44322 Typography: Update font sizes for 28-33px
  client/blocks/reader-full-post/_content.scss
  client/blocks/reader-full-post/style.scss
  client/blocks/signup-form/crowdsignal.scss
  client/blocks/support-article-dialog/content.scss
  client/blocks/support-article-dialog/style.scss
  client/components/card-heading/style.scss
  client/components/drop-zone/style.scss
  client/components/empty-content/style.scss
  client/components/jetpack/scan-history-placeholder/style.scss
  client/devdocs/style.scss
  client/layout/masterbar/oauth-client.scss
  client/mailing-lists/style.scss
  client/me/security-2fa-progress/style.scss
  client/my-sites/customer-home/cards/tasks/style.scss
  client/my-sites/domains/domain-management/edit/style.scss
  client/my-sites/migrate/section-migrate.scss
  client/my-sites/plan-price/style.scss
  client/my-sites/plugins/plugin-sections/style.scss
  client/my-sites/stats/annual-site-stats/style.scss
  client/my-sites/stats/stats-list/style.scss
  client/my-sites/stats/stats-site-overview/style.scss
  client/my-sites/theme/style.scss
  client/post-editor/editor-deprecation-dialog/style.scss
  client/post-editor/editor-diff-viewer/style.scss
  client/post-editor/editor-gutenberg-opt-in-dialog/style.scss
  client/post-editor/editor-title/style.scss
  client/reader/list-manage/style.scss
  client/reader/style.scss
  client/reader/tag-stream/style.scss
Labels: [Status] Needs Review, [Type] Janitorial

#44533 Checkout: Do not display contact details form if the cart is only renewals, take 2
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/types/paypal-express.ts
  client/my-sites/checkout/composite-checkout/types/transaction-endpoint.ts
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-contact-form-summary.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-contact-form.js
  client/my-sites/checkout/composite-checkout/wpcom/hooks/use-is-cached-contact-form-valid.js
  client/my-sites/checkout/composite-checkout/wpcom/hooks/use-skip-to-last-step-if-form-complete.js
Labels: Checkout, Domains, [Status] Needs Review

#44657 Create AB experiment for the Offer Reset project
  client/lib/abtest/active-tests.js
  client/lib/abtest/getters.ts
Labels: ABTest, Jetpack, [Status] Needs Review

#44661 Adds root components for Offer Reset plan redesign pages
  client/my-sites/plans-v2/README.md
  client/my-sites/plans-v2/controller.tsx
  client/my-sites/plans-v2/details.tsx
  client/my-sites/plans-v2/index.ts
  client/my-sites/plans-v2/selector.tsx
  client/my-sites/plans-v2/types.ts
  client/my-sites/plans-v2/upsell.tsx
  client/my-sites/plans-v2/utils.ts
Labels: Plans, [Status] Needs Review

#44656 desktop: try terser config override
  package.json
  yarn.lock
Labels: [Status] Needs Review

#43675 Plan domain swap: New experiment beta
  client/components/domains/domain-product-price/index.jsx
  client/components/domains/domain-registration-suggestion/index.jsx
  client/components/domains/domain-search-results/index.jsx
  client/components/domains/domain-suggestion/index.jsx
  client/components/domains/featured-domain-suggestions/index.jsx
  client/components/domains/register-domain-step/index.jsx
  client/lib/abtest/active-tests.js
  client/lib/signup/step-actions/index.js
  client/signup/config/steps-pure.js
  client/signup/config/steps.js
  client/signup/controller.js
  client/signup/steps/domains/index.jsx
Labels: ABTest, Signup, [Status] Blocked / Hold, [Status] Needs Review, [Status] String Freeze

#44672 Composite checkout: Do not run domain validation for GSuite
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
Labels: Checkout, [Status] Needs Review

#44509 Bump WordPress.com Editing Toolkit version to 1.15
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/readme.txt
  apps/full-site-editing/package.json
Labels: [Goal] Editor Improvements, [Status] Needs Review

#44476 FSE: Add a few notes to help with wp-env (and docker)
  apps/full-site-editing/README.md
Labels: [Status] Needs Review

#44649 Checkout: Break long domain name in the summary section
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-summary.js
Labels: Checkout, [Status] Needs Review

#44637 Rename calypso package from wp-calypso to wp-calypso-client
  .eslintrc.js
  apps/notifications/index.jsx
  apps/notifications/package.json
  client/package.json
  package.json
  packages/eslint-plugin-wpcalypso/docs/rules/no-package-relative-imports.md
  packages/eslint-plugin-wpcalypso/lib/rules/no-package-relative-imports.js
  packages/eslint-plugin-wpcalypso/lib/rules/test/no-package-relative-imports.js
Labels: [Status] Needs Review

#44615 EditorFeaturedImagePreview: replace MediaStore.get with getMediaItem thunk:
  client/post-editor/editor-featured-image/preview.jsx
Labels: Media, [Status] Needs Review

#44609 podcast settings: replace `MediaStore.get` with `getMediaItem` thunk
  client/my-sites/site-settings/podcast-cover-image-setting/index.jsx
Labels: Media, [Status] Needs Review

#44638 Premium Content: remove Paid wording from title
  apps/full-site-editing/full-site-editing-plugin/premium-content/index.js
Labels: [Status] Ready to Merge

#43571 i18n: Unifying languages
  .gitignore
  bin/download-languages-meta.js
  client/boot/locale.js
  client/components/language-picker/index.jsx
  client/components/language-picker/modal.jsx
  client/components/language-picker/modal.scss
  client/components/language-picker/test/modal.js
  client/components/language-picker/tooltip.jsx
  client/controller/shared.js
  client/languages.js
  client/languages/fallback-languages-meta.json
  client/languages/index.d.ts
  client/languages/index.js
  client/layout/masterbar/quick-language-switcher.jsx
  client/lib/i18n-utils/browser.js
  client/lib/i18n-utils/node.js
  client/lib/i18n-utils/test/utils.js
  client/lib/i18n-utils/utils.js
  client/lib/user/shared-utils.js
  client/me/account/main.jsx
  client/my-sites/site-settings/form-general.jsx
  client/server/render/index.js
  package.json
Labels: Build, [Status] Needs Review, i18n

#44488 babel-plugin-i18n-calypso: Fix merging matching strings properties
  packages/babel-plugin-i18n-calypso/package.json
  packages/babel-plugin-i18n-calypso/src/index.js
Labels: Build, Packages, [Status] Needs Review, i18n

#44662 Checkout: fix jetpack_search to wpcom_search mapping
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/composite-checkout/add-items.ts
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/test/composite-checkout.js
  client/my-sites/checkout/composite-checkout/use-prepare-product-for-cart.js
Labels: Checkout, [Status] Needs Review

#44646 packages: Add @automattic/wp-babel-makepot
  .eslintignore
  package.json
  packages/wp-babel-makepot/.dockerignore
  packages/wp-babel-makepot/.eslintrc.js
  packages/wp-babel-makepot/.gitignore
  packages/wp-babel-makepot/Dockerfile
  packages/wp-babel-makepot/README.md
  packages/wp-babel-makepot/cli.js
  packages/wp-babel-makepot/index.js
  packages/wp-babel-makepot/jest.config.js
  packages/wp-babel-makepot/package.json
  packages/wp-babel-makepot/presets/default.js
  packages/wp-babel-makepot/presets/index.js
  packages/wp-babel-makepot/test/__snapshots__/index.js.snap
  packages/wp-babel-makepot/test/examples/react-1.jsx
  packages/wp-babel-makepot/test/examples/react-2.jsx
  packages/wp-babel-makepot/test/examples/translate-1.js
  packages/wp-babel-makepot/test/examples/translate-2.js
  packages/wp-babel-makepot/test/examples/typescript-react.tsx
  packages/wp-babel-makepot/test/examples/wordpress-i18n.js
  packages/wp-babel-makepot/test/index.js
  packages/wp-babel-makepot/utils/concat-pot.js
  yarn.lock
Labels: Packages, [Status] Needs Review

#44687 wp-babel-makepot: Add publish config
  packages/wp-babel-makepot/package.json
Labels: Packages, [Status] Needs Review

#44664 Create Jetpack product cards for each product type
  client/components/jetpack-bundle-card/README.md
  client/components/jetpack-bundle-card/docs/example.tsx
  client/components/jetpack-product-card/README.md
  client/components/jetpack/card/jetpack-bundle-card/README.md
  client/components/jetpack/card/jetpack-bundle-card/docs/example.tsx
  client/components/jetpack/card/jetpack-bundle-card/fixture/index.ts
  client/components/jetpack/card/jetpack-bundle-card/index.tsx
  client/components/jetpack/card/jetpack-bundle-card/style.scss
  client/components/jetpack/card/jetpack-individual-product-card/README.md
  client/components/jetpack/card/jetpack-individual-product-card/docs/example.tsx
  client/components/jetpack/card/jetpack-individual-product-card/fixture/index.ts
  client/components/jetpack/card/jetpack-individual-product-card/index.tsx
  client/components/jetpack/card/jetpack-individual-product-card/style.scss
  client/components/jetpack/card/jetpack-plan-card/README.md
  client/components/jetpack/card/jetpack-plan-card/docs/example.tsx
  client/components/jetpack/card/jetpack-plan-card/fixture/index.ts
  client/components/jetpack/card/jetpack-plan-card/index.tsx
  client/components/jetpack/card/jetpack-plan-card/style.scss
  client/components/jetpack/card/jetpack-product-card/README.md
  client/components/jetpack/card/jetpack-product-card/docs/example.tsx
  client/components/jetpack/card/jetpack-product-card/features-item.tsx
  client/components/jetpack/card/jetpack-product-card/features.tsx
  client/components/jetpack/card/jetpack-product-card/fixture/index.ts
  client/components/jetpack/card/jetpack-product-card/index.tsx
  client/components/jetpack/card/jetpack-product-card/lib/use-flexbox-wrap-detection.ts
  client/components/jetpack/card/jetpack-product-card/style.scss
  client/components/jetpack/card/jetpack-product-card/types.ts
  client/devdocs/design/index.jsx
Labels: Jetpack, [Status] Needs Review

#44686 P2 Signup: Updates to styling
  client/signup/p2-processing-screen/index.jsx
  client/signup/p2-processing-screen/style.scss
  client/signup/p2-step-wrapper/style.scss
  client/signup/steps/p2-site/style.scss
  client/signup/style.scss
Labels: Signup, [Status] Needs Review

#42708 Jetpack Cloud: Add new copies to the Setting section
  client/landing/jetpack-cloud/sections/settings/main.jsx
  client/landing/jetpack-cloud/sections/settings/style.scss
Labels: Jetpack Cloud, [Status] Needs Review

#44675 desktop: bump desktop source RAM with Linux machine executor
  .circleci/config.yml
Labels: [Status] Needs Review

#44648 Jetpack Backup: Show 'Latest backup on this day' for dates before today
  client/components/jetpack/daily-backup-status/index.jsx
Labels: Jetpack Cloud, [Status] Needs Review

#44690 Checkout: show full domain contact details when invalid cached details exist
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
Labels: Checkout, [Status] Needs Review

#44667 Loads new Offer Reset pages with A/B test set
  client/my-sites/plans-v2/utils.ts
  client/my-sites/plans/index.js
Labels: Plans, [Status] Needs Review

#44592 Adds a new block TimeMismatchWarning
  client/blocks/time-mismatch-warning/README.md
  client/blocks/time-mismatch-warning/docs/example.tsx
  client/blocks/time-mismatch-warning/index.tsx
  client/blocks/time-mismatch-warning/test/index.jsx
  client/devdocs/design/blocks.jsx
Labels: Components, New Component, [Status] Needs Copy Review, [Status] Needs Design Review, [Status] Needs Review

#44674 Checkout: Guard against nonexistent HashChangeEvent
  client/my-sites/checkout/composite-checkout/wpcom/hooks/use-skip-to-last-step-if-form-complete.js
Labels: Checkout, [Status] Needs Review

#44698 Composite checkout: Prevent validating contact details for renewals
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
Labels: Checkout, [Status] Needs Review

#44670 desktop: webpack optimizations
  client/webpack.config.js
Labels: [Status] Needs Review

#44631 Composite checkout: Add postal code auto-formatting
  client/components/domains/contact-details-form-fields/managed-contact-details-form-fields.jsx
  client/lib/postal-code/index.jsx
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-contact-form-summary.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-contact-form.js
  client/my-sites/checkout/composite-checkout/wpcom/types/wpcom-store-state.ts
Labels: Checkout, [Status] Needs Review

#44570 Jetpack Cloud: Alter favicon declarations to show Jetpack instead of WordPress
  client/components/head/README.md
  client/components/head/favicons.jsx
  client/components/head/index.jsx
  client/components/head/test/__snapshots__/favicons.jsx.snap
  client/components/head/test/__snapshots__/index.jsx.snap
  client/components/head/test/favicons.jsx
  client/components/head/test/index.jsx
  client/document/404.jsx
  client/document/500.jsx
  client/document/browsehappy.jsx
  client/document/desktop.jsx
  client/document/domains-landing.jsx
  client/document/index.jsx
  client/server/pages/index.js
  client/server/pages/test/index.js
  static/images/jetpack/favicons/android-chrome-192x192.png
  static/images/jetpack/favicons/android-chrome-512x512.png
  static/images/jetpack/favicons/apple-touch-icon.png
  static/images/jetpack/favicons/browserconfig.xml
  static/images/jetpack/favicons/mstile-150x150.png
  static/images/jetpack/favicons/safari-pinned-tab.svg
Labels: Jetpack Cloud, [Status] Needs Review

#44666 Jetpack Backup: Refactor ActionButtons, add test coverage
  client/components/jetpack/daily-backup-status/action-buttons.jsx
  client/components/jetpack/daily-backup-status/index.jsx
  client/components/jetpack/daily-backup-status/test/action-buttons.jsx
  client/my-sites/backup/main.jsx
Labels: Jetpack Cloud, [Status] Needs Review

#44699 Add icons for new Jetpack products
  packages/components/src/product-icon/README.md
  packages/components/src/product-icon/config.js
  packages/components/src/product-icon/docs/example.jsx
  packages/components/src/product-icon/images/jetpack-all-in-v2.svg
  packages/components/src/product-icon/images/jetpack-anti-spam-v2.svg
  packages/components/src/product-icon/images/jetpack-backup-v2.svg
  packages/components/src/product-icon/images/jetpack-scan-v2.svg
  packages/components/src/product-icon/images/jetpack-search-v2.svg
  packages/components/src/product-icon/images/jetpack-security-v2.svg
Labels: Jetpack, Plans, [Status] Needs Review

#44119 composite-checkout: Processor and validation for multi-partner card processor
  client/lib/store-transactions/index.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/contact-fields.js
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/credit-card-fields.js
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/credit-card-pay-button.js
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/index.js
  client/my-sites/checkout/composite-checkout/record-analytics.js
  client/my-sites/checkout/composite-checkout/types/transaction-endpoint.ts
Labels: Checkout, [Status] Needs Review

#44628 Pre-commit hook: Only use local copies of phpcs and phpcbf
  bin/pre-commit-hook.js
Labels: Build, [Status] Needs Review

#44551 Move Editing Toolkit JS tests to GitHub & rename
  .circleci/config.yml
  .github/workflows/editing-toolkit-plugin.yml
  apps/full-site-editing/README.md
Labels: [Status] Needs Review, [Team] Cylon

#44678 Remove isLarge prop from NextButton & SkipButton
  packages/onboarding/src/action-buttons/index.tsx
Labels: [Status] Needs Review

#44650 Gutenberg: Fix e2e for 8.7
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/lib/gutenberg/gutenberg-editor-sidebar-component.js
Labels: [Goal] Gutenberg, [Status] Needs Review, [Status] Needs e2e Testing Gutenberg Edge

#44563 Updates the back navigation link for the signup reskinned flow
  client/signup/navigation-link/index.jsx
  client/signup/style.scss
Labels: ABTest, Signup, [Status] Needs Review

#44206 Registrationless checkout: Integration PR
  client/boot/locale.js
  client/components/domains/contact-details-form-fields/managed-contact-details-form-fields.jsx
  client/components/domains/registrant-extra-info/ca-form.jsx
  client/components/site-selector/index.jsx
  client/layout/logged-out.jsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/logged-out.jsx
  client/lib/abtest/active-tests.js
  client/lib/cart/store/cart-synchronizer.js
  client/lib/cart/store/index.js
  client/lib/signup/flow-controller.ts
  client/lib/signup/step-actions/index.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/contact-validation.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-contact-form-summary.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-contact-form.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/wpcom/hooks/use-shopping-cart-manager/use-shopping-cart-reducer.ts
  client/my-sites/checkout/composite-checkout/wpcom/hooks/wpcom-store.ts
  client/my-sites/checkout/composite-checkout/wpcom/index.js
  client/my-sites/checkout/composite-checkout/wpcom/types.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/backend/signup-validation-endpoint.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/wpcom-store-state.ts
  client/my-sites/checkout/controller.jsx
  client/my-sites/checkout/index.js
  client/my-sites/controller.js
  client/my-sites/domains/components/form/input.jsx
  client/signup/config/flows-pure.js
  client/signup/config/flows.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/config/steps.js
  client/signup/controller.js
  client/signup/main.jsx
  client/signup/recaptcha/index.jsx
  client/signup/recaptcha/style.scss
  client/signup/steps/domains/index.jsx
  client/signup/utils.js
  client/state/selectors/is-support-variation-determined.js
Labels: Marketing, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#44714 Adjust styles for the new product cards on desktop
  client/components/jetpack/card/jetpack-product-card/style.scss
Labels: Jetpack, [Status] Needs Review

#44470 Typography: Update 36px font sizes to use Sass variable
  client/blocks/reader-full-post/style.scss
  client/blocks/support-article-dialog/style.scss
  client/components/card-heading/style.scss
  client/components/jetpack/scan-history-placeholder/style.scss
  client/components/share/tumblr-share-preview/style.scss
  client/landing/jetpack-cloud/sections/settings/style.scss
  client/landing/jetpack-cloud/style.scss
  client/my-sites/checkout/upsell-nudge/white-glove/style.scss
Labels: [Status] Needs Review, [Type] Janitorial

#44717 Payments: Remove brand font from smaller section headings
  client/my-sites/earn/memberships/style.scss
Labels: Marketing, Recurring Payments, Simple Payments, [Status] Needs Review

#44740 Defend against undefined `transactionOptions`
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#44680 Sidebar: Remove Customizer Tab from All Sites View
  client/my-sites/sidebar/index.jsx
Labels: OSS Citizen, Sidebar, [Status] Needs Review

#44705 Adds Offer Reset constants
  client/lib/plans/constants.js
  client/lib/plans/index.js
  client/lib/plans/plans-list.js
  client/lib/plans/test/plan-lookups.js
Labels: Plans, [Status] Needs Review

#44711 Add card for Jetpack legacy products
  client/components/jetpack/card/jetpack-plan-card/README.md
  client/components/jetpack/card/jetpack-plan-card/docs/example.tsx
  client/components/jetpack/card/jetpack-plan-card/fixture/index.ts
  client/components/jetpack/card/jetpack-plan-card/index.tsx
  client/components/jetpack/card/jetpack-plan-card/style.scss
Labels: Jetpack, Plans, [Status] Ready to Merge

#44654 Modifies the domain-only nux flow for all domains
  client/my-sites/domains/domain-management/list/list-all.jsx
  client/signup/config/flows-pure.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/steps/domains/index.jsx
Labels: Domains, [Status] Needs Review

#44424 Gutenboaridng: re-add primary button to DomainsModal
  client/landing/gutenboarding/onboarding-block/domains/index.tsx
Labels: Domains, [Goal] Gutenboarding, [Status] Ready to Merge

#44735 Remove Luna as code owner
  .github/CODEOWNERS
Labels: [Status] Ready to Merge, [Type] Janitorial

#44659 Premium Content: fix duplicate Connect To Stripe message
  apps/full-site-editing/full-site-editing-plugin/premium-content/style.css
Labels: [Status] Needs Review

#44746 Avoid depending on checkout in masterbar
  client/layout/masterbar/checkout.jsx
  client/layout/masterbar/logged-out.jsx
Labels: Checkout, Performance, [Status] Needs Review, [Type] Bug

#44715 Inline Help: FAB Focus Management
  client/blocks/inline-help/inline-help-rich-result.jsx
  client/blocks/inline-help/inline-help-search-card.jsx
  client/blocks/inline-help/popover.jsx
  client/blocks/inline-help/style.scss
Labels: Accessibility, Help, [Status] Needs e2e Testing

#44464 Composite checkout: Hide alternate email when G Suite is not in cart
  client/components/domains/contact-details-form-fields/managed-contact-details-form-fields.jsx
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-contact-form-summary.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-contact-form.js
  client/my-sites/checkout/composite-checkout/wpcom/types/backend/domain-contact-validation-endpoint.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/wpcom-store-state.ts
Labels: Checkout, G Suite, [Status] Needs Review

#44712 Offer Reset: create a filter bar for the new Plans page
  client/my-sites/plans-v2/constants.ts
  client/my-sites/plans-v2/plans-filter-bar/index.tsx
  client/my-sites/plans-v2/plans-filter-bar/style.scss
  client/my-sites/plans-v2/selector.tsx
  client/my-sites/plans-v2/types.ts
Labels: Plans, [Status] Needs Review

#44753 Registrationless checkout: Send transactionOptions for apple pay
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
Labels: Checkout, [Status] Needs Review

#44647 WooDNA: Implement Woo-themed passwordless login
  client/blocks/login/index.jsx
  client/blocks/login/login-form.jsx
  client/jetpack-connect/signup.js
  client/jetpack-connect/style.scss
  client/layout/logged-out.jsx
  client/login/magic-login/handle-emailed-link-form.jsx
  client/login/wp-login/style.scss
  static/images/illustrations/illustration-woo-magic-link.svg
Labels: [Status] Ready to Merge

#44730 Fix gutenboarding /new placeholder translations
  client/landing/gutenboarding/hooks/use-typer.ts
  client/landing/gutenboarding/onboarding-block/acquire-intent/site-title.tsx
Labels: [Goal] Gutenboarding, [Status] Needs Review, i18n

#44757 Handle languages-meta fallback at build time
  client/languages/index.js
  client/webpack.config.js
Labels: Build, Performance, [Status] Needs Review, i18n

#44751 Rename All In plan instances to Complete
  client/components/jetpack/card/jetpack-plan-card/fixture/index.ts
  packages/components/src/product-icon/README.md
  packages/components/src/product-icon/config.js
  packages/components/src/product-icon/docs/example.jsx
  packages/components/src/product-icon/images/jetpack-complete-v2.svg
Labels: Jetpack, Plans, [Status] Needs Review

#44744 Product card: update colours in the features section
  client/components/jetpack/card/jetpack-product-card/style.scss
Labels: Jetpack, Plans, [Status] Needs Review

#44747 Product card: update example copy
  client/components/jetpack/card/jetpack-product-card/fixture/index.ts
Labels: Jetpack, Plans, [Status] Needs Review

#44736 wp-babel-makepot: Add option to filter extracted strings by their source reference
  packages/wp-babel-makepot/cli.js
  packages/wp-babel-makepot/package.json
  packages/wp-babel-makepot/utils/concat-pot.js
Labels: Packages, [Status] Needs Review, i18n

#44689 i18n: Use wp-babel-makepot for translate script
  package.json
Labels: [Status] Needs Review, i18n

#44724 Save the last-non-editor-route in redux instead of calculating it
  client/state/route/last-non-editor-route/reducer.js
  client/state/route/last-non-editor-route/schema.js
  client/state/route/last-non-editor-route/test/reducer.js
  client/state/route/reducer.js
  client/state/selectors/get-last-non-editor-route.js
  client/state/selectors/test/get-editor-close-config.js
  client/state/selectors/test/get-last-non-editor-route.js
Labels: Calypsoify, Editor, [Goal] Editor Improvements, [Status] Needs Review, [Type] Bug

#44729 Extract spec-xunit-reporter package
  packages/spec-xunit-reporter/index.js
  packages/spec-xunit-reporter/lib/spec-xunit-reporter.js
  packages/spec-xunit-reporter/package.json
  test/e2e/lib/reporter/package.json
Labels: Expedited Review, [Status] Needs Review

#44679 Unpin and deduplicate terser
  package.json
  yarn.lock
Labels: Expedited Review, [Status] Needs Review

#44765 Build Packages: fix chokidar so it uses less cpu
  bin/watch-packages-and-rebuild.js
Labels: Development task, Performance, [Status] Needs Review

#44103 Earn: Correct Plan Names for Jetpack Sites
  client/my-sites/earn/home.tsx
Labels: OSS Citizen, [Status] Needs Review, [Status] String Freeze

#44369 Support label fix
  client/me/help/help-contact-form/index.jsx
Labels: OSS Citizen, [Status] String Freeze

#44668 Hides the `PlanNavigation` menu under a feature flag
  client/my-sites/email/email-management/index.jsx
Labels: Domains, [Status] Needs Review

#44708 Gutenboarding launch flow: add Name your site step
  apps/full-site-editing/full-site-editing-plugin/common/data-stores/launch/index.ts
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/src/domain-picker-fse/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-menu/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-menu/item.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/domain-step/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/name-step/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/name-step/styles.scss
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/plan-step/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/wp-core-data-types.d.ts
  packages/domain-picker/src/domain-picker/style.scss
  packages/onboarding/src/action-buttons/style.scss
Labels: Pre-launch, [Goal] Gutenboarding, [Status] Needs Review, [Status] Ready to Merge

#44532 Update how primary domain change affects the domain item row
  client/my-sites/domains/domain-management/list/domain-item.jsx
  client/my-sites/domains/domain-management/list/index.jsx
  client/my-sites/domains/domain-management/list/list-header.jsx
  client/my-sites/domains/domain-management/list/style.scss
Labels: Domains, [Status] Needs Review

#44791 Fix makepot error
  packages/wp-babel-makepot/utils/concat-pot.js
Labels: [Status] Needs Review

#44760 Remove dependency on `qs` from `lib/user`
  client/lib/user/user.js
Labels: [Status] Needs Review, [Type] Janitorial

#44539 Update the domain list header styling
  client/my-sites/domains/domain-management/list/style.scss
Labels: Domains, [Status] Needs Review

#44732 Fixes test/e2e dependencies
  test/e2e/package.json
  yarn.lock
Labels: Expedited Review, [Status] Needs Review

#44710 P2: add logstash logging for signup form validation failure
  client/signup/steps/p2-site/index.jsx
Labels: Signup

#44335 Use the Calypso theme standard colors for the domain statuses
  client/lib/domains/resolve-domain-status.js
  client/my-sites/domains/domain-management/edit/style.scss
Labels: Domains, [Status] Needs Review

#44748 Gutenboarding launch flow: plans grid update to support disabled plan
  apps/full-site-editing/full-site-editing-plugin/common/data-stores/launch/selectors.ts
  apps/full-site-editing/full-site-editing-plugin/editor-plans-grid/src/hooks/use-selected-plan.ts
  apps/full-site-editing/full-site-editing-plugin/editor-plans-grid/src/plans-grid-fse/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-menu/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-modal/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-sidebar/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/final-step/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/plan-step/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch/index.tsx
  packages/plans-grid/src/plan-item/index.tsx
  packages/plans-grid/src/plan-item/style.scss
  packages/plans-grid/src/plans-grid/index.tsx
  packages/plans-grid/src/plans-table/index.tsx
  packages/plans-grid/src/plans-table/plan-item.tsx
  packages/plans-grid/src/plans-table/style.scss
  packages/plans-grid/src/types-patch.ts
Labels: Plans, [Goal] Gutenboarding, [Status] Needs Review

#44763 Update and deduplicate `core-js`
  yarn.lock
Labels: [Status] Needs Review, [Type] Janitorial, dependencies

#44756 Exporter: Balance Padding on Expanded Accordion
  client/my-sites/exporter/style.scss
Labels: Export, OSS Citizen, [Status] Needs Review, [Type] Bug

#44700 Customer Home: Remove brand font from smaller subheads
  client/my-sites/customer-home/style.scss
Labels: Customer Home, [Status] Needs Review, [Type] Janitorial

#44707 Update colours of the new Jetpack product cards
  client/components/jetpack/card/jetpack-bundle-card/fixture/index.ts
  client/components/jetpack/card/jetpack-bundle-card/style.scss
  client/components/jetpack/card/jetpack-individual-product-card/fixture/index.ts
  client/components/jetpack/card/jetpack-individual-product-card/style.scss
  client/components/jetpack/card/jetpack-plan-card/style.scss
Labels: Jetpack, Plans, [Status] Needs Rebase

#43124 Jetpack Scan: Update history after ignore or fix
  client/state/data-layer/wpcom/sites/scan/threats/ignore.js
Labels: Jetpack Cloud, [Size] S, [Status] Needs Review

#44568 Desktop: Add gutenberg e2e test to desktop
  desktop/e2e/run.js
  desktop/e2e/tests/e2e.js
  desktop/e2e/tests/lib/async-base-container.js
  desktop/e2e/tests/lib/components/gutenberg-editor-component.js
  desktop/e2e/tests/lib/components/gutenberg-editor-sidebar-component.js
  desktop/e2e/tests/lib/components/post-editor-toolbar-component.js
  desktop/e2e/tests/lib/components/post-preview-component.js
  desktop/e2e/tests/lib/driver-helper.js
  desktop/e2e/tests/lib/pages/editor-page.js
Labels: [Status] Needs Review

#44771 Finish wiring up product selection page
  client/lib/plans/types.ts
  client/lib/products-values/products-list.ts
  client/lib/products-values/types.ts
  client/my-sites/plans-v2/constants.ts
  client/my-sites/plans-v2/plans-column/index.tsx
  client/my-sites/plans-v2/products-column/index.tsx
  client/my-sites/plans-v2/selector.tsx
  client/my-sites/plans-v2/style.scss
  client/my-sites/plans-v2/types.ts
  client/my-sites/plans-v2/utils.ts
  packages/components/src/product-icon/config.js
Labels: Plans, [Status] Needs Review

#44807 Product card: make subheadline and description optional
  client/components/jetpack/card/jetpack-product-card/README.md
  client/components/jetpack/card/jetpack-product-card/index.tsx
Labels: Jetpack, Plans, [Status] Needs Review

#44808 InlineHelp: Remove incorrect descriptions
  client/blocks/inline-help/admin-sections.js
Labels: [Status] Needs Review

#44766 Change purpose of JetpackProductCard to be used for actual products
  client/components/jetpack/card/jetpack-bundle-card/fixture/index.ts
  client/components/jetpack/card/jetpack-individual-product-card/README.md
  client/components/jetpack/card/jetpack-individual-product-card/docs/example.tsx
  client/components/jetpack/card/jetpack-individual-product-card/fixture/index.ts
  client/components/jetpack/card/jetpack-individual-product-card/index.tsx
  client/components/jetpack/card/jetpack-individual-product-card/style.scss
  client/components/jetpack/card/jetpack-product-card/README.md
  client/components/jetpack/card/jetpack-product-card/docs/example.tsx
  client/components/jetpack/card/jetpack-product-card/fixture/index.ts
  client/components/jetpack/card/jetpack-product-card/style.scss
  client/devdocs/design/index.jsx
Labels: Jetpack, Plans, [Status] In Progress, [Status] Needs Review

#44804 Hide the “Plans” sidebar item in the WPMobile apps
  client/my-sites/sidebar/index.jsx
Labels: Mobile Web

#44806 Composite checkout: Improve styling of ebanx contact fields
  client/my-sites/checkout/checkout/country-specific-payment-fields.jsx
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/contact-fields.js
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/credit-card-fields.js
  packages/composite-checkout/src/theme.js
Labels: [Status] Needs Review

#44805 InlineHelp: Anchor to appropriate sections from admin results (#44059)
  client/blocks/inline-help/admin-sections.js
  client/me/account/main.jsx
  client/my-sites/site-settings/form-general.jsx
  client/my-sites/site-settings/podcasting-details/link.jsx
  client/my-sites/site-settings/site-tools/index.jsx
Labels: [Status] Needs Review, [Type] Enhancement

#44782 User suggestions: improve resilience when API returns null for suggestions
  client/state/users/suggestions/reducer.js
  client/state/users/suggestions/selectors.js
  client/state/users/suggestions/test/reducer.js
Labels: Reader, [Status] Needs Review, [Type] Janitorial

#44785 Reorder some discussion points and wording around data-persistence for better clarity to a new reader/automattician
  docs/data-persistence.md
Labels: [Status] Needs Review

#44682 Apply Calypso Doctor recommendations to CircleCI
  .circleci/config.yml
Labels: Expedited Review, [Status] Needs Review

#44600 Support for imports from wp-calypso-client
  .eslintignore
  client/.eslintrc.js
  client/webpack-utils/extensions.js
  client/webpack-utils/generate-chunks-map-plugin.js
  client/webpack-utils/require-chunk-callback-plugin.js
  client/webpack.config.js
  client/webpack.config.node.js
  docs/translation-chunks.md
  packages/calypso-build/webpack/util.js
  test/client/jest.config.js
Labels: Build, Framework, [Status] Needs Review

#44768 Gutenboarding launch flow: open for testing
  apps/full-site-editing/full-site-editing-plugin/common/data-stores/launch/actions.ts
  apps/full-site-editing/full-site-editing-plugin/common/data-stores/launch/reducer.ts
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/index.php
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/index.ts
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/src/domain-picker-button/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/src/domain-picker-modal/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/src/domain-picker-modal/styles.scss
  apps/full-site-editing/full-site-editing-plugin/editor-domain-picker/src/stores/index.ts
  apps/full-site-editing/full-site-editing-plugin/editor-gutenboarding-launch/index.ts
  apps/full-site-editing/full-site-editing-plugin/editor-plans-grid/index.php
  apps/full-site-editing/full-site-editing-plugin/editor-plans-grid/index.ts
  apps/full-site-editing/full-site-editing-plugin/editor-plans-grid/src/plans-grid-button/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-plans-grid/src/plans-modal/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-plans-grid/src/plans-modal/styles.scss
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/index.php
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/index.ts
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/attach-launch-sidebar.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/hooks/use-site.ts
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-button/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-button/styles.scss
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-modal/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-modal/styles.scss
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-sidebar/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/domain-step/styles.scss
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/plan-step/styles.scss
  client/gutenberg/editor/calypsoify-iframe.tsx
  config/development.json
  config/horizon.json
Labels: Pre-launch, [Goal] Gutenboarding, [Status] Needs Review

#44681 ImageSelector: replace `MediaStore.get` with `getMediaItem` thunk
  client/blocks/image-selector/dropzone.jsx
  client/blocks/image-selector/preview.jsx
  client/blocks/image-selector/test/index.jsx
  client/blocks/image-selector/test/preview.jsx
Labels: Media, [Status] Needs Review

#44655 Remove mandatory domain step
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/hooks/use-step-navigation.ts
  client/landing/gutenboarding/onboarding-block/domains/index.tsx
  client/package.json
  test/e2e/specs/wp-gutenboarding-spec.js
  yarn.lock
Labels: [Goal] Gutenboarding, [Status] Needs Review, [Status] Needs e2e Testing

#44701 Re-add vertical input to intent capture
  client/landing/gutenboarding/lib/analytics/index.ts
  client/landing/gutenboarding/onboarding-block/acquire-intent/acquire-intent-text-input/index.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/acquire-intent-text-input/style.scss
  client/landing/gutenboarding/onboarding-block/acquire-intent/index.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/site-title.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/style.scss
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/index.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/style.scss
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/index.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  client/landing/gutenboarding/stores/onboard/selectors.ts
  client/landing/gutenboarding/variables.scss
  packages/onboarding/styles/z-index.scss
Labels: [Goal] Gutenboarding, [Status] Needs Review

#44786 Enable showRecaptcha in signup flows
  client/signup/config/flows-pure.js
Labels: [Status] Needs Review, [Team] MarTech

#44555 Move `DomainWarning` message in the `DomainItem` component
  client/lib/domains/resolve-domain-status.js
  client/my-sites/domains/domain-management/list/index.jsx
Labels: Domains, [Status] Needs Review

#44821 Gutenboarding launch flow: add final step summary
  apps/full-site-editing/full-site-editing-plugin/common/data-stores/launch/reducer.ts
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/hooks/use-site.ts
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-menu/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-menu/item.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/final-step/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/final-step/styles.scss
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/stores/index.ts
  apps/full-site-editing/package.json
  packages/composite-checkout/src/components/checkout-steps.js
  packages/composite-checkout/src/public-api.js
Labels: Pre-launch, [Goal] Gutenboarding, [Status] Needs Review

#44422 My Home: Adding Quick Start video card to be featured in Secondary
  client/assets/images/customer-home/quick-start-video-ss.png
  client/my-sites/customer-home/cards/constants.js
  client/my-sites/customer-home/cards/education/quick-start-video/index.jsx
  client/my-sites/customer-home/locations/secondary/index.jsx
Labels: [Status] Needs Review

#44817 Bump WordPress.com Editing Toolkit version to 1.16.
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/readme.txt
  apps/full-site-editing/package.json
Labels: [Goal] Editor Improvements

#44823 Gutenboarding Site Launch: When on mobile, do not open launch sidebar.
  apps/full-site-editing/full-site-editing-plugin/editor-gutenboarding-launch/index.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#44737 Add backend error messages to credentials update failure events
  client/state/data-layer/wpcom/activity-log/update-credentials/index.js
Labels: Jetpack, [Status] Needs Review

#44797 P2: prevent accessing the domain management section
  client/my-sites/domains/controller.jsx
  client/my-sites/domains/index.js
Labels: [Status] Needs Review

#44810 Product card: handle deprecated state
  client/components/jetpack/card/jetpack-plan-card/README.md
  client/components/jetpack/card/jetpack-plan-card/fixture/index.ts
  client/components/jetpack/card/jetpack-plan-card/index.tsx
  client/components/jetpack/card/jetpack-plan-card/style.scss
  client/components/jetpack/card/jetpack-product-card/README.md
  client/components/jetpack/card/jetpack-product-card/index.tsx
  client/components/jetpack/card/jetpack-product-card/style.scss
  client/my-sites/plans-v2/plans-column/index.tsx
Labels: Jetpack, Plans, [Status] Needs Review

#44840 Gutenboarding launch flow: add domain suggestion to summary step
  apps/full-site-editing/full-site-editing-plugin/common/data-stores/launch/reducer.ts
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/hooks/index.ts
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/hooks/use-domain-suggestion.ts
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/hooks/use-on-launch.ts
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/final-step/index.tsx
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/launch-steps/final-step/styles.scss
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/stores/index.ts
  apps/full-site-editing/full-site-editing-plugin/editor-site-launch/src/wp-components-types.d.ts
  apps/full-site-editing/typings/fse/index.d.ts
Labels: Pre-launch, [Goal] Gutenboarding, [Status] Ready to Merge, [Type] Enhancement

#44842 Site editor kit 1.17
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/readme.txt
  apps/full-site-editing/package.json
Labels: [Status] Needs Review

#44820 Gutenboarding: V2 Onboarding
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/hooks/use-show-vertical-input.ts
  client/landing/gutenboarding/hooks/use-step-navigation.ts
  client/landing/gutenboarding/lib/analytics/index.ts
  client/landing/gutenboarding/onboarding-block/acquire-intent/acquire-intent-text-input/index.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/acquire-intent-text-input/style.scss
  client/landing/gutenboarding/onboarding-block/acquire-intent/index.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/site-title.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/style.scss
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/index.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/style.scss
  client/landing/gutenboarding/onboarding-block/domains/index.tsx
  client/landing/gutenboarding/path.ts
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/index.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  client/landing/gutenboarding/stores/onboard/selectors.ts
  client/landing/gutenboarding/variables.scss
  client/lib/abtest/active-tests.js
  client/package.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
  packages/onboarding/styles/z-index.scss
  test/e2e/lib/pages/gutenboarding/acquire-intent-page.js
  test/e2e/specs/wp-gutenboarding-spec.js
  yarn.lock
Labels: [Goal] Gutenboarding, [Status] Needs e2e Testing

#44256 Gutenboarding: Add verticals a/b testing.
  client/lib/abtest/active-tests.js
  client/signup/controller.js
Labels: [Status] Blocked / Hold, [Status] Ready to Merge
