Repository Automattic/wp-calypso, pull requests merged in 2020-03, with the labels that each got.

#39646 Move ICFY stat generation to Github Actions
  .circleci/config.yml
  .github/workflows/icfy-stats.yml
  package.json
Labels: Build, [Status] Ready to Merge

#39734 wpcom-proxy-request: Remove component-event dependency
  package-lock.json
  packages/wpcom-proxy-request/History.md
  packages/wpcom-proxy-request/package.json
  packages/wpcom-proxy-request/src/index.js
Labels: Packages, [Status] Ready to Merge

#39735 wpcom-proxy-request: Use uuid rather than uid dependency
  package-lock.json
  packages/wpcom-proxy-request/History.md
  packages/wpcom-proxy-request/package.json
  packages/wpcom-proxy-request/src/index.js
Labels: Packages, [Status] Needs Review

#39760 JITM: JITMs accept is_dismissible value
  client/state/data-layer/wpcom/sites/jitm/index.js
  client/state/data-layer/wpcom/sites/jitm/schema.json
Labels: [Status] Needs Review, [Team] MarTech

#39711 Usability fixes for the site domain list and setting the primary domain
  client/my-sites/domains/domain-management/list/item.jsx
  client/my-sites/domains/domain-management/list/style.scss
Labels: Domains, [Status] Ready to Merge

#39806 FSE: add colorized output to Jest unit tests output via lerna
  apps/full-site-editing/package.json
Labels: Testing, [Goal] Full Site Editing, [Goal] Page Templates, [Type] Enhancement

#36591 Include an Audit Script for the Colors Used in SVG Images
  bin/audit-svg-colors.js
  client/assets/images/illustrations/google-my-business-feature.svg
  client/assets/images/illustrations/no-memberships.svg
  client/assets/images/upgrades/cc-unionpay-disabled.svg
  package-lock.json
  package.json
  static/images/google-vouchers/google-voucher.svg
  static/images/illustrations/backup.svg
  static/images/illustrations/gutenberg-mini.svg
  static/images/illustrations/gutenberg.svg
  static/images/illustrations/migrating-host-assisted.svg
  static/images/illustrations/plan-business-circle.svg
  static/images/illustrations/plan-business.svg
  static/images/illustrations/plan-free-circle.svg
  static/images/illustrations/plan-free.svg
  static/images/illustrations/plan-personal-circle.svg
  static/images/illustrations/plan-personal.svg
  static/images/illustrations/plan-premium-circle.svg
  static/images/illustrations/plan-premium.svg
  static/images/illustrations/promo-star.svg
  static/images/illustrations/site-title.svg
  static/images/illustrations/thankYou.svg
  static/images/illustrations/video-hosting-13G.svg
  static/images/illustrations/video-hosting-unlimited.svg
  static/images/jetpack/illustration-jetpack-monitor.svg
  static/images/jetpack/illustration-jetpack-protect.svg
  static/images/jetpack/jetpack-manage.svg
  static/images/signup/confetti.svg
  static/images/stats/tasks/upload-icon.svg
  static/images/upgrades/check-emails-desktop.svg
  static/images/upgrades/paypal-disabled.svg
  static/images/upgrades/thank-you.svg
Labels: Design, Framework, [Status] Needs Review

#39808 SPT: fix containment issue causing permanent double scrollbar
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/styles/starter-page-templates-editor.scss
Labels: [Goal] Page Templates

#39318 Reader: Remove unnecessary loading placeholders
  client/reader/controller.js
Labels: Reader, [Status] Needs Review, [Type] Enhancement

#39720 Gutenboarding: Add auth store for managing login flow state
  client/landing/gutenboarding/devtools.ts
  package-lock.json
  package.json
  packages/data-stores/.eslintrc.js
  packages/data-stores/package.json
  packages/data-stores/src/auth/README.md
  packages/data-stores/src/auth/actions.ts
  packages/data-stores/src/auth/constants.ts
  packages/data-stores/src/auth/controls.ts
  packages/data-stores/src/auth/index.ts
  packages/data-stores/src/auth/reducer.ts
  packages/data-stores/src/auth/selectors.ts
  packages/data-stores/src/auth/test/controls.ts
  packages/data-stores/src/auth/test/flows.ts
  packages/data-stores/src/auth/test/reducer.ts
  packages/data-stores/src/auth/types.ts
  packages/data-stores/src/index.ts
  packages/data-stores/src/user/README.md
Labels: [Goal] Gutenboarding, [Status] Needs Review

#39771 Add disconnect button to earn settings
  client/my-sites/earn/memberships/index.jsx
  client/my-sites/earn/memberships/style.scss
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/memberships/index.js
  client/state/memberships/settings/actions.js
Labels: Memberships, [Status] Needs Review

#39817 Add color output to FSE e2e tests
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing, [Team] Cylon, [Type] Enhancement

#39722 wpcom-proxy-request: Return Promise if no callback specified (Take Two)
  .dockerignore
  .gitignore
  packages/data-stores/global.d.ts
  packages/data-stores/src/shared-types.ts
  packages/data-stores/src/site/controls.ts
  packages/data-stores/src/site/index.ts
  packages/data-stores/src/user/controls.ts
  packages/data-stores/src/user/index.ts
  packages/data-stores/src/utils/index.ts
  packages/data-stores/src/utils/wpcom-wrapper.ts
  packages/data-stores/tsconfig.json
  packages/wpcom-proxy-request/History.md
  packages/wpcom-proxy-request/package.json
  packages/wpcom-proxy-request/src/index.js
  packages/wpcom-proxy-request/types/index.d.ts
Labels: Packages, [Status] Ready to Merge

#39789 Add contextual links for expired and recently registered domains
  client/lib/url/support.js
  client/my-sites/domains/domain-management/edit/domain-types/registered-domain-type.jsx
Labels: Domains, [Status] Needs Review

#39812 Domains: Prompt to upgrade when trying to set domain as primary
  client/my-sites/domains/domain-management/list/index.jsx
  client/my-sites/domains/domain-management/list/item.jsx
  client/my-sites/domains/domain-management/list/style.scss
Labels: Domains, [Status] Needs Review

#39825 wpcom-proxy-request: Return Promise if no callback specified (Take 3)
  .dockerignore
  .gitignore
  packages/data-stores/global.d.ts
  packages/data-stores/src/auth/controls.ts
  packages/data-stores/src/auth/index.ts
  packages/data-stores/src/auth/test/controls.ts
  packages/data-stores/src/auth/test/flows.ts
  packages/data-stores/src/shared-types.ts
  packages/data-stores/src/site/controls.ts
  packages/data-stores/src/site/index.ts
  packages/data-stores/src/user/controls.ts
  packages/data-stores/src/user/index.ts
  packages/data-stores/src/utils/index.ts
  packages/data-stores/src/utils/wpcom-wrapper.ts
  packages/data-stores/tsconfig.json
  packages/wpcom-proxy-request/History.md
  packages/wpcom-proxy-request/package.json
  packages/wpcom-proxy-request/src/index.js
  packages/wpcom-proxy-request/types/index.d.ts
Labels: API, Data, Packages, [Goal] Gutenboarding, [Status] Needs Review

#39836 Play store badge: load from https instead of http
  client/blocks/get-apps/apps-badge.jsx
Labels: Customer Home, [Status] Needs Review

#39796 New domain status design tweaks
  client/my-sites/domains/domain-management/edit/card/domain-status/index.jsx
  client/my-sites/domains/domain-management/edit/style.scss
Labels: Domains, [Status] Needs Review

#39360 Gutenboarding: Signup modal appears above existing page content, behaves more like a modal
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/components/signup-form/index.tsx
  client/landing/gutenboarding/components/signup-form/style.scss
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/index.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  packages/data-stores/src/mapped-types.ts
  packages/data-stores/src/user/actions.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#39841 Dialog: Improve line height of h1
  packages/components/src/dialog/style.scss
Labels: Components

#39788 Add better tracking for the Renew button in the new domain status screen
  client/lib/purchases/index.js
  client/my-sites/domains/domain-management/edit/card/renew-button/index.jsx
  client/my-sites/domains/domain-management/edit/domain-types/registered-domain-type.jsx
Labels: Domains, [Status] Needs Review

#39728 Docs: document the ENTRY_LIMIT environment variable
  docs/development-workflow.md
  docs/install.md
Labels: Build, Documentation, [Status] Needs Review

#39839 Migration: Set backHref for HeaderCake on business plan page
  client/my-sites/migrate/section-migrate.jsx
  client/my-sites/migrate/step-upgrade.jsx
Labels: WP Migration, [Status] Needs Review

#39790 Fix the new domain warning links to point to the proper support doc
  client/lib/url/support.js
  client/my-sites/domains/components/domain-warnings/index.jsx
Labels: Domains, [Status] Ready to Merge

#39791 Fix DNS records Learn more link to open in new window
  client/my-sites/domains/domain-management/dns/dns-details.jsx
Labels: Domains, [Status] Needs Review

#39819 Gutenboarding: Add error handling for password flow to auth store
  client/landing/gutenboarding/devtools.ts
  packages/data-stores/.eslintrc.js
  packages/data-stores/jest.config.js
  packages/data-stores/src/auth/actions.ts
  packages/data-stores/src/auth/controls.ts
  packages/data-stores/src/auth/index.ts
  packages/data-stores/src/auth/reducer.ts
  packages/data-stores/src/auth/selectors.ts
  packages/data-stores/src/auth/test/actions.ts
  packages/data-stores/src/auth/test/flows.ts
  packages/data-stores/src/auth/test/reducer.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#39846 Enable Gutenberg NUX with Gutenberg copy
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nux/src/images.js
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nux/src/wpcom-nux.js
Labels: NUX, [Goal] Gutenberg, [Status] Needs Review, [Type] Enhancement

#39763 JITM: Update notice template to render UpsellNudge
  client/blocks/jitm/index.jsx
  client/blocks/jitm/templates/notice.jsx
Labels: [Team] MarTech

#39447 Frankenflow: Customize checkout step
  client/layout/index.jsx
  client/my-sites/checkout/checkout/checkout-container.jsx
  client/my-sites/checkout/checkout/checkout-system-decider.js
  client/my-sites/checkout/checkout/style.scss
  client/my-sites/checkout/controller.jsx
Labels: Checkout, [Goal] Gutenboarding, [Status] Ready to Merge

#39815 Media library: Output types to dist/types
  packages/media-library/package.json
  packages/media-library/tsconfig.json
Labels: Build, Packages

#39860 Adds tsconfig.json to each package to speed up VSCode
  apps/full-site-editing/tsconfig.json
  apps/notifications/tsconfig.json
  apps/o2-blocks/tsconfig.json
  apps/wpcom-block-editor/tsconfig.json
  packages/babel-plugin-i18n-calypso/tsconfig.json
  packages/babel-plugin-transform-wpcalypso-async/tsconfig.json
  packages/calypso-codemods/tsconfig.json
  packages/calypso-color-schemes/tsconfig.json
  packages/calypso-polyfills/tsconfig.json
  packages/composite-checkout/tsconfig.json
  packages/eslint-config-wpcalypso/tsconfig.json
  packages/eslint-plugin-wpcalypso/tsconfig.json
  packages/format-currency/tsconfig.json
  packages/i18n-calypso-cli/tsconfig.json
  packages/i18n-calypso/tsconfig.json
  packages/load-script/tsconfig.json
  packages/material-design-icons/tsconfig.json
  packages/photon/tsconfig.json
  packages/tree-select/tsconfig.json
  packages/viewport-react/tsconfig.json
  packages/viewport/tsconfig.json
  packages/webpack-config-flag-plugin/tsconfig.json
  packages/webpack-extensive-lodash-replacement-plugin/tsconfig.json
  packages/webpack-inline-constant-exports-plugin/tsconfig.json
  packages/wpcom-proxy-request/tsconfig.json
  packages/wpcom.js/tsconfig.json
Labels: [Status] Needs Review

#39736 Jetpack Cloud: Add user gravatar to the Jetpack Cloud masterbar
  client/landing/jetpack-cloud/components/masterbar/index.jsx
  client/landing/jetpack-cloud/components/masterbar/style.scss
  client/layout/masterbar/masterbar.jsx
Labels: Jetpack Cloud, [Size] S, [Status] Needs Review, [Type] Feature progress

#39862 Plans: update "WordPress powers ..." phrase to 36% from 35%
  client/my-sites/plan-testimonials/index.jsx
Labels: Plans, [Team] MarTech

#39785 Create Happiness Engineers Tray Component
  client/components/happiness-engineers-tray/README.md
  client/components/happiness-engineers-tray/docs/example.jsx
  client/components/happiness-engineers-tray/index.jsx
  client/components/happiness-engineers-tray/style.scss
  client/devdocs/design/index.jsx
  client/me/help/help-happiness-engineers/index.jsx
  client/me/help/help-happiness-engineers/style.scss
  client/my-sites/hosting/support-card/index.js
  client/my-sites/hosting/support-card/style.scss
Labels: [Status] Needs Review

#39608 Add cancel subscription option to subscriber actions menu
  client/my-sites/earn/memberships/index.jsx
  client/state/memberships/subscribers/actions.js
  client/state/memberships/subscribers/reducer.js
  client/state/memberships/subscriptions/actions.js
Labels: Earn, Memberships

#39701 New domain mapping status screen
  client/my-sites/domains/domain-management/edit/card/renew-button/index.jsx
  client/my-sites/domains/domain-management/edit/domain-types/mapped-domain-type.jsx
  client/my-sites/domains/domain-management/edit/index.jsx
  client/state/sites/domains/assembler.js
  client/state/sites/domains/test/fixture/index.js
Labels: Domains, [Status] Ready to Merge

#39827 uuid: Update dependency to v7
  client/components/date-range/inputs.tsx
  client/package.json
  package-lock.json
Labels: Build, Maintenance, Packages, [Status] Needs Review

#39861 Images: Use webpack loader for fireworks
  client/my-sites/customer-home/main.jsx
Labels: Build, [Status] Needs Review, [Type] Defect

#39831 SPT: Set template title in large preview
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/block-iframe-preview.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/block-preview.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/template-selector-preview.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/styles/starter-page-templates-editor.scss
Labels: [Goal] Full Site Editing, [Goal] Page Templates, [Type] Enhancement

#39813 Jetpack Cloud: Add DatePicker component
  client/landing/jetpack-cloud/components/date-picker/index.jsx
  client/landing/jetpack-cloud/components/date-picker/style.scss
  client/landing/jetpack-cloud/sections/backups/main.jsx
  client/my-sites/activity/filterbar/date-range-selector.jsx
Labels: Jetpack Cloud, [Size] M, [Status] Needs Review

#39864 Domain step test: Set variant allocation to zero
  client/lib/abtest/active-tests.js
Labels: ABTest, Domains, Signup, [Status] Needs Review, [Team] MarTech

#39854 Changes config to have dev helpers available on staging
  config/stage.json
Labels: [Size] S, [Status] Needs Review

#39773 Fixes purchase time period to work for products
  client/lib/products-values/index.js
  client/lib/products-values/products-list.ts
  client/lib/products-values/schema.json
  client/me/purchases/manage-purchase/purchase-meta.jsx
Labels: Jetpack, Purchases, [Status] Ready to Merge

#39814 Removes reference to backups when purchased
  client/lib/plans/plans-list.js
Labels: Jetpack, Purchases, [Status] Ready to Merge, [Type] Bug

#39867 Domains: Enable new domain status screen
  config/horizon.json
Labels: [Status] In Progress

#39764 Update the reconnect to renew message on the Manage Purchase page
  client/me/purchases/manage-purchase/purchase-meta.jsx
  client/me/purchases/manage-purchase/style.scss
  client/me/purchases/remove-purchase/index.jsx
Labels: Purchases, [Size] S, [Status] Needs Copy Review, [Status] Ready to Merge, [Type] Enhancement

#39870 Marketing Button Options: Update contexts to allow for different translations
  client/my-sites/marketing/buttons/options.jsx
Labels: Sharing, i18n

#39702 SPT: Make page title visibility depend on theme setting
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/class-starter-page-templates.php
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/index.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/block-iframe-preview.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/block-preview.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/sidebar-modal-opener.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
Labels: [Goal] Full Site Editing, [Goal] Page Templates

#39816 Composite Checkout: add busy button
  packages/composite-checkout/src/components/button.js
  packages/composite-checkout/src/components/checkout-steps.js
  packages/composite-checkout/src/lib/payment-methods/existing-credit-card.js
  packages/composite-checkout/src/lib/payment-methods/free-purchase.js
  packages/composite-checkout/src/lib/payment-methods/full-credits.js
  packages/composite-checkout/src/lib/payment-methods/paypal.js
  packages/composite-checkout/src/lib/payment-methods/stripe-credit-card-fields.js
  packages/composite-checkout/src/theme.js
Labels: Checkout, [Status] Needs Review

#39835 Jetpack Cloud: Daily backup status component
  client/landing/jetpack-cloud/components/daily-backup-status/index.jsx
  client/landing/jetpack-cloud/components/daily-backup-status/style.scss
  client/landing/jetpack-cloud/sections/backups/main.jsx
  client/landing/jetpack-cloud/sections/backups/utils.js
Labels: Jetpack Cloud, [Size] M, [Status] Ready to Merge

#39780 Calculate the minimum amount based on the currency
  client/my-sites/earn/memberships/products.jsx
Labels: Earn, Recurring Payments, [Status] Needs Review

#39880 Customer Home: make section available to everyone
  client/lib/abtest/active-tests.js
  client/me/help/help-courses/test/index.jsx
  client/state/sites/selectors/can-current-user-use-customer-home.js
  test/e2e/lib/flows/login-flow.js
  test/e2e/lib/pages/stats-page.js
Labels: [Status] Needs Review, [Type] Task

#39876 Make backup download error dismissal permanent
  client/my-sites/activity/activity-log-banner/error-banner.jsx
Labels: Activity Log, Rewind, [Status] Needs Review

#39708 Jetpack Cloud: Use calypso entrypoint
  client/landing/jetpack-cloud/components/current-site/index.tsx
  client/landing/jetpack-cloud/components/current-site/style.scss
  client/landing/jetpack-cloud/components/sidebar/index.jsx
  client/landing/jetpack-cloud/components/sidebar/style.scss
  client/landing/jetpack-cloud/controller.js
  client/landing/jetpack-cloud/index.js
  client/landing/jetpack-cloud/routes.js
  client/landing/jetpack-cloud/section.js
  client/layout/index.jsx
  client/my-sites/controller.js
  client/my-sites/navigation/index.jsx
  client/sections.js
  client/server/bundler/sections-loader.js
  client/server/bundler/utils.js
  client/server/pages/index.js
  client/webpack.config.js
  config/_shared.json
  config/development.json
  config/jetpack-cloud-development.json
  config/jetpack-cloud-production.json
  config/jetpack-cloud-stage.json
Labels: Jetpack, Jetpack Cloud, [Status] Needs Review

#39761 JITM: Simplify message path for stats section
  client/lib/route/path.ts
  client/lib/route/test/index.js
Labels: [Status] Needs Review, [Team] MarTech

#39894 Revert "Jetpack Cloud: Use calypso entrypoint"
  client/landing/jetpack-cloud/components/current-site/index.tsx
  client/landing/jetpack-cloud/components/current-site/style.scss
  client/landing/jetpack-cloud/components/sidebar/index.jsx
  client/landing/jetpack-cloud/components/sidebar/style.scss
  client/landing/jetpack-cloud/controller.js
  client/landing/jetpack-cloud/index.js
  client/landing/jetpack-cloud/routes.js
  client/landing/jetpack-cloud/section.js
  client/layout/index.jsx
  client/my-sites/controller.js
  client/my-sites/navigation/index.jsx
  client/sections.js
  client/server/bundler/sections-loader.js
  client/server/bundler/utils.js
  client/server/pages/index.js
  client/webpack.config.js
  config/_shared.json
  config/development.json
  config/jetpack-cloud-development.json
  config/jetpack-cloud-production.json
  config/jetpack-cloud-stage.json
Labels: [Status] Needs Review

#38849 Support Contact: Don't let users submit questions to the Hebrew forums
  client/me/help/help-contact/index.jsx
  config/_shared.json
Labels: Support, [Status] String Freeze, i18n

#39865 New domain mapping status refactoring
  client/my-sites/domains/domain-management/edit/card/renew-button/index.jsx
  client/my-sites/domains/domain-management/edit/domain-types/mapped-domain-type.jsx
Labels: Domains, [Status] Needs Review

#39640 Sidebar Notices: preventWidows on upsell nudges in the sidebar
  client/blocks/jitm/templates/sidebar-banner.jsx
  client/my-sites/current-site/notice.jsx
Labels: [Status] Needs Review, [Type] Task

#39795 Signup: Add a new flow that keeps only the domain and plan steps
  client/lib/signup/site-type.js
  client/lib/signup/step-actions.js
  client/signup/config/flows-pure.js
  client/signup/config/steps-pure.js
  client/signup/steps/domains/index.jsx
  test/e2e/lib/pages/signup/site-topic-page.js
  test/e2e/specs/wp-signup-spec.js
Labels: Signup, [Status] Needs Jetpack e2e Testing, [Status] Needs Review, [Status] Needs e2e Testing, [Team] MarTech

#39871 SPT: Track source of opening the selector
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/utils/tracking.js
Labels: [Status] Needs Review

#39875 Plans: Show ability to set custom domain as primary under plan benefits
  client/my-sites/checkout/checkout-thank-you/custom-domain-purchase-detail.jsx
Labels: [Status] Needs Review

#39899 Capture npm logs to diagnose installation problems
  .github/workflows/icfy-stats.yml
Labels: [Status] Needs Review

#39877 Site Editor: initialize core FSE on Dotcom sites
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/site-editor/index.php
Labels: [Status] Needs Review, [Team] Cylon

#39800 State: Introduce Redux version of the ads settings store
  client/components/data/query-wordads-settings/README.md
  client/components/data/query-wordads-settings/index.jsx
  client/state/action-types.js
  client/state/data-layer/wpcom/wordads/settings/index.js
  client/state/selectors/get-wordads-settings.js
  client/state/selectors/is-saving-wordads-settings.js
  client/state/selectors/test/get-wordads-settings.js
  client/state/selectors/test/is-saving-wordads-settings.js
  client/state/wordads/reducer.js
  client/state/wordads/settings/actions.js
  client/state/wordads/settings/reducer.js
  client/state/wordads/settings/schema.js
  client/state/wordads/settings/test/reducer.js
Labels: State, WordAds, [Status] Needs Review, [Tests] Includes Tests, [Type] Janitorial

#39849 Adds scan footer
  client/landing/jetpack-cloud/components/stats-footer/index.tsx
  client/landing/jetpack-cloud/components/stats-footer/style.scss
  client/landing/jetpack-cloud/sections/scan/main.jsx
Labels: Components, Jetpack Cloud, Security, [Size] M, [Status] Needs Design Review, [Status] Needs Review, [Type] Feature progress

#39637 Banner: Fix position of CTA when used with a dismiss icon in a compact style
  client/blocks/upsell-nudge/style.scss
  client/components/banner/style.scss
Labels: Components, [Status] Needs Review, [Type] Defect

#39802 Ads: Update AdsFormSettings to use Redux
  client/my-sites/earn/ads/form-settings.jsx
  client/state/data-layer/wpcom/wordads/settings/index.js
Labels: State, WordAds, [Status] Needs Review, [Type] Janitorial

#39900 My Home: Update doc title to "My Home" for consistency
  client/my-sites/customer-home/main.jsx
Labels: Customer Home, [Status] Needs Review, [Status] String Freeze

#39803 WordAds: Remove ads settings legacy flux store
  client/lib/ads/README.md
  client/lib/ads/actions.js
  client/lib/ads/settings-store.js
  client/lib/ads/test/lib/mock-actions.js
  client/lib/ads/test/lib/mock-settings.js
  client/lib/ads/test/lib/mock-site.js
  client/lib/ads/test/stores.js
Labels: WordAds, [Status] Needs Review, [Type] Janitorial

#39905 Block editor: Add document titles
  client/gutenberg/editor/calypsoify-iframe.tsx
  client/gutenberg/editor/controller.js
Labels: [Status] Needs Review

#39374 Media: Dispatch validation error redux actions from flux actions
  client/lib/media/actions.js
  client/lib/media/test/actions.js
  client/state/action-types.js
  client/state/media/actions.js
  client/state/media/test/actions.js
Labels: Media, State, [Status] Needs Review, [Tests] Includes Tests, [Type] Enhancement

#39908 Jetpack Cloud: Daily backup deltas component
  client/landing/jetpack-cloud/components/backup-delta/index.jsx
  client/landing/jetpack-cloud/components/backup-delta/style.scss
  client/landing/jetpack-cloud/sections/backups/main.jsx
  client/landing/jetpack-cloud/sections/backups/utils.js
Labels: Jetpack Cloud, [Size] M, [Status] Needs Review

#39723 Initial peer referral link work.
  client/components/promo-section/index.tsx
  client/components/promo-section/promo-card/cta.tsx
  client/components/promo-section/promo-card/index.tsx
  client/lib/abtest/active-tests.js
  client/lib/wpcom-undocumented/lib/me.js
  client/my-sites/earn/home.tsx
Labels: [Team] MarTech

#39904 Domain status copy updates after internal testing
  client/my-sites/domains/domain-management/edit/domain-types/mapped-domain-type.jsx
  client/my-sites/domains/domain-management/edit/domain-types/registered-domain-type.jsx
  client/my-sites/domains/domain-management/edit/style.scss
Labels: Domains, [Status] Ready to Merge

#39375 State: Create media validation reducer and selectors
  client/lib/media/test/utils.js
  client/lib/media/utils.js
  client/state/media/reducer.js
  client/state/media/test/reducer.js
  client/state/selectors/get-media-errors.js
  client/state/selectors/get-media-item-errors.js
Labels: Media, State, [Status] Needs Review, [Tests] Includes Tests, [Type] Enhancement

#39887 Update Jetpack Cloud Backup Time Logic
  client/landing/jetpack-cloud/components/date-picker/index.jsx
  client/landing/jetpack-cloud/sections/backups/main.jsx
  client/landing/jetpack-cloud/sections/backups/test/utils.js
  client/landing/jetpack-cloud/sections/backups/utils.js
Labels: Jetpack Cloud, [Size] M, [Status] Ready to Merge

#39914 My Home: Make it clearer that designing a logo is an external, paid feature.
  client/assets/images/customer-home/logo.svg
  client/assets/images/customer-home/looka-logo.svg
  client/my-sites/customer-home/main.jsx
Labels: Customer Home, [Status] Needs Review, [Status] String Freeze

#39915 Composite Checkout: add autofill attribute to Stripe cardholder name
  packages/composite-checkout/src/lib/payment-methods/stripe-credit-card-fields.js
Labels: Checkout

#39907 Force theme annotation when theme is sent as a query prop
  client/signup/config/steps-pure.js
  client/signup/steps/domains/index.jsx
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing, [Team] MarTech

#39830 FSE: filter out templates that have missing Blocks
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/utils/contains-missing-block.js
Labels: [Goal] Full Site Editing, [Goal] Page Templates, [Type] Enhancement

#39396 Page Templates: Track template insertion/removal caused by the template selector
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
  apps/wpcom-block-editor/src/wpcom/features/tracking.js
Labels: [Status] Needs Review

#39883 Jetpack Cloud: Add ability to restore
  client/landing/jetpack-cloud/components/daily-backup-status/index.jsx
  client/landing/jetpack-cloud/sections/backups/controller.js
  client/landing/jetpack-cloud/sections/backups/main.jsx
  client/landing/jetpack-cloud/sections/backups/restore/confirm.tsx
  client/landing/jetpack-cloud/sections/backups/restore/error.tsx
  client/landing/jetpack-cloud/sections/backups/restore/finished.tsx
  client/landing/jetpack-cloud/sections/backups/restore/in-progress.tsx
  client/landing/jetpack-cloud/sections/backups/restore/index.jsx
  client/landing/jetpack-cloud/sections/backups/restore/index.tsx
  client/landing/jetpack-cloud/sections/backups/restore/queued.tsx
  client/state/activity-log/actions.js
  client/state/selectors/get-requested-rewind.js
  client/state/selectors/get-restore-progress.js
  client/state/selectors/get-rewind-state.js
Labels: Jetpack Cloud, [Size] M, [Status] Needs Review

#39937 Jetpack Cloud: Add header and paragraph content for the Scan Threats page
  client/landing/jetpack-cloud/sections/scan/main.jsx
Labels: Jetpack Cloud, [Status] Ready to Merge

#39656 [Customer Home]: Make Customer Home the default landing page for logged-in users
  client/root.js
Labels: Reader, [Status] Needs Review, [Status] Needs e2e Testing

#39896 Add missing warnings component for the new domain status screen
  client/my-sites/domains/domain-management/edit/domain-types/registered-domain-type.jsx
Labels: Domains, [Status] Needs Review

#39895 Update the new domain status messages for non-owners
  client/my-sites/domains/domain-management/edit/domain-types/registered-domain-type.jsx
  client/my-sites/domains/domain-management/edit/style.scss
Labels: Domains

#39892 Fix some minor issues in cart/checkout
  client/lib/cart-values/index.js
  client/lib/checkout/validation.js
  client/my-sites/checkout/checkout/redirect-payment-box.jsx
Labels: Checkout, [Status] Needs Review

#39893 Old checkout: fix layout in non-standard payment methods
  client/my-sites/checkout/checkout/style.scss
Labels: Checkout, [Status] Needs Review, [Type] Bug

#39691 Concierge banner: Fix prop warning shown in console
  client/me/purchases/concierge-banner/index.jsx
  client/me/purchases/purchases-list/index.jsx
Labels: Concierge, [Status] Needs Review

#39950 Update/gutenboarding replace back button with w logo
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/gutenboard.tsx
Labels: OSS Citizen, [Goal] Gutenboarding, [Status] Needs Review

#39868 Types: Fix bad type
  client/lib/media/actions.js
Labels: Build, [Status] Ready to Merge

#39959 Gutenboarding: Use color variables, remove unused styles
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/components/header/style.scss
Labels: Design, [Goal] Gutenboarding, [Status] Ready to Merge, [Type] Janitorial, [Type] Task

#39643 Revert "Images: Restore static image"
  static/images/illustrations/fireworks.svg
Labels: [Status] Blocked / Hold

#39909 Domains: Add warning for domain primary change on plan cancellation
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/plan-details/index.jsx
  client/me/purchases/non-primary-domain-dialog/index.jsx
  client/me/purchases/non-primary-domain-dialog/style.scss
  client/me/purchases/remove-purchase/index.jsx
Labels: Domains, [Status] Needs Review

#39962 CI: Remove tsc caching from circleci
  .circleci/config.yml
Labels: Build, [Type] Defect, [Type] Janitorial

#39724 Modularise themes actions
  client/state/themes/actions.js
  client/state/themes/actions/accept-auto-loading-homepage-warning.js
  client/state/themes/actions/activate-theme.js
  client/state/themes/actions/activate.js
  client/state/themes/actions/clear-activated.js
  client/state/themes/actions/clear-theme-upload.js
  client/state/themes/actions/confirm-delete.js
  client/state/themes/actions/delete-theme.js
  client/state/themes/actions/hide-auto-loading-homepage-warning.js
  client/state/themes/actions/hide-theme-preview.js
  client/state/themes/actions/index.js
  client/state/themes/actions/install-and-activate-theme.js
  client/state/themes/actions/install-and-try-and-customize-theme.js
  client/state/themes/actions/install-theme.js
  client/state/themes/actions/receive-theme.js
  client/state/themes/actions/receive-themes.js
  client/state/themes/actions/recommended-themes.js
  client/state/themes/actions/request-active-theme.js
  client/state/themes/actions/request-theme-filters.js
  client/state/themes/actions/request-theme.js
  client/state/themes/actions/request-themes.js
  client/state/themes/actions/set-back-path.js
  client/state/themes/actions/set-theme-preview-options.js
  client/state/themes/actions/show-auto-loading-homepage-warning.js
  client/state/themes/actions/show-theme-preview.js
  client/state/themes/actions/suffix-theme-id-for-install.js
  client/state/themes/actions/theme-activated.js
  client/state/themes/actions/theme-request-failure.js
  client/state/themes/actions/theme-transfer.js
  client/state/themes/actions/try-and-customize-theme.js
  client/state/themes/actions/try-and-customize.js
  client/state/themes/actions/upload-theme.js
Labels: State, Themes, [Status] Needs Review, [Type] Janitorial

#39742 Split up posts stats
  client/state/posts/stats/index.js
  client/state/posts/stats/record-editor-event.js
  client/state/posts/stats/record-editor-stat.js
  client/state/posts/stats/record-save-event.js
Labels: Posts, State, [Status] Needs Review, [Type] Janitorial

#39938 Sidebar: Move site notices above promotions/upsells
  client/my-sites/current-site/index.jsx
  client/my-sites/current-site/notice.jsx
Labels: Sidebar, [Status] Needs Review

#39766 State: Move themes action types out
  client/my-sites/themes/test/logged-out.jsx
  client/state/action-types.js
  client/state/automated-transfer/reducer.js
  client/state/data-layer/wpcom/theme-filters/index.js
  client/state/notices/middleware.js
  client/state/sites/reducer.js
  client/state/sites/test/reducer.js
  client/state/themes/action-types.js
  client/state/themes/actions/accept-auto-loading-homepage-warning.js
  client/state/themes/actions/activate-theme.js
  client/state/themes/actions/clear-activated.js
  client/state/themes/actions/clear-theme-upload.js
  client/state/themes/actions/delete-theme.js
  client/state/themes/actions/hide-auto-loading-homepage-warning.js
  client/state/themes/actions/hide-theme-preview.js
  client/state/themes/actions/install-theme.js
  client/state/themes/actions/receive-themes.js
  client/state/themes/actions/recommended-themes.js
  client/state/themes/actions/request-active-theme.js
  client/state/themes/actions/request-theme-filters.js
  client/state/themes/actions/request-theme.js
  client/state/themes/actions/request-themes.js
  client/state/themes/actions/set-back-path.js
  client/state/themes/actions/set-theme-preview-options.js
  client/state/themes/actions/show-auto-loading-homepage-warning.js
  client/state/themes/actions/show-theme-preview.js
  client/state/themes/actions/theme-activated.js
  client/state/themes/actions/theme-request-failure.js
  client/state/themes/actions/theme-transfer.js
  client/state/themes/actions/upload-theme.js
  client/state/themes/reducer.js
  client/state/themes/test/actions.js
  client/state/themes/test/reducer.js
  client/state/themes/themes-ui/actions.js
  client/state/themes/themes-ui/reducer.js
  client/state/themes/themes-ui/test/actions.js
  client/state/themes/themes-ui/test/reducer.js
  client/state/themes/upload-theme/reducer.js
  client/state/themes/upload-theme/test/reducer.js
  client/state/ui/action-log/reducer.js
  client/state/ui/theme-setup/actions.js
  client/state/ui/theme-setup/reducers.js
Labels: State, Themes, [Status] Needs Review

#39958 Enable the new domain status design feature flag on production
  config/production.json
  config/wpcalypso.json
Labels: Domains, [Status] Needs Review

#39974 Enable the new domain status feature flag on staging too
  config/stage.json
Labels: Domains, [Status] Ready to Merge

#39732 Modularise posts actions
  client/state/posts/actions.js
  client/state/posts/actions/add-term-for-post.js
  client/state/posts/actions/autosave.js
  client/state/posts/actions/delete-post-metadata.js
  client/state/posts/actions/delete-post.js
  client/state/posts/actions/edit-post.js
  client/state/posts/actions/index.js
  client/state/posts/actions/receive-post.js
  client/state/posts/actions/receive-posts.js
  client/state/posts/actions/request-all-sites-posts.js
  client/state/posts/actions/request-posts.js
  client/state/posts/actions/request-site-post.js
  client/state/posts/actions/request-site-posts.js
  client/state/posts/actions/restore-post.js
  client/state/posts/actions/save-edited.js
  client/state/posts/actions/save-post-success.js
  client/state/posts/actions/save-post.js
  client/state/posts/actions/start-editing-existing-post.js
  client/state/posts/actions/start-editing-post-copy.js
  client/state/posts/actions/trash-post.js
  client/state/posts/actions/update-post-metadata.js
  client/state/posts/utils/index.js
  client/state/posts/utils/normalize-post-for-actions.js
Labels: Posts, State, [Status] Needs Review, [Type] Janitorial

#39945 Plans: Revert page view defer after it dropped stats significantly
  client/my-sites/plans/main.jsx
Labels: Jetpack, Plans, [Status] Needs Review

#39941 Checkout: add contextual help links
  client/blocks/inline-help/contextual-help.js
  client/blocks/inline-help/popover.jsx
Labels: Checkout, [Status] Needs Review

#39977 My Home: Show Quick Links in two columns for all screens > 480px
  client/my-sites/customer-home/style.scss
Labels: Customer Home, [Status] Needs Review

#39984 Correct spelling and capitalization of Media Library
  client/layout/guided-tours/tours/media-basics-tour/index.js
Labels: Media, [Status] Ready to Merge, [Status] String Freeze

#39490 Jetpack: Remove canManage and remoteManagementUrl
  client/jetpack-connect/test/__snapshots__/plans.js.snap
  client/jetpack-connect/test/lib/plans.js
  client/my-sites/jetpack-manage-error-page/README.md
  client/my-sites/jetpack-manage-error-page/index.jsx
  client/my-sites/plugins/jetpack-plugins-setup/index.jsx
  client/my-sites/plugins/jetpack-plugins-setup/style.scss
  client/my-sites/plugins/main.jsx
  client/my-sites/plugins/plugin-item/README.md
  client/my-sites/plugins/plugin-item/plugin-item.jsx
  client/my-sites/plugins/plugin-site-disabled-manage/README.md
  client/my-sites/plugins/plugin-site-disabled-manage/index.jsx
  client/my-sites/plugins/plugin-site-disabled-manage/style.scss
  client/my-sites/plugins/plugin-site-jetpack/index.jsx
  client/my-sites/plugins/plugin-site-jetpack/style.scss
  client/my-sites/plugins/plugin-site-network/index.jsx
  client/my-sites/plugins/plugin-site-network/style.scss
  client/my-sites/plugins/plugin.jsx
  client/my-sites/plugins/plugins-browser/index.jsx
  client/my-sites/plugins/plugins-list/index.jsx
  client/my-sites/site-settings/settings-security/main.jsx
  client/my-sites/themes/jetpack-manage-disabled-message.jsx
  client/my-sites/themes/single-site-jetpack.jsx
  client/state/selectors/get-selected-or-all-sites-jetpack-can-manage.js
  client/state/selectors/test/get-selected-or-all-sites-jetpack-can-manage.js
  client/state/sites/selectors/can-jetpack-site-manage.js
  client/state/sites/selectors/get-jetpack-computed-attributes.js
  client/state/sites/selectors/get-jetpack-site-remote-management-url.js
  client/state/sites/selectors/index.js
  client/state/sites/test/selectors.js
  client/state/themes/selectors/get-theme-details-url.js
  client/state/themes/test/selectors.js
Labels: Jetpack, Sites, State, [Status] Needs Review, [Tests] Includes Tests, [Type] Janitorial

#39995 Themes: do not display search counts, until counts are correct
  client/my-sites/themes/themes-selection.jsx
Labels: Themes, [Status] Needs Review

#39961 [Private media files] Support media library preview modal
  client/my-sites/media-library/media-image.tsx
  client/my-sites/media-library/proxied-image.tsx
  client/post-editor/media-modal/detail/detail-preview-image.jsx
Labels: Atomic, Media, Private by Default, [Status] Needs Review

#39968 [Private media files] Use <MediaImage /> component to display post thumbnails
  client/my-sites/post-type-list/post-thumbnail.jsx
Labels: Atomic, Private by Default, [Status] Needs Review

#39889 Add/gutenboarding login page
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/onboarding-block/login-form/index.tsx
  client/landing/gutenboarding/onboarding-block/login-form/style.scss
  client/landing/gutenboarding/path.ts
  client/landing/gutenboarding/stores/auth/index.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review, [Type] Feature progress

#39821 Gutenboarding: auth store sends login email when use logs in with passwordless account
  packages/data-stores/src/auth/actions.ts
  packages/data-stores/src/auth/controls.ts
  packages/data-stores/src/auth/reducer.ts
  packages/data-stores/src/auth/test/flows.ts
  packages/data-stores/src/auth/types.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#39822 Tools: New package 'effective-module-tree'
  package-lock.json
  package.json
  packages/effective-module-tree/.eslintrc.js
  packages/effective-module-tree/README.md
  packages/effective-module-tree/cli.js
  packages/effective-module-tree/index.js
  packages/effective-module-tree/jest.config.js
  packages/effective-module-tree/package.json
  packages/effective-module-tree/test/test.js
Labels: [Status] Needs Review

#39994 Components: Fix popover menu item hover colors
  client/components/popover/style.scss
Labels: Components, [Status] Ready to Merge, [Type] Bug

#39965 Allow gutenBerg opt-in "button" to be displayed when the user just op…
  client/state/data-layer/wpcom/sites/gutenberg/index.js
Labels: [Status] Needs Review

#39668 Split out a few things in lib/signup/step-actions
  client/lib/signup/step-actions/fetch-sites-and-user.js
  client/lib/signup/step-actions/index.js
  client/lib/signup/step-actions/passwordless.js
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/checkout/checkout/test/checkout.js
  client/signup/steps/passwordless/index.jsx
Labels: Performance, [Status] Needs Review, [Type] Janitorial

#39949 Expand "Manage" menu section if plans/emails or plan/email tabs are s…
  client/layout/sidebar/item.jsx
Labels: OSS Citizen, Sidebar, [Status] Needs Review

#39928 Gutenboarding: New Acquire Intent design
  client/landing/gutenboarding/mixins.scss
  client/landing/gutenboarding/onboarding-block/acquire-intent.tsx
  client/landing/gutenboarding/onboarding-block/animated-placeholder/index.tsx
  client/landing/gutenboarding/onboarding-block/animated-placeholder/style.scss
  client/landing/gutenboarding/onboarding-block/colors.scss
  client/landing/gutenboarding/onboarding-block/create-site/index.tsx
  client/landing/gutenboarding/onboarding-block/create-site/style.scss
  client/landing/gutenboarding/onboarding-block/design.tsx
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/onboarding-block/question/index.tsx
  client/landing/gutenboarding/onboarding-block/question/style.scss
  client/landing/gutenboarding/onboarding-block/site-title.tsx
  client/landing/gutenboarding/onboarding-block/style.scss
  client/landing/gutenboarding/onboarding-block/vertical-background.tsx
  client/landing/gutenboarding/onboarding-block/vertical-select/index.tsx
  client/landing/gutenboarding/onboarding-block/vertical-select/style.scss
  client/landing/gutenboarding/style.scss
  packages/components/src/suggestions/README.md
  packages/components/src/suggestions/index.jsx
  packages/components/src/suggestions/style.scss
Labels: [Goal] Gutenberg, [Goal] Gutenboarding, [Status] Needs Review

#39377 Media: Update to use Redux instead of validation Flux store
  client/components/tinymce/plugins/media/drop-zone.jsx
  client/extensions/woocommerce/components/product-image-uploader/index.js
  client/lib/media/actions.js
  client/lib/media/store.js
  client/my-sites/media-library/index.jsx
  client/my-sites/media-library/test/index.jsx
  client/post-editor/editor-html-toolbar/index.jsx
Labels: Media, State, [Status] Needs Review, [Tests] Includes Tests, [Type] Enhancement

#39888 Bump w.js version to 61.
  apps/notifications/src/index.ejs
  apps/notifications/src/standalone/root.html
  packages/calypso-analytics/src/tracks.ts
Labels: Analytics, [Status] Needs Review

#39872 Create the History section of JP Scan
  client/assets/stylesheets/_calypso-color-scheme-jetpack-cloud.scss
  client/landing/jetpack-cloud/components/log-item/index.tsx
  client/landing/jetpack-cloud/components/scan-history-item/index.jsx
  client/landing/jetpack-cloud/components/scan-history-item/style.scss
  client/landing/jetpack-cloud/routes.js
  client/landing/jetpack-cloud/sections/scan/history/index.jsx
  client/landing/jetpack-cloud/sections/scan/history/style.scss
Labels: Jetpack Cloud, [Status] Ready to Merge

#40014 Site Activity: adds contextual popover menu item to add site credentials
  client/my-sites/activity/activity-log-item/index.jsx
Labels: Activity Log, Jetpack, Rewind, [Status] Needs Review, [Type] Enhancement

#39515 Add webauthn support for the two step re-auth dialog
  client/lib/two-step-authorization/index.js
  client/me/reauth-required/index.jsx
  client/me/reauth-required/security-key-form.jsx
  client/me/reauth-required/security-key-form.scss
  client/me/reauth-required/style.scss
  client/me/reauth-required/two-factor-actions.jsx
  client/me/reauth-required/two-factor-actions.scss
Labels: [Status] Needs Review

#40020 FSE: add filter for enabling Dotcom editor nux
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
Labels: [Status] Needs Review

#39985 Fixes footer to bottom of window
  client/assets/stylesheets/jetpack-cloud.scss
  client/landing/jetpack-cloud/components/stats-footer/style.scss
  client/landing/jetpack-cloud/sections/scan/main.jsx
  client/landing/jetpack-cloud/sections/scan/style.scss
Labels: Jetpack Cloud, [Status] Ready to Merge, [Type] Feature progress

#39999 Downgrade react-stripe-elements in composite-checkout
  packages/composite-checkout/package.json
Labels: [Status] Ready to Merge

#40025 FSE: release version 0.23
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/readme.txt
  apps/full-site-editing/package.json
Labels: [Status] Needs Review

#40000 Try/functional open menu manage section if domains or email tabs are selected
  client/layout/sidebar/item.jsx
Labels: OSS Citizen, Sidebar, [Status] Needs Review

#39992 Auth store logs into remote services
  packages/data-stores/src/auth/actions.ts
  packages/data-stores/src/auth/controls.ts
  packages/data-stores/src/auth/test/actions.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#39924 Gutenboarding: auth store can reload proxy after login
  packages/data-stores/src/auth/README.md
  packages/data-stores/src/auth/controls.ts
  packages/data-stores/src/auth/index.ts
  packages/data-stores/src/auth/test/controls.ts
  packages/data-stores/src/auth/test/flows.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#39378 Media: Remove validation store and related data component
  client/components/data/media-validation-data/README.md
  client/components/data/media-validation-data/index.jsx
  client/lib/media/test/validation-store.js
  client/lib/media/validation-store.js
Labels: Media, State, [Status] Needs Review, [Type] Janitorial

#39616 [Private media files] Use API proxy for private atomic sites
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/media-library/list-item-image.jsx
  client/my-sites/media-library/media-image.tsx
  client/my-sites/media-library/proxied-image.tsx
  client/post-editor/media-modal/detail/detail-preview-image.jsx
  client/state/data-layer/wpcom-http/index.js
Labels: Atomic, Media, Private by Default, [Status] Needs Review

#40048 Add a custom error message for a compromised account.
  client/state/login/utils.js
Labels: Login, State, [Status] Ready to Merge

#38474 Use ProductIcon from @automattic/components instead of internal components
  client/blocks/plan-thank-you-card/index.jsx
  client/blocks/upgrade-nudge-expanded/index.jsx
  client/components/banner/index.jsx
  client/components/banner/style.scss
  client/components/plans/plan-icon/README.md
  client/components/plans/plan-icon/index.jsx
  client/components/plans/plan-icon/style.scss
  client/components/plans/plan-icon/test/test.jsx
  client/components/product-icon/README.md
  client/components/product-icon/docs/example.jsx
  client/components/product-icon/index.jsx
  client/components/product-icon/style.scss
  client/components/product-icon/test/test.jsx
  client/lib/products-values/index.js
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/style.scss
  client/me/purchases/purchase-item/index.jsx
  client/me/purchases/purchase-item/style.scss
  client/my-sites/plan-features/header.jsx
  client/my-sites/plans/current-plan/my-plan-card/index.jsx
Labels: Blocks, Components, Packages, [Status] Needs Jetpack e2e Testing, [Status] Needs e2e Testing, [Status] Ready to Merge, [Type] Enhancement

#39901 Gutenboarding: Update the domains picker to make domain upgrades available
  client/landing/gutenboarding/components/confirm-purchase-modal/index.tsx
  client/landing/gutenboarding/components/confirm-purchase-modal/style.scss
  client/landing/gutenboarding/components/domain-picker-button/index.tsx
  client/landing/gutenboarding/components/domain-picker/index.tsx
  client/landing/gutenboarding/components/domain-picker/style.scss
  client/landing/gutenboarding/components/header/index.tsx
Labels: [Goal] Gutenberg, [Goal] Gutenboarding, [Status] Needs Review, [Status] Ready to Merge

#40021 Jetpack Cloud: Improve BackupDelta component for realtime backups
  client/landing/jetpack-cloud/components/backup-delta/index.jsx
  client/landing/jetpack-cloud/components/backup-delta/style.scss
  client/landing/jetpack-cloud/sections/backups/main.jsx
Labels: Jetpack Cloud, [Status] Needs Review

#39960 Build: Clean tsbuildinfo files on package clean
  packages/calypso-analytics/package.json
  packages/components/package.json
  packages/composite-checkout-wpcom/package.json
  packages/data-stores/package.json
  packages/media-library/package.json
  packages/react-i18n/package.json
Labels: Build, [Type] Bug, [Type] Janitorial

#39926 Stopping Premium bump offer for Personal plan customers
  client/my-sites/checkout/checkout/composite-checkout-thank-you.ts
  client/my-sites/checkout/checkout/index.jsx
Labels: [Status] Needs Review, [Status] Needs e2e Testing, [Team] MarTech

#40019 Add jetpack backup to be remote purchased
  client/jetpack-connect/controller.js
  client/jetpack-connect/index.js
Labels: Checkout, Jetpack, [Status] Needs Review

#39973 [Private media files] Support SiteIcon
  client/blocks/site-icon/index.jsx
  client/my-sites/media-library/media-image.tsx
  client/my-sites/media-library/proxied-image.tsx
Labels: Atomic, Private by Default, [Status] Needs Review

#39971 [Private media files] Support woocommerce extension
  client/extensions/woocommerce/app/product-categories/form.js
  client/extensions/woocommerce/app/products/product-form-images.js
  client/extensions/woocommerce/app/products/product-form-variations-row.js
  client/extensions/woocommerce/components/image-thumb/index.js
Labels: Atomic, Private by Default, Store, [Status] Needs Review

#40056 Fix failing tests for the premium bump offer
  client/my-sites/checkout/checkout/test/composite-checkout-thank-you.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#40038 Update text on migration progress screen
  client/my-sites/migrate/section-migrate.jsx
Labels: WP Migration

#39944 SPT: Accommodate Varia styles
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/block-iframe-preview.js
Labels: [Goal] Page Templates, [Status] Needs Review, [Team] AJAX, [Type] Bug

#40026 UpsellNudge: Remove A/B test and update instances in favor of the variant
  client/blocks/jitm/templates/sidebar-banner.jsx
  client/lib/abtest/active-tests.js
  client/my-sites/current-site/notice.jsx
  client/reader/sidebar/reader-sidebar-nudges/index.jsx
Labels: [Status] Needs Review

#40033 Use Jetpack-themed email login form for Jetpack social login failures
  client/blocks/login/index.jsx
  client/blocks/login/login-form.jsx
Labels: Jetpack, [Status] Needs Review, [Type] Bug

#40035 Gutenberg: Add tracking for error notices
  apps/wpcom-block-editor/src/wpcom/features/tracking.js
Labels: [Team] Cylon, [Type] Enhancement

#40051 Fix: Post checkout upsell not shown + eCommerce site not setup in the new checkout flow
  client/my-sites/checkout/checkout/checkout-system-decider.js
Labels: Checklist, Post Checkout, [Status] Needs Review

#39972 Gutenboarding: new design selector step
  client/landing/gutenboarding/onboarding-block/design-selector/available-designs.json
  client/landing/gutenboarding/onboarding-block/design-selector/design-card.tsx
  client/landing/gutenboarding/onboarding-block/design-selector/index.tsx
  client/landing/gutenboarding/onboarding-block/design-selector/page-layout-selector.tsx
  client/landing/gutenboarding/onboarding-block/design-selector/style.scss
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  client/landing/gutenboarding/stores/onboard/types.ts
  client/tsconfig.json
Labels: [Goal] Gutenberg, [Goal] Gutenboarding, [Status] Needs Review
