Repository Automattic/wp-calypso, pull requests merged in 2020-10, with the labels that each got.

#46036 Remove the isSectionIsomorphic selector
  client/boot/common.js
  client/controller/index.node.js
  client/controller/index.web.js
  client/controller/shared.js
  client/landing/login/common.js
  client/login/index.node.js
  client/login/index.web.js
  client/server/isomorphic-routing/index.js
  client/server/render/index.js
  client/server/render/test/index.js
  client/state/ui/selectors/index.js
  client/state/ui/selectors/is-section-isomorphic.js
  client/state/ui/test/selectors.js
Labels: Framework, [Status] Needs Review

#46034 Update/remove coming soon option
  client/my-sites/site-settings/form-general.jsx
  client/my-sites/site-settings/test/form-general.jsx
Labels: Coming Soon, [Status] Needs Review

#46080 Media: fix runtime TypeError when navigating to page with null selected site
  client/my-sites/media/main.jsx
Labels: Media, [Status] Needs Review, [Type] Bug

#46050 Avoid multiple selected menu items
  client/my-sites/sidebar-unified/index.jsx
  client/my-sites/sidebar-unified/item.jsx
  client/my-sites/sidebar-unified/menu.jsx
  client/my-sites/sidebar-unified/style.scss
Labels: [Status] Needs Review, nav-unification

#46064 Delete disabled tests
  client/components/sites-dropdown/test/index.js
  client/extensions/woocommerce/state/data-layer/ui/products/test/index.js
  client/lib/signup/test/flow-controller.js
  client/state/happychat/selectors/test/get-groups.js
  desktop/e2e/tests/e2e.js
  packages/wpcom.js/test/test.wpcom.site.follow.js
  packages/wpcom.js/test/test.wpcom.site.js
  packages/wpcom.js/test/test.wpcom.site.wpcom-plugin.js
  test/e2e/specs-i18n/search-wordpress-on-google.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-connect-spec.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-plans-spec.js
  test/e2e/specs/wp-calypso-gutenberg-page-editor-spec.js
  test/e2e/specs/wp-comments-spec.js
  test/e2e/specs/wp-invite-users-spec.js
  test/e2e/specs/wp-manage-domains-spec.js
  test/e2e/specs/wp-media-upload-spec.js
  test/e2e/specs/wp-page-editor-spec.js
  test/e2e/specs/wp-post-editor-spec.js
  test/e2e/specs/wp-signup-spec.js
  test/e2e/specs/wp-view-site-spec.js
Labels: Expedited Review, [Status] Needs Review

#46035 Use masterbar height var instead of explicit values
  apps/notifications/style.scss
  client/assets/stylesheets/_nav-unification.scss
  client/assets/stylesheets/shared/_variables.scss
  client/blocks/reader-full-post/style.scss
  client/components/back-button/style.scss
  client/components/global-notices/style.scss
  client/components/tinymce/style.scss
  client/extensions/woocommerce/components/action-header/style.scss
  client/extensions/woocommerce/style.scss
  client/layout/masterbar/style.scss
  client/layout/style.scss
  client/lib/directly/style.scss
  client/me/happychat/style.scss
  client/my-sites/plans-v2/plans-filter-bar/style.scss
  client/post-editor/editor-sidebar/style.scss
  client/reader/search-stream/style.scss
  packages/components/src/dialog/style.scss
Labels: Navigation, [Status] Needs Review, nav-unification

#46076 Coming Soon: update Gutenboarding coming soon flag
  client/landing/gutenboarding/hooks/use-selected-plan.ts
  client/landing/gutenboarding/stores/onboard/actions.ts
Labels: Coming Soon, [Goal] Gutenboarding, [Status] Needs Review

#46088 i18n: Add form encoding to GlotPress postRequest method
  client/lib/i18n-utils/glotpress.js
Labels: Translator, [Status] Needs Review, [Type] Enhancement, i18n

#46092 Components: Use FormTextarea for TranslatableTextarea
  client/components/community-translator/translatable-textarea.jsx
Labels: Components, Translator, [Status] Needs Review, [Type] Enhancement

#46048 Nav Unification: Me section routing
  client/layout/masterbar/logged-in.jsx
Labels: Navigation, [Status] Needs Review, nav-unification

#46046 Nav unification: add flyout menu to sidebar
  client/assets/stylesheets/_nav-unification.scss
  client/my-sites/sidebar-unified/style.scss
Labels: [Status] Needs Review, nav-unification

#46068 Purchases: update upcoming renewal link
  client/me/purchases/manage-purchase/notices.jsx
  client/me/purchases/upcoming-renewals/upcoming-renewals-dialog.tsx
Labels: [Status] Ready to Merge

#46060 Reenable WeChat as a payment method
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
Labels: Checkout, [Status] Ready to Merge

#46042 Email: Display domains with Titan when managing email
  client/lib/titan/has-titan-mail-with-us.js
  client/my-sites/email/email-management/gsuite-users-card/index.jsx
  client/my-sites/email/email-management/index.jsx
  client/my-sites/email/email-management/titan-control-panel-login-card/index.jsx
  client/my-sites/email/email-management/titan-control-panel-login-card/style.scss
Labels: G Suite, [Status] Ready to Merge

#46074 Fix/purchases mobile navigation
  client/my-sites/purchases/main.tsx
  client/my-sites/purchases/subscriptions/index.tsx
Labels: Billing, [Status] Ready to Merge

#45986 Gutenberg: 9.1 e2e tests
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing Gutenberg Edge

#45998 E2E: Keep viewport size when switching to new window
  test/e2e/lib/driver-helper.js
  test/e2e/specs/wp-calypso-gutenberg-editor-tracking-spec.js
Labels: [Status] Needs Review

#46101 Prevent unnecessary DOM updates when toggling duration the Plans page
  client/my-sites/plans-v2/plans-column/index.tsx
  client/my-sites/plans-v2/products-column/index.tsx
  client/my-sites/plans-v2/utils.ts
Labels: Jetpack, Plans, [Status] Needs Review

#46052 Track missing events in WordPress.com, Jetpack Connect and Cloud's Pricing page
  client/components/jetpack/card/jetpack-free-card/index.tsx
  client/components/jetpack/card/jetpack-product-card/features.tsx
  client/components/jetpack/card/jetpack-product-card/index.tsx
  client/my-sites/plans-v2/details.tsx
  client/my-sites/plans-v2/product-card/index.tsx
  client/my-sites/plans-v2/selector.tsx
  client/my-sites/plans-v2/types.ts
  client/my-sites/plans-v2/upsell.tsx
Labels: Analytics, Jetpack, Jetpack Cloud, Plans, [Status] Needs Review

#46103 e2e: Schedule gutenberg edge tests
  .circleci/config.yml
Labels: [Status] Needs Review

#46099 Jetpack Cloud: Make Backup and Scan unavailable for multi-sites
  client/my-sites/backup/controller.js
  client/my-sites/backup/index.js
  client/my-sites/scan/controller.js
  client/my-sites/scan/index.js
Labels: Jetpack Cloud, [Status] Needs Review

#45927 Notifications: Adding parsing of heading elements to web notifications
  apps/notifications/src/panel/boot/stylesheets/main.scss
  apps/notifications/src/panel/indices-to-html/index.js
  apps/notifications/style.scss
Labels: Notifications, [Status] Needs Review

#46071 Site level billing: Only load site-level purchases
  client/components/data/query-site-purchases/index.jsx
  client/my-sites/purchases/subscriptions/index.tsx
  client/my-sites/purchases/subscriptions/subscriptions-content.tsx
Labels: Billing, [Status] Needs Review

#46022 Checkout: Add calypso_checkout_composite_plan_length_change event and use it (1)
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/record-analytics.js
Labels: Analytics, Checkout, [Status] Ready to Merge

#43933 FSE: When switching to an auto loading homepage theme, ensure Edit Homepage link opens up the page layout picker in Atomic / Jetpack sites
  client/my-sites/themes/thanks-modal.jsx
  client/state/themes/actions/activate.js
Labels: Themes, [Status] Needs Review

#46069 Site level billing management: Update links to add/edit card route
  client/blocks/credit-card-form/loading-placeholder.jsx
  client/me/purchases/components/loading-placeholder/index.jsx
  client/me/purchases/controller.jsx
  client/me/purchases/manage-purchase/auto-renew-toggle/index.jsx
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/manage-purchase/notices.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
  client/me/purchases/payment/add-card-details/index.jsx
  client/me/purchases/payment/edit-card-details/index.jsx
  client/my-sites/purchases/controller.js
  client/my-sites/purchases/index.js
  client/my-sites/purchases/main.tsx
  client/my-sites/purchases/paths.ts
  client/my-sites/purchases/utils.js
Labels: Billing, [Status] Needs Review

#46072 Purchase: update remove product base url
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/remove-purchase/index.jsx
Labels: Billing, [Status] Ready to Merge

#45950 Add coming soon page to new sites
  apps/editing-toolkit/editing-toolkit-plugin/coming-soon/coming-soon.php
Labels: Coming Soon, [Status] In Progress, [Status] Needs Review

#45892 Coming soon: add coming soon page selector
  client/my-sites/pages/page-card-info/index.jsx
  client/my-sites/pages/page/index.js
  client/state/data-layer/wpcom/sites/homepage/index.js
  client/state/pages/selectors.js
  client/state/sites/constants.js
  client/state/sites/reducer.js
  client/state/sites/selectors/get-coming-soon-page-id.js
  client/state/sites/selectors/index.js
  client/state/sites/selectors/is-coming-soon-mode-active.js
Labels: Coming Soon, [Status] Needs Review

#46115 Minor support changes
  client/me/help/help-contact/index.jsx
  client/my-sites/checkout/composite-checkout/components/wp-checkout-order-summary.js
  client/state/selectors/get-support-level.js
Labels: [Status] Needs Review

#45929 Remove white glove references in code
  client/my-sites/checkout/upsell-nudge/white-glove/index.jsx
  client/my-sites/checkout/upsell-nudge/white-glove/style.scss
Labels: Post Checkout, [Status] Needs Review

#46058 Jetpack Cloud: Add new credentials form
  client/jetpack-cloud/sections/settings/advanced-credentials/credentials-form/index.tsx
  client/jetpack-cloud/sections/settings/advanced-credentials/credentials-form/inline-info.tsx
  client/jetpack-cloud/sections/settings/advanced-credentials/credentials-form/style.scss
  client/jetpack-cloud/sections/settings/advanced-credentials/host-info.ts
  client/jetpack-cloud/sections/settings/advanced-credentials/host-selection/index.tsx
  client/jetpack-cloud/sections/settings/advanced-credentials/index.tsx
  client/jetpack-cloud/sections/settings/advanced-credentials/style.scss
  client/jetpack-cloud/sections/settings/advanced-credentials/verification/index.tsx
  client/jetpack-cloud/sections/settings/style.scss
  client/jetpack-cloud/sections/settings/top/index.tsx
  client/jetpack-cloud/sections/settings/utils.ts
Labels: Jetpack Cloud, [Status] In Progress

#46003 Add vertical space above the first content block when the page title is hidden
  apps/editing-toolkit/editing-toolkit-plugin/common/index.scss
Labels: Blocks, Editor, [Goal] Full Site Editing, [Status] Needs e2e Testing, [Status] Ready to Merge

#46087 Components: Use FormTextarea in TextareaAutosize
  client/components/forms/form-textarea/index.jsx
  client/components/textarea-autosize/index.jsx
Labels: Components, [Status] Needs Review, [Type] Enhancement

#46082 Eliminate moment locales from server build
  client/components/localized-moment/README.md
  client/components/localized-moment/context.js
  client/components/localized-moment/index.js
  client/components/localized-moment/provider.js
  client/components/localized-moment/test/index.js
  client/controller/index.web.js
  client/lib/react-helpers/index.js
  client/webpack.config.desktop.js
  client/webpack.config.node.js
Labels: Build, [Status] Needs Review

#46096 Components: Update FormToggle to use FormLabel
  client/components/forms/form-toggle/index.jsx
  client/components/forms/form-toggle/style.scss
Labels: Components, [Status] Needs Review, [Type] Enhancement

#46062 Blocks: Remove unused ECommerceManageNudge
  client/blocks/ecommerce-manage-nudge/actions.js
  client/blocks/ecommerce-manage-nudge/index.js
  client/blocks/ecommerce-manage-nudge/selectors.js
  client/blocks/ecommerce-manage-nudge/style.scss
Labels: Components, [Status] Needs Review, [Type] Janitorial

#46098 Stats: Remove unused StatsInfoPanel component
  client/my-sites/stats/info-panel/index.jsx
Labels: Stats, [Status] Needs Review, [Type] Janitorial

#46033 Add premium domain tracking
  client/components/domains/domain-registration-suggestion/index.jsx
  client/my-sites/domains/domain-search/index.jsx
  client/signup/steps/domains/index.jsx
  client/state/domains/actions.js
Labels: Domains, [Status] Ready to Merge

#46100 babel-plugin-transform-wpcalypso-async: add ignore option that removes async-loaded modules from build
  babel.config.js
  client/components/async-load/index.jsx
  packages/babel-plugin-transform-wpcalypso-async/README.md
  packages/babel-plugin-transform-wpcalypso-async/index.js
  packages/babel-plugin-transform-wpcalypso-async/test/index.js
Labels: Build, [Status] Needs Review

#46097 Settings: Fix date/time format input styles
  client/my-sites/site-settings/date-time-format/style.scss
Labels: Site Settings, [Status] Needs Review, [Type] Bug

#46038 Remove username test: Re-launch test for plan-specific flows
  client/blocks/signup-form/index.jsx
  client/lib/abtest/active-tests.js
Labels: [Status] Needs Review

#46054 Updating thank you page with Earn links.
  client/my-sites/checkout/checkout-thank-you/business-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/personal-plan-details.jsx
  client/my-sites/checkout/checkout-thank-you/premium-plan-details.jsx
Labels: [Status] Needs Review

#45590 Tracking: add a global handler to track embed variations
  apps/wpcom-block-editor/src/wpcom/features/tracking.js
Labels: [Status] Needs Review

#46123 Uses framework function for external redirect
  client/my-sites/sidebar-unified/menu.jsx
Labels: [Status] Needs Review, nav-unification

#45553 WPCOM Block Editor: Remove the switch-to-classic feature
  apps/wpcom-block-editor/README.md
  apps/wpcom-block-editor/src/default/editor.js
  apps/wpcom-block-editor/src/default/features/switch-to-classic.js
Labels: [Status] Needs Review

#46116 Purchases: Remove site level billing flag
  client/me/purchases/index.js
  client/my-sites/purchases/index.js
  client/my-sites/sidebar/index.jsx
  config/development.json
  config/horizon.json
  test/e2e/lib/components/sidebar-component.js
  test/e2e/lib/driver-helper.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#45794 [GBonWPCOM e2e tests i0] Add assertion for blocks in the frontend (published) page for edge/non-edge, add @parallel tag
  test/e2e/lib/driver-manager.js
  test/e2e/lib/gutenberg/blocks/blog-posts-block-component.js
  test/e2e/lib/gutenberg/blocks/contact-form-block-component.js
  test/e2e/lib/gutenberg/blocks/contact-info-block-component.js
  test/e2e/lib/gutenberg/blocks/dynamic-separator-block-component.js
  test/e2e/lib/gutenberg/blocks/gallery-masonry-block-component.js
  test/e2e/lib/gutenberg/blocks/layout-grid-block-component.js
  test/e2e/lib/gutenberg/blocks/rating-star-block-component.js
  test/e2e/lib/gutenberg/blocks/slideshow-block-component.js
  test/e2e/lib/gutenberg/blocks/subscriptions-block-component.js
  test/e2e/lib/gutenberg/blocks/tiled-gallery-block-component.js
  test/e2e/lib/gutenberg/blocks/youtube-block-component.js
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/lib/media-helper.js
  test/e2e/lib/mocha-hooks.js
  test/e2e/specs/wp-calypso-gutenberg-upgrade-spec.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing Gutenberg Edge

#45686 Editor Deprecation: Remove deprecation group state
  client/gutenberg/editor/calypsoify-iframe.tsx
  client/post-editor/controller.js
  client/post-editor/editor-deprecation-dialog/index.jsx
  client/post-editor/editor-deprecation-dialog/style.scss
  client/post-editor/editor-gutenberg-dialogs/index.tsx
  client/post-editor/post-editor.jsx
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/gutenberg/index.js
  client/state/editor-deprecation-group/init.js
  client/state/editor-deprecation-group/package.json
  client/state/editor-deprecation-group/reducer.js
  client/state/editor-deprecation-group/selectors/in-editor-deprecation-group.js
  client/state/editor-deprecation-group/test/reducer.js
  client/state/selectors/is-editor-deprecation-dialog-showing.js
  client/state/ui/editor-deprecation-dialog/actions.js
  client/state/ui/editor-deprecation-dialog/reducer.js
  client/state/ui/editor-deprecation-dialog/test/actions.js
  client/state/ui/editor-deprecation-dialog/test/reducer.js
  client/state/ui/reducer.js
  test/e2e/lib/pages/editor-page.js
Labels: [Status] Ready to Merge

#46129 Purchases: unset isLoading and set hasLoaded when an error occurs
  client/my-sites/purchases/subscriptions/subscriptions-content.tsx
  client/state/purchases/reducer.js
Labels: [Status] Needs Review

#46131 Hide plan nav from non site owners or admins (1)
  client/my-sites/sidebar/index.jsx
Labels: [Status] Needs Review

#46112 Fix: don't show Jetpack Search upsell to Jetpack Complete owners
  client/lib/plans/index.js
  client/my-sites/site-settings/search.jsx
Labels: Jetpack, Jetpack Search, [Status] Needs Review, [Type] Bug

#46125 Premium Content: Fix logged-out view button alignment
  apps/editing-toolkit/editing-toolkit-plugin/premium-content/editor.css
  apps/editing-toolkit/editing-toolkit-plugin/premium-content/style.css
Labels: Premium Content, [Status] Needs Review

#46121 Comments: Use FormTextarea for all comment content fields
  client/blocks/comments/form-textarea.jsx
  client/my-sites/comments/comment/comment-html-editor/index.jsx
  client/my-sites/comments/comment/comment-reply.jsx
Labels: Comments, Components, [Status] Needs Review, [Type] Enhancement

#46122 Components: Update SelectDropdown to use FormLabel
  client/components/select-dropdown/label.jsx
  client/components/select-dropdown/style.scss
Labels: Components, [Status] Needs Review, [Type] Enhancement

#45994 Earn: Change the referral link to the localized version
  client/my-sites/earn/home.tsx
  client/my-sites/earn/refer-a-friend/index.tsx
Labels: [Status] Needs Review

#46090 Wrap up the plans-domains-swap A/B test
  client/components/domains/domain-product-price/index.jsx
  client/components/domains/domain-registration-suggestion/index.jsx
  client/components/domains/domain-search-results/index.jsx
  client/components/domains/domain-suggestion/index.jsx
  client/components/domains/featured-domain-suggestions/index.jsx
  client/components/domains/register-domain-step/index.jsx
  client/lib/abtest/active-tests.js
  client/lib/signup/step-actions/index.js
  client/signup/config/flows-pure.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/config/steps.js
  client/signup/controller.js
  client/signup/steps/domains/index.jsx
  client/signup/steps/upsell/form.jsx
  client/signup/steps/upsell/index.jsx
  client/signup/steps/upsell/style.scss
  client/signup/steps/user/index.jsx
  client/signup/utils.js
Labels: Signup, [Status] Needs Review, [Status] Needs e2e Testing

#46083 Disable CircleCI for internal PRs
  .circleci/config.yml
Labels: [Status] Needs Review

#46081 Fix all lint errors reported by `eslint-plugin-jest`
  .eslintrc.js
  client/extensions/woocommerce/state/sites/shipping-classes/test/reducers.js
  client/extensions/woocommerce/woocommerce-services/state/packages/test/reducer.js
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/test/reducer.js
  client/lib/happychat/test/index.js
  client/server/api/integration/index.js
  client/state/account-recovery/settings/test/utils/index.js
  client/state/atomic-transfer/test/actions.js
  client/state/data-layer/test/utils.js
  client/state/data-layer/wpcom/read/tags/mine/new/test/index.js
  client/state/preferences/test/actions.js
  client/state/reader/posts/test/actions.js
  client/state/selectors/test/is-plugin-active.js
  client/state/sharing/publicize/test/actions.js
  packages/wpcom.js/test/test.wpcom.site.media.js
  packages/wpcom.js/test/test.wpcom.site.post.subscriber.js
Labels: [Status] Needs Review

#46107 Unify the premium domain color
  client/components/domains/premium-badge/style.scss
  client/my-sites/domains/domain-management/edit/style.scss
  client/my-sites/domains/domain-management/list/style.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_contrast.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_default.scss
Labels: Domains, [Status] Needs Review

#46149 Move eslint to a separate build
  .teamcity/settings.kts
Labels: Expedited Review, [Status] Needs Review

#44058 Components: Add an illustration guide to /devdocs
  client/devdocs/controller.js
  client/devdocs/design/illustrations.jsx
  client/devdocs/index.js
  client/devdocs/sidebar.jsx
  client/devdocs/style.scss
Labels: [Status] Needs Review, [Type] Janitorial

#46151 Gutenboarding: Add fieldset styles to signup form.
  client/landing/gutenboarding/components/signup-form/index.tsx
  client/landing/gutenboarding/components/signup-form/style.scss
Labels: [Goal] Gutenboarding, [Status] Needs Review

#46104 Add products to the checkout URL in Jetpack cloud
  client/my-sites/plans-v2/utils.ts
Labels: Jetpack Cloud, [Status] Needs Review

#45928 Checkout: Remove "onInitialize" arguments from useShoppingCartManager
  client/lib/cart-values/types.ts
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/composite-checkout/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/hooks/product-variants.js
  client/my-sites/checkout/composite-checkout/hooks/use-add-products-from-url.ts
  client/my-sites/checkout/composite-checkout/hooks/use-coupon-field-state.ts
  client/my-sites/checkout/composite-checkout/hooks/use-detected-country-code.ts
  client/my-sites/checkout/composite-checkout/hooks/use-effect-on-change.ts
  client/my-sites/checkout/composite-checkout/hooks/use-is-cached-contact-form-valid.js
  client/my-sites/checkout/composite-checkout/hooks/use-prepare-products-for-cart.ts
  client/my-sites/checkout/composite-checkout/hooks/use-record-cart-loaded.ts
  client/my-sites/checkout/composite-checkout/hooks/use-record-checkout-loaded.ts
  client/my-sites/checkout/composite-checkout/hooks/use-redirect-if-cart-empty.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/index.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/types.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/use-cart-update-and-revalidate.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/use-initialize-cart-from-server.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/use-shopping-cart-reducer.ts
  client/my-sites/checkout/composite-checkout/hooks/wpcom-store.ts
  client/my-sites/checkout/composite-checkout/test/composite-checkout-thank-you.js
  client/my-sites/checkout/composite-checkout/test/composite-checkout.js
  client/my-sites/checkout/composite-checkout/test/shopping-cart-endpoint.js
  client/my-sites/checkout/composite-checkout/types/backend/shopping-cart-endpoint.ts
  client/my-sites/checkout/composite-checkout/types/stored-cards.ts
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
  client/my-sites/checkout/controller.jsx
  client/state/current-user/selectors.js
Labels: Checkout, [Status] Ready to Merge

#36811 Show SMS option when an account is using the SMS for 2fa
  client/me/reauth-required/index.jsx
  client/me/security-2fa-code-prompt/index.jsx
Labels: [Status] Needs Review

#46128 Notifications: adding support for rendering line breaks
  apps/notifications/src/panel/indices-to-html/index.js
Labels: Notifications, [Status] Needs Review

#46124 Checkout: Update loading placeholder
  client/my-sites/checkout/composite-checkout/components/wp-checkout.js
  packages/composite-checkout/src/components/loading-content.tsx
Labels: Checkout, [Status] Needs Review

#46159 Checkout: Remove "onInitialize" arguments from useShoppingCartManager, take 2
  client/lib/cart-values/types.ts
  client/my-sites/checkout/checkout-system-decider.js
  client/my-sites/checkout/composite-checkout/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/hooks/product-variants.js
  client/my-sites/checkout/composite-checkout/hooks/use-add-products-from-url.ts
  client/my-sites/checkout/composite-checkout/hooks/use-coupon-field-state.ts
  client/my-sites/checkout/composite-checkout/hooks/use-detected-country-code.ts
  client/my-sites/checkout/composite-checkout/hooks/use-effect-on-change.ts
  client/my-sites/checkout/composite-checkout/hooks/use-prepare-products-for-cart.ts
  client/my-sites/checkout/composite-checkout/hooks/use-record-cart-loaded.ts
  client/my-sites/checkout/composite-checkout/hooks/use-record-checkout-loaded.ts
  client/my-sites/checkout/composite-checkout/hooks/use-redirect-if-cart-empty.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/index.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/types.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/use-cart-update-and-revalidate.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/use-initialize-cart-from-server.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/use-shopping-cart-reducer.ts
  client/my-sites/checkout/composite-checkout/hooks/wpcom-store.ts
  client/my-sites/checkout/composite-checkout/test/composite-checkout-thank-you.js
  client/my-sites/checkout/composite-checkout/test/composite-checkout.js
  client/my-sites/checkout/composite-checkout/test/shopping-cart-endpoint.js
  client/my-sites/checkout/composite-checkout/types/backend/shopping-cart-endpoint.ts
  client/my-sites/checkout/composite-checkout/types/stored-cards.ts
  client/my-sites/checkout/composite-checkout/use-get-thank-you-url.js
  client/my-sites/checkout/controller.jsx
  client/state/current-user/selectors.js
Labels: Checkout, [Status] Ready to Merge

#46153 e2e: Print out when a test is skipped and Fix all tests showing passed
  test/e2e/lib/reporter/magellan-reporter.js
  test/e2e/specs/wp-calypso-gutenberg-upgrade-spec.js
Labels: [Status] Needs Review

#46138 Notifications: Support more elements and styling from block editor customizations
  apps/notifications/src/panel/indices-to-html/index.js
  apps/notifications/style.scss
Labels: Block Rendering, Notifications, [Status] Needs Review

#46142 Remove use_patterns flag on template/demo endpoint for Gutenboarding preview
  client/landing/gutenboarding/onboarding-block/style-preview/preview.tsx
Labels: [Status] Needs Review, [Type] Janitorial

#46168 Coming Soon: Remove old coming-soon copy now that translations are complete
  client/blocks/eligibility-warnings/has-localized-text.js
  client/blocks/eligibility-warnings/hold-list.tsx
  client/blocks/eligibility-warnings/index.tsx
  client/blocks/eligibility-warnings/warning-list.tsx
  client/my-sites/site-settings/form-general.jsx
Labels: Coming Soon, [Status] Needs Review, [Type] Janitorial

#46178 Revert "Coming Soon: Remove old coming-soon copy now that translations are complete"
  client/blocks/eligibility-warnings/has-localized-text.js
  client/blocks/eligibility-warnings/hold-list.tsx
  client/blocks/eligibility-warnings/index.tsx
  client/blocks/eligibility-warnings/warning-list.tsx
  client/my-sites/site-settings/form-general.jsx
Labels: [Status] Needs Review

#46180 Coming Soon: Remove old coming-soon copy now that translations are complete
  client/blocks/eligibility-warnings/has-localized-text.js
  client/blocks/eligibility-warnings/hold-list.tsx
  client/blocks/eligibility-warnings/index.tsx
  client/blocks/eligibility-warnings/warning-list.tsx
  client/my-sites/site-settings/form-general.jsx
Labels: Coming Soon, [Status] Needs Review, [Type] Janitorial

#46147 Components: Use textarea components everywhere
  apps/notifications/src/panel/templates/comment-reply-input.jsx
  client/blocks/user-mentions/README.md
  client/blocks/user-mentions/docs/example-input.jsx
  client/components/happychat/composer.jsx
  client/components/happychat/test/composer.jsx
  client/components/tinymce/index.jsx
  client/components/tinymce/plugins/wpcom-view/views/contact-form/preview-fields.jsx
  client/devdocs/design/wordpress-components-gallery/base-control.tsx
  client/extensions/woocommerce/app/reviews/review-reply-create.js
  client/extensions/woocommerce/app/reviews/review-reply.js
  client/extensions/woocommerce/components/compact-tinymce/index.js
Labels: Components, Editor, Extensions, [Status] Needs Review, [Type] Enhancement

#46179 Add/coming soon editable page to all sites
  apps/editing-toolkit/editing-toolkit-plugin/coming-soon/coming-soon-page-template.json
  apps/editing-toolkit/editing-toolkit-plugin/coming-soon/coming-soon-page-template.php
  apps/editing-toolkit/editing-toolkit-plugin/coming-soon/coming-soon.php
Labels: Coming Soon, [Status] Needs Review

#46150 Post Editor: Use FormLabel instead of <label />
  client/post-editor/edit-post-status/index.jsx
  client/post-editor/edit-post-status/style.scss
  client/post-editor/editor-discussion/index.jsx
  client/post-editor/editor-drawer/label.jsx
  client/post-editor/editor-drawer/label.scss
  client/post-editor/editor-fieldset/style.scss
  client/post-editor/editor-page-order/index.jsx
  client/post-editor/editor-page-order/style.scss
  client/post-editor/editor-page-parent/style.scss
  client/post-editor/editor-sharing/accordion.jsx
  client/post-editor/editor-sharing/publicize-connection.jsx
  client/post-editor/editor-sharing/sharing-like-options.jsx
  client/post-editor/editor-sharing/style.scss
  client/post-editor/media-modal/gallery-help.jsx
Labels: Components, Editor, [Status] Needs Review, [Type] Enhancement

#46154 Extensions: Use FormLabel in WooCommerce
  client/extensions/woocommerce/app/order/order-details/table.js
  client/extensions/woocommerce/app/order/order-payment/style.scss
  client/extensions/woocommerce/app/order/order-payment/table.js
  client/extensions/woocommerce/app/order/style.scss
  client/extensions/woocommerce/app/settings/shipping/shipping-zone/shipping-zone-location-dialog-countries.js
  client/extensions/woocommerce/app/settings/shipping/shipping-zone/shipping-zone-location-dialog-settings.js
  client/extensions/woocommerce/app/settings/shipping/shipping-zone/style.scss
  client/extensions/woocommerce/components/text-control/index.js
  client/extensions/woocommerce/woocommerce-services/views/packages/predefined-packages.js
  client/extensions/woocommerce/woocommerce-services/views/service-settings/shipping-services/entry.js
Labels: Components, Extensions, [Status] Needs Review, [Type] Enhancement

#46184 Drop field `hostname` in server logs
  client/server/lib/logger/index.js
  client/server/lib/logger/test/index.js
Labels: Expedited Review, [Status] Needs Review

#46189 LanguagePickerModal: make countryCode a connected prop instead of passing from parent
  client/components/language-picker/index.jsx
  client/components/language-picker/modal.jsx
Labels: [Status] Needs Review, i18n

#46183 [GB upgrade e2e] Fix after block race condition
  test/e2e/specs/wp-calypso-gutenberg-upgrade-spec.js
Labels: [Status] Needs e2e Testing Gutenberg Edge, [Status] Ready to Merge

#46047 Build: write the assets-*.json files to the build/ directory
  bin/loader-stats.js
  client/server/middleware/assets.js
  client/server/pages/test/index.js
  client/webpack.config.js
  desktop/electron-builder.json
Labels: Build, [Status] Needs Review

#46133 Layout: AsyncLoad GdprBanner in LayoutLoggedOut
  client/layout/logged-out.jsx
Labels: Framework, Performance, [Status] Needs Review

#46148 Fix/cleanup logs
  client/package.json
  client/server/middleware/logger.js
  client/server/middleware/test/logger.js
  yarn.lock
Labels: Expedited Review, [Status] Needs Review

#46193 http-data: fix the default implementation of fromApi
  client/state/data-layer/http-data.ts
Labels: Data, [Status] Needs Review, [Type] Janitorial

#46152 E2E: Move themed sites' names to config
  test/e2e/config/encrypted.enc
  test/e2e/specs/wp-calypso-gutenberg-upgrade-spec.js
Labels: [Status] Needs e2e Testing Gutenberg Edge, [Status] Ready to Merge

#46194 Cleanup package.json part 1: build packages exactly once
  bin/install-if-deps-outdated.js
  package.json
Labels: [Status] Needs Review

#46135 Use context-driven taglines for products and plans
  client/lib/plans/plans-list.js
  client/lib/plans/types.ts
  client/lib/products-values/get-jetpack-product-tagline.js
  client/lib/products-values/test/index.js
  client/lib/products-values/translations.js
  client/my-sites/plans/current-plan/purchases-listing.jsx
Labels: Jetpack, Plans, [Status] Needs Review

#46201 Signup: Fix padding around domain search field
  client/components/domains/register-domain-step/style.scss
Labels: Expedited Review, Signup, [Status] Needs Review, [Type] Bug

#46065 Scan: Suppress loading placeholder when a Scan is in progress
  client/my-sites/scan/main.tsx
Labels: Jetpack Cloud, [Status] Needs Review

#46161 Settings: re-enable premium themes upsell and update its copy
  client/my-sites/themes/single-site-jetpack.jsx
Labels: Jetpack, [Status] Needs Review

#46163 Settings: update Jetpack Search upsell copy and target
  client/my-sites/site-settings/search.jsx
Labels: Jetpack, [Status] Needs Review

#46164 Add Jetpack backup-simplified-screens Feature Flag.
  client/components/jetpack/daily-backup-status/index.jsx
  config/development.json
  config/horizon.json
  config/jetpack-cloud-development.json
  config/jetpack-cloud-horizon.json
  config/jetpack-cloud-production.json
  config/jetpack-cloud-stage.json
  config/production.json
  config/stage.json
Labels: Jetpack, Jetpack Cloud, [Status] Needs Review

#46176 Site level billing: Fix missing `cardId` prop in site-level EditCardDetails
  client/my-sites/purchases/main.tsx
Labels: [Status] Needs Review

#46207 Fix/Remove feature flag text.
  client/components/jetpack/daily-backup-status/index.jsx
Labels: [Status] Needs Review

#46208 Fix site setup checklist styles not applying
  client/my-sites/customer-home/cards/tasks/site-setup-list/style.scss
Labels: [Status] Needs Review, [Type] Bug

#45795 [GBonWPCOM e2e tests i0] Setup and fill-in the Layout Grid block with some sample inner blocks
  test/e2e/lib/gutenberg/blocks/layout-grid-block-component.js
  test/e2e/specs/wp-calypso-gutenberg-upgrade-spec.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing Gutenberg Edge

#46198 chore(deps): Upgrade TypeScript
  package.json
  packages/calypso-build/package.json
  yarn.lock
Labels: Build, Expedited Review, Maintenance, [Status] Needs Review, [Status] Ready to Merge

#46173 Add banner that prompts user to enable restores
  client/my-sites/backup/main.jsx
  client/my-sites/backup/style.scss
Labels: Jetpack Backup, Jetpack Cloud, [Status] Needs Review

#46162 Update Backup pending screen design and copy
  client/components/jetpack/daily-backup-status/status-card/icons/cloud-pending.svg
  client/components/jetpack/daily-backup-status/status-card/no-backups-yet.jsx
  client/components/jetpack/daily-backup-status/status-card/style.scss
Labels: Jetpack Backup, Jetpack Cloud, [Status] Needs Review

#46130 Jetpack Cloud: Update New Credentials Route & Style
  client/jetpack-cloud/sections/settings/advanced-credentials/credentials-form/index.tsx
  client/jetpack-cloud/sections/settings/advanced-credentials/credentials-form/inline-info.tsx
  client/jetpack-cloud/sections/settings/advanced-credentials/credentials-form/style.scss
  client/jetpack-cloud/sections/settings/advanced-credentials/form.ts
  client/jetpack-cloud/sections/settings/advanced-credentials/host-info.ts
  client/jetpack-cloud/sections/settings/advanced-credentials/host-selection/index.tsx
  client/jetpack-cloud/sections/settings/advanced-credentials/host-selection/style.scss
  client/jetpack-cloud/sections/settings/advanced-credentials/index.tsx
  client/jetpack-cloud/sections/settings/advanced-credentials/verification/index.tsx
  client/jetpack-cloud/sections/settings/controller.tsx
Labels: Jetpack Cloud, [Status] In Progress

#46213 Revert "Layout: AsyncLoad GdprBanner in LayoutLoggedOut"
  client/layout/logged-out.jsx
  client/my-sites/customer-home/cards/tasks/site-setup-list/style.scss
Labels: [Status] Needs Review

#46171 Only omit year from post date when published within a year
  client/my-sites/post-relative-time-status/index.jsx
Labels: [Status] Needs Review

#46160 Settings: re-enable video hosting upsell and update its copy
  client/my-sites/plans-v2/utils.ts
  client/my-sites/site-settings/media-settings-performance.jsx
Labels: Jetpack, [Status] Needs Review

#46134 Update: GA upsell banner for Jetpack Security.
  client/my-sites/site-settings/form-analytics.jsx
  client/my-sites/site-settings/test/form-analytics.jsx
Labels: Jetpack, Marketing, [Status] Needs Review

#46187 Enable coming soon v2 for /start site functionality
  client/lib/signup/step-actions/index.js
  client/lib/signup/test/step-actions.js
  client/state/selectors/get-new-site-coming-soon-setting.ts
  client/state/selectors/get-new-site-public-setting.ts
  client/state/selectors/should-new-site-be-private-by-default.ts
  client/state/selectors/test/get-new-site-public-setting.js
  client/state/selectors/test/should-new-site-be-private-by-default.js
Labels: Coming Soon, [Status] Needs Review

#46119 Make Coming Soon option always show regardless of v1/v2
  client/my-sites/site-settings/form-general.jsx
  client/my-sites/site-settings/test/form-general.jsx
Labels: Coming Soon, [Status] Needs Review

#46200 Rename version to appVersion
  client/server/middleware/logger.js
  client/server/middleware/test/logger.js
Labels: Expedited Review, [Status] Needs Review

#46191 Lint all files in the default branch
  .teamcity/settings.kts
Labels: Expedited Review, TeamCity, [Status] Needs Review

#46229 Fix eslint job in TeamCity
  .teamcity/settings.kts
Labels: Expedited Review, [Status] Needs Review

#46231 Checkout: Editor checkout modal.
  apps/wpcom-block-editor/src/calypso/features/iframe-bridge-server.js
  client/blocks/editor-checkout-modal/index.tsx
  client/blocks/editor-checkout-modal/style.scss
  client/gutenberg/editor/calypsoify-iframe.tsx
  config/development.json
Labels: Checkout, [Status] Needs Review

#46145 Devdocs: extract JSDoc info from selector sources at build time
  bin/generate-devdocs-selectors-index.js
  client/package.json
  client/server/devdocs/index.js
  client/server/devdocs/selectors/index.js
  package.json
Labels: Build, [Status] Needs Review

#46218 chore(deps): Upgrade @typescript-eslint/*
  .eslintrc.js
  package.json
  yarn.lock
Labels: Expedited Review, [Status] Needs Review

#46214 Payments: Remove unused notice code
  client/my-sites/earn/memberships/index.jsx
Labels: [Status] Needs Review

#45269 Remove Unused Illustrations
  static/images/illustrations/advertisingRemoved.svg
  static/images/illustrations/anti-spam.svg
  static/images/illustrations/branding.svg
  static/images/illustrations/business-address.svg
  static/images/illustrations/checkEmailsDesktop.svg
  static/images/illustrations/checkEmailsPhone.svg
  static/images/illustrations/contact-us.svg
  static/images/illustrations/email.svg
  static/images/illustrations/expert.svg
  static/images/illustrations/gauge.svg
  static/images/illustrations/google-adwords-stats.svg
  static/images/illustrations/homepage-news.svg
  static/images/illustrations/homepage-static.svg
  static/images/illustrations/illustration-write.svg
  static/images/illustrations/jetpack-business-address.svg
  static/images/illustrations/jetpack-header.svg
  static/images/illustrations/jetpack-security.svg
  static/images/illustrations/jetpack-spam.svg
  static/images/illustrations/jetpack-start.svg
  static/images/illustrations/jetpack-stats.svg
  static/images/illustrations/migrating-host-assisted.svg
  static/images/illustrations/plugins-big.svg
  static/images/illustrations/plugins-small.svg
  static/images/illustrations/site-title.svg
  static/images/illustrations/speed.svg
  static/images/illustrations/upsell-enable.svg
  static/images/illustrations/upsell-payments.svg
  static/images/illustrations/video-hosting-13G.svg
  static/images/illustrations/video-hosting-unlimited.svg
  static/images/illustrations/videoAudioPosts.svg
  static/images/illustrations/waitTime.svg
Labels: OSS Citizen, [Status] Needs Review, [Type] Janitorial

#46167 Jetpack Backup, Jetpack Scan: Show correct experience for VaultPress sites
  client/components/jetpack/has-vaultpress-switch/index.tsx
  client/components/jetpack/has-vaultpress-switch/test/index.js
  client/components/jetpack/render-switch/index.tsx
  client/components/jetpack/render-switch/test/index.js
  client/my-sites/backup/controller.js
  client/my-sites/backup/index.js
  client/my-sites/scan/controller.js
  client/my-sites/scan/index.js
Labels: Jetpack Backup, Jetpack Cloud, Jetpack Scan, [Status] Needs Review

#45796 [GBonWPCOM e2e tests i0] Setup and fill-in the Contact Info block with sample data
  test/e2e/lib/gutenberg/blocks/contact-info-block-component.js
  test/e2e/lib/gutenberg/blocks/layout-grid-block-component.js
  test/e2e/specs/wp-calypso-gutenberg-upgrade-spec.js
Labels: [Status] Needs e2e Testing Gutenberg Edge, [Status] Ready to Merge

#46175 Site level billing: Add billing history page
  client/me/billing-history/billing-history-table.jsx
  client/me/billing-history/main.jsx
  client/me/billing-history/style.scss
  client/me/billing-history/transactions-header.jsx
  client/me/billing-history/transactions-table.jsx
  client/my-sites/purchases/controller.js
  client/my-sites/purchases/index.js
  client/my-sites/purchases/main.tsx
  client/state/selectors/get-billing-transaction-app-filter-values.js
  client/state/selectors/get-billing-transaction-date-filter-values.js
  client/state/selectors/get-filtered-billing-transactions.js
Labels: Billing, [Status] Needs Review

#45797 [GBonWPCOM e2e tests i0] Setup and fill-in the Youtube core embed block with a sample video
  test/e2e/lib/gutenberg/blocks/youtube-block-component.js
  test/e2e/specs/wp-calypso-gutenberg-upgrade-spec.js
Labels: [Status] Needs e2e Testing Gutenberg Edge, [Status] Ready to Merge

#43052 Themes: Display Nudge for WP.org Themes for Non-Business Sites
  client/my-sites/theme/main.jsx
Labels: OSS Citizen, Themes, [Type] Enhancement

#46136 Checkout: Remove "variant" concept from cart manager
  client/lib/cart-values/index.js
  client/my-sites/checkout/composite-checkout/add-items.ts
  client/my-sites/checkout/composite-checkout/components/item-variation-picker.tsx
  client/my-sites/checkout/composite-checkout/components/secondary-cart-promotions.tsx
  client/my-sites/checkout/composite-checkout/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/hooks/use-add-products-from-url.ts
  client/my-sites/checkout/composite-checkout/hooks/use-prepare-products-for-cart.ts
  client/my-sites/checkout/composite-checkout/hooks/use-record-cart-loaded.ts
  client/my-sites/checkout/composite-checkout/hooks/use-record-checkout-loaded.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/cart-functions.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/index.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/shopping-cart-endpoint.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/types.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/use-cart-update-and-revalidate.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/use-initialize-cart-from-server.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/use-shopping-cart-reducer.ts
  client/my-sites/checkout/composite-checkout/lib/translate-cart.ts
  client/my-sites/checkout/composite-checkout/test/shopping-cart-endpoint.js
Labels: Checkout, [Status] Needs e2e Testing, [Status] Ready to Merge

#46166 Marketing: re-enable SEO upsell and update its copy
  client/my-sites/site-settings/seo-settings/form.jsx
  client/my-sites/site-settings/seo-settings/test/form.jsx
Labels: Jetpack, [Status] Needs Review

#45798 [GBonWPCOM e2e tests i0] Resize the Dynamic HR in the editor
  test/e2e/lib/gutenberg/blocks/dynamic-separator-block-component.js
  test/e2e/specs/wp-calypso-gutenberg-upgrade-spec.js
Labels: [Status] Needs e2e Testing Gutenberg Edge, [Status] Ready to Merge

#45799 [GBonWPCOM e2e tests i0] Setup and fill-in the Slidehow and Gallery Masonry block with sample images
  test/e2e/lib/gutenberg/blocks/gallery-masonry-block-component.js
  test/e2e/lib/gutenberg/blocks/slideshow-block-component.js
  test/e2e/lib/gutenberg/blocks/tiled-gallery-block-component.js
  test/e2e/specs/wp-calypso-gutenberg-upgrade-spec.js
Labels: [Status] Needs e2e Testing Gutenberg Edge, [Status] Ready to Merge

#46228 Coming Soon v2: roll back page selector
  client/my-sites/pages/page-card-info/index.jsx
  client/my-sites/pages/page/index.js
  client/state/data-layer/wpcom/sites/homepage/index.js
  client/state/pages/selectors.js
  client/state/sites/constants.js
  client/state/sites/selectors/get-coming-soon-page-id.js
  client/state/sites/selectors/index.js
  client/state/sites/selectors/is-coming-soon-mode-active.js
Labels: Coming Soon, [Status] Needs Review

#46257 Revert "Drop field `hostname` in server logs"
  client/server/lib/logger/index.js
  client/server/lib/logger/test/index.js
Labels: Expedited Review, [Status] Needs Review

#46190 Jetpack Product Install: simplify the requestPluginKeys code
  client/my-sites/plans/current-plan/jetpack-product-install/index.tsx
  client/state/data-getters/wpcom/jetpack-blogs/keys/index.ts
Labels: [Status] Needs Review, [Type] Janitorial

#46235 http-data: rename the waitForData function and modify its API
  client/components/async-loader/README.md
  client/reader/controller.js
  client/signup/controller.js
  client/state/data-getters/index.js
  client/state/data-layer/http-data.ts
Labels: Data, [Status] Needs Review

#46247 Emails: Update features and pricing on email providers comparison page
  client/my-sites/email/email-providers-comparison/index.jsx
Labels: [Status] Needs Review

#46271 Trigger E2E tests for Gutenberg edge (v9.1.1)
  test/e2e/lib/gutenberg/gutenberg-editor-sidebar-component.js
Labels: [Status] Needs e2e Testing Gutenberg Edge

#46281 Plans: Add feature flag to facilitate work on a new product selector page
  client/my-sites/plans-v2/controller.tsx
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/jetpack-cloud-development.json
  config/jetpack-cloud-horizon.json
  config/jetpack-cloud-production.json
  config/jetpack-cloud-stage.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Plans, [Status] Needs Review

#46280 Email: Remove orphans in email provider features
  client/my-sites/email/email-providers-comparison/email-provider-details/email-provider-feature.jsx
Labels: [Status] Needs Review

#46056 Domains: Group mapping and transfers together to reduce confusion
  client/lib/domains/get-domain-type-text.js
  client/lib/domains/get-selection-domain.js
  client/my-sites/domains/domain-management/edit/navigation/enhanced.jsx
Labels: Domains, [Status] Needs Review

#46224 Site-level billing: Add receipt view
  client/me/billing-history/billing-history-table.jsx
  client/me/billing-history/main.jsx
  client/me/billing-history/receipt.jsx
  client/me/billing-history/transactions-header.jsx
  client/my-sites/purchases/billing-history/index.tsx
  client/my-sites/purchases/billing-history/use-redirect-to-history-page-on-invalid-transaction.tsx
  client/my-sites/purchases/billing-history/use-redirect-to-history-page-on-wrong-site-for-transaction.tsx
  client/my-sites/purchases/controller.js
  client/my-sites/purchases/index.js
  client/my-sites/purchases/main.tsx
  client/my-sites/purchases/paths.ts
  client/my-sites/purchases/utils.js
Labels: Billing, [Status] Ready to Merge

#46248 Checkout: Replace existing cart products when adding renewals from URL
  client/my-sites/checkout/composite-checkout/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/hooks/use-add-products-from-url.ts
  client/my-sites/checkout/composite-checkout/hooks/use-prepare-products-for-cart.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/cart-functions.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/index.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/types.ts
  client/my-sites/checkout/composite-checkout/hooks/use-shopping-cart-manager/use-shopping-cart-reducer.ts
Labels: Checkout, [Status] Needs Review

#46169 Composite-checkout: Remove "...UI" pattern for styled components
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/final-step/index.tsx
  apps/editing-toolkit/typings/fse/index.d.ts
  client/my-sites/checkout/composite-checkout/components/country-specific-payment-fields.ts
  client/my-sites/checkout/composite-checkout/components/field.js
  client/my-sites/checkout/composite-checkout/components/secondary-cart-promotions.tsx
  client/my-sites/checkout/composite-checkout/components/wp-checkout-order-summary.js
  client/my-sites/checkout/composite-checkout/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/contact-fields.js
  client/my-sites/checkout/composite-checkout/payment-methods/ebanx-tef.js
  client/my-sites/checkout/composite-checkout/payment-methods/id-wallet.js
  client/my-sites/checkout/composite-checkout/payment-methods/netbanking.js
  client/my-sites/checkout/composite-checkout/payment-methods/wechat.js
  packages/composite-checkout/README.md
  packages/composite-checkout/src/components/checkout-steps.tsx
  packages/composite-checkout/src/components/field.tsx
  packages/composite-checkout/src/components/loading-content.tsx
  packages/composite-checkout/src/components/order-review-line-items.tsx
  packages/composite-checkout/src/components/shared-icons.tsx
  packages/composite-checkout/src/lib/payment-methods/eps.js
  packages/composite-checkout/src/lib/payment-methods/giropay.js
  packages/composite-checkout/src/lib/payment-methods/ideal.js
  packages/composite-checkout/src/lib/payment-methods/sofort.js
  packages/composite-checkout/src/public-api.ts
Labels: Checkout, [Status] Ready to Merge

#46220 Jetpack Search: enable on all WP.com sites
  client/lib/products-values/constants.js
  client/lib/products-values/index.js
  client/lib/products-values/is-jetpack-search.js
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/remove-purchase/index.jsx
  client/my-sites/checkout/composite-checkout/add-items.ts
  client/my-sites/customize/panels.js
  client/my-sites/site-settings/search.jsx
  config/horizon.json
  config/wpcalypso.json
Labels: Jetpack Search, Purchases, Site Settings, [Status] Ready to Merge, [Type] Bug, [Type] Enhancement

#46079 Pattern Tracking: Tidy up pattern insertion tracking functions
  apps/wpcom-block-editor/src/wpcom/features/tracking.js
Labels: Patterns, Stats, [Status] Needs Review

#46227 Add fill and outline style to premium content login button
  apps/editing-toolkit/editing-toolkit-plugin/premium-content/blocks/login-button/index.js
Labels: [Status] Needs Review

#45926 Editing Toolkit: Load patterns from the rest API endpoint
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/class-block-patterns.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/audio-player.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/call-to-action-02.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/call-to-action-03.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/call-to-action-04.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/collage-gallery.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/coming-soon.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/contact-02.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/contact-03.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/contact-04.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/contact-05.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/contact.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/description-and-image.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/food-menu.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/heading-and-paragraph.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/heading-and-text-in-two-columns.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/headline-02.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/headline.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/hero-with-heading-subtitle-and-two-buttons.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/image-and-description.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/image-and-text-mosaic.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/image-and-text.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/images-02.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/images-with-titles.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/images.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/list-02.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/list.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/masonry-gallery.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/multi-column-text-with-headline.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/numbered-list.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/numbers.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/podcast-subscription.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/portraits-and-text.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/quote-02.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/quote-03.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/quote-04.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/quote.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/quotes-02.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/quotes.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/recent-posts-02.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/recent-posts.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/registration-form.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/subscription-02.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/subscription.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/three-columns-and-image.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/three-images-side-by-side.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/three-quotes.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/tiled-mosaic-gallery.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/two-column-text-and-image.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/two-images-and-quote.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/two-images-side-by-side.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/patterns/youtube-embed.php
Labels: Editing Toolkit, Patterns, [Status] Needs Review

#46287 Revert newspack blocks updates
  apps/editing-toolkit/editing-toolkit-plugin/newspack-blocks/index.php
  apps/editing-toolkit/package.json
  yarn.lock
Labels: Editing Toolkit

#46144 Reader: if an image URL can't be made safe, discard it before the post card type is chosen
  client/lib/post-normalizer/rule-keep-valid-images.js
  client/lib/post-normalizer/test/index.js
  client/lib/post-normalizer/test/mocks/lib/safe-image-url.js
  client/lib/safe-image-url/index.js
Labels: Reader, [Status] Ready to Merge

#46110 LanguagePicker: Record tracks event for search vs. non-search selection
  client/components/language-picker/modal.jsx
  client/components/language-picker/test/modal.js
Labels: Analytics, Components, [Status] Needs Review

#46222 Notifications: Relative Sizing for Header Elements
  apps/notifications/style.scss
Labels: Notifications, [Status] Needs Review

#46285 Fix NPS survey label class specificity
  client/blocks/nps-survey/style.scss
Labels: [Status] Needs Review, [Type] Bug

#46274 Components: Use FormLabel in CreditCardFormFields
  client/components/credit-card-form-fields/index.jsx
Labels: Components, [Status] Needs Review, [Type] Enhancement

#46262 Run builds for all branches, not for Pull Requests
  .teamcity/settings.kts
Labels: Expedited Review, TeamCity, [Status] Needs Review

#46192 Jetpack Cloud hosting selection: inline the requestHostingProviderGuess handler
  client/jetpack-cloud/sections/settings/advanced-credentials/host-selection/index.tsx
  client/state/data-getters/index.js
Labels: Jetpack Cloud, [Status] Needs Review, [Type] Janitorial

#46188 WeChat Payment Box: use the resetHttpData function
  client/my-sites/checkout/checkout/wechat-payment-box.jsx
Labels: Payment Methods, [Status] Needs Review
