Repository Automattic/wp-calypso, pull requests merged in 2020-02, with the labels that each got.

#39194 Create new @automattic/media-library package
  package-lock.json
  package.json
  packages/media-library/.eslintrc.js
  packages/media-library/.storybook/main.js
  packages/media-library/CHANGELOG.md
  packages/media-library/README.md
  packages/media-library/jest.config.js
  packages/media-library/package.json
  packages/media-library/src/index.ts
  packages/media-library/tsconfig.json
Labels: [Status] Needs Review

#39171 Domains: Add "Pick Custom Domain" link in domain management for WPCOM domains
  client/my-sites/domains/domain-management/edit/wpcom-domain.jsx
  client/my-sites/domains/paths.js
Labels: Domains, [Status] Ready to Merge

#39164 Domains: Allow cancellation of domain transfer ins on Atomic sites
  client/me/purchases/remove-purchase/index.jsx
Labels: Atomic, Domains, Purchases, [Status] Needs Review

#39156 Gutenboarding - add accessible focus
  client/landing/gutenboarding/index.tsx
  client/landing/gutenboarding/onboarding-block/design-selector/style.scss
Labels: Accessibility, [Goal] Gutenboarding, [Status] Needs Review

#39215 Site Importer: Simplify/unify duplicate logic in code
  client/my-sites/migrate/step-source-select.jsx
Labels: [Status] Needs Review, [Type] Janitorial

#38781 Prevent safari from prompting for storage
  client/lib/browser-storage/index.ts
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: Framework, [Status] Needs Review

#39217 Language Picker: fix localized names of languages
  client/components/data/query-language-names/index.jsx
  client/components/language-picker/index.jsx
  client/components/language-picker/modal.jsx
  client/components/language-picker/test/__snapshots__/modal.js.snap
Labels: [Status] Ready to Merge, [Type] Bug, i18n

#39206 Plans: Fix button text alignment on small screens
  client/components/purchase-detail/style.scss
Labels: [Status] Needs Review, [Type] Bug

#39120 SPTs: Add new templates and template organization
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/template-selector-item.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/styles/starter-page-templates-editor.scss
Labels: [Goal] Page Templates, [Status] Needs Review

#39157 FSE: Update styles to reference new changes in Gutenberg
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/blocks/template/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/editor/style.scss
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/plugins/editor-template-classes/index.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/styles/starter-page-templates-editor.scss
Labels: [Goal] Full Site Editing, [Goal] Page Templates, [Status] Needs Review, [Type] Bug

#39223 FSE: bump version to 0.19
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/readme.txt
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing

#39202 Updates favicons in all Jetpack Cloud
  config/jetpack-cloud-development.json
  config/jetpack-cloud-production.json
  config/jetpack-cloud-stage.json
  static/images/favicons/favicon-jetpack-cloud-development.ico
  static/images/favicons/favicon-jetpack-cloud-production.ico
  static/images/favicons/favicon-jetpack-cloud-staging.ico
Labels: Jetpack Cloud, [Status] Ready to Merge

#39219 Enable Safari IDB mitigation on production
  client/lib/browser-storage/index.ts
  config/production.json
Labels: Framework, [Status] Needs Review

#39228 Update ABtest README with more details about `datestamp`
  client/lib/abtest/README.md
Labels: Documentation

#38196 i18n: get the value of HTML lang attribute from a special translation string
  client/lib/i18n-utils/switch-locale.js
Labels: [Status] Needs Review, [Status] String Freeze, i18n

#39232 Devdocs: exclude node_modules from searched docs
  bin/generate-devdocs-search-index.js
Labels: DevDocs, [Status] Ready to Merge

#39233 Remove the muriel-style package
  client/package.json
  package-lock.json
  package.json
  packages/muriel-style/README.md
  packages/muriel-style/package.json
  packages/muriel-style/typography.scss
Labels: Packages, [Status] Ready to Merge

#39210 Gutenboarding: Route for page selection.
  client/landing/gutenboarding/onboarding-block/design-selector/index.tsx
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/steps.ts
Labels: [Goal] Gutenboarding, [Status] Ready to Merge

#39199 Domains: Replace the domain cancellation drop down with a regular control
  client/me/purchases/confirm-cancel-domain/index.jsx
  client/me/purchases/confirm-cancel-domain/style.scss
Labels: Domains, [Status] Needs Review

#39173 Build: Output types to dist/types
  .gitignore
  client/landing/gutenboarding/utils.ts
  packages/components/package.json
  packages/components/tsconfig.json
  packages/composite-checkout-wpcom/package.json
  packages/composite-checkout-wpcom/tsconfig.json
  packages/data-stores/package.json
  packages/data-stores/tsconfig-cjs.json
  packages/data-stores/tsconfig.json
Labels: Build, [Status] Ready to Merge, [Type] Janitorial, [Type] Task

#39159 Docker: Remove NODE_PATH
  Dockerfile
Labels: Build, [Status] Needs Review, [Type] Janitorial

#39163 Domains: Fix contact edit screen usability
  client/components/domains/contact-details-form-fields/style.scss
  client/my-sites/domains/domain-management/components/designated-agent-notice/style.scss
  client/my-sites/domains/domain-management/edit-contact-info/form-card.jsx
Labels: Domains, [Status] Ready to Merge

#39239 wpcom.js: make the webpack build output less chatty
  packages/wpcom.js/package.json
Labels: Build, Packages, [Status] Ready to Merge

#39106 ToS update: Add empty banner that retrieves legal updates data
  client/blocks/legal-updates-banner/index.js
  client/layout/index.jsx
  client/state/action-types.js
  client/state/data-layer/wpcom/legal/index.js
  client/state/legal/actions.js
  client/state/legal/reducer.js
  client/state/reducer.js
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: [Status] Needs Review

#39201 Layout: Add bottom padding to main content area to avoid inline help covering content
  client/layout/style.scss
Labels: [Status] Needs Review

#38809 Remove url and qs from login and boot entry.
  client/boot/common.js
  client/landing/login/common.js
Labels: Framework, [Type] Janitorial

#39208 Blog Posts Block: Disable for CLI and plugin activation
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Team] AJAX, [Type] Defect

#39250 Update/safari idb mitigation
  client/lib/browser-storage/index.ts
  client/lib/memoize-last/index.ts
  client/lib/memoize-last/test/index.js
Labels: Framework

#39234 Added `@babel/runtime` as a dependency of `@automattic/components`
  packages/components/CHANGELOG.md
  packages/components/package.json
Labels: Packages, [Status] Ready to Merge

#39237 Customer Home: Atomic Sites are not eligible for checklist until full support is added
  client/state/selectors/is-eligible-for-dotcom-checklist.js
  client/state/selectors/test/is-eligible-for-dotcom-checklist.js
Labels: Customer Home, [Status] Needs Review

#39275 G Suite: Enable customers with Atomic Sites to self-cancel their G Suite account
  client/me/purchases/remove-purchase/index.jsx
Labels: G Suite, [Status] Ready to Merge

#39273 G Suite: Change the G Suite Settings link title to Email Settings and the link URL to the corresponding page
  client/lib/gsuite/index.js
  client/me/purchases/product-link/index.jsx
Labels: G Suite, [Status] Ready to Merge

#38850 Add Deliverable Mode to Community Translator
  client/layout/community-translator/launcher.jsx
  client/layout/community-translator/style.scss
  client/lib/translator-jumpstart/index.js
Labels: [Status] In Progress, i18n

#39262 Gutenboarding - pressing 'Enter' on site-title to advance flow.
  client/landing/gutenboarding/onboarding-block/site-title.tsx
Labels: Accessibility, [Goal] Gutenboarding, [Goal] Onboarding, [Status] Needs Review

#39281 Site migration: Add a spinner in the site icon when loading a site
  client/my-sites/migrate/components/sites-block/index.jsx
  client/my-sites/migrate/components/sites-block/style.scss
Labels: [Status] Needs Review

#38608 Framework: Reduxify embeds
  CREDITS.md
  client/components/data/query-embed/README.md
  client/components/data/query-embed/index.jsx
  client/components/tinymce/plugins/wpcom-view/views.js
  client/components/tinymce/plugins/wpcom-view/views/embed/index.js
  client/components/tinymce/plugins/wpcom-view/views/embed/view.jsx
  client/lib/embeds/README.md
  client/lib/embeds/actions.js
  client/lib/embeds/list-store.js
  client/lib/embeds/store.js
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/embeds/index.js
  client/state/data-layer/wpcom/sites/embeds/render/index.js
  client/state/embeds/actions.js
  client/state/embeds/reducer.js
  client/state/embeds/test/__snapshots__/reducer.js.snap
  client/state/embeds/test/reducer.js
  client/state/embeds/test/utils.js
  client/state/embeds/utils.js
  client/state/reducer.js
  client/state/selectors/get-current-site-embeds.js
  client/state/selectors/get-embed.js
  client/state/selectors/get-site-embeds.js
  client/state/selectors/test/get-current-site-embeds.js
  client/state/selectors/test/get-embed.js
  client/state/selectors/test/get-site-embeds.js
Labels: Editor, Maintenance, State, [Status] Needs Review, [Tests] Includes Tests, [Type] Task

#39289 [E2E Mobile]: update blank template selector
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
Labels: Testing, [Status] Needs Review, [Status] Needs e2e Testing

#39252 Concierge banner: Fix alignment in Safari browser
  client/me/purchases/purchases-site/style.scss
Labels: Concierge, [Status] Needs Review

#39284 Speed up bundle analysis.
  package.json
Labels: Build, Performance, [Status] Needs Review

#39203 Gutenboarding: Enable frankenflow for non-authenticated users
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/onboarding-block/signup-form/index.tsx
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/index.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  client/landing/gutenboarding/stores/onboard/types.ts
  client/landing/gutenboarding/utils.ts
Labels: Signup, [Goal] Gutenboarding, [Status] Ready to Merge

#39204 Layout Selector: Fix blank layout selection on existing page
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/index.js
Labels: [Goal] Page Templates, [Status] Ready to Merge

#39288 CODEOWNERS: Update Serenity ownership.
  .github/CODEOWNERS
Labels: [Status] Needs Review, [Type] Task

#39286 feat(storage): Disable IDB when we see a Quota error
  client/lib/browser-storage/index.ts
Labels: Framework, [Status] Needs Review

#39266 Gutenboarding - Add editor loading placeholder
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/onboarding-block/create-site/index.tsx
  client/landing/gutenboarding/onboarding-block/create-site/style.scss
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/onboarding-block/signup-form/index.tsx
  client/landing/gutenboarding/steps.ts
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  client/landing/gutenboarding/stores/onboard/types.ts
  client/landing/gutenboarding/utils.ts
Labels: [Goal] Gutenboarding, [Status] Needs Design Review, [Status] Needs Review

#39001 Move "tracks" analytics into a shared calypso-analytics package
  client/lib/analytics/ad-tracking.js
  client/lib/analytics/docs/tracks.md
  client/lib/analytics/hotjar.js
  client/lib/analytics/index.js
  client/lib/analytics/test/google-analytics.js
  client/lib/analytics/test/index.js
  client/lib/analytics/utils/index.js
  client/lib/analytics/utils/is-ad-tracking-allowed.js
  client/package.json
  client/reader/search-stream/suggestion-provider.jsx
  package-lock.json
  packages/calypso-analytics/README.md
  packages/calypso-analytics/jest.config.js
  packages/calypso-analytics/package.json
  packages/calypso-analytics/src/index.js
  packages/calypso-analytics/src/tracks.js
  packages/calypso-analytics/src/utils/current-user.js
  packages/calypso-analytics/src/utils/debug.js
  packages/calypso-analytics/src/utils/do-not-track.js
  packages/calypso-analytics/src/utils/hash-pii.js
  test/e2e/docs/running-tests.md
Labels: Analytics, Framework, [Goal] Gutenboarding, [Status] Needs Rebase, [Status] Needs Review

#39240 Remove all usages of nonEnglishDomainStepCopyUpdates
  client/lib/abtest/active-tests.js
  client/lib/plans/test/get-popular-plan-spec.js
Labels: Marketing, Signup, [Status] Needs Review, [Status] Needs e2e Testing

#39297 Display ToS update notice
  client/assets/stylesheets/shared/functions/_z-index.scss
  client/blocks/legal-updates-banner/index.js
  client/blocks/legal-updates-banner/style.scss
  client/state/action-types.js
  client/state/data-layer/wpcom/legal/index.js
  client/state/legal/actions.js
  client/state/selectors/should-display-tos-update-banner.js
Labels: [Status] Needs Review

#39257 Site Migration: Add option to submit the URL input with Enter key
  client/my-sites/migrate/components/sites-block/index.jsx
  client/my-sites/migrate/step-source-select.jsx
Labels: [Status] Needs Review

#39258 Site Migration: Add support for showing errors when a customer enters an unsupported URL
  client/my-sites/migrate/step-source-select.jsx
Labels: [Status] Needs Review

#39306 Sidebar: Display the WP Admin menu item for all users.
  client/my-sites/sidebar/index.jsx
Labels: Sidebar, [Status] Needs Review

#39299 Site Migration: Update the confirmation page and move the confirmation prompt to final pre-migration step
  client/my-sites/migrate/components/sites-block/index.jsx
  client/my-sites/migrate/migrate-button.jsx
  client/my-sites/migrate/section-migrate.jsx
  client/my-sites/migrate/section-migrate.scss
  client/my-sites/migrate/step-confirm-migration.jsx
  client/my-sites/migrate/step-import-or-migrate.jsx
  client/my-sites/migrate/step-upgrade.jsx
Labels: WP Migration, [Status] Needs Review

#39050 Add Site data store to be used by Gutenboarding
  client/landing/gutenboarding/devtools.ts
  packages/data-stores/src/index.ts
  packages/data-stores/src/site/actions.ts
  packages/data-stores/src/site/constants.ts
  packages/data-stores/src/site/controls.ts
  packages/data-stores/src/site/index.ts
  packages/data-stores/src/site/reducer.ts
  packages/data-stores/src/site/selectors.ts
  packages/data-stores/src/site/types.ts
  packages/data-stores/src/utils/wpcom-wrapper.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#39209 [Coming soon] Privacy picker fix
  client/my-sites/site-settings/form-general.jsx
  client/state/sites/reducer.js
Labels: Coming Soon

#39335 [Coming soon] Add support for ecommerce plan
  client/my-sites/plan-features/index.jsx
  client/state/selectors/should-new-site-be-private-by-default.ts
Labels: Coming Soon, [Status] Needs Review

#39317 Framework: Fix VSCode project config file
  jsconfig.json
Labels: Framework, [Status] Needs Review, [Type] Enhancement

#39211 Codemod to replace all safely transformable _.get usage
  packages/calypso-codemods/transforms/replace-lodash-get.js
Labels: Packages, [Status] Needs Review, [Type] Janitorial

#39310 Gutenboarding: Persisted data should expire and be conditional
  client/landing/gutenboarding/stores/onboard/index.ts
  client/landing/gutenboarding/stores/onboard/persist.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#39326 FSE: Fix JS unit tests
  .circleci/config.yml
  apps/full-site-editing/bin/js-unit-config.js
  apps/full-site-editing/bin/js-unit-setup.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/test/__snapshots__/template-selector-control.test.js.snap
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/test/__snapshots__/template-selector-preview.test.js.snap
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/test/template-selector-control.test.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/test/template-selector-preview.test.js
  apps/full-site-editing/jest.config.js
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing, [Status] Ready to Merge, [Team] Cylon, [Tests] Includes Tests

#38963 Rename FSE subfeature to dotcom fse
  apps/full-site-editing/README.md
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/navigation-menu/edit.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/navigation-menu/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/navigation-menu/index.php
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/navigation-menu/style.scss
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/post-content/edit.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/post-content/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/post-content/index.php
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/post-content/save.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/post-content/style.scss
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/site-credit/edit.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/site-credit/footer-credit-choices.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/site-credit/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/site-credit/index.php
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/site-credit/style.scss
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/site-description/edit.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/site-description/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/site-description/index.php
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/site-description/style.scss
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/site-title/edit.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/site-title/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/site-title/index.php
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/site-title/style.scss
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/template/edit.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/template/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/template/index.php
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/template/site-logo.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/blocks/template/style.scss
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/class-full-site-editing.php
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/editor/block-inserter/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/editor/block-inserter/post-content-block-appender.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/editor/image-block-keywords/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/editor/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/editor/remove-editor-panels/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/editor/style.scss
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/editor/suppress-draft-action/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/editor/suppress-trash-action/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/editor/template-validity-override/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/helpers.php
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/lib/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/lib/site-options/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/lib/site-options/use-previous.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/lib/site-options/use-site-options.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/lib/site-options/with-site-options.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/plugins/close-button-override/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/plugins/close-button-override/style.scss
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/plugins/editor-template-classes/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/plugins/template-update-notice/index.js
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/sass/_mixins.scss
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/serialize-block-fallback.php
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/templates/class-rest-templates-controller.php
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/templates/class-template-image-inserter.php
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/templates/class-wp-template-inserter.php
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/templates/class-wp-template.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing, [Status] Ready to Merge, [Team] Cylon

#38932 Gutenboarding: `data-store` reducer function signatures don't need to list which actions they handle
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  client/landing/gutenboarding/stores/onboard/types.ts
  packages/data-stores/src/domain-suggestions/actions.ts
  packages/data-stores/src/domain-suggestions/reducer.ts
  packages/data-stores/src/domain-suggestions/types.ts
  packages/data-stores/src/site/actions.ts
  packages/data-stores/src/site/controls.ts
  packages/data-stores/src/site/reducer.ts
  packages/data-stores/src/site/types.ts
  packages/data-stores/src/user/actions.ts
  packages/data-stores/src/user/controls.ts
  packages/data-stores/src/user/reducer.ts
  packages/data-stores/src/user/types.ts
  packages/data-stores/src/verticals-templates/actions.ts
  packages/data-stores/src/verticals-templates/reducer.ts
  packages/data-stores/src/verticals-templates/types.ts
  packages/data-stores/src/verticals/actions.ts
  packages/data-stores/src/verticals/reducer.ts
  packages/data-stores/src/verticals/types.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#39142 Remove default request handler from wpcom
  packages/wpcom.js/History.md
  packages/wpcom.js/README.md
  packages/wpcom.js/package.json
  packages/wpcom.js/src/index.js
Labels: API, Packages, [Status] Needs Review, [Type] Janitorial

#39276 Enable domain step design update test for test environments
  client/lib/abtest/active-tests.js
  client/signup/steps/domains/index.jsx
  config/development.json
  config/wpcalypso.json
Labels: ABTest, Domains, Signup, [Status] Needs Review

#39295 Domain step test: Pricing copy update
  client/components/domains/domain-product-price/index.jsx
  client/components/domains/domain-product-price/style.scss
  client/components/domains/domain-registration-suggestion/index.jsx
  client/components/domains/domain-search-results/index.jsx
  client/components/domains/domain-suggestion/index.jsx
  client/components/domains/domain-suggestion/style.scss
  client/components/domains/featured-domain-suggestions/index.jsx
  client/components/domains/register-domain-step/index.jsx
  client/signup/steps/domains/index.jsx
Labels: Domains, Signup, [Status] Needs Design Review, [Status] Needs Review

#39367 Build: Pin terser@4.4.3
  package-lock.json
  package.json
Labels: Build, [Status] Needs Review, [Status] Ready to Merge

#39277 Renovate: Fix team reviewers
  renovate.json
Labels: [Status] Ready to Merge, [Type] Task

#39354 Reader: fix margin-bottom for latex images
  client/blocks/reader-full-post/style.scss
Labels: Reader

#39359 Resolves duplicate highlight for Activity threat alerts
  client/my-sites/activity/activity-log/threat-alert.jsx
Labels: Activity Log, Security, [Status] Ready to Merge, [Type] Defect

#39192 Encourage renewing when close to renewal
  client/blocks/credit-card-form/helpers.js
Labels: [Status] Needs Review

#39109 Jetpack Connect: Respect redirect url on retryAuth
  client/jetpack-connect/authorize.js
  client/state/jetpack-connect/actions.js
Labels: [Status] Ready to Merge

#39400 Revert "fix(deps): update dependency terser-webpack-plugin to v2.3.4"
  package-lock.json
  packages/calypso-build/package.json
Labels: [Type] Defect

#39346 Domain step test: Add checkboxes for the tld filter bar
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/search-filters/style.scss
  client/components/domains/search-filters/tld-filter-bar.jsx
Labels: Domains, Signup, [Status] Needs Review

#39361 Remove the is-fluid-width CSS class from the top HTML element
  client/document/browsehappy.jsx
  client/document/desktop.jsx
  client/document/index.jsx
  client/server/pages/index.js
  config/desktop.json
  docs/merge-checklist.md
Labels: [Status] Ready to Merge, [Type] Janitorial

#39371 ToS: Add Tracks event for successful ToS acceptance
  client/state/data-layer/wpcom/legal/index.js
Labels: [Status] Needs Review

#39384 Add support for a monochrome Jetpack logo
  client/components/jetpack-logo/README.md
  client/components/jetpack-logo/docs/example.js
  client/components/jetpack-logo/index.jsx
Labels: Components, Jetpack Cloud, [Status] Ready to Merge, [Type] Enhancement

#39311 Hide mobile app banner if ToS update banner is shown
  client/blocks/app-banner/index.jsx
  client/state/selectors/should-display-tos-update-banner.js
Labels: [Status] Needs Review

#39385 Add Jetpack Cloud Masterbar component
  client/assets/stylesheets/_calypso-color-scheme-jetpack-cloud.scss
  client/landing/jetpack-cloud/components/masterbar/index.jsx
  client/landing/jetpack-cloud/components/masterbar/style.scss
  client/landing/jetpack-cloud/layout.js
  client/landing/jetpack-cloud/masterbar.jsx
Labels: Components, Jetpack Cloud, [Status] Ready to Merge, [Type] Feature progress

#39406 Domain step test: Show at least one checkbox filter in mobile view
  client/components/domains/search-filters/style.scss
Labels: Domains, Signup, [Status] Needs Review

#39409 icfy-analyze: remove code that analyzes global CSS stylesheet
  .circleci/config.yml
  bin/icfy-analyze.js
Labels: Build, [Status] Needs Review

#39319 e2e: Update user-agent to more recent version
  test/e2e/lib/driver-manager.js
Labels: [Status] Needs Review

#39344 Modularise stats state
  client/my-sites/stats/stats-date-picker/index.jsx
  client/my-sites/stats/stats-views/index.jsx
  client/state/reducer.js
  client/state/selectors/get-site-stats-query-date.js
  client/state/selectors/get-site-stats-view-summary.js
  client/state/selectors/get-store-referrers-by-date.js
  client/state/selectors/get-store-referrers-by-referrer.js
  client/state/selectors/test/get-site-stats-query-date.js
  client/state/selectors/test/get-site-stats-view-summary.js
  client/state/stats/chart-tabs/actions.js
  client/state/stats/chart-tabs/selectors.js
  client/state/stats/init.js
  client/state/stats/lists/actions.js
  client/state/stats/lists/selectors.js
  client/state/stats/package.json
  client/state/stats/posts/actions.js
  client/state/stats/posts/selectors.js
  client/state/stats/recent-post-views/actions.js
  client/state/stats/recent-post-views/selectors.js
  client/state/stats/reducer.js
Labels: Performance, State, Stats, [Status] Ready to Merge, [Type] Janitorial

#39235 Fix/hardcoded string
  client/my-sites/earn/ads/form-settings.jsx
  client/my-sites/earn/ads/wrapper.jsx
Labels: Earn, [Status] Ready to Merge

#39398 AT: update warnings to note site changes instead of lost functionality
  client/blocks/eligibility-warnings/warning-list.tsx
Labels: [Status] Needs Copy Review, [Status] Needs Review

#39362 Domain step test: Convert recommended badge to plan-pill
  client/components/domains/domain-registration-suggestion/index.jsx
  client/components/domains/featured-domain-suggestions/style.scss
Labels: Domains, Signup, [Status] Needs Review

#39366 Move the use your domain option below Show More
  client/components/domains/domain-search-results/index.jsx
  client/components/domains/domain-transfer-suggestion/index.jsx
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/register-domain-step/style.scss
Labels: Domains, Signup, [Status] Needs Review

#38806 Make `blog_public=0` a checkbox instead of a separate option in the Privacy picker
  client/my-sites/site-settings/form-general.jsx
Labels: Site Settings, [Status] Needs Review, [Status] String Freeze

#39363 Remove i18n code from SSR-only pages
  client/document/404.jsx
  client/document/500.jsx
  client/document/browsehappy.jsx
  client/document/utils/index.jsx
  client/server/pages/index.js
Labels: Server Side Rendering, [Status] Ready to Merge, [Type] Janitorial, i18n

#39296 Wrapup Premium bump test
  client/lib/abtest/active-tests.js
  client/my-sites/checkout/checkout/index.jsx
Labels: [Status] Needs Review

#39401 Gutenboarding: Tighten 'fresh' URL param for data persistence
  client/landing/gutenboarding/stores/onboard/persist.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#38903 Build: Speed up `tsc` builds
  .circleci/config.yml
  .dockerignore
  .gitignore
  client/landing/gutenboarding/tsconfig.json
  package.json
  packages/components/tsconfig.json
  packages/composite-checkout-wpcom/tsconfig-cjs.json
  packages/composite-checkout-wpcom/tsconfig.json
  packages/data-stores/tsconfig-cjs.json
  packages/data-stores/tsconfig.json
  tsconfig.json
Labels: Build, Performance, [Status] Ready to Merge

#39244 Gutenboarding: Remove domain from flow
  client/signup/config/flows-pure.js
Labels: Signup, [Goal] Gutenboarding, [Status] Ready to Merge

#39388 Packages: Add react-i18n
  client/package.json
  package-lock.json
  package.json
  packages/react-i18n/.eslintrc.js
  packages/react-i18n/package.json
  packages/react-i18n/src/index.tsx
  packages/react-i18n/tsconfig-cjs.json
  packages/react-i18n/tsconfig.json
Labels: Packages, [Goal] Gutenboarding, [Status] Needs Review, i18n

#39432 Renovate: Try @ in team reviewers
  renovate.json
Labels: Build, [Status] Ready to Merge, [Type] Task

#39417 FSE: adds GitHub workflow to build the plugin
  .github/workflows/full-site-editing-plugin.yml
Labels: [Status] Needs Review, [Team] Cylon

#39430 Site Migration: Hide default side badges from the custom Site Block component
  client/my-sites/migrate/components/sites-block/style.scss
Labels: [Status] Needs Review

#39431 Site Migration: Persist the Site URL when going back to the URL input screen
  client/my-sites/migrate/step-source-select.jsx
Labels: [Status] Needs Review, [Type] Bug

#39438 Domains: Add new material icons we'd like to use for the new domain status screens
  packages/material-design-icons/src/action/outline-cached-24px.svg
  packages/material-design-icons/src/action/outline-chrome_reader_mode-24px.svg
  packages/material-design-icons/src/action/outline-delete-24px.svg
  packages/material-design-icons/src/action/outline-info-24px.svg
  packages/material-design-icons/src/action/outline-language-24px.svg
  packages/material-design-icons/src/communication/outline-email-24px.svg
  packages/material-design-icons/src/file/outline-cloud_upload-24px.svg
  packages/material-design-icons/svg-sprite/material-icons.svg
Labels: [Status] Needs Review

#39092 Domains: Include WPCOM and .blog subdomain suggestions for Blog segment
  client/components/domains/free-domain-explainer/index.jsx
  client/components/domains/register-domain-step/index.jsx
  client/signup/steps/domains/index.jsx
  client/state/signup/progress/reducer.js
Labels: Domains, [Goal] Onboarding, [Status] Needs Review, [Status] Needs e2e Testing

#39313 Domains: New domain status page design
  client/components/vertical-nav/item/index.jsx
  client/lib/domains/utils.js
  client/my-sites/domains/domain-management/components/email-verification/index.jsx
  client/my-sites/domains/domain-management/components/icann-verification/index.jsx
  client/my-sites/domains/domain-management/edit/card/domain-status/index.jsx
  client/my-sites/domains/domain-management/edit/domain-types/registered-domain-type.jsx
  client/my-sites/domains/domain-management/edit/domain-types/wpcom-domain-type.jsx
  client/my-sites/domains/domain-management/edit/index.jsx
  client/my-sites/domains/domain-management/edit/style.scss
  config/development.json
Labels: Domains, [Status] Ready to Merge

#39418 Add support for i18n to Jetpack Cloud masterbar and sidebar
  client/landing/jetpack-cloud/components/masterbar/index.jsx
  client/landing/jetpack-cloud/components/sidebar/index.jsx
Labels: Jetpack Cloud, [Status] Ready to Merge, [Type] Feature progress, i18n

#39269 [reCaptcha v3]: recaptcha in signup
  client/blocks/signup-form/index.jsx
  client/blocks/signup-form/passwordless.jsx
  client/blocks/signup-form/style.scss
  client/lib/analytics/recaptcha.js
  client/lib/signup/step-actions.js
  client/signup/config/flows-pure.js
  client/signup/steps/user/index.jsx
  config/_shared.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Frontend, Signup, [Status] Needs Review, [Status] String Freeze

#39000 FSE: Integrate wp-env environment
  apps/full-site-editing/.wp-env.json
  apps/full-site-editing/bin/setup-env.sh
Labels: [Goal] Full Site Editing, [Status] Ready to Merge, [Team] Cylon

#39429 Domain step test: Right align the pricing text
  client/components/domains/domain-product-price/index.jsx
  client/components/domains/domain-product-price/style.scss
  client/components/domains/domain-registration-suggestion/index.jsx
  client/components/domains/domain-suggestion/index.jsx
  client/components/domains/domain-suggestion/style.scss
  client/components/domains/featured-domain-suggestions/index.jsx
  client/components/domains/featured-domain-suggestions/style.scss
  client/components/domains/free-domain-explainer/index.jsx
  client/components/domains/free-domain-explainer/style.scss
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/register-domain-step/style.scss
  client/components/domains/search-filters/style.scss
Labels: Domains, Signup, [Status] Needs Review

#39369 Create a common function for locale route param
  client/jetpack-connect/index.js
  client/lib/i18n-utils/browser.js
  client/lib/i18n-utils/node.js
  client/lib/i18n-utils/utils.js
  client/login/controller.js
  client/login/index.node.js
  client/login/index.web.js
  client/my-sites/invites/controller.js
  client/my-sites/invites/index.js
  client/signup/controller.js
  client/signup/index.node.js
  client/signup/index.web.js
  client/signup/test/utils.js
  client/signup/utils.js
Labels: Framework, [Status] Needs Review, i18n

#39368 Packages: Use peerDependencies for singleton modules
  package-lock.json
  packages/components/package.json
  packages/composite-checkout-wpcom/package.json
  packages/composite-checkout/package.json
  packages/data-stores/CHANGELOG.md
  packages/data-stores/package.json
  packages/i18n-calypso/CHANGELOG.md
  packages/i18n-calypso/package.json
Labels: Build, Packages, [Status] Needs Review

#39253 Privacy: Add a success handler to privacy policy request
  client/blocks/privacy-policy-banner/index.jsx
Labels: Privacy/GDPR, [Status] Needs Review, [Type] Janitorial

#39420 Force a specific version of browserslist to prevent disagreements
  package-lock.json
  package.json
  packages/calypso-build/package.json
Labels: [Status] Ready to Merge

#39412 Modularise comments state.
  client/state/comments/actions.js
  client/state/comments/init.js
  client/state/comments/package.json
  client/state/comments/reducer.js
  client/state/comments/selectors.js
  client/state/reducer.js
  client/state/selectors/get-active-reply-comment-id.js
  client/state/selectors/get-site-comment-counts.js
  client/state/selectors/get-site-comment-parent-depth.js
  client/state/selectors/get-site-comment-replies-tree.js
  client/state/selectors/get-site-comment.js
  client/state/selectors/get-site-comments-tree.js
  client/state/selectors/get-site-comments.js
  client/state/selectors/is-comments-tree-initialized.js
Labels: Comments, Performance, State, [Status] Ready to Merge, [Type] Janitorial

#38585 Jetpack: Remove obsolete isJetpackMinimumVersion checks
  client/components/tinymce/plugins/simple-payments/dialog/index.jsx
  client/components/tinymce/plugins/simple-payments/dialog/memberships.jsx
  client/my-sites/comments/comment-navigation/index.jsx
  client/my-sites/comments/comment-tree/index.jsx
  client/my-sites/comments/comment/comment-edit.jsx
  client/my-sites/comments/main.jsx
  client/my-sites/earn/memberships/index.jsx
  client/my-sites/marketing/buttons/options.jsx
  client/my-sites/marketing/connections/mailchimp-settings.jsx
  client/my-sites/marketing/main.jsx
  client/my-sites/plans-features-main/index.jsx
  client/my-sites/plugins/plugin-upload/index.jsx
  client/my-sites/post-selector/selector.jsx
  client/post-editor/editor-categories-tags/accordion.jsx
  client/post-editor/editor-drawer/index.jsx
  client/post-editor/editor-drawer/taxonomies.jsx
Labels: Jetpack, [Status] Needs Review, [Type] Janitorial

#39458 Add documentation on modularized state.
  client/state/README.md
  docs/our-approach-to-data.md
Labels: Documentation, State, [Status] Needs Review

#39405 ICFY: Increase memory, allow failure
  .circleci/config.yml
Labels: Build, [Status] Needs Review, [Status] Ready to Merge

#39285 State: Remove site change listeners middleware
  client/state/action-types.js
  client/state/lib/README.md
  client/state/lib/middleware.js
Labels: Framework, State, [Status] Needs Review, [Type] Janitorial

#39462 Add publishConfig to viewport packages.
  packages/viewport-react/package.json
  packages/viewport/package.json
Labels: Packages, [Status] Ready to Merge, [Type] Janitorial

#39143 Excludes restriction on superagent for server JS
  client/server/.eslintrc.js
  client/server/.eslintrc.json
Labels: [Status] Needs Review, [Type] Janitorial

#39461 FSE: remove plugin archive creation step
  .github/workflows/full-site-editing-plugin.yml
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Team] Cylon

#39334 Domain step test: Change filter icon
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/search-filters/dropdown-filters.jsx
Labels: Domains, Signup, [Status] Needs Design Review, [Status] Needs Review

#39392 Update/gutenboarding calypso analytics
  client/lib/analytics/ad-tracking.js
  client/lib/analytics/docs/tracks.md
  client/lib/analytics/hotjar.js
  client/lib/analytics/index.js
  client/lib/analytics/test/google-analytics.js
  client/lib/analytics/test/index.js
  client/lib/analytics/utils/index.js
  client/lib/analytics/utils/is-ad-tracking-allowed.js
  client/package.json
  client/reader/search-stream/suggestion-provider.jsx
  package-lock.json
  package.json
  packages/calypso-analytics/README.md
  packages/calypso-analytics/jest.config.js
  packages/calypso-analytics/package.json
  packages/calypso-analytics/src/index.js
  packages/calypso-analytics/src/tracks.js
  packages/calypso-analytics/src/utils/current-user.js
  packages/calypso-analytics/src/utils/debug.js
  packages/calypso-analytics/src/utils/do-not-track.js
  packages/calypso-analytics/src/utils/hash-pii.js
  test/e2e/docs/running-tests.md
Labels: Analytics, [Goal] Gutenboarding, [Status] Needs Review

#39475 [SIGNUP]: remove A/B test for alternative default logged-in landing page
  client/boot/common.js
  client/lib/abtest/active-tests.js
Labels: ABTest, [Status] Needs Review

#39376 Modularise themes state.
  client/components/themes-list/index.jsx
  client/my-sites/theme/test/main.jsx
  client/my-sites/themes/recommended-themes.jsx
  client/my-sites/themes/test/logged-out.jsx
  client/my-sites/themes/theme-showcase.jsx
  client/server/pages/index.js
  client/state/add-reducer.ts
  client/state/initial-state.js
  client/state/reducer.js
  client/state/redux-store.ts
  client/state/selectors/find-theme-filter-term.js
  client/state/selectors/get-theme-filter-string-from-term.js
  client/state/selectors/get-theme-filter-term-from-string.js
  client/state/selectors/get-theme-filter-term.js
  client/state/selectors/get-theme-filter-terms-table.js
  client/state/selectors/get-theme-filter-terms.js
  client/state/selectors/get-theme-filter-to-term-table.js
  client/state/selectors/get-theme-filters.js
  client/state/selectors/get-theme-showcase-description.js
  client/state/selectors/get-theme-showcase-title.js
  client/state/selectors/is-ambiguous-theme-filter-term.js
  client/state/themes/actions.js
  client/state/themes/init.js
  client/state/themes/package.json
  client/state/themes/reducer.js
  client/state/themes/selectors.js
  client/state/themes/themes-ui/actions.js
  client/state/themes/themes-ui/selectors.js
  client/state/themes/upload-theme/selectors.js
Labels: Performance, State, Themes, [Status] Ready to Merge, [Type] Janitorial

#38750 Remove url and qs from lib/analytics.
  client/lib/analytics/index.js
  client/lib/analytics/refer.js
  client/lib/analytics/sem.js
  client/lib/analytics/utils/save-coupon-query-argument.js
  client/lib/analytics/utils/url-parse-amp-compatible.js
Labels: [Status] Needs Review, [Type] Janitorial

#39391 Gutenboarding: use Site data-store to create site
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/onboarding-block/signup-form/index.tsx
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  client/landing/gutenboarding/stores/site/index.ts
  client/landing/gutenboarding/utils.ts
  packages/data-stores/src/site/reducer.ts
  packages/data-stores/src/site/types.ts
Labels: [Goal] Gutenboarding, [Goal] Onboarding, [Status] Ready to Merge

#39454 Themes: do not display upsell banner for sites using partner plan
  client/my-sites/themes/single-site-jetpack.jsx
Labels: Plans, Themes, [Status] Needs Review, [Type] Bug

#39395 Migration: Show plan price, themes, and plugins in the flow on upgrade step
  client/my-sites/migrate/section-migrate.jsx
  client/my-sites/migrate/section-migrate.scss
  client/my-sites/migrate/step-upgrade.jsx
Labels: WP Migration, [Status] Needs Review

#39220 Remove get with templates from state / components.
  client/components/language-picker/modal.jsx
  client/my-sites/google-my-business/stats/chart.js
  client/state/comments/selectors.js
  client/state/domains/management/reducer.js
  client/state/login/selectors.js
  client/state/my-sites/sidebar/selectors.js
  client/state/oauth2-clients/selectors.js
  client/state/oauth2-clients/test/selectors.js
  client/state/selectors/get-memberships.js
  client/state/selectors/is-google-my-business-location-connected.js
  client/state/selectors/is-google-my-business-stats-nudge-visible.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing, [Type] Janitorial

#39452 [Sites]: update type interface to accept new `site_slug` property.
  packages/data-stores/src/site/reducer.ts
  packages/data-stores/src/site/types.ts
Labels: Sites, [Goal] Gutenboarding, [Type] Task

#39481 Remove `url` and `qs` from calypso-analytics.
  package-lock.json
  packages/calypso-analytics/package.json
  packages/calypso-analytics/src/tracks.js
Labels: [Status] Needs Review, [Type] Janitorial

#39507 Jetpack Cloud: Enable debug on dev environment
  client/server/pages/index.js
Labels: Jetpack Cloud, [Status] Ready to Merge, [Type] Enhancement

#39483 Modularise lib/domains/utils
  client/lib/domains/utils.js
  client/lib/domains/utils/get-domain-registration-agreement-url.js
  client/lib/domains/utils/get-domain-type.js
  client/lib/domains/utils/get-gdpr-consent-status.js
  client/lib/domains/utils/get-transfer-status.js
  client/lib/domains/utils/index.js
  client/lib/domains/utils/is-domain-connect-authorize-path.js
  client/lib/domains/utils/is-recently-registered.js
  client/lib/domains/utils/package.json
  client/lib/domains/utils/parse-domain-against-tld-list.js
Labels: Domains, Performance, [Status] Needs Review

#38740 Timezone: Fix selection of linked timezones
  client/lib/i18n-utils/guess-timezone.js
  client/my-sites/site-settings/form-general.jsx
  client/state/concierge/signup-form/reducer.js
  client/state/concierge/signup-form/test/reducer.js
Labels: i18n

#39139 Add `packages/wpcom-proxy-request`.
  packages/wpcom-proxy-request/.eslintrc.js
  packages/wpcom-proxy-request/.gitignore
  packages/wpcom-proxy-request/.npmignore
  packages/wpcom-proxy-request/History.md
  packages/wpcom-proxy-request/LICENSE
  packages/wpcom-proxy-request/Makefile
  packages/wpcom-proxy-request/Readme.md
  packages/wpcom-proxy-request/client-test-app/index.html
  packages/wpcom-proxy-request/examples/freshly-pressed.html
  packages/wpcom-proxy-request/examples/me.html
  packages/wpcom-proxy-request/examples/pinghub.html
  packages/wpcom-proxy-request/examples/upload.html
  packages/wpcom-proxy-request/examples/webpack.config.js
  packages/wpcom-proxy-request/examples/wp-api.me.html
  packages/wpcom-proxy-request/index.js
  packages/wpcom-proxy-request/package-lock.json
  packages/wpcom-proxy-request/package.json
  packages/wpcom-proxy-request/test/index.js
Labels: Packages, [Status] Ready to Merge

#39482 Site migration: use `site_migration` data instead of `migration_status` value
  client/my-sites/migrate/section-migrate.jsx
  client/state/selectors/get-site-migration-status.js
  client/state/sites/actions.js
  client/state/sites/constants.js
  client/state/sites/reducer.js
Labels: WP Migration, [Status] Needs Review

#39495 Migration: Remove from tools sidebar
  client/my-sites/sidebar/index.jsx
  client/my-sites/sidebar/tools-menu.jsx
Labels: WP Migration, [Status] Needs Review

#39501 Jetpack Cloud: Provide Redux store
  client/boot/common.js
  client/landing/jetpack-cloud/controller.js
  client/landing/jetpack-cloud/index.js
Labels: Jetpack Cloud, State, [Status] Ready to Merge

#39504 Jetpack Cloud: Remove extra entry point section handling
  client/server/pages/index.js
Labels: Jetpack Cloud, [Status] Ready to Merge, [Type] Janitorial

#38511 Add the WPCOM Block Editor NUX
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nux/class-wp-rest-wpcom-block-editor-nux-status-controller.php
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nux/class-wpcom-block-editor-nux.php
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nux/index.js
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nux/src/disable-core-nux.js
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nux/src/store.js
  apps/full-site-editing/full-site-editing-plugin/wpcom-block-editor-nux/src/wpcom-nux.js
  apps/full-site-editing/package.json
Labels: [Status] Needs Review, [Team] Cylon, [Type] Enhancement

#39517 Migration: Don't show import type step upgrade badge when unneeded
  client/my-sites/migrate/step-import-or-migrate.jsx
Labels: WP Migration, [Status] Needs Review

#39502 Move code of the icfy-analyze CircleCI task to a NPM script
  .circleci/config.yml
  package.json
Labels: Build, [Status] Needs Review

#39193 Add DPA request UI to /me/privacy
  client/me/privacy/main.jsx
  client/me/privacy/style.scss
Labels: Privacy/GDPR, [Status] Needs Review, [Status] String Freeze

#39499 Domain step text: Modify text for the free subdomain tooltip
  client/components/domains/domain-product-price/index.jsx
  client/components/domains/domain-registration-suggestion/index.jsx
  client/components/domains/domain-suggestion/index.jsx
Labels: Domains, Signup, [Status] Needs Review

#39518 Site Migration: Don't persist start time of previous migration
  client/my-sites/migrate/section-migrate.jsx
Labels: [Status] Needs Review, [Type] Bug

#39485 Move the Payment Settings button to the expiry row
  client/my-sites/domains/domain-management/edit/card/subscription-settings/index.jsx
  client/my-sites/domains/domain-management/edit/domain-types/registered-domain-type.jsx
  client/my-sites/domains/domain-management/edit/style.scss
Labels: Domains, [Status] Ready to Merge

#39533 WpcomPR: Drop support for string param
  packages/wpcom-proxy-request/Readme.md
  packages/wpcom-proxy-request/index.js
Labels: API, Packages, [Type] Bug

#39330 Customer Home: Replace My Site Card
  client/my-sites/customer-home/main.jsx
  client/my-sites/customer-home/style.scss
Labels: Customer Home, OSS Citizen, [Status] Needs Review

#39484 Marketing: Remove `readerFreeToPaidPlanNudge` a/b test.
  client/lib/abtest/active-tests.js
  client/reader/sidebar/reader-sidebar-nudges/index.jsx
Labels: ABTest, Marketing, [Status] Ready to Merge

#39480 React I18n: Simplify API
  package-lock.json
  packages/react-i18n/package.json
  packages/react-i18n/src/index.tsx
  packages/react-i18n/tsconfig.json
Labels: Packages, [Goal] Gutenboarding, [Status] Ready to Merge, [Type] Feature progress, i18n

#39453 Domain step: Show 'More Extensions' in a pressed state only if tld is not in filter bar
  client/components/domains/search-filters/style.scss
  client/components/domains/search-filters/tld-filter-bar.jsx
Labels: Domains, Signup, [Status] Needs Review

#39312 Gutenboarding: Rework routing for i18n
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/gutenboard.tsx
  client/landing/gutenboarding/index.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent.tsx
  client/landing/gutenboarding/onboarding-block/design-selector/index.tsx
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/onboarding-block/site-title.tsx
  client/landing/gutenboarding/path.ts
  client/landing/gutenboarding/steps.ts
  client/landing/gutenboarding/tsconfig.json
Labels: [Status] Needs Review, [Type] Janitorial, [Type] Task, i18n

#39532 Domain step test: Change "use your domain" to a link
  client/components/domains/domain-suggestion/style.scss
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/register-domain-step/style.scss
Labels: Domains, Signup, [Status] Needs Review

#39467 Change the way translations are used in Jetpack products
  client/blocks/product-plan-overlap-notices/index.jsx
  client/lib/products-values/constants.js
  client/lib/products-values/index.js
  client/lib/products-values/test/index.js
  client/lib/purchases/index.js
  client/my-sites/plans-features-main/index.jsx
Labels: Blocks, Jetpack, [Status] Ready to Merge, [Type] Bug, i18n

#39524 SPT: Add Brazilian Portuguese to the list of sub locales
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/class-starter-page-templates.php
Labels: [Goal] Page Templates, [Status] Needs Review, [Team] AJAX

#39307 SPT: Make sure to get blog locale, not user locale.
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/class-starter-page-templates.php
Labels: [Goal] Page Templates, [Status] Needs Review, [Type] Bug
