Repository Automattic/wp-calypso, pull requests merged in 2020-05, with the labels that each got.

#41704 Help: Add Active Tickets notice in an AB test
  client/lib/abtest/active-tests.js
  client/me/help/active-tickets-notice/index.jsx
  client/me/help/active-tickets-notice/style.scss
  client/me/help/help-contact/index.jsx
Labels: [Status] Needs Review

#41678 Gutenboarding: Domain picker modal follow-up fixes + feature flag removal.
  client/landing/gutenboarding/components/domain-categories/style.scss
  client/landing/gutenboarding/components/domain-picker-modal/style.scss
  client/landing/gutenboarding/components/domain-picker-popover/index.tsx
  client/landing/gutenboarding/components/domain-picker-popover/style.scss
  client/landing/gutenboarding/components/domain-picker/index.tsx
  client/landing/gutenboarding/components/domain-picker/style.scss
  config/development.json
Labels: [Goal] Gutenboarding

#41681 Gutenboarding: Show 10 domain suggestions in domain picker modal.
  client/landing/gutenboarding/components/domain-picker-modal/index.tsx
  client/landing/gutenboarding/components/domain-picker/index.tsx
  client/landing/gutenboarding/hooks/use-domain-suggestions.ts
Labels: Domains, [Goal] Gutenboarding

#41687 Update stylelint scales
  .stylelintrc
  yarn.lock
Labels: Build, [Status] Needs Review, [Type] Janitorial

#41653 Task Card: Adds additional config options
  client/my-sites/customer-home/cards/tasks/style.scss
  client/my-sites/customer-home/cards/tasks/task.jsx
Labels: Customer Home, [Status] Needs Review

#41699 My Home: Add stats for the CTAs of Task cards.
  client/my-sites/customer-home/cards/tasks/task.jsx
Labels: Customer Home, [Pri] Normal, [Status] Needs Review, [Type] Task

#41641 Page list: Display a <span/> instead of a <a/> if the page is trashed
  client/blocks/post-item/index.jsx
  client/my-sites/pages/page/index.js
Labels: OSS Citizen, Pages, [Status] Needs Review

#41677 Jetpack Scan: Updates to the Main Scan component with wording.
  client/landing/jetpack-cloud/sections/scan/main.tsx
Labels: Jetpack, Jetpack Cloud, [Status] In Progress, [Status] Needs Design Review

#41693 Safeguards for primary site redirection
  client/landing/jetpack-cloud/sections/home.tsx
Labels: Jetpack Cloud, [Size] S, [Status] Ready to Merge

#41717 Remove Earth Day Live setting
  client/my-sites/site-settings/form-general.jsx
Labels: [Status] Needs Review

#41708 My Home: Janitorial enhancements
  client/my-sites/customer-home/cards/tasks/site-setup-list/get-task.js
  client/my-sites/customer-home/cards/tasks/site-setup-list/index.jsx
  client/my-sites/customer-home/cards/tasks/site-setup-list/style.scss
  client/my-sites/customer-home/cards/tasks/style.scss
  client/state/current-user/email-verification/actions.js
  client/state/current-user/email-verification/test/actions.js
  client/state/data-layer/wpcom/me/send-verification-email/index.js
  client/state/data-layer/wpcom/me/send-verification-email/test/index.js
Labels: Customer Home, [Status] Needs Review, [Type] Janitorial

#41707 Gutenboarding: sends null for extra.username_hint to users/new endpoint
  client/landing/gutenboarding/components/signup-form/index.tsx
  packages/data-stores/src/user/types.ts
Labels: [Goal] Gutenboarding, [Type] Bug

#39657 Add typings for user
  client/gravatar/types.ts
  client/languages.ts
  client/lib/user/index.d.ts
  client/lib/user/user.d.ts
  client/types.ts
Labels: [Status] Needs Review

#41575 Update header button styling and full width block margins for Gutenberg v8.0.0
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/editor/style.scss
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/plugins/close-button-override/style.scss
Labels: [Goal] Full Site Editing, [Goal] Gutenberg, [Status] Needs Review

#41507 Add two new properties to <PlansFeaturesMain> component for hiding Personal and Premium plans.
  client/my-sites/plans-features-main/index.jsx
  client/my-sites/plans-features-main/test/index.jsx
Labels: Components, [Status] Needs Review

#41512 <PlansFeaturesMain>: Center the only 1 remaing plan card.
  client/my-sites/plan-features/style.scss
Labels: Components, [Status] Needs Review

#41666 i18n: Trim down language manifest hashes
  bin/build-languages.js
Labels: Build, [Status] Needs Review, i18n

#41526 <PlanFeaturesMain>: When `hidePersonalPlan` and `hidePremiumPlan` are both set, hide the segment toggle and show only the business and eCommerce plans.
  client/my-sites/plans-features-main/index.jsx
Labels: Components, [Status] Needs Review

#41738 Update `diff` and work around tree-shaking issues
  client/components/diff-viewer/index.jsx
  client/lib/text-utils/index.js
  client/package.json
  yarn.lock
Labels: Performance, [Status] Needs Review, [Type] Janitorial

#41673 Change button alignment on auto-renew disable dialog
  client/me/purchases/manage-purchase/auto-renew-toggle/auto-renew-disabling-dialog/index.jsx
  client/me/purchases/manage-purchase/auto-renew-toggle/auto-renew-disabling-dialog/style.scss
Labels: Purchases, [Status] Needs Review

#41710 Rename the section from "Status" to "Latest Backups" (menu item and title)
  client/landing/jetpack-cloud/components/sidebar/index.jsx
  client/landing/jetpack-cloud/sections/backups/main.jsx
Labels: Jetpack Cloud, [Status] Ready to Merge

#41714 Jetpack Cloud: let users ignore threats from the history section
  client/landing/jetpack-cloud/components/scan-history-item/index.tsx
  client/landing/jetpack-cloud/components/scan-threats/index.tsx
  client/landing/jetpack-cloud/components/threat-description/index.tsx
  client/landing/jetpack-cloud/components/threat-item-header/index.tsx
  client/landing/jetpack-cloud/components/threat-item-subheader/index.tsx
  client/landing/jetpack-cloud/components/threat-item-subheader/style.scss
  client/landing/jetpack-cloud/components/threat-item/index.tsx
  client/landing/jetpack-cloud/components/threat-item/style.scss
  client/landing/jetpack-cloud/lib/useThreats.ts
  client/landing/jetpack-cloud/sections/scan/history/index.jsx
Labels: Jetpack Cloud, [Size] M, [Status] Needs Review, [Status] Ready to Merge

#41722 My Home: Update copy on webinar task card
  client/my-sites/customer-home/cards/tasks/webinars/index.jsx
Labels: Customer Home, [Status] Needs Review

#41720 My Home: Update illustration for domain task card
  client/assets/images/customer-home/illustration--task-find-domain.svg
  client/my-sites/customer-home/cards/tasks/find-domain/index.jsx
Labels: Customer Home, [Status] Needs Review

#41419 JITMs: Update JITM default template to use UpsellNudge rather than Banner
  client/blocks/jitm/templates/default.jsx
  client/blocks/upsell-nudge/index.jsx
  client/blocks/upsell-nudge/style.scss
Labels: Marketing, [Status] Needs Review

#41423 FSE: Introduce a new block Posts Carousel
  apps/full-site-editing/.gitignore
  apps/full-site-editing/bin/sync-newspack-blocks.sh
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/README.md
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/index.php
  apps/full-site-editing/full-site-editing-plugin/blog-posts-block/view.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/newspack-blocks/README.md
  apps/full-site-editing/full-site-editing-plugin/newspack-blocks/blog-posts-block-editor.js
  apps/full-site-editing/full-site-editing-plugin/newspack-blocks/blog-posts-block-view.js
  apps/full-site-editing/full-site-editing-plugin/newspack-blocks/carousel-block-editor.js
  apps/full-site-editing/full-site-editing-plugin/newspack-blocks/carousel-block-view.js
  apps/full-site-editing/full-site-editing-plugin/newspack-blocks/index.php
  apps/full-site-editing/package.json
  yarn.lock
Labels: [Goal] Full Site Editing, [Status] Needs Review, [Type] Enhancement

#41742 My Home: Quick links expanded by default
  client/state/home/reducer.js
  client/state/selectors/is-home-quick-links-expanded.js
Labels: Customer Home, [Status] Needs Review

#41112 My Home: Add a Quick Start Session card.
  client/me/concierge/index.js
  client/my-sites/customer-home/cards/features/quick-start/index.js
  client/my-sites/customer-home/cards/features/quick-start/style.scss
  client/my-sites/customer-home/controller.jsx
  client/my-sites/customer-home/locations/tertiary/manage-site/index.jsx
  client/my-sites/customer-home/style.scss
  client/state/reducer.js
Labels: Customer Home, [Status] Needs Review, [Type] Task

#41644 Disable dotcom FSE by default on local sites.
  apps/full-site-editing/full-site-editing-plugin/dotcom-fse/helpers.php
Labels: [Goal] Full Site Editing, [Type] Enhancement

#41747 i18n: Enable translation chunks for stage
  config/stage.json
Labels: [Status] Needs Review, i18n

#41763 Lasagna: add jwtType param to fetcher fn
  client/state/lasagna/middleware.js
Labels: [Status] Needs Review

#41461 Premium Content in FSE
  apps/full-site-editing/.wp-env.json
  apps/full-site-editing/bin/setup-env.sh
  apps/full-site-editing/dev-plugin/dev.php
  apps/full-site-editing/dev-plugin/premium-content/class-mock-subscription-service.php
  apps/full-site-editing/dev-plugin/premium-content/class-paywall-response.php
  apps/full-site-editing/dev-plugin/premium-content/jetpack-stubs.php
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/blocks.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/context.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/controls.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/edit.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/index.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/inspector.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/new-plan.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/plan.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/plans.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/save.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/stripe-nudge.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/tab.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/tabs.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/logged-out-view/edit.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/logged-out-view/index.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/logged-out-view/save.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/logged-out-view/submit-buttons.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/subscriber-view/edit.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/subscriber-view/index.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/subscriber-view/save.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/editor.css
  apps/full-site-editing/full-site-editing-plugin/premium-content/index.js
  apps/full-site-editing/full-site-editing-plugin/premium-content/premium-content-dom.php
  apps/full-site-editing/full-site-editing-plugin/premium-content/premium-content.php
  apps/full-site-editing/full-site-editing-plugin/premium-content/style.css
  apps/full-site-editing/full-site-editing-plugin/premium-content/subscription-service/class-jetpack-token-subscription-service.php
  apps/full-site-editing/full-site-editing-plugin/premium-content/subscription-service/class-jwt.php
  apps/full-site-editing/full-site-editing-plugin/premium-content/subscription-service/class-subscription-service.php
  apps/full-site-editing/full-site-editing-plugin/premium-content/subscription-service/class-token-subscription-service.php
  apps/full-site-editing/full-site-editing-plugin/premium-content/subscription-service/class-token-subscription.php
  apps/full-site-editing/full-site-editing-plugin/premium-content/subscription-service/class-unconfigured-subscription-service.php
  apps/full-site-editing/full-site-editing-plugin/premium-content/subscription-service/class-wpcom-token-subscription-service.php
  apps/full-site-editing/full-site-editing-plugin/premium-content/subscription-service/include.php
  apps/full-site-editing/full-site-editing-plugin/premium-content/view.js
  apps/full-site-editing/package.json
Labels: Earn

#41761 Concierge: Remove async loading of the reducer.
  client/me/concierge/index.js
  client/me/purchases/index.js
  client/state/reducer.js
Labels: Concierge, Purchases, [Status] Needs Review

#41439 Phase Out WordPress Blue From the UI
  bin/audit-svg-colors.js
  client/assets/images/color-schemes/color-scheme-thumbnail-classic-blue.svg
  client/assets/images/color-schemes/color-scheme-thumbnail-classic-bright.svg
  packages/calypso-color-schemes/src/shared/color-schemes/_default.scss
  static/images/illustrations/gutenberg-mini.svg
  static/images/illustrations/gutenberg.svg
Labels: Color Schemes, Design, [Status] Needs Review

#41662 Gutenboarding: redirect to editor after emptying checkout cart
  client/lib/checkout/index.js
  client/my-sites/checkout/checkout/checkout-container.jsx
  client/my-sites/checkout/checkout/index.jsx
Labels: Checkout, [Goal] Gutenboarding, [Status] Needs Review

#41740 Gutenboarding: Fix vertical suggestions not matching/highlighting input with trailing spaces.
  packages/components/src/suggestions/item.jsx
Labels: [Goal] Gutenboarding

#41539 Add/rum monitoring
  client/document/index.jsx
  client/lib/performance-tracking/api.js
  client/lib/performance-tracking/components/performance-tracker-install.jsx
  client/lib/performance-tracking/components/performance-tracker-stop.jsx
  client/lib/performance-tracking/index.js
  client/my-sites/customer-home/index.js
  client/my-sites/customer-home/locations/primary/index.jsx
  client/my-sites/index.js
  client/my-sites/plan-features/index.jsx
  client/my-sites/plans/index.js
  client/my-sites/plans/test/index.js
  client/my-sites/sites/index.jsx
  client/my-sites/stats/index.js
  client/my-sites/stats/stats-chart-tabs/index.jsx
  client/my-sites/stats/test/index.js
  config/_shared.json
  config/development.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Performance, [Status] Needs Review

#41715 Fix the styles of Jetpack Cloud Settings section
  client/landing/jetpack-cloud/components/server-credentials-form/index.jsx
  client/landing/jetpack-cloud/components/with-server-credentials-form/index.jsx
  client/landing/jetpack-cloud/sections/settings/images/server-connected.svg
  client/landing/jetpack-cloud/sections/settings/images/server-disconnected.svg
  client/landing/jetpack-cloud/sections/settings/main.jsx
  client/landing/jetpack-cloud/sections/settings/style.scss
  client/landing/jetpack-cloud/style.scss
Labels: Jetpack Cloud, [Status] Needs Review

#41711 Gutenboarding: Added domain category dropdown for mobile view.
  client/landing/gutenboarding/components/domain-categories/index.tsx
  client/landing/gutenboarding/components/domain-categories/style.scss
  client/landing/gutenboarding/components/domain-picker-modal/style.scss
  client/landing/gutenboarding/components/domain-picker/style.scss
Labels: Domains, [Goal] Gutenboarding, [Status] Needs Design Review, [Status] Needs Review

#41790 Do not show console logs for lux operations
  client/lib/performance-tracking/api.js
Labels: [Status] Needs Review

#41774 Fix Starter Page Template title centration for Gutenberg 8.0
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/block-preview.js
Labels: [Goal] Gutenberg, [Goal] Page Templates

#41746 i18n: Fix translation chunks setup for Gutenboarding
  client/landing/gutenboarding/index.tsx
  packages/data-stores/src/user/types.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review, i18n

#41743 Domains Use enhanced navigation for free subdomains
  client/my-sites/domains/domain-management/edit/domain-types/wpcom-domain-type.jsx
  client/my-sites/domains/domain-management/edit/navigation/enhanced.jsx
Labels: Domains, [Status] Needs Review

#41679 Gutenboarding: get plan from URL param
  client/landing/gutenboarding/components/plans-button/index.tsx
  client/landing/gutenboarding/lib/plans.ts
  client/landing/gutenboarding/path.ts
Labels: Plans, [Goal] Gutenboarding

#41718 Jetpack Cloud: Initiate a scan when the user hits 'Scan Now'
  client/landing/jetpack-cloud/sections/scan/main.tsx
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/scan/enqueue/index.js
  client/state/jetpack-scan/enqueue/actions.js
  client/state/jetpack-scan/enqueue/reducer.js
  client/state/jetpack-scan/reducer.js
Labels: Jetpack Cloud, [Status] Ready to Merge

#41751 Jetpack Cloud: translate the status of a threat
  client/landing/jetpack-cloud/components/threat-item-subheader/index.tsx
Labels: Jetpack Cloud, [Status] Ready to Merge

#41558 Typography: Update font-weight: 700 to font-weight: 600
  .stylelintrc
  client/blocks/reader-combined-card/style.scss
  client/blocks/reader-full-post/_content.scss
  client/blocks/reader-full-post/style.scss
  client/blocks/reader-related-card/style.scss
  client/blocks/support-article-dialog/content.scss
  client/components/language-picker/style.scss
  client/components/product-card/style.scss
  client/components/select-dropdown/style.scss
  client/components/tinymce/iframe.scss
  client/components/tinymce/plugins/wpcom-charmap/style.scss
  client/components/tinymce/plugins/wpcom-help/style.scss
  client/extensions/woocommerce/components/list/list-header/style.scss
  client/landing/gutenboarding/components/domain-categories/style.scss
  client/my-sites/checkout/upsell-nudge/concierge-quickstart-session/style.scss
  client/my-sites/checkout/upsell-nudge/concierge-support-session/style.scss
  client/my-sites/domains/domain-management/list/style.scss
  client/my-sites/people/people-invite-details/style.scss
  client/my-sites/plan-features/style.scss
  client/my-sites/plans-features-main/style.scss
  client/reader/style.scss
Labels: [Status] Needs Review, [Type] Janitorial

#41665 Deduplicate strip-json-comments
  yarn.lock
Labels: Framework, [Status] Needs Review

#41668 Deduplicate yargs-parser
  yarn.lock
Labels: Framework, [Status] Needs Review

#41791 My Home: Menu Task - Update Action
  client/my-sites/customer-home/cards/tasks/site-setup-list/get-task.js
Labels: Customer Home, OSS Citizen, [Status] Needs Review

#41739 Use NPM to install test/e2e deps
  .circleci/config.yml
  test/e2e/package-lock.json
  test/e2e/package.json
Labels: [Status] Needs Review

#41757 FSE: remove obsolete CircleCI jobs
  .circleci/config.yml
Labels: [Status] Needs Review

#41817 FSE: bump newspack-blocks version to 1.4.0
  apps/full-site-editing/full-site-editing-plugin/newspack-blocks/index.php
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing, [Status] Needs Review

#41818 FSE: readd posts carousel view js
  apps/full-site-editing/full-site-editing-plugin/newspack-blocks/index.php
Labels: [Goal] Full Site Editing, [Status] Needs Review

#41762 Add note about check-npm-client to monorepo docs
  docs/monorepo.md
Labels: [Status] Needs Review

#41770 My Home: Disable the "launch site" action on completion.
  client/my-sites/customer-home/cards/tasks/site-setup-list/get-task.js
  client/my-sites/customer-home/cards/tasks/site-setup-list/index.jsx
Labels: Customer Home, [Status] Needs Review, [Type] Bug

#41764 My Home: Add a Quick Start card.
  client/my-sites/customer-home/cards/features/quick-start/index.js
  client/my-sites/customer-home/cards/features/quick-start/style.scss
  client/my-sites/customer-home/controller.jsx
  client/my-sites/customer-home/locations/tertiary/manage-site/index.jsx
  client/my-sites/customer-home/style.scss
Labels: Customer Home, [Status] Needs Review, [Type] Task

#41829 My Home: Add a video icon beside the Free Photo Library prompt.
  client/my-sites/customer-home/cards/education/free-photo-library/index.jsx
Labels: Customer Home, [Status] Needs Review, [Type] Bug

#41832 My Home: Fix logic determining the description of notices in i1.
  client/my-sites/customer-home/main.jsx
Labels: Customer Home, [Status] Needs Review, [Type] Bug

#32457 Site Settings: Remove Disabled Input for WordPress Version
  client/my-sites/site-settings/form-general.jsx
  client/my-sites/site-settings/style.scss
Labels: Jetpack, OSS Citizen, Site Settings, [Status] Needs Rebase

#34722 Plan Features FAQ: Include eCommerce Plan
  client/my-sites/plans-features-main/wpcom-faq.jsx
Labels: OSS Citizen, Plans, [Status] String Freeze

#39020 Plugins: Prevent Atomic Sites Installing Incompatible Ones
  client/my-sites/plugins/plugin-compatibility.js
  client/my-sites/plugins/plugin-install-button/index.jsx
  client/my-sites/plugins/plugin-meta/index.jsx
Labels: OSS Citizen, Plugins, [Status] Needs Review, [Status] String Freeze

#34230 Stats: Ensure Sparkline Appears when Selected
  client/my-sites/sidebar/style.scss
Labels: OSS Citizen, Stats, [Status] Needs Rebase

#41839 Plan Features FAQ: minor grammar update after #34722
  client/my-sites/plans-features-main/wpcom-faq.jsx
Labels: Plans, [Status] String Freeze

#40271 State: Create media selected items reducer, action creators and selectors
  client/state/action-types.js
  client/state/media/actions.js
  client/state/media/reducer.js
  client/state/media/test/reducer.js
  client/state/selectors/get-media-library-selected-items.js
  client/state/selectors/test/get-media-library-selected-items.js
Labels: Media, State, [Status] Needs Review, [Tests] Includes Tests, [Type] Enhancement

#41782 Gutenboarding: Update create-site step to redirect to IntentGathering if not creating a site
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/onboarding-block/create-site/create-and-redirect.tsx
  client/landing/gutenboarding/onboarding-block/create-site/index.tsx
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  client/landing/gutenboarding/stores/onboard/selectors.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#41840 Gutenboarding: Prefix track event names with `calypso_newsite_`
  client/landing/gutenboarding/lib/analytics/index.ts
Labels: Analytics, [Goal] Gutenboarding, [Status] Needs Review

#41810 Gutenboarding: position vertical select cursor correctly
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/index.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/style.scss
Labels: [Goal] Gutenboarding

#41670 Add the selector to extract marketing price group value.
  client/state/current-user/constants.js
  client/state/selectors/get-current-user-marketing-price-group.js
  client/state/selectors/test/get-current-user-marketing-price-group.js
Labels: State, [Status] Needs Review

#41786 Show new checkout in the Gutenboarding launch flow
  client/gutenberg/editor/calypsoify-iframe.tsx
Labels: Checkout, [Goal] Gutenboarding, [Status] Needs Review

#41731 Gutenboarding: Show fixed footer on domain picker modal for mobile view.
  client/landing/gutenboarding/components/domain-picker-modal/style.scss
  client/landing/gutenboarding/components/domain-picker/style.scss
Labels: Domains, [Goal] Gutenboarding, [Status] Needs Review

#41735 Jetpack Cloud: Fix jetpack scanner last scan time
  client/landing/jetpack-cloud/sections/scan/main.tsx
Labels: Jetpack, Jetpack Cloud, [Status] Needs Review

#41796 Jetpack Cloud: Fix scanner threat name and width
  client/landing/jetpack-cloud/components/threat-item-subheader/index.tsx
  client/landing/jetpack-cloud/components/threat-item/style.scss
Labels: Jetpack, Jetpack Cloud, [Status] Needs Review

#41797 Modularise concierge state
  client/state/concierge/actions.js
  client/state/concierge/init.js
  client/state/concierge/package.json
  client/state/concierge/reducer.js
  client/state/reducer.js
  client/state/selectors/get-concierge-appointment-details.js
  client/state/selectors/get-concierge-appointment-timespan.js
  client/state/selectors/get-concierge-available-times.js
  client/state/selectors/get-concierge-has-available-sessions.js
  client/state/selectors/get-concierge-next-appointment.js
  client/state/selectors/get-concierge-schedule-id.js
  client/state/selectors/get-concierge-signup-form.js
Labels: Performance, State, [Status] Needs Review, [Type] Janitorial

#41852 My Home: Mark webinars task as completed when clicking on action button
  client/my-sites/customer-home/cards/tasks/task.jsx
  client/my-sites/customer-home/cards/tasks/webinars/index.jsx
Labels: Customer Home, [Status] Needs Review

#41712 My Home: Activate new layout on production
  client/my-sites/customer-home/cards/tasks/site-setup-list/nav-item.jsx
  config/desktop.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
  test/e2e/lib/pages/checklist-page.js
Labels: Customer Home, [Status] Needs Review

#41821 Remove unused selectors from my-sites sidebar
  client/my-sites/sidebar/index.jsx
Labels: Sidebar, [Status] Needs Review, [Type] Janitorial

#38650 Podcast Settings: Add Extra Save Button
  client/my-sites/site-settings/podcasting-details/index.jsx
  client/my-sites/site-settings/podcasting-details/style.scss
Labels: OSS Citizen, Podcasting, [Status] Ready to Merge

#41672 Jetpack Cloud: Remove summarized backup card from real-time backup for some cases
  client/landing/jetpack-cloud/components/daily-backup-status/index.jsx
Labels: Jetpack Cloud, [Status] Ready to Merge

#41671 Jetpack Cloud: Re-namespace the DatePicker component to BackupDatePicker
  client/landing/jetpack-cloud/components/activity-card/action-bar.tsx
  client/landing/jetpack-cloud/components/backup-date-picker/index.jsx
  client/landing/jetpack-cloud/components/backup-date-picker/style.scss
  client/landing/jetpack-cloud/sections/backups/main.jsx
  static/images/illustrations/download.svg
Labels: Jetpack Cloud, [Status] Ready to Merge

#41433 Plans: Make the Jetpack Scan Product available for purchase
  config/desktop-development.json
  config/desktop.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Jetpack, Plans, [Status] Needs Review

#41814 DevDocs: Update instances of Banner
  client/components/banner/README.md
  client/components/banner/docs/example.jsx
Labels: DevDocs, [Status] Needs Review, [Type] Janitorial

#41794 WP for Teams: add descriptions to user roles and special handling for WP4Teams sites
  client/my-sites/people/role-select/constants.js
  client/my-sites/people/role-select/index.jsx
  client/my-sites/people/role-select/style.scss
Labels: People Management, [Status] Needs Review

#41398 Import test/e2e into the monorepo
  .circleci/config.yml
  package.json
  test/e2e/package.json
  yarn.lock
Labels: [Status] In Progress, [Status] Needs Review

#41869 e2e: Skip the premium them test
  test/e2e/specs/wp-signup-spec.js
Labels: [Status] Needs Review

#41557 Earn: Swap UpgradeNudgeExpanded for UpsellNudge
  client/my-sites/earn/ads/wrapper.jsx
Labels: Marketing, [Status] Needs Review

#41868 TinyMCE: Remove unused Memberships code
  client/components/tinymce/plugins/simple-payments/dialog/membershipProductForm.jsx
  client/components/tinymce/plugins/simple-payments/dialog/memberships.jsx
  client/components/tinymce/plugins/simple-payments/memberships-plugin.jsx
Labels: [Status] Needs Review, [Type] Janitorial

#41823 Cloud: Changes scan error text
  client/landing/jetpack-cloud/sections/scan/main.tsx
Labels: Jetpack Cloud, [Status] Needs Copy Review, [Status] Ready to Merge

#41872 Remove unused package-lock.json
  test/e2e/package-lock.json
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#40272 Media: Dispatch deletion and selected items update actions from flux actions
  client/lib/media/actions.js
  client/lib/media/test/actions.js
Labels: Media, State, [Status] Needs Review, [Type] Enhancement

#41826 Jetpack Cloud: add error message when scan fails and threats were found
  client/landing/jetpack-cloud/components/scan-threats/index.tsx
  client/landing/jetpack-cloud/components/scan-threats/style.scss
  client/landing/jetpack-cloud/lib/trigger-scan-run.ts
  client/landing/jetpack-cloud/lib/use-threats.ts
  client/landing/jetpack-cloud/sections/scan/history/index.jsx
  client/landing/jetpack-cloud/sections/scan/main.tsx
  client/landing/jetpack-cloud/sections/scan/style.scss
Labels: Jetpack Cloud, [Status] Ready to Merge

#41816 Domains: Add Luhn check for SIREN/SIRET values
  client/components/domains/registrant-extra-info/fr-form.jsx
  client/components/domains/registrant-extra-info/fr-validate-contact-details.js
  client/components/domains/registrant-extra-info/test/fr-validate-contact-details.js
Labels: Domains, [Status] Ready to Merge

#41870 FSE: Fix Block Pattern markup on call-to-action-02 when CoBlocks is active
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/call-to-action-02.php
Labels: [Goal] Full Site Editing

#41875 My Home: Clean up margins and typography
  client/my-sites/customer-home/cards/actions/quick-links-compact/style.scss
  client/my-sites/customer-home/cards/actions/quick-links/style.scss
  client/my-sites/customer-home/cards/education/educational-content/style.scss
  client/my-sites/customer-home/cards/features/support/style.scss
  client/my-sites/customer-home/cards/tasks/style.scss
  client/my-sites/customer-home/style.scss
Labels: Customer Home, [Status] Needs Review

#41889 My Home: Avoid fatals when completing the checklist.
  client/my-sites/customer-home/cards/tasks/site-setup-list/index.jsx
Labels: Customer Home, [Pri] High, [Status] Needs Review

#41811 Checkout: add support link to summary
  client/my-sites/checkout/composite-checkout/record-analytics.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-summary.js
  client/state/help/ticket/selectors.js
Labels: Checkout, [Status] Needs Review

#41780 redirect passwordless login users to /create-site?new
  client/landing/gutenboarding/components/signup-form/index.tsx
Labels: [Status] Needs Review

#41849 Block editor: remove page layout preview from sidebar
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/class-starter-page-templates.php
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/index.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/components/sidebar-modal-opener.js
  apps/full-site-editing/full-site-editing-plugin/starter-page-templates/page-template-modal/styles/starter-page-templates-editor.scss
Labels: [Goal] Editor Improvements, [Goal] Gutenboarding, [Goal] Page Templates, [Status] Needs Review

#41592 Editor: Update Switch to Classic Editor link
  client/blocks/inline-help/popover.jsx
  client/state/data-layer/wpcom/sites/gutenberg/index.js
  config/development.json
Labels: [Status] Needs Review

#41736 Gutenboarding: Added experimental cancel button on domain picker.
  client/landing/gutenboarding/components/domain-picker-button/index.tsx
  client/landing/gutenboarding/components/domain-picker-modal/style.scss
  client/landing/gutenboarding/components/domain-picker/index.tsx
  client/landing/gutenboarding/components/domain-picker/style.scss
Labels: Domains, [Goal] Gutenboarding

#41909 Gutenboarding: Add preview to font selection page in mobile view (drop-down variant)
  client/landing/gutenboarding/components/bottom-bar-mobile/index.tsx
  client/landing/gutenboarding/components/bottom-bar-mobile/style.scss
  client/landing/gutenboarding/mixins.scss
  client/landing/gutenboarding/onboarding-block/style-preview/font-select.tsx
  client/landing/gutenboarding/onboarding-block/style-preview/index.tsx
  client/landing/gutenboarding/onboarding-block/style-preview/style.scss
  client/landing/gutenboarding/variables.scss
Labels: [Goal] Gutenboarding, [Status] Needs Review

#41733 Update the test split from 5/95 to 100/0 on ATPrivacy test
  client/lib/abtest/active-tests.js
Labels: Private by Default, [Status] Needs Review

#41741 Disable page transitions when user prefers reduced motion
  client/landing/gutenboarding/onboarding-block/style.scss
Labels: [Goal] Gutenboarding, [Status] Needs Review

#41861 Hide "More backups from today" when we don't have backup today
  client/landing/jetpack-cloud/sections/backups/main.jsx
Labels: Jetpack Cloud, [Status] Needs Review

#41855 My Home: Remove old locations and cards
  client/components/main/style.scss
  client/my-sites/customer-home/cards/actions/quick-links-compact/index.jsx
  client/my-sites/customer-home/cards/actions/quick-links-compact/style.scss
  client/my-sites/customer-home/cards/actions/quick-links/index.jsx
  client/my-sites/customer-home/cards/actions/quick-links/style.scss
  client/my-sites/customer-home/cards/actions/wp-for-teams-quick-links-compact/index.jsx
  client/my-sites/customer-home/cards/actions/wp-for-teams-quick-links/index.jsx
  client/my-sites/customer-home/cards/education/free-photo-library-compact/index.jsx
  client/my-sites/customer-home/cards/education/free-photo-library-compact/style.scss
  client/my-sites/customer-home/cards/education/mastering-gutenberg-compact/index.jsx
  client/my-sites/customer-home/cards/education/mastering-gutenberg-compact/style.scss
  client/my-sites/customer-home/cards/education/webinars-compact/index.jsx
  client/my-sites/customer-home/cards/education/webinars-compact/style.scss
  client/my-sites/customer-home/cards/features/grow-earn/index.jsx
  client/my-sites/customer-home/cards/features/launch-site/index.jsx
  client/my-sites/customer-home/cards/features/launch-site/style.scss
  client/my-sites/customer-home/cards/features/stats-v2/index.jsx
  client/my-sites/customer-home/cards/features/stats-v2/style.scss
  client/my-sites/customer-home/cards/features/stats/index.jsx
  client/my-sites/customer-home/cards/features/stats/style.scss
  client/my-sites/customer-home/cards/tasks/checklist-site-setup/index.jsx
  client/my-sites/customer-home/cards/tasks/checklist-site-setup/style.scss
  client/my-sites/customer-home/cards/tasks/checklist-site-setup/wpcom-checklist/component.jsx
  client/my-sites/customer-home/cards/tasks/checklist-site-setup/wpcom-checklist/index.jsx
  client/my-sites/customer-home/cards/tasks/site-setup-list/style.scss
  client/my-sites/customer-home/locations/notices/index.jsx
  client/my-sites/customer-home/locations/primary/index.jsx
  client/my-sites/customer-home/locations/secondary/index.jsx
  client/my-sites/customer-home/locations/secondary/learn-grow/index.jsx
  client/my-sites/customer-home/locations/tertiary/index.jsx
  client/my-sites/customer-home/locations/tertiary/manage-site/index.jsx
  client/my-sites/customer-home/locations/upsells/index.jsx
  client/my-sites/customer-home/main.jsx
  client/my-sites/customer-home/style.scss
  client/state/data-layer/wpcom/sites/home/layout/index.js
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Customer Home, [Status] Needs Review

#41905 Gutenboarding: remove constant domain suggestions vendor
  client/landing/gutenboarding/components/domain-picker/suggestion-item.tsx
  client/landing/gutenboarding/constants.ts
  client/landing/gutenboarding/hooks/use-domain-suggestions.ts
  client/landing/gutenboarding/stores/domain-suggestions/index.ts
  client/landing/gutenboarding/utils/domain-suggestions.ts
Labels: [Goal] Gutenboarding, [Status] Ready to Merge

#41878 Add modularized state documentation
  client/state/reducer.js
  docs/modularized-state.md
  docs/our-approach-to-data.md
Labels: Documentation, State, [Status] Needs Review

#41864 Gutenboarding: Plans grid HTML mockup.
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/onboarding-block/plans/index.tsx
  client/landing/gutenboarding/onboarding-block/plans/mock-data.ts
  client/landing/gutenboarding/onboarding-block/plans/plan-details.tsx
  client/landing/gutenboarding/onboarding-block/plans/plan-item.tsx
  client/landing/gutenboarding/onboarding-block/plans/style.scss
  client/landing/gutenboarding/path.ts
Labels: [Goal] Gutenboarding

#41871 Eliminate the duplicated code in `createAccount()`.
  client/lib/signup/step-actions/index.js
Labels: [Status] Needs Review

#41857 Gutenboarding: Add plans grid working prototype
  client/landing/gutenboarding/components/action-buttons/index.tsx
  client/landing/gutenboarding/components/action-buttons/style.scss
  client/landing/gutenboarding/components/domain-picker-modal/style.scss
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/components/plans-button/index.tsx
  client/landing/gutenboarding/components/plans-button/style.scss
  client/landing/gutenboarding/components/plans/plans-button/index.tsx
  client/landing/gutenboarding/components/plans/plans-button/style.scss
  client/landing/gutenboarding/components/plans/plans-grid/index.tsx
  client/landing/gutenboarding/components/plans/plans-grid/style.scss
  client/landing/gutenboarding/components/plans/plans-modal/index.tsx
  client/landing/gutenboarding/components/plans/plans-modal/style.scss
  client/landing/gutenboarding/lib/plans.ts
  client/landing/gutenboarding/mixins.scss
  client/landing/gutenboarding/onboarding-block/style.scss
  config/development.json
  config/stage.json
  config/wpcalypso.json
Labels: [Goal] Gutenboarding, [Status] Ready to Merge

#41676 Price group: hiding plans according to the price group.
  client/lib/signup/step-actions/index.js
  client/my-sites/plans/main.jsx
  client/signup/config/steps-pure.js
  client/signup/steps/plans/index.jsx
  client/state/selectors/get-current-user-marketing-price-group.js
Labels: Marketing, [Status] Needs Review

#40406 Edits to My Plans
  client/blocks/product-purchase-features-list/advertising-removed.jsx
  client/blocks/product-purchase-features-list/business-onboarding.jsx
  client/blocks/product-purchase-features-list/custom-css.jsx
  client/blocks/product-purchase-features-list/customize-theme.jsx
  client/blocks/product-purchase-features-list/find-new-theme.jsx
  client/blocks/product-purchase-features-list/google-my-business.js
  client/blocks/product-purchase-features-list/sell-online-paypal.jsx
  client/blocks/product-purchase-features-list/site-activity.jsx
  client/blocks/product-purchase-features-list/test/video-audio-posts.jsx
  client/blocks/product-purchase-features-list/video-audio-posts.jsx
  client/my-sites/plans/current-plan/my-plan-card/style.scss
Labels: [Status] Needs Review

#41866 Domains: Add link to change email when domain is pending verification
  client/my-sites/domains/domain-management/components/email-verification/index.jsx
  client/my-sites/domains/domain-management/components/email-verification/style.scss
  client/my-sites/domains/domain-management/components/icann-verification/index.jsx
  client/my-sites/domains/domain-management/edit-contact-info/form-card.jsx
Labels: Domains, [Status] Ready to Merge

#41907 Checkout: Return to domain status page from empty cart when removing renewal
  client/lib/checkout/index.js
  client/my-sites/checkout/checkout/index.jsx
Labels: Checkout, Domains, [Status] Needs Review

#41830 Checkout: add ability to toggle summary on mobile
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-summary.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  packages/composite-checkout/src/components/checkout-steps.js
Labels: Checkout, [Status] Needs Review

#41809 Delete UpgradeNudge and UpgradeNudgeExpanded
  client/blocks/upgrade-nudge-expanded/README.md
  client/blocks/upgrade-nudge-expanded/docs/example.jsx
  client/blocks/upgrade-nudge-expanded/index.jsx
  client/blocks/upgrade-nudge-expanded/style.scss
  client/blocks/upgrade-nudge/README.md
  client/blocks/upgrade-nudge/docs/example.jsx
  client/blocks/upgrade-nudge/index.jsx
  client/blocks/upgrade-nudge/style.scss
  client/blocks/upgrade-nudge/test/index.js
  client/devdocs/design/blocks.jsx
Labels: [Status] Needs Review, [Type] Janitorial

#41891 Fixes TS issues with Scan component
  client/landing/jetpack-cloud/sections/scan/main.tsx
  client/landing/jetpack-cloud/sections/scan/types.tsx
Labels: Jetpack Cloud, Maintenance, [Status] Needs Review, [Type] Bug

#41691 Changes colors of 404 illustration
  client/landing/jetpack-cloud/style.scss
Labels: Jetpack Cloud, [Size] S, [Status] Needs Design Review

#41494 Add mapped domain enhanced menu
  client/my-sites/domains/domain-management/edit/domain-types/mapped-domain-type.jsx
  client/my-sites/domains/domain-management/edit/navigation/enhanced.jsx
  packages/material-design-icons/src/navigation/outline-double_arrow-24px.svg
  packages/material-design-icons/svg-sprite/material-icons.svg
Labels: Domains, [Status] Needs Review

#41937 FSE: bump newspack-blocks version to 1.5.0
  apps/full-site-editing/full-site-editing-plugin/newspack-blocks/index.php
  apps/full-site-editing/package.json
  yarn.lock
Labels: [Goal] Full Site Editing, [Status] Needs Review

#41837 Jetpack Cloud: Add spacing to elements of ActivityActor on Real-Time Backup Summary
  client/landing/jetpack-cloud/components/daily-backup-status/style.scss
Labels: Jetpack Cloud, [Status] Needs Review

#41945 Settings: Center align "Add custom address" button text
  client/my-sites/site-settings/style.scss
Labels: Site Settings, [Status] Needs Review

#41900 Jetpack Cloud: Don't show backup error when a steam activity has occurred after last backup
  client/landing/jetpack-cloud/sections/backups/main.jsx
Labels: Jetpack Cloud, [Status] Needs Review

#41636 FSE Plugin: new patterns, fix minor typo
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/contact-02.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/contact-03.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/contact.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/headline-02.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/image-and-text.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/numbers.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/recent-posts-02.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/recent-posts.php
  apps/full-site-editing/full-site-editing-plugin/block-patterns/patterns/three-columns-and-image.php
Labels: DO NOT MERGE

#41881 Jetpack Cloud: Use the same font attributes in ActivityCard bottom bar
  client/landing/jetpack-cloud/components/activity-card/style.scss
Labels: Jetpack Cloud, [Status] Needs Review

#41754 Checkout: Update manage domain button for single domain registration purchases
  client/my-sites/checkout/checkout-thank-you/header.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
Labels: Domains, Post Checkout, [Status] Needs Review

#41835 Jetpack Cloud: Fix Activity Card Description Overflow
  client/landing/jetpack-cloud/components/activity-card/style.scss
Labels: Jetpack Cloud, [Status] Needs Review

#41904 Jetpack Cloud: Refine Daily ActivityCards
  client/landing/jetpack-cloud/components/activity-card-list/index.jsx
  client/landing/jetpack-cloud/components/activity-card/index.jsx
Labels: Jetpack Cloud, [Status] Needs Review

#41947 Updates display of scan to use site TZ
  client/landing/jetpack-cloud/lib/wrap-in-site-offset.tsx
  client/landing/jetpack-cloud/sections/backups/controller.js
  client/landing/jetpack-cloud/sections/backups/index.js
  client/landing/jetpack-cloud/sections/scan/index.js
  client/landing/jetpack-cloud/sections/scan/main.tsx
  client/landing/jetpack-cloud/sections/scan/types.tsx
  client/state/data-layer/wpcom/sites/scan/index.js
Labels: Jetpack Cloud, [Size] S, [Type] Bug

#41689 Jetpack Cloud: Fix failed backup state design
  client/landing/jetpack-cloud/components/daily-backup-status/backup-error.svg
  client/landing/jetpack-cloud/components/daily-backup-status/index.jsx
  client/landing/jetpack-cloud/components/daily-backup-status/style.scss
Labels: Jetpack Cloud, [Status] Needs Review

#41822 FSE: Add the "Showcase New Blocks" module
  apps/full-site-editing/full-site-editing-plugin/block-inserter-modifications/README.md
  apps/full-site-editing/full-site-editing-plugin/block-inserter-modifications/index.php
  apps/full-site-editing/full-site-editing-plugin/block-inserter-modifications/new-blocks-showcase.js
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing, [Status] Needs Review

#41956 Jetpack Cloud: update data layer to match the latest changes in the /scan endpoint
  client/landing/jetpack-cloud/sections/scan/types.tsx
  client/state/data-layer/wpcom/sites/scan/index.js
  client/state/selectors/get-site-scan-is-initial.js
  client/state/selectors/get-site-scan-progress.js
Labels: Jetpack Cloud, [Status] Ready to Merge

#41901 Premium Content Block: update Icon
  apps/full-site-editing/full-site-editing-plugin/premium-content/blocks/container/index.js
  apps/full-site-editing/full-site-editing-plugin/readme.txt
Labels: Earn, [Status] Needs Review

#41952 Checkout: add a step description to the default contact information step
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-contact-form.js
Labels: Checkout, [Status] Needs Review

#41886 Fix and improve the styles on Backup Status view
  client/landing/jetpack-cloud/components/backup-delta/index.jsx
  client/landing/jetpack-cloud/components/backup-delta/style.scss
  client/landing/jetpack-cloud/components/daily-backup-status/backup-changes.jsx
  client/landing/jetpack-cloud/components/daily-backup-status/index.jsx
  client/landing/jetpack-cloud/components/daily-backup-status/style.scss
  client/landing/jetpack-cloud/sections/backups/main.jsx
  client/landing/jetpack-cloud/sections/backups/style.scss
Labels: Jetpack Cloud, [Status] Needs Review

#41913 Media: Show an appropriate error when Pexels is unavailable.
  client/lib/media/constants.js
  client/my-sites/media-library/content.jsx
  client/state/media/reducer.js
  client/state/media/test/reducer.js
Labels: Media, [Type] Enhancement

#41908 Update FSE to version 1.3
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/readme.txt
  apps/full-site-editing/package.json
Labels: [Goal] Gutenboarding, [Status] Needs Review

#41391 Editor: Add a deprecation dialog
  client/post-editor/editor-deprecation-dialog/index.jsx
  client/post-editor/editor-deprecation-dialog/style.scss
  client/post-editor/editor-gutenberg-dialogs/index.tsx
  client/post-editor/post-editor.jsx
  client/state/action-types.js
  client/state/selectors/is-editor-deprecation-dialog-showing.js
  client/state/ui/editor-deprecation-dialog/actions.js
  client/state/ui/editor-deprecation-dialog/reducer.js
  client/state/ui/editor-deprecation-dialog/test/actions.js
  client/state/ui/editor-deprecation-dialog/test/reducer.js
  client/state/ui/reducer.js
  config/development.json
  config/test.json
  config/wpcalypso.json
  static/images/illustrations/block-library.svg
  test/e2e/lib/pages/editor-page.js
Labels: Editor, [Status] Ready to Merge, [Type] Enhancement

#41968 Gutenboarding: Fix vertical select placeholder spacing in Firefox
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/index.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/style.scss
Labels: [Goal] Gutenboarding, [Status] Needs Review, [Type] Bug

#41918 Deduplicate regexpu-core
  package.json
  yarn.lock
Labels: Framework, [Status] Needs Review

#41917 Deduplicate regjsparser
  yarn.lock
Labels: Framework, [Status] Needs Review

#41935 Gutenboarding: Integrate PlansTable & PlansDetails into PlansGrid.
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/components/plans/plans-button/index.tsx
  client/landing/gutenboarding/components/plans/plans-details/index.tsx
  client/landing/gutenboarding/components/plans/plans-details/style.scss
  client/landing/gutenboarding/components/plans/plans-grid/index.tsx
  client/landing/gutenboarding/components/plans/plans-grid/style.scss
  client/landing/gutenboarding/components/plans/plans-modal/index.tsx
  client/landing/gutenboarding/components/plans/plans-table/index.tsx
  client/landing/gutenboarding/components/plans/plans-table/plan-item.tsx
  client/landing/gutenboarding/components/plans/plans-table/style.scss
  client/landing/gutenboarding/lib/plans.ts
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/onboarding-block/plans/index.tsx
  client/landing/gutenboarding/path.ts
  client/landing/gutenboarding/stores/plans/actions.ts
  client/landing/gutenboarding/stores/plans/constants.ts
  client/landing/gutenboarding/stores/plans/index.ts
  client/landing/gutenboarding/stores/plans/plans-data.ts
  client/landing/gutenboarding/stores/plans/reducer.ts
  client/landing/gutenboarding/stores/plans/selectors.ts
  client/landing/gutenboarding/stores/plans/types.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#41974 Revert "fix(deps): update wordpress monorepo"
  client/components/select-dropdown/test/index.js
  client/components/token-field/test/index.jsx
  client/landing/gutenboarding/components/header/style.scss
  client/lib/oauth-store/test/index.js
  client/my-sites/checkout/checkout/test/wechat-payment-box.js
  client/my-sites/sidebar/test/sidebar.js
  client/package.json
  package.json
  yarn.lock
Labels: [Status] Needs Review

#41975 Fix and improve the styles on Backup Status view
  client/landing/jetpack-cloud/components/backup-delta/index.jsx
  client/landing/jetpack-cloud/components/backup-delta/style.scss
  client/landing/jetpack-cloud/components/daily-backup-status/backup-changes.jsx
  client/landing/jetpack-cloud/components/daily-backup-status/index.jsx
  client/landing/jetpack-cloud/components/daily-backup-status/style.scss
  client/landing/jetpack-cloud/sections/backups/main.jsx
  client/landing/jetpack-cloud/sections/backups/style.scss
Labels: Jetpack Cloud

#41972 i18n: Prevent translation chunks setup for default locale
  client/boot/locale.js
Labels: [Status] Needs Review, i18n

#41980 Editor deprecation: Allow users to switch to the block editor
  client/post-editor/editor-gutenberg-dialogs/index.tsx
Labels: Editor, [Status] Needs Review

#41688 Checkout: update line item design
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/test/composite-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/wpcom/hooks/use-shopping-cart.ts
  client/my-sites/checkout/composite-checkout/wpcom/lib/translate-cart.ts
  client/my-sites/checkout/composite-checkout/wpcom/test/translate-cart.js
Labels: Checkout, [Status] Needs Review

#41892 Domains: Update Banner to UpsellNudge
  client/my-sites/domains/domain-management/components/domain/non-primary-domain-plan-upsell.jsx
Labels: Domains, [Status] Needs Review

#41977 Gutenboarding: show checkout if user selects a plan
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/gutenboard.tsx
  client/landing/gutenboarding/hooks/use-on-site-creation.ts
Labels: [Goal] Gutenboarding, [Status] Ready to Merge

#41971 Gutenboarding: Add site title placeholder
  client/landing/gutenboarding/onboarding-block/acquire-intent/site-title.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/style.scss
Labels: [Goal] Gutenboarding, [Status] Ready to Merge
