Repository Automattic/wp-calypso, pull requests merged in 2020-04, with the labels that each got.

#40557 Gutenboarding: Login page styled like gutenboarding
  client/blocks/login/index.jsx
  client/blocks/login/login-form.jsx
  client/blocks/login/style.scss
  client/landing/gutenboarding/components/signup-form/index.tsx
  client/layout/logged-out.jsx
  client/lib/paths/login/index.js
  client/lib/paths/login/test/index.js
  client/login/controller.js
  client/login/index.web.js
  client/login/wp-login/index.jsx
  client/login/wp-login/login-links.jsx
  client/login/wp-login/style.scss
Labels: [Goal] Gutenboarding, [Status] Needs Design Review, [Status] Needs Review

#40635 Gutenboarding: pass theme and vertical slugs to sites/new
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/index.tsx
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/types.ts
  packages/data-stores/src/site/types.ts
  packages/data-stores/src/verticals/types.ts
Labels: Sites, [Goal] Gutenboarding, [Status] Needs Review

#40602 i18n: Update localizeUrl for the new WordPress.com URL structure
  client/components/gsuite/gsuite-learn-more/test/__snapshots__/index.js.snap
  client/lib/i18n-utils/test/utils.js
  client/lib/i18n-utils/utils.js
  client/my-sites/domains/components/domain-warnings/test/index.js
  client/my-sites/email/gsuite-purchase-cta/test/__snapshots__/index.js.snap
Labels: i18n

#40616 Minor visual fixes for #40321
  client/landing/gutenboarding/onboarding-block/acquire-intent/arrow.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/index.tsx
Labels: [Status] Needs Design Review, [Status] Needs Review

#40642 Revert "Sidebar: Add Notification Dot "
  client/layout/sidebar/item.jsx
  client/layout/sidebar/style.scss
Labels: Sidebar, [Status] Needs Review

#40537 My Home: Use the layout API results to render primary cards.
  client/my-sites/customer-home/locations/primary/index.jsx
  client/my-sites/customer-home/main.jsx
Labels: Customer Home, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#40643 Underline start-over button
  client/landing/gutenboarding/onboarding-block/design-selector/style.scss
Labels: [Status] Needs Review

#40514 Wrap the payment settings/auto-renew if on mobile
  client/my-sites/domains/domain-management/edit/domain-types/helpers.jsx
  client/my-sites/domains/domain-management/edit/domain-types/mapped-domain-type.jsx
  client/my-sites/domains/domain-management/edit/domain-types/registered-domain-type.jsx
  client/my-sites/domains/domain-management/edit/style.scss
Labels: Domains, [Status] Ready to Merge

#40651 Gutenboarding: Persist selected fonts
  client/landing/gutenboarding/onboarding-block/style-preview/font-select.tsx
  client/landing/gutenboarding/stores/onboard/index.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#40527 Track where the auto-renew toggle is used from
  client/me/purchases/manage-purchase/auto-renew-toggle/index.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
  client/my-sites/domains/domain-management/edit/domain-types/mapped-domain-type.jsx
  client/my-sites/domains/domain-management/edit/domain-types/registered-domain-type.jsx
Labels: Domains, [Status] Ready to Merge

#40653 localizeUrl: Handle double calls better
  client/lib/i18n-utils/test/utils.js
  client/lib/i18n-utils/utils.js
Labels: [Type] Bug, i18n

#40656 Gutenboarding: Visual fixes for #40569
  client/landing/gutenboarding/components/domain-picker/style.scss
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/components/titles.scss
  client/landing/gutenboarding/onboarding-block/design-selector/style.scss
  client/landing/gutenboarding/onboarding-block/style-preview/index.tsx
  client/landing/gutenboarding/onboarding-block/style-preview/style.scss
  client/landing/gutenboarding/style.scss
Labels: [Status] Needs Design Review, [Status] Needs Review

#40512 Domains: New inbound transfer domain status design
  client/lib/url/support.js
  client/my-sites/domains/domain-management/edit/domain-types/transfer-in-domain-type.jsx
  client/my-sites/domains/domain-management/edit/index.jsx
  client/my-sites/domains/domain-management/edit/navigation/index.jsx
Labels: Domains, [Status] Needs Review

#40585 Update BackupDownloadFlow to use date of backup in the correct timezone
  client/landing/jetpack-cloud/sections/backups/rewind-flow/download.tsx
  client/landing/jetpack-cloud/sections/backups/rewind-flow/index.tsx
Labels: Jetpack Cloud, [Status] Ready to Merge

#40652 Gutenboarding: Reset font pairing when selecting new design
  client/landing/gutenboarding/onboarding-block/design-selector/index.tsx
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#40648 Gutenboarding: Fixing spacing for page heading and content
  client/landing/gutenboarding/components/titles.scss
  client/landing/gutenboarding/mixins.scss
  client/landing/gutenboarding/onboarding-block/design-selector/style.scss
  client/landing/gutenboarding/onboarding-block/style-preview/style.scss
  client/landing/gutenboarding/variables.scss
Labels: Design, [Goal] Gutenboarding, [Status] Needs Review

#40662 Gutenboarding: fix correct template matching coutoire theme
  client/landing/gutenboarding/available-designs.json
Labels: [Status] Needs Review

#40621 Jetpack: update single product cards
  client/blocks/product-selector/index.jsx
  client/components/product-card/style.scss
  client/lib/products-values/constants.js
Labels: Jetpack, Jetpack Search, Plans, [Status] Ready to Merge

#40647 WP for Teams: add selector
  client/jetpack-connect/test/__snapshots__/plans.js.snap
  client/jetpack-connect/test/lib/plans.js
  client/state/selectors/is-site-wpforteams.js
  client/state/selectors/test/is-site-wpforteams.js
  client/state/sites/constants.js
Labels: State, [Status] Needs Review

#40664 Gutenboarding: Use template not design slug
  client/landing/gutenboarding/stores/onboard/actions.ts
Labels: API, [Goal] Gutenboarding, [Pri] High

#40623 BackupStatus: Change copies + time format to match the design + add external links
  client/landing/jetpack-cloud/components/daily-backup-status/index.jsx
Labels: Jetpack Cloud, [Status] Ready to Merge

#40670 Revert "Revert "My Home: Use the layout API results to render primary cards.""
  client/my-sites/customer-home/locations/primary/index.jsx
  client/my-sites/customer-home/main.jsx
Labels: [Status] Needs Review

#40673 My Home: Ensure the primary location always has content.
  client/my-sites/customer-home/locations/primary/index.jsx
Labels: Customer Home, [Status] Needs Review, [Type] Bug

#40633 My Home: Populate secondary cards with the layout API.
  client/my-sites/customer-home/locations/secondary/index.jsx
  client/my-sites/customer-home/main.jsx
Labels: Customer Home, [Status] Needs Review, [Type] Task

#40687 Update en.json
  static/page-templates/verticals/gym/en.json
Labels: [Goal] Gutenboarding

#40599 Add/gutenboarding signup password field
  client/landing/gutenboarding/components/signup-form/index.tsx
  client/landing/gutenboarding/components/signup-form/style.scss
  packages/data-stores/src/user/actions.ts
  packages/data-stores/src/user/test/actions.ts
  packages/wpcom-proxy-request/types/index.d.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#40049 Old Checkout: Add ID wallet payments
  client/components/payment-logo/index.jsx
  client/lib/cart-values/index.js
  client/lib/checkout/constants.js
  client/lib/checkout/processor-specific.js
  client/lib/checkout/validation.js
  client/my-sites/checkout/checkout/country-specific-payment-fields.jsx
  client/my-sites/checkout/checkout/payment-box.jsx
  client/my-sites/checkout/checkout/redirect-payment-box.jsx
  client/my-sites/checkout/checkout/secure-payment-form.jsx
  client/my-sites/checkout/checkout/style.scss
  static/images/upgrades/ovo.svg
Labels: Checkout, [Status] String Freeze

#40696 [Private sites] Adjust the condition keeps the e-commerce site private during checkout
  client/my-sites/checkout/checkout/secure-payment-form.jsx
Labels: Checkout, Private by Default, [Status] Needs Review

#40699 [e2e] Fix Can Share Posts From Reader (PressThis)! test
  test/e2e/lib/pages/reader-page.js
Labels: [Status] Needs Review

#40680 Gutenboarding: Set design default fonts
  client/landing/gutenboarding/available-designs.json
  client/landing/gutenboarding/available-designs.ts
  client/landing/gutenboarding/constants.ts
  client/landing/gutenboarding/onboarding-block/design-selector/index.tsx
  client/landing/gutenboarding/onboarding-block/style-preview/font-select.tsx
  client/landing/gutenboarding/onboarding-block/style-preview/preview.tsx
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/types.ts
Labels: Design, [Goal] Gutenboarding, [Status] Ready to Merge

#40666 Gutenboarding: Remove twentytwenty template fallback
  client/landing/gutenboarding/stores/onboard/actions.ts
Labels: Development task, [Goal] Gutenboarding, [Type] Task

#40645 Gutenboarding: Improve acquire intent UI and experience
  client/landing/gutenboarding/onboarding-block/acquire-intent/index.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/site-title.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/style.scss
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/index.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/style.scss
Labels: [Goal] Gutenboarding, [Status] Needs Design Review, [Status] Needs Review

#40657 Update font weights across Calypso from 300 to 400
  client/blocks/disconnect-jetpack/style.scss
  client/jetpack-connect/jetpack-new-site/style.scss
  client/jetpack-connect/style.scss
  client/my-sites/themes/auto-loading-homepage-modal.scss
  client/my-sites/themes/thanks-modal.scss
  client/my-sites/themes/themes-site-selector-modal.scss
  client/signup/site-mockup/style.scss
  client/signup/steps/creds-complete/style.scss
  client/signup/steps/creds-confirm/style.scss
  client/signup/steps/import-url-onboarding/style.scss
  client/signup/steps/rewind-migrate/style.scss
Labels: [Status] Needs Review, [Type] Task

#40701 [Private sites] Add tests for isUnlaunchedSite
  client/state/selectors/test/is-unlaunched-site.js
Labels: [Tests] Includes Tests

#40706 Gutenboarding: Change label style and image animations
  client/landing/gutenboarding/onboarding-block/design-selector/index.tsx
  client/landing/gutenboarding/onboarding-block/design-selector/style.scss
Labels: Design, [Goal] Gutenboarding, [Status] Needs Review

#40704 Page templates: Update alves and stratford2
  static/page-templates/templates/alves.json
  static/page-templates/templates/stratford2.json
Labels: [Goal] Gutenboarding, [Type] Task

#40631 Happy Chat: Open support/forum URLs in a new tab
  client/boot/common.js
  client/components/happychat/index.jsx
  client/components/theme/more-button.jsx
  client/lib/url/is-outside-calypso.ts
  client/lib/url/test/is-outside-calypso.js
  client/me/happychat/main.jsx
Labels: [Status] Needs Review

#39982 Boot: setup JS exception reporter for all sections and some other patches
  client/boot/common.js
Labels: Framework, [Status] Ready to Merge

#40703 Gutenboarding: Remove WIP Event Template
  client/landing/gutenboarding/available-designs.ts
  static/page-templates/page-templates.json
  static/page-templates/templates/rivington.json
Labels: [Status] In Progress, [Status] Needs Rebase, [Status] Ready to Merge

#40162 Remove the code-splitting feature flag
  babel.config.js
  client/boot/common.js
  client/server/bundler/sections-loader.js
  client/server/bundler/test/sections-loader.js
  client/server/pages/index.js
  client/webpack.config.node.js
  config/README.md
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Labels: Build, [Status] Ready to Merge

#40710 Page templates: Update alves
  static/page-templates/templates/alves.json
Labels: [Goal] Gutenboarding, [Type] Task

#40632 Gutenboarding: use static, tall screenshots
  bin/generate-gutenboarding-design-thumbnails.js
  client/landing/gutenboarding/mixins.scss
  client/landing/gutenboarding/onboarding-block/design-selector/index.tsx
  client/landing/gutenboarding/onboarding-block/design-selector/style.scss
  static/page-templates/design-screenshots/Camden_maywood2_maywood.jpg
  static/page-templates/design-screenshots/bowen_bowen_coutoire.jpg
  static/page-templates/design-screenshots/cassel_mayland_mayland.jpg
  static/page-templates/design-screenshots/doyle_alves2_alves.jpg
  static/page-templates/design-screenshots/easley_maywood_maywood.jpg
  static/page-templates/design-screenshots/edison_stratford2_stratford.jpg
  static/page-templates/design-screenshots/overton_alves_alves.jpg
  static/page-templates/design-screenshots/reynolds_rockfield2_rockfield.jpg
  static/page-templates/design-screenshots/rivington_rivington_rivington.jpg
  static/page-templates/design-screenshots/vesta_mayland2_mayland.jpg
Labels: [Goal] Gutenboarding, [Status] Ready to Merge

#40663 Fix an error in WooCommerce Services modal
  client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/index.js
Labels: Extensions

#40580 Jetpack Cloud: Add thank you note to JP Scan purchases
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/plans/current-plan/current-plan-thank-you/scan-thank-you.js
  client/my-sites/plans/current-plan/current-plan-thank-you/style.scss
  client/my-sites/plans/current-plan/current-plan-thank-you/thank-you.js
  client/my-sites/plans/current-plan/index.jsx
Labels: Jetpack Cloud, [Status] Ready to Merge

#40661 Jetpack Search: Include Search in the route of the JPC flow
  client/jetpack-connect/index.js
Labels: Jetpack Search, [Status] Needs Review

#40636 My Home: Display upsells according to the Home API.
  client/my-sites/customer-home/locations/upsells/index.jsx
  client/my-sites/customer-home/main.jsx
Labels: Customer Home, [Status] Needs Review, [Type] Task

#40626 UpgradeNudge: Swap UpgradeNudge for UpsellNudge
  client/components/banner/style.scss
  client/components/tinymce/plugins/simple-payments/dialog/index.jsx
  client/components/tinymce/plugins/simple-payments/style.scss
  client/my-sites/earn/memberships/index.jsx
  client/my-sites/marketing/main.jsx
  client/my-sites/media-library/list-plan-upgrade-nudge.jsx
  client/my-sites/media-library/style.scss
  client/my-sites/plugins/plugins-browser/index.jsx
  client/my-sites/plugins/plugins-browser/test/index.jsx
  client/my-sites/post-type-list/index.jsx
  client/my-sites/post-type-list/style.scss
  client/my-sites/site-settings/podcasting-details/index.jsx
  client/my-sites/stats/stats-module/index.jsx
  client/my-sites/stats/stats-module/style.scss
Labels: Marketing, [Status] Needs Review

#40716 Gutenboarding: Fix Vertical Select to put exact match first
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/index.tsx
Labels: [Goal] Gutenboarding, [Status] Needs Review

#40690 Fix Global Styles on wpcom
  apps/full-site-editing/full-site-editing-plugin/global-styles/src/dom-updater.js
Labels: [Status] Needs Review, [Team] Cylon, [Type] Defect

#40581 Update Jetpack Cloud Restore Flow with New Common Components
  client/landing/jetpack-cloud/components/rewind-config/README.md
  client/landing/jetpack-cloud/components/rewind-config/index.tsx
  client/landing/jetpack-cloud/components/rewind-config/style.scss
  client/landing/jetpack-cloud/components/rewind-config/types.ts
  client/landing/jetpack-cloud/sections/backups/controller.js
  client/landing/jetpack-cloud/sections/backups/index.js
  client/landing/jetpack-cloud/sections/backups/restore/confirm.tsx
  client/landing/jetpack-cloud/sections/backups/restore/error.tsx
  client/landing/jetpack-cloud/sections/backups/restore/finished.tsx
  client/landing/jetpack-cloud/sections/backups/restore/in-progress.tsx
  client/landing/jetpack-cloud/sections/backups/restore/index.tsx
  client/landing/jetpack-cloud/sections/backups/restore/style.scss
  client/landing/jetpack-cloud/sections/backups/rewind-flow/download.tsx
  client/landing/jetpack-cloud/sections/backups/rewind-flow/index.tsx
  client/landing/jetpack-cloud/sections/backups/rewind-flow/restore.tsx
  client/landing/jetpack-cloud/sections/backups/rewind-flow/rewind-config-editor.tsx
  client/landing/jetpack-cloud/sections/backups/rewind-flow/style.scss
  client/lib/site/timezone.js
  client/state/selectors/get-in-progress-rewind-percent-complete.js
  client/state/selectors/get-in-progress-rewind-status.js
  static/images/illustrations/jetpack-restore-success.svg
Labels: Jetpack Cloud

#40726 My Home: Pass the `is_now_launched` param to the `layout` call.
  client/components/data/query-home-layout/index.js
  client/my-sites/customer-home/main.jsx
  client/state/data-layer/wpcom/sites/home/layout/index.js
  client/state/home/actions.js
Labels: Customer Home, [Status] Needs Review, [Type] Task

#40691 Gutenboarding: Show domain price from API response in domain picker
  client/landing/gutenboarding/components/domain-picker/suggestion-item.tsx
  packages/data-stores/src/domain-suggestions/index.ts
  packages/data-stores/src/domain-suggestions/resolvers.ts
Labels: [Goal] Gutenboarding, [Status] Needs Review

#40518 FSE: bump plugin version to 1.0
  apps/full-site-editing/full-site-editing-plugin/full-site-editing-plugin.php
  apps/full-site-editing/full-site-editing-plugin/readme.txt
  apps/full-site-editing/package.json
Labels: [Goal] Full Site Editing, [Status] Needs Review

#40698 Update Gutenboarding signup styling (error messages and positioning)
  client/landing/gutenboarding/components/signup-form/header.tsx
  client/landing/gutenboarding/components/signup-form/index.tsx
  client/landing/gutenboarding/components/signup-form/style.scss
  client/landing/gutenboarding/mixins.scss
Labels: [Goal] Gutenboarding, [Status] Needs Review

#40693 Gutenboarding: Update domain in header to be recommended paid domain
  client/landing/gutenboarding/components/domain-picker-button/index.tsx
  client/landing/gutenboarding/components/domain-picker/index.tsx
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/constants.ts
  client/landing/gutenboarding/hooks/use-domain-suggestions.ts
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  client/landing/gutenboarding/utils/domain-suggestions.ts
Labels: [Goal] Gutenboarding, [Status] Needs Rebase, [Status] Needs Review

#40637 Gutenboarding: Add gutenboarding styling to 2fa login screens
  client/blocks/login/index.jsx
  client/blocks/login/login-form.jsx
  client/blocks/login/two-factor-authentication/two-factor-actions.jsx
  client/blocks/login/two-factor-authentication/verification-code-form.jsx
  client/blocks/login/two-factor-authentication/waiting-notification-approval.jsx
  client/lib/paths/login/index.js
  client/login/index.web.js
  client/login/wp-login/login-links.jsx
Labels: [Goal] Gutenboarding, [Status] Needs Review

#40685 Gutenboarding: gutenboarding theming for magic link login
  client/login/index.web.js
  client/login/magic-login/emailed-login-link-successfully.jsx
  client/login/magic-login/index.jsx
  client/login/magic-login/style.scss
  client/login/wp-login/login-links.jsx
Labels: [Goal] Gutenboarding, [Status] Needs Review

#40744 Sped up typer animation speed and edited the text values
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/index.tsx
Labels: [Status] Needs Review

#40740 Gutenboarding: header side title should not be bold
  client/landing/gutenboarding/components/header/style.scss
Labels: Design, [Goal] Gutenboarding, [Status] Ready to Merge

#40743 Gutenboarding: Update intent capture style
  client/landing/gutenboarding/onboarding-block/acquire-intent/style.scss
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/index.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/style.scss
Labels: Design, [Goal] Gutenboarding, [Status] Ready to Merge

#40745 Gutenboarding: update design selector style
  client/landing/gutenboarding/mixins.scss
  client/landing/gutenboarding/onboarding-block/design-selector/index.tsx
  client/landing/gutenboarding/onboarding-block/design-selector/style.scss
  client/landing/gutenboarding/variables.scss
Labels: Design, [Goal] Gutenboarding, [Status] Ready to Merge

#40672 Jetpack: update links on single products
  client/blocks/product-selector/index.jsx
  client/lib/products-values/constants.js
  client/my-sites/plans-features-main/products-header.jsx
Labels: Jetpack, Jetpack Search, Plans, [Status] Needs Design Review, [Status] Needs Review

#40749 Gutenboarding: Show user-picked domain when user picks one
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/stores/onboard/actions.ts
Labels: [Status] Ready to Merge

#39280 Update babel-plugin-i18n-calypso to support string extraction from @wordpress/i18n calls
  packages/babel-plugin-i18n-calypso/README.md
  packages/babel-plugin-i18n-calypso/package.json
  packages/babel-plugin-i18n-calypso/src/index.js
Labels: i18n

#40751 [Private media] Request media files using query string
  client/lib/wpcom-undocumented/lib/undocumented.js
Labels: Private by Default

#40758 Remove prepare script form babel-plugin-i18n-calypso
  packages/babel-plugin-i18n-calypso/package.json
Labels: [Status] Needs Review, i18n

#40760 Fix ga.recordEvent in Reader
  client/reader/stats.js
  client/state/analytics/test/helpers/analytics-mock.js
  client/state/analytics/test/middleware.js
Labels: Reader, Stats, [Status] Needs Review, [Type] Bug

#40529 Updates plan conflict notice to accommodate more than one conflict
  client/blocks/product-plan-overlap-notices/README.md
  client/blocks/product-plan-overlap-notices/docs/example.jsx
  client/blocks/product-plan-overlap-notices/index.jsx
  client/blocks/product-plan-overlap-notices/style.scss
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/purchases-site/index.jsx
Labels: Jetpack, [Size] S, [Status] Ready to Merge

#39873 Fetch translation chunks plugin
  .gitignore
  Dockerfile
  bin/build-docker.js
  bin/build-languages.js
  client/boot/locale.js
  client/document/index.jsx
  client/lib/i18n-utils/switch-locale.js
  client/server/pages/index.js
  client/webpack.config.js
  client/webpack/generate-chunks-map-plugin.js
  client/webpack/require-chunk-callback-plugin.js
  package-lock.json
  package.json
Labels: i18n

#40764 Remove i18n revision from docker image commit_sha
  bin/build-docker.js
Labels: Build, [Status] Needs Review, i18n

#40634 My Home: Use the layout API results to render notice cards.
  client/my-sites/customer-home/locations/notices/index.jsx
  client/my-sites/customer-home/main.jsx
Labels: Customer Home, [Status] Needs Review, [Type] Task

#40678 Pages and Posts: search will close when switching sites or when searc…
  client/my-sites/pages/main.jsx
  client/my-sites/post-type-filter/index.jsx
Labels: OSS Citizen, [Status] Needs Design Review, [Status] Needs Review

#40674 Jetpack Cloud: Apply styles to date-picker component
  client/landing/jetpack-cloud/components/date-picker/index.jsx
  client/landing/jetpack-cloud/components/date-picker/style.scss
  client/landing/jetpack-cloud/sections/backups/main.jsx
Labels: Jetpack Cloud

#40692 ListEnd: Update README to Reflect Correct Usage
  client/components/list-end/README.md
Labels: DevDocs, OSS Citizen, [Status] Needs Review

#40695 Activity Log: Remove Guided Tour & Add Subheading
  client/layout/guided-tours/all-tours.js
  client/layout/guided-tours/config.js
  client/layout/guided-tours/tours/activity-log-jetpack-intro-tour/index.js
  client/layout/guided-tours/tours/activity-log-jetpack-intro-tour/meta.js
  client/layout/guided-tours/tours/activity-log-wpcom-intro-tour/index.js
  client/layout/guided-tours/tours/activity-log-wpcom-intro-tour/meta.js
  client/my-sites/activity/activity-log/activity-log-documentation-link.jsx
  client/my-sites/activity/activity-log/index.jsx
Labels: Activity Log, Guided Tours, OSS Citizen, [Status] Needs Copy Review, [Status] Needs Review

#39473 Move the "Go to my site" button after the content
  client/my-sites/checkout/checkout-thank-you/header.jsx
  client/my-sites/checkout/checkout-thank-you/index.jsx
Labels: Domains, OSS Citizen, [Status] Needs Review

#40776 My Home: Silence required prop warning.
  client/my-sites/customer-home/main.jsx
Labels: Customer Home, [Status] Needs Review, [Type] Bug

#40688 address design feedback on login page
  client/blocks/login/continue-as-user.jsx
  client/blocks/login/continue-as-user.scss
Labels: Login, [Status] Ready to Merge

#40787 Sharing: update text for Facebook sharing message
  client/my-sites/marketing/connections/service-description.jsx
Labels: Sharing

#40697 Show the domain type in the domain settings header title
  client/lib/domains/index.js
  client/my-sites/domains/domain-management/edit/index.jsx
Labels: Domains, [Status] Ready to Merge

#40788 Gutenboarding: regenerate thumbnails for designs
  bin/generate-gutenboarding-design-thumbnails.js
  config/wpcalypso.json
  static/page-templates/design-screenshots/Camden_camdem_maywood.jpg
  static/page-templates/design-screenshots/Camden_maywood2_maywood.jpg
  static/page-templates/design-screenshots/bowen_bowen_coutoire.jpg
  static/page-templates/design-screenshots/brice_brice_mayland.jpg
  static/page-templates/design-screenshots/cassel_cassel_mayland.jpg
  static/page-templates/design-screenshots/cassel_mayland_mayland.jpg
  static/page-templates/design-screenshots/doyle_alves2_alves.jpg
  static/page-templates/design-screenshots/doyle_doyle_alves.jpg
  static/page-templates/design-screenshots/easley_easley_maywood.jpg
  static/page-templates/design-screenshots/easley_maywood_maywood.jpg
  static/page-templates/design-screenshots/edison_edison_stratford.jpg
  static/page-templates/design-screenshots/edison_stratford2_stratford.jpg
  static/page-templates/design-screenshots/overton_alves_alves.jpg
  static/page-templates/design-screenshots/overton_overton_alves.jpg
  static/page-templates/design-screenshots/reynolds_reynolds_rockfield.jpg
  static/page-templates/design-screenshots/reynolds_rockfield2_rockfield.jpg
  static/page-templates/design-screenshots/rivington_rivington_rivington.jpg
  static/page-templates/design-screenshots/vesta_mayland2_mayland.jpg
  static/page-templates/design-screenshots/vesta_vesta_mayland.jpg
Labels: [Status] Needs Review

#40761 Gutenboarding: Preview sizing
  client/landing/gutenboarding/onboarding-block/style-preview/preview.tsx
  client/landing/gutenboarding/onboarding-block/style-preview/style.scss
Labels: [Goal] Gutenboarding, [Status] Ready to Merge

#40737 Introduce the new enhanced domain navigation
  client/my-sites/domains/domain-management/edit/domain-types/registered-domain-type.jsx
  client/my-sites/domains/domain-management/edit/navigation/enhanced.jsx
  client/my-sites/domains/domain-management/edit/navigation/style.scss
  config/development.json
  config/wpcalypso.json
  packages/material-design-icons/src/hardware/outline-security-24px.svg
  packages/material-design-icons/svg-sprite/material-icons.svg
Labels: Domains, [Status] Ready to Merge

#40770 Gutenboarding: Fall back to vertical for domain suggestion
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/hooks/use-domain-suggestions.ts
  client/landing/gutenboarding/path.ts
Labels: [Goal] Gutenboarding, [Status] Ready to Merge

#40717 Apply on the ActivityCard component the correct site time zone
  client/landing/jetpack-cloud/components/activity-card/index.jsx
  client/landing/jetpack-cloud/components/backup-delta/index.jsx
  client/landing/jetpack-cloud/sections/backups/main.jsx
Labels: Jetpack Cloud, [Status] Ready to Merge

#40784 Jetpack Connection Store: make it possible to purchase Jetpack Backup in the initial connection
  client/blocks/product-selector/index.jsx
Labels: Jetpack, [Status] Needs Review

#38769 Remove url and qs from login.
  client/blocks/login/login-form.jsx
  client/login/controller.js
  client/login/wp-login/login-links.jsx
  client/state/login/magic-login/actions.js
  client/state/login/utils.js
Labels: Performance, [Status] Needs Review, [Type] Janitorial

#40694 Only show switch editor button in inline help popover when in block editor or classic editor route.
  client/blocks/inline-help/popover.jsx
Labels: Editor, [Type] Bug

#40802 Revert "Remove url and qs from login. (#38769)"
  client/blocks/login/login-form.jsx
  client/login/controller.js
  client/login/wp-login/login-links.jsx
  client/state/login/magic-login/actions.js
  client/state/login/utils.js
Labels: [Status] Needs Review, [Type] Bug

#40660 Domains: Show auto renew button if purchased with credits
  client/me/purchases/manage-purchase/auto-renew-toggle/auto-renew-payment-method-dialog/index.jsx
  client/me/purchases/manage-purchase/auto-renew-toggle/auto-renew-payment-method-dialog/style.scss
  client/me/purchases/manage-purchase/auto-renew-toggle/index.jsx
  client/me/purchases/manage-purchase/purchase-meta.jsx
  client/my-sites/domains/domain-management/edit/domain-types/mapped-domain-type.jsx
  client/my-sites/domains/domain-management/edit/domain-types/registered-domain-type.jsx
Labels: Domains, Purchases, [Status] Needs Review

#40762 UpsellNudge: Add some logic to determine when upsells should not show
  client/blocks/upsell-nudge/index.jsx
Labels: Components, Marketing, [Status] Needs Review, [Type] Bug

#40768 Typography: More font weight updates 300 -> 400
  client/extensions/hello-dolly/hello-dolly-page.js
  client/landing/domains/content-card/style.scss
  client/my-sites/feature-upsell/style.scss
Labels: [Status] Needs Review, [Type] Task

#40118 Adds prettier plugin to eslint
  .eslintrc.js
  package.json
Labels: Framework, [Status] Needs Review

#40578 Gutenboarding: Remove the ugly domains pre-purchase modal
  client/landing/gutenboarding/components/confirm-purchase-modal/index.tsx
  client/landing/gutenboarding/components/confirm-purchase-modal/style.scss
  client/landing/gutenboarding/components/domain-picker-button/index.tsx
Labels: Domains, [Goal] Gutenboarding, [Goal] Onboarding, [Status] Ready to Merge

#40682 Jetpack Search: add tracking to the post-purchse Thank you note
  client/my-sites/plans/current-plan/current-plan-thank-you/thank-you.js
Labels: Analytics, Jetpack Search, [Status] Needs Review

#40800 Gutenboarding: Remove click-focus style from viewports
  client/landing/gutenboarding/onboarding-block/style-preview/style.scss
  client/landing/gutenboarding/onboarding-block/style-preview/viewport-select.tsx
Labels: Design, [Goal] Gutenboarding

#40799 Gutenboarding: fix camdem template
  client/landing/gutenboarding/available-designs.ts
  static/page-templates/design-screenshots/Camdem_camdem_maywood.jpg
  static/page-templates/design-screenshots/Camden_camdem_maywood.jpg
Labels: [Status] Ready to Merge

#40812 Gutenboarding: hide verticals support in previews behind a flag
  client/landing/gutenboarding/onboarding-block/style-preview/preview.tsx
  config/wpcalypso.json
Labels: [Goal] Gutenboarding, [Status] Ready to Merge

#40818 e2e: Fix Gutenberg Jetpack category search
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
Labels: Editor, Jetpack

#40819 e2e: Disable Jetpack blocks search
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
Labels: Editor, Jetpack

#40780 My Home: Update some header and notice text.
  client/my-sites/customer-home/cards/notices/celebrate-notice/index.jsx
  client/my-sites/customer-home/main.jsx
Labels: Customer Home, [Status] Needs Review, [Type] Task

#40773 My Home: Have notices correctly refer to the quick links or checklist.
  client/my-sites/customer-home/locations/notices/index.jsx
  client/my-sites/customer-home/main.jsx
Labels: Customer Home, [Status] Needs Review, [Type] Bug

#40823 Editor e2e: reenable tests and replace Jetpack category by Earn
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
Labels: Editor, Jetpack, [Status] Needs Review

#40723 WP for Teams: hide non-relevant stuff from Calypso
  client/components/banner/index.jsx
  client/my-sites/current-site/notice.jsx
  client/my-sites/customer-home/cards/education/free-photo-library/index.jsx
  client/my-sites/customer-home/cards/features/grow-earn/index.jsx
  client/my-sites/customer-home/cards/primary/quick-links/index.jsx
  client/my-sites/sidebar/index.jsx
  client/my-sites/sidebar/site-menu.jsx
  client/my-sites/sidebar/tools-menu.jsx
  client/state/selectors/is-site-wpforteams.js
  client/state/selectors/test/is-site-wpforteams.js
Labels: [Status] Needs Review

#40813 Gutenboarding: update domain flow
  client/landing/gutenboarding/components/domain-picker-button/index.tsx
  client/landing/gutenboarding/components/header/index.tsx
  client/layout/index.jsx
  client/my-sites/checkout/checkout/checkout-container.jsx
  client/my-sites/checkout/checkout/checkout-system-decider.js
  client/my-sites/checkout/controller.jsx
  client/signup/config/flows-pure.js
  client/signup/config/flows.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/steps/plans/index.jsx
Labels: [Goal] Gutenboarding, [Status] Needs Review, [Status] Needs e2e Testing

#34582 Gutenberg: Include App Banner
  client/blocks/app-banner/index.jsx
  client/blocks/app-banner/utils.js
Labels: OSS Citizen, [Goal] Gutenberg, [Status] Needs Review

#40683 Add Google Analytics Enhanced Ecommerce purchase tracking
  client/lib/analytics/ad-tracking/constants.js
  client/lib/analytics/ad-tracking/record-order.js
  client/my-sites/checkout/checkout/composite-checkout.js
Labels: Analytics, Purchases, [Status] Ready to Merge, [Team] MarTech

#40517 Revert "E2E: Temporary remove block editor test from IE11 canary suite"
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
  test/e2e/specs/wp-signup-spec.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#40795 Gutenboarding: Signup/Login design fixes
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/components/signup-form/index.tsx
  client/landing/gutenboarding/components/signup-form/style.scss
  client/landing/gutenboarding/index.tsx
  client/login/controller.js
  client/login/wp-login/index.jsx
  client/login/wp-login/login-links.jsx
  client/login/wp-login/style.scss
Labels: [Goal] Gutenboarding, [Status] Needs Review

#40742 Gutenboarding: update domain picker styling
  client/landing/gutenboarding/components/close-button/index.tsx
  client/landing/gutenboarding/components/domain-picker-button/index.tsx
  client/landing/gutenboarding/components/domain-picker-button/style.scss
  client/landing/gutenboarding/components/domain-picker/index.tsx
  client/landing/gutenboarding/components/domain-picker/style.scss
  client/landing/gutenboarding/components/domain-picker/suggestion-item.tsx
Labels: [Goal] Gutenboarding, [Pri] High, [Status] Needs Review

#40815 Gutenboarding: Improve design/preview accessibility
  client/landing/gutenboarding/onboarding-block/design-selector/index.tsx
  client/landing/gutenboarding/onboarding-block/style-preview/viewport-select.tsx
Labels: Accessibility, [Goal] Gutenboarding

#40821 Gutenboarding: Drop onDomainPurchase and friends
  client/landing/gutenboarding/components/domain-picker-button/index.tsx
  client/landing/gutenboarding/components/domain-picker/index.tsx
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/index.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
Labels: [Goal] Gutenboarding, [Status] Ready to Merge

#40319 Build: Improved the building of Jetpack Cloud and Calypso in dev mode
  client/server/bundler/sections-loader.js
Labels: Build, Jetpack, Jetpack Cloud, [Status] Needs Review

#40584 Harmonize post and pages views
  client/blocks/post-item/index.jsx
  client/blocks/post-time/README.md
  client/blocks/post-time/docs/example.jsx
  client/blocks/post-time/index.jsx
  client/blocks/post-time/style.scss
  client/blocks/post-time/test/index.jsx
  client/devdocs/design/blocks.jsx
  client/my-sites/pages/main.jsx
  client/my-sites/pages/page-card-info/index.jsx
  client/my-sites/pages/page-card-info/style.scss
  client/my-sites/pages/page-list.jsx
  client/my-sites/post-relative-time-status/index.jsx
  client/my-sites/post-relative-time-status/style.scss
  client/my-sites/post-type-filter/index.jsx
  client/my-sites/post-type-list/index.jsx
  client/state/post-types/selectors.js
Labels: OSS Citizen, [Status] Needs Review

#40484 My Plan: Add support for all Jetpack Products not just Backup
  client/my-sites/plans/current-plan/purchases-listing.jsx
Labels: Jetpack, Jetpack Cloud, Plans

#40251 [Private sites] Use <MediaFile /> to display video thumbnails
  client/my-sites/media-library/list-item-video.jsx
  client/my-sites/media-library/test/list-item-video.jsx
Labels: Private by Default, [Status] Needs Review, [Tests] Includes Tests

#40820 Jetpack Search: Add Jetpack Search Product Plan to production.
  config/horizon.json
  config/production.json
Labels: Jetpack Search, Plans, [Status] Needs Review

#40808 Visual fixes for #40757
  client/landing/gutenboarding/onboarding-block/acquire-intent/style.scss
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/index.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/style.scss
  client/landing/gutenboarding/onboarding-block/style-preview/style.scss
Labels: [Goal] Gutenboarding, [Status] Ready to Merge

#40842 Gutenboarding: upgrade Doyle template
  static/page-templates/templates/doyle.json
Labels: [Goal] Gutenboarding, [Status] Ready to Merge

#40794 Jetpack Connect: adapt the post-checkout Thank you modal to specific Products
  client/jetpack-connect/plans.jsx
  client/my-sites/checkout/checkout/index.jsx
  client/my-sites/plans/current-plan/controller.jsx
  client/my-sites/plans/current-plan/index.jsx
Labels: Jetpack Search, Post Checkout, [Status] Ready to Merge

#40756 Me: Remove List End
  client/me/profile-links/index.jsx
Labels: OSS Citizen, [Status] Ready to Merge

#40850 Gutenboarding: upgrade Doyle template screenshot
  static/page-templates/design-screenshots/doyle_doyle_alves.jpg
Labels: [Goal] Gutenboarding

#40810 Gutenboarding: Change section uri component
  client/blocks/login/login-form.jsx
  client/landing/gutenboarding/basename.json
  client/landing/gutenboarding/components/signup-form/index.tsx
  client/landing/gutenboarding/gutenboard.tsx
  client/landing/gutenboarding/index.tsx
  client/landing/gutenboarding/section.ts
  client/layout/logged-out.jsx
  client/lib/paths/login/index.js
  client/lib/paths/login/test/__snapshots__/index.js.snap
  client/lib/paths/login/test/index.js
  client/login/controller.js
  client/login/index.web.js
  client/login/magic-login/index.jsx
  client/login/wp-login/login-links.jsx
  client/server/pages/index.js
Labels: Login, [Goal] Gutenboarding, [Status] Ready to Merge, [Type] Task

#40772 Jetpack Cloud: Use Site Capabilities API to determine service level
  client/components/data/query-rewind-capabilities/index.jsx
  client/landing/jetpack-cloud/sections/backups/main.jsx
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/rewind/capabilities/index.js
  client/state/rewind/capabilities/actions.js
  client/state/rewind/capabilities/reducer.js
  client/state/rewind/reducer.js
  client/state/selectors/get-rewind-capabilities.js
Labels: Jetpack Cloud, Rewind, State, [Size] M, [Status] Needs Review

#40853 Gutenboarding: Enable in staging
  config/stage.json
Labels: [Goal] Gutenboarding, [Status] Ready to Merge

#40847 Support Card: Prevent items from stretching
  client/components/happiness-engineers-tray/style.scss
Labels: Support, [Status] Needs Review

#40765 WooCommerce: Update font weights to avoid using font-weight 300
  client/extensions/woocommerce/app/store-stats/referrers/chart/style.scss
  client/extensions/woocommerce/app/store-stats/store-stats-orders-chart/style.scss
  client/extensions/woocommerce/components/delta/style.scss
Labels: [Status] Needs Review, [Type] Task, eCommerce Plan

#40721 UpsellNudge: Replace instances of Banner with UpsellNudge
  client/components/domains/transfer-domain-step/index.jsx
  client/my-sites/activity/activity-log-banner/upgrade-banner.jsx
  client/my-sites/hosting/main.js
  client/my-sites/plugins/plugin-meta/index.jsx
  client/my-sites/plugins/plugin-meta/test/index.js
  client/my-sites/site-settings/form-general.jsx
  client/my-sites/site-settings/test/form-general.jsx
Labels: Marketing, [Status] Needs Review, [Type] Task

#40862 Gutenboarding: Updated vertical colors before testing
  client/landing/gutenboarding/onboarding-block/colors.scss
Labels: [Goal] Gutenboarding, [Pri] Normal

#40845 Revert "Revert "E2E: Temporary remove block editor test from IE11 canary suite""
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
  test/e2e/specs/wp-signup-spec.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#40860 Gutenboarding: update plans grid header
  client/my-sites/plan-features/scroller.jsx
  client/my-sites/plans-features-main/gutenboarding-header/index.jsx
  client/my-sites/plans-features-main/gutenboarding-header/style.scss
  client/my-sites/plans-features-main/index.jsx
  client/signup/config/steps-pure.js
  client/signup/steps/plans/index.jsx
  client/signup/style.scss
Labels: Signup, [Goal] Gutenboarding, [Status] In Progress

#40782 Add Jetpack Cloud ApplySiteOffset Context Provider
  client/landing/jetpack-cloud/components/site-offset/README.md
  client/landing/jetpack-cloud/components/site-offset/context.tsx
  client/landing/jetpack-cloud/components/site-offset/index.tsx
  client/landing/jetpack-cloud/sections/backups/controller.js
  client/landing/jetpack-cloud/sections/backups/index.js
  client/landing/jetpack-cloud/sections/backups/rewind-flow/index.tsx
Labels: Jetpack Cloud, [Status] Ready to Merge

#40831 Gutenboarding: site creation progress/loading page
  client/landing/gutenboarding/onboarding-block/create-site/index.tsx
  client/landing/gutenboarding/onboarding-block/create-site/style.scss
Labels: [Goal] Gutenboarding, [Status] Needs Design Review, [Status] Needs Review

#40875 Gutenboarding: Update border of designs in design selector grid to be 2px
  client/landing/gutenboarding/onboarding-block/design-selector/style.scss
Labels: [Goal] Gutenboarding, [Status] Needs Review

#40836 Gutenboarding: Adapt grid layout in design selection step to floats to support IE 11
  client/landing/gutenboarding/onboarding-block/design-selector/style.scss
Labels: [Goal] Gutenboarding, [Status] Needs Review

#40807 [Private media] Use exponential backoff when API returns error 429
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/media-library/proxied-image.tsx
Labels: Private by Default, [Status] Needs Review

#40834 Support Article Dialog: Switch Order of Buttons
  client/blocks/support-article-dialog/dialog.jsx
Labels: Help, OSS Citizen, [Status] Needs Design Review, [Status] Needs Review

#40886 Gutenboarding: Updating color of WordPress logo and dropdown arrow fixes
  client/landing/gutenboarding/components/domain-picker-button/index.tsx
  client/landing/gutenboarding/components/domain-picker-button/style.scss
  client/landing/gutenboarding/components/header/style.scss
Labels: [Goal] Gutenboarding, [Status] Needs Review

#40892 [e2e] Update chromedriver
  test/e2e/.chromedriver_version
  test/e2e/package-lock.json
  test/e2e/package.json
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#40728 Jetpack Cloud: Get Scan status from API
  client/components/data/query-jetpack-scan/README.md
  client/components/data/query-jetpack-scan/index.tsx
  client/components/data/query-jetpack-scan/test/index.js
  client/landing/jetpack-cloud/components/scan-threats/index.tsx
  client/state/action-types.js
  client/state/data-layer/wpcom/sites/scan/index.js
  client/state/data-layer/wpcom/sites/scan/test/index.js
  client/state/jetpack-scan/actions.js
  client/state/jetpack-scan/init.js
  client/state/jetpack-scan/reducer.js
  client/state/selectors/is-requesting-jetpack-scan.js
Labels: Jetpack Cloud, [Status] Ready to Merge

#40859 Devdocs: Update Typography to specify font weights of 400 or greater
  client/devdocs/design/typography.jsx
Labels: DevDocs, [Status] Needs Review

#40904 Remove unnecessary string translations
  client/my-sites/domains/domain-management/edit/navigation/enhanced.jsx
Labels: Domains, [Status] Ready to Merge

#39906 Gutenboarding: Remove NO translation prefix
  client/landing/gutenboarding/components/close-button/index.tsx
  client/landing/gutenboarding/components/domain-picker/index.tsx
  client/landing/gutenboarding/components/domain-picker/suggestion-item.tsx
  client/landing/gutenboarding/components/domain-picker/suggestion-none.tsx
  client/landing/gutenboarding/components/header/index.tsx
  client/landing/gutenboarding/components/login-form/enter-password/index.tsx
  client/landing/gutenboarding/components/login-form/enter-username-or-email/index.tsx
  client/landing/gutenboarding/components/login-form/index.tsx
  client/landing/gutenboarding/components/signup-form/header.tsx
  client/landing/gutenboarding/components/signup-form/index.tsx
  client/landing/gutenboarding/gutenboard.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/index.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/site-title.tsx
  client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/index.tsx
  client/landing/gutenboarding/onboarding-block/create-site/index.tsx
  client/landing/gutenboarding/onboarding-block/design-selector/index.tsx
  client/landing/gutenboarding/onboarding-block/index.ts
  client/landing/gutenboarding/onboarding-block/style-preview/font-select.tsx
  client/landing/gutenboarding/onboarding-block/style-preview/index.tsx
  client/landing/gutenboarding/onboarding-block/style-preview/viewport-select.tsx
Labels: [Goal] Gutenboarding, [Status] Ready to Merge, i18n

#40895 Add gridicons to node modules to transpile
  packages/calypso-build/webpack/util.js
Labels: Build, [Status] Needs Review

#40888 Gutenboarding: Update condition for redirecting to plans page
  client/landing/gutenboarding/components/domain-picker-button/index.tsx
  client/landing/gutenboarding/components/header/index.tsx
Labels: Plans, [Goal] Gutenboarding, [Status] Ready to Merge, [Type] Defect

#40906 Gutenboarding: fix suggestions dropdown not clickable
  client/landing/gutenboarding/onboarding-block/acquire-intent/style.scss
Labels: [Goal] Gutenboarding, [Status] Ready to Merge, [Type] Bug

#40596 Move composite-checkout-wpcom into calypso (4)
  client/my-sites/checkout/composite-checkout/composite-checkout.js
  client/my-sites/checkout/composite-checkout/contact-validation.js
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/record-analytics.js
  client/my-sites/checkout/composite-checkout/test/composite-checkout.js
  client/my-sites/checkout/composite-checkout/types/paypal-express.ts
  client/my-sites/checkout/composite-checkout/types/transaction-endpoint.ts
  client/my-sites/checkout/composite-checkout/wpcom/README.md
  client/my-sites/checkout/composite-checkout/wpcom/components/button.js
  client/my-sites/checkout/composite-checkout/wpcom/components/coupon.js
  client/my-sites/checkout/composite-checkout/wpcom/components/field.js
  client/my-sites/checkout/composite-checkout/wpcom/components/form-field-annotation.tsx
  client/my-sites/checkout/composite-checkout/wpcom/components/ie-fallback.js
  client/my-sites/checkout/composite-checkout/wpcom/components/item-variation-picker.tsx
  client/my-sites/checkout/composite-checkout/wpcom/components/join-classes.js
  client/my-sites/checkout/composite-checkout/wpcom/components/radio-button.js
  client/my-sites/checkout/composite-checkout/wpcom/components/summary-details.js
  client/my-sites/checkout/composite-checkout/wpcom/components/upsell.jsx
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-error-boundary.tsx
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-review.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout-order-summary.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-checkout.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-contact-form.js
  client/my-sites/checkout/composite-checkout/wpcom/components/wp-order-review-line-items.js
  client/my-sites/checkout/composite-checkout/wpcom/doc/cart-types.graphviz
  client/my-sites/checkout/composite-checkout/wpcom/doc/cart-types.png
  client/my-sites/checkout/composite-checkout/wpcom/hooks/has-domains.js
  client/my-sites/checkout/composite-checkout/wpcom/hooks/use-coupon-field-state.ts
  client/my-sites/checkout/composite-checkout/wpcom/hooks/use-shopping-cart.ts
  client/my-sites/checkout/composite-checkout/wpcom/hooks/wpcom-store.ts
  client/my-sites/checkout/composite-checkout/wpcom/index.js
  client/my-sites/checkout/composite-checkout/wpcom/lib/edit-cart.js
  client/my-sites/checkout/composite-checkout/wpcom/lib/translate-cart.ts
  client/my-sites/checkout/composite-checkout/wpcom/test/form-field-annotation.js
  client/my-sites/checkout/composite-checkout/wpcom/test/shopping-cart-endpoint.js
  client/my-sites/checkout/composite-checkout/wpcom/test/translate-cart.js
  client/my-sites/checkout/composite-checkout/wpcom/types.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/backend/payment-method.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/backend/shopping-cart-endpoint.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/checkout-cart.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/checkout-payment-method-slug.ts
  client/my-sites/checkout/composite-checkout/wpcom/types/wpcom-store-state.ts
  client/package.json
  client/tsconfig.json
  package-lock.json
  package.json
  packages/composite-checkout-wpcom/.gitignore
  packages/composite-checkout-wpcom/jest.config.js
  packages/composite-checkout-wpcom/package.json
  packages/composite-checkout-wpcom/src/mock/cart-endpoint.ts
  packages/composite-checkout-wpcom/tsconfig-cjs.json
  packages/composite-checkout-wpcom/tsconfig.json
  packages/composite-checkout-wpcom/webpack.config.js
Labels: Checkout, [Status] Ready to Merge

#40617 Only get Jetpack Sites for Jetpack Cloud
  client/state/sites/actions.js
  config/_shared.json
  config/jetpack-cloud-development.json
  config/jetpack-cloud-production.json
  config/jetpack-cloud-stage.json
Labels: Jetpack Cloud, [Status] Ready to Merge

#40844 Site setup: Add task for updating menus
  client/blocks/support-article-dialog/dialog.jsx
  client/components/checklist/style.scss
  client/components/checklist/task.js
  client/my-sites/checklist/wpcom-checklist/component.jsx
  client/state/inline-support-article/actions.js
  client/state/inline-support-article/reducer.js
  client/state/selectors/get-inline-support-article-action-is-external.js
  client/state/selectors/get-inline-support-article-action-label.js
  client/state/selectors/get-inline-support-article-action-url.js
  client/state/selectors/get-inline-support-article-post-url.js
  test/e2e/lib/pages/checklist-page.js
Labels: Checklist, Customer Home, [Status] Needs Review

#40909 Update the time format to match the user locale 'LT' and update DatePicker today TZ
  client/landing/jetpack-cloud/components/daily-backup-status/index.jsx
  client/landing/jetpack-cloud/components/date-picker/index.jsx
  client/landing/jetpack-cloud/sections/backups/main.jsx
Labels: Jetpack Cloud, [Status] Ready to Merge
