Repository Automattic/wp-calypso, pull requests merged in 2021-03, with the labels that each got.

#44784 Settings: Podcasting - Remove Mention of "Hidden" Option
  client/my-sites/site-settings/podcasting-details/private-site.tsx
Labels: OSS Citizen, Podcasting, [Status] Ready to Merge

#50520 chore(packages): [@automattic/format-currency] Add missing dependency
  packages/format-currency/package.json
Labels: [Status] Needs Review

#50533 ESLint: Deprecate Lodash methods we currently do not use
  .eslintrc.js
  bin/audit-svg-colors.js
Labels: Framework, [Status] Needs Review, [Type] Enhancement

#50530 Framework: Refactor away from _.repeat()
  .eslintrc.js
  client/blocks/comments/docs/post-comment-example.jsx
  client/components/domains/registrant-extra-info/test/fr-validate-contact-details.js
  client/state/reader/posts/test/normalization-rules.js
Labels: Framework, [Status] Needs Review, [Type] Enhancement

#50526 Gutenboarding: Cleanup isExperimental.
  client/landing/gutenboarding/stores/onboard/index.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  packages/data-stores/src/launch/actions.ts
  packages/data-stores/src/launch/index.ts
  packages/data-stores/src/launch/reducer.ts
Labels: Editing Toolkit, [Goal] New Onboarding, [Status] Needs Review

#50280 ExPlat: Add /lib anon-id
  client/lib/explat/internals/anon-id.ts
  client/lib/explat/internals/log-error.ts
  client/lib/explat/internals/test/anon-id.ts
  packages/calypso-analytics/src/tracks.ts
Labels: [Status] Needs Review

#50135 Component: Migrate Suggestions to TypeScript
  packages/components/src/suggestions/index.tsx
  packages/components/src/suggestions/item.jsx
  packages/components/src/suggestions/item.tsx
  packages/components/src/suggestions/test/__snapshots__/index.js.snap
  packages/components/tsconfig.json
Labels: [Status] Needs Review

#50531 Nav Unification: Add "Manage Blogs" menu in the "Me" section
  client/me/sidebar/index.jsx
  packages/material-design-icons/src/navigation/outline-apps-24px.svg
  packages/material-design-icons/svg-sprite/material-icons.svg
Labels: Nav Unification, [Status] Needs Review

#50474 ExPlat: /lib cleanup
  .github/CODEOWNERS
  client/lib/explat/index.ts
  client/lib/explat/internals/anon-id.ts
  client/lib/explat/internals/fetch-experiment-assignment.ts
  client/lib/explat/internals/log-error.ts
  client/lib/explat/internals/misc.ts
Labels: [Status] Needs Review

#50518 chore(packages): [@automattic/onboarding] Add missing dependencies
  packages/onboarding/package.json
Labels: [Status] Needs Review

#50517 chore(packages): [@automattic/page-template-modal] Add missing dependencies
  packages/page-template-modal/package.json
Labels: [Status] Needs Review

#50402 Partner Portal: Add a notice when clicking to copy a license
  client/jetpack-cloud/sections/partner-portal/license-details/index.tsx
  client/jetpack-cloud/sections/partner-portal/license-list-item/style.scss
  client/jetpack-cloud/sections/partner-portal/license-preview/index.tsx
Labels: Jetpack Cloud, [Status] Needs Review

#50584 ci/teamcity: Enable Test Retry
  .teamcity/settings.kts
Labels: [Status] Needs Review

#50587 ci: Do not assume `chromedriver` is in $PATH
  test/e2e/lib/driver-manager.js
Labels: [Status] Ready to Merge

#50448 Carry over user email from login to sign up form
  client/blocks/login/index.jsx
  client/blocks/login/login-form.jsx
  client/login/magic-login/request-login-email-form.jsx
  client/login/wp-login/index.jsx
  client/login/wp-login/login-links.jsx
  test/e2e/lib/pages/login-page.js
Labels: Jetpack Cloud, Login, [Status] Needs Review

#50357 ETK: Add typecheck in TC
  .teamcity/settings.kts
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/src/premium-block-patterns.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/attach-focused-launch.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/attach-launch-sidebar.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-focused-modal/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-menu/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-menu/item.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-modal/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-progress/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-sidebar/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-step/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/domain-step/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/final-step/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/name-step/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/plan-step/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/attach-sidebar.tsx
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/create-page/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-item/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-sidebar/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/toggle-sidebar-button/index.tsx
  apps/editing-toolkit/tsconfig.json
  apps/editing-toolkit/typings/index.d.ts
  packages/format-currency/tsconfig.json
Labels: Editing Toolkit, [Status] Needs Review, [Type] Tooling

#50586 Adds a return param in external urls.
  client/my-sites/sidebar-unified/item.jsx
Labels: [Status] Needs Review

#50591 Domains: Make the free domain explainer banner non-dismissable
  client/components/domains/free-domain-explainer/index.jsx
Labels: Domains, Signup, [Status] Needs Review

#50420 chore(packages): Update postcss packages to their latest versions
  client/package.json
  client/webpack.config.js
  package.json
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/package.json
  packages/calypso-build/webpack.config.js
  packages/calypso-build/webpack/sass.js
  packages/calypso-color-schemes/package.json
  yarn.lock
Labels: [Status] Needs Review

#50548 Temporarily disable the Launch (screensize) test.
  test/e2e/specs/wp-launch-spec.js
Labels: [Status] Needs Review

#50540 Customer home: Prevent showing the same notice more than once
  client/my-sites/customer-home/main.jsx
Labels: [Status] Needs Review

#50561 Fix flakey e2e test: Basic Public Post
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
Labels: [Status] Needs Review

#50465 Checkout: Only redirect away when cart is empty if removing a product
  client/my-sites/checkout/composite-checkout/components/empty-cart.tsx
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  client/my-sites/checkout/composite-checkout/hooks/use-redirect-if-cart-empty.ts
  client/my-sites/checkout/composite-checkout/hooks/use-remove-from-cart-and-redirect.ts
  client/my-sites/checkout/composite-checkout/test/composite-checkout.js
  packages/shopping-cart/README.md
  packages/shopping-cart/src/types.ts
  packages/shopping-cart/src/use-shopping-cart-manager.ts
Labels: Checkout, Shopping Cart, [Status] Needs Review

#39331 Media: Provide Link to Supported Files After Failed Upload
  client/my-sites/media-library/content.jsx
Labels: Media, OSS Citizen, [Status] Ready to Merge

#50329 Signup domain step fixes: Blank screen and UI fix
  client/components/domains/register-domain-step/index.jsx
  client/components/domains/register-domain-step/style.scss
  client/components/domains/search-filters/style.scss
  client/components/search/index.jsx
  client/my-sites/domains/domain-search/index.jsx
Labels: Back to Basics, Domains, Signup, [Status] Needs Review, [Type] Bug

#50580 Terms state: use withPersistence for QueryManager persistence
  client/state/terms/reducer.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#50581 Remove closures and IIFE for some state helpers
  client/state/media/reducer.js
  client/state/posts/reducer.js
  client/state/themes/reducer.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#50594 Refactor the Launch a Free Site test to not require a signup.
  test/e2e/lib/flows/launch-site-flow.js
  test/e2e/specs/wp-launch-spec.js
Labels: [Status] Needs Review

#50516 chore(packages): [@automattic/social-previews] Add missing dev dependencies
  packages/social-previews/package.json
Labels: [Status] Needs Review

#50436 Framework: Refactor away from _.indexOf()
  .eslintrc.js
  client/components/wizard/index.jsx
  client/extensions/woocommerce/app/products/product-variation-types-form.js
  client/signup/config/flows.js
  client/signup/main.jsx
  client/signup/utils.js
  client/state/invites/selectors.js
  client/state/sites/domains/reducer.js
Labels: Code Style, Framework, [Status] Needs Review, [Type] Enhancement

#50583 ESLint: Deprecate _.dropRight
  .eslintrc.js
Labels: Code Style, Framework, [Status] Needs Review, [Type] Enhancement

#50610 Reader reducers: use withPersistence for custom serialize handlers
  client/state/reader/feeds/reducer.js
  client/state/reader/sites/reducer.js
Labels: Reader, State, [Status] Needs Review, [Type] Janitorial

#50582 Framework: Refactor away from _.isArray()
  .eslintrc.js
  apps/notifications/src/panel/state/action-middleware/utils.js
  client/components/happychat/timeline.jsx
  client/components/jetpack/daily-backup-status/status-card/backup-successful.jsx
  client/components/language-picker/utils.js
  client/components/text-diff/index.jsx
  client/extensions/woocommerce/app/settings/payments/payment-method-edit-dialog.js
  client/extensions/woocommerce/components/action-header/index.js
  client/extensions/woocommerce/components/product-search/utils.js
  client/extensions/woocommerce/state/sites/customers/actions.js
  client/extensions/woocommerce/state/sites/data/locations/selectors.js
  client/extensions/woocommerce/state/sites/orders/actions.js
  client/extensions/woocommerce/state/sites/payment-methods/selectors.js
  client/extensions/woocommerce/state/sites/product-categories/selectors.js
  client/extensions/woocommerce/state/sites/products/actions.js
  client/extensions/woocommerce/state/sites/request.js
  client/extensions/woocommerce/state/sites/reviews/selectors.js
  client/extensions/woocommerce/state/sites/settings/general/selectors.js
  client/extensions/woocommerce/state/sites/settings/products/selectors.js
  client/extensions/woocommerce/state/sites/settings/tax/selectors.js
  client/extensions/woocommerce/state/sites/shipping-classes/selectors.js
  client/extensions/woocommerce/state/sites/shipping-methods/selectors.js
  client/extensions/woocommerce/state/sites/shipping-zone-methods/selectors.js
  client/extensions/woocommerce/state/sites/shipping-zones/reducer.js
  client/extensions/woocommerce/state/sites/shipping-zones/selectors.js
  client/extensions/woocommerce/state/ui/shipping/zones/methods/selectors.js
  client/extensions/woocommerce/woocommerce-services/lib/utils/tree.js
  client/gutenberg/editor/calypsoify-iframe.tsx
  client/gutenberg/editor/media-utils.js
  client/lib/abtest/index.js
  client/lib/checkout/validation.js
  client/lib/preferences-helper/preference.js
  client/me/help/help-contact-form/index.jsx
  client/my-sites/backup/hooks.js
  client/my-sites/backup/main.jsx
  client/my-sites/checkout/composite-checkout/components/prepurchase-notices/cart-plan-overlaps-owned-product-notice.tsx
  client/my-sites/checkout/composite-checkout/components/prepurchase-notices/site-plan-includes-cart-product-notice.tsx
  client/my-sites/marketing/connections/mailchimp-settings.jsx
  client/my-sites/plans/jetpack-plans/utils.ts
  client/my-sites/site-settings/disconnect-site/confirm.jsx
  client/my-sites/site-settings/seo-settings/form.jsx
  client/state/action-watchers/utils.js
  client/state/comments/reducer.js
  client/state/data-getters/get-request-activity-logs-id.js
  client/state/data-layer/utils.js
  client/state/data-layer/wpcom/read/following/mine/utils.js
  client/state/data-layer/wpcom/read/tags/utils.js
  client/state/data-layer/wpcom/sites/blog-stickers/index.js
  client/state/data-layer/wpcom/sites/comments-tree/index.js
  client/state/document-head/reducer.js
  client/state/domains/management/reducer.js
  client/state/reader/feeds/actions.js
  client/state/reader/sites/actions.js
  client/state/rewind/selectors/site-has-realtime-backups.ts
  client/state/stats/lists/selectors.js
  docs/coding-guidelines/javascript.md
  packages/page-template-modal/src/components/template-selector-control.js
Labels: Code Style, Framework, [Status] Needs Review, [Type] Enhancement

#50612 Connection state: simplify reducer and its tests
  client/state/application/reducer.js
  client/state/application/test/reducer.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#50515 Add a "Finish Setup" button to the Titan quantity selection page
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/my-sites/email/controller.js
  client/my-sites/email/email-management/titan-control-panel-login-card/index.jsx
  client/my-sites/email/email-management/titan-functions.js
  client/my-sites/email/email-management/titan-management-iframe/index.jsx
  client/my-sites/email/paths.js
  client/my-sites/email/titan-mail-quantity-selection/index.jsx
  client/my-sites/email/titan-mail-quantity-selection/style.scss
Labels: Email Product, [Status] Needs Review

#50539 Redirect users to wpadmin after selecting Jetpack Free
  client/components/jetpack/card/jetpack-free-card/button.tsx
  client/jetpack-connect/controller.js
  client/jetpack-connect/jetpack-connection.jsx
Labels: Jetpack, Plans, [Status] Needs Review

#50599 WooCommerce: Use new standalone WooCommerce installation page instead of extension page
  client/my-sites/sidebar/index.jsx
  client/my-sites/sidebar/test/sidebar.js
Labels: WooCommerce, [Status] Needs Review, [Type] Bug

#50609 ExPlat: Expose all ExPlat Client Functions
  client/lib/explat/index.ts
  client/lib/explat/test/index.ts
  client/package.json
  packages/explat-client-react-helpers/package.json
  packages/explat-react-client/README.md
  packages/explat-react-client/jest.config.js
  packages/explat-react-client/package.json
  packages/explat-react-client/src/index.ts
  packages/explat-react-client/tsconfig-cjs.json
  packages/explat-react-client/tsconfig.json
  packages/tsconfig.json
Labels: [Status] Needs Review

#50406 Partner Portal: Add license list pagination data layer
  client/components/data/query-jetpack-partner-portal-licenses/index.ts
  client/jetpack-cloud/sections/partner-portal/license-list/index.tsx
  client/state/partner-portal/licenses/actions.ts
  client/state/partner-portal/licenses/constants.ts
  client/state/partner-portal/licenses/handlers.ts
  client/state/partner-portal/licenses/test/actions.js
  client/state/partner-portal/licenses/test/handlers.js
Labels: Jetpack Cloud, [Status] Needs Review

#50284 Checkout: Remove CartStore from validation
  client/lib/checkout/README.md
  client/lib/checkout/processor-specific.js
  client/lib/checkout/test/validation.js
  client/lib/checkout/validation.js
  client/my-sites/checkout/composite-checkout/payment-methods/credit-card/credit-card-pay-button.js
Labels: Checkout, [Estimate] 1

#49741 Fix Facebook analytics, split on WPCOM/Jetpack.
  client/lib/analytics/ad-tracking/record-order.js
Labels: Analytics, Back to Basics, [Status] Ready to Merge, [Team] MarTech

#50595 Help: Fix "Contact support" button for test
  client/me/help/main.jsx
Labels: Help, [Status] Needs Review, [Type] Bug

#50596 Jetpack Cloud: plans page for non-connected sites
  client/jetpack-cloud/controller.ts
Labels: Jetpack, Jetpack Cloud, Plans, [Status] In Progress, [Status] Needs Review

#50662 Checkout: Do not override coupon with Jetpack default if already applied
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  packages/shopping-cart/src/use-shopping-cart-reducer.ts
Labels: Checkout, [Status] Needs Review

#50491 Woo Store: Remove LabelSettings and dependencies
  client/components/credit-card-form-fields/README.md
  client/components/credit-card-form-fields/index.jsx
  client/components/credit-card-form-fields/test/index.js
  client/components/payment-country-select/README.md
  client/components/payment-country-select/index.jsx
  client/components/payment-country-select/test/index.jsx
  client/extensions/woocommerce/app/settings/shipping/index.js
  client/extensions/woocommerce/woocommerce-services/style.scss
  client/extensions/woocommerce/woocommerce-services/views/label-settings/add-credit-card-modal.js
  client/extensions/woocommerce/woocommerce-services/views/label-settings/index.js
  client/extensions/woocommerce/woocommerce-services/views/label-settings/label-payment-method.js
  client/extensions/woocommerce/woocommerce-services/views/label-settings/label-settings.js
  client/extensions/woocommerce/woocommerce-services/views/label-settings/style.scss
  client/me/purchases/components/payment-method-form/index.jsx
Labels: WooCommerce, [Status] Needs Review

#50485 Magic Link: add custom landing page for users coming from Jetpack flow
  client/login/index.node.js
  client/login/index.web.js
  client/login/magic-login/index.jsx
  client/login/magic-login/request-login-email-form.jsx
  client/state/auth/actions.js
  client/state/data-layer/wpcom/auth/send-login-email/index.js
Labels: Jetpack, [Status] Needs Review

#38919 Concierge: Migrate Support Image to Webpack
  client/assets/images/illustrations/happiness-support.svg
  client/me/concierge/shared/confirmation.js
  client/my-sites/checkout/upsell-nudge/concierge-quickstart-session/index.jsx
  client/my-sites/checkout/upsell-nudge/concierge-support-session/index.jsx
Labels: Concierge, OSS Citizen, [Status] Needs Rebase, [Status] Needs Review, [Type] Janitorial

#50620 Refactor the Basic Post test case.
  test/e2e/specs/wp-calypso-gutenberg-blocks-spec.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
Labels: [Status] Needs Review

#50617 Sites state: simplify non-persisting reducers
  client/state/sites/reducer.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#50611 Jetpack Connect Authorize: use withPersistence for custom deserialization
  client/state/jetpack-connect/constants.js
  client/state/jetpack-connect/reducer/jetpack-connect-authorize.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#50614 Push Notifications state: use withPersistence for custom de/serialization
  client/state/push-notifications/reducer.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#50685 ci(e2e) Do not use async describe blocks
  .eslintrc.js
  test/e2e/specs/wp-calypso-gutenberg-checkout-spec.js
  test/e2e/specs/wp-calypso-gutenberg-coblocks-spec.js
  test/e2e/specs/wp-gutenberg-experimental-features-spec.js
  test/e2e/specs/wp-inline-help-support-search-spec.js
  test/e2e/specs/wp-my-home-support-search-spec.js
Labels: [Status] Needs Jetpack e2e Testing, [Status] Needs Review, [Status] Needs e2e Testing

#50613 Premium Plugins state: use withPersitence, remove key for errors, test Error object
  client/state/plugins/premium/reducer.js
  client/state/plugins/premium/test/reducer.js
Labels: Plugins, State, [Status] Needs Review

#50588 Update copy on WPAdmin account toggle
  client/me/account/main.jsx
  client/me/account/style.scss
Labels: Nav Unification, [Status] Needs Review

#50655 ci(e2e): Move browser start inside the describe block
  .eslintrc.js
  test/e2e/lib/mocha-hooks.js
  test/e2e/lib/pages/wp-admin/wp-admin-plugins-page.js
  test/e2e/scripts/jetpack/wp-jetpack-activate.js
  test/e2e/scripts/jetpack/wp-jetpack-deactivate.js
  test/e2e/scripts/jetpack/wp-jetpack-jn-activate.js
  test/e2e/specs-i18n/logged-out-redirect-i18n-spec.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-connect-spec.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-plans-spec.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-plugins-spec.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-settings-writing-media-spec.js
  test/e2e/specs-jetpack-calypso/wp-pressable-nux-spec.js
  test/e2e/specs-jetpack/connect-disconnect-spec.js
  test/e2e/specs/wp-calypso-gutenberg-blocks-spec.js
  test/e2e/specs/wp-calypso-gutenberg-checkout-spec.js
  test/e2e/specs/wp-calypso-gutenberg-coblocks-spec.js
  test/e2e/specs/wp-calypso-gutenberg-editor-tracking-spec.js
  test/e2e/specs/wp-calypso-gutenberg-page-editor-spec.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
  test/e2e/specs/wp-calypso-gutenberg-upgrade-spec.js
  test/e2e/specs/wp-calypso-seo-preview.js
  test/e2e/specs/wp-comments-spec.js
  test/e2e/specs/wp-gutenberg-experimental-features-spec.js
  test/e2e/specs/wp-gutenboarding-spec.js
  test/e2e/specs/wp-import-site-spec.js
  test/e2e/specs/wp-inline-help-support-search-spec.js
  test/e2e/specs/wp-invite-users-spec.js
  test/e2e/specs/wp-launch-spec.js
  test/e2e/specs/wp-log-in-out-spec.js
  test/e2e/specs/wp-manage-domains-spec.js
  test/e2e/specs/wp-media-editor-spec.js
  test/e2e/specs/wp-media-upload-spec.js
  test/e2e/specs/wp-my-home-support-search-spec.js
  test/e2e/specs/wp-notifications-spec.js
  test/e2e/specs/wp-plan-purchase-spec.js
  test/e2e/specs/wp-reader-spec.js
  test/e2e/specs/wp-signup-spec.js
  test/e2e/specs/wp-site-editor-spec.js
  test/e2e/specs/wp-ssr-spec.js
  test/e2e/specs/wp-stats-insights-spec.js
  test/e2e/specs/wp-theme-multisite-spec.js
  test/e2e/specs/wp-theme-switch-spec.js
Labels: [Status] Needs Jetpack e2e Testing, [Status] Needs Review, [Status] Needs e2e Testing

#50619 Themes and Posts State: use withPersistence to serialize QueryManagers
  client/state/posts/reducer.js
  client/state/test/utils.js
  client/state/themes/reducer.js
  client/state/utils/schema-utils.js
Labels: State, [Status] Needs Review, [Type] Janitorial

#50330 people(viewers): migrate to `react-query`
  client/data/viewers/remove-viewer.js
  client/data/viewers/use-viewers.js
  client/my-sites/people/main.jsx
  client/my-sites/people/viewers-list/index.jsx
  client/my-sites/people/viewers-list/viewers.jsx
  client/state/action-types.js
  client/state/data-layer/wpcom/viewers/index.js
  client/state/viewers/actions.js
  client/state/viewers/init.js
  client/state/viewers/package.json
  client/state/viewers/reducer.js
  client/state/viewers/selectors.js
  client/state/viewers/test/reducer.js
  client/state/viewers/test/selectors.js
Labels: People Management, [Status] Needs Review

#50667 Partner Portal: Adjust license filter terms used to match i4.1 designs
  client/jetpack-cloud/sections/partner-portal/controller.tsx
  client/jetpack-cloud/sections/partner-portal/index.ts
  client/jetpack-cloud/sections/partner-portal/license-details/index.tsx
  client/jetpack-cloud/sections/partner-portal/license-list/index.tsx
  client/jetpack-cloud/sections/partner-portal/license-preview/index.tsx
  client/jetpack-cloud/sections/partner-portal/license-state-filter/index.tsx
  client/jetpack-cloud/sections/partner-portal/utils.ts
Labels: Jetpack Cloud, [Status] Needs Review

#50589 E2E: Remove 'errorDisplayed' assertions
  test/e2e/specs/wp-calypso-gutenberg-page-editor-spec.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
  test/e2e/specs/wp-calypso-gutenberg-upgrade-spec.js
  test/e2e/specs/wp-signup-spec.js
Labels: [Status] Needs Review

#50657 Switch to newer domain suggestion variation
  client/lib/domains/suggestions/index.js
Labels: Domains, [Status] Ready to Merge

#50666 Plans data-store: misc fixes and refactors
  packages/data-stores/src/plans/selectors.ts
Labels: Data, Plans, [Pri] Low, [Status] Needs Review, [Type] Janitorial

#50653 E2E: Wait for the Publish button to not be disabled
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
Labels: [Status] Ready to Merge

#50618 ExPlat: Implement A/A tests
  client/boot/common.js
  client/lib/explat/internals/anon-id.ts
  client/my-sites/customer-home/cards/tasks/site-setup-list/index.jsx
  client/my-sites/pages/main.jsx
  client/signup/controller.js
  client/signup/index.web.js
  packages/calypso-analytics/src/index.ts
  packages/explat-client-react-helpers/src/index.tsx
  packages/explat-client/src/create-explat-client.ts
  packages/explat-client/src/index.ts
Labels: [Status] Needs Review

#49397 Plans grid: monthly plans copy changes
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/final-step/index.tsx
  packages/plans-grid/src/plans-accordion-item/index.tsx
  packages/plans-grid/src/plans-interval-toggle/index.tsx
  packages/plans-grid/src/plans-table/plan-item.tsx
Labels: Launch, Plans, [Pri] Normal, [Status] Needs Review, [Status] String Freeze

#49290 Domains picker: update copy to reflect monthly vs annual plans difference
  packages/domain-picker/src/domain-picker/style.scss
  packages/domain-picker/src/domain-picker/suggestion-item.tsx
Labels: Domains, Plans, [Pri] Normal, [Status] Needs Review, [Status] String Freeze

#50535 Monthly Plans: update domain step subtitle copy across new onboarding flows
  apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-steps/domain-step/index.tsx
  client/landing/gutenboarding/onboarding-block/domains/index.tsx
  packages/launch/src/focused-launch/domain-details/index.tsx
  packages/launch/src/focused-launch/domain-details/test/index.tsx
Labels: Domains, Plans, [Goal] New Onboarding, [Pri] High, [Status] Needs Review

#50676 Updating text on Cloudflare CDN marketing card to indicate that it is only usable by sites with a custom domain
  client/my-sites/site-settings/cloudflare.js
  client/my-sites/site-settings/style.scss
Labels: Cloudflare, [Status] Needs Review

#50669 Shopping Cart: Remove is_update property
  packages/shopping-cart/src/shopping-cart-endpoint.ts
  packages/shopping-cart/src/use-cart-update-and-revalidate.ts
Labels: Shopping Cart, [Estimate] 1, [Status] Ready to Merge

#50527 Add/finish setup link to titan nav menu
  client/lib/titan/index.js
  client/my-sites/email/email-management/titan-management-nav/index.jsx
  client/my-sites/email/email-management/titan-management-nav/style.scss
Labels: Email Product, [Status] Needs Review

#50696 Show standard dialog when cancelling Titan email on Atomic sites
  client/me/purchases/remove-purchase/index.jsx
Labels: Email Product, [Status] Needs Review

#50597 Plans: End intro pricing 40% off test
  client/components/jetpack/card/jetpack-free-card/index.tsx
  client/components/jetpack/card/jetpack-free-card/style.scss
  client/components/jetpack/card/jetpack-product-card/features-item.tsx
  client/components/jetpack/card/jetpack-product-card/index.tsx
  client/components/jetpack/card/jetpack-product-card/style.scss
  client/components/jetpack/card/npip/jetpack-free-card-npip/index.tsx
  client/components/jetpack/card/npip/jetpack-free-card-npip/style.scss
  client/components/jetpack/card/npip/jetpack-product-card-npip/assets/checkmark.svg
  client/components/jetpack/card/npip/jetpack-product-card-npip/assets/star.svg
  client/components/jetpack/card/npip/jetpack-product-card-npip/features-item.tsx
  client/components/jetpack/card/npip/jetpack-product-card-npip/features.tsx
  client/components/jetpack/card/npip/jetpack-product-card-npip/index.tsx
  client/components/jetpack/card/npip/jetpack-product-card-npip/style.scss
  client/components/jetpack/card/npip/jetpack-product-card-npip/time-frame.tsx
  client/components/jetpack/card/npip/jetpack-product-card-npip/types.ts
  client/jetpack-cloud/sections/partner-portal/header/index.tsx
  client/jetpack-cloud/sections/pricing/header/index.tsx
  client/jetpack-cloud/sections/pricing/style.scss
  client/jetpack-connect/store-header.tsx
  client/lib/abtest/active-tests.js
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  client/my-sites/checkout/composite-checkout/hooks/use-maybe-jetpack-intro-coupon-code.ts
  client/my-sites/plans/jetpack-plans/iterations.ts
  client/my-sites/plans/jetpack-plans/npip/products-grid-npip/index.tsx
  client/my-sites/plans/jetpack-plans/npip/products-grid-npip/style.scss
  client/my-sites/plans/jetpack-plans/plans-header.tsx
  client/my-sites/plans/jetpack-plans/product-card/index.tsx
  client/my-sites/plans/jetpack-plans/product-grid/index.tsx
  client/my-sites/plans/jetpack-plans/product-grid/style.scss
  client/my-sites/plans/jetpack-plans/selector.tsx
  client/my-sites/plans/jetpack-plans/utils.ts
Labels: Plans, [Status] Needs Review

#41926 Gutenboarding: improve mobile keyboard handling for domain search
  packages/domain-picker/src/domain-picker/index.tsx
Labels: Mobile Web, [Goal] New Onboarding, [Pri] Low, [Status] Needs Review, [Type] Enhancement

#50492 Plans data-store: improve unit tests
  packages/data-stores/src/plans/index.ts
  packages/data-stores/src/plans/mock/apis/features.ts
  packages/data-stores/src/plans/mock/apis/plans.ts
  packages/data-stores/src/plans/mock/index.ts
  packages/data-stores/src/plans/mock/store/features.ts
  packages/data-stores/src/plans/mock/store/plans.ts
  packages/data-stores/src/plans/mock/store/products.ts
  packages/data-stores/src/plans/test-utils/index.ts
  packages/data-stores/src/plans/test/actions.ts
  packages/data-stores/src/plans/test/reducer.ts
  packages/data-stores/src/plans/test/resolvers.ts
  packages/data-stores/src/plans/test/selectors.ts
  packages/data-stores/src/plans/types.ts
Labels: Data, Plans, Testing, [Pri] Normal, [Status] Needs Review, [Tests] Includes Tests

#50733 Add anchor to quicklinks
  client/assets/images/customer-home/anchor-logo-grey.svg
  client/my-sites/customer-home/cards/actions/quick-links/index.jsx
Labels: Anchor, [Status] Needs Review

#50723 Checkout: Convert useCreateExistingCards to TypeScript
  client/me/purchases/add-new-payment-method/index.jsx
  client/me/purchases/manage-purchase/change-payment-method/use-create-assignable-payment-methods.ts
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  client/my-sites/checkout/composite-checkout/hooks/use-create-payment-methods/index.js
  client/my-sites/checkout/composite-checkout/hooks/use-create-payment-methods/use-create-existing-cards.ts
  client/my-sites/checkout/composite-checkout/hooks/use-memo-compare.ts
  client/my-sites/purchases/payment-methods/index.tsx
  packages/composite-checkout/src/types.ts
Labels: Checkout, [Estimate] 1, [Status] Ready to Merge

#49641 Remove the use of woocommerce/store-removed. Store is removed permanently.
  client/extensions/woocommerce/app/dashboard/store-move-notice-view.js
  client/extensions/woocommerce/index.js
  client/extensions/woocommerce/store-sidebar/index.js
  client/my-sites/sidebar/index.jsx
  client/my-sites/sidebar/test/sidebar.js
  client/state/sites/selectors/index.js
  client/state/sites/test/selectors.js
  config/desktop-development.json
  config/development.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Labels: Store, WooCommerce, [Status] Needs Review

#50736 ci(e2e): Fix missing `driver` in e2e tests
  test/e2e/specs/wp-calypso-gutenberg-upgrade-spec.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing Gutenberg Edge

#50711 Refactor logic that turns Nav Unification on
  client/assets/stylesheets/_nav-unification.scss
  client/blocks/site/index.jsx
  client/components/mobile-back-to-sidebar/index.jsx
  client/components/sidebar-navigation/index.jsx
  client/layout/index.jsx
  client/layout/masterbar/logged-in.jsx
  client/layout/sidebar/expandable.jsx
  client/lib/features-helper/feature-list.js
  client/me/account/main.jsx
  client/my-sites/current-site/index.jsx
  client/my-sites/navigation/index.jsx
  client/my-sites/sidebar-unified/style.scss
  client/state/selectors/is-nav-unification-enabled.js
  client/state/teams/selectors/get-reader-teams.js
  config/client.json
  config/desktop-development.json
  config/desktop.json
  config/development.json
  config/horizon.json
  config/jetpack-cloud-development.json
  config/jetpack-cloud-horizon.json
  config/jetpack-cloud-stage.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
  packages/calypso-color-schemes/src/shared/color-schemes/_aquatic.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_blue.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_classic-blue.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_classic-dark.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_coffee.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_contrast.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_default.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_ectoplasm.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_light.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_midnight.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_modern.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_nightfall.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_ocean.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_powder-snow.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_sakura.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_sunrise.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_sunset.scss
  packages/components/package.json
  packages/components/src/dialog/index.jsx
Labels: Nav Unification, [Status] Needs Review

#50720 Update photon version number for publishing
  client/package.json
  package.json
  packages/photon/History.md
  packages/photon/package.json
Labels: Packages, [Status] Needs Review, [Type] Janitorial

#50731 Partner Portal: Refactor key selection to use the http() utilities and to look better
  client/jetpack-cloud/sections/partner-portal/select-partner-key/index.tsx
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/state/action-types.js
  client/state/partner-portal/init.js
  client/state/partner-portal/licenses/handlers.ts
  client/state/partner-portal/licenses/test/actions.js
  client/state/partner-portal/partner/actions.ts
  client/state/partner-portal/partner/handlers.ts
  client/state/partner-portal/partner/reducer.ts
  client/state/partner-portal/types.ts
Labels: Jetpack Cloud, [Status] Needs Review

#50730 Partner Portal: Add a quick and dirty way for users to switch between keys
  client/components/data/query-jetpack-partner-portal-license-counts/index.ts
  client/components/data/query-jetpack-partner-portal-licenses/index.ts
  client/jetpack-cloud/sections/partner-portal/primary/licenses/index.tsx
  client/jetpack-cloud/sections/partner-portal/primary/licenses/style.scss
Labels: Jetpack Cloud, [Status] Needs Review

#50537 Partner Portal: Enable the Partner Portal in staging
  config/jetpack-cloud-stage.json
Labels: Jetpack Cloud, [Status] Needs Review

#50773 Fix post Jetpack Connect redirection
  client/components/jetpack/card/jetpack-free-card/button.tsx
  client/jetpack-connect/controller.js
  client/jetpack-connect/jetpack-connection.jsx
Labels: Jetpack, [Status] Needs Review, [Type] Bug

#50603 Store: Remove prices object from plans and products
  client/components/gsuite/gsuite-price/test/index.js
  client/my-sites/checkout/composite-checkout/components/test/lib/fixtures.ts
  client/my-sites/checkout/composite-checkout/test/composite-checkout.js
  client/state/plans/README.md
  client/state/plans/schema.js
  client/state/plans/test/fixture/index.js
  client/state/products-list/schema.js
  client/state/products-list/test/actions.js
  client/state/products-list/test/reducer.js
  packages/data-stores/src/plans/mock/apis/plans.ts
Labels: [Estimate] 2, [Status] Ready to Merge

#50545 TeamCity: Add extension function and refactor ETK build
  .gitignore
  .teamcity/_self/bashNodeScript.kt
  .teamcity/_self/builds/WPComPlugins_EditorToolkit.kt
  .teamcity/settings.kts
Labels: Editing Toolkit, [Status] Needs Review, [Type] Tooling

#50307 Always display homepage title in editor
  apps/editing-toolkit/editing-toolkit-plugin/common/index.scss
Labels: Involves Happiness, [Status] Needs Review

#50621 chore(packages): Migrate from `babel-eslint` to `@babel/eslint-parser`
  .eslintrc.js
  docs/coding-guidelines/javascript.md
  package.json
  packages/eslint-plugin-wpcalypso/CHANGELOG.md
  packages/eslint-plugin-wpcalypso/lib/configs/recommended.js
  packages/eslint-plugin-wpcalypso/lib/rules/test/jsx-classname-namespace.js
  packages/eslint-plugin-wpcalypso/lib/rules/test/jsx-gridicon-size.js
  packages/eslint-plugin-wpcalypso/lib/util/test/get-i18n-string-from-node.js
  packages/eslint-plugin-wpcalypso/package.json
  yarn.lock
Labels: [Status] Needs Review

#50717 ci(e2e): Fix test names for TeamCity
  .teamcity/settings.kts
  test/e2e/lib/reporter/magellan-reporter.js
  test/e2e/package.json
  yarn.lock
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#50716 Plan details: remove domain as second argument of hasTranslation() function
  packages/plans-grid/src/plans-details/index.tsx
Labels: Plans, [Pri] Low, [Status] Needs Review, i18n

#50782 Correct linter error.
  test/e2e/docs/setup.md
Labels: [Status] Needs Review

#50759 Framework: Refactor away from _.isNaN()
  .eslintrc.js
  client/extensions/woocommerce/app/dashboard/widgets/inventory-widget/controls.js
  client/extensions/woocommerce/app/order/order-details/table.js
  client/my-sites/comments/controller.js
  client/my-sites/site-settings/wrap-settings-form.jsx
  client/state/selectors/get-current-plan-purchase-id.js
Labels: Code Style, Framework, [Status] Needs Review, [Type] Enhancement

#50760 Framework: Refactor away from _.fromPairs()
  client/components/forms/sortable-list/index.jsx
  client/components/title-format-editor/parser.js
  client/layout/guided-tours/tour-branching.js
  client/lib/query-manager/key.js
  client/post-editor/media-modal/gallery/fields.jsx
  client/state/data-layer/wpcom/timezones/index.js
  client/state/http/index.js
Labels: Code Style, Framework, [Status] Needs Review, [Type] Enhancement

#50763 Framework: Refactor away from _.fill()
  .eslintrc.js
  client/blocks/conversations/list.jsx
  client/extensions/woocommerce/state/sites/promotions/reducer.js
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/actions.js
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/selectors.js
Labels: Code Style, Framework, [Status] Needs Review, [Type] Enhancement

#50751 Nav Unification: Disable for Jetpack sites
  client/state/selectors/is-nav-unification-enabled.js
Labels: Nav Unification, [Status] Needs Review

#49884 Add monthly pricing to My Plans page
  client/lib/plans/index.js
  client/lib/plans/plans-list.js
  client/my-sites/plan-features/header.jsx
  client/my-sites/plan-features/index.jsx
  client/my-sites/plan-features/item.jsx
  client/my-sites/plan-features/style.scss
  client/my-sites/plan-features/test/header.jsx
  client/my-sites/plan-price/index.jsx
  client/my-sites/plans-features-main/index.jsx
  client/my-sites/plans-features-main/plan-type-selector.tsx
  client/my-sites/plans-features-main/test/plan-type-selector.jsx
  client/my-sites/plans/main.jsx
Labels: Plans, [Status] Needs Design Review, [Status] Needs Review

#50788 Fix New Onboarding flow when Nav Unification is enabled
  client/layout/body-section-css-class.js
  client/layout/index.jsx
Labels: [Status] Needs Review

#50383 Fix: Do not show annual discount on the checkout page
  client/my-sites/checkout/composite-checkout/components/wp-order-review-line-items.tsx
  client/my-sites/checkout/composite-checkout/hooks/product-variants.tsx
  client/my-sites/checkout/composite-checkout/lib/translate-cart.ts
  client/state/products-list/selectors/compute-full-and-monthly-prices-for-plan.js
  packages/shopping-cart/src/shopping-cart-endpoint.ts
Labels: [Status] Needs Review, [Status] String Freeze

#50727 New Onboarding: Fix broken back button when landing from external pages.
  client/landing/gutenboarding/hooks/use-last-location.ts
  client/landing/gutenboarding/onboarding-block/domains/index.tsx
  client/landing/gutenboarding/onboarding-block/edit.tsx
  client/landing/gutenboarding/onboarding-block/language/index.tsx
  client/landing/gutenboarding/onboarding-block/plans/index.tsx
  client/landing/gutenboarding/stores/onboard/actions.ts
  client/landing/gutenboarding/stores/onboard/index.ts
  client/landing/gutenboarding/stores/onboard/reducer.ts
  client/landing/gutenboarding/stores/onboard/selectors.ts
Labels: Back to Basics, [Goal] New Onboarding, [Pri] Normal, [Status] Needs Review, [Type] Bug

#50747 State: remove Lodash stub functions and withoutPersistence from several reducers
  client/state/action-types.js
  client/state/activity-log/activation/reducer.js
  client/state/activity-log/activation/test/reducer.js
  client/state/jetpack/connection/actions.js
  client/state/jetpack/connection/reducer.js
  client/state/jetpack/connection/test/actions.js
  client/state/jetpack/connection/test/reducer.js
  client/state/selectors/is-requesting-jetpack-connection-status.js
  client/state/selectors/is-requesting-jetpack-user-connection.js
  client/state/selectors/test/is-requesting-jetpack-connection-status.js
  client/state/selectors/test/is-requesting-jetpack-user-connection.js
  client/state/sites/monitor/reducer.js
  client/state/sites/monitor/test/reducer.js
Labels: State, [Status] Needs Review

#50671 Help: Style Sibyl results differently
  client/me/help/help-contact-form/index.jsx
  client/me/help/help-results/index.jsx
  client/me/help/help-results/item.jsx
  client/me/help/help-results/style.scss
Labels: [Status] Needs Review, [Type] Bug

#50483 Plans: Wrap subheading in a translate function.
  client/my-sites/plans/main.jsx
Labels: [Status] Needs Review, [Status] String Freeze

#50795 Checkout: Fix fatal error when renewing a Blogger plan
  client/state/products-list/selectors/compute-full-and-monthly-prices-for-plan.js
Labels: Checkout, [Status] Needs Review

#50798 Checkout: remove priceMonthly from available product variant
  client/my-sites/checkout/composite-checkout/hooks/product-variants.tsx
  client/state/products-list/selectors/compute-full-and-monthly-prices-for-plan.js
  client/state/products-list/test/selectors.js
Labels: Checkout, [Status] Ready to Merge

#50266 Updating pricing table copy and adding hosting feature
  client/lib/plans/features-list.js
  client/lib/plans/plans-list.js
Labels: [Status] Ready to Merge

#50794 Nav Unification: add InlineSupportLink to nav unification toggle
  client/me/account/main.jsx
  client/me/account/style.scss
Labels: Nav Unification, [Status] Needs Review

#50797 Plans: Implement money-back guarantee banner in HTML+SVG
  client/components/jetpack/intro-pricing-banner/guarantee.svg
  client/components/jetpack/intro-pricing-banner/images/desktop-2x/en.png
  client/components/jetpack/intro-pricing-banner/images/desktop-2x/index.ts
  client/components/jetpack/intro-pricing-banner/images/desktop/en.png
  client/components/jetpack/intro-pricing-banner/images/desktop/index.ts
  client/components/jetpack/intro-pricing-banner/images/index.ts
  client/components/jetpack/intro-pricing-banner/images/mobile-2x/en.png
  client/components/jetpack/intro-pricing-banner/images/mobile-2x/index.ts
  client/components/jetpack/intro-pricing-banner/images/mobile/en.png
  client/components/jetpack/intro-pricing-banner/images/mobile/index.ts
  client/components/jetpack/intro-pricing-banner/index.tsx
  client/components/jetpack/intro-pricing-banner/style.scss
Labels: Accessibility, Plans, [Status] Ready to Merge

#50803 Jetpack Magic Links: Carry over magic link user account email address to magic link flow pages.
  client/login/magic-login/request-login-email-form.jsx
Labels: Jetpack, Login, [Status] Needs Review

#50482 New onboarding: stop newUsersWithFreePlan A/B test
  client/lib/abtest/active-tests.js
Labels: ABTest, [Status] Needs Review

#50780 ETK Exclude asset.php in CI diff
  .teamcity/_self/builds/WPComPlugins_EditorToolkit.kt
Labels: Editing Toolkit, [Status] Needs Review, [Type] Tooling

#48520 Earn: Edit Payment Plan - Update Support Link
  client/my-sites/earn/memberships/add-edit-plan-modal.jsx
Labels: Earn, OSS Citizen, [Status] Needs Rebase

#35147 Purchase Detail: Improve Colour Contrast
  client/components/purchase-detail/style.scss
Labels: Accessibility, OSS Citizen, [Status] Needs Review

#50308 desktop: Bump version to 6.11.0
  desktop/package.json
Labels: Releases

#50783 chore(lint): Fix lint errors
  client/components/data/query-viewers/README.md
  client/devdocs/design/typography.jsx
Labels: [Status] Needs Review

#50793 Framework: Refactor away from _.inRange()
  client/blocks/site-address-changer/index.jsx
  client/lib/importer/url-validation.js
  client/my-sites/plan-features/scroller.jsx
Labels: Code Style, Domains, Framework, [Status] Ready to Merge, [Type] Enhancement

#50585 Framework: Refactor away from _.join()
  .eslintrc.js
  client/landing/domains/registrant-verification/index.jsx
  client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx
  client/state/data-layer/wpcom/domains/validation-schemas/index.js
Labels: Code Style, Framework, [Status] Needs Review, [Type] Enhancement

#50197 Email: Update Add New Mailboxes page to show pricing information in notices
  client/my-sites/email/titan-mail-quantity-selection/index.jsx
  client/my-sites/email/titan-mail-quantity-selection/style.scss
Labels: Email Product, [Status] Ready to Merge

#50838 Framework: Remove isNullish in favor of vanilla JS
  client/components/date-range/index.js
  client/components/forms/form-radio/index.jsx
  client/extensions/woocommerce/state/data-layer/ui/shipping-zones/index.js
  client/extensions/woocommerce/state/ui/shipping/zones/methods/reducer.js
  client/extensions/woocommerce/state/ui/shipping/zones/methods/selectors.js
  client/extensions/woocommerce/woocommerce-services/state/shipping-label/selectors.js
  client/state/media/reducer.js
  client/state/selectors/get-media-item.js
  packages/js-utils/CHANGELOG.md
  packages/js-utils/src/index.ts
  packages/js-utils/src/is-nullish.ts
  packages/js-utils/src/test/is-nullish.js
  packages/page-template-modal/package.json
  packages/page-template-modal/src/components/template-selector-item.js
Labels: Framework, [Status] Needs Review, [Type] Enhancement

#50735 Jetpack Free in most popular plans experiment
  client/components/jetpack/card/jetpack-free-card/button.tsx
  client/components/jetpack/card/jetpack-free-card/use-jetpack-free-button-props.ts
  client/components/jetpack/card/jetpack-product-card/index.tsx
  client/lib/abtest/active-tests.js
  client/lib/plans/constants.js
  client/lib/plans/features-list.js
  client/lib/plans/plans-list.js
  client/lib/plans/test/plan-lookups.js
  client/my-sites/plan-price/index.jsx
  client/my-sites/plans/jetpack-plans/i7/jetpack-crm-card.tsx
  client/my-sites/plans/jetpack-plans/i7/style.scss
  client/my-sites/plans/jetpack-plans/iterations.ts
  client/my-sites/plans/jetpack-plans/product-card/index.tsx
  client/my-sites/plans/jetpack-plans/product-grid/index.tsx
  client/my-sites/plans/jetpack-plans/product-grid/products-order.ts
  client/my-sites/plans/jetpack-plans/product-grid/utils.ts
  client/my-sites/plans/jetpack-plans/use-item-price.ts
  client/my-sites/plans/jetpack-plans/utils.ts
Labels: Jetpack Cloud, Plans, [Status] Needs Review

#50806 Reset page title when switching back to cloud landing page
  client/jetpack-cloud/index.js
  client/my-sites/controller.js
  client/my-sites/sites/index.jsx
Labels: Jetpack Cloud, [Status] Needs Review

#50808 Transform cloud masterbar title in h1
  client/components/jetpack/masterbar/index.jsx
  client/components/jetpack/masterbar/style.scss
Labels: Accessibility, Jetpack Cloud, [Status] Needs Review

#50842 Temporarily revert "Jetpack Free in most popular plans experiment"
  client/components/jetpack/card/jetpack-free-card/button.tsx
  client/components/jetpack/card/jetpack-free-card/use-jetpack-free-button-props.ts
  client/components/jetpack/card/jetpack-product-card/index.tsx
  client/lib/abtest/active-tests.js
  client/lib/plans/constants.js
  client/lib/plans/features-list.js
  client/lib/plans/plans-list.js
  client/lib/plans/test/plan-lookups.js
  client/my-sites/plan-price/index.jsx
  client/my-sites/plans/jetpack-plans/i7/jetpack-crm-card.tsx
  client/my-sites/plans/jetpack-plans/i7/style.scss
  client/my-sites/plans/jetpack-plans/iterations.ts
  client/my-sites/plans/jetpack-plans/product-card/index.tsx
  client/my-sites/plans/jetpack-plans/product-grid/index.tsx
  client/my-sites/plans/jetpack-plans/product-grid/products-order.ts
  client/my-sites/plans/jetpack-plans/product-grid/utils.ts
  client/my-sites/plans/jetpack-plans/use-item-price.ts
  client/my-sites/plans/jetpack-plans/utils.ts
Labels: Plans, [Status] Needs Review

#50203 Simplify Jetpack's signup flow with magic links
  client/assets/images/illustrations/check-email-jetpack.svg
  client/blocks/login/index.jsx
  client/blocks/login/login-form.jsx
  client/blocks/login/social.jsx
  client/jetpack-connect/authorize.js
  client/jetpack-connect/test/authorize.js
  client/login/controller.js
  client/login/magic-login/emailed-login-link-successfully-jetpack-connect.tsx
  client/login/magic-login/handle-emailed-link-form-jetpack-connect.tsx
  client/login/magic-login/index.jsx
  client/login/magic-login/request-login-email-form.jsx
  client/login/magic-login/style.scss
  client/login/wp-login/index.jsx
  client/state/auth/actions.js
  client/state/data-layer/wpcom/auth/send-login-email/index.js
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
Labels: DO NOT MERGE, Jetpack, Signup, [Status] Needs Review

#50807 data-stores: Remove initial_cost_matched property from mocks
  packages/data-stores/src/plans/mock/apis/plans.ts
Labels: [Status] Needs Review

#50093 Components: Migrate Dialog to TypeScript
  packages/components/src/dialog/button-bar.tsx
  packages/components/src/dialog/index.jsx
  packages/components/src/dialog/index.tsx
Labels: Components, [Status] Needs Review

#50779 Jetpack: Scan: Do not show fix estimate if threat is fixed or ignored
  client/components/jetpack/threat-item/index.tsx
Labels: Jetpack Cloud, Jetpack Scan, [Status] Needs Design Review, [Status] Needs Review

#50828 ci(e2e): Create video dir concurrently
  .teamcity/settings.kts
  test/e2e/lib/video-recorder.js
Labels: [Status] Needs Review

#50805 Checkout: Make cart messages persistent across page loads
  client/my-sites/checkout/cart/cart-messages.jsx
Labels: Checkout, Shopping Cart, [Estimate] 1, [Status] Ready to Merge

#50738 Domains: Display a notice when redirecting away from Google Workspace upgrade
  client/components/upgrades/gsuite/index.jsx
Labels: Checkout, Domains, [Estimate] 1, [Status] Ready to Merge

#50829 MediaLibrary: remove unused onEditItem prop
  client/my-sites/media-library/content.jsx
  client/my-sites/media-library/index.jsx
  client/my-sites/media-library/list-item.tsx
  client/my-sites/media-library/list.jsx
  client/my-sites/media/main.jsx
  client/post-editor/media-modal/index.jsx
Labels: Media, [Status] Needs Review, [Type] Janitorial

#50707 Ensure that `errorNotice` is correctly wired into outbound Titan redirect component
  client/my-sites/email/email-management/titan-control-panel-redirect/index.jsx
Labels: Email Product, [Status] Needs Review

#50700 Show all cart errors that occur in Titan quantity selection page
  client/my-sites/email/titan-mail-quantity-selection/index.jsx
Labels: Email Product, [Status] Ready to Merge

#50756 Domain Suggestions: Externalize getSuggestionsVendor().
  client/lib/domains/suggestions/index.js
  packages/domain-picker/src/index.tsx
  packages/domain-picker/src/utils.ts
Labels: Domains, [Pri] Normal, [Status] Needs Review, [Type] Task

#50886 chore(packages): Update webpack packages
  client/package.json
  package.json
  packages/calypso-build/package.json
  yarn.lock
Labels: [Status] Needs Review

#50849 Jetpack Connect: add busy state to the button while isFetching
  client/jetpack-connect/site-url-input.jsx
Labels: Accessibility, Jetpack, [Status] Needs Design Review, [Status] Needs Review

#50766 js-utils: make package private, add code owners, add important notice, change version
  .github/CODEOWNERS
  client/package.json
  packages/js-utils/CHANGELOG.md
  packages/js-utils/README.md
  packages/js-utils/package.json
Labels: [Status] Needs Review, [Type] Janitorial

#50712 people(team): use `react-query` to fetch data
  client/data/users/use-users-query.js
  client/my-sites/people/team-list/index.jsx
  client/my-sites/people/team-list/team.jsx
Labels: People Management, [Status] Needs Review

#50800 Decouple the Happy Chat button from the FAB and always show it when there’s an active chat session
  client/blocks/inline-help/index.jsx
  client/blocks/inline-help/style.scss
  client/components/happychat/button.jsx
  client/layout/index.jsx
  client/layout/style.scss
  client/my-sites/customer-home/cards/features/help-search/index.jsx
  client/state/inline-help/actions.js
  client/state/selectors/is-inline-help-visible.js
Labels: Happychat, Involves Happiness, Nav Unification, [Status] Needs Review

#50880 ci(test): Create an explicit browserlist env for tests
  client/my-sites/backup/backup-date-picker/test/index.jsx
  package.json
  packages/webpack-config-flag-plugin/test/__snapshots__/index.js.snap
  packages/webpack-inline-constant-exports-plugin/test/__snapshots__/index.js.snap
Labels: [Status] Needs Review

#50324 Adds test to emphasize the free domain option in the launch flow
  client/signup/steps/domain-upsell/index.jsx
  client/signup/steps/domain-upsell/style.scss
Labels: ABTest, Launch, [Status] Needs Review

#50851 Restore site: update more info to an external link
  client/my-sites/activity/activity-log-confirm-dialog/index.jsx
  client/my-sites/activity/activity-log-confirm-dialog/style.scss
Labels: Activity Log, Jetpack, Jetpack Backup, [Status] Ready to Merge

#50004 search: Convert to function component
  packages/search/jest.config.js
  packages/search/package.json
  packages/search/src/search.stories.jsx
  packages/search/src/search.tsx
  packages/search/src/test/index.js
  packages/search/src/types.d.ts
  packages/search/src/utils.ts
  yarn.lock
Labels: Components, [Status] Needs Review

#50856 Cancellation: translate button text
  client/components/marketing-survey/cancel-purchase-form/index.jsx
Labels: Purchases, [Status] Needs Review, [Status] String Freeze

#50900 Update styles of the asterisk notes in pricing page
  client/my-sites/plans/jetpack-plans/product-grid/style.scss
Labels: Jetpack Cloud, Plans, [Status] Needs Review

#50862 Cloudflare - Suppress warning message for non-wordpress.com nameservers if user is entering Cloudflare info
  client/my-sites/domains/domain-management/name-servers/index.jsx
  client/state/domains/nameservers/constants.js
Labels: Cloudflare, [Status] Needs Review

#50908 Codeowners: add View Design to block patterns
  .github/CODEOWNERS
Labels: [Status] Needs Review

#50835 Signup domains step: Fix alignment for RTL
  client/components/domains/example-domain-browser/index.jsx
  client/components/domains/search-filters/style.scss
Labels: Back to Basics, Domains, Signup, [Status] Ready to Merge

#50859 Fix home link accessible name in Jetpack masterbar
  client/components/jetpack-logo/index.jsx
  client/components/jetpack/masterbar/index.jsx
  client/lib/a11y/constants.ts
  client/lib/a11y/types.ts
  client/lib/a11y/use-aria-props.ts
Labels: Accessibility, Jetpack Cloud, [Status] Needs Review

#50897 Localize URL: Don't rewrite wordpress.com URLs that point to Calypso
  packages/i18n-utils/src/localize-url.tsx
  packages/i18n-utils/src/test/localize-url.js
Labels: [Status] Needs Review, [Type] Bug, i18n

#50873 Add new issue template for Task type
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task.md
Labels: [Type] Task

#50863 Components: Refactor Card to TypeScript
  packages/components/src/card/compact.jsx
  packages/components/src/card/compact.tsx
  packages/components/src/card/index.jsx
  packages/components/src/card/index.tsx
Labels: [Status] Needs Review
