Repository Automattic/wp-calypso, pull requests merged in 2021-04, with the labels that each got.

#51613 Add review prompt on Jetpack Restore
  client/my-sites/backup/rewind-flow/download.tsx
  client/my-sites/backup/rewind-flow/index.tsx
  client/my-sites/backup/rewind-flow/restore.tsx
Labels: [Status] Ready to Merge

#51607 Add JetpackReviewPrompt into Scan flow.
  client/my-sites/scan/main.tsx
  client/state/data-layer/wpcom/sites/alerts/fix-status.js
Labels: Jetpack, Jetpack Scan, [Status] Needs Review

#51394 Add transfer status and logstash to debug woocommerce setup
  client/my-sites/woocommerce/dashboard/required-plugins-install-view.jsx
Labels: WooCommerce, [Status] Ready to Merge

#50741 Add regression test to warn us that not all patterns might be loading
  test/e2e/specs/wp-gutenberg-experimental-features-spec.js
Labels: [Status] Needs Review

#51470 o2-blocks: Make calypso the source of truth
  .teamcity/_self/PluginBaseBuild.kt
  .teamcity/_self/projects/WPComPlugins.kt
  apps/o2-blocks/index.php
Labels: [Status] Needs Review

#51606 Notifications: prep build for new process
  .teamcity/_self/PluginBaseBuild.kt
  .teamcity/_self/projects/WPComPlugins.kt
Labels: Notifications, [Status] Needs Review, [Type] Tooling

#51508 E2E: Rename & move clearTextArea to correct spot
  test/e2e/lib/driver-helper.js
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
  test/e2e/lib/pages/themes-page.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#50999 E2E: Fix flaky Magic Link spec
  test/e2e/lib/pages/login-page.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#51573 E2E: Address Gutenboarding suite issues
  test/e2e/lib/pages/gutenboarding/acquire-intent-page.js
  test/e2e/specs/wp-gutenboarding-spec.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#51525 Gutenberg: Fix E2E suite against v10.3.0
  test/e2e/lib/gutenberg/gutenberg-editor-sidebar-component.js
Labels: [Status] Needs e2e Testing Gutenberg Edge

#51580 E2E: Fix iframe driver switch intermittent failure
  client/gutenberg/editor/calypsoify-iframe.tsx
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#51505 Date Range: update range styling
  client/components/date-range/style.scss
Labels: Components, Jetpack, [Status] Ready to Merge

#51575 E2E: Fix flaky site/post creation flows
  test/e2e/lib/flows/create-site-flow.js
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#51582 Framework: Refactor away from _.negate()
  client/components/keyed-suggestions/index.jsx
  client/layout/guided-tours/utils.js
  client/my-sites/domains/domain-management/name-servers/custom-nameservers-form.jsx
  client/my-sites/plugins/plugins-list/index.jsx
  client/state/domains/dns/reducer.js
Labels: Framework, [Status] Needs Review, [Type] Enhancement

#51625 Gutenberg: Revert E2E hotfix after production rollback
  test/e2e/lib/gutenberg/gutenberg-editor-sidebar-component.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#51101 Prevent credentials edition for sites with no purchases
  client/components/has-site-purchases-switch/index.tsx
  client/components/has-site-purchases-switch/test/index.jsx
  client/jetpack-cloud/sections/settings/controller.tsx
  client/jetpack-cloud/sections/settings/empty-content.tsx
  client/jetpack-cloud/sections/settings/has-site-credentials-switch.tsx
  client/jetpack-cloud/sections/settings/loading/index.tsx
  client/jetpack-cloud/sections/settings/loading/style.scss
  client/jetpack-cloud/sections/settings/loading/test/__snapshots__/index.jsx.snap
  client/jetpack-cloud/sections/settings/loading/test/index.jsx
  client/jetpack-cloud/sections/settings/style.scss
  client/jetpack-cloud/sections/settings/test/__snapshots__/empty-content.jsx.snap
  client/jetpack-cloud/sections/settings/test/empty-content.jsx
  client/lib/url/support.js
  client/state/action-types.js
  client/state/purchases/actions.js
  client/state/purchases/reducer.js
  client/state/selectors/get-site-credentials-request-status.ts
Labels: Jetpack Cloud, Site Settings, [Size] M, [Status] Needs Review

#51108 Change the editor links when Dashboard Appearance toggle is enabled
  client/gutenberg/editor/controller.js
  client/my-sites/theme/test/main.jsx
  client/state/selectors/get-editor-url.js
  client/state/selectors/is-nav-unification-enabled.js
  client/state/selectors/should-load-gutenframe.js
  client/state/selectors/test/get-editor-close-config.js
  client/state/user-settings/reducer.js
  client/state/user-settings/selectors.js
  client/state/user-settings/test/reducer.js
Labels: Nav Unification, [Status] In Progress, [Status] Needs Review

#50776 e2e: Get e2e tests working with nav unification
  client/state/selectors/is-nav-unification-enabled.js
  test/e2e/lib/components/secure-payment-component.js
  test/e2e/lib/components/sidebar-component.js
  test/e2e/lib/driver-manager.js
  test/e2e/lib/flows/login-flow.js
  test/e2e/lib/pages/media-page.js
  test/e2e/lib/pages/my-home-page.js
  test/e2e/lib/pages/plugin-details-page.js
  test/e2e/lib/pages/plugins-browser-page.js
  test/e2e/lib/pages/reader-page.js
  test/e2e/lib/pages/settings-page.js
  test/e2e/lib/pages/wp-admin/wp-admin-sidebar.js
  test/e2e/lib/pages/wporg-creator-page.js
  test/e2e/specs-jetpack-calypso/wp-jetpack-plugins-spec.js
  test/e2e/specs/wp-calypso-gutenberg-editor-tracking-spec.js
  test/e2e/specs/wp-invite-users-spec.js
  test/e2e/specs/wp-log-in-out-spec.js
  test/e2e/specs/wp-manage-domains-spec.js
  test/e2e/specs/wp-media-editor-spec.js
  test/e2e/specs/wp-media-upload-spec.js
  test/e2e/specs/wp-theme-multisite-spec.js
Labels: [Status] Needs Jetpack e2e Testing, [Status] Needs Review, [Status] Needs e2e Testing

#51630 Site selector: consolidate styles with nav unification
  client/blocks/site/style.scss
  client/components/site-selector/style.scss
Labels: Admin Color Schemes Unification, Nav Unification, [Pri] Normal, [Size] M, [Status] Needs Review

#51597 Domains: Add a link back to WordPress.com on the verification screen
  client/landing/domains/registrant-verification/index.jsx
Labels: Domains, [Status] Needs Review

#51599 Domains: Fix cancel transfer out from domain management
  client/my-sites/domains/domain-management/components/outbound-transfer-confirmation/index.jsx
Labels: Domains, [Status] Needs Review

#51529 Checkout: Modify PayPal payment processor to use explicit error handling
  client/my-sites/checkout/composite-checkout/lib/paypal-express-processor.ts
Labels: Checkout, [Estimate] 1, [Status] Ready to Merge

#51617 App builds: Include the README file in the final artifact
  .teamcity/_self/PluginBaseBuild.kt
  apps/editing-toolkit/README.md
  apps/notifications/README.md
  apps/o2-blocks/README.md
  apps/wpcom-block-editor/README.md
Labels: [Status] Needs Review, [Type] Tooling

#51626 Partner Portal: Update wpcomJetpackLicensing handler to use wpcomXhrRequest
  client/lib/wp/browser.js
Labels: Jetpack Cloud, [Status] Needs Review

#51528 Checkout: Update free and full credits processors to use explicit error handling
  client/my-sites/checkout/composite-checkout/lib/free-purchase-processor.ts
  client/my-sites/checkout/composite-checkout/lib/full-credits-processor.ts
Labels: Checkout, [Estimate] 1, [Status] Ready to Merge

#51644 Gutenberg: Fix E2E suite against v10.3.1
  test/e2e/lib/gutenberg/gutenberg-editor-sidebar-component.js
Labels: [Status] Needs e2e Testing Gutenberg Edge

#51637 Actions: add a new Gardening action
  .github/workflows/gardening.yml
Labels: [Pri] Normal, [Status] Needs Review, [Type] Janitorial

#51492 Export: Place the loading indicator better in non-EN
  client/my-sites/exporter/style.scss
Labels: Export, [Status] Needs Review, [Type] Janitorial, i18n

#51557 Partner Portal: Refactor license issuing data layer
  client/components/data/query-jetpack-partner-portal-licenses/index.ts
  client/jetpack-cloud/sections/partner-portal/issue-license-form/index.tsx
  client/jetpack-cloud/sections/partner-portal/issue-license-form/style.scss
  client/jetpack-cloud/sections/partner-portal/license-details/index.tsx
  client/jetpack-cloud/sections/partner-portal/license-list-context/index.ts
  client/jetpack-cloud/sections/partner-portal/license-list/index.tsx
  client/jetpack-cloud/sections/partner-portal/license-state-filter/index.tsx
  client/jetpack-cloud/sections/partner-portal/primary/licenses/index.tsx
  client/jetpack-cloud/sections/partner-portal/utils.ts
  client/state/partner-portal/licenses/actions.ts
  client/state/partner-portal/licenses/hooks/use-issue-license-mutation.ts
  client/state/partner-portal/licenses/hooks/use-products-query.ts
  client/state/partner-portal/licenses/test/actions.js
  client/state/partner-portal/licenses/test/hooks.js
  client/state/partner-portal/types.ts
Labels: Jetpack Cloud, [Status] Needs Review

#51245 Partner Portal: Add ability to revoke licenses
  client/jetpack-cloud/sections/partner-portal/license-details/actions.tsx
  client/jetpack-cloud/sections/partner-portal/license-details/index.tsx
  client/jetpack-cloud/sections/partner-portal/license-preview/index.tsx
  client/jetpack-cloud/sections/partner-portal/revoke-license-dialog/index.tsx
  client/jetpack-cloud/sections/partner-portal/revoke-license-dialog/style.scss
  client/state/partner-portal/licenses/hooks/use-refresh-license-list.ts
  client/state/partner-portal/licenses/hooks/use-revoke-license-mutation.ts
  client/state/partner-portal/licenses/test/hooks.js
Labels: Jetpack Cloud, [Status] Needs Review

#51385 Jetpack Checkout: Change Jetpack post checkout URL from my-plan to recommendations
  client/components/jetpack/card/jetpack-free-card/test/button.jsx
  client/components/jetpack/card/jetpack-free-card/use-jetpack-free-button-props.ts
  client/my-sites/checkout/composite-checkout/hooks/use-get-thank-you-url/get-thank-you-page-url.ts
  client/my-sites/checkout/composite-checkout/test/composite-checkout-thank-you.js
  client/state/selectors/get-jetpack-recommendations-url.js
Labels: [Status] Ready to Merge

#51527 Checkout: Update redirect processor to use explicit error handling
  client/my-sites/checkout/composite-checkout/lib/generic-redirect-processor.ts
  client/my-sites/checkout/composite-checkout/lib/prepare-redirect-transaction.ts
  client/my-sites/checkout/composite-checkout/lib/we-chat-processor.ts
Labels: Checkout, [Estimate] 1, [Status] Ready to Merge

#51654 Log Olark config failures to logstash
  client/state/happychat/user/actions.js
Labels: [Status] Needs Review

#51652 Change the whats-new API locale parameter to _locale
  packages/whats-new/src/index.js
Labels: [Status] Needs Review

#51576 Jetpack Cloud: update all border-radii from 3px to 4px
  client/jetpack-cloud/style.scss
Labels: Jetpack, Jetpack Cloud, [Status] Ready to Merge

#51623 Fix the "Add a domain" button to work with domain only purchase
  client/signup/config/flows.js
Labels: Domains, [Status] Ready to Merge

#50762 Another take on the "Add a domain" button
  client/my-sites/domains/domain-management/list/add-domain-button.jsx
  client/my-sites/domains/domain-management/list/index.jsx
  test/e2e/lib/pages/domains-page.js
  test/e2e/specs/wp-manage-domains-spec.js
Labels: Domains, [Status] Needs Review

#51638 Author Selector: Auto-focus using prop rather than ref
  client/blocks/author-selector/switcher-shell.jsx
Labels: [Status] Needs Review, [Type] Bug

#51600 SerializationResult: Convert to TypeScript
  client/state/serialization-result.ts
  client/state/test/serialization-result.ts
Labels: [Status] Needs Review, [Type] Janitorial

#51647 Add HMAC to mc post request
  .teamcity/_self/PluginBaseBuild.kt
  .teamcity/settings.kts
  apps/editing-toolkit/editing-toolkit-plugin/full-site-editing-plugin.php
Labels: TeamCity, [Status] Needs Review, [Type] Tooling

#51685 Partner Portal: Fix typo in the revoke license dialog
  client/jetpack-cloud/sections/partner-portal/revoke-license-dialog/index.tsx
Labels: Jetpack Cloud, [Status] Needs Review

#51605 Checkout: Allow cart products to include a redirect URL
  client/my-sites/checkout/composite-checkout/hooks/use-get-thank-you-url/get-thank-you-page-url.ts
  client/my-sites/checkout/composite-checkout/test/composite-checkout-thank-you.js
  packages/shopping-cart/src/shopping-cart-endpoint.ts
Labels: Checkout, Post Checkout, [Estimate] 2, [Status] Ready to Merge

#51694 ETK GH Actions: Simplify build and remove artifact
  .github/workflows/editing-toolkit-plugin.yml
  apps/editing-toolkit/editing-toolkit-plugin/full-site-editing-plugin.php
Labels: [Status] Needs Review

#51680 Patner Portal: Change date format on license details
  client/jetpack-cloud/sections/partner-portal/license-details/index.tsx
Labels: Jetpack Cloud, [Status] Needs Review

#51547 build/simplified-rtl-2
  apps/editing-toolkit/package.json
  apps/notifications/package.json
  apps/o2-blocks/package.json
  apps/wpcom-block-editor/package.json
  client/package.json
  package.json
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/package.json
  packages/calypso-build/webpack/minify.js
  packages/composite-checkout/package.json
  packages/social-previews/package.json
  packages/webpack-rtl-plugin/CHANGELOG.md
  packages/webpack-rtl-plugin/package.json
  packages/webpack-rtl-plugin/src/index.js
  packages/webpack-rtl-plugin/test/index.js
  packages/whats-new/package.json
  yarn.lock
Labels: [Status] Needs Review

#51678 ci(docker): Add user calypso to docker images
  Dockerfile.base
Labels: [Status] Needs Review

#51681 Framework: Refactor away from `_.min()`
  client/blocks/conversations/list.jsx
  client/my-sites/media-library/list.jsx
Labels: Framework, [Status] Needs Review, [Type] Enhancement

#51682 Framework: Refactor away from `_.max()`
  client/lib/path-to-section/index.js
  client/my-sites/stats/post-trends/index.jsx
  client/my-sites/stats/stats-views/months.jsx
  client/state/products-list/selectors/compute-full-and-monthly-prices-for-plan.js
Labels: Framework, [Status] Needs Review, [Type] Enhancement

#51679 Components: Remove Lodash usage from TitleFormatEditor
  client/components/title-format-editor/index.jsx
Labels: Components, Framework, SEO Tools, [Status] Needs Review, [Type] Enhancement

#51684 Components: Fix key in GravatarCaterpillar
  client/components/gravatar-caterpillar/index.jsx
Labels: Components, Reader, [Status] Needs Review, [Type] Janitorial

#51674 i18n: Update change handler in CalypsoI18nProvider when `wpI18n` updates
  client/components/calypso-i18n-provider/index.tsx
Labels: [Status] Needs Review, [Type] Bug, i18n

#51688 layout: Sanitize only string SidebarItem labels
  client/layout/sidebar/item.jsx
Labels: [Status] Needs Review, [Type] Bug, i18n

#51635 packages: Remove `@automattic/react-i18n`
  packages/react-i18n/README.md
  packages/react-i18n/package.json
  packages/react-i18n/src/index.tsx
  packages/react-i18n/tsconfig-cjs.json
  packages/react-i18n/tsconfig.json
  packages/tsconfig.json
  yarn.lock
Labels: Packages, [Status] Needs Review, [Type] Janitorial

#51712 Media: Fix date handling in media item groups
  client/my-sites/media-library/list.jsx
Labels: Media, [Pri] High, [Status] Needs Review, [Type] Bug

#51708 FSE: remove Seedlet Blocks from onboarding flow
  packages/design-picker/src/available-designs-config.json
Labels: [Goal] Full Site Editing, [Status] Needs Review

#51609 Plans: Add plan to cart and redirect to "add domain" for special query string
  client/my-sites/domains/domain-search/index.jsx
  client/my-sites/plan-features/actions.jsx
  client/my-sites/plan-features/index.jsx
  client/my-sites/plans-features-main/index.jsx
  client/my-sites/plans/controller.jsx
  client/my-sites/plans/main.jsx
Labels: Plans, [Status] Needs Review

#51687 Get e2e tests passing for TC mobile
  test/e2e/specs/wp-calypso-gutenberg-page-editor-spec.js
  test/e2e/specs/wp-calypso-gutenberg-post-editor-spec.js
Labels: [Status] Needs Review

#51701 Onboarding: adding new FSE designs
  packages/design-picker/src/available-designs-config.json
Labels: [Goal] Full Site Editing, [Goal] New Onboarding, [Status] In Progress, [Status] Needs Review

#51697 Add translation calls for Jetpack Backup and Scan menu items
  client/components/jetpack/sidebar/menu-items/index.jsx
Labels: [Status] Needs Review

#51713 ci: Fix renovate config
  renovate.json
Labels: [Status] Needs Review

#51567 `useLocale()` hook falls back to using `@wordpress/i18n` locale data
  packages/i18n-utils/package.json
  packages/i18n-utils/src/locale-context.tsx
  packages/i18n-utils/src/test/locale-context.tsx
Labels: [Status] Needs Review, [Status] Needs e2e Testing, i18n

#51480 Welcome guide: add integration tests for the welcome guide data store
  apps/editing-toolkit/bin/js-unit-setup.js
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/index.js
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/store.js
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/test/store.test.js
  apps/editing-toolkit/package.json
Labels: Editor Welcome, [Status] Needs Review, [Type] Janitorial

#51729 Remove app builds from unit test suite
  .teamcity/_self/projects/WebApp.kt
Labels: TeamCity

#51700 ETK: Fix JS errors related to mediaelement.js loaded by Core
  apps/editing-toolkit/webpack.config.js
Labels: Editing Toolkit, [Status] Needs Review

#51736 build: Disable babel cache compression
  client/webpack.config.desktop.js
  client/webpack.config.js
  client/webpack.config.node.js
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/webpack/transpile.js
Labels: [Status] Needs Review

#51704 Removes margin and shadow from collapsed view.
  client/my-sites/sidebar-unified/style.scss
Labels: [Status] Needs Review

#51707 Fixes collapsed state of upsell nudges.
  client/my-sites/sidebar-unified/style.scss
Labels: [Status] Needs Review

#51477 ETK Nav Sidebar: Use site icon for menu toggle when available
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-sidebar/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-sidebar/style.scss
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/site-icon/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/toggle-sidebar-button/index.tsx
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/toggle-sidebar-button/style.scss
Labels: Editing Toolkit, [Status] Needs Review

#51622 Restarts the test to emphasize the free domain option in the launch flow
  client/signup/steps/domain-upsell/index.jsx
Labels: ABTest, Launch, [Status] Needs Review

#51721 Remove Security Realtime in most popular section experiment
  client/lib/abtest/active-tests.js
  client/my-sites/plans/jetpack-plans/iterations.ts
  client/my-sites/plans/jetpack-plans/product-grid/products-order.ts
Labels: ABTest, Jetpack Cloud, [Size] XS, [Status] Needs Review

#51657 Jetpack Cloud: open checkout in the same tab
  client/components/jetpack/upsell/index.tsx
  client/my-sites/activity/activity-log-v2/index.tsx
  client/my-sites/backup/backup-upsell/index.tsx
  client/my-sites/scan/scan-upsell/index.jsx
  client/my-sites/scan/upsell.jsx
Labels: Jetpack, Jetpack Cloud, [Status] Needs Review

#51659 Social Previews: Twitter Preview - Wrap Long Text
  packages/social-previews/CHANGELOG.md
  packages/social-previews/package.json
  packages/social-previews/src/twitter-preview/style.scss
Labels: OSS Citizen, Social Previews, [Pri] Normal, [Type] Bug

#51749 Fix: Save Jetpack Scan Review Prompt Preference per each siteID
  client/state/jetpack-review-prompt/actions.ts
  client/state/jetpack-review-prompt/selectors.ts
  client/state/jetpack-review-prompt/test/actions.ts
  client/state/jetpack-review-prompt/test/selectors.ts
  client/state/preferences/schema.js
Labels: Jetpack, Jetpack Scan, [Status] Needs Review

#36493 Type: tree-select package
  packages/tree-select/package.json
  packages/tree-select/src/index.ts
  packages/tree-select/tsconfig-cjs.json
  packages/tree-select/tsconfig.json
  packages/tsconfig.json
Labels: Build, Packages, [Status] Ready to Merge

#51077 Reader: Use Gutenberg for Reader Comments via IsolatedBlockEditor
  client/blocks/comments/autoresizing-form-textarea.jsx
  client/blocks/comments/autoresizing-form-textarea.scss
  client/blocks/comments/block-editor/autocompleters/index.js
  client/blocks/comments/block-editor/autocompleters/style.scss
  client/blocks/comments/block-editor/autocompleters/user.jsx
  client/blocks/comments/block-editor/autocompleters/xpost.jsx
  client/blocks/comments/block-editor/index.jsx
  client/blocks/comments/block-editor/style.scss
  client/blocks/comments/comment-edit-form.jsx
  client/blocks/comments/comment-edit-form.scss
  client/blocks/comments/form-textarea.jsx
  client/blocks/comments/form.jsx
  client/blocks/comments/form.scss
  client/package.json
  config/development.json
  yarn.lock
Labels: Reader, [Status] Needs Review, [Status] Needs e2e Testing

#51735 Add team calypso platform to all renovate PRs
  renovate.json
Labels: [Status] Needs Review

#51772 Block patterns: add utils class to the ETK
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/class-block-patterns-utils.php
Labels: Editing Toolkit, [Status] Ready to Merge

#51423 Block patterns: add unit tests to the ETK
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/class-block-patterns-from-api.php
  apps/editing-toolkit/editing-toolkit-plugin/block-patterns/test/class-block-patterns-from-api-test.php
  apps/editing-toolkit/editing-toolkit-plugin/full-site-editing-plugin.php
  apps/editing-toolkit/editing-toolkit-plugin/phpunit.xml.dist
Labels: DO NOT MERGE, Editing Toolkit, [Status] Needs Review, [Tests] Includes Tests

#51705 Happychat: remove usages of createReactClass
  client/components/happychat/README.md
  client/components/happychat/autoscroll.js
  client/components/happychat/composer.jsx
  client/components/happychat/index.jsx
  client/components/happychat/notices.jsx
  client/components/happychat/scrollbleed.js
  client/components/happychat/style.scss
  client/components/happychat/test/composer.jsx
  client/components/happychat/timeline.jsx
  client/components/happychat/title.jsx
  client/me/happychat/main.jsx
  client/package.json
  yarn.lock
Labels: Happychat, [Status] Needs Review, [Type] Janitorial

#51748 Fixes domain upsell step visibility bug
  client/lib/signup/step-actions/index.js
  client/lib/signup/test/mocks/signup/config/flows.js
  client/lib/signup/test/step-actions.js
Labels: Launch, [Status] Needs Review, [Type] Bug

#51777 chore: Update magellan-mocha-plugin to our repo rules
  .eslintrc.js
  packages/magellan-mocha-plugin/.eslintrc
  packages/magellan-mocha-plugin/.eslintrc.js
  packages/magellan-mocha-plugin/.gitignore
  packages/magellan-mocha-plugin/.travis.yml
  packages/magellan-mocha-plugin/README.md
  packages/magellan-mocha-plugin/index.js
  packages/magellan-mocha-plugin/lib/amend_node_config.js
  packages/magellan-mocha-plugin/lib/get_tests.js
  packages/magellan-mocha-plugin/lib/group_filter.js
  packages/magellan-mocha-plugin/lib/help.js
  packages/magellan-mocha-plugin/lib/locator.js
  packages/magellan-mocha-plugin/lib/profile.js
  packages/magellan-mocha-plugin/lib/settings.js
  packages/magellan-mocha-plugin/lib/single_test_filter.js
  packages/magellan-mocha-plugin/lib/suite_capture.js
  packages/magellan-mocha-plugin/lib/tag_filter.js
  packages/magellan-mocha-plugin/lib/test_capture.js
  packages/magellan-mocha-plugin/lib/test_run.js
  packages/magellan-mocha-plugin/package.json
  packages/magellan-mocha-plugin/test/amend_node_config.spec.js
  packages/magellan-mocha-plugin/test/get_suites.spec.js
  packages/magellan-mocha-plugin/test/get_tests.spec.js
  packages/magellan-mocha-plugin/test/group_filter.spec.js
  packages/magellan-mocha-plugin/test/locator.spec.js
  packages/magellan-mocha-plugin/test/profile.spec.js
  packages/magellan-mocha-plugin/test/settings.spec.js
  packages/magellan-mocha-plugin/test/single_test_filter.spec.js
  packages/magellan-mocha-plugin/test/tag_filter.spec.js
  packages/magellan-mocha-plugin/test/test_run.spec.js
  packages/magellan-mocha-plugin/test_support/grep/spec.js
  test/e2e/magellan-2fa.json
  test/e2e/magellan-canary.json
  test/e2e/magellan-i18n-nux.json
  test/e2e/magellan-i18n.json
  test/e2e/magellan-ie11-canary.json
  test/e2e/magellan-ie11.json
  test/e2e/magellan-jetpack-canary.json
  test/e2e/magellan-jetpack.json
  test/e2e/magellan-playwright.json
  test/e2e/magellan-safari-canary.json
  test/e2e/magellan.json
  test/e2e/package.json
  yarn.lock
Labels: [Status] Ready to Merge

#51779 chore: Update and monorepo magellan-mocha-plugin fork
  .eslintrc.js
  packages/magellan-mocha-plugin/.eslintrc.js
  packages/magellan-mocha-plugin/LICENSE
  packages/magellan-mocha-plugin/README.md
  packages/magellan-mocha-plugin/index.js
  packages/magellan-mocha-plugin/lib/amend_node_config.js
  packages/magellan-mocha-plugin/lib/get_tests.js
  packages/magellan-mocha-plugin/lib/group_filter.js
  packages/magellan-mocha-plugin/lib/help.js
  packages/magellan-mocha-plugin/lib/locator.js
  packages/magellan-mocha-plugin/lib/profile.js
  packages/magellan-mocha-plugin/lib/settings.js
  packages/magellan-mocha-plugin/lib/single_test_filter.js
  packages/magellan-mocha-plugin/lib/suite_capture.js
  packages/magellan-mocha-plugin/lib/tag_filter.js
  packages/magellan-mocha-plugin/lib/test_capture.js
  packages/magellan-mocha-plugin/lib/test_run.js
  packages/magellan-mocha-plugin/package.json
  packages/magellan-mocha-plugin/test/amend_node_config.spec.js
  packages/magellan-mocha-plugin/test/get_suites.spec.js
  packages/magellan-mocha-plugin/test/get_tests.spec.js
  packages/magellan-mocha-plugin/test/group_filter.spec.js
  packages/magellan-mocha-plugin/test/locator.spec.js
  packages/magellan-mocha-plugin/test/profile.spec.js
  packages/magellan-mocha-plugin/test/settings.spec.js
  packages/magellan-mocha-plugin/test/single_test_filter.spec.js
  packages/magellan-mocha-plugin/test/tag_filter.spec.js
  packages/magellan-mocha-plugin/test/test_run.spec.js
  packages/magellan-mocha-plugin/test_support/basic/spec.js
  packages/magellan-mocha-plugin/test_support/coffee/mocha.opts
  packages/magellan-mocha-plugin/test_support/coffee/spec.coffee
  packages/magellan-mocha-plugin/test_support/grep/mocha.opts
  packages/magellan-mocha-plugin/test_support/grep/spec.js
  packages/magellan-mocha-plugin/test_support/recursive/mocha.opts
  packages/magellan-mocha-plugin/test_support/recursive/nested/spec.js
  packages/magellan-mocha-plugin/test_support/recursive/spec.js
  packages/magellan-mocha-plugin/test_support/suite/spec.js
  test/e2e/magellan-2fa.json
  test/e2e/magellan-canary.json
  test/e2e/magellan-i18n-nux.json
  test/e2e/magellan-i18n.json
  test/e2e/magellan-ie11-canary.json
  test/e2e/magellan-ie11.json
  test/e2e/magellan-jetpack-canary.json
  test/e2e/magellan-jetpack.json
  test/e2e/magellan-playwright.json
  test/e2e/magellan-safari-canary.json
  test/e2e/magellan.json
  test/e2e/package.json
  yarn.lock
Labels: DO NOT MERGE, [Status] Needs Review

#51572 Plans Monthly toggle: use context in translations to force adverb form
  packages/plans-grid/src/plans-interval-toggle/index.tsx
Labels: Plans, [Pri] Normal, [Status] Needs Review, [Status] String Freeze, i18n

#51750 Nav Unification: Remove `from` query param
  client/layout/sidebar/item.jsx
  client/my-sites/sidebar/index.jsx
  client/state/data-layer/wpcom/sites/admin-menu/index.js
  client/state/data-layer/wpcom/sites/admin-menu/test/index.js
Labels: [Status] Needs Review

#51711 Adds persistence to sidebarIsCollapsed reducer.
  client/assets/stylesheets/_nav-unification.scss
  client/layout/index.jsx
  client/my-sites/sidebar-unified/collapse-sidebar.jsx
  client/my-sites/sidebar-unified/style.scss
  client/state/ui/reducer.js
Labels: [Status] Needs Review

#51766 Jetpack Cloud: Update Activity Log header
  client/my-sites/activity/activity-log-v2/index.tsx
Labels: Jetpack Cloud, [Status] Ready to Merge

#51141 Replace VideoPress JS player with iFrame
  client/post-editor/media-modal/detail/detail-preview-videopress.jsx
Labels: [Status] Needs Review

#51793 Docs: fix broken link
  docs/monorepo.md
Labels: Documentation, [Status] Ready to Merge

#51764 Jetpack Cloud: Update activity log upsell link
  client/my-sites/activity/activity-log-v2/index.tsx
Labels: Jetpack Cloud, [Status] Needs Review

#51661 Jetpack Plans: Use product tier prices from product catalog
  client/lib/products-values/constants.js
  client/lib/products-values/translations.js
  client/my-sites/plans/jetpack-plans/product-card/index.tsx
  client/my-sites/plans/jetpack-plans/use-item-price.ts
  client/my-sites/plans/jetpack-plans/utils.ts
  client/state/products-list/selectors/get-product-price-tiers.ts
  client/state/products-list/selectors/index.js
Labels: Plans, [Estimate] 3, [Status] Needs Review

#51756 chore: Update Node to 14.16.1
  .circleci/config.yml
  .github/workflows/editing-toolkit-plugin.yml
  .github/workflows/icfy-stats.yml
  .nvmrc
  Dockerfile
  Dockerfile.base
  desktop/Dockerfile
  package.json
  packages/wp-babel-makepot/Dockerfile
  test/e2e/docs/troubleshooting.md
Labels: [Status] Needs Review

#51776 Happychat: remove Lodash and functional
  client/components/happychat/functional.js
  client/components/happychat/timeline.jsx
Labels: Happychat, [Status] Needs Review, [Type] Janitorial

#51633 Design Picker: Cleanup after extraction to package
  client/landing/gutenboarding/index.tsx
  client/landing/gutenboarding/onboarding-block/colors.scss
  client/landing/gutenboarding/onboarding-block/designs/index.tsx
  client/landing/gutenboarding/onboarding-block/designs/style.scss
  client/landing/gutenboarding/onboarding-block/edit.tsx
  packages/design-picker/src/components/index.tsx
  packages/design-picker/src/index.ts
  packages/design-picker/src/types.ts
  packages/design-picker/src/utils/__tests__/available-designs.test.ts
  packages/design-picker/src/utils/available-designs.ts
  test/e2e/lib/flows/gutenboarding-flow.js
  test/e2e/lib/pages/gutenboarding/designs-page.js
  test/e2e/specs/wp-gutenboarding-spec.js
Labels: Design Picker, [Goal] New Onboarding, [Goal] Onboarding, [Status] Needs Review, [Status] Needs e2e Testing, [Tests] Includes Tests

#51784 Domains: Remove users from transfer types that don't need them
  client/my-sites/domains/domain-management/controller.jsx
Labels: Domains, [Status] Ready to Merge, [Type] Janitorial

#51781 Framework: Remove unnecessary bindActionCreators
  client/blocks/comments/comment-edit-form.jsx
  client/blocks/dismissible-card/docs/example.jsx
  client/components/data/query-posts/index.jsx
  client/components/data/query-reader-feed/index.jsx
  client/components/data/query-reader-list/index.jsx
  client/components/data/query-reader-lists/index.jsx
  client/components/data/query-reader-site/index.jsx
  client/components/data/query-reader-tag-images/index.jsx
  client/components/data/query-reader-thumbnails/index.jsx
  client/components/data/query-site-guided-transfer/index.jsx
  client/extensions/hello-dolly/hello-dolly-page.js
  client/my-sites/plugins/jetpack-plugins-setup/index.jsx
  client/my-sites/site-settings/jetpack-sync-panel/index.jsx
  client/my-sites/woocommerce/dashboard/required-plugins-install-view.jsx
Labels: Framework, [Status] Needs Review, [Type] Janitorial

#51782 Marketing: Fix keyring user label and port to react-query
  client/my-sites/marketing/connections/connection.jsx
Labels: Framework, Marketing, State, [Status] Needs Review, [Type] Bug, [Type] Enhancement

#51807 [Plans Interval Toggle]: Add text-domain to hasTranslation in the Plans Interval Toggle component
  packages/plans-grid/src/plans-interval-toggle/index.tsx
Labels: Plans, [Status] Needs Review, i18n

#51565 ExPlat: Add isEligible option to React Helpers
  packages/explat-client-react-helpers/CHANGELOG.md
  packages/explat-client-react-helpers/README.md
  packages/explat-client-react-helpers/src/index.tsx
  packages/explat-client-react-helpers/src/test/index.tsx
Labels: [Status] Needs Review

#51806 Focused Launch: remove sub-domain from suggestions
  packages/domain-picker/src/components/index.tsx
  packages/domain-picker/src/constants.ts
Labels: Focused Launch, [Status] Needs Review

#51677 Stats: Fix "Average Per Day" Calculation for Current Month
  client/state/selectors/test/get-site-stats-view-summary.js
  client/state/stats/lists/selectors.js
Labels: OSS Citizen, State, Stats, [Status] Ready to Merge

#51462 Anchor: Show 3 grid columns for onboarding designs at xlarge screen sizes
  packages/design-picker/src/components/style.scss
Labels: Anchor.FM, Design Picker

#51720 Top bar: Spacing tweaks to match front end
  client/assets/stylesheets/_nav-unification.scss
Labels: Navigation, [Status] Needs Review

#51501 Add "with-design-picker" onboarding flow
  client/lib/signup/step-actions/index.js
  client/signup/config/flows-pure.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/steps/design-picker/index.jsx
  client/signup/steps/design-picker/style.scss
  client/state/signup/dependency-store/schema.js
  client/state/signup/progress/actions.js
  packages/design-picker/src/components/index.tsx
Labels: Design Picker, Signup, [Goal] Onboarding, [Pri] High, [Status] Needs Review, [Status] Needs e2e Testing, [Status] String Freeze

#51798 create-calypso-config: Fix error string interpolation
  packages/create-calypso-config/src/index.ts
Labels: [Status] Ready to Merge

#51761 Partner Portal: Fix license list columns alignment
  client/jetpack-cloud/sections/partner-portal/license-list-item/style.scss
Labels: Jetpack Cloud, [Status] Needs Review

#51762 Partner Portal: Add an empty view for the license list
  client/jetpack-cloud/sections/partner-portal/license-list/empty.tsx
  client/jetpack-cloud/sections/partner-portal/license-list/header.tsx
  client/jetpack-cloud/sections/partner-portal/license-list/index.tsx
  client/jetpack-cloud/sections/partner-portal/license-list/style.scss
Labels: Jetpack Cloud, [Status] Needs Review

#51463 Checkout: Modify multiCardProcessor to use cart for creating transaction
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  client/my-sites/checkout/composite-checkout/lib/multi-partner-card-processor.ts
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
Labels: Checkout, [Estimate] 2, [Status] Ready to Merge

#51645 Payment Management: Convert PaymentMethodSelector processors to return explicit errors
  client/me/purchases/manage-purchase/payment-method-selector/assignment-processor-functions.ts
Labels: Billing, [Estimate] 1, [Status] Ready to Merge

#51465 Checkout: Modify applePayProcessor to use cart for creating transaction
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  client/my-sites/checkout/composite-checkout/lib/apple-pay-processor.ts
  client/my-sites/checkout/composite-checkout/payment-method-helpers.js
  client/my-sites/checkout/composite-checkout/payment-method-processors.js
Labels: Checkout, [Estimate] 1, [Status] Needs Review, [Status] Ready to Merge

#51836 Checkout: Fix missing domain_details for some payment processors
  client/my-sites/checkout/composite-checkout/lib/apple-pay-processor.ts
  client/my-sites/checkout/composite-checkout/lib/existing-card-processor.ts
  client/my-sites/checkout/composite-checkout/lib/multi-partner-card-processor.ts
Labels: Checkout, [Status] Needs Review, [Type] Bug

#51809 Domains: Remove UsersStore in favor of `react-query`
  client/components/data/domain-management/README.md
  client/components/data/domain-management/index.jsx
  client/components/data/store-connection/README.md
  client/components/data/store-connection/index.jsx
  client/my-sites/domains/domain-management/controller.jsx
  client/my-sites/domains/domain-management/transfer/transfer-to-other-user/index.jsx
Labels: Domains, Framework, [Status] Needs Review, [Type] Enhancement, [Type] Janitorial

#51841 people(team): use mutation to delete/remove users
  client/data/users/use-delete-user-mutation.js
  client/my-sites/people/delete-user/index.jsx
  client/my-sites/people/delete-user/with-delete-user.js
Labels: People Management, [Status] Needs Review

#51853 Button: fix borders of disabled scary buttons
  packages/components/src/button/docs/example.jsx
  packages/components/src/button/style.scss
Labels: Components, [Status] Needs Review

#50992 people(team): use queries to fetch users and mutations to update/delete/remove a user
  client/data/users/use-delete-user-mutation.js
  client/data/users/use-update-user-mutation.js
  client/data/users/use-user-query.js
  client/my-sites/people/contractor-select/index.tsx
  client/my-sites/people/delete-user/index.jsx
  client/my-sites/people/delete-user/with-delete-user.js
  client/my-sites/people/edit-team-member-form/edit-user-form.jsx
  client/my-sites/people/edit-team-member-form/index.jsx
  client/my-sites/people/edit-team-member-form/with-update-user.js
Labels: People Management, [Status] Needs Review

#51558 Hide Gutenframe while it's loading
  client/gutenberg/editor/calypsoify-iframe.tsx
Labels: Maintenance

#51855 Domains: Cleanup TransferToOtherUser component
  client/my-sites/domains/domain-management/transfer/transfer-to-other-user/index.jsx
Labels: Domains, [Status] Needs Review, [Type] Enhancement, [Type] Janitorial

#51856 Domains: Use destructured `selectedSite` prop in `TransferToOtherUser`
  client/components/data/domain-management/index.jsx
Labels: Domains, [Pri] Low, [Status] Needs Review, [Type] Janitorial

#51815 Jetpack Connect: show the user's email address when authorizing a connection
  client/jetpack-connect/authorize.js
  client/jetpack-connect/style.scss
  client/jetpack-connect/test/__snapshots__/authorize.js.snap
Labels: Jetpack, [Size] XS, [Status] Needs Review

#51839 Components: Fix optional prop types for Dialog and ButtonBar
  packages/components/src/dialog/button-bar.tsx
  packages/components/src/dialog/index.tsx
Labels: Components, [Status] Needs Review

#51717 reducer-utils: Add types
  client/state/action-types.ts
  client/state/utils/reducer-utils.ts
  client/state/utils/serialize.ts
Labels: State, [Status] Needs Review, [Type] Janitorial

#51667 Checkout: Move Apple Pay payment method to wpcom-checkout
  client/my-sites/checkout/composite-checkout/hooks/use-create-payment-methods/index.ts
  packages/calypso-stripe/src/index.tsx
  packages/composite-checkout/README.md
  packages/composite-checkout/demo/index.js
  packages/composite-checkout/src/public-api.ts
  packages/composite-checkout/src/types.ts
  packages/wpcom-checkout/package.json
  packages/wpcom-checkout/src/index.ts
  packages/wpcom-checkout/src/payment-method-logos.ts
  packages/wpcom-checkout/src/payment-methods/apple-pay.tsx
  packages/wpcom-checkout/src/payment-request-button.tsx
Labels: Checkout, [Estimate] 1, [Status] Ready to Merge

#51653 Checkout: Replace url module in payPalProcessor with native JS
  client/my-sites/checkout/composite-checkout/lib/paypal-express-processor.ts
Labels: Checkout, [Estimate] 1, [Status] Ready to Merge

#51741 Focused Launch success view: fix CTA rendering conditions
  packages/data-stores/src/launch/selectors.ts
  packages/launch/src/focused-launch/index.tsx
  packages/launch/src/focused-launch/success/index.tsx
  packages/launch/src/focused-launch/summary/index.tsx
  packages/launch/src/hooks/index.ts
  packages/launch/src/hooks/use-cart.ts
  packages/launch/src/hooks/use-has-ecommerce-plan.ts
Labels: Editing Toolkit, Focused Launch, [Pri] Normal, [Status] Needs Review

#51466 Checkout: Remove unused line item conversion functions
  client/my-sites/checkout/composite-checkout/lib/translate-cart.ts
  client/my-sites/checkout/composite-checkout/test/translate-cart.js
  client/my-sites/checkout/composite-checkout/types/checkout-cart.ts
  client/my-sites/checkout/composite-checkout/types/transaction-endpoint.ts
Labels: Checkout, [Estimate] 1, [Status] Ready to Merge

#51840 Checkout: Convert one-click upsell PurchaseModal to TypeScript
  client/my-sites/checkout/upsell-nudge/purchase-modal/index.tsx
Labels: Post Checkout, [Status] Ready to Merge

#51642 Domains: Remove addPersonalPlan from DomainSearch page
  client/my-sites/domains/domain-search/index.jsx
Labels: Domains, [Estimate] 1, [Status] Ready to Merge

#51837 Checkout: add unit tests for payment processors
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  client/my-sites/checkout/composite-checkout/lib/apple-pay-processor.ts
  client/my-sites/checkout/composite-checkout/lib/existing-card-processor.ts
  client/my-sites/checkout/composite-checkout/lib/free-purchase-processor.ts
  client/my-sites/checkout/composite-checkout/lib/full-credits-processor.ts
  client/my-sites/checkout/composite-checkout/lib/generic-redirect-processor.ts
  client/my-sites/checkout/composite-checkout/lib/get-domain-details.ts
  client/my-sites/checkout/composite-checkout/lib/get-postal-code.ts
  client/my-sites/checkout/composite-checkout/lib/multi-partner-card-processor.ts
  client/my-sites/checkout/composite-checkout/lib/paypal-express-processor.ts
  client/my-sites/checkout/composite-checkout/lib/we-chat-processor.ts
  client/my-sites/checkout/composite-checkout/test/apple-pay-processor.ts
  client/my-sites/checkout/composite-checkout/test/existing-card-processor.ts
  client/my-sites/checkout/composite-checkout/test/free-purchase-processor.ts
  client/my-sites/checkout/composite-checkout/test/full-credits-processor.ts
  client/my-sites/checkout/composite-checkout/test/generic-redirect-processor.ts
  client/my-sites/checkout/composite-checkout/test/multi-partner-card-processor.ts
  client/my-sites/checkout/composite-checkout/test/paypal-express-processor.ts
  client/my-sites/checkout/composite-checkout/test/we-chat-processor.ts
  client/my-sites/checkout/composite-checkout/types/payment-processors.ts
  client/my-sites/checkout/upsell-nudge/purchase-modal/index.tsx
  packages/shopping-cart/README.md
  packages/shopping-cart/src/empty-carts.ts
  packages/shopping-cart/src/index.ts
Labels: [Estimate] 4, [Status] Ready to Merge

#51871 FSE: bring back Seedlet Blocks to the onboarding flow
  packages/design-picker/src/available-designs-config.json
Labels: [Goal] Full Site Editing, [Status] Needs Review

#51696 Fix stats/store tab for jetpack connected sites
  client/extensions/woocommerce/index.js
Labels: [Status] Needs Review, [Type] Bug

#51655 Checkout: Move checkout types to wpcom-checkout package
  client/lib/domains/cart-utils.js
  client/my-sites/checkout/composite-checkout/components/contact-details-container.tsx
  client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx
  client/my-sites/checkout/composite-checkout/components/tax-fields.tsx
  client/my-sites/checkout/composite-checkout/components/wp-checkout.tsx
  client/my-sites/checkout/composite-checkout/components/wp-contact-form.tsx
  client/my-sites/checkout/composite-checkout/composite-checkout.tsx
  client/my-sites/checkout/composite-checkout/hooks/use-create-payment-complete-callback.tsx
  client/my-sites/checkout/composite-checkout/hooks/use-get-thank-you-url/index.tsx
  client/my-sites/checkout/composite-checkout/hooks/wpcom-store.ts
  client/my-sites/checkout/composite-checkout/lib/analytics.ts
  client/my-sites/checkout/composite-checkout/lib/existing-card-processor.ts
  client/my-sites/checkout/composite-checkout/lib/filter-appropriate-payment-methods.ts
  client/my-sites/checkout/composite-checkout/lib/free-purchase-processor.ts
  client/my-sites/checkout/composite-checkout/lib/full-credits-processor.ts
  client/my-sites/checkout/composite-checkout/lib/generic-redirect-processor.ts
  client/my-sites/checkout/composite-checkout/lib/get-contact-details-type.ts
  client/my-sites/checkout/composite-checkout/lib/get-domain-details.ts
  client/my-sites/checkout/composite-checkout/lib/get-postal-code.ts
  client/my-sites/checkout/composite-checkout/lib/is-payment-method-enabled.ts
  client/my-sites/checkout/composite-checkout/lib/normalize-transaction-response.ts
  client/my-sites/checkout/composite-checkout/lib/paypal-express-processor.ts
  client/my-sites/checkout/composite-checkout/lib/prepare-redirect-transaction.ts
  client/my-sites/checkout/composite-checkout/lib/submit-wpcom-transaction.ts
  client/my-sites/checkout/composite-checkout/lib/translate-cart.ts
  client/my-sites/checkout/composite-checkout/lib/translate-payment-method-names.ts
  client/my-sites/checkout/composite-checkout/lib/we-chat-processor.ts
  client/my-sites/checkout/composite-checkout/test/wpcom-store-state.ts
  client/my-sites/checkout/composite-checkout/types/backend/domain-contact-details-components.ts
  client/my-sites/checkout/composite-checkout/types/backend/domain-contact-validation-endpoint.ts
  client/my-sites/checkout/composite-checkout/types/backend/payment-method.ts
  client/my-sites/checkout/composite-checkout/types/backend/signup-validation-endpoint.ts
  client/my-sites/checkout/composite-checkout/types/checkout-cart.ts
  client/my-sites/checkout/composite-checkout/types/checkout-payment-method-slug.ts
  client/my-sites/checkout/composite-checkout/types/contact-details.ts
  client/my-sites/checkout/composite-checkout/types/paypal-express.ts
  client/my-sites/checkout/composite-checkout/types/transaction-endpoint.ts
  client/my-sites/checkout/composite-checkout/types/wpcom-store-state.ts
  client/state/selectors/get-contact-details-cache.js
  packages/wpcom-checkout/src/index.ts
  packages/wpcom-checkout/src/types.ts
Labels: Checkout, [Estimate] 2, [Status] Ready to Merge

#51801 Event Countdown Block: Update date picker button to use secondary sty…
  apps/editing-toolkit/editing-toolkit-plugin/event-countdown-block/blocks/src/edit.js
Labels: [Status] Ready to Merge

#51803 chore: Update all @types/ packages
  yarn.lock
Labels: [Status] Needs Review

#51876 Event Countdown Block: Remove button classname from date picker button to fix CSS clashes
  apps/editing-toolkit/editing-toolkit-plugin/event-countdown-block/blocks/src/edit.js
Labels: [Status] Needs Review, [Type] Bug

#51621 E2E: Experimental editor init switch speed up.
  test/e2e/lib/gutenberg/gutenberg-editor-component.js
Labels: [Status] Needs e2e Testing

#51734 Rollout plans redesign to all locales, desktop viewports only
  client/my-sites/plan-features-comparison/actions.jsx
  client/my-sites/plan-features-comparison/header.jsx
  client/my-sites/plan-features-comparison/index.jsx
  client/my-sites/plan-features-comparison/style.scss
  client/my-sites/plans-features-main/index.jsx
  client/signup/steps/plans/index.jsx
Labels: Plans, Signup, [Status] Needs Review

#51812 Stats: Posting Activity - Remove Moment Usage
  client/state/stats/lists/selectors.js
Labels: OSS Citizen, State, Stats, [Status] Needs Review, [Type] Enhancement

#51861 TransferToOtherUser: some additional cleanups
  client/my-sites/domains/domain-management/transfer/transfer-to-other-user/index.jsx
Labels: [Status] Needs Review, [Type] Janitorial

#51892 ci: Run TeamCity e2e tests in trunk
  .teamcity/_self/projects/WebApp.kt
Labels: [Status] Needs Review

#51289 Partner Portal: Add a Terms of Service consent gate to access the portal
  client/components/data/query-jetpack-partner-portal-partner/index.js
  client/jetpack-cloud/sections/partner-portal/controller.tsx
  client/jetpack-cloud/sections/partner-portal/hooks.ts
  client/jetpack-cloud/sections/partner-portal/index.ts
  client/jetpack-cloud/sections/partner-portal/primary/partner-access/index.tsx
  client/jetpack-cloud/sections/partner-portal/primary/select-partner-key/index.tsx
  client/jetpack-cloud/sections/partner-portal/primary/select-partner-key/style.scss
  client/jetpack-cloud/sections/partner-portal/primary/terms-of-service-consent/index.tsx
  client/jetpack-cloud/sections/partner-portal/primary/terms-of-service-consent/style.scss
  client/jetpack-cloud/sections/partner-portal/utils.ts
  client/state/partner-portal/licenses/hooks/use-tos-consent-mutation.ts
  client/state/partner-portal/licenses/test/hooks.js
  client/state/partner-portal/partner/handlers.ts
  client/state/partner-portal/types.ts
Labels: Jetpack Cloud, [Status] Needs Review

#51889 withEnhancers: support nested thunks
  client/state/test/utils.js
  client/state/test/with-enhancers.js
  client/state/utils/with-enhancers.js
Labels: State, [Status] Needs Review

#51897 Remove Lodash from analytics middleware
  client/state/analytics/middleware.js
Labels: [Status] Needs Review, [Type] Janitorial

#51898 Fix failing e2e for the signup plans redesign rollout
  test/e2e/lib/pages/signup/pick-a-plan-page.js
Labels: [Status] Needs Review, [Status] Needs e2e Testing

#51773 Plans: Move all Jetpack constants into lib/plans
  client/blocks/product-plan-overlap-notices/README.md
  client/blocks/product-plan-overlap-notices/docs/example.jsx
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/jetpack-connect/controller.js
  client/jetpack-connect/flow-types.js
  client/jetpack-connect/main-header.jsx
  client/lib/cart-values/test/cart-items.js
  client/lib/plans/constants.js
  client/lib/plans/index.js
  client/lib/products-values/constants.js
  client/lib/products-values/get-products-slugs.js
  client/lib/products-values/is-jetpack-anti-spam-slug.js
  client/lib/products-values/is-jetpack-backup-slug.js
  client/lib/products-values/is-jetpack-cloud-product-slug.js
  client/lib/products-values/is-jetpack-product-slug.js
  client/lib/products-values/is-jetpack-scan-slug.js
  client/lib/products-values/is-jetpack-search.js
  client/lib/products-values/is-traffic-guide.js
  client/lib/products-values/products-list.ts
  client/lib/products-values/test/index.js
  client/lib/products-values/translations.js
  client/lib/products-values/types.ts
  client/me/purchases/manage-purchase/index.jsx
  client/me/purchases/purchases-site/index.jsx
  client/my-sites/checkout/composite-checkout/hooks/use-get-thank-you-url/get-thank-you-page-url.ts
  client/my-sites/checkout/composite-checkout/hooks/use-prepare-products-for-cart.ts
  client/my-sites/marketing/ultimate-traffic-guide/index.js
  client/my-sites/plan-price-free/index.tsx
  client/my-sites/plans-features-main/index.jsx
  client/my-sites/plans/current-plan/index.jsx
  client/my-sites/plans/current-plan/jetpack-checklist/index.tsx
  client/my-sites/plans/current-plan/purchases-listing.jsx
  client/my-sites/plans/jetpack-plans/constants.ts
  client/my-sites/plans/jetpack-plans/plans-filter-bar/index.tsx
  client/my-sites/plans/jetpack-plans/plans-header.tsx
  client/my-sites/plans/jetpack-plans/product-card/index.tsx
  client/my-sites/plans/jetpack-plans/product-grid/products-order.ts
  client/my-sites/plans/jetpack-plans/use-get-plans-grid-products.ts
  client/my-sites/plans/jetpack-plans/use-item-price.ts
  client/my-sites/plans/jetpack-plans/utils.ts
  client/my-sites/purchase-product/controller.js
  client/my-sites/site-settings/search.jsx
  client/my-sites/site-settings/spam-filtering-settings.jsx
  client/state/selectors/site-supports-realtime-backup.js
  client/state/selectors/test/site-supports-realtime-backup.js
  client/state/sites/products/conflicts.ts
Labels: [Estimate] 1, [Status] Ready to Merge

#51872 Jetpack Plans Page: Fix incorrect rendered price
  client/components/jetpack/card/jetpack-product-card/index.tsx
Labels: Jetpack, Plans, [Status] Needs Review

#51895 Framework: Refactor away from `_.curry()` and others
  client/state/analytics/actions/with-analytics.js
Labels: Analytics, Framework, State, [Status] Needs Review, [Type] Enhancement

#51877 Remove calypso/signup/pageLoad recaptcha action
  client/landing/gutenboarding/components/signup-form/index.tsx
  client/landing/gutenboarding/lib/analytics/recaptcha.ts
  client/lib/analytics/recaptcha.js
  client/signup/recaptcha/index.jsx
  client/signup/steps/user/index.jsx
Labels: Signup, [Status] Needs Review

#51851 Welcome guide: Show tooltips for welcome guide buttons
  apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/welcome-tour/tour-card.js
Labels: Editor Welcome, [Status] Needs Review

#51911 chore(renovate): Add a group to update eslint packages in the same PR
  renovate.json
Labels: [Status] Needs Review

#51261 Gutenboarding: Use long mshots previews
  packages/design-picker/src/components/index.tsx
  packages/design-picker/src/components/mshots-image/index.tsx
  packages/design-picker/src/components/mshots-image/style.scss
  packages/design-picker/src/components/style.scss
  packages/design-picker/src/utils/available-designs.ts
Labels: Design Picker, [Status] In Progress, [Status] Needs Design, [Status] Needs Review

#51531 Add insert_method prop to block insertion track events
  apps/wpcom-block-editor/src/wpcom/features/tracking.js
Labels: Editor, [Status] Needs Review
